BODY {
	BACKGROUND: #fff; COLOR: #222
}
A {
	COLOR: #222
}
A:hover {
	COLOR: #5f6069
}
#logostrip {
	BACKGROUND: #303b4a
}
#gfooter {
	BACKGROUND: #3b424c; COLOR: #fff
}
#gfooter A:link {
	COLOR: #fff
}
#gfooter A:visited {
	COLOR: #fff
}
#submenu {
	BACKGROUND: #979ba0; COLOR: #31363d
}
#submenu A {
	COLOR: #31363d
}
#submenu A:hover {
	COLOR: #1a1b1c; BACKGROUND-COLOR: #c5c7ca
}
#navstrip {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #999
}
#navstrip A:link {
	COLOR: #222
}
#navstrip A:visited {
	COLOR: #222
}
#navstrip A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #5176b5
}
#navstrip A:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #5176b5
}
#userlinks {
	BACKGROUND: #e4e9f0; BORDER-BOTTOM: #ced5e0 1px solid
}
#userlinksguest {
	BACKGROUND: #f1dada; BORDER-BOTTOM: #d1a9a9 1px solid
}
.pagecurrent {
	BACKGROUND: #7d838c; COLOR: #fff
}
.input-warn {
	BORDER-RIGHT: #6a7382 1px solid; BORDER-TOP: #6a7382 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6a7382 1px solid; COLOR: #000; BORDER-BOTTOM: #6a7382 1px solid
}
.input-green {
	BORDER-RIGHT: #6a7382 1px solid; BORDER-TOP: #6a7382 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6a7382 1px solid; COLOR: #000; BORDER-BOTTOM: #6a7382 1px solid
}
.input-checkbox {
	BORDER-RIGHT: #6a7382 1px solid; BORDER-TOP: #6a7382 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6a7382 1px solid; COLOR: #000; BORDER-BOTTOM: #6a7382 1px solid
}
INPUT {
	BORDER-RIGHT: #6a7382 1px solid; BORDER-TOP: #6a7382 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6a7382 1px solid; COLOR: #000; BORDER-BOTTOM: #6a7382 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #6a7382 1px solid; BORDER-TOP: #6a7382 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6a7382 1px solid; COLOR: #000; BORDER-BOTTOM: #6a7382 1px solid
}
SELECT {
	BORDER-RIGHT: #6a7382 1px solid; BORDER-TOP: #6a7382 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6a7382 1px solid; COLOR: #000; BORDER-BOTTOM: #6a7382 1px solid
}
.textarea {
	BORDER-RIGHT: #6a7382 1px solid; BORDER-TOP: #6a7382 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6a7382 1px solid; COLOR: #000; BORDER-BOTTOM: #6a7382 1px solid
}
.searchinput {
	BORDER-RIGHT: #6a7382 1px solid; BORDER-TOP: #6a7382 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6a7382 1px solid; COLOR: #000; BORDER-BOTTOM: #6a7382 1px solid
}
.button {
	BORDER-RIGHT: #6a7382 1px solid; BORDER-TOP: #6a7382 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6a7382 1px solid; COLOR: #000; BORDER-BOTTOM: #6a7382 1px solid
}
.gobutton {
	BORDER-RIGHT: #6a7382 1px solid; BORDER-TOP: #6a7382 1px solid; BACKGROUND: #fff; BORDER-LEFT: #6a7382 1px solid; COLOR: #000; BORDER-BOTTOM: #6a7382 1px solid
}
.button {
	BACKGROUND: #dfe6ef
}
.borderwrap {
	BORDER-RIGHT: #c4c4c4 1px solid; BORDER-TOP: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid; BORDER-BOTTOM: #c4c4c4 1px solid
}
.borderwrapm {
	BORDER-RIGHT: #959595 1px solid; BORDER-TOP: #959595 1px solid; BORDER-LEFT: #959595 1px solid; BORDER-BOTTOM: #959595 1px solid
}
.borderwrap H3 {
	BACKGROUND: #303b4a; COLOR: #fff
}
.maintitle {
	BACKGROUND: #303b4a; COLOR: #fff
}
.maintitlecollapse {
	BACKGROUND: #303b4a; COLOR: #fff
}
.maintitle TD {
	COLOR: #fff
}
.maintitle A:link {
	COLOR: #fff
}
.maintitle A:visited {
	COLOR: #fff
}
.maintitlecollapse A:link {
	COLOR: #fff
}
.maintitlecollapse A:visited {
	COLOR: #fff
}
.maintitle A:hover {
	COLOR: #e9eef4; BORDER-BOTTOM: #e9eef4 1px solid
}
.maintitle A:active {
	COLOR: #e9eef4; BORDER-BOTTOM: #e9eef4 1px solid
}
.maintitlecollapse A:hover {
	COLOR: #e9eef4; BORDER-BOTTOM: #e9eef4 1px solid
}
.maintitlecollapse A:active {
	COLOR: #e9eef4; BORDER-BOTTOM: #e9eef4 1px solid
}
.maintitle P.expand A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.maintitle P.goto A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.maintitlecollapse P.expand A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.catend {
	BACKGROUND: #656f7b; COLOR: #000
}
TABLE TH {
	BACKGROUND: #ced7e5; COLOR: #464c55; BORDER-BOTTOM: #9aa4b1 1px solid
}
.borderwrap TABLE TH {
	BACKGROUND: #ced7e5; COLOR: #464c55; BORDER-BOTTOM: #9aa4b1 1px solid
}
.subtitle {
	BACKGROUND: #ced7e5; COLOR: #464c55; BORDER-BOTTOM: #9aa4b1 1px solid
}
.subtitlediv {
	BACKGROUND: #ced7e5; COLOR: #464c55; BORDER-BOTTOM: #9aa4b1 1px solid
}
.postlinksbar {
	BACKGROUND: #ced7e5; COLOR: #464c55; BORDER-BOTTOM: #9aa4b1 1px solid
}
#redirectwrap H4 {
	BACKGROUND: #ced7e5; COLOR: #464c55; BORDER-BOTTOM: #9aa4b1 1px solid
}
.borderwrap TABLE TH A {
	COLOR: #464c55; BORDER-BOTTOM: #464c55 1px dotted
}
.subtitle A {
	COLOR: #464c55; BORDER-BOTTOM: #464c55 1px dotted
}
.subtitlediv A {
	COLOR: #464c55; BORDER-BOTTOM: #464c55 1px dotted
}
.borderwrap TABLE TH A:hover {
	BORDER-BOTTOM: #464c55 1px solid
}
.subtitle A:hover {
	BORDER-BOTTOM: #464c55 1px solid
}
.subtitlediv A:hover {
	BORDER-BOTTOM: #464c55 1px solid
}
.borderwrap TABLE TH {
	BORDER-RIGHT: #b0bbcd 1px dotted
}
.row1 {
	BACKGROUND: #e4e6e9
}
.gal_curr {
	BACKGROUND: #e4e6e9
}
.row2 {
	BACKGROUND: #eff1f3
}
.gal_noncurr {
	BACKGROUND: #eff1f3
}
.ipbtable .row1 {
	BORDER-BOTTOM: #dcdcdc 1px solid
}
.ipbtable .row2 {
	BORDER-BOTTOM: #dcdcdc 1px solid
}
.gal_curr {
	BORDER-RIGHT: #dcdcdc 1px solid
}
.gal_noncurr {
	BORDER-RIGHT: #dcdcdc 1px solid
}
.darkrow1 {
	BORDER-TOP: #a8b1bd 1px solid; BACKGROUND: #c6ccd4; COLOR: #404957
}
.darkrow3 {
	BORDER-TOP: #a8b1bd 1px solid; BACKGROUND: #c6ccd4; COLOR: #404957
}
.formtable TD {
	BACKGROUND: #f5f9fd; BORDER-BOTTOM: #dcdcdc 1px solid
}
.pformleft {
	BACKGROUND: #f5f9fd; BORDER-BOTTOM: #dcdcdc 1px solid
}
.pformleftw {
	BACKGROUND: #f5f9fd; BORDER-BOTTOM: #dcdcdc 1px solid
}
.pformright {
	BACKGROUND: #f5f9fd; BORDER-BOTTOM: #dcdcdc 1px solid
}
.pformleft {
	BACKGROUND-COLOR: #e4e6e9
}
.pformleftw {
	BACKGROUND-COLOR: #e4e6e9
}
.pformright {
	BACKGROUND-COLOR: #eff1f3
}
.post_head {
	BACKGROUND: #cfd6e1; COLOR: #464c55
}
.post1 {
	BACKGROUND: #f0f0f0
}
.bg1 {
	BACKGROUND: #f0f0f0
}
.post2 {
	BACKGROUND: #eff1f3
}
.bg3 {
	BACKGROUND: #eff1f3
}
.post_left {
	BACKGROUND-COLOR: #e7eaef
}
.post_left {
	BACKGROUND-COLOR: #e7eaef
}
TD.formbuttonrow {
	BORDER-TOP: #a8b1bd 1px solid; BACKGROUND: #c6ccd4; COLOR: #404957
}
.formbuttonrow {
	BORDER-TOP: #a8b1bd 1px solid; BACKGROUND: #c6ccd4; COLOR: #404957
}
.pformstrip {
	BORDER-TOP: #a8b1bd 1px solid; BACKGROUND: #c6ccd4; COLOR: #404957
}
.borderwrap P.formbuttonrow {
	BORDER-TOP: #a8b1bd 1px solid; BACKGROUND: #c6ccd4; COLOR: #404957
}
.borderwrap P.formbuttonrow1 {
	BORDER-TOP: #a8b1bd 1px solid; BACKGROUND: #c6ccd4; COLOR: #404957
}
#redirectwrap P.redirectfoot {
	BORDER-TOP: #a8b1bd 1px solid; BACKGROUND: #c6ccd4; COLOR: #404957
}
.bar {
	BACKGROUND: #dfe6ef; COLOR: #222
}
.barb {
	BACKGROUND: #dfe6ef; COLOR: #222
}
.barc {
	BACKGROUND: #dfe6ef; COLOR: #222
}
.tabon {
	BORDER-LEFT-COLOR: #262d35; BORDER-BOTTOM-COLOR: #262d35; COLOR: #ffffff; BORDER-TOP-COLOR: #262d35; BACKGROUND-COLOR: #303b4a; BORDER-RIGHT-COLOR: #262d35
}
.pp-tabon {
	BORDER-LEFT-COLOR: #262d35; BORDER-BOTTOM-COLOR: #262d35; COLOR: #ffffff; BORDER-TOP-COLOR: #262d35; BACKGROUND-COLOR: #303b4a; BORDER-RIGHT-COLOR: #262d35
}
.tabon A {
	COLOR: #ffffff! important
}
.pp-tabon A {
	COLOR: #ffffff! important
}
.taboff {
	BORDER-LEFT-COLOR: #939fae; BORDER-BOTTOM-COLOR: #939fae; COLOR: #2d2d2d; BORDER-TOP-COLOR: #939fae; BACKGROUND-COLOR: #b4c1d3; BORDER-RIGHT-COLOR: #939fae
}
.pp-taboff {
	BORDER-LEFT-COLOR: #939fae; BORDER-BOTTOM-COLOR: #939fae; COLOR: #2d2d2d; BORDER-TOP-COLOR: #939fae; BACKGROUND-COLOR: #b4c1d3; BORDER-RIGHT-COLOR: #939fae
}
.pp-tabshaded {
	BORDER-LEFT-COLOR: #939fae; BORDER-BOTTOM-COLOR: #939fae; COLOR: #2d2d2d; BORDER-TOP-COLOR: #939fae; BACKGROUND-COLOR: #b4c1d3; BORDER-RIGHT-COLOR: #939fae
}
.taboff A {
	COLOR: #2d2d2d
}
.pp-taboff A {
	COLOR: #2d2d2d
}
.pp-tabshaded A {
	COLOR: #2d2d2d
}
.pp-tabclear {
	BACKGROUND: #303b4a; COLOR: #fff
}
.pp-maintitle {
	BACKGROUND: #303b4a; COLOR: #fff
}
.popmenubutton-new-out {
	BORDER-RIGHT: #a9b0bb 1px solid; BORDER-TOP: #a9b0bb 1px solid; BORDER-LEFT: #a9b0bb 1px solid; BORDER-BOTTOM: #a9b0bb 1px solid; BACKGROUND-COLOR: #dce1e8
}
.popmenubutton A {
	COLOR: #30343b! important
}
.popmenubutton-new A {
	COLOR: #30343b! important
}
.popmenubutton-new-out A {
	COLOR: #30343b! important
}
.popupmenu-item A {
	COLOR: #30343b! important
}
.popupmenu-item-last A {
	COLOR: #30343b! important
}
.popmenubutton A:hover {
	COLOR: #5f7186
}
.popmenubutton-new A:hover {
	COLOR: #5f7186
}
.popupmenu-item A:hover {
	COLOR: #5f7186
}
.popupmenu-item-last A:hover {
	COLOR: #5f7186
}
.desc {
	COLOR: #434951
}
.lastaction {
	COLOR: #434951
}
.newslink SPAN {
	COLOR: #072a66
}
.newslink INPUT {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BACKGROUND: #fff; BORDER-LEFT: #999 1px solid; COLOR: #072a66; BORDER-BOTTOM: #999 1px solid
}
.fauxbutton {
	BORDER-RIGHT: #6a7382 1px solid; BORDER-TOP: #6a7382 1px solid; BACKGROUND: #dfe6ef; BORDER-LEFT: #6a7382 1px solid; BORDER-BOTTOM: #6a7382 1px solid
}
.fauxbutton A:link {
	COLOR: #222! important
}
.fauxbutton A:visited {
	COLOR: #222! important
}
.fauxbutton A:active {
	COLOR: #222! important
}
.gallery_block {
	BACKGROUND-COLOR: #e6e6e6
}
.gal_cat A {
	BORDER-BOTTOM: #fff 1px dotted
}
.thumbwrap P {
	BACKGROUND: #e4e6e9
}
.thumbwrapp P {
	BACKGROUND: #e4e6e9
}
.thumbwrap P.alt {
	BACKGROUND: #eff1f3
}
.thumbwrapp P.alt {
	BACKGROUND: #eff1f3
}
