/* Style sheet for ch09_eg01.html */

body {
   color:#000000;
   background-color:#ffffff;
   font-family:arial, verdana, sans-serif; }

h1 {font-size:18pt;}

p {font-size:12pt;}

table {
   background-color:#efefef;
   border-style:solid;
   border-width:1px;
   border-color:#999999;}

th {
   background-color:#cccccc;
   font-weight:bold;
   padding:5px;}

td {padding:5px;}

td.code {
   font-family:courier, courier-new, serif;
   font-weight:bold;}