/* Style sheet for ch09_eg18.html */

body {
   color:#000000;
   background-color:#ffffff;
   font-family:arial, verdana, sans-serif; 
   font-size:12px;}

p.pageOne:first-letter {font-size:42px; width:200px;}
p.pageOne:first-line {font-weight:bold;}
