/* Style sheet for boxModel illustration  */

body {
   color:#000000;
   background-color:#ffffff;
   font-family:arial, verdana, sans-serif; 
   font-size:12px;}

body, h1, p, img, b {border-style:solid; border-width:2px; border-color:#000000; padding:2px;}

h1, b {background-color:#cccccc;}