/* Style sheet for ch09_eg12.html */

body {
   color:#000000;
   background-color:#ffffff;
   font-family:arial, verdana, sans-serif; 
   font-size:12px;}

.dropShadow { text-shadow: 0.3em 0.3em 0.5em black; color:#ffffff;}