BODY {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; PADDING-LEFT: 0px; FONT-SIZE: small; BACKGROUND-IMAGE: url(images/bg.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; LINE-HEIGHT: 140%; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #707070
}
#wrap {
	MARGIN: 0px auto; WIDTH: 750px
}
#main {
	OVERFLOW: hidden
}
#content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 3px; FLOAT: left; WIDTH: 533px
}
#sidebar {
	FONT-SIZE: 11px; FLOAT: right; WIDTH: 200px
}
#footer {
	CLEAR: both; TEXT-ALIGN: center
}
#header {
	BACKGROUND-POSITION: center 50%; MARGIN-TOP: 0px; BACKGROUND-IMAGE: url(images/header-copy.jpg); BACKGROUND-REPEAT: no-repeat; HEIGHT: 100px
}
H1#blogname {
	PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; PADDING-TOP: 40px
}
#header H1 A {
	FONT-SIZE: 200%; COLOR: #ff8c00; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.description {
	PADDING-LEFT: 20px; COLOR: #ffffff
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ff8c00; PADDING-TOP: 0px; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ff8c00; PADDING-TOP: 0px; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ff8c00; PADDING-TOP: 0px; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.entrytitle {
	PADDING-BOTTOM: 5px
}
.entrytitle H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
H3.entrytitle A {
	COLOR: #ff8c00
}
.entrybody H3 {
	FONT-SIZE: 100%
}
.entrybody H2 {
	FONT-SIZE: 100%
}
.entrymeta {
	FONT-WEIGHT: normal; FONT-SIZE: 78%; TEXT-TRANSFORM: uppercase; COLOR: #999999; FONT-FAMILY: "Trebuchet MS", Trebuchet, Arial, Verdana, Sans-serif
}
.entrydate {
	FONT-WEIGHT: normal; FONT-SIZE: 78%; TEXT-TRANSFORM: uppercase; COLOR: #999999; FONT-FAMILY: "Trebuchet MS", Trebuchet, Arial, Verdana, Sans-serif
}
P {
	FONT-SIZE: 85%; MARGIN-BOTTOM: 15px
}
A {
	COLOR: #ff8c00; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ff8c00; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
#sidebar H2 {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #ff8c00 5px solid; COLOR: #ffffff; PADDING-TOP: 1px; BACKGROUND-COLOR: #bbb
}
#sidebar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#sidebar UL UL {
	MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#sidebar UL UL UL {
	
}
#sidebar UL LI {
	
}
#sidebar UL UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
#sidebar UL UL UL LI {
	
}
#sidebar A {
	COLOR: #ff8c00
}
.entry {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 1px solid
}
.firstpost {
	
}
.firstpost H3 {
	FONT-SIZE: 140%; COLOR: #ff8c00
}
.arc H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 140%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.arc {
	PADDING-RIGHT: 20px; PADDING-LEFT: 10px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
#searchdiv {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; MARGIN-BOTTOM: 10px
}
BLOCKQUOTE P {
	PADDING-LEFT: 5px; BORDER-LEFT: #cccccc 3px solid; FONT-STYLE: italic
}
P.comments_link IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL#commentlist {
	
}
#commentblock {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#commentlist LI P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ddd
}
