BODY {
	PADDING-LEFT: 5px; MARGIN: 1em; LINE-HEIGHT: 140%; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif
}
P {
	PADDING-LEFT: 5px; LINE-HEIGHT: 160%; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif
}
CODE {
	PADDING-LEFT: 5px; FONT-FAMILY: "Courier New", Courier, Monaco, monospace
}
H1 {
	PADDING-LEFT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif
}
H2 {
	PADDING-LEFT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif
}
H3 {
	PADDING-LEFT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif
}
H4 {
	PADDING-LEFT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif
}
H5 {
	PADDING-LEFT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif
}
H6 {
	PADDING-LEFT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif
}
PRE {
	PADDING-LEFT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif
}
LI {
	PADDING-LEFT: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif
}
H1 {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 180%; LINE-HEIGHT: 140%
}
H2 {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 150%; LINE-HEIGHT: 140%
}
H3 {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 120%; LINE-HEIGHT: 140%
}
H4 {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 100%; LINE-HEIGHT: 140%
}
#menubar {
	LEFT: 1em; WIDTH: 12em; POSITION: absolute; TOP: 1em; BACKGROUND-COLOR: #ccffff; TEXT-ALIGN: left
}
#content {
	PADDING-RIGHT: 1em; PADDING-LEFT: 5px; LEFT: 13em; POSITION: absolute; TOP: 1em; max-width: 40em
}
#rightside {
	PADDING-LEFT: 5px; LEFT: 53em; WIDTH: 400px; POSITION: absolute; TOP: 1em
}
 HTML #content {
	
}
