<configuration>
	<configSections>
		<section name="Etier.CreditCard" type="Etier.CreditCard.CreditCardValidatorSectionHandler, CreditCardValidator, Version=0.0.0.1"/>
	</configSections>
	<Etier.CreditCard>
		<cardTypes>
			<cardType name="VISA" regExp="^[4]([0-9]{15}$|[0-9]{12}$)"/>
			<cardType name="MasterCard" regExp="^[5][1-5][0-9]{14}$"/>
			<cardType name="American Express" regExp="^[34|37][0-9]{14}$"/>
			<cardType name="Diners Club" regExp="(^30[0-5][0-9]{11}$)|(^(36|38)[0-9]{12}$)"/>
			<cardType name="enRoute" regExp="^(2014|2149)[0-9]{11}$"/>
			<cardType name="Discover" regExp="^6011[0-9]{12}$"/>
			<cardType name="JCB" regExp="(^3[0-9]{15}$)|(^(2131|1800)[0-9]{11}$)"/>
		</cardTypes>
	</Etier.CreditCard>
	<system.web>
		<compilation debug="true">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE"/></compilers></compilation>
		<customErrors mode="Off"/>
		<xhtmlConformance mode="Legacy"/></system.web>
</configuration>
