body, p, tr
{
	font-size: 10pt;
	font-family: Tahoma, Verdana, Arial, Serif;
	/*background-image: URL(/images/sld_adminfloor01.jpg);*/
	background-color: #99DDDD; /*#CCCCCC; #999977; #99CCCC;*/
}

input
{
	background-color: #666666; /*#111155;*/	border: #003366 2px solid;
	color: white;
	font-family: Tahoma, Verdana, Arial, Serif
	font-weight: bold;
	font-size: 10pt
}

textarea
{
	background-color: #666666;
	border: #003366 2px solid;
	color: white;
	font-family: Lucida Console, Courier New;
	font-size: 10pt;
	font-weight: normal
} 


html
{
	scrollbar-face-color: #808080;
	/* scrollbar-arrow-color: #EE0000; */
	scrollbar-base-color: #808080;
	/* scrollbar-shadow-color: #00009D; 
	scrollbar-highlight-color: #C0C0C0; 
	scrollbar-3d-light-color: #00009D; */
}

H1, H2, H3, H4, H5, hr
{
	color: #003366;
}

A:link
{
	text-decoration: none;
	color: Blue;
}

A:visited
{
	color: firebrick;
	text-decoration: none;
}

A:hover
{
	color: darkblue;
	text-decoration: underline;
}

ui, li
{
	LIST-STYLE: square url(/images/bullet2.png) outside
}

code
{
	font-family: Courier New;
	font-size: 10pt;
}

.header
{
	background-color: SlateGray;
}
