#component {
	BACKGROUND: url(componentbg.jpg) #669dc6 repeat-x 50% top
}
.con-nav {
	BORDER-RIGHT: #9cc4e8 1px solid; BORDER-TOP: #9cc4e8 1px solid; BACKGROUND: #eff5fd; MARGIN: 0px; BORDER-LEFT: #9cc4e8 1px solid; BORDER-BOTTOM: #9cc4e8 1px solid
}
.fontbutton {
	BORDER-RIGHT: #9cc4e8 1px solid; BORDER-TOP: #9cc4e8 1px solid; BACKGROUND: #fff; BORDER-LEFT: #9cc4e8 1px solid; BORDER-BOTTOM: #9cc4e8 1px solid
}
#menu {
	BORDER-RIGHT: #9cc4e8 1px solid; BORDER-TOP: #9cc4e8 1px solid; BACKGROUND: url(clipbg.jpg); BORDER-LEFT: #9cc4e8 1px solid; BORDER-BOTTOM: #9cc4e8 1px solid
}
.clip {
	BORDER-RIGHT: #9cc4e8 1px solid; BORDER-TOP: #9cc4e8 1px solid; BACKGROUND: url(clipbg.jpg); BORDER-LEFT: #9cc4e8 1px solid; BORDER-BOTTOM: #9cc4e8 1px solid
}
.clip H1 {
	BACKGROUND: url(tableheadbg.jpg) #f7fcff repeat-x 50% bottom; BORDER-BOTTOM: #9cc4e8 1px solid
}
.clip H1 SPAN {
	BORDER-RIGHT: #68a2d7 1px solid; BORDER-TOP: #68a2d7 1px solid; BORDER-LEFT: #68a2d7 1px solid; BORDER-BOTTOM: #68a2d7 1px solid
}
.feature {
	BORDER-RIGHT: #9cc4e8 1px solid; BORDER-TOP: #9cc4e8 1px solid; BORDER-LEFT: #9cc4e8 1px solid; BORDER-BOTTOM: #9cc4e8 1px solid
}
#footer {
	BORDER-RIGHT: #9cc4e8 1px solid; BORDER-TOP: #9cc4e8 1px solid; BACKGROUND: url(footer.jpg) repeat-x; BORDER-LEFT: #9cc4e8 1px solid; BORDER-BOTTOM: #9cc4e8 1px solid
}
#header {
	BORDER-RIGHT: #9cc4e8 1px solid; BORDER-TOP: #9cc4e8 1px solid; BACKGROUND: #7eadd1; BORDER-LEFT: #9cc4e8 1px solid; COLOR: #fff; BORDER-BOTTOM: #9cc4e8 1px solid
}
#r-featured INPUT {
	BACKGROUND: url(f-right.jpg)
}
#l-featured INPUT {
	BACKGROUND: url(f-left.jpg)
}
.fontbutton {
	BACKGROUND: url(componentbg.jpg) repeat-x
}
.d-width {
	BORDER-RIGHT: #9cc4e8 1px solid; BORDER-TOP: #9cc4e8 1px solid; BORDER-LEFT: #9cc4e8 1px solid; BORDER-BOTTOM: #9cc4e8 1px solid
}
#tabsJ A SPAN {
	BACKGROUND: url(taboff.gif); COLOR: #1a5c7d
}
#tabsJ A:hover SPAN {
	BACKGROUND: url(tabon.gif); COLOR: #15669c
}
#tabsJ A:active SPAN {
	BACKGROUND: url(tabon.gif); COLOR: #15669c
}
#tabsJ A {
	BORDER-RIGHT: #dae6ee 1px solid; BORDER-TOP: #dae6ee 1px solid; BORDER-LEFT: #dae6ee 1px solid; BORDER-BOTTOM: #dae6ee 1px solid
}
#header A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
#header A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
#header A:hover {
	COLOR: #ff0; TEXT-DECORATION: none
}
.clip H1 A:link {
	COLOR: #14377b
}
.clip H1 A:visited {
	COLOR: #14377b
}
.clip H1 A:hover {
	FONT-SIZE: 100%; TEXT-DECORATION: underline
}
