#content {
	HEIGHT: 1%
}
#leaderBoard {
	MARGIN: 5px 0px
}
.fix UL {
	FLOAT: none; WIDTH: auto
}
.goha-width {
	MARGIN: 0px
}
.voteb {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#leaderBoard {
	MARGIN: 3px
}
#showcase {
	MARGIN: 5px
}
#top-nav {
	PADDING-RIGHT: 4px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
.clip H1 SPAN {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px 1px; PADDING-TOP: 0px; HEIGHT: 8px
}
.bullet1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 14px 0px 0px; WIDTH: auto; PADDING-TOP: 0px
}
.bullet2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 14px 0px 0px; WIDTH: auto; PADDING-TOP: 0px
}
.bullet3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 14px 0px 0px; WIDTH: auto; PADDING-TOP: 0px
}
.bullet4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 14px 0px 0px; WIDTH: auto; PADDING-TOP: 0px
}
.bullet5 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 14px 0px 0px; WIDTH: auto; PADDING-TOP: 0px
}
.bullet6 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 14px 0px 0px; WIDTH: auto; PADDING-TOP: 0px
}
