#container {
	MARGIN-LEFT: auto; WIDTH: 775px; MARGIN-RIGHT: auto; POSITION: relative; TEXT-ALIGN: center
}
#l-con {
	BORDER-RIGHT: #d7e4ec 0px solid; BORDER-TOP: #d7e4ec 0px solid; FLOAT: left; BORDER-LEFT: #d7e4ec 0px solid; WIDTH: 49.2%; BORDER-BOTTOM: #d7e4ec 0px solid
}
#r-con {
	BORDER-RIGHT: #d7e4ec 0px solid; BORDER-TOP: #d7e4ec 0px solid; FLOAT: right; BORDER-LEFT: #d7e4ec 0px solid; WIDTH: 49.5%; BORDER-BOTTOM: #d7e4ec 0px solid
}
#menuone {
	BORDER-RIGHT: #d7e4ec 0px solid; BORDER-TOP: #d7e4ec 0px solid; FLOAT: left; MARGIN: 6px 0px 0px; BORDER-LEFT: #d7e4ec 0px solid; WIDTH: 49%; BORDER-BOTTOM: #d7e4ec 0px solid
}
#menu UL {
	BORDER-RIGHT: #d7e4ec 0px solid; BORDER-TOP: #d7e4ec 0px solid; FLOAT: right; MARGIN: 0px; BORDER-LEFT: #d7e4ec 0px solid; WIDTH: 23.5%; BORDER-BOTTOM: #d7e4ec 0px solid; LIST-STYLE-TYPE: none; HEIGHT: 100%; TEXT-ALIGN: right
}
.lightsmall {
	DISPLAY: block; HEIGHT: auto
}
.lightbig {
	DISPLAY: none; HEIGHT: 0px
}
.feature {
	FLOAT: none; TEXT-ALIGN: center
}
