#component {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BACKGROUND: url(componentbg.jpg) #b7d482 50% top; BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid
}
#top-nav SPAN {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BACKGROUND: url(tableheadbg.jpg) repeat-x; BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid
}
.fontbutton {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BACKGROUND: url(tableheadbg.jpg) repeat-x; BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid
}
.con-nav {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BACKGROUND: #eeffd0; MARGIN: 0px; BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid
}
#menu {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BACKGROUND: url(clipbg.jpg); BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid
}
.clip {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BACKGROUND: url(clipbg.jpg); BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid
}
.clip H1 {
	BACKGROUND: url(tableheadbg.jpg) repeat-x 50% bottom; BORDER-BOTTOM: #d7ecda 1px solid
}
.clip H1 SPAN {
	BORDER-RIGHT: #a5ecaf 1px solid; BORDER-TOP: #a5ecaf 1px solid; BACKGROUND: url(tableheadbg.jpg) repeat-x; BORDER-LEFT: #a5ecaf 1px solid; BORDER-BOTTOM: #a5ecaf 1px solid
}
.feature {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid
}
.finance-table TH {
	BACKGROUND: url(tableheadbg.jpg) repeat-x; BORDER-BOTTOM: #d7ecda 1px solid
}
#footer {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BACKGROUND: url(footer.jpg) repeat-x; BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid
}
#header {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BACKGROUND: #c5dc97; BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid
}
.f-bottom {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BACKGROUND: #eff8f0; BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid
}
.finance-tr {
	BACKGROUND: #ecffef
}
#r-featured INPUT {
	BACKGROUND: url(f-right.jpg)
}
#l-featured INPUT {
	BACKGROUND: url(f-left.jpg)
}
#tabsj {
	FONT-SIZE: 70%
}
#tabsj UL {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
#tabsj LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#tabsJ A {
	BORDER-RIGHT: #d7ecda 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d7ecda 1px solid; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #d7ecda 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #d7ecda 1px solid; TEXT-DECORATION: none
}
#tabsJ A SPAN {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(taboff.gif); FLOAT: right; PADDING-BOTTOM: 0px; COLOR: #24618e; PADDING-TOP: 5px
}
#tabsJ A SPAN {
	BACKGROUND: url(tabon.gif); FLOAT: none; COLOR: #4b6f01
}
#tabsJ A:hover SPAN {
	BACKGROUND: url(taboff.gif); COLOR: #001e50
}
#tabsJ A:active SPAN {
	BACKGROUND: url(taboff.gif); COLOR: #001e50
}
