#component {
	BORDER-RIGHT: #f9d7b1 1px solid; BORDER-TOP: #f9d7b1 1px solid; BACKGROUND: url(componentbg.jpg) #f7b58a repeat-x 50% top; BORDER-LEFT: #f9d7b1 1px solid; BORDER-BOTTOM: #f9d7b1 1px solid
}
.con-nav {
	BORDER-RIGHT: #f9d7b1 1px solid; BORDER-TOP: #f9d7b1 1px solid; BACKGROUND: #fff0e8; MARGIN: 0px; BORDER-LEFT: #f9d7b1 1px solid; BORDER-BOTTOM: #f9d7b1 1px solid
}
.fontbutton {
	BORDER-RIGHT: #f9d7b1 1px solid; BORDER-TOP: #f9d7b1 1px solid; BACKGROUND: url(tableheadbg.jpg) repeat-x; BORDER-LEFT: #f9d7b1 1px solid; BORDER-BOTTOM: #f9d7b1 1px solid
}
#menu {
	BORDER-RIGHT: #f9d7b1 1px solid; BORDER-TOP: #f9d7b1 1px solid; BACKGROUND: url(clipbg.jpg); BORDER-LEFT: #f9d7b1 1px solid; BORDER-BOTTOM: #f9d7b1 1px solid
}
.clip {
	BORDER-RIGHT: #f9d7b1 1px solid; BORDER-TOP: #f9d7b1 1px solid; BACKGROUND: url(clipbg.jpg); BORDER-LEFT: #f9d7b1 1px solid; BORDER-BOTTOM: #f9d7b1 1px solid
}
.clip H1 {
	BACKGROUND: url(tableheadbg.jpg) repeat-x 50% bottom; BORDER-BOTTOM: #f9d7b1 1px solid
}
.clip H1 SPAN {
	BORDER-RIGHT: #f9b491 1px solid; BORDER-TOP: #f9b491 1px solid; BACKGROUND: url(tableheadbg.jpg) repeat-x; BORDER-LEFT: #f9b491 1px solid; BORDER-BOTTOM: #f9b491 1px solid
}
.feature {
	BORDER-RIGHT: #f9d7b1 1px solid; BORDER-TOP: #f9d7b1 1px solid; BORDER-LEFT: #f9d7b1 1px solid; BORDER-BOTTOM: #f9d7b1 1px solid
}
#footer {
	BORDER-RIGHT: #f9d7b1 1px solid; BORDER-TOP: #f9d7b1 1px solid; BACKGROUND: url(footer.jpg) repeat-x; BORDER-LEFT: #f9d7b1 1px solid; BORDER-BOTTOM: #f9d7b1 1px solid
}
#header {
	BORDER-RIGHT: #f9d7b1 1px solid; BORDER-TOP: #f9d7b1 1px solid; BACKGROUND: #ffd6c0; BORDER-LEFT: #f9d7b1 1px solid; BORDER-BOTTOM: #f9d7b1 1px solid
}
#r-featured INPUT {
	BACKGROUND: url(f-right.jpg)
}
#l-featured INPUT {
	BACKGROUND: url(f-left.jpg)
}
.d-width {
	BORDER-RIGHT: #f9d7b1 1px solid; BORDER-TOP: #f9d7b1 1px solid; BORDER-LEFT: #f9d7b1 1px solid; BORDER-BOTTOM: #f9d7b1 1px solid
}
#tabsJ A SPAN {
	BACKGROUND: url(tabon.gif); COLOR: #ba3405
}
#tabsJ A:hover SPAN {
	BACKGROUND: url(taboff.gif); COLOR: #8b1e1b
}
#tabsJ A:active SPAN {
	BACKGROUND: url(taboff.gif); COLOR: #8b1e1b
}
#tabsJ A {
	BORDER-RIGHT: #fed7d8 1px solid; BORDER-TOP: #fed7d8 1px solid; BORDER-LEFT: #fed7d8 1px solid; BORDER-BOTTOM: #fed7d8 1px solid
}
.f-bottom {
	BORDER-RIGHT: #f9d7b1 1px solid; BORDER-TOP: #f9d7b1 1px solid; BACKGROUND: #f7f0e6; BORDER-LEFT: #f9d7b1 1px solid; BORDER-BOTTOM: #f9d7b1 1px solid
}
