.firstlogin {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 11px; BORDER-TOP: #fff 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #fff 1px solid; WIDTH: 400px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 200px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: right
}
.SSO {
	PADDING-LEFT: 13pt; FONT-SIZE: 11px; BACKGROUND: url(http://sso.linkonlineworld.com/images/SSOButton.gif) no-repeat; WIDTH: 84px; CURSOR: hand; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 26px; BORDER-BOTTOM-STYLE: none
}
.btn {
	BORDER-RIGHT: #6aa200 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #6aa200 1px solid; PADDING-LEFT: 7px; BACKGROUND: #6ad003; PADDING-BOTTOM: 0px; BORDER-LEFT: #6aa200 1px solid; WIDTH: 70px; CURSOR: pointer; COLOR: #fff; PADDING-TOP: 0px; BORDER-BOTTOM: #6aa200 1px solid; HEIGHT: 19px; TEXT-ALIGN: center
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	FONT-WEIGHT: normal; FONT-SIZE: 85%; DIRECTION: rtl
}
BODY {
	FONT: bold medium arial; COLOR: #494949
}
A:link {
	FONT: bold 95% Times New Roman; COLOR: #16387c; TEXT-DECORATION: none
}
A:visited {
	FONT: bold 95% Times New Roman; COLOR: #69789c; TEXT-DECORATION: none
}
A:hover {
	FONT: bold 95% Times New Roman; COLOR: #16387c; TEXT-DECORATION: underline
}
SUP {
	FONT-SIZE: 90%; COLOR: #c00; DIRECTION: rtl; TEXT-ALIGN: left
}
#container {
	MARGIN-LEFT: auto; WIDTH: 775px; MARGIN-RIGHT: auto; POSITION: relative; TEXT-ALIGN: center
}
#l-con {
	BORDER-RIGHT: #d7e4ec 0px solid; BORDER-TOP: #d7e4ec 0px solid; FLOAT: left; BORDER-LEFT: #d7e4ec 0px solid; WIDTH: 49.2%; BORDER-BOTTOM: #d7e4ec 0px solid
}
#r-con {
	BORDER-RIGHT: #d7e4ec 0px solid; BORDER-TOP: #d7e4ec 0px solid; FLOAT: right; BORDER-LEFT: #d7e4ec 0px solid; WIDTH: 49.5%; BORDER-BOTTOM: #d7e4ec 0px solid
}
#header {
	BORDER-RIGHT: #d7e4ec 1px solid; BORDER-TOP: #d7e4ec 1px solid; FONT-SIZE: 90%; BACKGROUND: #e7eef9; BORDER-LEFT: #d7e4ec 1px solid; WIDTH: 100%; BORDER-BOTTOM: #d7e4ec 1px solid; HEIGHT: 22px
}
#date {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 40%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#controls {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 57%; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#h-page {
	FLOAT: right; WIDTH: 140px; TEXT-ALIGN: right
}
#h-page A:link {
	COLOR: #494949
}
#h-page A:hover {
	COLOR: #494949
}
#h-page A:visited {
	COLOR: #494949
}
.aone {
	FONT-SIZE: 110%
}
.atwo {
	FONT-SIZE: 95%
}
.athree {
	FONT-SIZE: 80%
}
#font {
	FLOAT: left; WIDTH: 130px; TEXT-ALIGN: center
}
#navtheme {
	FLOAT: left; WIDTH: 140px; TEXT-ALIGN: center
}
.orange {
	BACKGROUND: url(green.jpg) no-repeat
}
.red {
	BACKGROUND: url(orange.jpg) no-repeat
}
.blue {
	BACKGROUND: url(blue.jpg) no-repeat
}
.blue2 {
	BACKGROUND: url(blue2.jpg) no-repeat
}
.d {
	MARGIN: 2px; BACKGROUND-COLOR: #fff
}
#navtheme IMG {
	BORDER-RIGHT: #000 0px solid; BORDER-TOP: #000 0px solid; MARGIN: 3px 2px 2px; VERTICAL-ALIGN: bottom; BORDER-LEFT: #000 0px solid; BORDER-BOTTOM: #000 0px solid
}
.test {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; FLOAT: left; BORDER-LEFT: #000 1px solid; WIDTH: 40%; BORDER-BOTTOM: #000 1px solid
}
#component {
	CLEAR: both; BORDER-RIGHT: #d4e2eb 1px solid; BORDER-TOP: #d4e2eb 1px solid; BACKGROUND: url(componentbg.jpg); MARGIN: 0px 0px 3px; BORDER-LEFT: #d4e2eb 1px solid; BORDER-BOTTOM: #d4e2eb 1px solid; HEIGHT: 100%
}
#search {
	BORDER-RIGHT: #d7e4ec 0px solid; BORDER-TOP: #d7e4ec 0px solid; MARGIN-TOP: 5px; FLOAT: left; BORDER-LEFT: #d7e4ec 0px solid; WIDTH: 55%; BORDER-BOTTOM: #d7e4ec 0px solid; HEIGHT: 100%; TEXT-ALIGN: right
}
#button {
	BORDER-RIGHT: #d7e4ec 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d7e4ec 0px solid; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; BORDER-LEFT: #d7e4ec 0px solid; WIDTH: 20%; PADDING-TOP: 0px; BORDER-BOTTOM: #d7e4ec 0px solid; HEIGHT: 100%; TEXT-ALIGN: center
}
.con-nav {
	CLEAR: both; BORDER-RIGHT: #d3e1f8 1px solid; BACKGROUND-POSITION: 0px 80px; BORDER-TOP: #d3e1f8 1px solid; FONT-SIZE: 90%; MARGIN: 0px; BORDER-LEFT: #d3e1f8 1px solid; BORDER-BOTTOM: #d3e1f8 1px solid; HEIGHT: 100%; TEXT-ALIGN: center
}
.con-nav TABLE {
	
}
.signin {
	FONT-WEIGHT: bold; BACKGROUND: url(search.jpg) no-repeat; MARGIN: 0px 5px 0px 0px; WIDTH: 50px; CURSOR: pointer; COLOR: #fff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 17px; BORDER-BOTTOM-STYLE: none
}
.translateBtn {
	DIRECTION: ltr
}
.mar {
	MARGIN: 0px 3px
}
.vote DIV {
	WIDTH: auto! important
}
.vote LI {
	LIST-STYLE-TYPE: none
}
.vote HR {
	CLEAR: both
}
.votebgbutton {
	BORDER-RIGHT: #ff0000 1px solid; BORDER-TOP: #ff0000 1px solid; BACKGROUND: url(vote-buttonbg.jpg) repeat-x; BORDER-LEFT: #ff0000 1px solid; COLOR: #fff; BORDER-BOTTOM: #ff0000 1px solid; HEIGHT: 19px
}
.vote-con-b {
	MARGIN: 3px 10px 3px 0px
}
.voteb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 45px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.votebutton {
	BORDER-RIGHT: #d7e4ec 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d7e4ec 1px solid; PADDING-LEFT: 5px; BACKGROUND: url(tableheadbg.jpg) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 3px; BORDER-LEFT: #d7e4ec 1px solid; WIDTH: 100%; CURSOR: pointer; PADDING-TOP: 0px; BORDER-BOTTOM: #d7e4ec 1px solid
}
.VoteQuestion {
	WIDTH: 300px; WHITE-SPACE: nowrap
}
.VoteAnswers {
	WIDTH: 300px; WHITE-SPACE: nowrap
}
.fontbutton {
	BORDER-RIGHT: #d7e4ec 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d7e4ec 1px solid; PADDING-LEFT: 5px; BACKGROUND: url(tableheadbg.jpg) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #d7e4ec 1px solid; CURSOR: pointer; PADDING-TOP: 0px; BORDER-BOTTOM: #d7e4ec 1px solid
}
.clr {
	CLEAR: both; FONT-SIZE: 1px; LINE-HEIGHT: 1px; HEIGHT: 1px
}
#voting TABLE {
	HEIGHT: auto! important
}
#voting DIV {
	HEIGHT: auto! important
}
#logo {
	FLOAT: right; MARGIN: 3px 3px 0px 0px; VERTICAL-ALIGN: middle; WIDTH: 176px; HEIGHT: 65px
}
#logo IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
}
#logo P {
	FONT-SIZE: 80%; MARGIN: 35px 5px 0px 0px; TEXT-ALIGN: left
}
#h-light {
	CLEAR: both; BORDER-RIGHT: #d7e4ec 0px solid; BORDER-TOP: #d7e4ec 0px solid; FLOAT: left; MARGIN: 0px 0px 10px; BORDER-LEFT: #d7e4ec 0px solid; WIDTH: 49%; COLOR: #f90; BORDER-BOTTOM: #d7e4ec 0px solid
}
#menuone {
	BORDER-RIGHT: #d7e4ec 0px solid; BORDER-TOP: #d7e4ec 0px solid; FLOAT: left; MARGIN: 6px 0px 0px; BORDER-LEFT: #d7e4ec 0px solid; WIDTH: 49%; BORDER-BOTTOM: #d7e4ec 0px solid
}
#menu {
	BORDER-RIGHT: #d7e4ec 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d7e4ec 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 100%; BACKGROUND: url(clipbg.jpg); PADDING-BOTTOM: 2px; MARGIN: 0px 0px 3px; BORDER-LEFT: #d7e4ec 1px solid; COLOR: #fa651e; PADDING-TOP: 3px; BORDER-BOTTOM: #d7e4ec 1px solid; HEIGHT: 100%
}
#menu LI {
	WIDTH: 100%; DIRECTION: rtl
}
#menu UL {
	BORDER-RIGHT: #d7e4ec 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d7e4ec 0px solid; PADDING-LEFT: 1px; FLOAT: right; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #d7e4ec 0px solid; WIDTH: 23.5%; PADDING-TOP: 1px; BORDER-BOTTOM: #d7e4ec 0px solid; LIST-STYLE-TYPE: none; HEIGHT: 100%; TEXT-ALIGN: right
}
#menu A:link {
	FONT-SIZE: 93%; COLOR: #597688; TEXT-DECORATION: none
}
#menu A:visited {
	FONT-SIZE: 93%; COLOR: #597688; TEXT-DECORATION: none
}
#menu A:hover {
	FONT-SIZE: 93%; COLOR: #000099; TEXT-DECORATION: none
}
#leaderBoard {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 728px
}
#leaderBoard IMG {
	FLOAT: left
}
#skyScraper {
	FLOAT: left
}
#skyScraper IMG {
	FLOAT: none
}
#showcase {
	FLOAT: none; MARGIN: 0px auto; WIDTH: 300px
}
#showcase IMG {
	CLEAR: both; FLOAT: left
}
#LayerName {
	RIGHT: 0px
}
.clip {
	BORDER-RIGHT: #d7e4ec 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d7e4ec 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(clipbg.jpg); PADDING-BOTTOM: 3px; MARGIN: 6px 0px 3px; BORDER-LEFT: #d7e4ec 1px solid; DIRECTION: rtl; PADDING-TOP: 0px; BORDER-BOTTOM: #d7e4ec 1px solid; HEIGHT: 100%; TEXT-ALIGN: right
}
.clip H1 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; FONT-SIZE: 105%; BACKGROUND: url(tableheadbg.jpg) repeat-x 50% bottom; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; COLOR: #496271; DIRECTION: rtl; PADDING-TOP: 2px; BORDER-BOTTOM: #d7e4ec 1px solid; HEIGHT: 16px; TEXT-ALIGN: right
}
.clip H1 A:link {
	FONT-SIZE: 100%; TEXT-DECORATION: none
}
.clip H1 A:visited {
	FONT-SIZE: 100%; TEXT-DECORATION: none
}
.clip H1 A:hover {
	FONT-SIZE: 100%; TEXT-DECORATION: underline
}
.clip H1 SPAN {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 60%; MIN-HEIGHT: 12px; BACKGROUND: url(tableheadbg.jpg) repeat-x; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 1px 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #cccccc 1px solid; WIDTH: 12px; CURSOR: pointer; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center
}
.clip H1 LABEL {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 75%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 1px; WIDTH: auto; CURSOR: pointer; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.clip H1 LABEL A:link {
	FONT-SIZE: 100%; TEXT-DECORATION: none
}
.clip H1 LABEL A:visited {
	FONT-SIZE: 100%; TEXT-DECORATION: none
}
.clip H1 LABEL A:hover {
	FONT-SIZE: 100%; TEXT-DECORATION: underline
}
.clip H2 {
	CLEAR: both; PADDING-RIGHT: 3px; PADDING-LEFT: 0px; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; COLOR: #496271; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.clip H2 A:link {
	FONT-SIZE: 100%; TEXT-DECORATION: none
}
.clip H2 A:visited {
	FONT-SIZE: 100%; TEXT-DECORATION: none
}
.clip H2 A:hover {
	FONT-SIZE: 100%; TEXT-DECORATION: underline
}
.clip P {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.clip IMG {
	BORDER-RIGHT: #9fb8c6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #9fb8c6 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 3px 2px 2px 5px; BORDER-LEFT: #9fb8c6 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #9fb8c6 1px solid
}
.clip UL {
	MARGIN: 0px 25px 0px 0px
}
.clip LI {
	MARGIN: 0px 2px 0px 0px; DIRECTION: rtl
}
.clip LI A:link {
	TEXT-DECORATION: none
}
.clip LI A:visited {
	TEXT-DECORATION: none
}
.clip LI A:hover {
	TEXT-DECORATION: underline
}
.fix UL {
	BORDER-RIGHT: #999999 0px solid; BORDER-TOP: #999999 0px solid; FLOAT: right; BORDER-LEFT: #999999 0px solid; WIDTH: 63%; BORDER-BOTTOM: #999999 0px solid
}
.d-service {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #597688; PADDING-TOP: 3px; HEIGHT: 130%
}
.d-service IMG {
	BORDER-RIGHT: #9fb8c6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #9fb8c6 1px solid; PADDING-LEFT: 2px; FLOAT: none; PADDING-BOTTOM: 2px; MARGIN: 2px 0px 1px; BORDER-LEFT: #9fb8c6 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #9fb8c6 1px solid; TEXT-ALIGN: center
}
.d-service P {
	MARGIN: 2px; TEXT-ALIGN: center
}
.d-width {
	BORDER-RIGHT: #d7e4ec 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d7e4ec 1px solid; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: #d7e4ec 1px solid; WIDTH: 31%; PADDING-TOP: 5px; BORDER-BOTTOM: #d7e4ec 1px solid; TEXT-ALIGN: center
}
#d-service IMG {
	BORDER-RIGHT: #9fb8c6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #9fb8c6 1px solid; PADDING-LEFT: 2px; FLOAT: none; PADDING-BOTTOM: 2px; MARGIN: 2px 0px 1px; BORDER-LEFT: #9fb8c6 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #9fb8c6 1px solid; TEXT-ALIGN: center
}
#d-service P {
	MARGIN: 2px; TEXT-ALIGN: center
}
.goha-width {
	FLOAT: left; MARGIN: 0px 0px 4px; WIDTH: 49%
}
.goha {
	HEIGHT: 100%
}
.weather {
	CLEAR: both; WIDTH: 100%; HEIGHT: 100%
}
.weather LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.weather IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.weather UL {
	FLOAT: right; MARGIN: 1px 2px 1px 1px
}
#c-service {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #597688; PADDING-TOP: 3px; HEIGHT: 130%
}
#c-service IMG {
	BORDER-RIGHT: #9fb8c6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #9fb8c6 1px solid; PADDING-LEFT: 2px; FLOAT: none; PADDING-BOTTOM: 2px; MARGIN: 2px 0px 1px; BORDER-LEFT: #9fb8c6 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #9fb8c6 1px solid; TEXT-ALIGN: center
}
#c-service P {
	MARGIN: 2px; TEXT-ALIGN: center
}
.c-width {
	FLOAT: left; MARGIN: 2px; WIDTH: 31%
}
.clip HR {
	CLEAR: both; WIDTH: 80%; COLOR: #9fb8c6; HEIGHT: 0px; TEXT-ALIGN: center
}
.feature {
	BORDER-RIGHT: #d7e4ec 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d7e4ec 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(featuredbg.jpg) #f5faff repeat-x 0px 2px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 3px; BORDER-LEFT: #d7e4ec 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #d7e4ec 1px solid; TEXT-ALIGN: center
}
.feature A:link {
	COLOR: #16387c; TEXT-DECORATION: none
}
.feature A:visited {
	COLOR: #16387c; TEXT-DECORATION: none
}
.feature A:hover {
	COLOR: #16387c; TEXT-DECORATION: underline
}
.feature P {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 110%; PADDING-BOTTOM: 2px; COLOR: #f00; PADDING-TOP: 2px
}
.f-bottom {
	BORDER-RIGHT: #d7e4ec 1px solid; BORDER-TOP: #d7e4ec 1px solid; BACKGROUND: #f1f4f9; BORDER-LEFT: #d7e4ec 1px solid; BORDER-BOTTOM: #d7e4ec 1px solid; HEIGHT: 18px
}
#l-featured {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100px; BORDER-RIGHT-WIDTH: 0px
}
#r-featured INPUT {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(f-right.jpg); FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 18px; CURSOR: pointer; HEIGHT: 18px; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
#l-featured INPUT {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(f-left.jpg); FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 18px; CURSOR: pointer; HEIGHT: 18px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
#r-featured {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 100px; BORDER-RIGHT-WIDTH: 0px
}
.f-bottom IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; BORDER-RIGHT-WIDTH: 0px
}
.f-txt {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; DIRECTION: rtl; PADDING-TOP: 0px; HEIGHT: 121px; TEXT-ALIGN: right
}
.f-txt IMG {
	FLOAT: left
}
.feature UL LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; LIST-STYLE-POSITION: inside; PADDING-BOTTOM: 2px; DIRECTION: rtl; PADDING-TOP: 2px
}
#RadWindow4 {
	WIDTH: 400px; HEIGHT: 550px
}
.finance-table TH {
	BACKGROUND: url(tableheadbg.jpg) repeat-x; BORDER-BOTTOM: #d7e4ec 1px solid
}
.finance-table {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; DIRECTION: rtl; BORDER-BOTTOM: #cccccc 1px solid
}
.finance-tr {
	BACKGROUND: #f3f6fd
}
.padright {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.r-align {
	FLOAT: right
}
.clearboth {
	CLEAR: both
}
.centers {
	TEXT-ALIGN: center
}
.centers IMG {
	FLOAT: none; TEXT-ALIGN: center
}
#footer {
	CLEAR: both; BORDER-RIGHT: #d7e4ec 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d7e4ec 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(footer.jpg) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 3px; BORDER-LEFT: #d7e4ec 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #d7e4ec 1px solid; HEIGHT: 100%
}
#footer LI {
	DISPLAY: inline; MARGIN-LEFT: 10px
}
#c-right {
	FONT-WEIGHT: normal; FONT-SIZE: small; MARGIN: 5px; FONT-FAMILY: Tahoma
}
.lightsmall {
	DISPLAY: block; MARGIN: 0px 0px 3px; HEIGHT: auto
}
.lightbig {
	DISPLAY: none; MARGIN: 0px 0px 3px; HEIGHT: 0px
}
.tabledsl:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; content: "."
}
.con-nav:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; content: "."
}
.weather:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; content: "."
}
.d-service:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; content: "."
}
.clip:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; content: "."
}
#component:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; content: "."
}
#menu:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; content: "."
}
OL:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; content: "."
}
UL:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; content: "."
}
P:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; content: "."
}
#search:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; content: "."
}
#button:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px; content: "."
}
.more {
	FLOAT: right; VERTICAL-ALIGN: middle
}
.more-news {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px solid; WIDTH: 95%; PADDING-TOP: 0px; BORDER-BOTTOM: 0px solid; TEXT-ALIGN: left
}
.red-link {
	COLOR: #f02225
}
.red-link A:link {
	FONT-SIZE: 93%; COLOR: #f02225; TEXT-DECORATION: none
}
.red-link A:visited {
	FONT-SIZE: 93%; COLOR: #f02225; TEXT-DECORATION: none
}
.red-link A:hover {
	FONT-SIZE: 93%; COLOR: #f02225; TEXT-DECORATION: none
}
.padding {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#tabsJ {
	FONT-SIZE: 70%
}
#tabsJ UL {
	MARGIN: 0px; LIST-STYLE-TYPE: none
}
#tabsJ LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#tabsJ A {
	BORDER-RIGHT: #d3e1f8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d3e1f8 1px solid; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #d3e1f8 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #d3e1f8 1px solid; TEXT-DECORATION: none
}
#tabsJ A SPAN {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: url(tabOff.gif); FLOAT: right; PADDING-BOTTOM: 0px; CURSOR: pointer; COLOR: #24618e; PADDING-TOP: 5px
}
#tabsJ A SPAN {
	FLOAT: none
}
#tabsJ A:hover SPAN {
	COLOR: #0066ff
}
#tabsJ A:hover SPAN {
	BACKGROUND: url(tabOn.gif)
}
#tabsJ A:active SPAN {
	BACKGROUND: url(tabOn.gif); COLOR: #001e50
}
.shadow {
	BACKGROUND: url(shadow.jpg) repeat-x 50% bottom; WIDTH: 100%
}
.orange {
	CURSOR: pointer
}
.red {
	CURSOR: pointer
}
.blue {
	CURSOR: pointer
}
.blue2 {
	CURSOR: pointer
}
.lightsmall {
	CURSOR: pointer
}
.lightbig {
	CURSOR: pointer
}
.featurearrow {
	CURSOR: pointer
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.chat {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.chat UL LI {
	DISPLAY: inline; LIST-STYLE-TYPE: none
}
.chat UL {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FLOAT: right; BORDER-LEFT: 0px solid; WIDTH: 44%; BORDER-BOTTOM: 0px solid
}
.classified {
	TEXT-ALIGN: center
}
.classified UL {
	MARGIN: 0px; WIDTH: 100%
}
.classified LI {
	DISPLAY: inline; MARGIN-LEFT: 10px; LIST-STYLE-TYPE: none
}
.v-space {
	MARGIN-TOP: 0px
}
.lightsmall IMG {
	VERTICAL-ALIGN: middle
}
.lightbig IMG {
	VERTICAL-ALIGN: middle
}
.margin-fix {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.inputnews {
	WIDTH: 230px
}
.inputclassifieds {
	WIDTH: 230px
}
.inputtorgoman {
	WIDTH: 200px; DIRECTION: ltr; TEXT-ALIGN: left
}
.borderblue {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
SELECT {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.sendnail {
	FONT-SIZE: 90%; FLOAT: left; MARGIN: 0px
}
.sendnail IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: none; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 1px; VERTICAL-ALIGN: bottom; BORDER-RIGHT-WIDTH: 0px
}
#prayer TD {
	FONT-WEIGHT: normal
}
#prayer H1 {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BACKGROUND: url(h1.jpg) repeat-x; BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid
}
#islam H1 {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BACKGROUND: url(h1.jpg) repeat-x; BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid
}
#prayer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(bgislam.jpg) #f4f9f3 no-repeat center bottom; PADDING-BOTTOM: 15px; PADDING-TOP: 0px
}
#islam {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(bgislam.jpg) #f4f9f3 no-repeat center bottom; PADDING-BOTTOM: 15px; PADDING-TOP: 0px
}
#prayer SPAN {
	FLOAT: left; MARGIN: 0px 0px 0px 30px
}
#prayer H2 {
	MARGIN: 0px 10px 0px 0px
}
#eid {
	BACKGROUND: url(eidbg.jpg) #fff repeat-x 0px 24px
}
#eid H1 {
	BORDER-RIGHT: #d7ecda 1px solid; BORDER-TOP: #d7ecda 1px solid; BACKGROUND: url(eidh1.jpg) repeat-x; MARGIN: 0px; BORDER-LEFT: #d7ecda 1px solid; BORDER-BOTTOM: #d7ecda 1px solid; HEIGHT: 24px
}
#eid IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#eid UL {
	WIDTH: auto
}
#topnews P {
	CLEAR: both; PADDING-RIGHT: 30px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#topnews UL {
	WIDTH: auto
}
.viewed {
	BACKGROUND: url(kitab.jpg) no-repeat right 50%; HEIGHT: 18px
}
.newscomment {
	BACKGROUND: url(comm.jpg) no-repeat right 50%; HEIGHT: 18px
}
#videos {
	BACKGROUND: url(footer.jpg) #e5ecfe repeat-x 50% bottom
}
#videos LI {
	FLOAT: right; MARGIN: 2px 2px 2px 6px; WIDTH: 45%; LIST-STYLE-TYPE: none
}
#videos .d-service UL LI IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 2px 0px 5px; VERTICAL-ALIGN: middle; BORDER-RIGHT-WIDTH: 0px
}
#videos UL {
	CLEAR: both
}
.upload {
	CLEAR: both; MARGIN: 8px
}
.upload INPUT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 20px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(uploads.jpg) no-repeat; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 6px; FONT: bold 85% arial; WIDTH: 91px; CURSOR: pointer; COLOR: #fff; PADDING-TOP: 0px; HEIGHT: 25px; BORDER-RIGHT-WIDTH: 0px
}
