#component {
	BORDER-RIGHT: #d4e2eb 1px solid; BORDER-TOP: #d4e2eb 1px solid; BACKGROUND: url(componentbg.jpg); BORDER-LEFT: #d4e2eb 1px solid; BORDER-BOTTOM: #d4e2eb 1px solid
}
#top-nav SPAN {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND: url(tableheadbg.jpg) repeat-x; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.con-nav {
	BORDER-RIGHT: #d4e2eb 1px solid; BORDER-TOP: #d4e2eb 1px solid; BACKGROUND: #eff2f9; BORDER-LEFT: #d4e2eb 1px solid; BORDER-BOTTOM: #d4e2eb 1px solid
}
.fontbutton {
	BORDER-RIGHT: #d3e1f8 1px solid; BORDER-TOP: #d3e1f8 1px solid; BACKGROUND: url(tableheadbg.jpg) repeat-x; BORDER-LEFT: #d3e1f8 1px solid; BORDER-BOTTOM: #d3e1f8 1px solid
}
#menu {
	BORDER-RIGHT: #d3e1f8 1px solid; BORDER-TOP: #d3e1f8 1px solid; BACKGROUND: url(clipbg.jpg); BORDER-LEFT: #d3e1f8 1px solid; BORDER-BOTTOM: #d3e1f8 1px solid
}
.clip {
	BORDER-RIGHT: #d3e1f8 1px solid; BORDER-TOP: #d3e1f8 1px solid; BACKGROUND: url(clipbg.jpg); BORDER-LEFT: #d3e1f8 1px solid; BORDER-BOTTOM: #d3e1f8 1px solid
}
.clip H1 {
	BACKGROUND: url(tableheadbg.jpg) repeat-x 50% bottom; BORDER-BOTTOM: #d3e1f8 1px solid
}
.clip H1 SPAN {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND: url(tableheadbg.jpg) repeat-x; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.feature {
	BORDER-RIGHT: #d3e1f8 1px solid; BORDER-TOP: #d3e1f8 1px solid; BORDER-LEFT: #d3e1f8 1px solid; BORDER-BOTTOM: #d3e1f8 1px solid
}
.finance-table TH {
	BACKGROUND: url(tableheadbg.jpg) repeat-x; BORDER-BOTTOM: #d3e1f8 1px solid
}
#footer {
	BORDER-RIGHT: #d3e1f8 1px solid; BORDER-TOP: #d3e1f8 1px solid; BACKGROUND: url(footer.jpg) repeat-x; BORDER-LEFT: #d3e1f8 1px solid; BORDER-BOTTOM: #d3e1f8 1px solid
}
#header {
	BORDER-RIGHT: #d3e1f8 1px solid; BORDER-TOP: #d3e1f8 1px solid; BORDER-LEFT: #d3e1f8 1px solid; BORDER-BOTTOM: #d3e1f8 1px solid
}
.f-bottom {
	BORDER-RIGHT: #d3e1f8 1px solid; BORDER-TOP: #d3e1f8 1px solid; BACKGROUND: #f1f4f9; BORDER-LEFT: #d3e1f8 1px solid; BORDER-BOTTOM: #d3e1f8 1px solid
}
.finance-tr {
	BACKGROUND: #f3f6fd
}
#r-featured INPUT {
	BACKGROUND: url(f-right.jpg)
}
#l-featured INPUT {
	BACKGROUND: url(f-left.jpg)
}
