#popupMask {
	DISPLAY: none; Z-INDEX: 200; FILTER: alpha(opacity=70); LEFT: 0px; BACKGROUND-IMAGE: url(maskBG.png)! important; WIDTH: 100%; BACKGROUND-REPEAT: repeat; POSITION: absolute; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #333333; opacity: .7
}
#popupContainer {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; Z-INDEX: 201; LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px
}
#popupInner {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid; BACKGROUND-COLOR: #ffffff
}
#popupFrame {
	Z-INDEX: 202; MARGIN: 0px; WIDTH: 100%; POSITION: relative; HEIGHT: 100%
}
#popupTitleBar {
	BORDER-RIGHT: #204095 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #204095 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; Z-INDEX: 203; PADDING-BOTTOM: 1px; BORDER-LEFT: #204095 1px solid; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #204095 1px solid; POSITION: relative; HEIGHT: 12px; BACKGROUND-COLOR: #cedfff
}
#popupTitle {
	FONT-SIZE: 1.1em; FLOAT: left
}
#popupControls {
	FLOAT: right; CURSOR: hand
}
