BODY {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DL {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
UL {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
OL {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LI {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
LISTING {
	FONT-SIZE: 11px; FONT-FAMILY: Courier New, Courier, monospace
}
PRE {
	FONT-SIZE: 11px; FONT-FAMILY: Courier New, Courier, monospace
}
TT {
	FONT-SIZE: 11px; FONT-FAMILY: Courier New, Courier, monospace
}
XMP {
	FONT-SIZE: 11px; FONT-FAMILY: Courier New, Courier, monospace
}
CODE {
	FONT-SIZE: 11px; FONT-FAMILY: Courier New, Courier, monospace
}
KBD {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Courier New, Courier, monospace
}
H1 {
	FONT-SIZE: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	FONT-SIZE: 17px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT-SIZE: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4 {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H5 {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H6 {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DT {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DD {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
SMALL {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
BIG {
	FONT-SIZE: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	FONT-WEIGHT: bold; COLOR: #cc0000
}
A:visited {
	COLOR: #660000
}
A:hover {
	COLOR: #0000cc
}
A:hover {
	COLOR: #0000cc
}
.pagehead {
	FONT-SIZE: 28px; COLOR: #660000; FONT-FAMILY: Georgia, Times New Roman, Times, serif
}
.footer {
	FONT-SIZE: 9px; COLOR: #999999
}
A.footer {
	COLOR: #999999
}
A.footer:visited {
	COLOR: #999999
}
A.footer:hover {
	COLOR: #000000
}
A.footer:hover {
	COLOR: #000000
}
.forumweak {
	FONT-SIZE: 9px; COLOR: #666699
}
A.forumweak {
	FONT-SIZE: 9px; COLOR: #666699
}
A.forumweak:visited {
	FONT-SIZE: 9px; COLOR: #666699
}
A.forumweak:hover {
	COLOR: #333366
}
A.forumweak:hover {
	COLOR: #333366
}
.forummenu {
	FONT-SIZE: 9px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.forummenu {
	FONT-SIZE: 9px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.forummenu:visited {
	FONT-SIZE: 9px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.forummenu:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
A.forummenu:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
.forumbaseweak {
	FONT-SIZE: 9px; COLOR: #999999; TEXT-DECORATION: none
}
A.forumbaseweak {
	FONT-SIZE: 9px; COLOR: #999999; TEXT-DECORATION: none
}
A.forumbaseweak:visited {
	FONT-SIZE: 9px; COLOR: #999999; TEXT-DECORATION: none
}
A.forumbaseweak:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.forumbaseweak:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
