A:link {
	COLOR: #0000cc
}
BODY {
	BACKGROUND: #fff; MARGIN: 3px 8px
}
BODY {
	FONT-FAMILY: arial, sans-serif
}
SELECT {
	FONT-FAMILY: arial, sans-serif
}
INPUT {
	FONT-FAMILY: arial, sans-serif
}
BODY {
	FONT-SIZE: 83%
}
TD TD {
	FONT-SIZE: 100%
}
TH TH {
	FONT-SIZE: 100%
}
TH TD {
	FONT-SIZE: 100%
}
TD TH {
	FONT-SIZE: 100%
}
PRE {
	FONT-SIZE: 110%
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-COLLAPSE: separate
}
.labellist {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.labellist LI {
	DISPLAY: inline; MARGIN-LEFT: 0.2em
}
.pmeta_bubble_bg {
	BACKGROUND: #e5ecf9; MARGIN-BOTTOM: 0.6em
}
.pmeta {
	TEXT-ALIGN: left
}
.pmeta TH {
	VERTICAL-ALIGN: top
}
.pmeta TD {
	VERTICAL-ALIGN: top
}
.pmeta UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.pmeta LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.feed {
	BORDER-TOP-WIDTH: 0px; PADDING-LEFT: 0.5em; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 36px; POSITION: relative; TOP: 2px; HEIGHT: 14px; BORDER-RIGHT-WIDTH: 0px
}
#mt {
	MARGIN-TOP: 0.5ex
}
.bubble_bg {
	BACKGROUND: #c3d9ff; MARGIN-BOTTOM: 0.6em
}
.rounded_ul {
	BACKGROUND: url(/hosting/images/ul.gif) no-repeat left top
}
.rounded_ur {
	BACKGROUND: url(/hosting/images/ur.gif) no-repeat right top
}
.rounded_ll {
	BACKGROUND: url(/hosting/images/ll.gif) no-repeat left bottom
}
.rounded_lr {
	BACKGROUND: url(/hosting/images/lr.gif) no-repeat right bottom
}
.bubble {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TABLE#mt DIV.tc1 {
	BACKGROUND: url(/hosting/images/ul.gif) no-repeat left top; HEIGHT: 4px
}
TABLE#mt DIV.tc2 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: url(/hosting/images/ur.gif) no-repeat right top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 4px
}
TABLE#mt DIV.tT {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: small; PADDING-BOTTOM: 2px; PADDING-TOP: 0px; FONT-FAMILY: arial, sans-serif
}
.t1 TABLE#mt .int1 DIV.tc1 {
	BACKGROUND: url(/hosting/images/ul.gif) no-repeat left top; HEIGHT: 4px
}
.t2 TABLE#mt .int2 DIV.tc1 {
	BACKGROUND: url(/hosting/images/ul.gif) no-repeat left top; HEIGHT: 4px
}
.t3 TABLE#mt .int3 DIV.tc1 {
	BACKGROUND: url(/hosting/images/ul.gif) no-repeat left top; HEIGHT: 4px
}
.t4 TABLE#mt .int4 DIV.tc1 {
	BACKGROUND: url(/hosting/images/ul.gif) no-repeat left top; HEIGHT: 4px
}
.t5 TABLE#mt .int5 DIV.tc1 {
	BACKGROUND: url(/hosting/images/ul.gif) no-repeat left top; HEIGHT: 4px
}
.t6 TABLE#mt .int6 DIV.tc1 {
	BACKGROUND: url(/hosting/images/ul.gif) no-repeat left top; HEIGHT: 4px
}
.t7 TABLE#mt .int7 DIV.tc1 {
	BACKGROUND: url(/hosting/images/ul.gif) no-repeat left top; HEIGHT: 4px
}
.t1 TABLE#mt .int1 DIV.tc2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(/hosting/images/ur.gif) no-repeat right top; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; HEIGHT: 4px
}
.t2 TABLE#mt .int2 DIV.tc2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(/hosting/images/ur.gif) no-repeat right top; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; HEIGHT: 4px
}
.t3 TABLE#mt .int3 DIV.tc2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(/hosting/images/ur.gif) no-repeat right top; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; HEIGHT: 4px
}
.t4 TABLE#mt .int4 DIV.tc2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(/hosting/images/ur.gif) no-repeat right top; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; HEIGHT: 4px
}
.t5 TABLE#mt .int5 DIV.tc2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(/hosting/images/ur.gif) no-repeat right top; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; HEIGHT: 4px
}
.t6 TABLE#mt .int6 DIV.tc2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(/hosting/images/ur.gif) no-repeat right top; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; HEIGHT: 4px
}
.t7 TABLE#mt .int7 DIV.tc2 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(/hosting/images/ur.gif) no-repeat right top; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; HEIGHT: 4px
}
TABLE#mt TH {
	FONT-WEIGHT: bold; CURSOR: pointer; BACKGROUND-COLOR: #e5ecf9; TEXT-ALIGN: center
}
.t1 TABLE#mt TH.int1 {
	BACKGROUND-COLOR: #c3d9ff
}
.t2 TABLE#mt TH.int2 {
	BACKGROUND-COLOR: #c3d9ff
}
.t3 TABLE#mt TH.int3 {
	BACKGROUND-COLOR: #c3d9ff
}
.t4 TABLE#mt TH.int4 {
	BACKGROUND-COLOR: #c3d9ff
}
.t5 TABLE#mt TH.int5 {
	BACKGROUND-COLOR: #c3d9ff
}
.t6 TABLE#mt TH.int6 {
	BACKGROUND-COLOR: #c3d9ff
}
.t7 TABLE#mt TH.int7 {
	BACKGROUND-COLOR: #c3d9ff
}
TABLE#mt TH A {
	COLOR: black; TEXT-DECORATION: none
}
.t5 H4 {
	PADDING-RIGHT: 2px; BORDER-TOP: #3366cc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 4px 4px 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #e5ecf9
}
.t5 .section {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px 4px 1.6em; PADDING-TOP: 4px
}
.t5 .section .submit {
	MARGIN: 8px
}
TABLE.links TH {
	TEXT-ALIGN: left
}
.linkexample {
	FONT-WEIGHT: bold; FONT-SIZE: 83%; COLOR: #777
}
TABLE.st {
	BACKGROUND-COLOR: #c3d9ff
}
TABLE.st SPAN {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.st DIV.stur {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: url(/hosting/images/ur.gif) no-repeat right top; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; HEIGHT: 2px
}
#maincol {
	PADDING-RIGHT: 3px; MARGIN-TOP: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.t5 #maincol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.isf {
	PADDING-RIGHT: 3px; PADDING-LEFT: 4px; BACKGROUND: #c3d9ff; PADDING-BOTTOM: 3px; PADDING-TOP: 4px
}
.at {
	PADDING-RIGHT: 3px; PADDING-LEFT: 4px; BACKGROUND: #c3d9ff; PADDING-BOTTOM: 3px; PADDING-TOP: 4px
}
.isf A {
	COLOR: #0000cc
}
.at A {
	COLOR: #0000cc
}
.isf A:visited {
	COLOR: #0000cc
}
.at A:visited {
	COLOR: #0000cc
}
.linkpreview {
	BORDER-BOTTOM: black 1px dotted
}
#wikipreview {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; BACKGROUND: #e5ecf9; PADDING-BOTTOM: 1em; MARGIN-RIGHT: 2.5em; PADDING-TOP: 1em
}
.st1 .inst1 A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.st2 .inst2 A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.st3 .inst3 A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.st4 .inst4 A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.st5 .inst5 A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.st6 .inst6 A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.debug {
	FONT-SIZE: x-small; COLOR: #444
}
.debug A {
	FONT-SIZE: x-small; COLOR: #444
}
.debug TD {
	BACKGROUND: #ddf
}
.debug TH {
	BACKGROUND: #ddf
}
.debug TH {
	FONT-SIZE: small; FONT-FAMILY: courier; TEXT-ALIGN: left
}
.notice {
	BACKGROUND: #fad163
}
.error {
	BACKGROUND: #fad163
}
.notice B {
	PADDING-RIGHT: 1.2em; PADDING-LEFT: 1.2em; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.error B {
	PADDING-RIGHT: 1.2em; PADDING-LEFT: 1.2em; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.fieldhelp {
	
}
.fielderror {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: red; PADDING-TOP: 4px
}
.tip {
	FONT-SIZE: 92%; BACKGROUND: #e5ecf9; MARGIN: 5px; WIDTH: 14em
}
#pname {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 120%
}
#psum {
	MARGIN-TOP: 3px; FONT-STYLE: italic
}
#license {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0px
}
.vt {
	VERTICAL-ALIGN: top
}
DIV.h4 {
	PADDING-RIGHT: 2px; BORDER-TOP: #3366cc 1px solid; MARGIN-TOP: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; POSITION: relative; BACKGROUND-COLOR: #e5ecf9
}
TABLE.h4 {
	PADDING-RIGHT: 2px; BORDER-TOP: #3366cc 1px solid; MARGIN-TOP: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; POSITION: relative; BACKGROUND-COLOR: #e5ecf9
}
.mainhdr {
	PADDING-RIGHT: 2px; BORDER-TOP: #3366cc 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 133%; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #e5ecf9
}
DIV#serp {
	MARGIN: 0px 20em 0px 0px
}
DIV#serp .labels A:link {
	COLOR: #080
}
DIV#serp .labels A:visited {
	COLOR: #080
}
DIV#serp .labels A:active {
	COLOR: #f00
}
DIV#serp .name {
	MARGIN-TOP: 2ex; FONT-SIZE: 120%
}
H1 {
	MARGIN-TOP: 0px; FONT-SIZE: x-large
}
H2 {
	FONT-SIZE: large
}
H3 {
	FONT-SIZE: medium
}
H4 {
	FONT-SIZE: small
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#gaia {
	TEXT-ALIGN: right
}
#header {
	MARGIN-BOTTOM: -9px; PADDING-TOP: 6px; POSITION: relative; HEIGHT: 55px
}
#logo {
	PADDING-RIGHT: 18px; LEFT: 0px; POSITION: absolute; TOP: 0px
}
#logo IMG {
	WIDTH: 153px; HEIGHT: 55px
}
#title {
	PADDING-LEFT: 3px; MARGIN-LEFT: 171px
}
#breadcrumbs {
	PADDING-LEFT: 3px; MARGIN-LEFT: 171px
}
#title {
	BORDER-TOP: #3366cc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: large; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #e5ecf9
}
#breadcrumbs {
	MARGIN-TOP: 3px
}
#side {
	FLOAT: left; MARGIN-BOTTOM: 3em; WIDTH: 167px
}
#menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menu UL UL {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 10px
}
#menu LI {
	MARGIN-TOP: 4px
}
#menu H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-TOP: 0px
}
#search {
	MARGIN-TOP: 2em
}
#search .header {
	FONT-WEIGHT: bold; FONT-SIZE: 93%; MARGIN-BOTTOM: 1px
}
#search .button {
	MARGIN-TOP: 1px; FONT-SIZE: 115%
}
#search .button INPUT {
	FONT-FAMILY: sans
}
#search .input INPUT {
	FONT-SIZE: 115%; WIDTH: 130px; FONT-FAMILY: sans
}
#body {
	MARGIN-TOP: -7px; PADDING-LEFT: 18px; PADDING-BOTTOM: 25px; MARGIN-LEFT: 169px; BORDER-LEFT: silver 1px dotted; MARGIN-RIGHT: 25px
}
#footer {
	CLEAR: both; BACKGROUND-POSITION: left center; MARGIN-TOP: 3.5em; MARGIN-BOTTOM: 1em; BACKGROUND-REPEAT: no-repeat; HEIGHT: 53px; TEXT-ALIGN: center
}
#footer .text {
	PADDING-TOP: 20px
}
#downloadbox {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
#downloadbox A {
	DISPLAY: block; PADDING-LEFT: 18px; BACKGROUND: url(/hosting/images/dl_arrow.gif) no-repeat left bottom; MARGIN: 6px 0px 0px 3em
}
#wikicontent H3 {
	BORDER-TOP-WIDTH: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
#wikipreview H3 {
	BORDER-TOP-WIDTH: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.wikitable {
	BORDER-COLLAPSE: collapse
}
.wikitable TH {
	BACKGROUND: #e5ecf9
}
.wikitable TH {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaa 1px solid
}
.wikitable TD {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #aaa 1px solid
}
PRE.prettyprint {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 2em; BORDER-LEFT: #ccc 3px solid; PADDING-TOP: 0.5em
}
.prettyprint .str {
	COLOR: #080
}
.prettyprint .kwd {
	COLOR: #008
}
.prettyprint .com {
	COLOR: #800
}
.prettyprint .typ {
	COLOR: #606
}
.prettyprint .lit {
	COLOR: #066
}
.prettyprint .pun {
	COLOR: #660
}
.prettyprint .pln {
	COLOR: #000
}
.prettyprint .tag {
	COLOR: #008
}
.prettyprint .atn {
	COLOR: #606
}
.prettyprint .atv {
	COLOR: #080
}
.prettyprint .dec {
	COLOR: #606
}

@media Print    
{
.prettyprint .str {
	COLOR: #060
}
.prettyprint .kwd {
	FONT-WEIGHT: bold; COLOR: #006
}
.prettyprint .com {
	COLOR: #600; FONT-STYLE: italic
}
.prettyprint .typ {
	FONT-WEIGHT: bold; COLOR: #404
}
.prettyprint .lit {
	COLOR: #044
}
.prettyprint .pun {
	COLOR: #440
}
.prettyprint .pln {
	COLOR: #000
}
.prettyprint .tag {
	FONT-WEIGHT: bold; COLOR: #006
}
.prettyprint .atn {
	COLOR: #404
}
.prettyprint .atv {
	COLOR: #060
}
    }
.closed_ref {
	TEXT-DECORATION: line-through
}
.results TH {
	BORDER-BOTTOM: #bbb 1px solid
}
.results TD {
	BORDER-BOTTOM: #bbb 1px solid
}
.twocol TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; BORDER-BOTTOM: #bbb 1px solid
}
.twocol TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; BORDER-BOTTOM: #bbb 1px solid
}
.results TH {
	BORDER-LEFT: #bbb 1px solid
}
.twocol TH {
	BORDER-LEFT: #bbb 1px solid
}
.results TH {
	PADDING-RIGHT: 1px; BACKGROUND: #e5ecf9; TEXT-ALIGN: left
}
.results TH A {
	PADDING-RIGHT: 12px; BACKGROUND: url(/hosting/images/downarrow.gif) no-repeat right top; COLOR: #0000cc; MARGIN-RIGHT: 12px
}
.results TH A:visited {
	PADDING-RIGHT: 12px; BACKGROUND: url(/hosting/images/downarrow.gif) no-repeat right top; COLOR: #0000cc; MARGIN-RIGHT: 12px
}
.results TD {
	BACKGROUND: #fff
}
.results TD {
	CURSOR: pointer
}
.results TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.results TD A {
	COLOR: #000; TEXT-DECORATION: none
}
.results TD.id A {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
.results TD.id {
	TEXT-ALIGN: right
}
.results TD.id A:visited {
	COLOR: purple; TEXT-DECORATION: underline
}
.results TD.id A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
TABLE.results TR.hover TD A {
	COLOR: #009
}
.p1 {
	BACKGROUND-COLOR: #fcc
}
.notes {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999 0px solid; PADDING-LEFT: 2px; BACKGROUND: #ffc; PADDING-BOTTOM: 2px; BORDER-LEFT: #999 0px solid; WIDTH: 818px; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid
}
.popup {
	BORDER-RIGHT: #66a 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #66a 0px solid; DISPLAY: none; PADDING-LEFT: 2px; BACKGROUND: #eef; PADDING-BOTTOM: 2px; BORDER-LEFT: #66a 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #66a 2px solid; POSITION: absolute
}
.subpopup {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 2px; BORDER-RIGHT-WIDTH: 2px
}
.popup A {
	CURSOR: pointer; TEXT-DECORATION: none
}
.popup TD {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; CURSOR: pointer; TEXT-ALIGN: left
}
.popup TH {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; CURSOR: pointer; TEXT-ALIGN: left
}
.popup TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #0000cc; PADDING-TOP: 2px
}
.popup TR.hover {
	BACKGROUND: #c3d9ff
}
.dialog {
	BORDER-RIGHT: #66a 4px solid; PADDING-RIGHT: 0px; BORDER-TOP: #66a 2px solid; PADDING-LEFT: 0px; BACKGROUND: #eee; PADDING-BOTTOM: 0px; BORDER-LEFT: #66a 2px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #66a 4px solid; POSITION: absolute
}
.dialog H3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; BACKGROUND: #66a; PADDING-BOTTOM: 3px; MARGIN: 0px; COLOR: white; PADDING-TOP: 3px
}
.dialogBody {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.issueref {
	TEXT-DECORATION: none
}
.issueref_closed {
	TEXT-DECORATION: line-through
}
.label {
	COLOR: green! important; TEXT-DECORATION: none
}
.labelediting INPUT {
	COLOR: #060
}
.results .label {
	FONT-SIZE: 80%
}
.label:hover {
	TEXT-DECORATION: underline
}
.twocol TD {
	BORDER-LEFT: #bbb 1px solid; WIDTH: 50%
}
.rowmajor TH {
	TEXT-ALIGN: right
}
.labelediting INPUT {
	MARGIN: 0px 3px 4px 0px
}
TABLE.twocol {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; WIDTH: 40em
}
DIV.twocol {
	WIDTH: 46em
}
.read TD {
	BACKGROUND: #eef
}
.read TH {
	BACKGROUND: #eef
}
.results .selected TD {
	BACKGROUND: #ffc
}
.closed .ifOpened {
	DISPLAY: none
}
.closed .opened SPAN.ifOpened {
	DISPLAY: inline
}
.opened .ifClosed {
	DISPLAY: none
}
.opened .closed SPAN.ifClosed {
	DISPLAY: inline
}
.collapse .ifExpand {
	DISPLAY: none
}
.expand .ifCollapse {
	DISPLAY: none
}
.historywidget {
	BORDER-RIGHT: #669 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #669 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; BACKGROUND: white; FLOAT: right; PADDING-BOTTOM: 1px; BORDER-LEFT: #669 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #669 1px solid
}
#makechangesarea {
	PADDING-RIGHT: 5px; MARGIN-TOP: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.inplace INPUT {
	WIDTH: 100%
}
.inplace TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.h3 {
	FONT-WEIGHT: bolder; FONT-SIZE: 130%
}
INPUT {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px
}
TEXTAREA {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px
}
#issueheader {
	BORDER-RIGHT: #c3d9ff 3px solid; BORDER-TOP: #c3d9ff 3px solid; BACKGROUND: #c3d9ff; MARGIN: 0.5em 0px 0em; BORDER-LEFT: #c3d9ff 3px solid; BORDER-BOTTOM: #c3d9ff 3px solid
}
#issueheader TD {
	BACKGROUND: #c3d9ff
}
.pagination {
	FONT-SIZE: 100%; FLOAT: right; WHITE-SPACE: nowrap
}
.pagination A {
	MARGIN-LEFT: 0.3em; MARGIN-RIGHT: 0.3em
}
.issuepage {
	MARGIN-TOP: 0px
}
.issuepage TD {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.issuecomment {
	BORDER-TOP: #c3d9ff 3px solid
}
.issuedescription PRE {
	OVERFLOW: hidden
}
.issuecomment PRE {
	OVERFLOW: hidden
}
.issuedescription PRE B {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bolder; FONT-SIZE: 110%; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.issuecomment PRE B {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bolder; FONT-SIZE: 110%; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.author {
	MARGIN-BOTTOM: 1em
}
#issuemeta {
	BORDER-RIGHT: #c3d9ff 3px solid; FONT-SIZE: 95%; VERTICAL-ALIGN: top; WIDTH: 12em
}
#issuemeta TABLE TR.hover A {
	TEXT-DECORATION: underline
}
#issuemeta TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
#issuemeta TABLE TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
.updates {
	MARGIN-TOP: 1em; FONT-SIZE: 90%; BACKGROUND: #c3d9ff; WIDTH: 80%
}
.fakelink {
	CURSOR: pointer; COLOR: #0000cc; WHITE-SPACE: nowrap
}
.undef {
	COLOR: #666
}
TD.col_ID {
	TEXT-ALIGN: right
}
TD.searchoptions {
	FONT-SIZE: 80%
}
.hide_col_0 .col_0 {
	DISPLAY: none
}
.hide_col_1 .col_1 {
	DISPLAY: none
}
.hide_col_2 .col_2 {
	DISPLAY: none
}
.hide_col_3 .col_3 {
	DISPLAY: none
}
.hide_col_4 .col_4 {
	DISPLAY: none
}
.hide_col_5 .col_5 {
	DISPLAY: none
}
.hide_col_6 .col_6 {
	DISPLAY: none
}
.hide_col_7 .col_7 {
	DISPLAY: none
}
.hide_col_8 .col_8 {
	DISPLAY: none
}
.hide_col_9 .col_9 {
	DISPLAY: none
}
.hide_col_10 .col_10 {
	DISPLAY: none
}
.hide_col_11 .col_11 {
	DISPLAY: none
}
.hide_col_12 .col_12 {
	DISPLAY: none
}
.hide_col_13 .col_13 {
	DISPLAY: none
}
.hide_col_14 .col_14 {
	DISPLAY: none
}
.hide_col_15 .col_15 {
	DISPLAY: none
}
.hide_col_16 .col_16 {
	DISPLAY: none
}
.hide_col_17 .col_17 {
	DISPLAY: none
}
.hide_col_18 .col_18 {
	DISPLAY: none
}
.hide_col_19 .col_19 {
	DISPLAY: none
}
.hide_col_20 .col_20 {
	DISPLAY: none
}
.hide_Priority_groups .Priority_group {
	DISPLAY: none
}
.hide_Milestone_groups .Milestone_group {
	DISPLAY: none
}
.hide_Status_groups .Status_group {
	DISPLAY: none
}
.Priority_group TD {
	FONT-SIZE: 130%; COLOR: #666; PADDING-TOP: 0.7em
}
.Milestone_group TD {
	FONT-SIZE: 130%; COLOR: #666; PADDING-TOP: 0.7em
}
.Status_group TD {
	FONT-SIZE: 130%; COLOR: #666; PADDING-TOP: 0.7em
}
.hide_col_0 .popup SPAN.col_0 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_1 .popup SPAN.col_1 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_2 .popup SPAN.col_2 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_3 .popup SPAN.col_3 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_4 .popup SPAN.col_4 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_4 .popup SPAN.col_4 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_5 .popup SPAN.col_5 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_6 .popup SPAN.col_6 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_7 .popup SPAN.col_7 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_8 .popup SPAN.col_8 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_9 .popup SPAN.col_9 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_10 .popup SPAN.col_10 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_11 .popup SPAN.col_11 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_12 .popup SPAN.col_12 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_13 .popup SPAN.col_13 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_14 .popup SPAN.col_14 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_14 .popup SPAN.col_14 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_15 .popup SPAN.col_15 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_16 .popup SPAN.col_16 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_17 .popup SPAN.col_17 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_18 .popup SPAN.col_18 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_19 .popup SPAN.col_19 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_20 .popup SPAN.col_20 {
	DISPLAY: inline; COLOR: #eef
}
.hide_col_0 .popup TR.hover SPAN.col_0 {
	COLOR: #c3d9ff
}
.hide_col_1 .popup TR.hover SPAN.col_1 {
	COLOR: #c3d9ff
}
.hide_col_2 .popup TR.hover SPAN.col_2 {
	COLOR: #c3d9ff
}
.hide_col_3 .popup TR.hover SPAN.col_3 {
	COLOR: #c3d9ff
}
.hide_col_4 .popup TR.hover SPAN.col_4 {
	COLOR: #c3d9ff
}
.hide_col_5 .popup TR.hover SPAN.col_5 {
	COLOR: #c3d9ff
}
.hide_col_6 .popup TR.hover SPAN.col_6 {
	COLOR: #c3d9ff
}
.hide_col_7 .popup TR.hover SPAN.col_7 {
	COLOR: #c3d9ff
}
.hide_col_8 .popup TR.hover SPAN.col_8 {
	COLOR: #c3d9ff
}
.hide_col_9 .popup TR.hover SPAN.col_9 {
	COLOR: #c3d9ff
}
.hide_col_10 .popup TR.hover SPAN.col_10 {
	COLOR: #c3d9ff
}
.hide_col_11 .popup TR.hover SPAN.col_11 {
	COLOR: #c3d9ff
}
.hide_col_12 .popup TR.hover SPAN.col_12 {
	COLOR: #c3d9ff
}
.hide_col_13 .popup TR.hover SPAN.col_13 {
	COLOR: #c3d9ff
}
.hide_col_14 .popup TR.hover SPAN.col_14 {
	COLOR: #c3d9ff
}
.hide_col_15 .popup TR.hover SPAN.col_15 {
	COLOR: #c3d9ff
}
.hide_col_16 .popup TR.hover SPAN.col_16 {
	COLOR: #c3d9ff
}
.hide_col_17 .popup TR.hover SPAN.col_17 {
	COLOR: #c3d9ff
}
.hide_col_18 .popup TR.hover SPAN.col_18 {
	COLOR: #c3d9ff
}
.hide_col_19 .popup TR.hover SPAN.col_19 {
	COLOR: #c3d9ff
}
.hide_col_20 .popup TR.hover SPAN.col_20 {
	COLOR: #c3d9ff
}
.results TD TT {
	FONT-WEIGHT: bold; COLOR: #999; FONT-STYLE: italic
}
.notify {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bolder; BACKGROUND: #ec6; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: center; moz-border-radius: 6px
}
TABLE.advquery {
	BORDER-RIGHT: #c3d9ff 3px solid; BORDER-TOP: #c3d9ff 3px solid; BORDER-LEFT: #c3d9ff 3px solid; BORDER-BOTTOM: #c3d9ff 3px solid
}
TABLE.issueimport {
	BORDER-RIGHT: #c3d9ff 3px solid; BORDER-TOP: #c3d9ff 3px solid; BORDER-LEFT: #c3d9ff 3px solid; BORDER-BOTTOM: #c3d9ff 3px solid
}
TABLE.advquery TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
TABLE.issueimport TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
.focus TD {
	BACKGROUND: #c3d9ff
}
#ac-list {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 0px; Z-INDEX: 10; BACKGROUND: #e0ecff; PADDING-BOTTOM: 1px; BORDER-LEFT: #666 1px solid; COLOR: #00c; PADDING-TOP: 0px; BORDER-BOTTOM: #666 1px solid
}
#ac-list {
	FONT-SIZE: 95%
}
#ac-list {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#ac-list TR {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 1px; CURSOR: pointer; PADDING-TOP: 0px
}
#ac-list TH {
	COLOR: #333; TEXT-ALIGN: left
}
#ac-list .selected {
	BACKGROUND: #c3d9ff
}
#ac-list .selected TD {
	BACKGROUND: #c3d9ff
}
#ac-list TD {
	WHITE-SPACE: nowrap
}
#ac-list TH {
	WHITE-SPACE: nowrap
}
#searchrow TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.eg {
	FONT-SIZE: 90%; COLOR: #666
}
#searchtips {
	PADDING-LEFT: 2em
}
#searchtips P {
	MARGIN-LEFT: 2em
}
H3 {
	PADDING-RIGHT: 0.5em; BORDER-TOP: #3366cc 1px solid; PADDING-LEFT: 0.5em; BACKGROUND: #e5ecf9; PADDING-BOTTOM: 0.5ex; MARGIN-RIGHT: 2em; PADDING-TOP: 0.5ex
}
DIV TD .novel {
	COLOR: #430
}
DIV TD .exclconflict {
	COLOR: #a03
}
#submit {
	FONT-WEIGHT: bold
}
TABLE.attachment {
	MARGIN-BOTTOM: 0.75em
}
TABLE.attachment TR TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 95%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.issueEntry .inIssueEntry A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.issueList .inIssueList SPAN {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.issueAdvSearch .inIssueAdvSearch A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.issueSearchTips .inIssueSearchTips A {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.delcom {
	BACKGROUND: #e8e8e8
}
.delcom .rounded_ul {
	BACKGROUND: url(/images/ul-e8.gif) no-repeat left top
}
.delcom .rounded_ur {
	BACKGROUND: url(/images/ur-e8.gif) no-repeat right top
}
.delcom .rounded_ll {
	BACKGROUND: url(/images/ll-e8.gif) no-repeat left bottom
}
.delcom .rounded_lr {
	BACKGROUND: url(/images/lr-e8.gif) no-repeat right bottom
}
.grid TD {
	BORDER-LEFT: #bbb 1px solid
}
.grid TH {
	BORDER-LEFT: #bbb 1px solid
}
.grid .idcount {
	TEXT-ALIGN: left
}
.grid .idcount A {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
.results .id A {
	COLOR: #0000cc; TEXT-DECORATION: underline
}
.grid .idcount A {
	MARGIN-RIGHT: 0.6em
}
.grid .bubble {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
DIV.gridtile {
	BACKGROUND: #c3d9ff; FLOAT: left; MARGIN: 2px; WIDTH: 10em
}
.gridtile TABLE {
	TABLE-LAYOUT: fixed; WIDTH: 100%
}
.gridtile TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; OVERFLOW: hidden; PADDING-TOP: 2px; BORDER-RIGHT-WIDTH: 0px
}
.gridtile TD DIV {
	FONT-SIZE: 90%; LINE-HEIGHT: 100%; HEIGHT: 5.5ex
}
