PRE {
	FONT-SIZE: 100%; LETTER-SPACING: -1px
}
.tip {
	FONT-SIZE: 80%
}
TABLE.results TH A {
	PADDING-RIGHT: 12px; MARGIN-RIGHT: 2px
}
TABLE.results TH A:visited {
	PADDING-RIGHT: 12px; MARGIN-RIGHT: 2px
}
