BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px/20px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #444444; PADDING-TOP: 0px
}
A:link {
	COLOR: #0033cc; TEXT-DECORATION: none
}
body_alink {
	COLOR: #0033cc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0033cc; TEXT-DECORATION: none
}
body_avisited {
	COLOR: #0033cc; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000000; TEXT-DECORATION: underline
}
body_ahover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.page {
	BACKGROUND: #ffffff; WIDTH: 887px
}
.tborder {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid
}
.tcat {
	BACKGROUND: #ffffff; FONT: bold 15px/25px arial, helvetica, sans-serif; COLOR: #006666
}
.tcat A:link {
	COLOR: #006666; TEXT-DECORATION: underline
}
.tcat_alink {
	COLOR: #006666; TEXT-DECORATION: underline
}
.tcat A:visited {
	COLOR: #006666; TEXT-DECORATION: underline
}
.tcat_avisited {
	COLOR: #006666; TEXT-DECORATION: underline
}
.tcat A:hover {
	COLOR: #006666; TEXT-DECORATION: none
}
.tcat A:active {
	COLOR: #006666; TEXT-DECORATION: none
}
.tcat_ahover {
	COLOR: #006666; TEXT-DECORATION: none
}
.thead {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND: #ececec; PADDING-BOTTOM: 15px; COLOR: #000000; PADDING-TOP: 15px; FONT-FAMILY: arial, helvetica, sans-serif
}
.thead A:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
.thead_alink {
	COLOR: #000000; TEXT-DECORATION: underline
}
.thead A:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
.thead_avisited {
	COLOR: #000000; TEXT-DECORATION: underline
}
.thead A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.thead A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.thead_ahover {
	COLOR: #000000; TEXT-DECORATION: none
}
.alt1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.alt1Active {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.alt2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.alt2Active {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND: #f4f4f4; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TD.inlinemod {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; BACKGROUND: #faeece; PADDING-BOTTOM: 5px; COLOR: #434343; LINE-HEIGHT: 20px; PADDING-TOP: 5px
}
.wysiwyg {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; FONT: 11px/15px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #434343; PADDING-TOP: 5px
}
TEXTAREA {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #555555
}
.bginput {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #555555
}
.button {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
SELECT {
	FONT: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
OPTION {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
OPTGROUP {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.smallfont {
	FONT: 11px/15px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.time {
	COLOR: #999999
}
.navbar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: url(/forums/myimages/style/softwaredevelopment/navbits_left.gif) #006666 no-repeat left bottom; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 2px
}
.navbar A:link {
	COLOR: #ecbf41; TEXT-DECORATION: none
}
.navbar_alink {
	COLOR: #ecbf41; TEXT-DECORATION: none
}
.navbar A:visited {
	COLOR: #ecbf41; TEXT-DECORATION: none
}
.navbar_avisited {
	COLOR: #ecbf41; TEXT-DECORATION: none
}
.navbar A:hover {
	COLOR: #ecbf41; TEXT-DECORATION: underline
}
.navbar A:active {
	COLOR: #ecbf41; TEXT-DECORATION: underline
}
.navbar_ahover {
	COLOR: #ecbf41; TEXT-DECORATION: underline
}
.highlight {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; BACKGROUND: #ecbf41; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px
}
.fjsel {
	BACKGROUND: #3e5c92; COLOR: #e0e0f6
}
.fjdpth0 {
	BACKGROUND: #ecbf41
}
.panel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #f2f2f2; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; moz-border-radius: 10px; webkit-border-radius: 10px; border-radius: 10px
}
.panelsurround {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #ffffff; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
LEGEND {
	FONT: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #22229c
}
.vbmenu_control {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #006666; PADDING-BOTTOM: 3px; FONT: bold 11px arial, helvetica, sans-serif; COLOR: #ffffff; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
.vbmenu_control A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_control_alink {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_control A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_control_avisited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_control A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_control A:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_control_ahover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_popup {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; Z-INDEX: 100; BACKGROUND: #e4e4e4; BORDER-LEFT: #bbbbbb 1px solid; COLOR: #555555; BORDER-BOTTOM: #bbbbbb 1px solid; FONT-FAMILY: Arial, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.vbmenu_option {
	BACKGROUND: #e4e4e4; CURSOR: pointer; COLOR: #555555; BORDER-BOTTOM: #c8c8c8 1px dashed; WHITE-SPACE: nowrap
}
.vbmenu_option A:link {
	COLOR: #0033cc
}
.vbmenu_option_alink {
	COLOR: #0033cc
}
.vbmenu_option A:visited {
	COLOR: #0033cc
}
.vbmenu_option_avisited {
	COLOR: #0033cc
}
.vbmenu_option A:hover {
	COLOR: #0033cc
}
.vbmenu_option A:active {
	COLOR: #0033cc
}
.vbmenu_option_ahover {
	COLOR: #0033cc
}
.vbmenu_hilite {
	BACKGROUND: #006666; CURSOR: pointer; COLOR: #ffffff; BORDER-BOTTOM: #c8c8c8 1px dashed; WHITE-SPACE: nowrap
}
.vbmenu_hilite A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite_alink {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite_avisited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite_ahover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.mspaced {
	MARGIN-BOTTOM: 10px
}
DIV.ad_txt {
	FONT-SIZE: 13px; LINE-HEIGHT: 22px
}
.minicolumn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 20px; BORDER-LEFT: #eeeeee 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #eeeeee 1px solid
}
.controlbar {
	POSITION: static
}
IMG.border {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN: 5px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.snippet {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(/forums/dani-images/misc/dani/watermark_snippet.gif) #ffffff no-repeat left top; WIDTH: 650px; FONT-FAMILY: 'courier new'; line-spacing: 16px
}
DIV#content {
	FLOAT: left; WIDTH: 697px
}
DIV.bbquote BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#mainbg {
	BACKGROUND-COLOR: #ececec
}
DIV.columnmargin {
	MARGIN: 0px 0px 20px 20px; BACKGROUND-COLOR: #ffffff
}
DIV.dropcap:first-letter {
	PADDING-RIGHT: 10px; FONT-SIZE: 50px; FLOAT: left; COLOR: #999999; LINE-HEIGHT: 60px
}
IFRAME#ileaderboard {
	WIDTH: 728px; HEIGHT: 90px
}
IFRAME#irectangle {
	WIDTH: 336px; HEIGHT: 280px
}
IFRAME#iskyscraper {
	WIDTH: 160px; HEIGHT: 600px
}
IFRAME {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL.bulleted {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; LIST-STYLE-IMAGE: url(/forums/myimages/statusicon/subforum_new.gif); PADDING-BOTTOM: 0px; MARGIN: 20px 0px 10px 20px; LINE-HEIGHT: 15px; PADDING-TOP: 0px
}
DIV#sponsor {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e1e1e1 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 5px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e1e1e1 1px solid; POSITION: relative; BACKGROUND-COLOR: #ffffff
}
DIV#sponsor A {
	DISPLAY: block; WIDTH: 100%; TEXT-ALIGN: right
}
DIV#sponsor DIV {
	LEFT: 5px; POSITION: absolute; TOP: 5px
}
DIV#sponsor:hover {
	BACKGROUND-COLOR: #f4f4f4
}
.light {
	COLOR: #999999
}
.light A:link {
	COLOR: #999999; TEXT-DECORATION: underline
}
.light A:visited {
	COLOR: #999999; TEXT-DECORATION: underline
}
.light A:hover {
	COLOR: #999999; TEXT-DECORATION: none
}
SPAN.hl0 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; BACKGROUND-COLOR: #ecbf41
}
SPAN.hl1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; BACKGROUND-COLOR: #ecbf41
}
SPAN.hl2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; BACKGROUND-COLOR: #ecbf41
}
SPAN.hl3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; BACKGROUND-COLOR: #ecbf41
}
SPAN.hl4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; BACKGROUND-COLOR: #ecbf41
}
DIV.forumlinkbit {
	FONT-SIZE: 11px; FLOAT: left; WIDTH: 225px; LINE-HEIGHT: 15px; HEIGHT: 30px
}
DIV.quote H2.tags {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 20px 0px 0px; LINE-HEIGHT: 20px
}
DIV.navbar H1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; LINE-HEIGHT: 20px; PADDING-TOP: 0px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
DIV.minishots {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FLOAT: left; MARGIN: 10px; BORDER-LEFT: #000000 1px solid; WIDTH: 120px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 90px
}
DIV#memberlinks DIV.thumbshot {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BACKGROUND: url(/forums/myimages/style/thumbshot.gif) #ffffff no-repeat center 50%; FLOAT: left; MARGIN: 10px; BORDER-LEFT: #000000 1px solid; WIDTH: 200px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 150px
}
DIV#searchlinks DIV.linkbit {
	MARGIN-RIGHT: 50px
}
DIV.big {
	MARGIN-BOTTOM: 10px
}
DIV#forumlinks DIV.links {
	FLOAT: right; WIDTH: 207px
}
DIV#searchlinks DIV.links {
	FLOAT: right; WIDTH: 457px
}
DIV#forumlinks DIV.linkdesc {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 15px
}
.domain {
	MARGIN-TOP: 5px; COLOR: green; TEXT-DECORATION: none
}
.domain A:link {
	COLOR: green; TEXT-DECORATION: underline
}
.domain A:visited {
	COLOR: green; TEXT-DECORATION: underline
}
.domain A:hover {
	TEXT-DECORATION: none
}
DIV.thumbshot {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BACKGROUND: url(/forums/myimages/style/thumbshot.gif) #ffffff no-repeat center 50%; BORDER-LEFT: #000000 1px solid; WIDTH: 340px; MARGIN-RIGHT: 20px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 255px
}
DIV.searchshots {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BACKGROUND: url(/forums/myimages/style/thumbshot.gif) #ffffff no-repeat center 50%; FLOAT: left; BORDER-LEFT: #000000 1px solid; WIDTH: 200px; MARGIN-RIGHT: 20px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 150px
}
DIV.thumbshots {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FLOAT: left; MARGIN: 0px 10px 10px 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 120px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 90px
}
DIV.privatemessage {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 0px solid; BACKGROUND: #ffffff; MARGIN-BOTTOM: 20px; BORDER-LEFT: #bbbbbb 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #bbbbbb 1px solid
}
CODE.inlinecode {
	PADDING-RIGHT: 5px; DISPLAY: inline; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 2px; BACKGROUND-COLOR: #fdf8eb
}
H1.heading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(/forums/myimages/misc/dani/heading.gif) no-repeat left top; PADDING-BOTTOM: 0px; LINE-HEIGHT: 35px; PADDING-TOP: 5px
}
DIV.bbquote {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 10px; BORDER-LEFT: #cccccc 1px solid; COLOR: #444444; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eeeeee
}
DIV.box DIV.bbquote {
	BACKGROUND-COLOR: #ffffff
}
DIV.bbquote DIV.bbquote {
	BACKGROUND-COLOR: #ffffff
}
DIV.buddybit {
	FONT-SIZE: 13px; FLOAT: left; MARGIN: 10px; WIDTH: 175px
}
#login TD {
	PADDING-LEFT: 10px
}
P.userlist A {
	COLOR: #666666
}
SPAN.poster A {
	COLOR: #666666
}
P.userlist {
	COLOR: #999999
}
.category UL {
	BORDER-RIGHT: #989898 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #989898 0px solid; DISPLAY: none; PADDING-LEFT: 15px; FONT-SIZE: 11px; Z-INDEX: 100; BACKGROUND: url(/forums/dani-images/misc/dani/menu.jpg) #efefef repeat-x; PADDING-BOTTOM: 15px; MARGIN: 0px; BORDER-LEFT: #989898 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #989898 1px solid; FONT-FAMILY: arial, helvetica, sans-serif; LIST-STYLE-TYPE: none
}
.category {
	POSITION: relative
}
.category:hover {
	Z-INDEX: 100
}
.category:hover UL {
	DISPLAY: block; Z-INDEX: 100; LEFT: 0px; WIDTH: 180px; WHITE-SPACE: normal; POSITION: absolute; TOP: 23px; BACKGROUND-COLOR: #efefef
}
.category UL LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bolder; Z-INDEX: 100; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.category:hover UL LI:hover A:hover {
	COLOR: #000000
}
.category UL LI DIV.rule {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 5px; PADDING-TOP: 2px
}
.category UL LI A {
	DISPLAY: block; TEXT-DECORATION: none
}
DIV.authorbox {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(/forums/myimages/style/author.gif) #666666 no-repeat left top; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 10px; COLOR: #efefef; PADDING-TOP: 35px; moz-border-radius: 10px; webkit-border-radius: 10px; border-radius: 10px
}
DIV.authorbox A:link {
	COLOR: #efefef; TEXT-DECORATION: underline
}
DIV.authorbox A:visited {
	COLOR: #efefef; TEXT-DECORATION: underline
}
DIV.authorbox A:hover {
	TEXT-DECORATION: none
}
DIV.border {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e1e1e1 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #e1e1e1 1px solid
}
.code {
	COLOR: black
}
.code .imp {
	
}
.code .kw1 {
	FONT-WEIGHT: bold; COLOR: purple
}
.code .kw2 {
	FONT-WEIGHT: bold; COLOR: purple
}
.code .kw3 {
	FONT-WEIGHT: bold; COLOR: purple
}
.code .kw4 {
	FONT-WEIGHT: bold; COLOR: purple
}
.code .co1 {
	COLOR: green
}
.code .co2 {
	COLOR: green
}
.code .coMULTI {
	COLOR: green; FONT-STYLE: italic
}
.code .es0 {
	FONT-WEIGHT: bold; COLOR: blue
}
.code .br0 {
	FONT-WEIGHT: bold; COLOR: gray
}
.code .st0 {
	COLOR: blue
}
.code .nu0 {
	COLOR: red
}
.code .me1 {
	
}
.code .me2 {
	
}
DIV#column UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(/forums/myimages/statusicon/subforum_new.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 20px 10px; PADDING-TOP: 0px
}
DIV#column DIV.border UL {
	MARGIN-LEFT: 15px
}
DIV#column DIV.featured UL {
	MARGIN-LEFT: 15px
}
LI {
	MARGIN-BOTTOM: 5px
}
DIV.entries DIV {
	MARGIN-BOTTOM: 20px
}
.spaced {
	MARGIN-BOTTOM: 20px
}
DIV.quote {
	BORDER-RIGHT: #bbbbbb 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #bbbbbb 0px solid; PADDING-LEFT: 20px; OVERFLOW-X: hidden; PADDING-BOTTOM: 0px; BORDER-LEFT: #bbbbbb 1px solid; PADDING-TOP: 20px; BORDER-BOTTOM: #bbbbbb 0px solid; BACKGROUND-COLOR: #ffffff
}
DIV#code1 {
	FONT-SIZE: 13px; LINE-HEIGHT: 18px
}
DIV#code2 {
	FONT-SIZE: 13px; LINE-HEIGHT: 18px
}
TEXTAREA.code {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; WIDTH: 100%; COLOR: #000000; BORDER-BOTTOM: #bbbbbb 1px solid; FONT-FAMILY: 'courier new'; HEIGHT: 500px
}
DIV#code2 TEXTAREA.code {
	FONT-SIZE: 12px
}
PRE.code {
	LINE-HEIGHT: 16px
}
PRE.code LI {
	MARGIN: 0px
}
PRE {
	WHITE-SPACE: pre; WORD-WRAP: break-word
}
DIV.codeblock {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 20px 0px; COLOR: #000000; PADDING-TOP: 10px; BACKGROUND-COLOR: #fdf8eb
}
DIV.bbquote DIV.codeblock {
	BACKGROUND-COLOR: #ffffff
}
H1.languagebit {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 180px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
DIV.featured {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e1e1e1 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #e1e1e1 1px solid; BACKGROUND-COLOR: #f4f4f4
}
DIV#miniforumlist {
	BORDER-RIGHT: #bbbbbb 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #bbbbbb 1px solid; PADDING-LEFT: 10px; OVERFLOW-X: hidden; PADDING-BOTTOM: 10px; BORDER-LEFT: #bbbbbb 1px solid; WIDTH: 315px; PADDING-TOP: 10px; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #fdf8eb
}
DIV#miniforumlist H1 {
	LINE-HEIGHT: 30px
}
DIV#miniforumlist DIV.forum {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 25px; PADDING-TOP: 2px; BORDER-RIGHT-WIDTH: 0px
}
DIV#miniforumlist DIV.forum DIV.forumtitle {
	FONT-SIZE: 11px
}
TABLE#threadslist {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV.box DIV.form INPUT {
	MARGIN-BOTTOM: 10px
}
DIV.box DIV.form SELECT {
	MARGIN-BOTTOM: 10px
}
DIV.box DIV.form TEXTAREA {
	MARGIN-BOTTOM: 10px
}
DIV.box DIV.messagearea {
	MARGIN-BOTTOM: 10px; WIDTH: 585px
}
DIV.box DIV.commentarea {
	MARGIN-BOTTOM: 10px; WIDTH: 450px
}
DIV.tagcloud {
	LINE-HEIGHT: 30px
}
DIV.tagcloud A {
	TEXT-DECORATION: none
}
DIV.tagcloud A:hover {
	BACKGROUND-COLOR: #cccccc
}
DIV.userinfo {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(/forums/myimages/style/quote.gif) #eeeeee no-repeat left bottom; PADDING-BOTTOM: 30px; PADDING-TOP: 10px; moz-border-radius-topright: 10px; moz-border-radius-topleft: 10px; webkit-border-radius-topleft: 10px; webkit-border-radius-topright: 10px; border-top-right-radius: 10px; border-top-left-radius: 10px
}
DIV.quote DIV.rule {
	MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px
}
DIV.portalentry {
	BORDER-RIGHT: #bbbbbb 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #bbbbbb 1px solid; PADDING-LEFT: 20px; OVERFLOW-X: hidden; PADDING-BOTTOM: 0px; BORDER-LEFT: #bbbbbb 1px solid; PADDING-TOP: 20px; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #ffffff; moz-border-radius: 10px; webkit-border-radius: 10px; border-radius: 10px
}
DIV.bottomquote {
	BACKGROUND: url(/forums/myimages/style/bottomquote.gif) #ffffff no-repeat left bottom; MARGIN-BOTTOM: 20px; HEIGHT: 14px
}
DIV.topquote {
	MARGIN-TOP: 20px; BACKGROUND: url(/forums/myimages/style/topquote.gif) #ffffff no-repeat left top; HEIGHT: 14px
}
#tooltip {
	BORDER-RIGHT: #bbbbbb 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #bbbbbb 1px solid; DISPLAY: none; PADDING-LEFT: 10px; FILTER: alpha(opacity=90); PADDING-BOTTOM: 10px; OVERFLOW: hidden; BORDER-LEFT: #bbbbbb 1px solid; WIDTH: 200px; PADDING-TOP: 10px; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #fdf8eb; moz-border-radius: 20px; webkit-border-radius: 20px; border-radius: 20px; opacity: 0.90
}
.tooltiphome#tooltip {
	BACKGROUND-COLOR: #ffffff
}
.tooltipshot#tooltip {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(/forums/myimages/style/thumbshot.gif) #ffffff no-repeat center 50%; FILTER: alpha(opacity=100); PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 240px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 180px; moz-border-radius: 0px; webkit-border-radius: 0px; border-radius: 0px; opacity: 1.00
}
#tooltip H3 {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #444444; LINE-HEIGHT: 20px
}
#tooltip .body {
	DISPLAY: none
}
#tooltip .url {
	DISPLAY: none
}
.tooltipshot#tooltip H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.deleted {
	COLOR: #bbbbbb
}
.deleted A {
	COLOR: #bbbbbb
}
.deleted H1 {
	COLOR: #bbbbbb
}
DIV.rule {
	MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 20px; BORDER-BOTTOM: #bbbbbb 1px dashed
}
DIV.cell {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 135px; PADDING-TOP: 10px
}
#column {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FLOAT: right; PADDING-BOTTOM: 20px; BORDER-LEFT: #eeeeee 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #eeeeee 1px solid
}
.column {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FLOAT: right; PADDING-BOTTOM: 20px; BORDER-LEFT: #eeeeee 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #eeeeee 1px solid
}
.mediumfont {
	FONT-SIZE: 13px
}
DIV#ad_welcomerectangle {
	FLOAT: right; MARGIN-LEFT: 20px; WIDTH: 300px; HEIGHT: 250px
}
DIV.ad_wideskyscraper {
	WIDTH: 160px; HEIGHT: 600px
}
DIV.ad_rectangle {
	MARGIN-BOTTOM: 20px; WIDTH: 336px; HEIGHT: 280px
}
DIV.ad_mediumrectangle {
	MARGIN-BOTTOM: 20px; WIDTH: 300px; HEIGHT: 250px
}
DIV.ad_banner {
	WIDTH: 468px; HEIGHT: 60px
}
DIV.ad_halfbanner {
	WIDTH: 234px; HEIGHT: 60px
}
DIV.ad_leaderboard {
	WIDTH: 728px; HEIGHT: 90px
}
DIV.ad_linkunit {
	WIDTH: 468px; HEIGHT: 15px
}
DIV.bold A:link {
	FONT-WEIGHT: bold; COLOR: #444444; TEXT-DECORATION: none
}
DIV.bold A:visited {
	FONT-WEIGHT: bold; COLOR: #444444; TEXT-DECORATION: none
}
DIV.bold A:hover {
	TEXT-DECORATION: underline
}
DIV#navtitle {
	MARGIN-BOTTOM: 20px; WIDTH: 697px
}
DIV#navtitle H1 {
	PADDING-RIGHT: 15px; DISPLAY: inline; PADDING-LEFT: 15px; FONT-SIZE: 20px; PADDING-BOTTOM: 5px; COLOR: #ffffff; LINE-HEIGHT: 30px; PADDING-TOP: 5px; FONT-FAMILY: arial, helvetica, sans-serif
}
DIV#heading {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #bfbfbf; moz-border-radius-topright: 10px; moz-border-radius-topleft: 10px; webkit-border-radius-topleft: 10px; webkit-border-radius-topright: 10px; border-top-right-radius: 10px; border-top-left-radius: 10px
}
DIV#subforumheading {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #bfbfbf; moz-border-radius-topright: 10px; moz-border-radius-topleft: 10px; webkit-border-radius-topleft: 10px; webkit-border-radius-topright: 10px; border-top-right-radius: 10px; border-top-left-radius: 10px
}
DIV#submenu DIV.box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV#submenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV#submenu LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; PADDING-TOP: 5px; BORDER-BOTTOM: #ffffff 1px solid
}
DIV#submenu UL UL LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; TEXT-TRANSFORM: none; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV#submenu LI:hover {
	BACKGROUND: #e1e1e1
}
DIV#submenu UL A {
	DISPLAY: block; COLOR: #000000; TEXT-DECORATION: none
}
DIV#submenu UL UL A {
	COLOR: #444444
}
DIV#submenu UL UL A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
DIV#heading .portal {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #bfbfbf
}
DIV#heading A:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
DIV#heading A:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
DIV#heading A:hover {
	TEXT-DECORATION: none
}
TABLE#threadslist TD {
	BORDER-BOTTOM: #bbbbbb 1px dashed; BACKGROUND-COLOR: #ffffff
}
DIV#sidebar DIV.heading {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; LINE-HEIGHT: 20px; PADDING-TOP: 5px
}
DIV#sidebar DIV.heading A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
DIV#sidebar DIV.heading A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
DIV#sidebar_corner {
	DISPLAY: inline; FLOAT: right; WIDTH: 190px
}
#sidebar DIV.body {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: url(/forums/myimages/style/sidebar_br.gif) #ececec no-repeat right bottom; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 20px; PADDING-TOP: 5px
}
#sidebar DIV.body UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 15px; PADDING-TOP: 5px; LIST-STYLE-TYPE: square
}
#sidebar DIV.body UL LI SPAN.dowhen {
	DISPLAY: block
}
#sidebar DIV.heading A {
	DISPLAY: block
}
#sidebar DIV.body UL UL {
	PADDING-LEFT: 15px
}
#sidebar DIV.search_body {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bolder; FONT-SIZE: 13px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; COLOR: #ecbf41; LINE-HEIGHT: 25px; PADDING-TOP: 30px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
#sidebar DIV.search_body A:link {
	COLOR: #ecbf41; TEXT-DECORATION: underline
}
#sidebar DIV.search_body A:visited {
	COLOR: #ecbf41; TEXT-DECORATION: underline
}
#sidebar DIV.search_body A:hover {
	TEXT-DECORATION: none
}
DIV#sidebar {
	FLOAT: right; MARGIN-LEFT: 20px; WIDTH: 170px; FONT-FAMILY: arial, helvetica, sans-serif
}
DIV#menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 887px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 25px; BACKGROUND-COLOR: #e4e4e4
}
DIV#leaderboard {
	FLOAT: right; WIDTH: 728px; HEIGHT: 90px
}
DIV#skyscraper {
	WIDTH: 160px; HEIGHT: 600px
}
DIV#login {
	FONT-SIZE: 12px; BACKGROUND: url(/forums/myimages/style/login_l.gif) #ececec no-repeat left bottom; MARGIN-BOTTOM: 10px; WIDTH: 750px; COLOR: #565656; FONT-FAMILY: arial, helvetica, sans-serif; TEXT-ALIGN: center
}
DIV#login DIV {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(/forums/myimages/style/login_r.gif) no-repeat right bottom; PADDING-BOTTOM: 5px; LINE-HEIGHT: 30px; PADDING-TOP: 5px; HEIGHT: 30px
}
DIV#login A:link {
	FONT-WEIGHT: bolder; COLOR: #565656; TEXT-DECORATION: none
}
DIV#login A:visited {
	FONT-WEIGHT: bolder; COLOR: #565656; TEXT-DECORATION: none
}
DIV#login A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
DIV.top {
	BACKGROUND: url(/forums/myimages/style/top.gif) #ffffff no-repeat; WIDTH: 927px; HEIGHT: 22px
}
DIV.bottom {
	BACKGROUND: url(/forums/myimages/style/bottom.gif) #ffffff no-repeat; MARGIN-BOTTOM: 20px; WIDTH: 927px; HEIGHT: 22px
}
DIV.thinborder {
	PADDING-BOTTOM: 20px; WIDTH: 927px; PADDING-TOP: 20px; TEXT-ALIGN: left
}
DIV.thincontainer {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; WIDTH: 887px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV.right_title {
	FONT-WEIGHT: bold; FLOAT: right
}
DIV.forumdesc {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #eeeeee
}
DIV.forum {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 30px; PADDING-TOP: 5px
}
DIV.forum_portal {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 30px; PADDING-TOP: 5px
}
DIV.forum_portal {
	FONT-SIZE: 11px; LINE-HEIGHT: 20px
}
DIV#main DIV.forum {
	FONT-SIZE: 11px; LINE-HEIGHT: 20px
}
DIV#subforums DIV.forum_portal {
	FONT-SIZE: 12px; LINE-HEIGHT: 30px
}
DIV.forum DIV.count {
	FLOAT: right; WIDTH: 80px; TEXT-ALIGN: right
}
DIV.forum_portal DIV.count {
	FONT-SIZE: 11px; FLOAT: right; WIDTH: 60px; TEXT-ALIGN: right
}
DIV#main DIV.forum DIV.count {
	FONT-SIZE: 11px; FLOAT: right; WIDTH: 60px; TEXT-ALIGN: right
}
DIV#subforums DIV.forum_portal DIV.count {
	FONT-SIZE: 12px; WIDTH: 80px
}
DIV.forum_portal DIV.lastpostinfo {
	FONT-SIZE: 10px; FLOAT: right; TEXT-ALIGN: right
}
DIV#main DIV.forum DIV.lastpostinfo {
	FONT-SIZE: 10px; FLOAT: right; TEXT-ALIGN: right
}
DIV#subforums DIV.forum_portal DIV.lastpostinfo {
	FONT-SIZE: 11px
}
DIV.forum DIV.lastpostinfo {
	FLOAT: right; TEXT-ALIGN: right
}
DIV.forum DIV.forumtitle {
	FLOAT: left
}
DIV.box {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #eeeeee; moz-border-radius: 10px; webkit-border-radius: 10px; border-radius: 10px
}
DIV.box P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px
}
DIV.quote H2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px
}
DIV.box H2 {
	DISPLAY: inline; FONT-SIZE: 14px; LINE-HEIGHT: 40px; FONT-FAMILY: arial, helvetica, sans-serif
}
.big {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LINE-HEIGHT: 25px; FONT-FAMILY: arial, helvetica, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; LINE-HEIGHT: 30px; FONT-FAMILY: arial, helvetica, sans-serif
}
.h1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; LINE-HEIGHT: 30px; FONT-FAMILY: arial, helvetica, sans-serif
}
H1 A:link {
	TEXT-DECORATION: underline
}
H1 A:visited {
	TEXT-DECORATION: underline
}
.h1 A:link {
	TEXT-DECORATION: underline
}
.h1 A:visited {
	TEXT-DECORATION: underline
}
H1 A:hover {
	TEXT-DECORATION: none
}
.h1 A:hover {
	TEXT-DECORATION: none
}
DIV.entries H1 {
	DISPLAY: inline; LINE-HEIGHT: 25px
}
DIV.entries H1 A:link {
	COLOR: #0033cc; TEXT-DECORATION: none
}
DIV.entries H1 A:visited {
	COLOR: #0033cc; TEXT-DECORATION: none
}
DIV.entries H1 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.bigusername {
	FONT-SIZE: 18px; LINE-HEIGHT: 25px; FONT-FAMILY: arial, helvetica, sans-serif
}
.pagenav {
	FONT-SIZE: 12px; LINE-HEIGHT: 12px
}
.pagenav TD.alt2 {
	BACKGROUND-COLOR: #ffffff
}
.pagenav TD.alt1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.pagenav TD.alt2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.pagenav TD A {
	FONT-SIZE: 12px; MARGIN-LEFT: 2px; LINE-HEIGHT: 12px
}
.pagenav TD SPAN {
	FONT-SIZE: 12px; MARGIN-LEFT: 2px; LINE-HEIGHT: 12px
}
.pagenav TD.alt2 SPAN {
	BORDER-LEFT-COLOR: #bbbbbb; BORDER-BOTTOM-COLOR: #bbbbbb; BORDER-TOP-COLOR: #bbbbbb; BACKGROUND-COLOR: #f4f4f4; BORDER-RIGHT-COLOR: #bbbbbb
}
.pagenav TD A {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e1e1e1 1px solid; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e1e1e1 1px solid
}
.pagenav TD SPAN {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e1e1e1 1px solid; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #e1e1e1 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #e1e1e1 1px solid
}
.pagenav TD A:hover {
	BORDER-LEFT-COLOR: #bbbbbb; BORDER-BOTTOM-COLOR: #bbbbbb; COLOR: #000000; BORDER-TOP-COLOR: #bbbbbb; BORDER-RIGHT-COLOR: #bbbbbb
}
TD.thead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV.thead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.pagenav A {
	TEXT-DECORATION: none
}
.fieldset {
	MARGIN-BOTTOM: 6px
}
.fieldset {
	FONT-SIZE: 11px
}
.fieldset TD {
	FONT-SIZE: 11px
}
.fieldset P {
	FONT-SIZE: 11px
}
.fieldset LI {
	FONT-SIZE: 11px
}
FORM {
	DISPLAY: inline
}
LABEL {
	CURSOR: default
}
.normal {
	FONT-WEIGHT: normal
}
.inlineimg {
	VERTICAL-ALIGN: middle
}
TEXTAREA.watermark {
	BACKGROUND: url(/forums/dani-images/misc/dani/watermark_code.gif) #ffffff no-repeat left top
}
DIV#background {
	BACKGROUND-COLOR: #006666
}
DIV#sidebar_corner {
	BACKGROUND: url(/forums/myimages/style/softwaredevelopment/search_left.gif) no-repeat left top
}
DIV#navtitle {
	BACKGROUND: url(/forums/myimages/style/softwaredevelopment/nav_b.gif) #006666
}
DIV#navtitle DIV {
	BACKGROUND: url(/forums/myimages/style/softwaredevelopment/nav_l.gif) repeat-y left top
}
DIV#navtitle DIV DIV {
	BACKGROUND: url(/forums/myimages/style/softwaredevelopment/nav_r.gif) repeat-y right top
}
#sidebar DIV.search_body {
	BACKGROUND-COLOR: #006666
}
DIV#sidebar DIV.heading {
	BACKGROUND: url(/forums/myimages/style/softwaredevelopment/header.gif) #006666 no-repeat right top
}
FIELDSET LEGEND {
	COLOR: #006666
}
#sidebar DIV.body {
	COLOR: #006666
}
H1 {
	COLOR: #006666
}
.h1 {
	COLOR: #006666
}
H1 A:link {
	COLOR: #006666
}
H1 A:visited {
	COLOR: #006666
}
.h1 A:link {
	COLOR: #006666
}
.h1 A:visited {
	COLOR: #006666
}
DIV.category UL LI A:link {
	COLOR: #006666
}
DIV.category UL LI A:visited {
	COLOR: #006666
}
