.mstheme {
	separator-image: url(anarule.gif); list-image-1: url(anabull1.gif); list-image-2: url(anabull2.gif); list-image-3: url(anabull3.gif); nav-banner-image: url(anabnr2.gif); navbutton-horiz-normal: url(nahbs.gif); navbutton-horiz-hovered: url(nahbh.gif); navbutton-horiz-pushed: url(nahbp.gif); navbutton-vert-normal: url(navbs.gif); navbutton-vert-hovered: url(navbh.gif); navbutton-vert-pushed: url(navbp.gif); navbutton-home-normal: url(nahomes.gif); navbutton-home-hovered: url(nahomeh.gif); navbutton-home-pushed: url(nahomes.gif); navbutton-next-normal: url(nanexts.gif); navbutton-next-hovered: url(nanexth.gif); navbutton-next-pushed: url(nanexts.gif); navbutton-prev-normal: url(naprevs.gif); navbutton-prev-hovered: url(naprevh.gif); navbutton-prev-pushed: url(naprevs.gif); navbutton-up-normal: url(naups.gif); navbutton-up-hovered: url(nauph.gif); navbutton-up-pushed: url(naups.gif)
}
.mstheme-bannertxt {
	FONT-WEIGHT: normal; FONT-SIZE: 5px; COLOR: rgb(0,0,0); FONT-STYLE: normal; FONT-FAMILY: Arial,Helvetica
}
.mstheme-horiz-navtxt {
	FONT-WEIGHT: normal; FONT-SIZE: 3px; VERTICAL-ALIGN: middle; COLOR: rgb(0,0,0); FONT-STYLE: normal; FONT-FAMILY: Maiandra GD; TEXT-ALIGN: center
}
.mstheme-vert-navtxt {
	FONT-WEIGHT: normal; FONT-SIZE: 2px; COLOR: rgb(0,0,0); FONT-STYLE: normal; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.mstheme-navtxthome {
	FONT-WEIGHT: normal; FONT-SIZE: 1px; COLOR: rgb(0,0,0); FONT-STYLE: normal; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.mstheme-navtxtnext {
	FONT-WEIGHT: normal; FONT-SIZE: 1px; COLOR: rgb(0,0,0); FONT-STYLE: normal; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.mstheme-navtxtprev {
	FONT-WEIGHT: normal; FONT-SIZE: 1px; COLOR: rgb(0,0,0); FONT-STYLE: normal; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.mstheme-navtxtup {
	FONT-WEIGHT: normal; FONT-SIZE: 1px; COLOR: rgb(0,0,0); FONT-STYLE: normal; FONT-FAMILY: trebuchet ms,arial,helvetica
}
UL {
	LIST-STYLE-IMAGE: url(anabull1.gif)
}
UL UL {
	LIST-STYLE-IMAGE: url(anabull2.gif)
}
UL UL UL {
	LIST-STYLE-IMAGE: url(anabull3.gif)
}
A:link {
	COLOR: rgb(0,0,0)
}
A:active {
	COLOR: rgb(0,0,0)
}
A:visited {
	COLOR: rgb(128,0,0)
}
BODY {
	COLOR: rgb(0,0,0); BACKGROUND-COLOR: rgb(255,255,255)
}
TABLE {
	BORDER-LEFT-COLOR: rgb(153,102,0); BORDER-BOTTOM-COLOR: rgb(153,102,0); BORDER-TOP-COLOR: rgb(153,102,0); BORDER-RIGHT-COLOR: rgb(153,102,0); table-border-color-light: rgb(153, 102, 0); table-border-color-dark: rgb(153, 102, 0)
}
TH {
	BORDER-LEFT-COLOR: rgb(153,102,0); BORDER-BOTTOM-COLOR: rgb(153,102,0); BORDER-TOP-COLOR: rgb(153,102,0); BORDER-RIGHT-COLOR: rgb(153,102,0)
}
TD {
	BORDER-LEFT-COLOR: rgb(153,102,0); BORDER-BOTTOM-COLOR: rgb(153,102,0); BORDER-TOP-COLOR: rgb(153,102,0); BORDER-RIGHT-COLOR: rgb(153,102,0)
}
H1 {
	COLOR: rgb(0,0,0)
}
H2 {
	
}
H3 {
	COLOR: rgb(0,0,0)
}
H4 {
	COLOR: rgb(0,0,0)
}
H5 {
	COLOR: rgb(0,0,0)
}
H6 {
	COLOR: rgb(0,0,0)
}
HR {
	COLOR: rgb(51,102,51)
}
BUTTON {
	
}
LABEL {
	
}
.mstheme-text {
	
}
TEXTAREA {
	
}
FIELDSET {
	COLOR: rgb(0,0,0)
}
LEGEND {
	COLOR: rgb(0,0,0)
}
SELECT {
	COLOR: rgb(0,0,0)
}
CAPTION {
	COLOR: rgb(0,0,0)
}
.ms-addnew {
	FONT-WEIGHT: normal; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-alerttext {
	COLOR: #db6751; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-alternating {
	BACKGROUND-COLOR: #d4dbb8
}
.ms-announcementtitle {
	FONT-WEIGHT: bold
}
.ms-appt {
	BORDER-RIGHT: #669966 2px solid; BORDER-TOP: #669966 2px solid; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #669966 2px solid; COLOR: #000000; BORDER-BOTTOM: #669966 2px solid; HEIGHT: 18px; TEXT-OVERFLOW: ellipsis; BACKGROUND-COLOR: #333399; TEXT-ALIGN: center
}
.ms-appt A {
	COLOR: #993333
}
.ms-appt A:hover {
	COLOR: #ff6600
}
.ms-apptsingle {
	BORDER-RIGHT: #336633 1px solid; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #336633 1px solid; COLOR: #000000; HEIGHT: 18px; TEXT-OVERFLOW: ellipsis
}
.ms-authoringcontrols {
	COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #d4dbb8
}
.ms-back {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 2px; BACKGROUND-COLOR: #d4dbb8
}
.ms-banner {
	COLOR: #859933; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-banner A:link {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-banner A:visited {
	FONT-WEIGHT: bold; COLOR: #ffffff; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-bannerframe {
	BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #4d4d4d
}
.ms-grheaderbackground {
	BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #4d4d4d
}
.ms-stormefree {
	BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #4d4d4d
}
.ms-bodyareaframe {
	BORDER-LEFT-COLOR: #859933; BORDER-BOTTOM-COLOR: #859933; BORDER-TOP-COLOR: #859933; BORDER-RIGHT-COLOR: #859933
}
.ms-cal {
	TABLE-LAYOUT: fixed; CURSOR: default; FONT-FAMILY: trebuchet ms,arial,helvetica; BORDER-COLLAPSE: collapse
}
.ms-calallday {
	VERTICAL-ALIGN: top; WIDTH: 10%; HEIGHT: 12px; TEXT-ALIGN: center
}
.ms-calbot {
	BORDER-RIGHT: #669966 1px solid; BORDER-TOP: medium none; BORDER-LEFT: #669966 1px solid; BORDER-BOTTOM: #669966 1px solid; HEIGHT: 2px
}
.ms-caldmidhalfhour {
	BORDER-LEFT-COLOR: #669966; BORDER-BOTTOM-COLOR: #669966; BORDER-TOP-COLOR: #669966; HEIGHT: 20px; BORDER-RIGHT-COLOR: #669966
}
.ms-caldmidhour {
	BORDER-LEFT-COLOR: #669966; BORDER-BOTTOM-COLOR: #669966; BORDER-TOP-COLOR: #669966; HEIGHT: 20px; BORDER-RIGHT-COLOR: #669966
}
.ms-caldmidquarterhour {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; HEIGHT: 20px
}
.ms-caldow {
	BORDER-RIGHT: #669966 1px solid; BORDER-TOP: #669966 1px solid; FONT-WEIGHT: bold; VERTICAL-ALIGN: top; BORDER-LEFT: #669966 1px solid; COLOR: #000000; HEIGHT: 20px; TEXT-ALIGN: center
}
.ms-caldowdown {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-ALIGN: center
}
.ms-caldown {
	VERTICAL-ALIGN: top; COLOR: #000000
}
.ms-caldspacer {
	BORDER-RIGHT: #669966 1px solid; BORDER-LEFT: #669966 1px solid; HEIGHT: 4px
}
.ms-calhalfhour {
	BORDER-TOP: #859933 1px solid; VERTICAL-ALIGN: top; HEIGHT: 12px
}
.ms-calhead {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 2px; BORDER-TOP: medium none; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: medium none; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #000000; TEXT-ALIGN: center
}
.ms-calhour {
	BORDER-TOP: #669966 1px solid; VERTICAL-ALIGN: top; WIDTH: 10%; HEIGHT: 12px
}
.ms-calmid {
	BORDER-RIGHT: #669966 1px solid; BORDER-LEFT: #669966 1px solid; HEIGHT: 20px
}
.ms-calquarterhour {
	BORDER-TOP: 0px; VERTICAL-ALIGN: top; HEIGHT: 12px
}
.ms-calspacer {
	BORDER-RIGHT: #669966 1px solid; BORDER-LEFT: #669966 1px solid; HEIGHT: 4px
}
.ms-caltop {
	BORDER-RIGHT: #669966 1px solid; BORDER-TOP: #669966 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #669966 1px solid; WIDTH: 14%; HEIGHT: 30px
}
.ms-calvspacer {
	WIDTH: 0px; BACKGROUND-COLOR: #669966
}
.ms-categorytitle {
	FONT-WEIGHT: bold; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-connerror {
	COLOR: #db6751
}
.ms-dappt {
	BORDER-RIGHT: #669966 2px solid; BORDER-TOP: #669966 2px solid; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #669966 2px solid; COLOR: #000000; BORDER-BOTTOM: #669966 2px solid; HEIGHT: 18px; BACKGROUND-COLOR: #333399; TEXT-ALIGN: center
}
.ms-dapptsingle {
	BORDER-RIGHT: #336633 1px solid; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #336633 1px solid; COLOR: #000000; HEIGHT: 18px
}
.ms-datepicker {
	BORDER-RIGHT: activeborder 2px outset; BORDER-TOP: activeborder 2px outset; BORDER-LEFT: activeborder 2px outset; CURSOR: default; COLOR: #000000; BORDER-BOTTOM: activeborder 2px outset; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #ffffff
}
.ms-datepickeriframe {
	DISPLAY: none; BACKGROUND: #ffffff; POSITION: absolute
}
.ms-dcal {
	BORDER-RIGHT: #669966 1px solid; TABLE-LAYOUT: fixed; BORDER-LEFT: #669966 1px solid; CURSOR: default; FONT-FAMILY: trebuchet ms,arial,helvetica; BORDER-COLLAPSE: collapse
}
.ms-descriptiontext {
	COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-descriptiontext A {
	COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-discussionseparator {
	COLOR: #859933; HEIGHT: 1px
}
.ms-discussiontitle {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-dpday {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; CURSOR: hand; BORDER-BOTTOM: medium none; TEXT-ALIGN: center
}
.ms-dpdow {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; VERTICAL-ALIGN: top; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: #669966 1px solid; TEXT-ALIGN: center
}
.ms-dpfoot {
	BORDER-RIGHT: medium none; BORDER-TOP: 1px solid; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; FONT-STYLE: italic; HEIGHT: 24px; TEXT-ALIGN: center
}
.ms-dphead {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #aeba80; TEXT-ALIGN: center
}
.ms-dpnextprev {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; BORDER-LEFT: medium none; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #aeba80; TEXT-ALIGN: center
}
.ms-dpnonmonth {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; CURSOR: hand; COLOR: #bbbbbb; BORDER-BOTTOM: medium none; TEXT-ALIGN: center
}
.ms-dpselectedday {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; CURSOR: hand; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #d4dbb8; TEXT-ALIGN: center
}
.ms-error {
	FONT-WEIGHT: normal; COLOR: #db6751; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-filedialog TD {
	HEIGHT: 16px
}
.ms-firstcalhour {
	VERTICAL-ALIGN: top; WIDTH: 10%; HEIGHT: 12px
}
.ms-formbody {
	VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-formdescription {
	COLOR: #808080; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-formdescription A {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-formlabel {
	FONT-WEIGHT: normal; FONT-SIZE: 0.7em; COLOR: #808080; FONT-FAMILY: verdana
}
.ms-formrecurrence {
	FONT-WEIGHT: normal; VERTICAL-ALIGN: top; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-formtable .ms-formbody {
	LINE-HEIGHT: 1.3em
}
.ms-gb {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica; HEIGHT: 18px; BACKGROUND-COLOR: #d4dbb8
}
.ms-gridt1 {
	COLOR: #bbbbbb; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-ALIGN: center
}
.ms-gridtext {
	CURSOR: default; FONT-FAMILY: trebuchet ms,arial,helvetica; HEIGHT: 19px
}
.ms-highlight {
	BACKGROUND-COLOR: #4d4d4d
}
.ms-homepagetitle {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-homepagetitle:hover {
	COLOR: #993333; TEXT-DECORATION: underline
}
.ms-hovercellactive {
	BORDER-RIGHT: #993333 1px solid; BORDER-TOP: #993333 1px solid; BORDER-LEFT: #993333 1px solid; BORDER-BOTTOM: #993333 1px solid; BACKGROUND-COLOR: #aeba80
}
.ms-hovercellactivedark {
	BORDER-RIGHT: #859933 1px solid; BORDER-TOP: #859933 1px solid; BORDER-LEFT: #859933 1px solid; BORDER-BOTTOM: #859933 1px solid; BACKGROUND-COLOR: #d4dbb8
}
.ms-imglibmenu {
	CURSOR: hand; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #d4dbb8
}
.ms-imglibmenuarea {
	BACKGROUND-COLOR: #d4dbb8
}
.ms-imglibmenuhead {
	CURSOR: move
}
.ms-imglibmenutext {
	FONT-WEIGHT: bold; CURSOR: move; COLOR: #993333
}
.ms-imglibthumbnail {
	BORDER-RIGHT: #aeba80 0px solid; BORDER-TOP: #aeba80 0px solid; BORDER-LEFT: #aeba80 0px solid; BORDER-BOTTOM: #aeba80 0px solid; BACKGROUND-COLOR: #d4dbb8
}
.ms-itemheader A {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-itemheader A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.ms-itemheader A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.ms-itemheader A:hover {
	TEXT-DECORATION: underline
}
.ms-long {
	WIDTH: 386px; FONT-FAMILY: Arial,Helvetica,sans-serif
}
.ms-main {
	BORDER-LEFT-COLOR: #859933; BORDER-BOTTOM-COLOR: #859933; BORDER-TOP-COLOR: #859933; BORDER-RIGHT-COLOR: #859933
}
.ms-menuimagecell {
	CURSOR: hand; BACKGROUND-COLOR: #d4dbb8
}
.ms-mwsinstantiated A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-mwsinstantiated A:link {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-mwsinstantiated A:visited {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-mwsselectedinstance {
	COLOR: #000000; TEXT-DECORATION: none
}
.ms-mwsuninstantiated A:hover {
	COLOR: #993333; TEXT-DECORATION: underline
}
.ms-mwsuninstantiated A:link {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-mwsuninstantiated A:visited {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-nav .ms-navwatermark {
	COLOR: #c2cba0
}
.ms-nav A {
	FONT-WEIGHT: normal; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-nav A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-nav A:link {
	
}
.ms-nav A:visited {
	COLOR: #993333
}
.ms-nav TD {
	FONT-WEIGHT: normal; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-nav TD {
	FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-nav .ms-spzonelabel {
	FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-input {
	FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-nav TH {
	FONT-WEIGHT: normal; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-navframe {
	BORDER-LEFT-COLOR: #d4dbb8; BACKGROUND: #d4dbb8; BORDER-BOTTOM-COLOR: #d4dbb8; BORDER-TOP-COLOR: #d4dbb8; BORDER-RIGHT-COLOR: #d4dbb8
}
.ms-navheader A {
	FONT-WEIGHT: bold
}
.ms-navheader A:link {
	FONT-WEIGHT: bold
}
.ms-navheader A:visited {
	FONT-WEIGHT: bold
}
.ms-navline {
	BORDER-BOTTOM: #859933 1px solid
}
.ms-pagecaption {
	COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-pageheaderdate {
	COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-pageheadergreeting {
	COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-pagetitle {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-pagetitle A {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-pagetitle A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-partline {
	BACKGROUND-COLOR: #669966
}
.ms-partspacingvertical {
	PADDING-TOP: 10px
}
.ms-partspacinghorizontal {
	PADDING-TOP: 10px
}
.ms-propertysheet {
	FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-propertysheet A {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-propertysheet A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-propertysheet A:visited {
	COLOR: #333399; TEXT-DECORATION: none
}
.ms-propertysheet A:hover {
	TEXT-DECORATION: underline
}
.ms-propertysheet TH {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-propgridbuilderbutton {
	BORDER-RIGHT: #cc9966 1px solid; BORDER-TOP: #cc9966 1px solid; DISPLAY: none; BORDER-LEFT: #cc9966 1px solid; WIDTH: 16px; BORDER-BOTTOM: #cc9966 1px solid; BACKGROUND-COLOR: #aeba80
}
.ms-radiotext {
	FONT-SIZE: 10pt; CURSOR: default; FONT-FAMILY: verdana; HEIGHT: 19px; TEXT-ALIGN: left
}
.ms-rtapplybackground {
	BORDER-RIGHT: #cc9966 0.02cm solid; BORDER-TOP: #cc9966 0.02cm solid; BORDER-LEFT: #cc9966 0.02cm solid; BORDER-BOTTOM: #cc9966 0.02cm solid; BACKGROUND-COLOR: #336633
}
.ms-rtremovebackground {
	BORDER-RIGHT: #ffffff 0.02cm solid; BORDER-TOP: #ffffff 0.02cm solid; BORDER-LEFT: #ffffff 0.02cm solid; BORDER-BOTTOM: #ffffff 0.02cm solid; BACKGROUND-COLOR: transparent
}
.ms-rttoolbardefaultstyle {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-FAMILY: trebuchet ms, arial, helvetica; FONT-VARIANT: normal
}
.ms-searchcorner {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #859933
}
.ms-searchform {
	BACKGROUND-COLOR: #859933
}
.ms-sectionheader {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-sectionheader A {
	COLOR: #000000; TEXT-DECORATION: none
}
.ms-sectionheader A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.ms-sectionheader A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.ms-sectionline {
	BACKGROUND-COLOR: #669966
}
.ms-selected {
	COLOR: #000000; BACKGROUND-COLOR: #333399
}
.ms-selected SPAN {
	COLOR: #333399
}
.ms-selectednav {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid
}
.ms-selectedtitle {
	BORDER-RIGHT: #cc9966 1px solid; BORDER-TOP: #cc9966 1px solid; PADDING-BOTTOM: 2px; BORDER-LEFT: #cc9966 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cc9966 1px solid; BACKGROUND-COLOR: #d4dbb8
}
.ms-separator {
	COLOR: #000000
}
.ms-smallheader {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-smallsectionline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: #859933 1px solid
}
.ms-spbutton {
	FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-sperror {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #db6751; PADDING-TOP: 2px; BORDER-BOTTOM: #d4dbb8 2px solid; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-splink {
	COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-splink A:link {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-splink A:visited {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-spzone {
	BORDER-RIGHT: #336633 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #336633 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #336633 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #336633 1px solid
}
.ms-spzonecaption {
	COLOR: #336633; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-spzoneibar {
	BORDER-RIGHT: #ff6600 3px solid; BORDER-TOP: #ff6600 3px solid; BORDER-LEFT: #ff6600 3px solid; BORDER-BOTTOM: #ff6600 3px solid
}
.ms-spzonelabel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #336633; PADDING-TOP: 0px; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-spzoneselected {
	BORDER-RIGHT: #ff6600 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ff6600 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ff6600 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ff6600 1px solid
}
.ms-stormeestimated {
	BACKGROUND-COLOR: #ff6600
}
.ms-stormefree {
	BACKGROUND-COLOR: #006633
}
.ms-stormeused {
	BACKGROUND-COLOR: #990033
}
.ms-stylebody {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana
}
.ms-stylebox {
	BORDER-RIGHT: #859933 1px solid; BORDER-TOP: #859933 1px solid; BORDER-LEFT: #859933 1px solid; BORDER-BOTTOM: #859933 1px solid; FONT-FAMILY: verdana; TEXT-ALIGN: left
}
.ms-styleheader {
	FONT-SIZE: 0.68em; FONT-FAMILY: verdana; BACKGROUND-COLOR: #d4dbb8
}
.ms-styleheader A:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
.ms-stylebody A:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
.ms-styleheader A:link {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-stylebody A:link {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-styleheader A:visited {
	TEXT-DECORATION: none
}
.ms-stylebody A:visited {
	TEXT-DECORATION: none
}
.ms-stylelabel {
	FONT-SIZE: 8pt; COLOR: #859933; FONT-FAMILY: verdana
}
.ms-subsmanagecell {
	VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica; HEIGHT: 18px
}
.ms-subsmanageheader {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #d4dbb8; TEXT-DECORATION: none
}
.ms-surveygvvbar {
	BORDER-TOP: #996600 0px solid; WIDTH: 9px; BORDER-BOTTOM: #cc9966 0px solid; BACKGROUND-COLOR: #996600
}
.ms-surveygvvbars {
	WIDTH: 20px
}
.ms-surveyvbart {
	FONT-SIZE: 7pt; COLOR: #bbbbbb; FONT-FAMILY: verdana; TEXT-ALIGN: center
}
.ms-tabinactive {
	BORDER-RIGHT: #d4dbb8 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #d4dbb8 2px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; BORDER-LEFT: #d4dbb8 2px solid; COLOR: #993333; PADDING-TOP: 3px; BORDER-BOTTOM: #d4dbb8 2px solid; FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #d4dbb8
}
.ms-tabinactive A:link {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-tabinactive A:hover {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-tabinactive A:visited {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-tabselected {
	BORDER-RIGHT: #669966 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #669966 2px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; BORDER-LEFT: #669966 2px solid; COLOR: #859933; PADDING-TOP: 3px; BORDER-BOTTOM: #669966 2px solid; FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #669966
}
.ms-titlearea {
	COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-titlearealine {
	BACKGROUND-COLOR: #669966
}
.ms-toolbar {
	COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-toolbar A:visited {
	COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-toolpanebody {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.ms-toolpaneborder {
	BORDER-RIGHT: #d4dbb8 1px solid; BORDER-TOP: medium none; BORDER-LEFT: #d4dbb8 1px solid; BORDER-BOTTOM: medium none
}
.ms-toolpaneclose {
	BACKGROUND-COLOR: #aeba80
}
.ms-toolpaneerror {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #db6751; PADDING-TOP: 2px; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-toolpanefooter {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #aeba80
}
.ms-toolpaneframe {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #d4dbb8
}
.ms-toolpaneheader {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #aeba80; BORDER-BOTTOM-STYLE: none
}
.ms-toolpaneinfo {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #d4dbb8
}
.ms-toolpanetitle {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 3px; FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #aeba80
}
.ms-toolpartspacing {
	PADDING-TOP: 8px
}
.ms-toolstrip {
	BORDER-RIGHT: #336633 1px solid; BORDER-TOP: #336633 1px solid; BORDER-LEFT: #336633 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #336633 1px solid; BACKGROUND-COLOR: #d4dbb8
}
.ms-tpbody {
	COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-tpbody A:link {
	CURSOR: hand; COLOR: #993333; TEXT-DECORATION: none
}
.ms-tpbody A:visited {
	CURSOR: hand; COLOR: #993333; TEXT-DECORATION: none
}
.ms-tpbody A:hover {
	CURSOR: hand; COLOR: #993333; TEXT-DECORATION: none
}
.ms-tpborder {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.ms-tpcommands {
	
}
.ms-tpheader {
	BACKGROUND-COLOR: #859933
}
.ms-tpinput {
	COLOR: #ffffff; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-tptitle {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-underline {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 2px; BORDER-BOTTOM: #859933 1px solid
}
.ms-underlineback {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 2px; BORDER-BOTTOM: #859933 1px solid; BACKGROUND-COLOR: #d4dbb8
}
.ms-unselectednav {
	BORDER-RIGHT: #d4dbb8 1px solid; BORDER-TOP: #d4dbb8 1px solid; PADDING-BOTTOM: 2px; BORDER-LEFT: #d4dbb8 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #d4dbb8 1px solid
}
.ms-unselectedtitle {
	PADDING-BOTTOM: 2px; MARGIN: 1px; PADDING-TOP: 1px
}
.ms-uploadborder {
	BORDER-RIGHT: #4d4d4d 1px solid; BORDER-TOP: #4d4d4d 1px solid; BORDER-LEFT: #4d4d4d 1px solid; BORDER-BOTTOM: #4d4d4d 1px solid
}
.ms-uploadcontrol {
	BACKGROUND-COLOR: #333399
}
.ms-vappt {
	BORDER-RIGHT: #996600 2px solid; PADDING-RIGHT: 3px; BORDER-TOP: #996600 1px solid; PADDING-LEFT: 3px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #996600 2px solid; COLOR: #000000; BORDER-BOTTOM: #996600 3px solid; HEIGHT: 12px; TEXT-OVERFLOW: ellipsis; BACKGROUND-COLOR: #c2cba0; TEXT-ALIGN: center
}
.ms-vappt A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.ms-vappt A:link {
	
}
.ms-vapptsingle {
	BORDER-RIGHT: #336633 1px solid; BORDER-TOP: #336633 1px solid; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #336633 1px solid; COLOR: #000000; BORDER-BOTTOM: #336633 1px solid; TEXT-OVERFLOW: ellipsis; BACKGROUND-COLOR: #c2cba0; TEXT-ALIGN: center
}
.ms-vapptsingle A {
	FONT-WEIGHT: normal; OVERFLOW: hidden; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-OVERFLOW: ellipsis; TEXT-DECORATION: none
}
.ms-vappt A {
	FONT-WEIGHT: normal; OVERFLOW: hidden; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-OVERFLOW: ellipsis; TEXT-DECORATION: none
}
.ms-vapptsingle A:hover {
	TEXT-DECORATION: underline
}
.ms-vapptsingle A:link {
	
}
.ms-vapptsingle A:visited {
	
}
.ms-vb {
	VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica; HEIGHT: 18px
}
.ms-vb A {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-vb2 A {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-grstatustext A {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-vb-user A {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-vb A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-vb2 A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-vb-user A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-vb A:visited {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-vb2 A:visited {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-grstatustext A:visited {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-vb-user A:visited {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-vb A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-vb2 A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-vb-user A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-vb {
	VERTICAL-ALIGN: top; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-vb2 {
	VERTICAL-ALIGN: top; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-grfont {
	VERTICAL-ALIGN: top; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-vb-user {
	VERTICAL-ALIGN: top; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-vb-icon {
	PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 16px; PADDING-TOP: 2px
}
.ms-vb2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
.ms-vb2 {
	BORDER-TOP: #859933 1px solid
}
.ms-vb-title {
	BORDER-TOP: #859933 1px solid
}
.ms-vb-icon {
	BORDER-TOP: #859933 1px solid
}
.ms-vb-user {
	BORDER-TOP: #859933 1px solid
}
.ms-vcal {
	TABLE-LAYOUT: fixed; CURSOR: default; FONT-FAMILY: trebuchet ms,arial,helvetica; BORDER-COLLAPSE: separate
}
.ms-verticaldots {
	BORDER-RIGHT: #669966 1px solid; BORDER-LEFT: medium none
}
.ms-vevt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; OVERFLOW: hidden; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: trebuchet ms,arial,helvetica; HEIGHT: 12px; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: center
}
.ms-vevt A {
	FONT-WEIGHT: normal; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-vevt A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.ms-vevt A:link {
	
}
.ms-vevt A:visited {
	COLOR: #dfd664
}
.ms-vh {
	FONT-WEIGHT: normal; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-vh A {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-vh A:visited {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-vh2 A {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-vh2 A:visited {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-vh-left A {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-vh-right A {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-vh A:hover {
	TEXT-DECORATION: underline
}
.ms-vh2 A:hover {
	TEXT-DECORATION: underline
}
.ms-vh-icon {
	FONT-WEIGHT: normal; VERTICAL-ALIGN: top; WIDTH: 22px; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-vh-icon-empty {
	FONT-WEIGHT: normal; VERTICAL-ALIGN: top; WIDTH: 0px; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-vh-left {
	FONT-WEIGHT: normal; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-vh-left-icon {
	FONT-WEIGHT: normal; WIDTH: 22px; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-vh-left-icon-empty {
	FONT-WEIGHT: normal; WIDTH: 0px; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-vh-right {
	FONT-WEIGHT: normal; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-vh-right-icon {
	FONT-WEIGHT: normal; WIDTH: 22px; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-vh-right-icon-empty {
	FONT-WEIGHT: normal; WIDTH: 0px; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-vh2 {
	FONT-WEIGHT: normal; VERTICAL-ALIGN: top; COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-vhimage {
	FONT-WEIGHT: normal; VERTICAL-ALIGN: top; WIDTH: 18pt; COLOR: #5d5d5d; FONT-FAMILY: trebuchet ms,arial,helvetica; TEXT-DECORATION: none
}
.ms-viewselect A:link {
	COLOR: #993333; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-wpbody {
	FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-wpbody A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.ms-wpbody A:link {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-wpbody A:visited {
	COLOR: #993333; TEXT-DECORATION: none
}
.ms-wpbody H1 {
	FONT-WEIGHT: bold
}
.ms-tpbody H1 {
	FONT-WEIGHT: bold
}
.ms-wpbody H2 {
	FONT-WEIGHT: bold
}
.ms-tpbody H2 {
	FONT-WEIGHT: bold
}
.ms-wpbody H3 {
	FONT-WEIGHT: bold
}
.ms-tpbody H3 {
	FONT-WEIGHT: bold
}
.ms-wpbody H4 {
	FONT-WEIGHT: bold
}
.ms-tpbody H4 {
	FONT-WEIGHT: bold
}
.ms-wpbody H5 {
	FONT-WEIGHT: bold
}
.ms-tpbody H5 {
	FONT-WEIGHT: bold
}
.ms-wpbody H6 {
	FONT-WEIGHT: bold
}
.ms-tpbody H6 {
	FONT-WEIGHT: bold
}
.ms-wpbody TABLE {
	
}
.ms-tpbody TABLE {
	
}
.ms-wpbody TD {
	FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-wpbody TH {
	FONT-WEIGHT: bold
}
.ms-tpbody TH {
	FONT-WEIGHT: bold
}
.ms-wpborder {
	BORDER-RIGHT: #859933 1px solid; BORDER-LEFT: #859933 1px solid; BORDER-TOP-STYLE: none; BORDER-BOTTOM: #859933 1px solid
}
.ms-wpdesign {
	BACKGROUND-COLOR: #d4dbb8
}
.ms-wpheader {
	BACKGROUND-IMAGE: url(blank.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #d4dbb8
}
.ms-wpmenu {
	BACKGROUND-COLOR: #d4dbb8
}
.ms-wpselected {
	BORDER-RIGHT: #97bc00 3px dashed; BORDER-TOP: #97bc00 3px dashed; BORDER-LEFT: #97bc00 3px dashed; BORDER-BOTTOM: #97bc00 3px dashed
}
.ms-wptitle {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 2px; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.ms-wptitle A:hover {
	CURSOR: hand; COLOR: #ffffff; TEXT-DECORATION: underline
}
.ms-wptitle A:link {
	CURSOR: hand; COLOR: #ffffff; TEXT-DECORATION: none
}
.ms-wptitle A:visited {
	CURSOR: hand; COLOR: #ffffff; TEXT-DECORATION: none
}
.mstheme {
	top-bar-button: url(naglb.gif); navbutton-background-color: #FFFFFF
}
.mstheme-topbar-font {
	COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.userbackground {
	BACKGROUND-COLOR: #ffffff
}
.userbutton {
	COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.userinput {
	COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.userselect {
	COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.usercaption {
	FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #d4dbb8
}
.usercell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.usercellselected {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #ffffff
}
.usercommandarea {
	PADDING-TOP: 7px
}
.userconfiguration {
	FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #d4dbb8
}
.usercontrolgroup {
	PADDING-BOTTOM: 10px; PADDING-TOP: 2px
}
.userdottedline {
	BACKGROUND-IMAGE: url(dot.gif); MARGIN-BOTTOM: 2px; OVERFLOW: hidden; BACKGROUND-REPEAT: repeat-x; HEIGHT: 1px; BACKGROUND-COLOR: transparent
}
.userfooter {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; WIDTH: 100%; PADDING-TOP: 10px
}
.usergeneric {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 7px; PADDING-TOP: 8px
}
.usergenericbody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 17px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.usergenericbulletitem {
	PADDING-BOTTOM: 2px
}
.usergenericheader {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.usergenerictext {
	COLOR: #000000
}
.usernotification {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; COLOR: #bbbbbb; PADDING-TOP: 4px; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.usersectionbody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.usersectionfooter {
	BORDER-TOP: #aeba80 1px solid; COLOR: #000000
}
.usersectionhead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 0px
}
.usersectiontitle {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 2px; WIDTH: 100%; COLOR: #000000; BORDER-BOTTOM: #aeba80 1px solid
}
.usershadedregion {
	FONT-FAMILY: trebuchet ms,arial,helvetica; BACKGROUND-COLOR: #d4dbb8
}
.usertoolbar {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; BACKGROUND-IMAGE: url(toolgrad.gif); BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: transparent
}
.usertoolbardisabledlink {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; COLOR: #4d4d4d; PADDING-TOP: 4px; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.usertoolbarimage {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; CURSOR: hand; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #bbbbbb; TEXT-ALIGN: center
}
.usertoolbarimagearea {
	FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.usertoolbarselectedimage {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; VERTICAL-ALIGN: top; BORDER-LEFT: medium none; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: center
}
.usertoolbartextarea {
	FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.usertoolbartextarea A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.usertoolbartextarea A:link {
	COLOR: #993333; TEXT-DECORATION: none
}
.usertoolbartextarea A:visited {
	COLOR: #993333; TEXT-DECORATION: none
}
A.ms-imglibpreviewtitle {
	OVERFLOW: hidden; WIDTH: 130px; TEXT-OVERFLOW: ellipsis
}
BODY {
	FONT-WEIGHT: normal; BACKGROUND-IMAGE: url(test.jpg); FONT-STYLE: normal; FONT-FAMILY: comic sans ms,arial,helvetica
}
BUTTON {
	BORDER-RIGHT: 1pt solid; BORDER-TOP: 1pt solid; BORDER-LEFT: 1pt solid; BORDER-BOTTOM: 1pt solid; FONT-STYLE: normal; FONT-FAMILY: Arial,Helvetica,sans-serif
}
CAPTION {
	FONT-STYLE: normal; FONT-FAMILY: trebuchet ms,arial,helvetica
}
DIV.ms-titleareaframe {
	BORDER-TOP: #859933 4px solid
}
FIELDSET {
	BORDER-RIGHT: 1pt solid; BORDER-TOP: 1pt solid; BORDER-LEFT: 1pt solid; BORDER-BOTTOM: 1pt solid; FONT-STYLE: normal; FONT-FAMILY: trebuchet ms,arial,helvetica
}
H1 {
	FONT-WEIGHT: bold; FONT-STYLE: normal; FONT-FAMILY: comic sans ms,arial,helvetica
}
H2 {
	FONT-WEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: comic sans ms,arial,helvetica
}
H3 {
	FONT-WEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: comic sans ms,arial,helvetica
}
H4 {
	FONT-WEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: comic sans ms,arial,helvetica
}
H5 {
	FONT-WEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: comic sans ms,arial,helvetica
}
H6 {
	FONT-WEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: comic sans ms,arial,helvetica
}
HR {
	COLOR: #336633; HEIGHT: 2px
}
il {
	LIST-STYLE-IMAGE: url(nabull2.gif)
}
IMG.ms-button {
	CURSOR: hand
}
IMG.ms-imglibpreviewarea {
	BORDER-RIGHT: #d4dbb8 3px solid; BORDER-TOP: #d4dbb8 3px solid; MARGIN-TOP: 3px; BORDER-LEFT: #d4dbb8 3px solid; BORDER-BOTTOM: #d4dbb8 3px solid
}
IMG.thumbnail {
	BORDER-RIGHT: #aeba80 3px solid; BORDER-TOP: #aeba80 3px solid; BORDER-LEFT: #aeba80 3px solid; BORDER-BOTTOM: #aeba80 3px solid
}
LABEL {
	FONT-STYLE: normal; FONT-FAMILY: trebuchet ms,arial,helvetica
}
.mstheme-label {
	FONT-STYLE: normal; FONT-FAMILY: trebuchet ms,arial,helvetica
}
LEGEND {
	FONT-STYLE: normal; FONT-FAMILY: trebuchet ms,arial,helvetica
}
MARQUEE {
	FONT-FAMILY: trebuchet ms,arial,helvetica
}
SELECT {
	BORDER-TOP-STYLE: solid; FONT-STYLE: normal; FONT-FAMILY: trebuchet ms,arial,helvetica; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid
}
SPAN.thumbnail {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 16px; WIDTH: 5px; PADDING-TOP: 16px; POSITION: relative
}
SPAN.userdata {
	DISPLAY: none; BEHAVIOR: url(#default#userData)
}
TABLE {
	FONT-WEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: comic sans ms,arial,helvetica
}
TABLE.ms-form TD {
	VERTICAL-ALIGN: top; WIDTH: 100%
}
TABLE.ms-form TH {
	FONT-WEIGHT: normal; VERTICAL-ALIGN: top; COLOR: #000000; FONT-FAMILY: trebuchet ms,arial,helvetica
}
TABLE.ms-imglibpreviewtable {
	DISPLAY: none
}
TABLE.ms-imglibtitletable {
	BORDER-RIGHT: #859933 0px solid; BORDER-TOP: #859933 0px solid; BORDER-LEFT: #859933 0px solid; BORDER-BOTTOM: #859933 0px solid
}
TABLE.ms-titleareaframe {
	BORDER-LEFT: 0px
}
TABLE.ms-toolbar {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; BACKGROUND-IMAGE: url(toolgrad.gif); BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid
}
TD.ms-titleareaframe {
	BORDER-LEFT-COLOR: #859933; BORDER-BOTTOM-COLOR: #859933; COLOR: #000000; BORDER-TOP-COLOR: #859933; BORDER-RIGHT-COLOR: #859933
}
TEXTAREA {
	FONT-STYLE: normal; FONT-FAMILY: trebuchet ms,arial,helvetica
}
TH {
	FONT-FAMILY: trebuchet ms,arial,helvetica
}
TR.ms-imglibselectedrow {
	BACKGROUND-COLOR: #d4dbb8
}
