H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 130%; FONT-FAMILY: Verdana,  Arial, Helvetica, sans-serif
}
H1.heading {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; FONT-FAMILY: Verdana,  Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 115%; FONT-FAMILY: Verdana,  Arial, Helvetica, sans-serif
}
H2.subtitle {
	FONT-WEIGHT: normal; FONT-SIZE: 115%; MARGIN-BOTTOM: 0.6em; FONT-FAMILY: Verdana,  Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; FONT-FAMILY: Verdana,  Arial, Helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; FONT-FAMILY: Verdana,  Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.heading {
	MARGIN-TOP: 18px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 8px
}
.subHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subHeading {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 4px
}
H3.subHeading {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; COLOR: #000066
}
H4.subHeading {
	FONT-SIZE: 100%; COLOR: #000000
}
H4 {
	FONT-SIZE: 100%; COLOR: #000000
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px
}
DIV.section P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 15px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 3mm; PADDING-BOTTOM: 0px; MARGIN: 10px 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana
}
DL {
	MARGIN-TOP: 0px; PADDING-LEFT: 1px
}
DT {
	MARGIN: 0px; FONT-STYLE: normal
}
UL {
	MARGIN-BOTTOM: 15px; LINE-HEIGHT: 140%
}
UL UL {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; LINE-HEIGHT: 140%
}
OL {
	MARGIN-BOTTOM: 15px; LINE-HEIGHT: 140%
}
OL OL {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; LINE-HEIGHT: 140%
}
OL UL {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; LINE-HEIGHT: 140%
}
UL OL {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; LINE-HEIGHT: 140%
}
LI {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: 0px
}
UL {
	MARGIN-LEFT: 30px; LIST-STYLE-TYPE: disc
}
UL UL {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 17px; LIST-STYLE-TYPE: disc
}
OL {
	MARGIN-LEFT: 24px; LIST-STYLE-TYPE: decimal
}
OL OL {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 24px; LIST-STYLE-TYPE: lower-alpha
}
LI {
	MARGIN-BOTTOM: 3px
}
DIV.declarationSyntaxes SPAN.VisualBasicDeclaration {
	BACKGROUND: #dddddd
}
DIV.declarationSyntaxes SPAN.VisualBasicUsage {
	BACKGROUND: #dddddd
}
DIV.declarationSyntaxes SPAN.CSharp {
	BACKGROUND: #dddddd
}
DIV.declarationSyntaxes SPAN.ManagedCPlusPlus {
	BACKGROUND: #dddddd
}
DIV.declarationSyntaxes SPAN.JSharp {
	BACKGROUND: #dddddd
}
DIV.declarationSyntaxes SPAN.JScript {
	BACKGROUND: #dddddd
}
DIV.declarationSyntaxes PRE {
	PADDING-RIGHT: 10px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 25px; BACKGROUND: #dddddd; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 20px; LINE-HEIGHT: 140%; PADDING-TOP: 5px; FONT-FAMILY: Lucida Console, Courier New
}
DIV.alert TABLE TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-COLOR: #cccccc
}
.legacyBold {
	FONT-WEIGHT: bold
}
.ui {
	FONT-WEIGHT: bold
}
.legacyItalic {
	FONT-STYLE: italic
}
DIV.clsRegTree UL {
	MARGIN-LEFT: 2.5em
}
DIV.clsRegTree UL UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
DIV.clsRegTree LI {
	MARGIN: 0px; TEXT-INDENT: -2.5em; LINE-HEIGHT: normal; LIST-STYLE-TYPE: none
}
DIV#mainSection {
	
}
DIV#mainBody {
	MARGIN-TOP: 10px; FONT-SIZE: 90%; PADDING-BOTTOM: 20px; MARGIN-LEFT: 0px; MARGIN-RIGHT: 5px
}
.topic DIV#mainSection {
	
}
.topic DIV#mainBody {
	MARGIN-TOP: 10px; FONT-SIZE: 100%; PADDING-BOTTOM: 20px; MARGIN-LEFT: 5px
}
DIV#mainBody DIV.alert {
	WIDTH: 98.9%
}
DIV#mainBody DIV.code {
	WIDTH: 98.9%
}
DIV#mainBody DIV.section DIV.alert {
	WIDTH: 100%
}
DIV#mainBody DIV.section DIV.code {
	WIDTH: 100%
}
DIV#mainBody DIV.section UL DIV.alert {
	WIDTH: 100%
}
DIV#mainBody DIV.section UL DIV.code {
	WIDTH: 100%
}
DIV#mainBody DIV.section OL DIV.alert {
	WIDTH: 100%
}
DIV#mainBody DIV.section OL DIV.code {
	WIDTH: 100%
}
DIV#mainSection TABLE {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; MARGIN-TOP: 5px; FONT-SIZE: 100%; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: #dddddd 1px solid; WIDTH: 97%; BORDER-BOTTOM: #dddddd 1px solid
}
DIV#mainSection TABLE TR {
	VERTICAL-ALIGN: top
}
DIV#mainSection TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; COLOR: #000066; BORDER-BOTTOM: #c8cdde 1px solid; TEXT-ALIGN: left
}
DIV#mainSection TABLE TD {
	PADDING-RIGHT: 5px; BORDER-TOP: #d5d5d3 1px solid; PADDING-LEFT: 5px; MARGIN: 1px; BORDER-LEFT: #d5d5d3 1px solid; BORDER-BOTTOM: #d5d5d3 1px solid
}
DIV#mainSection TABLE TD.imageCell {
	WHITE-SPACE: nowrap
}
.RightPanel {
	FONT-SIZE: 70%; VERTICAL-ALIGN: top; WIDTH: 100%; MARGIN-RIGHT: -15px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV.ContentArea {
	MARGIN: 20px; LINE-HEIGHT: 140%
}
DIV.ContentArea .topic {
	LINE-HEIGHT: 140%
}
DIV.ContentArea TABLE {
	WIDTH: auto; BORDER-COLLAPSE: collapse
}
DIV.ContentArea TABLE P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.ContentArea TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 3mm; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
DIV.ContentArea TABLE TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 3mm; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
DIV.ContentArea TABLE TH {
	BACKGROUND: #cccccc; VERTICAL-ALIGN: bottom
}
DIV.ContentArea TABLE TH P {
	FONT-WEIGHT: bold
}
DIV.ContentArea TABLE TD {
	BORDER-RIGHT: #cccccc 0px solid; BORDER-TOP: #cccccc 0px solid; BACKGROUND: #ffffff; VERTICAL-ALIGN: top; BORDER-LEFT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid
}
.ContentArea .topic TABLE {
	WIDTH: auto
}
.ContentArea .topic TABLE TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.ContentArea .topic TABLE TD P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.ContentArea .topic TABLE TD UL {
	MARGIN: 5px 10px 5px 20px
}
.ContentArea .section TABLE TD UL LI {
	LIST-STYLE-IMAGE: url(b.gif)
}
.ContentArea .subSection UL LI {
	LIST-STYLE-IMAGE: url(b.gif)
}
.ContentArea .topic UL LI {
	LIST-STYLE-IMAGE: url(b.gif)
}
CODE {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 105%; BACKGROUND: #dddddd; PADDING-BOTTOM: 5px; MARGIN: 0px 10px 0px 0px; COLOR: #000066; PADDING-TOP: 5px; FONT-FAMILY: Monospace, Courier New, Courier
}
PRE {
	BACKGROUND: #dddddd; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 1em; PADDING-TOP: 0px; FONT-FAMILY: Lucida Console, Courier New
}
DIV.code TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: -0.4em; FONT-SIZE: 95%; MARGIN-BOTTOM: 5px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
DIV.code TABLE TH {
	FONT-WEIGHT: bold; BACKGROUND: #dddddd; COLOR: #000066; BORDER-BOTTOM: #c8cdde 1px solid
}
DIV.lang {
	FONT-WEIGHT: bold; BACKGROUND: #dddddd; COLOR: #000066; BORDER-BOTTOM: #c8cdde 1px solid
}
DIV.code TABLE TD {
	PADDING-RIGHT: 5px; BORDER-TOP: #c8cdde 1px solid; PADDING-LEFT: 5px; BACKGROUND: #dddddd; MARGIN: 0px 0px 10px; PADDING-TOP: 5px
}
PRE.code {
	PADDING-RIGHT: 5px; BORDER-TOP: #c8cdde 1px solid; PADDING-LEFT: 5px; BACKGROUND: #dddddd; MARGIN: 0px 0px 10px; PADDING-TOP: 5px
}
SPAN.copyCode {
	DISPLAY: inline; FONT-WEIGHT: normal; FONT-SIZE: 90%; FLOAT: right; CURSOR: hand; COLOR: #0000ff; TEXT-ALIGN: right
}
DIV.code PRE {
	FONT-SIZE: 105%; COLOR: #000066; FONT-FAMILY: Monospace, Courier New, Courier; WORD-WRAP: break-word
}
DIV.code TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 95%; MARGIN-BOTTOM: 5px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
DIV.code TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #efeff7; COLOR: #000066; BORDER-BOTTOM: #c8cdde 1px solid
}
DIV.code TABLE TD {
	PADDING-RIGHT: 5px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 5px; BACKGROUND: #efeff7; PADDING-TOP: 5px
}
DIV.alert TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 100%; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
DIV.alert TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #efeff7; BORDER-BOTTOM-WIDTH: 0px; COLOR: #000066
}
DIV.alert TABLE TD {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f7f7ff
}
DIV.hr1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; BACKGROUND: #c8cdde; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 1px
}
DIV.hr2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; BACKGROUND: #d4dfff; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 1px
}
DIV.hr3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1px; BACKGROUND: #eeeeff; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 1px
}
.tip {
	CURSOR: hand; COLOR: #0000ff; FONT-STYLE: italic; TEXT-DECORATION: underline
}
.languageFilter {
	PADDING-BOTTOM: 4px; CURSOR: hand; COLOR: #0000ff; TEXT-DECORATION: underline
}
.math {
	FONT-SIZE: 125%; FONT-FAMILY: Times New Roman
}
.title {
	MARGIN: 0px 0px 10px; FONT: bold 190% Arial, Helvetica, sans-serif; COLOR: #000000
}
.majorLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN: 10px 0px 3px; FONT-FAMILY: Verdana
}
.sectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN: 10px 0px 3px; FONT-FAMILY: Verdana
}
.minorLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: normal
}
IMG.copyCodeImage {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 1px 3px 1px 1px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
IMG.downloadCodeImage {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; MARGIN-RIGHT: 3px; BORDER-BOTTOM: 0px
}
IMG.viewCodeImage {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; MARGIN-RIGHT: 3px; BORDER-BOTTOM: 0px
}
IMG.note {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; MARGIN-RIGHT: 3px; BORDER-BOTTOM: 0px
}
A IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
DIV#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-COLOR: #d4dfff
}
DIV#header TABLE {
	WIDTH: 100%
}
DIV#header TABLE TD {
	PADDING-RIGHT: 20px; MARGIN-TOP: 0px; FONT-SIZE: 70%; MARGIN-BOTTOM: 0px; COLOR: #0000ff
}
DIV#header TABLE TR#headerTableRow3 TD {
	PADDING-BOTTOM: 2px; PADDING-TOP: 5px
}
DIV#header TABLE#bottomTable {
	BORDER-TOP: #ffffff 1px solid; TEXT-ALIGN: left
}
DIV#mainSection TABLE TD.imageCell {
	WHITE-SPACE: nowrap
}
DIV#footer {
	PADDING-RIGHT: 2px; PADDING-LEFT: 5px; FONT-SIZE: 90%; PADDING-BOTTOM: 6px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 2px
}
.clsBeta {
	COLOR: #ff0000
}
.parameter {
	FONT-SIZE: 100%; MARGIN: 0px; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV.section {
	PADDING-LEFT: 20px
}
DIV.lang {
	CLEAR: both; PADDING-LEFT: 5px; BORDER-BOTTOM: #eeeeee 1px solid; WHITE-SPACE: pre; BACKGROUND-COLOR: #dddddd
}
.MNPPart {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #6699cc 3px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 155px; COLOR: #000000; MARGIN-RIGHT: 15px; PADDING-TOP: 8px; BORDER-BOTTOM: #6699cc 3px solid; BACKGROUND-COLOR: #f1f1f1
}
.MNPPart UL {
	MARGIN-BOTTOM: 5px; MARGIN-LEFT: 18px
}
.MNPPart SPAN {
	COLOR: #000000
}
.MNPPart UL LI {
	MARGIN-BOTTOM: 0.5em; COLOR: #cccccc; LIST-STYLE-TYPE: disc
}
DIV#links TABLE TD {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.TableHeading {
	FONT-WEIGHT: 700
}
UL UL LI.kadov-p-CBulleted {
	MARGIN-LEFT: 100px
}
DIV.clsNote {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; MARGIN-BOTTOM: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #eeeeee
}
TABLE.clsStd TBODY TR TD {
	BORDER-RIGHT: #e0dfe3 1px solid; BORDER-TOP: #e0dfe3 1px solid; BORDER-LEFT: #e0dfe3 1px solid; BORDER-BOTTOM: #d5d5d3 1px solid; BACKGROUND-COLOR: #eee
}
TABLE.psdkRequirements TBODY TR TH {
	BORDER-RIGHT: #e0dfe3 1px solid; BORDER-TOP: #e0dfe3 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #e0dfe3 1px solid; COLOR: #000066; BORDER-BOTTOM: #c8cdde 1px solid; BACKGROUND-COLOR: #efeff7
}
TABLE.psdkRequirements TBODY TR TD {
	BORDER-RIGHT: #e0dfe3 1px solid; BORDER-TOP: #e0dfe3 1px solid; BORDER-LEFT: #e0dfe3 1px solid; BORDER-BOTTOM: #c8cdde 1px solid; BACKGROUND-COLOR: #f7f7ff
}
.tablediv TABLE.dtTABLE {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 95%; BORDER-BOTTOM: #cccccc 1px solid
}
.tablediv TABLE.dtTABLE TBODY TR TH {
	WIDTH: 50%
}
.tablediv TABLE.dtTABLE TBODY TR TD {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 3mm; BORDER-LEFT: #cccccc 1px solid; WIDTH: 50%; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Verdana
}
DIV.clsServerSDKContent TD.sdkformat_portal {
	BORDER-RIGHT: #cccccc 1px solid
}
.section OL LI OL LI {
	LIST-STYLE-TYPE: lower-alpha
}
.subSection OL LI OL LI {
	LIST-STYLE-TYPE: lower-alpha
}
DD P {
	PADDING-RIGHT: 20px; MARGIN-TOP: 0px; MARGIN-LEFT: -40px
}
DD .tableSection {
	WIDTH: 100%
}
DD .tableSection TABLE TR TD P {
	MARGIN-LEFT: 0px
}
DD .alert P {
	MARGIN-LEFT: 0px
}
.indent1 {
	MARGIN-LEFT: 12pt
}
SPAN#runningHeaderText {
	FONT-SIZE: 3mm; COLOR: black
}
SPAN#nsrTitle {
	FONT-WEIGHT: 600; FONT-SIZE: 120%; COLOR: #003399
}
DIV.seeAlsoNoToggleSection {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 2px
}
DIV.section {
	PADDING-RIGHT: 15px; PADDING-LEFT: 16px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 2px
}
DIV.section DL DD TABLE TR TD P {
	MARGIN-LEFT: 0px
}
.clsRef {
	FONT-WEIGHT: bold
}
.keyword {
	FONT-WEIGHT: bold
}
