.mstheme {
	nav-banner-image: url(artbanna.gif); separator-image: url(arthsepa.gif); list-image-1: url(artbul1a.gif); list-image-2: url(artbul2a.gif); list-image-3: url(artbul3a.gif); navbutton-horiz-normal: url(artnvhna.gif); navbutton-horiz-hovered: url(artnvhha.gif); navbutton-horiz-pushed: url(artnvhsa.gif); navbutton-vert-normal: url(artnvvna.gif); navbutton-vert-pushed: url(artnvvsa.gif); navbutton-vert-hovered: url(artnvvha.gif); navbutton-home-normal: url(arthomna.gif); navbutton-home-hovered: url(arthomha.gif); navbutton-home-pushed: url(arthomsa.gif); navbutton-next-normal: url(artnexna.gif); navbutton-next-hovered: url(artnexha.gif); navbutton-next-pushed: url(artnexsa.gif); navbutton-prev-normal: url(artprena.gif); navbutton-prev-hovered: url(artpreha.gif); navbutton-prev-pushed: url(artpresa.gif); navbutton-up-normal: url(artupbna.gif); navbutton-up-hovered: url(artupbha.gif); navbutton-up-pushed: url(artupbsa.gif)
}
.mstheme-bannertxt {
	VERTICAL-ALIGN: middle; COLOR: rgb(255,255,153); FONT-FAMILY: "Book Antiqua", "Times New Roman", Times; TEXT-ALIGN: center
}
.mstheme-horiz-navtxt {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,153); FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-vert-navtxt {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,153); FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxthome {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,153); FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxtnext {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,153); FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxtprev {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,153); FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxtup {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,153); FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
UL {
	LIST-STYLE-IMAGE: url(artbul1a.gif)
}
UL UL {
	LIST-STYLE-IMAGE: url(artbul2a.gif)
}
UL UL UL {
	LIST-STYLE-IMAGE: url(artbul3a.gif)
}
A:link {
	COLOR: rgb(255,204,0)
}
A:visited {
	COLOR: rgb(153,153,102)
}
A:active {
	COLOR: rgb(102,255,0)
}
BODY {
	COLOR: rgb(255,255,153); BACKGROUND-COLOR: rgb(0,0,51)
}
H1 {
	COLOR: rgb(255,204,0)
}
H2 {
	COLOR: rgb(153,204,0)
}
MARQUEE {
	COLOR: rgb(153,204,0)
}
H3 {
	COLOR: rgb(102,153,51)
}
H4 {
	COLOR: rgb(255,153,51)
}
H5 {
	COLOR: rgb(255,204,0)
}
H6 {
	COLOR: rgb(102,153,51)
}
HR {
	COLOR: rgb(102,153,51)
}
BUTTON {
	BORDER-LEFT-COLOR: rgb(204,204,102); BORDER-BOTTOM-COLOR: rgb(204,204,102); COLOR: black; BORDER-TOP-COLOR: rgb(204,204,102); BACKGROUND-COLOR: rgb(255,204,0); BORDER-RIGHT-COLOR: rgb(204,204,102)
}
LABEL {
	COLOR: rgb(255,255,153)
}
.MSTHEME-LABEL {
	COLOR: rgb(255,255,153)
}
TEXTAREA {
	BORDER-LEFT-COLOR: rgb(153,153,51); BORDER-BOTTOM-COLOR: rgb(153,153,51); COLOR: black; BORDER-TOP-COLOR: rgb(153,153,51); BORDER-RIGHT-COLOR: rgb(153,153,51)
}
FIELDSET {
	BORDER-LEFT-COLOR: rgb(153,153,51); BORDER-BOTTOM-COLOR: rgb(153,153,51); COLOR: white; BORDER-TOP-COLOR: rgb(153,153,51); BORDER-RIGHT-COLOR: rgb(153,153,51)
}
LEGEND {
	COLOR: rgb(102,153,51)
}
SELECT {
	BORDER-LEFT-COLOR: rgb(153,153,51); BORDER-BOTTOM-COLOR: rgb(153,153,51); COLOR: black; BORDER-TOP-COLOR: rgb(153,153,51); BORDER-RIGHT-COLOR: rgb(153,153,51)
}
TABLE {
	BORDER-LEFT-COLOR: rgb(153,153,51); BORDER-BOTTOM-COLOR: rgb(153,153,51); COLOR: rgb(255,255,153); BORDER-TOP-COLOR: rgb(153,153,51); BORDER-RIGHT-COLOR: rgb(153,153,51); table-border-color-light: rgb(204,204,102); table-border-color-dark: rgb(153,153,51)
}
CAPTION {
	COLOR: rgb(102,153,51)
}
TH {
	BORDER-LEFT-COLOR: rgb(153,153,51); BORDER-BOTTOM-COLOR: rgb(153,153,51); COLOR: rgb(255,255,153); BORDER-TOP-COLOR: rgb(153,153,51); BORDER-RIGHT-COLOR: rgb(153,153,51)
}
TD {
	BORDER-LEFT-COLOR: rgb(153,153,51); BORDER-BOTTOM-COLOR: rgb(153,153,51); BORDER-TOP-COLOR: rgb(153,153,51); BORDER-RIGHT-COLOR: rgb(153,153,51)
}
.mstheme {
	navbutton-background-color: rgb(51,51,51); top-bar-button: url(artnavgl.gif)
}
.mstheme-topbar-font {
	FONT-SIZE: 1px; COLOR: rgb(255,255,204); FONT-FAMILY: Arial, Helvetica
}
BODY {
	FONT-FAMILY: Arial, Helvetica
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 24pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 18pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 14pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
BUTTON {
	BORDER-RIGHT: 1pt solid; BORDER-TOP: 1pt solid; FONT-SIZE: 8pt; BORDER-LEFT: 1pt solid; BORDER-BOTTOM: 1pt solid; FONT-FAMILY: Arial, Helvetica
}
LABEL {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica
}
.MSTHEME-LABEL {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica
}
TEXTAREA {
	FONT-SIZE: 8pt; BORDER-TOP-STYLE: solid; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid
}
FIELDSET {
	BORDER-RIGHT: 1pt solid; BORDER-TOP: 1pt solid; FONT-SIZE: 8pt; BORDER-LEFT: 1pt solid; BORDER-BOTTOM: 1pt solid; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
LEGEND {
	FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-FAMILY: Arial
}
SELECT {
	FONT-SIZE: 8pt; BORDER-TOP-STYLE: solid; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid
}
TABLE {
	FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
CAPTION {
	FONT-SIZE: 14pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
TH {
	FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
MARQUEE {
	FONT-SIZE: 14pt; FONT-FAMILY: Arial, Helvetica
}
.ms-main {
	BORDER-RIGHT: #cc9933 50px solid
}
.ms-bannerframe {
	BORDER-BOTTOM: #cc6633 4px solid; BACKGROUND-COLOR: #cc9933
}
.ms-banner A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.ms-banner A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.ms-banner {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial, sans-serif
}
.ms-nav TD {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ffffcc; FONT-FAMILY: Arial, sans-serif
}
.ms-nav TH {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ffffcc; FONT-FAMILY: Arial, sans-serif; TEXT-ALIGN: left
}
.ms-navframe {
	BORDER-LEFT: #cc6633 4px solid; COLOR: #ffffcc
}
.ms-nav A {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ffcc66; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.ms-nav A:hover {
	COLOR: #99cc33; TEXT-DECORATION: underline
}
.ms-nav A:visited {
	COLOR: #999966
}
.ms-verticaldots {
	BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(blank.gif); BACKGROUND-REPEAT: repeat-y
}
.ms-viewselect A:link {
	FONT-SIZE: 9pt; COLOR: #ffcc66; FONT-FAMILY: Arial, sans-serif
}
.ms-titlearea {
	FONT-SIZE: 9pt; COLOR: #ffffcc; FONT-FAMILY: Arial, sans-serif
}
.ms-titleareaframe {
	BORDER-LEFT: #cc6633 4px solid; COLOR: #ffffcc
}
.ms-pagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #ffffcc; FONT-FAMILY: Garamond, serif
}
.ms-pagetitle A {
	COLOR: #ffffcc; TEXT-DECORATION: none
}
.ms-pagetitle A:hover {
	COLOR: #ffffcc; TEXT-DECORATION: underline
}
.ms-announcementtitle {
	FONT-WEIGHT: normal
}
.ms-formlabel {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ffffcc; FONT-FAMILY: Arial, sans-serif; TEXT-ALIGN: left
}
.ms-formdescription A {
	COLOR: #3366cc; TEXT-DECORATION: none
}
.ms-formbody {
	FONT-SIZE: 9pt; COLOR: #3366cc; FONT-FAMILY: Arial, sans-serif; HEIGHT: 19px; TEXT-ALIGN: left
}
.ms-formdescription {
	FONT-SIZE: 9pt; COLOR: #ffffcc; FONT-FAMILY: Arial, sans-serif
}
.ms-radiotext {
	FONT-SIZE: 10pt; CURSOR: default; FONT-FAMILY: Garamond, serif; HEIGHT: 19px; TEXT-ALIGN: left
}
.ms-searchbox {
	WIDTH: 100%
}
.ms-input {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, sans-serif
}
.ms-long {
	FONT-SIZE: 9pt; WIDTH: 300px; FONT-FAMILY: Arial, sans-serif
}
.ms-wvsel {
	COLOR: #3366cc
}
.ms-selected {
	COLOR: #000000; BACKGROUND-COLOR: #999999
}
.ms-selected SPAN {
	COLOR: #000000
}
.ms-filedialog TD {
	HEIGHT: 16px
}
.ms-descriptiontext {
	FONT-SIZE: 9pt; COLOR: #ffffcc; FONT-FAMILY: Arial, sans-serif
}
.ms-descriptiontext A {
	FONT-SIZE: 9pt; COLOR: #ffcc66; FONT-FAMILY: Arial, sans-serif
}
.ms-toolbar {
	FONT-SIZE: 9pt; COLOR: #cccc33; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.ms-separator {
	FONT-SIZE: 10pt; COLOR: #ffffcc
}
.ms-authoringcontrols {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #f2f2f2
}
.ms-sectionheader {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #ffcc66; FONT-FAMILY: Arial, sans-serif
}
.ms-sectionline {
	HEIGHT: 1px; BACKGROUND-COLOR: #339999
}
.ms-propertysheet {
	FONT-SIZE: 9pt; FONT-FAMILY: Arial, sans-serif
}
.ms-propertysheet TH {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ffffcc; FONT-FAMILY: Arial, sans-serif
}
.ms-propertysheet A {
	COLOR: #ffcc66; TEXT-DECORATION: none
}
.ms-propertysheet A:hover {
	COLOR: #99cc33; TEXT-DECORATION: underline
}
.ms-propertysheet A:visited {
	COLOR: #999966; TEXT-DECORATION: none
}
.ms-propertysheet A:hover {
	TEXT-DECORATION: underline
}
.ms-itemheader A {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #ffcc66; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.ms-itemheader A:hover {
	COLOR: #99cc33; TEXT-DECORATION: underline
}
.ms-itemheader A:visited {
	COLOR: #999966; TEXT-DECORATION: none
}
.ms-itemheader A:hover {
	TEXT-DECORATION: underline
}
.ms-discussiontitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #cc9933; FONT-FAMILY: Arial, sans-serif
}
.ms-vh {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #ffffcc; FONT-FAMILY: Arial, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.ms-vh A {
	COLOR: #ffcc66; TEXT-DECORATION: none
}
.ms-vh A:hover {
	TEXT-DECORATION: underline
}
.ms-vb {
	FONT-SIZE: 9pt; VERTICAL-ALIGN: top; COLOR: #ffffcc; FONT-FAMILY: Arial, sans-serif; HEIGHT: 18px
}
.ms-vb A {
	COLOR: #ffcc66; TEXT-DECORATION: none
}
.ms-vb A:hover {
	COLOR: #99cc33; TEXT-DECORATION: underline
}
.ms-vb A:visited {
	COLOR: #999966; TEXT-DECORATION: none
}
.ms-vb A:hover {
	TEXT-DECORATION: underline
}
.ms-homepagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #cc6633; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.ms-homepagetitle:hover {
	COLOR: #cc6633; TEXT-DECORATION: underline
}
.ms-addnew {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #339999; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.ms-cal {
	TABLE-LAYOUT: fixed; CURSOR: default; COLOR: #000000; FONT-FAMILY: Arial, sans-serif; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffcc
}
.ms-caltop {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; BORDER-LEFT: black 1px solid; WIDTH: 14%; HEIGHT: 30px
}
.ms-calhead {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 2px; BORDER-TOP: medium none; PADDING-LEFT: 2px; FONT-SIZE: 16pt; PADDING-BOTTOM: 2px; BORDER-LEFT: medium none; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #cc9933; TEXT-ALIGN: center
}
.ms-caldow {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; BORDER-LEFT: black 1px solid; COLOR: #000000; HEIGHT: 20px; BACKGROUND-COLOR: #ffffcc; TEXT-ALIGN: center
}
.ms-calmid {
	BORDER-RIGHT: black 1px solid; BORDER-LEFT: black 1px solid; HEIGHT: 20px
}
.ms-calspacer {
	BORDER-RIGHT: black 1px solid; BORDER-LEFT: black 1px solid; HEIGHT: 4px
}
.ms-calbot {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: medium none; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; HEIGHT: 2px
}
.ms-appt A {
	COLOR: #2d425f
}
.ms-appt A:hover {
	COLOR: red
}
.ms-appt {
	BORDER-RIGHT: #cc6633 2px solid; BORDER-TOP: #cc6633 2px solid; FONT-SIZE: 8pt; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #cc6633 2px solid; COLOR: black; BORDER-BOTTOM: #cc6633 2px solid; HEIGHT: 18px; BACKGROUND-COLOR: #d2deee; TEXT-ALIGN: center
}
.ms-caldowdown {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffcc; TEXT-ALIGN: center
}
.ms-caldown {
	FONT-SIZE: 9pt; VERTICAL-ALIGN: top; COLOR: #000000; BACKGROUND-COLOR: #ffffcc; TEXT-ALIGN: left
}
.ms-datepickeriframe {
	DISPLAY: none; BACKGROUND: white; POSITION: absolute
}
.ms-datepicker {
	BORDER-RIGHT: activeborder 2px outset; BORDER-TOP: activeborder 2px outset; BORDER-LEFT: activeborder 2px outset; CURSOR: default; COLOR: #000000; BORDER-BOTTOM: activeborder 2px outset; FONT-FAMILY: Arial; BACKGROUND-COLOR: #ffffff
}
.ms-dpdow {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 8pt; VERTICAL-ALIGN: top; BORDER-LEFT: medium none; BORDER-BOTTOM: black 1px solid; TEXT-ALIGN: center
}
.ms-dpday {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 8pt; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; TEXT-ALIGN: center
}
.ms-dpselectedday {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 8pt; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #ffffcc; TEXT-ALIGN: center
}
.ms-dpnonmonth {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 8pt; BORDER-LEFT: medium none; COLOR: gray; BORDER-BOTTOM: medium none; TEXT-ALIGN: center
}
.ms-dphead {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 8pt; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #cccc33; TEXT-ALIGN: center
}
.ms-dpfoot {
	BORDER-RIGHT: medium none; BORDER-TOP: 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; FONT-STYLE: italic; HEIGHT: 24px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
IMG.ms-button {
	CURSOR: hand
}
