BODY {
	FONT-SIZE: 0.8em; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY.admin {
	BACKGROUND-COLOR: #f1f1f1
}
BODY.margins {
	MARGIN: 0px
}
IMG {
	VERTICAL-ALIGN: middle
}
.forumName {
	FONT: 1.4em arial, verdana, sans-serif
}
A.forumName:hover {
	COLOR: #ff3300; TEXT-DECORATION: none
}
.forumThread {
	FONT-SIZE: 0.9em; FONT-FAMILY: verdana, Arial, sans-serif
}
.txt1 {
	FONT-SIZE: 1em
}
.txt2 {
	FONT-SIZE: 0.9em
}
.txt3 {
	FONT-SIZE: 0.8em
}
.txt4 {
	FONT-SIZE: 0.7em
}
.txt4rt {
	MARGIN-TOP: 0.2em; FONT-SIZE: 0.7em; VERTICAL-ALIGN: middle; TEXT-ALIGN: right; align: right
}
.txt4lt {
	FONT-SIZE: 0.7em; VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
.txt4rb {
	FONT-SIZE: 0.7em; VERTICAL-ALIGN: bottom; TEXT-ALIGN: right
}
.txt4rm {
	FONT-SIZE: 0.7em; VERTICAL-ALIGN: middle; TEXT-ALIGN: right
}
.txt4l {
	FONT-SIZE: 0.7em; TEXT-ALIGN: left
}
.txt4r {
	FONT-SIZE: 0.7em; TEXT-ALIGN: right
}
.txt4t {
	FONT-SIZE: 0.7em; VERTICAL-ALIGN: top
}
.txt5 {
	FONT-SIZE: 0.6em
}
.txt5rb {
	FONT-SIZE: 0.6em; VERTICAL-ALIGN: bottom; TEXT-ALIGN: right
}
.txt5rt {
	FONT-SIZE: 0.6em; VERTICAL-ALIGN: top; TEXT-ALIGN: right
}
.txt5r {
	FONT-SIZE: 0.6em; TEXT-ALIGN: right
}
.txt5l {
	FONT-SIZE: 0.6em; TEXT-ALIGN: left
}
.txt6 {
	FONT-SIZE: 0.8em; COLOR: green
}
.txt7 {
	FONT-SIZE: 1.2em
}
.txt1Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 1em
}
.txt2Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em
}
.txt3Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em
}
.txt4Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em
}
.txt5Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 0.6em
}
.txt3red {
	FONT-SIZE: 0.8em; COLOR: red
}
.printDetails {
	FONT-SIZE: 0.6em; COLOR: darkgray
}
.noTopics {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em
}
.dateText {
	FONT-SIZE: 0.6em; COLOR: white
}
.txtIrcMe {
	COLOR: fuchsia
}
.tableBorder {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; BORDER-LEFT: 1px outset; BORDER-BOTTOM: 1px outset; BACKGROUND-COLOR: #ffffff
}
.moderationTable {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #f1f1f1
}
.adminTable {
	BACKGROUND-COLOR: #ffffff
}
.quoteTable {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset; BACKGROUND-COLOR: #eeeeee
}
.editTable {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; FONT-SIZE: 0.8em; BORDER-LEFT: 1px inset; COLOR: red; BORDER-BOTTOM: 1px inset; BACKGROUND-COLOR: #eef7ff
}
TABLE.gen {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
TD.column {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: #ffffff; BACKGROUND-COLOR: #999
}
TD.ccolumn {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: #ffffff; BACKGROUND-COLOR: #999; TEXT-ALIGN: center
}
TD.rmcolumn {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: right
}
TD.lmcolumn {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; VERTICAL-ALIGN: middle; BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: left
}
TD.spacer {
	BACKGROUND-IMAGE: url(../images/spacer.gif); WIDTH: 1px
}
TD.h1a {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; BACKGROUND-IMAGE: url(../images/forumHeaderBackgroundAlternate.gif); COLOR: #4455aa; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #e7e3e7; TEXT-DECORATION: none
}
TD.h1 {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; BACKGROUND-IMAGE: url(../images/forumHeaderBackground.gif); COLOR: white; BACKGROUND-COLOR: #4455aa
}
TD.f {
	FONT-SIZE: 0.71em; BACKGROUND-COLOR: #f1f1f1
}
TD.fa {
	FONT-SIZE: 0.71em; BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: center
}
TD.ft {
	FONT-SIZE: 0.71em; VERTICAL-ALIGN: top; BACKGROUND-COLOR: #f1f1f1
}
TD.fr {
	FONT-SIZE: 0.71em; BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: right
}
TD.f2 {
	FONT-SIZE: 0.8em; BACKGROUND-COLOR: #f1f1f1
}
TD.fh {
	FONT-SIZE: 0.71em; BACKGROUND-IMAGE: url(../images/fhBg.gif); BACKGROUND-REPEAT: repeat-x
}
TD.fhlt {
	FONT-SIZE: 0.71em; BACKGROUND-IMAGE: url(../images/fhBg.gif); VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TD.fhct {
	FONT-SIZE: 0.71em; BACKGROUND-IMAGE: url(../images/fhBg.gif); VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TD.fhc {
	FONT-SIZE: 0.71em; BACKGROUND-IMAGE: url(../images/fhBg.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TD.fht {
	FONT-SIZE: 0.71em; BACKGROUND-IMAGE: url(../images/fhBg.gif); VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
TD.fhb {
	FONT-SIZE: 0.71em; BACKGROUND-IMAGE: url(../images/fhBg.gif); VERTICAL-ALIGN: bottom; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
TD.fh2 {
	FONT-SIZE: 0.71em
}
TD.fh2l {
	FONT-SIZE: 0.71em; TEXT-ALIGN: left
}
TD.fh2r {
	FONT-SIZE: 0.71em; TEXT-ALIGN: right
}
TD.fh2c {
	FONT-SIZE: 0.71em; TEXT-ALIGN: center
}
TD.fh3 {
	BORDER-TOP: #f1f1f1 1px solid; FONT-SIZE: 0.71em; BORDER-LEFT: #f1f1f1 1px solid; BACKGROUND-COLOR: #ffffff
}
TD.fh3b {
	BORDER-TOP: #f1f1f1 1px solid; FONT-SIZE: 0.71em; BORDER-LEFT: #f1f1f1 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TD.fh3a {
	BORDER-TOP: #f1f1f1 1px solid; FONT-SIZE: 0.71em; BORDER-LEFT: #f1f1f1 1px solid; BACKGROUND-COLOR: #ffffff
}
TD.fh3rm {
	BORDER-TOP: #f1f1f1 1px solid; FONT-SIZE: 0.71em; VERTICAL-ALIGN: middle; BORDER-LEFT: #f1f1f1 1px solid; WIDTH: 25px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
TD.fh4 {
	BORDER-TOP: #f1f1f1 1px solid; FONT-SIZE: 0.71em; BORDER-LEFT: #f1f1f1 1px solid; BACKGROUND-COLOR: #ffffff
}
TD.fh4a {
	BORDER-TOP: #f1f1f1 1px solid; FONT-SIZE: 0.71em; BORDER-LEFT: #f1f1f1 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
TD.threadTitle {
	BACKGROUND-COLOR: #d4d9ec
}
.threadDetailTextSmall {
	FONT-SIZE: 0.7em; COLOR: #0055e7
}
.threadDetailTextSmallBold {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: #0055e7
}
A {
	COLOR: #013da4; TEXT-DECORATION: none
}
A:visited {
	COLOR: #013da4; TEXT-DECORATION: none
}
A:link {
	COLOR: #013da4; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
A.linkSmallBold {
	FONT-WEIGHT: bold
}
A.linkMenuSink {
	FONT-WEIGHT: bold
}
A.linkSmall {
	FONT-SIZE: 0.7em; COLOR: navy
}
A.LinkSmallBold {
	FONT-SIZE: 0.7em; COLOR: navy
}
A.linkMenuSink {
	FONT-SIZE: 0.7em; COLOR: navy
}
A.linkSmallBold:visited {
	COLOR: #013da4
}
A.linkMenuSink:visited {
	COLOR: #013da4
}
A.linkSmallBold:hover {
	COLOR: #ff3300
}
A.linkMenuSink:hover {
	COLOR: #ff3300
}
A.lnk3 {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #013da4
}
A.lnk3:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #013da4
}
A.lnk3:link {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: #013da4
}
A.lnk3:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
columnText {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: #ffffff
}
A.columnText {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: #ffffff
}
A.columnText:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: #ffffff
}
A.columnText:link {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: #ffffff
}
A.columnText:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 0.7em; COLOR: #ffffff
}
.flnk3 {
	CURSOR: pointer; COLOR: #013da4
}
A.flnk3:visited {
	FONT-WEIGHT: bold; COLOR: #013da4
}
A.flnk3:link {
	FONT-WEIGHT: bold; COLOR: #013da4
}
A.flnk3:hover {
	COLOR: #ff3300
}
.inlineLink {
	CURSOR: pointer; COLOR: #555555
}
.inline {
	FONT-SIZE: 0.75em; COLOR: #555555
}
.menuText {
	FONT-WEIGHT: bold; FONT-SIZE: 0.6em; COLOR: #ffffff
}
A.menuLink:visited {
	PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: smaller; TEXT-DECORATION: none
}
A.menuLink:link {
	PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: smaller; TEXT-DECORATION: none
}
A.menuLink:hover {
	COLOR: #ff3300
}
TD.flatViewSpacing {
	HEIGHT: 2px; BACKGROUND-COLOR: #ffffff
}
TD.threadSeparator {
	HEIGHT: 4px; BACKGROUND-COLOR: #cccccc
}
TD.adminSeparator {
	HEIGHT: 4px; BACKGROUND-COLOR: #ffffff
}
TD.moderateSeparator {
	HEIGHT: 12px; BACKGROUND-COLOR: #ffffff
}
.validationWarning {
	COLOR: red
}
.currentPage {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em
}
SELECT {
	FONT-SIZE: 0.9em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 0.8em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 0.8em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD.ControlPanelTabActive {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #ff5500 3px solid; FONT-WEIGHT: bold; FONT-SIZE: 0.7em; BACKGROUND-IMAGE: url(../images/tab2.gif); BORDER-LEFT: #c2c2c2 1px solid; COLOR: white; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #f1f1f1
}
TD.ControlPanelTabInactive {
	BORDER-RIGHT: #c2c2c2 1px solid; BORDER-TOP: #c2c2c2 3px solid; FONT-WEIGHT: normal; FONT-SIZE: 0.7em; BACKGROUND-IMAGE: url(../images/tab1.gif); BORDER-LEFT: #c2c2c2 1px solid; COLOR: #4455aa; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #e7e3e7; TEXT-DECORATION: none
}
TD.ControlPanelTabLine {
	BACKGROUND-COLOR: #c2c2c2
}
.page {
	WIDTH: 100%
}
#msviRegionIdGraphic {
	PADDING-LEFT: 0px
}
.gt0 {
	BORDER-RIGHT: #1e77d3 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #1e77d3 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 100%; PADDING-BOTTOM: 2px; BORDER-LEFT: #1e77d3 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #1e77d3 1px solid
}
.gt1 {
	BORDER-RIGHT: #a1c6eb 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #a1c6eb 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 100%; BACKGROUND: #3484d7; PADDING-BOTTOM: 2px; BORDER-LEFT: #a1c6eb 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #a1c6eb 1px solid
}
.gtsep {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; FONT: 65% Verdana; COLOR: #a1c6eb; PADDING-TOP: 0px
}
#msviGlobalToolbar A {
	FONT: 65% Verdana; COLOR: #ffffff; TEXT-DECORATION: none
}
#msviGlobalSearch {
	PADDING-RIGHT: 15px; PADDING-LEFT: 6px; FONT: 65% Verdana; PADDING-TOP: 5px; TEXT-ALIGN: left
}
#msviSearchForm {
	MARGIN: -1px 0px 0px
}
#msviSearchBox {
	FONT: 110% Tahoma; WIDTH: 235px; xheight: 18px
}
#msviGoButton {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0em; FONT: 110% Tahoma; MARGIN-LEFT: 6px; PADDING-TOP: 0em; POSITION: relative; TOP: 1px
}
#msviFooter {
	FONT: 70% Tahoma, Helvetica
}
#msviFooter TD {
	FONT-SIZE: 100%
}
#msviLocalFooter {
	PADDING-LEFT: 10px; MARGIN: 0px; PADDING-TOP: 8px
}
#msviGlobalFooter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 13px; MARGIN: 0px; PADDING-TOP: 10px
}
#msviFooter A {
	COLOR: #03c; MARGIN-RIGHT: 2px
}
#msviFooter A:visited {
	COLOR: #03c
}
#msviFooter A:hover {
	COLOR: #f60
}
#msviFooter SPAN {
	COLOR: #666666; MARGIN-RIGHT: 5px
}
#msviFooter2 {
	FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#ffffff',endColorStr='#1e77d3',gradientType='1'); BACKGROUND-COLOR: #ffffff
}
.ContainerSectionHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; FONT-FAMILY: Verdana, Arial
}
.containerTextBox {
	MARGIN-TOP: 3px; WIDTH: 117px; FONT-FAMILY: Verdana, Arial; HEIGHT: 18px
}
.ContainerListBox {
	MARGIN-TOP: 3px; FONT-SIZE: 8pt; FONT-FAMILY: Tahoma, Arial
}
.ContainerUL {
	MARGIN-TOP: -0.2em; COLOR: #333333; FONT-FAMILY: Verdana, Arial; fontSize: x-small; marginLeft: -25px; marginBottom: 0px
}
.ContainerUL LI {
	MARGIN-BOTTOM: 0.4em; MARGIN-LEFT: -2.2em; FONT-FAMILY: Verdana, Arial; marginLeft: 0em; marginBottom: 0em
}
.ContainerContent {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #f1f1f1
}
.ContainerContentColored {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #ccffcc
}
.ContainerContentInline {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #f1f1f1
}
.ContainerContentColoredInline {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #ccffcc
}
.ContainerContentColoredInlineDiv {
	
}
.ContainerContentWrap {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; WIDTH: 600px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial
}
.ContainerContentLarge {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 108%; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; FONT-FAMILY: Verdana, Arial
}
.DetailsContainer {
	WIDTH: 100%
}
.DetailsContainerFloatRight {
	CLEAR: right; FLOAT: right; TEXT-ALIGN: right
}
.ContainerTopBorder {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 2px solid
}
.ContainerTop {
	OVERFLOW: hidden; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #003399
}
.ContainerBottomBorder {
	PADDING-RIGHT: 1px; BORDER-TOP: #999999 2px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.ContainerBottom {
	BORDER-TOP: #999999 1px solid; OVERFLOW: hidden; BACKGROUND-COLOR: #999999
}
.BottomWrapper {
	OVERFLOW: hidden; HEIGHT: 4px
}
.ContainerSection {
	MARGIN: 0px 0px 12px 15px; WIDTH: 165px
}
.ContainerBottomPadding {
	OVERFLOW: hidden; WIDTH: auto; HEIGHT: 12px; BACKGROUND-COLOR: #f1f1f1
}
.PostButton {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: black 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #eeeeff
}
