.partner_item {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.article_item {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 8px
}
.teaser_image_right {
	FLOAT: right; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 6px
}
.teaser_image_left {
	FLOAT: left; MARGIN-BOTTOM: 4px; MARGIN-RIGHT: 6px
}
.rightcolumn .job_item {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.rightcolumn .job_item_short {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.rightcolumn .job_summary_short {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.headingblock A.heading {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.headingblock .heading {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.headingblock A.heading {
	TEXT-DECORATION: none
}
.headingblock A.heading:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.headingblock A.heading:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.maincolumn .headingblock A.heading {
	FONT-SIZE: 85%; voice-family: inherit
}
.maincolumn .headingblock .heading {
	FONT-SIZE: 85%; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 85%
}
.maincolumn .headingblock {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
.maincolumn .headingblock .heading {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-STYLE: normal
}
.maincolumn .blockcontents {
	PADDING-BOTTOM: 16px
}
.maincolumn .summarytext {
	FONT-SIZE: 85%; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 85%
}
.partner_item A.listheadline {
	FONT-WEIGHT: 700; FONT-SIZE: 110%; voice-family: inherit
}
.job_item_short A.listheadline {
	FONT-WEIGHT: 700; FONT-SIZE: 110%; voice-family: inherit
}
.jobsummary A.listheadline {
	FONT-WEIGHT: 700; FONT-SIZE: 110%; voice-family: inherit
}
.rightcolumn A.listheadline {
	FONT-WEIGHT: 700; FONT-SIZE: 110%; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 110%
}
.rightcolumn .headingblock A.heading {
	FONT-SIZE: x-small; voice-family: inherit
}
.rightcolumn .headingblock .heading {
	FONT-SIZE: x-small; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: x-small
}
.rightcolumn .blockwithheading .blockcontents {
	FONT-SIZE: x-small; voice-family: inherit
}
.rightcolumn .blockcontents {
	FONT-SIZE: x-small; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: x-small
}
.rightcolumn DIV.headingblock A.heading {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; voice-family: inherit
}
.rightcolumn DIV.headingblock .heading {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; voice-family: inherit
}
UNKNOWN {
	PADDING-RIGHT: 1px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.rightcolumn {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.rightcolumn .blockwithheading {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px; BORDER-LEFT: #ccc 1px solid; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: white; TEXT-DECORATION: none; voice-family: inherit
}
UNKNOWN {
	MARGIN: 4px 0px
}
.rightcolumn .blockwithheading .headingblock {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: white
}
.rightcolumn .blockwithheading .blockcontents {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent
}
.rightcolumn .blockwithheading .blockwithheading {
	DISPLAY: block; MARGIN-BOTTOM: 4px; COLOR: #000000; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: white; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.rightcolumn .blockcontents A {
	COLOR: #333333
}
.rightcolumn .orangebox .blockwithheading {
	BORDER-LEFT-COLOR: #ef8713; BORDER-BOTTOM-COLOR: #ef8713; BORDER-TOP-COLOR: #ef8713; BACKGROUND-COLOR: #ffebd6; BORDER-RIGHT-COLOR: #ef8713
}
.rightcolumn .orangebox .blockwithheading .headingblock {
	BACKGROUND-COLOR: #ef8713
}
.rightcolumn .bluebox .blockwithheading {
	BORDER-LEFT-COLOR: #336699; BORDER-BOTTOM-COLOR: #336699; BORDER-TOP-COLOR: #336699; BACKGROUND-COLOR: #e0ebf5; BORDER-RIGHT-COLOR: #336699
}
.rightcolumn .bluebox .blockwithheading .headingblock {
	BACKGROUND-COLOR: #336699
}
.rightcolumn .greenbox .blockwithheading {
	BORDER-LEFT-COLOR: #339933; BORDER-BOTTOM-COLOR: #339933; BORDER-TOP-COLOR: #339933; BACKGROUND-COLOR: #d6f5d6; BORDER-RIGHT-COLOR: #339933
}
.rightcolumn .greenbox .blockwithheading .headingblock {
	BACKGROUND-COLOR: #339933
}
.rightcolumn .purplebox .blockwithheading {
	BORDER-LEFT-COLOR: #9966cc; BORDER-BOTTOM-COLOR: #9966cc; BORDER-TOP-COLOR: #9966cc; BACKGROUND-COLOR: #ebe0f5; BORDER-RIGHT-COLOR: #9966cc
}
.rightcolumn .purplebox .blockwithheading .headingblock {
	BACKGROUND-COLOR: #9966cc
}
.rightcolumn .turquoisebox .blockwithheading {
	BORDER-LEFT-COLOR: #339999; BORDER-BOTTOM-COLOR: #339999; BORDER-TOP-COLOR: #339999; BACKGROUND-COLOR: #e0f5f5; BORDER-RIGHT-COLOR: #339999
}
.rightcolumn .turquoisebox .blockwithheading .headingblock {
	BACKGROUND-COLOR: #339999
}
.rightcolumn .yellowbox .blockwithheading {
	BORDER-LEFT-COLOR: #f5ea07; BORDER-BOTTOM-COLOR: #f5ea07; BORDER-TOP-COLOR: #f5ea07; BACKGROUND-COLOR: #fdfabd; BORDER-RIGHT-COLOR: #f5ea07
}
.rightcolumn .yellowbox .blockwithheading .headingblock {
	BACKGROUND-COLOR: #f5ea07
}
.rightcolumn .redbox .blockwithheading {
	BORDER-LEFT-COLOR: #ff0000; BORDER-BOTTOM-COLOR: #ff0000; BORDER-TOP-COLOR: #ff0000; BACKGROUND-COLOR: #ffcece; BORDER-RIGHT-COLOR: #ff0000
}
.rightcolumn .redbox .blockwithheading .headingblock {
	BACKGROUND-COLOR: #ff0000
}
.smlguidesbox {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND-IMAGE: url(/sitedesign/oneworld/images/guidesboxbg.gif); PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.guideselect {
	BORDER-RIGHT: #66cc33 1px dotted; BORDER-TOP: #66cc33 1px dotted; MARGIN-BOTTOM: 1px; BORDER-LEFT: #66cc33 1px dotted; BORDER-BOTTOM: #66cc33 1px dotted; BACKGROUND-COLOR: #ccff99
}
.guideselect .dropdowntext {
	FONT-SIZE: xx-small; WIDTH: 144px
}
UNKNOWN {
	FONT-SIZE: xx-small
}
.blockcontents .guidemenulink {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN-BOTTOM: 0px; COLOR: #333333; BACKGROUND-COLOR: #ccff99; TEXT-DECORATION: none; voice-family: inherit
}
.blockcontents .guidemenulink A {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN-BOTTOM: 0px; COLOR: #333333; BACKGROUND-COLOR: #ccff99; TEXT-DECORATION: none; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: x-small
}
.guidemenulink:hover A {
	TEXT-DECORATION: underline
}
