BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ccc
}
BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
DIV {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
SPAN {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
P {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
.p {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
UL {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
LI {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
TD {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
TH {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
SELECT {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
INPUT {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
TEXTAREA {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
credit {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
H1 {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
H2 {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
H3 {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
.listheadlinebox {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
.menuhead {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
.partnerheadlinebox {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
.shortarticleboxhead {
	FONT-FAMILY: Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
.listheadline {
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
.published {
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
.shortarticlehead {
	FONT-FAMILY: 'Trebuchet MS', Verdana, Arial, Helvetica, Swiss, Futura, sans-serif
}
.crumbtrail {
	BORDER-RIGHT: #fff 1px solid; PADDING-LEFT: 6px; FONT-SIZE: x-small; BORDER-LEFT: #fff 1px solid; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: x-small
}
.headerright {
	BORDER-RIGHT: #fff 1px solid
}
.headerleft {
	BORDER-LEFT: #fff 1px solid
}
.topmenuitemselected A:hover {
	COLOR: #000
}
A.topmenu {
	COLOR: #fff
}
A.topmenu:hover {
	COLOR: #000
}
.topmenuline {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid
}
.lefttopmenuitem {
	BORDER-RIGHT: #fff 1px solid
}
.righttopmenuitem {
	BORDER-LEFT: #fff 1px solid
}
.topmenuitem {
	BORDER-LEFT: #fff 1px solid
}
.topmenuitemselected {
	BORDER-LEFT: #fff 1px solid
}
.topmenuitem {
	PADDING-RIGHT: 14px; PADDING-LEFT: 14px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.topmenuitemselected {
	PADDING-RIGHT: 14px; PADDING-LEFT: 14px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.lefttopmenuitem {
	PADDING-RIGHT: 14px; PADDING-LEFT: 14px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.subtopmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: x-small; PADDING-BOTTOM: 6px; PADDING-TOP: 4px; TEXT-ALIGN: right; voice-family: inherit
}
UNKNOWN {
	FONT-WEIGHT: bold; FONT-SIZE: x-small
}
P {
	COLOR: #000000
}
.p {
	COLOR: #000000
}
LI {
	COLOR: #000000
}
A.path {
	COLOR: #000000
}
.userbox .menuhead A {
	COLOR: #000000
}
.description {
	COLOR: #000000
}
.menulink {
	COLOR: #000000
}
.linkselect {
	COLOR: #000000
}
.linknormal {
	COLOR: #000000
}
.menuitem A {
	COLOR: #000000
}
DIV.listheadline {
	DISPLAY: inline
}
DIV.listheadlinebox {
	COLOR: #ffffff
}
DIV.listheadlinebox A {
	COLOR: #ffffff
}
.listheadlinebox A.headline {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.listheadlinebox .headline {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.listheadlinebox .headline {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
DIV.listheadlinebox A:hover {
	COLOR: #ffffff
}
.shortarticleboxhead {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 6px; PADDING-TOP: 0px
}
.published {
	COLOR: #666666; FONT-STYLE: italic
}
.smallpath {
	COLOR: #000000
}
.smallpath A {
	COLOR: #000000
}
UL.short_article_list {
	PADDING-LEFT: 12px; LIST-STYLE-IMAGE: url(/images/dot.gif); PADDING-BOTTOM: 4px; MARGIN-LEFT: 10px; LIST-STYLE-TYPE: circle
}
UL.short_article_list LI {
	MARGIN: 4px 0px
}
.shortarticlehead {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 100%; PADDING-BOTTOM: 4px
}
.shortarticleboxhead {
	FONT-WEIGHT: bold
}
A:hover {
	TEXT-DECORATION: underline
}
.subtopline A:hover {
	TEXT-DECORATION: underline
}
.containerbox A {
	TEXT-DECORATION: underline
}
.smallpath {
	TEXT-DECORATION: underline
}
.smallpath A {
	TEXT-DECORATION: underline
}
A.toppath:hover {
	TEXT-DECORATION: underline
}
.boxheader A {
	TEXT-DECORATION: underline
}
.listheadline {
	TEXT-DECORATION: underline
}
A.listheadline {
	TEXT-DECORATION: underline
}
.rightcolumn .listheadline {
	TEXT-DECORATION: underline
}
.partneredit A:hover {
	TEXT-DECORATION: underline
}
.read-more {
	TEXT-DECORATION: underline
}
DIV.bottomline A {
	TEXT-DECORATION: underline
}
.userbox .menuhead A {
	TEXT-DECORATION: none
}
.bottomline A:hover {
	TEXT-DECORATION: none
}
.path {
	TEXT-DECORATION: none
}
.path A {
	TEXT-DECORATION: none
}
.toppath {
	TEXT-DECORATION: none
}
.toppath A {
	TEXT-DECORATION: none
}
A.sectioncolor {
	TEXT-DECORATION: none
}
A.topmenu {
	TEXT-DECORATION: none
}
A.headlinebox {
	TEXT-DECORATION: none
}
A.topmenu:hover {
	TEXT-DECORATION: none
}
.subtopline A {
	TEXT-DECORATION: none
}
.bottomline A {
	TEXT-DECORATION: none
}
.heading {
	TEXT-DECORATION: none
}
.containerbox A:hover {
	TEXT-DECORATION: none
}
DIV.listheadlinebox A {
	TEXT-DECORATION: none
}
DIV.listheadlinebox A:hover {
	TEXT-DECORATION: none
}
.linkbold {
	TEXT-DECORATION: none
}
.boxtext {
	TEXT-DECORATION: none
}
.menuitem A {
	TEXT-DECORATION: none
}
.menuitem A:hover {
	TEXT-DECORATION: none
}
.path A:hover {
	TEXT-DECORATION: none
}
A.smallpath:hover {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: none
}
A.listheadline:hover {
	TEXT-DECORATION: none
}
.shortarticleboxhead {
	TEXT-DECORATION: none
}
.rightcolumn .listheadline:hover {
	TEXT-DECORATION: none
}
.partneredit A {
	TEXT-DECORATION: none
}
.read-more A:hover {
	TEXT-DECORATION: none
}
DIV.summary {
	PADDING-BOTTOM: 6px; MARGIN: 6px
}
.jobsummary {
	PADDING-BOTTOM: 6px; MARGIN: 6px
}
.sponsorbox {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 1px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN-LEFT: 1px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center
}
.today {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 1px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN-LEFT: 1px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center
}
.today {
	FONT-WEIGHT: bold
}
.containerbox {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.containerbox A {
	COLOR: #333333
}
.containerbox {
	COLOR: #333333
}
.black {
	COLOR: #000000
}
A .black {
	COLOR: #000000
}
.black A {
	COLOR: #000000
}
.boxheader .black A {
	COLOR: #000000
}
.boxheader {
	COLOR: #000000
}
.boxheader A {
	COLOR: #000000
}
.shortarticlehead {
	COLOR: #000000
}
.shortarticlehead A {
	COLOR: #000000
}
.userbox {
	PADDING-BOTTOM: 4px; BORDER-LEFT: #ccc 1px solid; WIDTH: 99%; voice-family: inherit
}
.userbox A:hover {
	COLOR: #999
}
.divider {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #999 1px dotted; voice-family: inherit
}
UNKNOWN {
	PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #999 1px dotted
}
.dividerbottom {
	BORDER-BOTTOM: #999 1px dotted; HEIGHT: 2px
}
.boxheader {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 2px; voice-family: inherit
}
UNKNOWN {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 2px
}
.menubox A:hover {
	COLOR: #999
}
.menuhead {
	PADDING-RIGHT: 3px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; COLOR: #666666; PADDING-TOP: 3px
}
.menubox .menuhead {
	BACKGROUND-COLOR: #ebebeb
}
.userbox .menuhead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: x-small; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: x-small
}
.menuselected {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #999999; TEXT-DECORATION: none
}
.menuitem {
	PADDING-RIGHT: 4px; BORDER-TOP: #dbdbdb 1px dotted; PADDING-LEFT: 4px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-DECORATION: none
}
.menubox {
	BORDER-RIGHT: #ccc 1px solid; MARGIN-TOP: 1px; MARGIN-LEFT: 1px; BORDER-LEFT: #ccc 1px solid; voice-family: inherit
}
HTML.body .menubox {
	BORDER-RIGHT: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.leftmenuaditem {
	MARGIN: 4px 0px; align: center
}
.bgweekend {
	BACKGROUND-COLOR: #a0a0a0
}
.bgselect {
	FONT-WEIGHT: bold
}
HR {
	COLOR: #000000; HEIGHT: 1px
}
.bglight {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 10px; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #f8f8f8
}
.bgdark {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 10px; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ebebeb
}
.tdmini {
	FONT-SIZE: 1px
}
.sectioncolorbg {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.arrow {
	FONT-WEIGHT: bold; COLOR: #666666
}
.searchfield {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BACKGROUND-COLOR: #cccccc
}
.searchfieldend {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BACKGROUND-COLOR: #cccccc
}
.searchfieldend {
	BORDER-RIGHT: #fff 1px solid
}
.searchcells {
	TEXT-ALIGN: left
}
.searchtext {
	COLOR: #000000
}
.networkbox {
	PADDING-LEFT: 4px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.boxtext {
	COLOR: #666666
}
.formlevel1 {
	BORDER-TOP: #ffffff 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ebebeb
}
.formlevel2 {
	BORDER-TOP: #ffffff 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #f8f8f8
}
.box {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.midbox {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.halfbox {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.searchbox {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
DIV.authorbio {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FLOAT: left; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 6px; WIDTH: 140px; MARGIN-RIGHT: 10px; PADDING-TOP: 6px
}
.partner {
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; FONT-SIZE: small; MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffff; voice-family: inherit
}
.partneredit {
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: x-small; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffff; voice-family: inherit
}
.partnerboxhead {
	MARGIN-TOP: 4px; FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #fff; BORDER-BOTTOM: #999 1px solid; voice-family: inherit
}
.partnerboxhead .headline {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
DIV.profile {
	MARGIN-BOTTOM: 16px
}
H1 {
	MARGIN-TOP: 0px; FONT-SIZE: large; MARGIN-BOTTOM: 1%; COLOR: #000000; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: large; MARGIN-BOTTOM: 1%
}
.factbox {
	FONT-WEIGHT: normal; FONT-SIZE: medium; voice-family: inherit
}
.heading {
	FONT-WEIGHT: normal; FONT-SIZE: medium; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: medium; MARGIN-BOTTOM: 1%
}
DIV .listheadlinebox .headline {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; voice-family: inherit
}
DIV .listheadlinebox A.headline {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 85%
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 130%; MARGIN-BOTTOM: 1%; COLOR: #000000
}
H3 {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: 2px; COLOR: #000; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 110%
}
H4 {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: 2px; COLOR: #666; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 110%
}
H5 {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 1%; COLOR: #666; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%; MARGIN-BOTTOM: 1%; COLOR: #666; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 100%
}
.listheadline {
	MARGIN-TOP: 10px; FONT-WEIGHT: 500; FONT-SIZE: 130%; MARGIN-BOTTOM: 4px; COLOR: #333333; voice-family: inherit
}
A.listheadline {
	MARGIN-TOP: 10px; FONT-WEIGHT: 500; FONT-SIZE: 130%; MARGIN-BOTTOM: 4px; COLOR: #333333; voice-family: inherit
}
.articlesubheading {
	FONT-WEIGHT: bold; COLOR: #333333; PADDING-TOP: 6px; FONT-STYLE: normal
}
.related {
	FONT-WEIGHT: bold; COLOR: #333333; PADDING-TOP: 6px; FONT-STYLE: normal
}
.read-more {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; TEXT-ALIGN: right; voice-family: inherit
}
BODY {
	FONT-SIZE: 0.9em; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 0.9em
}
.dropdowntext {
	FONT-SIZE: 85%; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 85%
}
LI {
	FONT-SIZE: small; voice-family: inherit
}
.menuhead {
	FONT-SIZE: small; voice-family: inherit
}
.menubullet {
	FONT-SIZE: small; voice-family: inherit
}
.description {
	FONT-SIZE: small; voice-family: inherit
}
.linkselect {
	FONT-SIZE: small; voice-family: inherit
}
.linkbold {
	FONT-SIZE: small; voice-family: inherit
}
.linknormal {
	FONT-SIZE: small; voice-family: inherit
}
.stdbutton {
	FONT-SIZE: small; voice-family: inherit
}
.okbutton {
	FONT-SIZE: small; voice-family: inherit
}
.lefttopmenuitem {
	FONT-SIZE: small; voice-family: inherit
}
.mainsearchbox {
	FONT-SIZE: small; voice-family: inherit
}
.topoptionbox {
	FONT-SIZE: small; voice-family: inherit
}
.subtopline {
	FONT-SIZE: small; voice-family: inherit
}
.bottomline {
	FONT-SIZE: small; voice-family: inherit
}
.check {
	FONT-SIZE: small; voice-family: inherit
}
TD {
	FONT-SIZE: small; voice-family: inherit
}
TH {
	FONT-SIZE: small; voice-family: inherit
}
.menulink {
	FONT-SIZE: small; voice-family: inherit
}
.byline {
	FONT-SIZE: small; voice-family: inherit
}
H3 {
	FONT-SIZE: small; voice-family: inherit
}
.sponsorbox {
	FONT-SIZE: x-small; voice-family: inherit
}
A.path {
	FONT-SIZE: x-small; voice-family: inherit
}
.menu {
	FONT-SIZE: x-small; voice-family: inherit
}
.menuselected {
	FONT-SIZE: x-small; voice-family: inherit
}
.menuarrow {
	FONT-SIZE: x-small; voice-family: inherit
}
.menuitem {
	FONT-SIZE: x-small; voice-family: inherit
}
.menubutton {
	FONT-SIZE: x-small; voice-family: inherit
}
.menutext {
	FONT-SIZE: x-small; voice-family: inherit
}
.subhead {
	FONT-SIZE: x-small; voice-family: inherit
}
.smallbyline {
	FONT-SIZE: x-small; voice-family: inherit
}
.pictext {
	FONT-SIZE: x-small; voice-family: inherit
}
.credit {
	FONT-SIZE: x-small; voice-family: inherit
}
.smallpath {
	FONT-SIZE: x-small; voice-family: inherit
}
.small {
	FONT-SIZE: x-small; voice-family: inherit
}
.smallarticle {
	FONT-SIZE: x-small; voice-family: inherit
}
.smallbold {
	FONT-SIZE: x-small; voice-family: inherit
}
.small A {
	FONT-SIZE: x-small; voice-family: inherit
}
.xsmall {
	FONT-SIZE: x-small; voice-family: inherit
}
.smallbutton {
	FONT-SIZE: x-small; voice-family: inherit
}
.containerbox {
	FONT-SIZE: x-small; voice-family: inherit
}
.containerbox DIV {
	FONT-SIZE: x-small; voice-family: inherit
}
.related {
	FONT-SIZE: x-small; voice-family: inherit
}
.boxheader {
	FONT-SIZE: x-small; voice-family: inherit
}
.published {
	FONT-SIZE: x-small; voice-family: inherit
}
.shortarticleboxhead {
	FONT-SIZE: x-small; voice-family: inherit
}
.today {
	FONT-SIZE: x-small; voice-family: inherit
}
.path {
	FONT-SIZE: 90%; voice-family: inherit
}
.boxtext {
	FONT-SIZE: 90%; voice-family: inherit
}
.topmenuitem {
	FONT-SIZE: 90%; voice-family: inherit
}
.topmenuitemselected {
	FONT-SIZE: 90%; voice-family: inherit
}
.searchoptionbox {
	FONT-SIZE: 90%; voice-family: inherit
}
.searchtext {
	FONT-SIZE: 90%; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 90%
}
DIV.path {
	PADDING-RIGHT: 2px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.straightline {
	BORDER-BOTTOM: #999 1px solid
}
.spacer {
	PADDING-BOTTOM: 2px
}
.boxtext {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 1px
}
.smallbold {
	FONT-WEIGHT: bold
}
.linkbold {
	FONT-WEIGHT: bold
}
.smallarticle {
	MARGIN-TOP: 4px; MARGIN-LEFT: 4px
}
.list {
	PADDING-RIGHT: 4px; MARGIN-TOP: 5px; PADDING-LEFT: 4px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TH {
	FONT-WEIGHT: bold; COLOR: #666666; TEXT-ALIGN: left
}
TH .p {
	FONT-WEIGHT: bold; COLOR: #666666; TEXT-ALIGN: left
}
TH.right {
	TEXT-ALIGN: right
}
.bgcurrent .boxtext {
	COLOR: #ffffff
}
.bgcurrent .path {
	COLOR: #ffffff
}
.bgcurrent .small {
	COLOR: #ffffff
}
.bgselect {
	FONT-WEIGHT: bold
}
.linkselect {
	FONT-WEIGHT: bold; COLOR: #000000
}
.linknormal {
	COLOR: #000000
}
.subtopline {
	PADDING-BOTTOM: 8px
}
.stdbutton {
	FONT-WEIGHT: normal
}
.okbutton {
	FONT-WEIGHT: bold
}
.menubutton {
	FONT-WEIGHT: bold
}
.box {
	WIDTH: 340px
}
.midbox {
	WIDTH: 220px
}
.halfbox {
	WIDTH: 170px
}
.mainsearchbox {
	WIDTH: 180px
}
.searchcells {
	PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.searchbox {
	WIDTH: 120px
}
.bottomline {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 8px; PADDING-TOP: 4px
}
.leftpadding {
	PADDING-LEFT: 3px
}
.compulsary {
	PADDING-RIGHT: 2px; FONT-WEIGHT: bold; COLOR: #a00000
}
.error {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; COLOR: #a00000
}
UL {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px
}
.description {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.factbox {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 8px; BORDER-LEFT: 1px solid; COLOR: #666666; LINE-HEIGHT: 150%; PADDING-TOP: 8px; BACKGROUND-COLOR: #ebebeb
}
#mainContent {
	MARGIN-TOP: 8px
}
#mainContent .summarytext {
	FONT-SIZE: 85%; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 85%
}
#mainContent .summarytext UL LI {
	FONT-SIZE: 100%; voice-family: inherit
}
#mainContent .summarytext OL LI {
	FONT-SIZE: 100%; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: 85%
}
#mainContent .summarytext UL LI {
	FONT-SIZE: 100%; voice-family: inherit
}
#mainContent .summarytext OL LI {
	FONT-SIZE: 100%; voice-family: inherit
}
.jobsummary .boxtext {
	FONT-SIZE: x-small; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: x-small
}
.guidebox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #a5e1a5
}
.guideshead {
	FONT-WEIGHT: normal; FONT-SIZE: xx-large; COLOR: #000; FONT-FAMILY: Georgia, Times, Serif; BACKGROUND-COLOR: #a5e1a5; TEXT-DECORATION: none; voice-family: inherit
}
.guideshead A {
	FONT-WEIGHT: normal; FONT-SIZE: xx-large; COLOR: #000; FONT-FAMILY: Georgia, Times, Serif; BACKGROUND-COLOR: #a5e1a5; TEXT-DECORATION: none; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: xx-large
}
.guideshead:hover A {
	TEXT-DECORATION: underline
}
.guide {
	FONT-WEIGHT: normal; FONT-SIZE: xx-large; MARGIN-BOTTOM: 6px; COLOR: #fff; FONT-FAMILY: Georgia, Times, Serif; BACKGROUND-COLOR: #a5e1a5; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: xx-large
}
.guideintro {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 4px; MARGIN-LEFT: 0px; COLOR: #000; LINE-HEIGHT: 140%; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Georgia, Times, Serif; BACKGROUND-COLOR: #d6f5d6
}
.guideintro A {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 100%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 4px; MARGIN-LEFT: 0px; COLOR: #000; LINE-HEIGHT: 140%; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Georgia, Times, Serif; BACKGROUND-COLOR: #d6f5d6
}
.guideintro A {
	TEXT-DECORATION: underline
}
.guideintro:hover A {
	TEXT-DECORATION: none
}
.guidelink {
	FONT-WEIGHT: bold; FONT-SIZE: small; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 4px; COLOR: #000; MARGIN-RIGHT: 4px; FONT-FAMILY: Verdana, Georgia, Times, Serif; TEXT-DECORATION: none; voice-family: inherit
}
.guidelink A {
	FONT-WEIGHT: bold; FONT-SIZE: small; MARGIN-BOTTOM: 4px; MARGIN-LEFT: 4px; COLOR: #000; MARGIN-RIGHT: 4px; FONT-FAMILY: Verdana, Georgia, Times, Serif; TEXT-DECORATION: none; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: small
}
.guidelink:hover A {
	TEXT-DECORATION: underline
}
.search_insertion {
	BORDER-RIGHT: #33cc33 1px dotted; PADDING-RIGHT: 4px; BORDER-TOP: #33cc33 1px dotted; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 10px; BORDER-LEFT: #33cc33 1px dotted; PADDING-TOP: 4px; BORDER-BOTTOM: #33cc33 1px dotted; BACKGROUND-COLOR: #ccffcc
}
.search_insertion .summarytext {
	MARGIN-LEFT: 16px
}
.category_result {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; voice-family: inherit
}
UNKNOWN {
	FONT-WEIGHT: bold; FONT-SIZE: 110%
}
.categoryres_arrow {
	FONT-WEIGHT: bold; COLOR: #990000
}
.example {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; MARGIN: 4px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Courier, Times, Sans Serif; BACKGROUND-COLOR: #fff
}
.partnerlogo {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 2px; PADDING-TOP: 4px; BACKGROUND-COLOR: #fff
}
.listitem {
	MARGIN-TOP: 16px
}
.top {
	MARGIN: 6px 0px 0px; TEXT-ALIGN: right
}
.top {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; TEXT-DECORATION: none; voice-family: inherit
}
.top A {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; TEXT-DECORATION: none; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: x-small
}
.top A:hover {
	TEXT-DECORATION: underline
}
.banners {
	FONT-SIZE: x-small; MARGIN: 4px 0px 4px 6px; voice-family: inherit
}
UNKNOWN {
	FONT-SIZE: x-small
}
