DIV.path {
	COLOR: #cc6600
}
.subtopline {
	COLOR: #cc6600
}
.subtopline A {
	COLOR: #cc6600
}
.subtopline A:hover {
	COLOR: #cc6600
}
.bottomline {
	COLOR: #cc6600
}
.bottomline A {
	COLOR: #cc6600
}
.bottomline A:hover {
	COLOR: #cc6600
}
A.articlelink {
	COLOR: #cc6600
}
.sectioncolor {
	COLOR: #cc6600
}
A.headlinebox {
	COLOR: #cc6600
}
DIV.listheadline {
	COLOR: #cc6600
}
A.path {
	COLOR: #cc6600
}
A {
	COLOR: #cc6600
}
.smallpath {
	COLOR: #cc6600
}
.simpleloginbox A {
	COLOR: #cc6600
}
.factbox {
	BORDER-LEFT-COLOR: #ff6600; BORDER-BOTTOM-COLOR: #ff6600; BORDER-TOP-COLOR: #ff6600; BORDER-RIGHT-COLOR: #ff6600
}
H2.boxheader {
	BORDER-LEFT-COLOR: #ff6600; BORDER-BOTTOM-COLOR: #ff6600; BORDER-TOP-COLOR: #ff6600; BORDER-RIGHT-COLOR: #ff6600
}
.topmenuline {
	COLOR: #fff; BACKGROUND-COLOR: #999
}
.lefttopmenuitem {
	COLOR: #fff; BACKGROUND-COLOR: #999
}
.topmenuitem {
	COLOR: #fff; BACKGROUND-COLOR: #999
}
.headline {
	BACKGROUND-COLOR: #ef8713
}
DIV.listheadlinebox {
	BORDER-BOTTOM: #ef8713 2px solid
}
.stdbutton {
	COLOR: #fff; BACKGROUND-COLOR: #ff9933
}
.okbutton {
	COLOR: #fff; BACKGROUND-COLOR: #ff9933
}
.headlinebox H1 {
	COLOR: #fff; BACKGROUND-COLOR: #ff9933
}
.colorbg {
	COLOR: #fff; BACKGROUND-COLOR: #ff9933
}
.sectioncolorbg {
	BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #ffe2a9
}
.userbox {
	MARGIN: 1px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fff
}
.menubox {
	BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fff
}
.crumbtrail STRONG {
	COLOR: #fff
}
A.listheadline {
	COLOR: #000
}
.listheadline {
	COLOR: #000
}
.toppath {
	COLOR: #000
}
.crumbtrail {
	BACKGROUND: #ffcc33
}
.maincolumn .headingblock {
	BORDER-BOTTOM: #ef8713 2px solid
}
.maincolumn .headingblock .heading {
	BACKGROUND-COLOR: #ef8713
}
.shortarticleboxhead {
	COLOR: #fff; BACKGROUND-COLOR: #ff9933
}
