BODY {
	SCROLLBAR-FACE-COLOR: #e8f3ff; MARGIN: 5px 0px 10px; SCROLLBAR-HIGHLIGHT-COLOR: #0066cf; SCROLLBAR-SHADOW-COLOR: #0066cf; SCROLLBAR-3DLIGHT-COLOR: #eeeeee; SCROLLBAR-ARROW-COLOR: #0066cf; SCROLLBAR-TRACK-COLOR: #eeeeee; SCROLLBAR-DARKSHADOW-COLOR: #eeeeee
}
#header {
	BORDER-RIGHT: #0066cf 1px solid; BORDER-TOP: #0066cf 1px solid; MARGIN-BOTTOM: 15px; BORDER-LEFT: #0066cf 1px solid; WIDTH: 730px; BORDER-BOTTOM: #0066cf 1px solid; BACKGROUND-COLOR: #0066cf; hight: 92px
}
#content {
	BORDER-RIGHT: #0066cf 1px solid; BORDER-TOP: #0066cf 1px solid; FONT-SIZE: 13px; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 142px; BORDER-LEFT: #0066cf 1px solid; LINE-HEIGHT: 125%; MARGIN-RIGHT: 142px; BORDER-BOTTOM: #0066cf 1px solid; FONT-FAMILY: verdana, Times New Roman
}
#content H3 {
	BORDER-RIGHT: #0066cf 1px solid; BORDER-TOP: #0066cf 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 95%; BORDER-LEFT: #0066cf 1px solid; BORDER-BOTTOM: #0066cf 1px solid; FONT-STYLE: normal; HEIGHT: 25px; BACKGROUND-COLOR: #e8f3ff
}
#content H2 {
	BORDER-RIGHT: #0066cf 1px solid; BORDER-TOP: #0066cf 1px solid; FONT-SIZE: 85%; BORDER-LEFT: #0066cf 1px solid; BORDER-BOTTOM: #0066cf 1px solid; FONT-STYLE: normal; HEIGHT: 25px; BACKGROUND-COLOR: #e8f3ff
}
#content A {
	COLOR: #0000ff; TEXT-DECORATION: none
}
#content A:active {
	COLOR: #0000ff; TEXT-DECORATION: none
}
#content A:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
#content A:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
#content A:hover {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: none
}
#index {
	BORDER-RIGHT: #0066cf 1px solid; BORDER-TOP: #0066cf 1px solid; FLOAT: left; MARGIN-LEFT: 5px; BORDER-LEFT: #0066cf 1px solid; WIDTH: 122px; BORDER-BOTTOM: #0066cf 1px solid; FONT-FAMILY: verdana,Times New Roman
}
#index H3 {
	BORDER-RIGHT: #0066cf 1px solid; BORDER-TOP: #0066cf 1px solid; FONT-SIZE: 75%; BORDER-LEFT: #0066cf 1px solid; BORDER-BOTTOM: #0066cf 1px solid; FONT-STYLE: normal; HEIGHT: 25px; BACKGROUND-COLOR: #e8f3ff; TEXT-ALIGN: center
}
#index UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#index LI {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 75%; PADDING-BOTTOM: 8px; LINE-HEIGHT: 122%; PADDING-TOP: 3px; BORDER-BOTTOM: #0066cf 1px dotted; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
#index A {
	COLOR: #0000ff; TEXT-DECORATION: none
}
#index A:active {
	COLOR: #0000ff; TEXT-DECORATION: none
}
#index A:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
#index A:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
#index A:hover {
	FONT-WEIGHT: bold; COLOR: #ff0000; TEXT-DECORATION: none
}
#index2 {
	BORDER-RIGHT: #0066cf 1px solid; BORDER-TOP: #0066cf 1px solid; FLOAT: right; BORDER-LEFT: #0066cf 1px solid; WIDTH: 122px; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #0066cf 1px solid; FONT-FAMILY: verdana,Times New Roman
}
#index2 H3 {
	BORDER-RIGHT: #0066cf 1px solid; BORDER-TOP: #0066cf 1px solid; FONT-SIZE: 75%; BORDER-LEFT: #0066cf 1px solid; BORDER-BOTTOM: #0066cf 1px solid; FONT-STYLE: normal; HEIGHT: 25px; BACKGROUND-COLOR: #e8f3ff; TEXT-ALIGN: center
}
TEXTAREA {
	BORDER-RIGHT: #0066cf 1px solid; BORDER-TOP: #0066cf 1px solid; FONT-SIZE: 13px; BORDER-LEFT: #0066cf 1px solid; WIDTH: 100%; BORDER-BOTTOM: #0066cf 1px solid; HEIGHT: 500px
}
