.mstheme {
	nav-banner-image: url(banner.gif); separator-image: url(divide.gif); list-image-1: url(bull1.gif); list-image-2: url(bull2.gif); list-image-3: url(bull3.gif); navbutton-horiz-pushed: url(vnavs2.gif); navbutton-horiz-normal: url(vnav.gif); navbutton-horiz-hovered: url(vnavh.gif); navbutton-vert-pushed: url(vnavs2.gif); navbutton-vert-normal: url(vnav.gif); navbutton-vert-hovered: url(vnavh.gif); navbutton-home-normal: url(homet.gif); navbutton-home-hovered: url(homeht.gif); navbutton-home-pushed: url(blhomep.gif); navbutton-up-normal: url(upt.gif); navbutton-up-hovered: url(upht.gif); navbutton-up-pushed: url(blupp.gif); navbutton-prev-normal: url(backt.gif); navbutton-prev-hovered: url(backht.gif); navbutton-prev-pushed: url(blprevp.gif); navbutton-next-normal: url(nextt.gif); navbutton-next-hovered: url(nextht.gif); navbutton-next-pushed: url(blnextp.gif)
}
.mstheme-bannertxt {
	VERTICAL-ALIGN: bottom; COLOR: rgb(51,0,153); FONT-FAMILY: 'comic sans ms', Arial, Helvetica
}
.mstheme-horiz-navtxt {
	FONT-WEIGHT: bold; COLOR: rgb(104,104,255); FONT-FAMILY: verdana, Arial, Helvetica
}
.mstheme-vert-navtxt {
	FONT-WEIGHT: bold; COLOR: rgb(87,87,255); FONT-FAMILY: verdana, Arial, Helvetica
}
.mstheme-navtxthome {
	COLOR: rgb(0,0,204); FONT-FAMILY: arial, Arial, Helvetica
}
.mstheme-navtxtup {
	COLOR: rgb(0,0,204); FONT-FAMILY: arial, Arial, Helvetica
}
.mstheme-navtxtprev {
	COLOR: rgb(0,0,204); FONT-FAMILY: arial, Arial, Helvetica
}
.mstheme-navtxtnext {
	COLOR: rgb(0,0,255); FONT-FAMILY: arial, Arial, Helvetica
}
A:link {
	COLOR: rgb(0,0,255)
}
A:visited {
	COLOR: rgb(204,0,0)
}
A:active {
	COLOR: rgb(0,204,51)
}
BODY {
	COLOR: rgb(0,0,128); BACKGROUND-COLOR: rgb(194,197,255)
}
TABLE {
	table-border-color-light: rgb(164,164,255); table-border-color-dark: rgb(104,104,255)
}
H1 {
	COLOR: rgb(104,104,255)
}
H2 {
	COLOR: rgb(0,0,255)
}
H3 {
	COLOR: rgb(128,0,128)
}
H4 {
	COLOR: rgb(104,104,255)
}
H5 {
	COLOR: rgb(0,0,255)
}
H6 {
	COLOR: rgb(128,0,128)
}
.mstheme {
	navbutton-background-color: rgb(255,255,255); top-bar-button: url(top.gif)
}
.mstheme-topbar-font {
	COLOR: rgb(0,0,255); FONT-FAMILY: verdana, Arial, Helvetica
}
BODY {
	BACKGROUND-IMAGE: url(pagegb.jpg); FONT-FAMILY: arial, Arial, Helvetica
}
H1 {
	FONT-FAMILY: arial, Arial, Helvetica
}
H2 {
	FONT-FAMILY: arial, Arial, Helvetica
}
H3 {
	FONT-FAMILY: arial, Arial, Helvetica
}
H4 {
	FONT-FAMILY: arial, Arial, Helvetica
}
H5 {
	FONT-FAMILY: arial, Arial, Helvetica
}
H6 {
	FONT-FAMILY: arial, Arial, Helvetica
}
UL {
	LIST-STYLE-IMAGE: url(bull1.gif)
}
UL UL {
	LIST-STYLE-IMAGE: url(bull2.gif)
}
UL UL UL {
	LIST-STYLE-IMAGE: url(bull3.gif)
}
