BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fcfcfc
}
BODY {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif
}
H1 {
	MARGIN: 0px; COLOR: #00074f
}
H2 {
	MARGIN: 0px; COLOR: #00074f
}
H3 {
	MARGIN: 0px; COLOR: #00074f
}
H4 {
	MARGIN: 0px; COLOR: #00074f
}
H5 {
	MARGIN: 0px; COLOR: #00074f
}
H6 {
	MARGIN: 0px; COLOR: #00074f
}
H6 {
	WHITE-SPACE: nowrap
}
A {
	COLOR: #00074f
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse
}
.instructions {
	FONT-WEIGHT: normal; MARGIN: 5px; TEXT-ALIGN: center
}
#header {
	BACKGROUND: url(/images/hdr-bg.gif) #647ec4 repeat-x left top; WIDTH: 100%; HEIGHT: 114px
}
#header .logo {
	WIDTH: 210px; HEIGHT: 114px
}
#header .links {
	BACKGROUND: url(/images/hdr-links-bg.gif) repeat-x; FLOAT: right; TEXT-ALIGN: right
}
#header .links DIV {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; BACKGROUND: url(/images/hdr-links-left.gif) no-repeat; PADDING-BOTTOM: 10px; COLOR: #00074f; PADDING-TOP: 11px
}
#header .links A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fff; TEXT-DECORATION: none
}
#header .promo {
	FONT-WEIGHT: bold; COLOR: #00074f; PADDING-TOP: 15px; TEXT-ALIGN: left
}
#header .promo A {
	FONT-SIZE: 12px; COLOR: #f33
}
#header .links A:hover {
	COLOR: #00074f
}
#header .promo A:hover {
	COLOR: #647ec4
}
.banner {
	CLEAR: both; MARGIN-TOP: 5px
}
#leftcol {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url(/images/lcol-bg.gif) #f6f6f6 repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 185px! important; PADDING-TOP: 0px; BORDER-BOTTOM: #000 2px solid
}
.nonleft {
	WIDTH: auto
}
#bodycontent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
H2 {
	FONT-SIZE: 16px
}
H3 {
	FONT-SIZE: 14px
}
H4 {
	FONT-SIZE: 12px
}
TABLE#main {
	WIDTH: 100%
}
TABLE#main TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
#pagetitle H1 {
	FONT-SIZE: 20px; COLOR: #00074f
}
#pagetitle .title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#search {
	BORDER-TOP: #000 1px solid; BACKGROUND: url(/images/srchfrm-bg2.gif) #999999 repeat-x 50% bottom
}
#search .s {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 10px; PADDING-TOP: 3px
}
#search TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 1px
}
#tabs {
	BACKGROUND: url(/images/conthead.gif) #f6f6f6 repeat-x 50% bottom; HEIGHT: 24px
}
#tabs .b {
	BORDER-RIGHT: #fff 1px solid; DISPLAY: inline; FLOAT: left; MARGIN: 0px 0px 0px 5px; BORDER-LEFT: #666 1px solid
}
#tabs A {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 6px; BORDER-LEFT: #fff 1px solid; WIDTH: 40px; COLOR: #111; PADDING-TOP: 4px; TEXT-DECORATION: none
}
#tabs A:hover {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(/images/conthead-over.gif) repeat-x 50% bottom; PADDING-BOTTOM: 7px; COLOR: #666; PADDING-TOP: 3px; TEXT-DECORATION: none
}
#tabs #current {
	BACKGROUND-IMAGE: url(/images/conthead-over.gif)
}
#tabs #current A {
	COLOR: #999
}
.tagline {
	PADDING-RIGHT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 9px; MARGIN-BOTTOM: 8px; COLOR: #fff; LINE-HEIGHT: 1em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#leftcol .cont {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#rightcol {
	BACKGROUND: url(/images/rcol-bg.gif) #647ec4 repeat-y right 50%; WIDTH: 143px! important; BORDER-BOTTOM: #000 1px solid; max-width: 143px; min-width: 143px
}
#rightcol .cont {
	PADDING-RIGHT: 2px; PADDING-LEFT: 7px; BACKGROUND: url(/images/coltop.gif) repeat-x 50% top; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 13px; min-width: 133px
}
.wrapper {
	LINE-HEIGHT: 1
}
.wrapper DIV {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.wrapper TD {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
UNKNOWN {
	LINE-HEIGHT: 1
}
#leftcol .wrapper {
	BACKGROUND: url(/images/lcontbdr-r.gif) #ebf0ff repeat-y right top
}
#leftcol .wrapper .a {
	BACKGROUND: url(/images/rcontbdr-l.gif) repeat-y left top
}
#leftcol .wrapper .b {
	BACKGROUND: url(/images/lcontbdr-b.gif) repeat-x left bottom
}
#leftcol .wrapper .c {
	PADDING-RIGHT: 8px; PADDING-LEFT: 2px; BACKGROUND: url(/images/lcontbdr-br.gif) no-repeat right bottom; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
#rightcol .wrapper {
	BACKGROUND: url(/images/rcontbdr-l.gif) #ebf0ff repeat-y left top
}
#rightcol .wrapper .a {
	BACKGROUND: url(/images/rcontbdr-l.gif) repeat-y right top
}
#rightcol .wrapper .b {
	BACKGROUND: url(/images/lcontbdr-b.gif) repeat-x left bottom
}
#rightcol .wrapper .c {
	PADDING-RIGHT: 1px; PADDING-LEFT: 4px; BACKGROUND: url(/images/rcontbdr-bl.gif) no-repeat left bottom; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.wrapper .list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif; voice-family: inherit
}
UNKNOWN {
	LINE-HEIGHT: 1
}
.wrapper H4 {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(/images/conthead.gif) repeat-x; PADDING-BOTTOM: 5px; BORDER-LEFT: #000 1px solid; CURSOR: default; COLOR: #111; PADDING-TOP: 3px; BORDER-BOTTOM: #000 0px solid; TEXT-ALIGN: left
}
#leftcol .wrapper H4 {
	MARGIN-RIGHT: 6px
}
.wrapper A {
	FONT-WEIGHT: bold; COLOR: #10296b; TEXT-DECORATION: none
}
.wrapper A:visited {
	FONT-WEIGHT: bold; COLOR: #10296b; TEXT-DECORATION: none
}
.wrapper A:active {
	FONT-WEIGHT: bold; COLOR: #10296b; TEXT-DECORATION: none
}
.wrapper A:hover {
	COLOR: #c33; TEXT-DECORATION: underline
}
.wrapper UL {
	PADDING-LEFT: 0px; MARGIN: 0px 0px 0px 15px; TEXT-ALIGN: left
}
.threadlist H5 {
	COLOR: #000; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.threadlist DIV {
	PADDING-RIGHT: 1px; PADDING-LEFT: 12px; FONT-WEIGHT: normal; PADDING-BOTTOM: 2px; MARGIN-LEFT: 2px; PADDING-TOP: 2px; TEXT-ALIGN: left
}
.threadlist DIV.nr {
	BACKGROUND: url(/images/reddot.gif) no-repeat 0px 2px
}
.threadlist .cur A {
	COLOR: #f00! important
}
#pass TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 7pt; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
#form {
	BORDER-BOTTOM: #000 2px solid; BACKGROUND-COLOR: #ebf0ff
}
#form H3 {
	TEXT-ALIGN: center
}
#form .c {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.threads {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.threads .row {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.threads .handle {
	FLOAT: left
}
.threads .responses {
	PADDING-LEFT: 5px; FLOAT: right; WIDTH: 80px; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.threads .votes {
	CLEAR: right; FLOAT: right
}
.threads .date {
	FLOAT: right; TEXT-ALIGN: right
}
.r1 {
	BACKGROUND-COLOR: #ebf0ff
}
.title0 {
	FLOAT: left; PADDING-TOP: 2px
}
.title1 {
	FLOAT: left; PADDING-TOP: 2px
}
.title0 A {
	FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.title1 A {
	FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.title0 A {
	FONT-WEIGHT: bold
}
.title1 A {
	FONT-WEIGHT: normal
}
.nextlink {
	MARGIN-TOP: 10px; TEXT-ALIGN: center
}
.nextlink A {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #f00
}
#footer {
	CLEAR: both; MARGIN: 0px; TEXT-ALIGN: center
}
#footer .cont {
	PADDING-BOTTOM: 5px; TEXT-ALIGN: center
}
#footer DIV {
	FONT-SIZE: 8pt; TEXT-ALIGN: center
}
#footer HR {
	MARGIN: 0px 200px
}
.new {
	FONT-WEIGHT: bold; COLOR: #f00
}
.error {
	FONT-WEIGHT: bold; COLOR: #f00
}
.attention {
	FONT-WEIGHT: bold; COLOR: #f00
}
.attention:link {
	FONT-WEIGHT: bold; COLOR: #f00
}
.post {
	WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.post TABLE {
	WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.post TABLE .date {
	WIDTH: 100px; TEXT-ALIGN: right
}
.post TABLE .handle A {
	FONT-WEIGHT: bold
}
.post TABLE TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.postinst TD {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; WIDTH: 33%; TEXT-ALIGN: center
}
.posttable {
	BORDER-RIGHT: gray 1px inset; BORDER-TOP: gray 1px inset; BACKGROUND: #eee; BORDER-LEFT: gray 1px inset; WIDTH: 565px; BORDER-BOTTOM: gray 1px inset
}
.posttable TH {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 5px; VERTICAL-ALIGN: top; BORDER-LEFT: #ddd 1px solid; COLOR: #f00; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: left
}
.posttable TD {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; FONT-SIZE: 11px; VERTICAL-ALIGN: top; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.posttable A {
	TEXT-DECORATION: underline
}
.posttable TABLE TD {
	BORDER-TOP-WIDTH: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 13px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 50%; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
#dropin {
	BORDER-RIGHT: black 4px solid; PADDING-RIGHT: 5px; BORDER-TOP: black 4px solid; PADDING-LEFT: 5px; LEFT: 150px; VISIBILITY: hidden; PADDING-BOTTOM: 5px; BORDER-LEFT: black 4px solid; WIDTH: 400px; PADDING-TOP: 5px; BORDER-BOTTOM: black 4px solid; POSITION: absolute; TOP: 50px; HEIGHT: 300px; BACKGROUND-COLOR: #ffffee
}
#dropin H1 {
	FONT-SIZE: 18px; TEXT-ALIGN: center
}
#dropin P {
	FONT-SIZE: 10px
}
#dropin LI {
	FONT-SIZE: 10px
}
#dropin A {
	COLOR: #cc0000
}
TABLE.threads {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse
}
TABLE.threads TD DIV {
	PADDING-RIGHT: 5px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px
}
#scrollerContainer {
	MARGIN-BOTTOM: 3px; OVERFLOW: hidden; HEIGHT: 120px
}
#whitepapers #wpitems {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0.5em; PADDING-TOP: 0px; POSITION: absolute; TOP: 120px
}
.tools {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; WIDTH: 100%; BORDER-BOTTOM: #000 1px solid; BORDER-COLLAPSE: collapse
}
UNKNOWN {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
