BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif
}
H1 {
	MARGIN: 0px; COLOR: #00074f
}
H2 {
	MARGIN: 0px; COLOR: #00074f
}
H3 {
	MARGIN: 0px; COLOR: #00074f
}
H4 {
	MARGIN: 0px; COLOR: #00074f
}
H5 {
	MARGIN: 0px; COLOR: #00074f
}
H6 {
	MARGIN: 0px; COLOR: #00074f
}
A {
	COLOR: #0000cc
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse
}
.instructions {
	FONT-WEIGHT: normal; MARGIN: 5px; TEXT-ALIGN: center
}
#header {
	DISPLAY: none! important
}
header  {
	DISPLAY: none! important
}
#search {
	DISPLAY: none! important
}
#tabs {
	DISPLAY: none! important
}
#leftcol {
	DISPLAY: none! important
}
#rightcol {
	DISPLAY: none! important
}
#form {
	DISPLAY: none! important
}
.posttable {
	DISPLAY: none! important
}
.cfdebug {
	DISPLAY: none! important
}
.cfdebuglge {
	DISPLAY: none! important
}
.tools {
	DISPLAY: none! important
}
.postinst {
	DISPLAY: none! important
}
#footer HR {
	DISPLAY: none! important
}
#footer IMG {
	DISPLAY: none! important
}
.plug {
	DISPLAY: none! important
}
#vibrant {
	DISPLAY: none! important
}
#rightcol  {
	DISPLAY: none! important
}
#bodycontent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
H3 {
	FONT-SIZE: 14px
}
H4 {
	FONT-SIZE: 12px
}
TABLE#main {
	WIDTH: 100%! important
}
TABLE#main TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; WIDTH: 100%; PADDING-TOP: 0px
}
#pagetitle H2 {
	FONT-SIZE: 25px
}
#pagetitle H1 {
	FONT-SIZE: 20px; COLOR: #00074f
}
#pagetitle .title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.threads {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.threads .row {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.threads .handle {
	FLOAT: left
}
.threads .responses {
	PADDING-LEFT: 5px; FLOAT: right; WIDTH: 80px; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.threads .votes {
	CLEAR: right; FLOAT: right
}
.threads .date {
	CLEAR: left; FLOAT: right; TEXT-ALIGN: right
}
.r1 {
	BACKGROUND-COLOR: #ebf0ff
}
.title0 {
	FLOAT: left; PADDING-TOP: 2px
}
.title1 {
	FLOAT: left; PADDING-TOP: 2px
}
.title0 A {
	FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.title1 A {
	FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.title0 A {
	FONT-WEIGHT: bold
}
.title1 A {
	FONT-WEIGHT: normal
}
.post {
	MARGIN: 20px 0px; BORDER-BOTTOM: silver 1px solid
}
.post {
	WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.post TABLE {
	WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.post TABLE .date {
	WIDTH: 90px; TEXT-ALIGN: right
}
.post TABLE .handle A {
	FONT-WEIGHT: bold
}
.post TABLE TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.post TABLE TD.tgml {
	PADDING-RIGHT: 5px! important; PADDING-LEFT: 5px! important; PADDING-BOTTOM: 20px! important; PADDING-TOP: 3px! important
}
