.wordwrap {
	WORD-WRAP: break-word! important; moz-binding: url('./wordwrap.xml#wordwrap')
}
.post TABLE TD.tgml {
	PADDING-RIGHT: 5px! important; PADDING-LEFT: 5px! important; PADDING-BOTTOM: 3px! important; PADDING-TOP: 3px! important
}
.tgml {
	WIDTH: auto
}
.tgml #code {
	BORDER-RIGHT: 2px inset; BORDER-TOP: 2px inset; MARGIN: 15px 20px; BORDER-LEFT: 2px inset; BORDER-BOTTOM: 2px inset
}
.tgml #code H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 10px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: white; PADDING-TOP: 1px; BACKGROUND-COLOR: #777! important; BORDER-RIGHT-WIDTH: 0px
}
.tgml #code .body {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; OVERFLOW: auto; PADDING-TOP: 5px; FONT-STYLE: normal; FONT-FAMILY: monospace; BACKGROUND-COLOR: #ffffff; max-width: 100%
}
.tgml #code .body DIV {
	FONT-STYLE: normal; FONT-FAMILY: monospace
}
#code .body SPAN {
	FONT-STYLE: normal; FONT-FAMILY: monospace
}
.tgml BLOCKQUOTE {
	BORDER-RIGHT: 2px inset; BORDER-TOP: 2px inset; MARGIN: 15px 20px; BORDER-LEFT: 2px inset; BORDER-BOTTOM: 2px inset; FONT-STYLE: italic; FONT-FAMILY: serif; BACKGROUND-COLOR: #ffffff
}
.tgml BLOCKQUOTE H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #00c; PADDING-TOP: 1px; FONT-STYLE: normal; FONT-FAMILY: Tahoma,Geneva,Arial,sans-serif; BACKGROUND-COLOR: #9ff! important; BORDER-RIGHT-WIDTH: 0px
}
.tgml BLOCKQUOTE .body {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 1.2em; PADDING-BOTTOM: 5px; OVERFLOW: auto; PADDING-TOP: 5px; FONT-STYLE: italic; FONT-FAMILY: serif; max-width: 100%
}
.tgml BLOCKQUOTE .body .body {
	FONT-SIZE: 100%
}
.tgml BLOCKQUOTE DIV {
	FONT-STYLE: italic; FONT-FAMILY: serif
}
.tgml BLOCKQUOTE SPAN {
	FONT-STYLE: italic; FONT-FAMILY: serif
}
.tgml .spoiler {
	BORDER-RIGHT: 2px inset; BORDER-TOP: 2px inset; MARGIN: 15px 20px; BORDER-LEFT: 2px inset; BORDER-BOTTOM: 2px inset; BACKGROUND-COLOR: #ffffff
}
.tgml .spoiler H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; COLOR: #ff0; PADDING-TOP: 1px; FONT-STYLE: normal; FONT-FAMILY: Tahoma,Geneva,Arial,sans-serif; BACKGROUND-COLOR: #f00! important; BORDER-RIGHT-WIDTH: 0px
}
.tgml .spoiler .body {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; FONT-STYLE: normal; BACKGROUND-COLOR: #ffffff
}
.tgml .spoiler .body .body {
	FONT-SIZE: 100%
}
.tgml .spoiler DIV {
	FONT-STYLE: normal
}
.tgml .spoiler SPAN {
	FONT-STYLE: normal
}
.tgml .signature {
	MARGIN-LEFT: 25px
}
UNKNOWN {
	LIST-STYLE-POSITION: inside
}
UNKNOWN {
	LIST-STYLE-POSITION: outside
}
.tgml A {
	FONT-WEIGHT: bold
}
.tgml A:hover {
	COLOR: #cc3333
}
.tgml .small {
	FONT-SIZE: 7pt
}
.tgml UL.attachments {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; FONT-SIZE: 10px; LIST-STYLE-IMAGE: url(/images/attach-ico.gif); MARGIN: auto 30px 10px; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset
}
.tgml UL.attachments LI {
	PADDING-TOP: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.tgml UL.attachments LI A {
	FONT-WEIGHT: normal; BORDER-BOTTOM: black 1px dotted; POSITION: relative; TOP: -5px; TEXT-DECORATION: none
}
