<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings/>
	<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
   <CipherData>
    <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA5KTsb5/qvEyHjwCtfMWR1wQAAAACAAAAAAADZgAAqAAAABAAAADep0UAEYD4/sCOUtrPTYcAAAAAAASAAACgAAAAEAAAAPoSeBLOMk6nK8KbOr2Q3q34AQAAdYY5dqi5avWAT7hoODwLvcpBbm7mkLp/+FPedccvJmX0JdR6zqNEEOXrIT8/e2WKaTWfxruM2MDwo/E2YGTW7/Cu4tV4V26tKwxwPiy2oUhOKEjYWkIVEeuQU2QzT1qQ27jSRjUEZnFnw+PZ2B9g3+xROUAzeWtzFWfKpn3tJwEUcHgEGecPL0kIwU0FZYCbSzQwdLgk88q+bvjEqzVCR18Oz1duG9rNqJsUvYVgmiSTy017q4n2/3CeJldysCo8kV1Pz85c1JTZplgstwyzVi0myAEcjGLpU2A3e7fJEIUnQphxmIsW/9Yyi0H3ntUSqVbFo7gNOoz8TOvY45yO0tfoO99ApYsZMI4Oh8i2H5RzoB290bE4p02KNzIfoF/N0Fqp4zHjU7sNJJ2ejXoujKGh802p2sj3+tdi4+S3xO8UoaQVJ3KFmP1x0JnMsLBK799qS0K6+Pb1Wzp0tIOc9GqIEECwVIFnhjtp+Vyl12kCDW++FQ5da28GQjZULt8LgwauObVXweGgrkO0O4kNMrQuIqR5OLRh8BA3TusPVASo9QPzIyDreSbS6grzB3dQrqIhp+fgA2wRBh/m/2pU9ZNcsHUCFTGZ2WtKqjFZLGP4fqUVio3J31iU0zMW1k5vmPmLojefvzxyg9PK9nXhhR0pj/cj1Ig5FAAAAPPuOYMVAJeVFT9UqRV28WDfNXbf</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
