.CSH1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 35px;
	font-style: italic;
	font-weight: bolder;
	font-variant: normal;
	text-transform: none;
	color: #000066;
}
.Paragraph {
	font-family: "Times New Roman", Times, serif;
	text-transform: none;
	font-size: 21px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
}
.SubHeading {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: x-large;
	font-style: italic;
	line-height: normal;
	font-weight: bolder;
	font-variant: normal;
	text-transform: none;
}
.Sub2Heading {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 25px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #0000CC;
}
.Notes {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
}
.PerNext {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}
.tablehead {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}
.Underline {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
