<configuration> 
 
	<connectionStrings>  
		<add name="AccessFileName" connectionString="DATA\Aspnetdb.mdb"/>
	</connectionStrings>
	
	 <system.web>
	
		<authentication mode="Forms">
			<forms loginUrl="login.aspx"/>
		</authentication>
	
    	 <compilation  defaultLanguage="c#"      debug="true" />

		<customErrors mode="RemoteOnly">
		    <error statusCode="404" redirect="~/pagenotfound.aspx"/>
		</customErrors>
	
		<smtpMail serverName="SmartHost" from="sample@myinternetsitesample.com"/>
		
		<roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
		</roleManager>

        <siteCounters enabled="true">  

            <pageCounters enabled="true" rowsPerDay="1" trackApplicationName="true" trackPageUrl="true" counterGroup="PageCounters" counterName="">
                <pagesToCount>
                    <add path="*"/>
                </pagesToCount>
            </pageCounters>

        </siteCounters>     
      
    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
		localOnly="true"
    />
    <sessionState 
            mode="InProc"
            stateConnectionString="tcpip=127.0.0.1:42424"
            sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
            cookieless="false" 
            timeout="20" 
    />
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
   

    </system.web>        
    
    <location path="changepassword.aspx">

        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>

    </location>


</configuration>
