/* sites/400/scripts/css/careersite.css */

/* -- General Styles --*/
* {
	padding:0;
	margin:0;
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 5%; }
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
img { border: 0px; }
/* Gotta find a way to keep this from affecting .content */


/* -- Layout Styles -- */
html {
	background-image:url(/sites/400/images/pagebg.gif);
	background-repeat:repeat-x;
}

/* body selector added to override base style */
body { background-color:transparent; }

#loginstrip , #logonav, #contentarea, #browselinks, #copyrightstrip {
	position: relative;
	margin: auto; /* use this instead of text-align:center for divs */
	/*border: solid 1px #483828;*/
	width: 770px;
	text-align: left;
	margin-top: 5px;
}

#loginstrip {
	width: 100%;
	height: 25px;
	margin-top: 0px;
}

#loginstrip #loginstripbuttons {
	position:relative;
	width: 770px;
	height:20px;
	margin: auto;
	margin-top: 2px;
	/*border: solid 1px #483828;*/
}

/* -- absolute positioning is used to get around relative
	positioning offering no z-index.  BLEH! -- */
#loginstrip #loginstripbuttons .buttoncontainer {
	position: absolute;
	top: 0px; left: 450px;
	z-index:50;
	/*border: solid 1px #f00;*/
	padding-right: 10px;
	text-align: right;
	width: 310px;
}

#loginstrip #loginstripbuttons img {
	vertical-align:middle;
	margin-top: -1px;
}

#loginstrip #loginstripbuttons a,
#loginstrip #loginstripbuttons b {
	color: #1c8ad3;
	font-size: 11px;
}

#logonav {
	height: 215px;
	margin-top: -15px;
}

#logonav #logonavnav {
	margin-left: 40px;
}

#logonav #logonavheader {
	height: 185px;
	margin-top: -22px;
	background-repeat:no-repeat;
	background-position:center top;
}

#logonav #logonavbuttons {
	margin-top: -178px;
	margin-left: 7px;
}

#logonav #logonavlogo {
	margin-top:2px;
	margin-left: 20px;
	margin-right: 10px;
}

#contentarea {
	background-image:url(/sites/400/images/curvedboxtop.gif);
	background-repeat:no-repeat;
	background-position:center top;
}

#contentarea img.headergraphic {
	margin-top:7px;
	margin-left:-15px;
	margin-bottom:10px;
}

#browselinks { }

#browselinks h1,
#browselinks h3
 {
	color: #39b54a;
}

#browselinks h1 {
	font-size:20px;
	margin-bottom: 4px;
}

#browselinks h3 {
	font-size:12px;
	margin-top: 8px;
}

#browselinks .browsebystate {
	border-top: dashed 1px #aaa;
	border-right: dashed 1px #aaa;
	width: 64%;
	float:left;
}

#browselinks .browsebystate .statecol {
	/*border: solid 1px #000;*/
	width: 100px;
	float:left;
}


#browselinks .browsebycat {
	border-top: dashed 1px #aaa;
	padding-left: 10px;
	width: 34%;
	float:left;
}


#browselinks a {
	font-size: 11px;
	color: #1c8ad3;
}

#copyrightstrip {
	padding-top: 3px;
	background-color: #ceebff;
	color: #1c8ad3;
	height: 20px;
}

#copyrightstrip * {
	font-size: 11px;
/*	border: solid 1px #555;*/
}

#copyrightstrip a {
	font-size: 11px;
	color: #1c8ad3;
}

#copyrightstrip #copydiv {
	float: left;
	width: 370px;
	margin-left: 10px;
}

#copyrightstrip #linksdiv {
	float: left;
	width: 370px;
	text-align: right;
	margin-right: 10px;
}


.paddedcell { padding: 5px 7px 10px 7px; }

/* -- Splash Page Styles... -- */
#splashleftcol, #splashrightcol {
	/*border: dashed 1px #aaa;*/
	float: left;
	width: 360px;
	padding: 10px 7px 15px 7px;
}
#splashrightcol {
	float: right;
}	


#splashtext, #splashresume, #splashquicksearch, #splashcprofiles, #splashctools {
	position:relative;
}

/* These values will have to change when we get the final graphics */
#splashtext, #splashquicksearch, #splashcprofiles {
	margin-top: 10px;
}

#splashtext div {
	line-height: 18px;
	font-size: 12px;
}

#splashresume {
	margin-top: 35px;
}

#splashctools {
	margin-top: 15px;
}

/* END values will have to change when we get the final graphics */
.splashboxbody {
	height: 1%; /*for keeping ie6 happy */
	padding-left: 22px;
	padding-right: 10px;
}

.splashboxbody .splashboxbodytext {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	width: 235px;
}

.splashboxbody a {
	font-size: 11px;
	color: #1c8ad3;
}

.splashboxbody img {
	position:absolute;
	top:-3px;
	left:245px;
}

#splashresume .splashboxbody {
	color: #278934;
	background-image: url(/sites/400/images/postresumebg.gif);
	background-repeat: repeat-y;
}

#splashresume .splashboxbody a {
	color: #278934;
}

#splashcprofiles .splashboxbody {
	color: #956b11;
	background-image: url(/sites/400/images/compprofilesbg.gif);
	background-repeat: repeat-y;
}

#splashcprofiles .splashboxbody a {
	color: #956b11;
}

#splashctools .splashboxbody {
	color: #6e04c0;
	background-image: url(/sites/400/images/careertoolsbg.gif);
	background-repeat: repeat-y;
}

#splashctools .splashboxbody a {
	color: #6e04c0;
}

#splashquicksearch .splashboxbody {
	background-image: url(/sites/400/images/searchboxbg.gif);
	background-repeat: repeat-y;
	padding-left: 12px;
}

#splashquicksearch .quicksearchlinks {
	padding-top: 5px;
	float:right;
}

#splashquicksearch label {
	font-size: 12px;
	font-weight:bold;
	color: #2592da;
	display:block;
	margin: 0px 0px 5px 0px;
}

#splashquicksearch input[type='text'],
#splashquicksearch select {
	color:#2592da;
	background-color: #fff;
	padding: 2px;
	border: solid 1px #2592da;
	margin: 0px 0px 3px 0px;
	width: 98%;
}

#splashquicksearch input[type='text'].cityanchor {
	width: 70%;
}

#splashquicksearch .statefloat {
	float: right;
	width: 24%;
}

#splashquicksearch input[type='image'] {
	margin: 3px 0px 0px 0px;
	display:block;
}

#splashresume .splashboxbody .splashboxbodytext {
	width:265px;
}

#splashresume .splashboxbody img {
	top:-27px;
	left:275px;
}

#splashcprofiles .splashboxbody img {
	top:10px;
}

/* BEGIN styles to work the google ad column on the right */
#contentadcolumn {
	float:left;
	margin-right: 3px;
	width: 580px;
	/*border: 1px solid #000;*/
}

#adadcolumn {
	margin-top:15px;
	float:right;
	/*border: 1px solid #000;*/
}
/* END styles to work the google ad column on the right */


/* Styles salvaged from the old nowhiring site */

.highlight1, .highlight2, .highlight3, .highlight4, .highlight5 {
    color: #CC6633;
    font-weight: bold;
    text-transform:uppercase;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
}

/* This is in case someone hardcoded a content div into the page itself... sgilroy 6Feb08 */
.content .content{
	margin: 0px;
}

/* The following styles were added to undo changes that the above css did to the content area */
html, body { background-color: transparent; }
/* this has many unpleasant repercussions.  Figure out a way to do this differently */
.content * { font-size: 11px;}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content p, .content pre, .content blockquote, .content form, .content label, .content ul, .content ol, .content dl, .content fieldset, .content address { margin:20px 0; }
.content li, .content dd, .content blockquote { margin-left: 40px; }
.content fieldset { padding:10px; }
.content input, .content select, .content textarea { margin:2px; }
.content a:visited {color: #0000ff;}
.content h1{color: #000066; font-size: 14px;}

/* This fixes buttons links */
.button_link a, .button_link a:link, .button_link a:visited, .button_link a:hover, .button_link a:active {
	color:#FFFFFF;
}
