body {
  background-color:#ffffff;
  font-family:arial, verdana, sans-serif; font-size:12px;}

a {font-weight:bold; color:#ff0000; text-decoration:none;}
a:hover {color:#FF9900; text-decoration:underline; background-color:#f9f0f0;}
a:visited {color:#990000;}
