body{
  color:#000000; background-color:#ffffff;
  font-family:arial, verdana, sans-serif; font-size:12pt;}

th {font-weight:bold; text-align:left; background-color:#fff336;}
td {padding:3px;}
.odd {background-color:#efefef;}
.even {background-color:#ffffff;}
