body{
  color:#000000; background-color:#ffffff;
  font-family:arial, verdana, sans-serif; font-size:12pt;}

fieldset {
  font-size:12px;
  padding:10px;
  width:250px;}

.formPrompt {text-align:right;}