body {
color:#000000;
background-color:#ffffff;
font-family:arial, verdana, sans-serif;
font-size:12px;}
body, h1, p, img, b {
border-style:inset;
border-width:6px;
border-color:#ff0000;

padding:5px;}
h1, b {background-color:#cccccc;}