div.page {
position:absolute;
left:50px;
top: 100px;
padding: 5px;
border-style:solid; border-width:2px; border-color:#000000;}
p {
background-color:#FFFFFF;
width:200px;
padding:5px;
border-style:solid; border-color:#000000; border-width:2px;}
p.two {
position:absolute;
left:200px;
top: 50px;}