.CommonSidebarInnerArea {
	BACKGROUND-IMAGE: none
}
.CommonSidebarRoundBottom .r1 {
	BACKGROUND-IMAGE: none
}
.CommonSidebarRoundBottom .r2 {
	BACKGROUND-IMAGE: none
}
.CommonSidebarRoundBottom .r3 {
	BACKGROUND-IMAGE: none
}
.CommonSidebarRoundBottom .r4 {
	BACKGROUND-IMAGE: none
}
#CommonNavigation {
	BACKGROUND-IMAGE: none
}
#CommonNavigationShadow {
	BACKGROUND-IMAGE: none; BORDER-BOTTOM: #000 1px solid
}
.ForumPostHeader {
	BACKGROUND-IMAGE: none
}
.CommonModal1 {
	BACKGROUND-IMAGE: none
}
.CommonModal2 {
	BACKGROUND-IMAGE: none
}
.CommonModal3 {
	BACKGROUND-IMAGE: none
}
.CommonModal4 {
	BACKGROUND-IMAGE: none
}
.CommonModal5 {
	BACKGROUND-IMAGE: none
}
.CommonBreadCrumbArea {
	BORDER-TOP: #000 1px solid; BACKGROUND-IMAGE: none
}
