UL.BlogPostList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.BlogPostArea {
	BORDER-RIGHT: #eee 0px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; BORDER-TOP: #eee 0px solid; PADDING-LEFT: 70px; MIN-HEIGHT: 46px; BACKGROUND-IMAGE: url(../images/blogs.png); PADDING-BOTTOM: 20px; MARGIN: 0px 0px 20px; BORDER-LEFT: #eee 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #eee 1px solid; BACKGROUND-REPEAT: no-repeat
}
.External {
	BACKGROUND-IMAGE: url(../images/external.png)
}
.None {
	PADDING-LEFT: 0px; BACKGROUND-IMAGE: none
}
.BlogPostHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 150%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 8px; PADDING-TOP: 0px
}
.BlogRating {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND-IMAGE: url(../images/Common/blog_comment_background.gif); PADDING-BOTTOM: 2px; MARGIN: 5px 10px 0px 0px; VERTICAL-ALIGN: top; WIDTH: 80px; COLOR: #666666; LINE-HEIGHT: 20px; PADDING-TOP: 8px; HEIGHT: 80px; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
.BlogRating A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.BlogRating A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
.BlogRating A:active {
	COLOR: #666666; TEXT-DECORATION: none
}
.BlogRating A:hover {
	COLOR: #666666; TEXT-DECORATION: none
}
.BlogPostContent {
	FONT-SIZE: 100%
}
.BlogPostFooter {
	FONT-SIZE: 80%; MARGIN: 8px 0px 0px; COLOR: #000
}
.BlogBlogNameColumn {
	WIDTH: 25%
}
.BlogAuthorColumn {
	WIDTH: 14%
}
.BlogLastPostColumn {
	WIDTH: 25%
}
.BlogPostsColumn {
	WIDTH: 9%; TEXT-ALIGN: center
}
.BlogArticlesColumn {
	WIDTH: 9%; TEXT-ALIGN: center
}
.BlogCommentsColumn {
	WIDTH: 9%; TEXT-ALIGN: center
}
.BlogTrackbacksColumn {
	WIDTH: 9%; TEXT-ALIGN: center
}
UL.BlogLinkCategoryLinkList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 24px; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
UL.BlogLinkCategoryLinkList LI {
	PADDING-TOP: 4px
}
UL.BlogLinkCategoryLinkList LI A {
	FONT-WEIGHT: bold
}
.BlogLinkCategoryArea {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.BlogSubscriptionItem {
	MARGIN-BOTTOM: 3px
}
