BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica
}
FORM {
	
}
.Common {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 100%; PADDING-TOP: 0px
}
#CommonHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 32px; OVERFLOW: hidden; WIDTH: 100%; PADDING-TOP: 0px
}
#CommonHeader TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#CommonHeaderImage {
	VERTICAL-ALIGN: bottom
}
#CommonHeaderImage A {
	DISPLAY: block; Z-INDEX: 100; MARGIN: 0px 8px 0px 0px; POSITION: relative
}
#CommonHeaderTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 140%; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: bottom; COLOR: #000; LINE-HEIGHT: 90%; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
#CommonHeaderTitle H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 280%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 120%; PADDING-TOP: 0px; LETTER-SPACING: -2px
}
#CommonHeaderDescription {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#CommonHeaderUserArea {
	DISPLAY: none
}
#CommonFooter {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 85%; PADDING-BOTTOM: 24px; MARGIN: 40px 0px 0px; OVERFLOW: hidden; WIDTH: 100%; COLOR: #000; LINE-HEIGHT: 240%; PADDING-TOP: 24px; TEXT-ALIGN: center
}
#CommonNavigation {
	DISPLAY: none
}
#CommonNavigationShadow {
	DISPLAY: none
}
#CommonContent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 1%
}
#CommonContentInner {
	OVERFLOW: hidden; WIDTH: 100%
}
#CommonSidebarLeft {
	DISPLAY: none
}
#CommonSidebarRight {
	DISPLAY: none
}
A:link {
	COLOR: #000
}
A:active {
	COLOR: #000
}
A:visited {
	COLOR: #000
}
A:hover {
	TEXT-DECORATION: underline
}
SELECT {
	FONT-SIZE: 90%; FONT-FAMILY: Arial, Helvetica
}
TEXTAREA {
	FONT-SIZE: 90%; FONT-FAMILY: Arial, Helvetica
}
INPUT {
	FONT-SIZE: 90%; FONT-FAMILY: Arial, Helvetica
}
BUTTON {
	FONT-SIZE: 90%; FONT-FAMILY: Arial, Helvetica
}
TABLE {
	empty-cells: show
}
.CommonFeedArea {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.CommonPagingArea {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 4px; MARGIN: 0px 3px; COLOR: #000; PADDING-TOP: 4px
}
.CommonPagingArea A:link {
	COLOR: #000
}
.CommonPagingArea A:visited {
	COLOR: #000
}
.CommonBreadCrumbArea {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 85%; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 8px
}
.CommonBreadCrumbArea A:link {
	COLOR: #000
}
.CommonBreadCrumbArea A:visited {
	COLOR: #000
}
.CommonBreadCrumbArea A:active {
	COLOR: #000
}
.CommonFilterArea {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 4px; MARGIN: 0px 40px 0px 3px; PADDING-TOP: 4px
}
.CommonSearchResults {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.CommonSearchResultsArea {
	MARGIN: 16px 0px
}
.CommonTreeFormArea {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 4px 4px 2px; OVERFLOW: auto; BORDER-LEFT: #000 1px solid; WIDTH: 350px; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 175px
}
.CommonTreeFormTree {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.CommonTreeFormNode {
	FONT-SIZE: 90%; CURSOR: pointer
}
.CommonTreeFormNodeSelected {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 1px; BORDER-LEFT: #000 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid
}
.CommonTreeFormNodeHover {
	FONT-SIZE: 90%; CURSOR: pointer
}
.CommonFormArea {
	DISPLAY: none
}
.CommonFormTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 180%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 16px; COLOR: #000; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
.CommonFormDescription {
	PADDING-RIGHT: 2px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
TD.CommonFormFieldName {
	PADDING-RIGHT: 8px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 2px
}
DIV.CommonFormFieldName {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 8px
}
TD.CommonFormFieldDescription {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 90%; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
DIV.CommonFormFieldDescription {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 90%; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TD.CommonFormField {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 2px
}
DIV.CommonFormField {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 2px
}
.CommonMessageArea {
	MARGIN: 64px 0px; WIDTH: 50%
}
.CommonMessageTitle {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 6px; BORDER-TOP: #000 0px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 180%; PADDING-BOTTOM: 6px; MARGIN: 0px; BORDER-LEFT: #000 0px solid; COLOR: #000; PADDING-TOP: 6px; BORDER-BOTTOM: #000 1px solid; LETTER-SPACING: -1px; TEXT-ALIGN: left
}
.CommonMessageContent {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 0px solid; FONT-SIZE: 100%; BORDER-LEFT: #000 1px solid; COLOR: #000; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: left
}
.CommonInlineMessageArea {
	BORDER-RIGHT: #000 1px solid; BACKGROUND-POSITION: left top; BORDER-TOP: #000 1px solid; MARGIN: 4px 0px; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid; BACKGROUND-REPEAT: repeat-x
}
.CommonInlineMessageTitle {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 6px; BORDER-TOP: #000 0px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 100%; PADDING-BOTTOM: 6px; MARGIN: 0px; BORDER-LEFT: #000 0px solid; COLOR: #000; PADDING-TOP: 6px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: left
}
OL.CommonInlineMessageList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.CommonInlineMessageList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonInlineMessageList LI {
	MARGIN-LEFT: 30px
}
.CommonInlineMessageContent {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 80%; PADDING-BOTTOM: 8px; COLOR: #000; PADDING-TOP: 8px; TEXT-ALIGN: left
}
.CommonMessageSuccess {
	BORDER-RIGHT: #000 2px solid; PADDING-RIGHT: 8px; BORDER-TOP: #000 2px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 100%; PADDING-BOTTOM: 8px; MARGIN: 8px 0px; BORDER-LEFT: #000 2px solid; COLOR: #000; PADDING-TOP: 8px; BORDER-BOTTOM: #000 2px solid
}
.CommonMessageError {
	BORDER-RIGHT: #000 2px solid; PADDING-RIGHT: 8px; BORDER-TOP: #000 2px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 100%; PADDING-BOTTOM: 8px; MARGIN: 8px 0px 12px; BORDER-LEFT: #000 2px solid; COLOR: #000; PADDING-TOP: 8px; BORDER-BOTTOM: #000 2px solid
}
.CommonTextBig {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 120%; PADDING-BOTTOM: 5px; MARGIN: 1px; PADDING-TOP: 5px
}
.CommonInputBig {
	FONT-SIZE: 130%; WIDTH: 90%
}
.CommonContentArea {
	MARGIN: 16px 0px 0px
}
.CommonTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 280%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 32px; COLOR: #000; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
.CommonProfileTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 280%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 32px; COLOR: #000; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
.CommonTitle A:link {
	COLOR: #000
}
.CommonTitle A:active {
	COLOR: #000
}
.CommonTitle A:visited {
	COLOR: #000
}
.CommonTitle A:hover {
	COLOR: #000
}
.CommonSubTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 180%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 32px; COLOR: #000; PADDING-TOP: 0px; LETTER-SPACING: -1px
}
.CommonHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 130%; PADDING-BOTTOM: 0px; MARGIN: 8px 0px 0px; COLOR: #000; PADDING-TOP: 0px
}
.CommonContent {
	
}
.CommonGroupedContentArea {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 16px; BORDER-LEFT: #000 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid
}
.CommonTextButton {
	VISIBILITY: hidden
}
.CommonTextButtonHighlight {
	VISIBILITY: hidden
}
.CommonImageTextButton {
	VISIBILITY: hidden
}
.CommonImageTextButtonHighlight {
	VISIBILITY: hidden
}
.CommonStandardTopAdArea {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 4px; BORDER-LEFT: #000 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #000 0px solid; TEXT-ALIGN: center
}
.CommonStandardTopAdArea IFRAME {
	MARGIN: 0px auto
}
.CommonStandardBottomAdArea {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 4px 0px 0px; BORDER-LEFT: #000 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #000 0px solid; TEXT-ALIGN: center
}
.CommonStandardBottomAdArea IFRAME {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN: 0px auto; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.CommonListArea {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.CommonListTitle {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 180%; PADDING-BOTTOM: 6px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 6px
}
.CommonListTitle A {
	COLOR: #000
}
.CommonListTitle A:visited {
	COLOR: #000
}
.CommonListTitle A:active {
	COLOR: #000
}
.CommonListTitle A:hover {
	COLOR: #000
}
.CommonListHeaderLeftMost {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; BORDER-LEFT: #000 1px solid; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: left
}
.CommonListHeader {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; BORDER-LEFT: #000 0px solid; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: left
}
.CommonListCellLeftMost {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000 0px solid; PADDING-LEFT: 4px; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; BORDER-LEFT: #000 1px solid; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px solid
}
.CommonListCell {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000 0px solid; PADDING-LEFT: 4px; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; BORDER-LEFT: #000 0px solid; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: left
}
.CommonListRow {
	
}
.CommonListRowAlt TD {
	
}
.CommonSearchResultArea {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 0px 0px 20px; BORDER-LEFT: #000 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid
}
.CommonSearchResult {
	FONT-SIZE: 100%
}
.CommonSearchResultName {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 150%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px; PADDING-TOP: 0px
}
.CommonSearchResultDetails {
	FONT-SIZE: 80%; MARGIN: 4px 0px 0px; COLOR: #000
}
.CommonSearchStatistics {
	FONT-SIZE: 80%; MARGIN: 4px 0px 0px; COLOR: #000
}
UL.CommonSearchResultList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.CommonValidationWarning {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 100%; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 2px
}
.CommonContentPartBorderOff {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.CommonContentPartBorderOn {
	BORDER-RIGHT: #000 1px dashed; BORDER-TOP: #000 1px dashed; BORDER-LEFT: #000 1px dashed; BORDER-BOTTOM: #000 1px dashed
}
.CommonModalMask {
	FILTER: alpha(opacity=40); opacity: .4
}
.CommonModal {
	BORDER-RIGHT: #000 3px solid; BORDER-TOP: #000 1px solid; FONT-SIZE: 75%; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 3px solid
}
.CommonModalTitle {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 0px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 7px; OVERFLOW: hidden; BORDER-LEFT: #000 0px solid; CURSOR: move; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; WHITE-SPACE: nowrap
}
.CommonModalClose {
	FLOAT: right; BACKGROUND-IMAGE: url(../images/common/close.gif); OVERFLOW: hidden; WIDTH: 33px; CURSOR: pointer; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
.CommonModalContent {
	
}
.CommonModalFooter {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #000 0px solid
}
.CommonModalResize {
	FLOAT: right; BACKGROUND-IMAGE: url(../images/common/resize.gif); OVERFLOW: hidden; WIDTH: 14px; CURSOR: se-resize; BACKGROUND-REPEAT: no-repeat; HEIGHT: 14px
}
.CommonRateControlReadOnly {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; WHITE-SPACE: nowrap
}
.CommonRateControl {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; WHITE-SPACE: nowrap
}
.CommonRateControlActive {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000 1px solid; DISPLAY: inline-block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000 1px solid; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #000 1px solid; WHITE-SPACE: nowrap
}
.CommonContentSelectorTreeArea {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN: 5px 5px 5px 0px; OVERFLOW: auto; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid; HEIGHT: 330px
}
.CommonContentSelectorItemsArea {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 5px 0px; OVERFLOW: auto; BORDER-LEFT: #000 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 322px
}
.CommonContentSelectorOptionsArea {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px solid
}
.CommonContentSelectorTree {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: visible; WIDTH: 215px; PADDING-TOP: 0px; HEIGHT: 330px
}
.CommonContentSelectorTreeNode {
	CURSOR: pointer
}
.CommonContentSelectorTreeNodeSelected {
	FONT-WEIGHT: bold; CURSOR: pointer
}
.CommonContentSelectorTreeNodeHover {
	CURSOR: pointer
}
.CommonContentSelectorItemArea {
	FLOAT: left
}
.CommonContentSelectorItem {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 90%; PADDING-BOTTOM: 3px; MARGIN: 6px 6px 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #000 1px solid; WIDTH: 79px; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px solid; HEIGHT: 79px; TEXT-ALIGN: center
}
.CommonContentSelectorItemSelected {
	BORDER-RIGHT: #000 3px solid; PADDING-RIGHT: 1px; BORDER-TOP: #000 3px solid; PADDING-LEFT: 1px; FONT-SIZE: 90%; PADDING-BOTTOM: 1px; MARGIN: 6px 6px 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #000 3px solid; WIDTH: 79px; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: #000 3px solid; HEIGHT: 79px; TEXT-ALIGN: center
}
.CommonContentSelectorItem IMG {
	MARGIN-TOP: auto; MARGIN-BOTTOM: auto
}
.CommonContentSelectorItemSelected IMG {
	MARGIN-TOP: auto; MARGIN-BOTTOM: auto
}
.CommonContentSelectorItemName {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 90%; PADDING-BOTTOM: 2px; MARGIN: 1px 6px 16px; OVERFLOW: hidden; WIDTH: 83px; CURSOR: pointer; PADDING-TOP: 2px; HEIGHT: 12px; TEXT-ALIGN: center
}
.CommonContentSelectorItemNameSelected {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 90%; PADDING-BOTTOM: 2px; MARGIN: 1px 6px 16px; OVERFLOW: hidden; WIDTH: 83px; CURSOR: pointer; PADDING-TOP: 2px; HEIGHT: 12px; TEXT-ALIGN: center
}
.CommonContentSelectorButtonArea {
	MARGIN: 5px; TEXT-ALIGN: right
}
P.MsoNormal {
	MARGIN: 0px 0px 0pt
}
LI.MsoNormal {
	MARGIN: 0px 0px 0pt
}
DIV.MsoNormal {
	MARGIN: 0px 0px 0pt
}
#comments TABLE {
	TABLE-LAYOUT: fixed; WIDTH: 100%
}
.FileCommentsContent TABLE {
	TABLE-LAYOUT: fixed; WIDTH: 100%
}
.Comment {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 8px; BORDER-TOP: #000 0px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #000 0px solid; PADDING-TOP: 12px; BORDER-BOTTOM: #000 1px solid
}
.CommentOwner {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.CommentAvatar {
	WIDTH: 15%; WHITE-SPACE: nowrap
}
.CommentAvatar IMG {
	MARGIN-RIGHT: 8px
}
.CommentContent {
	OVERFLOW: hidden; WIDTH: 85%
}
.CommentTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 110%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommentText {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.CommentFooter {
	FONT-SIZE: 80%; COLOR: #000
}
.CommonHelpIcon {
	DISPLAY: none
}
.CommonPollMoveUpButton {
	BORDER-RIGHT: #000 1px solid; BACKGROUND-POSITION: left top; BORDER-TOP: #000 1px solid; DISPLAY: inline-block; FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND-IMAGE: url(../images/common/up.gif); MARGIN: 1px; BORDER-LEFT: #000 1px solid; WIDTH: 20px; COLOR: #000; LINE-HEIGHT: normal; BORDER-BOTTOM: #000 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.CommonPollMoveUpButton:link {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonPollMoveUpButton:unknown {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonPollMoveUpButton:active {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonPollMoveUpButton:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonPollMoveDownButton {
	BORDER-RIGHT: #000 1px solid; BACKGROUND-POSITION: left top; BORDER-TOP: #000 1px solid; DISPLAY: inline-block; FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND-IMAGE: url(../images/common/down.gif); MARGIN: 1px; BORDER-LEFT: #000 1px solid; WIDTH: 20px; COLOR: #000; LINE-HEIGHT: normal; BORDER-BOTTOM: #000 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.CommonPollMoveDownButton:link {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonPollMoveDownButton:unknown {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonPollMoveDownButton:active {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonPollMoveDownButton:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonPollDeleteButton {
	BORDER-RIGHT: #000 1px solid; BACKGROUND-POSITION: left top; BORDER-TOP: #000 1px solid; DISPLAY: inline-block; FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND-IMAGE: url(../images/common/delete.gif); MARGIN: 1px; BORDER-LEFT: #000 1px solid; WIDTH: 20px; COLOR: #000; LINE-HEIGHT: normal; BORDER-BOTTOM: #000 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.CommonPollDeleteButton:link {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonPollDeleteButton:unknown {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonPollDeleteButton:active {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonPollDeleteButton:hover {
	COLOR: #000; TEXT-DECORATION: none
}
OL.CommonPollAnswerList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL.CommonPollAnswerList LI {
	MARGIN-LEFT: 24px
}
.CommonPollArea {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN: 0px auto; BORDER-LEFT: #000 1px solid; WIDTH: 375px; BORDER-BOTTOM: #000 1px solid
}
.CommonPollQuestion {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000 0px solid; PADDING-LEFT: 4px; FONT-SIZE: 105%; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #000 0px solid; COLOR: #000; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px solid
}
.CommonPollContent {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.CommonPollDescription {
	
}
.CommonPollSwitchedContent {
	MARGIN: 6px auto; WIDTH: 275px
}
UL.CommonPollAnswerList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.CommonPollAnswerList LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 6px 0px 0px; PADDING-TOP: 0px
}
.CommonPollAnswer {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.CommonPollUserVote {
	COLOR: #000
}
.CommonPollFooter {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 80%; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 0px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #000 0px solid
}
UL.CommonPollFooterList {
	MARGIN: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
UL.CommonPollFooterList LI {
	DISPLAY: inline; MARGIN: 0px 6px
}
.CommonTagCloud {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 16px; MARGIN: 32px 0px; COLOR: #000; LINE-HEIGHT: 250%; PADDING-TOP: 16px; LIST-STYLE-TYPE: none
}
.CommonSidebarTagCloud {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 225%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.CommonTag1 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag3 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag4 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag5 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag6 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonTag1 A:link {
	FONT-WEIGHT: 900; FONT-SIZE: 225%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag1 A:visited {
	FONT-WEIGHT: 900; FONT-SIZE: 225%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag1 A:active {
	FONT-WEIGHT: 900; FONT-SIZE: 225%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag2 A:link {
	FONT-WEIGHT: 800; FONT-SIZE: 175%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag2 A:visited {
	FONT-WEIGHT: 800; FONT-SIZE: 175%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag2 A:active {
	FONT-WEIGHT: 800; FONT-SIZE: 175%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag3 A:link {
	FONT-WEIGHT: 600; FONT-SIZE: 150%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag3 A:visited {
	FONT-WEIGHT: 600; FONT-SIZE: 150%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag3 A:active {
	FONT-WEIGHT: 600; FONT-SIZE: 150%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag4 A:link {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag4 A:visited {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag4 A:active {
	FONT-WEIGHT: 500; FONT-SIZE: 120%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag5 A:link {
	FONT-WEIGHT: 300; FONT-SIZE: 100%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag5 A:visited {
	FONT-WEIGHT: 300; FONT-SIZE: 100%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag5 A:active {
	FONT-WEIGHT: 300; FONT-SIZE: 100%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag6 A:link {
	FONT-WEIGHT: 200; FONT-SIZE: 80%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag6 A:visited {
	FONT-WEIGHT: 200; FONT-SIZE: 80%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag6 A:active {
	FONT-WEIGHT: 200; FONT-SIZE: 80%; COLOR: #000; MARGIN-RIGHT: 6px; TEXT-DECORATION: none
}
.CommonTag1 A:hover {
	TEXT-DECORATION: underline
}
.CommonTag2 A:hover {
	TEXT-DECORATION: underline
}
.CommonTag3 A:hover {
	TEXT-DECORATION: underline
}
.CommonTag4 A:hover {
	TEXT-DECORATION: underline
}
.CommonTag5 A:hover {
	TEXT-DECORATION: underline
}
.CommonTag6 A:hover {
	TEXT-DECORATION: underline
}
.CommonPane {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #000 0px solid; PADDING-LEFT: 8px; FONT-SIZE: 10pt; PADDING-BOTTOM: 8px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #000 1px solid
}
.CommonPaneTabSet {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/common/tabset.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap
}
.CommonPaneTab {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: right top; MARGIN-TOP: 1px; BACKGROUND-IMAGE: url(../images/common/tab-right.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.CommonPaneTab1 {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(../images/common/tab-left.gif); BACKGROUND-REPEAT: no-repeat
}
.CommonPaneTab2 {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: left top; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(../images/common/tab.gif); PADDING-BOTTOM: 4px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 4px; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap; HEIGHT: 13px; TEXT-ALIGN: center
}
.CommonPaneTabSelected {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: right top; MARGIN-TOP: 1px; BACKGROUND-IMAGE: url(../images/common/tab-selected-right.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.CommonPaneTabSelected1 {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(../images/common/tab-selected-left.gif); BACKGROUND-REPEAT: no-repeat
}
.CommonPaneTabSelected2 {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: left top; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../images/common/tab-selected.gif); PADDING-BOTTOM: 5px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap; HEIGHT: 13px; TEXT-ALIGN: center
}
.CommonPaneTabHover {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: right top; MARGIN-TOP: 1px; BACKGROUND-IMAGE: url(../images/common/tab-hover-right.gif); BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.CommonPaneTabHover1 {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(../images/common/tab-hover-left.gif); BACKGROUND-REPEAT: no-repeat
}
.CommonPaneTabHover2 {
	PADDING-RIGHT: 4px; BACKGROUND-POSITION: left top; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(../images/common/tab-hover.gif); PADDING-BOTTOM: 4px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 4px; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap; HEIGHT: 13px; TEXT-ALIGN: center
}
.CommonInlineTagEditor {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px solid
}
UL.CommonTreeList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.CommonTreeList LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.CommonTreeListItemSelected {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 3px; PADDING-LEFT: 18px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(../images/common/folder_open.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.CommonTreeListItem {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 3px; PADDING-LEFT: 18px; FONT-WEIGHT: normal; BACKGROUND-IMAGE: url(../images/common/folder.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.CommonTreeListItemSelected A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonTreeListItemSelected A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonTreeListItemSelected A:active {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonTreeListItem A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonTreeListItem A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonTreeListItem A:active {
	COLOR: #000; TEXT-DECORATION: none
}
.CommonTreeListItemSelected A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
.CommonTreeListItem A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
.CommonHalfWidthArea {
	FLOAT: left; WIDTH: 50%
}
.CommonHalfWidthContent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.CommonHalfWidthBreak {
	CLEAR: both
}
.CommonInlineListArea {
	
}
.CommonInlineListHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 115%; MARGIN: 0px 0px 0px 0.4em
}
.CommonInlineList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.CommonInlineList LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em 25px; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
.CommonAvatarListArea {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; FONT-SIZE: 120%; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 12px 12px 0px 0px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; WIDTH: 80px; PADDING-TOP: 3px; HEIGHT: 100px; TEXT-ALIGN: center
}
.CommonAvatarAreaHighlight {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; DISPLAY: block; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.CommonAvatarArea {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
