BODY {
	COLOR: #333333; FONT-FAMILY: Arial, Helvetica
}
HTML {
	COLOR: #333333; FONT-FAMILY: Arial, Helvetica
}
.CommonContent {
	COLOR: #333333; FONT-FAMILY: Arial, Helvetica
}
FORM {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #ffffff; min-width: 960px
}
A:link {
	COLOR: #000000
}
A:active {
	COLOR: #000000
}
A:visited {
	COLOR: #666666
}
SELECT {
	FONT-FAMILY: Arial, Helvetica
}
TEXTAREA {
	FONT-FAMILY: Arial, Helvetica
}
INPUT {
	FONT-FAMILY: Arial, Helvetica
}
BUTTON {
	FONT-FAMILY: Arial, Helvetica
}
.Common {
	WIDTH: 960px
}
#CommonHeader {
	BACKGROUND-IMAGE: url(/themes/default/images/common/header-gradient.png); BORDER-TOP-COLOR: #3a477a; BACKGROUND-COLOR: #ffffff
}
#CommonHeaderUserRoundBottom .r1 {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeaderUserRoundBottom .r2 {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeaderUserRoundBottom .r3 {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeaderUserRoundBottom .r4 {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeaderUserRoundLeft .r1 {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeaderUserRoundLeft .r2 {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeaderUserRoundLeft .r3 {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeaderUserRoundLeft .r4 {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeaderUserRoundRight .r1 {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeaderUserRoundRight .r2 {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeaderUserRoundRight .r3 {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeaderUserRoundRight .r4 {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeaderUserContent {
	BACKGROUND-COLOR: #3a477a
}
#CommonHeader TABLE TD {
	HEIGHT: 113px
}
#CommonNavigation {
	BACKGROUND-COLOR: #9ab5ec
}
#CommonNavigation A:link {
	COLOR: #000000
}
#CommonNavigation A:active {
	COLOR: #000000
}
#CommonNavigation A:visited {
	COLOR: #000000
}
#CommonNavigation A:hover {
	COLOR: #ffffff
}
#CommonNavigation A.Selected:link {
	COLOR: #ffffff
}
#CommonNavigation A.Selected:active {
	COLOR: #ffffff
}
#CommonNavigation A.Selected:visited {
	COLOR: #ffffff
}
.CommonBreadCrumbArea {
	COLOR: #000000; BACKGROUND-COLOR: #e9eef9
}
.CommonBreadCrumbArea A:link {
	COLOR: #000000
}
.CommonBreadCrumbArea A:visited {
	COLOR: #000000
}
.CommonBreadCrumbArea A:active {
	COLOR: #000000
}
.CommonTitle {
	COLOR: #aaaaaa; FONT-FAMILY: Arial, Helvetica
}
.CommonProfileTitle {
	COLOR: #aaaaaa; FONT-FAMILY: Arial, Helvetica
}
.CommonTitle A:link {
	COLOR: #aaaaaa; FONT-FAMILY: Arial, Helvetica
}
.CommonTitle A:active {
	COLOR: #aaaaaa; FONT-FAMILY: Arial, Helvetica
}
.CommonTitle A:visited {
	COLOR: #aaaaaa; FONT-FAMILY: Arial, Helvetica
}
.CommonTitle A:hover {
	COLOR: #aaaaaa; FONT-FAMILY: Arial, Helvetica
}
.ForumThreadPostTitle {
	COLOR: #aaaaaa; FONT-FAMILY: Arial, Helvetica
}
.CommonTitle {
	FONT-SIZE: 280%
}
.CommonProfileTitle {
	FONT-SIZE: 280%
}
#CommonHeaderTitle {
	FONT-SIZE: 140%
}
#CommonHeaderTitle H1 {
	COLOR: #3a477a; FONT-FAMILY: Arial, Helvetica
}
#CommonHeaderTitle H1 A:link {
	COLOR: #3a477a; FONT-FAMILY: Arial, Helvetica
}
#CommonHeaderTitle H1 A:visited {
	COLOR: #3a477a; FONT-FAMILY: Arial, Helvetica
}
#CommonHeaderTitle H1 A:active {
	COLOR: #3a477a; FONT-FAMILY: Arial, Helvetica
}
.CommonSubTitle {
	COLOR: #aaaaaa; FONT-FAMILY: Arial, Helvetica
}
.CommonHeader {
	COLOR: #aaaaaa; FONT-FAMILY: Arial, Helvetica
}
.CommonFormTitle {
	COLOR: #aaaaaa; FONT-FAMILY: Arial, Helvetica
}
.CommonInlineMessageTitle {
	FONT-SIZE: 100%
}
.CommonInlineMessageTitle {
	FONT-FAMILY: Arial, Helvetica; BACKGROUND-COLOR: #f4f4f4
}
.CommonMessageTitle {
	FONT-FAMILY: Arial, Helvetica; BACKGROUND-COLOR: #f4f4f4
}
.CommonInlineMessageTitle {
	COLOR: #666666
}
.CommonInlineMessageTitle A:link {
	COLOR: #666666
}
.CommonInlineMessageTitle A:visited {
	COLOR: #666666
}
.CommonInlineMessageTitle A:active {
	COLOR: #666666
}
.CommonInlineMessageTitle A:hover {
	COLOR: #666666
}
.CommonMessageTitle {
	COLOR: #666666
}
.CommonInlineMessageArea {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.CommonInlineMessageTitle {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.CommonMessageContent {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.CommonMessageTitle {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.ForumPostHeader {
	FONT-SIZE: 90%; COLOR: #000000; FONT-FAMILY: Arial, Helvetica; BACKGROUND-COLOR: #9ab5ec
}
.ForumPostHeader {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.ForumPostManagementArea {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.ForumPostTitleArea {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.ForumPostContentArea {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.ForumPostUserArea {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.ForumPostFooterArea {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.ForumPostTitleArea {
	BACKGROUND-COLOR: #f4f4f4
}
.ForumPostManagementArea {
	BACKGROUND-COLOR: #f4f4f4
}
.ForumPostUserArea {
	BACKGROUND-COLOR: #eeeeee
}
.ForumPostContentArea {
	COLOR: #000000
}
.CommonTag1 A:link {
	COLOR: #000000
}
.CommonTag1 A:visited {
	COLOR: #000000
}
.CommonTag1 A:active {
	COLOR: #000000
}
.CommonTag2 A:link {
	COLOR: #000000
}
.CommonTag2 A:visited {
	COLOR: #000000
}
.CommonTag2 A:active {
	COLOR: #000000
}
.CommonTag3 A:link {
	COLOR: #000000
}
.CommonTag3 A:visited {
	COLOR: #000000
}
.CommonTag3 A:active {
	COLOR: #000000
}
.CommonTag4 A:link {
	COLOR: #000000
}
.CommonTag4 A:visited {
	COLOR: #000000
}
.CommonTag4 A:active {
	COLOR: #000000
}
.CommonTag5 A:link {
	COLOR: #000000
}
.CommonTag5 A:visited {
	COLOR: #000000
}
.CommonTag5 A:active {
	COLOR: #000000
}
.CommonTag6 A:link {
	COLOR: #000000
}
.CommonTag6 A:visited {
	COLOR: #000000
}
.CommonTag6 A:active {
	COLOR: #000000
}
A.ForumGroupNameRead {
	COLOR: #666666
}
.ForumGroupNameRead:link {
	COLOR: #666666
}
.ForumGroupNameRead:visited {
	COLOR: #666666
}
A.ForumNameRead {
	COLOR: #666666
}
.ForumNameRead:link {
	COLOR: #666666
}
.ForumNameRead:visited {
	COLOR: #666666
}
A.ForumGroupNameUnRead {
	COLOR: #000000
}
.ForumGroupNameUnRead:link {
	COLOR: #000000
}
.ForumGroupNameUnRead:visited {
	COLOR: #000000
}
A.ForumNameUnRead {
	COLOR: #000000
}
.ForumNameUnRead:link {
	COLOR: #000000
}
.ForumNameUnRead:visited {
	COLOR: #000000
}
.CommonListTitle {
	FONT-SIZE: 180%; FONT-FAMILY: Arial, Helvetica
}
.CommonListTitle {
	COLOR: #000000
}
.CommonListTitle A:link {
	COLOR: #000000
}
.CommonListTitle A:visited {
	COLOR: #000000
}
.CommonListTitle A:active {
	COLOR: #000000
}
.CommonListHeader {
	COLOR: #999999; BACKGROUND-COLOR: #e1e1e1
}
.CommonListHeaderLeftMost {
	COLOR: #999999; BACKGROUND-COLOR: #e1e1e1
}
.CommonListRowAlt TD {
	BACKGROUND-COLOR: #ffffcc
}
.CommonListHeader {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.CommonListHeaderLeftMost {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.CommonListCell {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.CommonListCellLeftMost {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.ForumListCellLeftMostImageOnly {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.ForumListCellImageOnly {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
.FileListCellLeftMostImageOnly {
	BORDER-LEFT-COLOR: #e1e1e1; BORDER-BOTTOM-COLOR: #e1e1e1; BORDER-TOP-COLOR: #e1e1e1; BORDER-RIGHT-COLOR: #e1e1e1
}
#CommonFooter {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #e0e4ec
}
BODY {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #e0e4ec
}
HTML {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #e0e4ec
}
#CommonSidebarLeft .CommonSidebar {
	WIDTH: 312px
}
#CommonSidebarRight .CommonSidebar {
	WIDTH: 312px
}
.CommonSidebarInnerArea {
	BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-COLOR: #999999; BORDER-TOP-COLOR: #999999; BACKGROUND-COLOR: #ced5d7; BORDER-RIGHT-COLOR: #999999
}
.CommonSidebarRoundTop .r1 {
	BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-COLOR: #999999; BORDER-TOP-COLOR: #999999; BACKGROUND-COLOR: #ced5d7; BORDER-RIGHT-COLOR: #999999
}
.CommonSidebarRoundTop .r2 {
	BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-COLOR: #999999; BORDER-TOP-COLOR: #999999; BACKGROUND-COLOR: #ced5d7; BORDER-RIGHT-COLOR: #999999
}
.CommonSidebarRoundTop .r3 {
	BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-COLOR: #999999; BORDER-TOP-COLOR: #999999; BACKGROUND-COLOR: #ced5d7; BORDER-RIGHT-COLOR: #999999
}
.CommonSidebarRoundTop .r4 {
	BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-COLOR: #999999; BORDER-TOP-COLOR: #999999; BACKGROUND-COLOR: #ced5d7; BORDER-RIGHT-COLOR: #999999
}
.CommonSidebarRoundBottom .r1 {
	BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-COLOR: #999999; BORDER-TOP-COLOR: #999999; BACKGROUND-COLOR: #ced5d7; BORDER-RIGHT-COLOR: #999999
}
.CommonSidebarRoundBottom .r2 {
	BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-COLOR: #999999; BORDER-TOP-COLOR: #999999; BACKGROUND-COLOR: #ced5d7; BORDER-RIGHT-COLOR: #999999
}
.CommonSidebarRoundBottom .r3 {
	BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-COLOR: #999999; BORDER-TOP-COLOR: #999999; BACKGROUND-COLOR: #ced5d7; BORDER-RIGHT-COLOR: #999999
}
.CommonSidebarRoundBottom .r4 {
	BORDER-LEFT-COLOR: #999999; BORDER-BOTTOM-COLOR: #999999; BORDER-TOP-COLOR: #999999; BACKGROUND-COLOR: #ced5d7; BORDER-RIGHT-COLOR: #999999
}
.CommonSidebarHeader {
	BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; BORDER-RIGHT-COLOR: #ffffff
}
.CommonSidebarFooter {
	BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; BORDER-RIGHT-COLOR: #ffffff
}
.CommonSidebarHeader {
	COLOR: #333333
}
.CommonSidebarHeader A:link {
	COLOR: #333333
}
.CommonSidebarHeader A:visited {
	COLOR: #333333
}
.CommonSidebarHeader A:active {
	COLOR: #333333
}
.CommonSidebarHeader A:hover {
	COLOR: #333333
}
.CommonModal1 {
	BACKGROUND-COLOR: #cccccc
}
.CommonModal2 {
	BACKGROUND-COLOR: #cccccc
}
.CommonModal3 {
	BACKGROUND-COLOR: #cccccc
}
.CommonModal4 {
	BACKGROUND-COLOR: #cccccc
}
.CommonModal5 {
	BACKGROUND-COLOR: #cccccc
}
.CommonModal1 {
	BORDER-LEFT-COLOR: #666666; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #666666; BORDER-RIGHT-COLOR: #666666
}
.CommonModal2 {
	BORDER-LEFT-COLOR: #666666; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #666666; BORDER-RIGHT-COLOR: #666666
}
.CommonModal3 {
	BORDER-LEFT-COLOR: #666666; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #666666; BORDER-RIGHT-COLOR: #666666
}
.CommonModal4 {
	BORDER-LEFT-COLOR: #666666; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #666666; BORDER-RIGHT-COLOR: #666666
}
.CommonModal5 {
	BORDER-LEFT-COLOR: #666666; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #666666; BORDER-RIGHT-COLOR: #666666
}
.CommonModalTitle {
	BORDER-LEFT-COLOR: #666666; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #666666; BORDER-RIGHT-COLOR: #666666
}
.CommonModalFooter {
	BORDER-LEFT-COLOR: #666666; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #666666; BORDER-RIGHT-COLOR: #666666
}
.CommonModalTitle {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica
}
