BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 80%; BACKGROUND: #e8ffe8; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: verdana,arial,sans-serif
}
TH {
	FONT-FAMILY: verdana,arial,sans-serif
}
TD {
	FONT-FAMILY: verdana,arial,sans-serif
}
TT {
	FONT-FAMILY: courier new, courier, monaco, monospace
}
HR {
	PADDING-RIGHT: 0px; MARGIN-TOP: 3px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #444444; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #444444; PADDING-TOP: 0px; BORDER-BOTTOM: #444444 0px solid; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; HEIGHT: 1px; BORDER-RIGHT-COLOR: #444444
}
BLOCKQUOTE {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0.1em; MARGIN-LEFT: 20px; PADDING-TOP: 0.1em
}
PRE {
	MARGIN-TOP: 0.1em; MARGIN-BOTTOM: 0.1em; FONT-FAMILY: courier, monospace
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A:hover {
	COLOR: #800000; TEXT-DECORATION: underline
}
.green {
	BACKGROUND: #00ff00; COLOR: #000000
}
.yellow {
	BACKGROUND: #ffff00; COLOR: #000000
}
.red {
	BACKGROUND: #ff0000; COLOR: #000000
}
.tbox FIELDSET {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN: 0.5em; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #cccccc 1px solid
}
.tbox LEGEND {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #e8ffe8; PADDING-BOTTOM: 2px; COLOR: #444444; PADDING-TOP: 2px
}
.cssform LABEL {
	DISPLAY: block; FLOAT: left; WIDTH: 4em; MARGIN-RIGHT: 0.5em; TEXT-ALIGN: right
}
.cssform .submit INPUT {
	MARGIN-LEFT: 4.5em
}
.cssfrom INPUT {
	BORDER-RIGHT: #444444 1px solid; BORDER-TOP: #444444 1px solid; BORDER-LEFT: #444444 1px solid; BORDER-BOTTOM: #444444 1px solid
}
.cssform .submit INPUT {
	BORDER-RIGHT: #d7b9c9 2px outset; BORDER-TOP: #d7b9c9 2px outset; BORDER-LEFT: #d7b9c9 2px outset; COLOR: #000; BORDER-BOTTOM: #d7b9c9 2px outset
}
.cssform FIELDSET {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #cccccc 1px solid
}
.cssform LEGEND {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #e8ffe8; PADDING-BOTTOM: 2px; COLOR: #00f; PADDING-TOP: 2px
}
.news {
	LINE-HEIGHT: 1.45em
}
.news A:link {
	TEXT-DECORATION: underline
}
.news A:visited {
	TEXT-DECORATION: underline
}
.news A:hover {
	COLOR: #800000; TEXT-DECORATION: underline
}
.news LI {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0em; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em
}
.news UL {
	MARGIN-TOP: 0em; PADDING-LEFT: 2em; LIST-STYLE-POSITION: outside; MARGIN-BOTTOM: 0em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; LIST-STYLE-TYPE: disc
}
TD.uinfo {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.av {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #cccccc 1px solid
}
.news .apic {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid
}
.soft-tbl TD {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.soft-tbl TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0px
}
.borderless TD {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.tabbed-table TR.titlerow TD {
	BORDER-TOP: 0px
}
.h3tool H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 150%; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0em; MARGIN: 0em 0pt; COLOR: yellow; PADDING-TOP: 0em; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: arial,verdana,sans-serif
}
.h3tool A {
	COLOR: yellow; TEXT-DECORATION: none
}
.h3tool A:hover {
	COLOR: #ffff80; TEXT-DECORATION: none
}
.floatr {
	FLOAT: right; POSITION: relative
}
.firstwiki H3 {
	PADDING-TOP: 0.1em
}
.wiki H1 {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0em 0pt 0.4em; PADDING-TOP: 0.1em; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: arial,verdana,sans-serif
}
.wiki H2 {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0em 0pt 0.4em; PADDING-TOP: 0.1em; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: arial,verdana,sans-serif
}
.wiki H3 {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0em 0pt 0.4em; PADDING-TOP: 0.1em; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: arial,verdana,sans-serif
}
.wiki H4 {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0em 0pt 0.4em; PADDING-TOP: 0.1em; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: arial,verdana,sans-serif
}
.wiki H5 {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0em 0pt 0.4em; PADDING-TOP: 0.1em; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: arial,verdana,sans-serif
}
.wiki H6 {
	FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0em 0pt 0.4em; PADDING-TOP: 0.1em; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: arial,verdana,sans-serif
}
.wiki H1 {
	FONT-SIZE: 188%
}
.wiki H2 {
	FONT-SIZE: 170%
}
.wiki H3 {
	FONT-SIZE: 150%
}
.wiki H4 {
	FONT-SIZE: 132%
}
.wiki H5 {
	FONT-SIZE: 116%
}
.wiki H6 {
	FONT-SIZE: 80%
}
.wiki .wiki H4 {
	FONT-WEIGHT: bold; BORDER-BOTTOM-STYLE: none
}
.wiki H5 {
	FONT-WEIGHT: bold; BORDER-BOTTOM-STYLE: none
}
.wiki H6 {
	FONT-WEIGHT: bold; BORDER-BOTTOM-STYLE: none
}
.blog_entry {
	MARGIN-LEFT: 6px
}
.blog_description {
	MARGIN: 4px 0px 0px 24px
}
.blog_byline {
	MARGIN: 4px 0px; TEXT-ALIGN: right
}
.codetext {
	FONT-SIZE: 0.95em; FONT-FAMILY: "Courier New", Courier, monospaced
}
.code {
	BORDER-RIGHT: #ff8080 1px dashed; BORDER-TOP: #ff8080 1px dashed; PADDING-LEFT: 0.5em; MIN-HEIGHT: 4em; BACKGROUND: #d8e8f8 0% 50%; PADDING-BOTTOM: 0.2em; MARGIN: 0.4em 1em; OVERFLOW: auto; BORDER-LEFT: #ff8080 1px dashed; COLOR: #000000; PADDING-TOP: 0.2em; BORDER-BOTTOM: #ff8080 1px dashed
}
.news .bquote {
	PADDING-LEFT: 0.5em; FONT-SIZE: 0.9em; PADDING-BOTTOM: 0.5em; MARGIN: 0.6em 1em; BORDER-LEFT: #cccccc 4px solid; BORDER-TOP-STYLE: none; PADDING-TOP: 0.5em; BORDER-BOTTOM-STYLE: none
}
.bquote {
	BORDER-TOP: #cccccc 1px dotted; PADDING-LEFT: 4px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 0.94em; BORDER-LEFT-COLOR: #cccccc; BACKGROUND: #e8ffe8; PADDING-BOTTOM: 0.5em; MARGIN: 0.6em 1em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #cccccc 1px dotted; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
.syntax {
	MARGIN-TOP: 0.1em; PADDING-LEFT: 0.5em; BORDER-LEFT-COLOR: #cccccc; MIN-HEIGHT: 4em; BACKGROUND: #000000; MARGIN-BOTTOM: 0.5em; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 1em; OVERFLOW: auto; BORDER-TOP-STYLE: inset; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 0.5em; BORDER-RIGHT-STYLE: inset; BORDER-LEFT-STYLE: inset; BORDER-RIGHT-COLOR: #cccccc; BORDER-BOTTOM-STYLE: inset
}
.tabber A:hover {
	TEXT-DECORATION: none
}
.areae {
	FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
.areae A:link {
	FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
.areae A:visited {
	FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
.areae A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: none
}
.areab {
	FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
.areab A:link {
	FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
.areab A:visited {
	FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
.areab A.sel {
	FONT-WEIGHT: bold; COLOR: red
}
.areab A:hover {
	TEXT-DECORATION: underline
}
.areab LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 6px; TEXT-INDENT: -5px; PADDING-TOP: 0px
}
.areab UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.areab LI.nav {
	FONT-WEIGHT: bold; MARGIN: 0px 0px 0px 1px
}
.areac {
	FONT-SIZE: 12px; FONT-FAMILY: arial, sans-serif
}
.areac LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 6px; TEXT-INDENT: -5px; PADDING-TOP: 0px
}
.areac UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.areac LI.nav {
	FONT-WEIGHT: bold; MARGIN: 0px 0px 0px 1px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0em 0.5em 1em; PADDING-TOP: 0px
}
.p1 {
	BORDER-RIGHT: #444444 1px dashed; PADDING-RIGHT: 4px; BORDER-TOP: #444444 1px dashed; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #444444 1px dashed; PADDING-TOP: 4px; BORDER-BOTTOM: #444444 1px dashed; BACKGROUND-COLOR: #e8ffe8
}
.p2 {
	FONT-SIZE: 12px; COLOR: #000000
}
A.p2 {
	TEXT-DECORATION: none
}
A.p2:hover {
	TEXT-DECORATION: underline
}
.navt A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
.navt A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; FONT-FAMILY: arial, sans-serif; TEXT-DECORATION: none
}
.navt A:hover {
	BACKGROUND: #ccccff; TEXT-DECORATION: none
}
.subHeadline A:link {
	
}
.subHeadline A:visited {
	
}
.cmd-links A:link {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #800000; TEXT-DECORATION: none
}
.cmd-links A:visited {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #800000; TEXT-DECORATION: none
}
.menuTABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.menuTD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND-IMAGE: url(http://i.dslr.net/grad.gif); PADDING-BOTTOM: 2px; MARGIN: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #505050 1px solid; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.menuTDover1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND-IMAGE: url(http://i.dslr.net/grad.gif); PADDING-BOTTOM: 2px; MARGIN: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #505050 1px solid; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.menuTDover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 2px; MARGIN: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #505050 1px solid; PADDING-TOP: 2px; BACKGROUND-COLOR: #4040ff; TEXT-ALIGN: center
}
.nmenuFont {
	FONT-WEIGHT: 500; FONT-SIZE: 13px; COLOR: #fff; FONT-FAMILY: arial,helvetica,sans-serif; LETTER-SPACING: 0px
}
.nmenuFont:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.nmenuFont:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.nmenuFont:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.tl1 {
	FONT-WEIGHT: bold
}
.tl2 {
	FONT-WEIGHT: bold
}
.tl3 {
	FONT-WEIGHT: bold
}
.tl1 {
	COLOR: #ffff00
}
.tl1:visited {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.tl1:link {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.tl1:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
.tl2 {
	FONT-SIZE: 0.8em; COLOR: #ffff00
}
.tl2 A:visited {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.tl2 A:link {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.tl2 A:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
.tl3 {
	FONT-SIZE: 0.8em; COLOR: #ffff00
}
.tl3 A:visited {
	COLOR: black; BACKGROUND-COLOR: yellow; TEXT-DECORATION: none
}
.tl3 A:link {
	COLOR: black; BACKGROUND-COLOR: yellow; TEXT-DECORATION: none
}
.tl3 A:hover {
	COLOR: black; BACKGROUND-COLOR: yellow; TEXT-DECORATION: underline
}
.mod-double .main {
	CLEAR: left; FLOAT: left
}
.mod-double .ext {
	DISPLAY: block; TEXT-ALIGN: right
}
KBD.shortcut {
	FONT-FAMILY: "Verdana","Arial","Helvetica",sans-serif
}
INPUT.text {
	FONT: 8pt "Verdana","Arial","Helvetica",sans-serif
}
INPUT.button {
	FONT: 8pt "Verdana","Arial","Helvetica",sans-serif
}
INPUT.button {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0.1em; BORDER-TOP: 1px solid; PADDING-LEFT: 0.1em; PADDING-BOTTOM: 0.1em; BORDER-LEFT: 1px solid; CURSOR: pointer; PADDING-TOP: 0.1em; BORDER-BOTTOM: 1px solid; moz-border-radius: 0px
}
INPUT.text {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; LETTER-SPACING: 0px; BACKGROUND-COLOR: #f0f0f0
}
INPUT.text:unknown {
	BACKGROUND-COLOR: #fff
}
KBD.shortcut {
	TEXT-DECORATION: underline
}
FORM {
	DISPLAY: inline; MARGIN: 0px
}
INPUT.button:hover {
	BACKGROUND-COLOR: #c0c0c0
}
INPUT.button:unknown {
	BACKGROUND-COLOR: #c0c0c0
}
.chatlist UL {
	MARGIN-TOP: 0em; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0.5em; LIST-STYLE-TYPE: none
}
.chatlist LI {
	MARGIN-TOP: 0em; PADDING-LEFT: 24px; BACKGROUND: url(http://i.dslr.net/chat.gif) no-repeat 4px 1px; MARGIN-BOTTOM: 0em
}
.revlist UL {
	MARGIN-TOP: 0em; PADDING-LEFT: 1em; MARGIN-BOTTOM: 0em; MARGIN-LEFT: 2em; TEXT-INDENT: -2em; LIST-STYLE-TYPE: none
}
.revlist LI {
	MARGIN-TOP: 0em; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0em
}
.ks-pagination-links {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 140%; PADDING-TOP: 10px; POSITION: relative; TEXT-ALIGN: left
}
.ks-pagination-links UL {
	DISPLAY: inline; PADDING-LEFT: 0.1em; MARGIN-LEFT: 0.1em
}
.ks-pagination-links LI {
	DISPLAY: inline; MARGIN: 2px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.ks-pagination-links LI A {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 6px! important; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 6px! important; FONT-WEIGHT: 100; FONT-SIZE: 0.8em! important; PADDING-BOTTOM: 3px! important; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 3px! important; BORDER-BOTTOM: #cccccc 1px solid; TEXT-DECORATION: none! important
}
.ks-pagination-links LI A:hover {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: bold; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000! important; BORDER-BOTTOM: #cccccc 1px solid
}
.ks-pagination-links .current {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; COLOR: #ff0000; TEXT-DECORATION: none
}
.ks-pagination-links .noclick {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.8em; COLOR: #cccccc
}
.ks-pagination-links .next A {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid
}
.ks-pagination-links .previous A {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid
}
.ks-pagination-links .next A:hover {
	FONT-WEIGHT: normal
}
.ks-pagination-links .previous A:hover {
	FONT-WEIGHT: normal
}
.ks-pagination-links .pager_help {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.8em; COLOR: #444444
}
.control-links {
	FONT-SIZE: 0.8em
}
.control-links A {
	COLOR: #800000
}
.control-links A:visited {
	COLOR: #800000
}
.control-links A:hover {
	COLOR: #800000; TEXT-DECORATION: underline
}
#titlebarA1 {
	BORDER-RIGHT: #c6f9c6 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c6f9c6 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 4px; BACKGROUND: url(http://i.dslr.net/grads/grad0-669966-100-2.gif) #669966 0% 50%; PADDING-BOTTOM: 4px; BORDER-LEFT: #c6f9c6 1px solid; COLOR: #ffff00; PADDING-TOP: 4px; BORDER-BOTTOM: #c6f9c6 1px solid; HEIGHT: 25px; max-width: 100%
}
#titlebarA1 A:link {
	COLOR: #ffff00
}
#forumheaderA1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://i.dslr.net/grads/grad0-669966-30-2.gif) #669966 0% 50%; PADDING-BOTTOM: 0px; COLOR: #ffff00; PADDING-TOP: 0px; HEIGHT: 18px; max-width: 100%
}
#forumheaderA2 {
	PADDING-RIGHT: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; BACKGROUND: url(http://i.dslr.net/grads/grad0-669966-40-2.gif) #669966 0% 50%; PADDING-BOTTOM: 5px; COLOR: #ffff00; PADDING-TOP: 5px; HEIGHT: 40px; max-width: 100%
}
TD.foddcell {
	BACKGROUND: #bfdfbf
}
TD.fevencell {
	BACKGROUND: #e0ffe0
}
TD.fpopcell {
	BACKGROUND: #ffffcc
}
TD.fpop1cell {
	
}
TD.fpop2cell {
	
}
TD.ftodaycell {
	BACKGROUND: #c4e1c4
}
TD.fweekcell {
	BACKGROUND: #e0ffe0
}
TD.foldcell {
	BACKGROUND: #ffffff
}
DIV#bullets UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-TOP: 0px; LIST-STYLE-TYPE: circle
}
DIV#bullets OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; PADDING-TOP: 0px
}
DIV#bullets OL LI {
	PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
DIV.nicetitle {
	BORDER-RIGHT: #669966 2px solid; PADDING-RIGHT: 4px; BORDER-TOP: #669966 2px solid; PADDING-LEFT: 4px; FONT-SIZE: 12px; LEFT: 0px; BACKGROUND-IMAGE: url(http://i.dslr.net/grads/fade0-E8FFE8-50-2.gif); PADDING-BOTTOM: 4px; BORDER-LEFT: #669966 2px solid; WIDTH: 25em; PADDING-TOP: 4px; BORDER-BOTTOM: #669966 2px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial,Verdana,Helvetica,Arial,sans-serif; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #e8ffe8; TEXT-ALIGN: left
}
DIV.nicetitle P {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0pt; MARGIN: 0pt; PADDING-TOP: 0pt
}
DIV.popup {
	BORDER-RIGHT: #669966 2px solid; PADDING-RIGHT: 4px; BORDER-TOP: #669966 2px solid; PADDING-LEFT: 4px; FONT-SIZE: 12px; FILTER: alpha(opacity=100); LEFT: 0px; BACKGROUND-IMAGE: url(http://i.dslr.net/grads/fade0-E8FFE8-50-2.gif); PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #669966 2px solid; WIDTH: auto; PADDING-TOP: 4px; BORDER-BOTTOM: #669966 2px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial,Verdana,Helvetica,Arial,sans-serif; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #e8ffe8; TEXT-ALIGN: left
}
.sform P {
	MARGIN: 2px
}
.sform SELECT {
	FONT: 9px "Verdana","Arial","Helvetica",sans-serif
}
.sform INPUT {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 2px; FONT: 9px "Verdana"; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
UL.boxy {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 20em; PADDING-TOP: 0px; FONT-FAMILY: Arial, sans-serif; LIST-STYLE-TYPE: none
}
UL.boxy LI {
	BORDER-RIGHT: #444444 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #444444 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 5px; BORDER-LEFT: #444444 1px solid; CURSOR: move; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #444444 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #cccccc
}
#favl {
	MARGIN-BOTTOM: 1em
}
#favl LI {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 0px
}
#buttons LI {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 0px
}
.inspector {
	FONT-SIZE: 11px
}
#mini-nav {
	Z-INDEX: 2; BACKGROUND-IMAGE: url(http://i.dslr.net/grads/fade0-E8FFE8-100-2.gif); BACKGROUND-REPEAT: repeat-x; POSITION: fixed; TOP: 0px; BACKGROUND-COLOR: #e8ffe8
}
#mini-nav-top {
	Z-INDEX: 2; BACKGROUND: url(http://i.dslr.net/grads/grad0-E8FFE8-32-2.gif) #e8ffe8 0% 50%; BORDER-BOTTOM: #cccccc 1px solid; POSITION: fixed; TOP: 0px; zIndex: 2
}
IMG.roll {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
IMG.roll:hover {
	BORDER-RIGHT: red 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: red 1px solid; PADDING-LEFT: 1px; BACKGROUND: #cccccc; PADDING-BOTTOM: 1px; BORDER-LEFT: red 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: red 1px solid
}
IMG.rollb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
IMG.rollb:hover {
	BORDER-RIGHT: red 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: red 0px solid; PADDING-LEFT: 0px; BACKGROUND: #cccccc; PADDING-BOTTOM: 0px; BORDER-LEFT: red 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: red 0px solid
}
#wrap-ba {
	FLOAT: left; WIDTH: auto
}
#c1-ba {
	FLOAT: right
}
#c2-ba {
	BORDER-RIGHT: #cccccc 1px solid
}
#c2-ba-content {
	
}
#wrap-ab {
	WIDTH: 100%
}
#c1-ab {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#c2-ab {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: gray 1px solid; PADDING-TOP: 0px
}
#c2-ab-content {
	
}
#wrap-xy {
	WIDTH: 100%
}
#x1-xy {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#x2-xy {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#x2-xy-content {
	
}
#etTabs {
	FONT-SIZE: 11px; MARGIN: 0px auto; WIDTH: auto; FONT-STYLE: normal; FONT-FAMILY: Arial,Helvetica,sans-serif; TEXT-ALIGN: left; FONT-VARIANT: normal; font-size-adjust: none
}
#minitabs A:hover SPAN {
	BACKGROUND-POSITION: 100% -140px
}
#minitabs A {
	PADDING-RIGHT: 0pt; DISPLAY: block; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: url(http://i.dslr.net/minitab/minitab_left.gif) no-repeat left top; PADDING-BOTTOM: 0pt; PADDING-TOP: 0pt; TEXT-DECORATION: none
}
#minitabs A SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 6px; BACKGROUND: url(http://i.dslr.net/minitab/minitab_right.gif) no-repeat right top; FLOAT: none; PADDING-BOTTOM: 4px; PADDING-TOP: 5px
}
#minitabs #current A {
	BACKGROUND-POSITION: 0% -70px; COLOR: #000000; BORDER-BOTTOM: #e8ffe8 1px solid; TEXT-DECORATION: none
}
#minitabs UL {
	PADDING-RIGHT: 0pt; PADDING-LEFT: 0em; PADDING-BOTTOM: 23px; MARGIN: 0em 0pt; PADDING-TOP: 0pt; BORDER-BOTTOM: #999999 1px solid; LIST-STYLE-TYPE: none
}
#minitabs LI {
	PADDING-RIGHT: 0pt; PADDING-LEFT: 0pt; FLOAT: left; PADDING-BOTTOM: 0pt; MARGIN: 0pt 3px 0pt 0pt; PADDING-TOP: 0pt
}
#minitabs #current A SPAN {
	BACKGROUND-POSITION: 100% -70px
}
#minitabs A SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 6px; BACKGROUND: url(http://i.dslr.net/minitab/minitab_right.gif) no-repeat right top; FLOAT: none; PADDING-BOTTOM: 4px; PADDING-TOP: 5px
}
#minitabs A:hover {
	BACKGROUND-POSITION: 0% -140px; COLOR: #000000
}
#minitabs A:hover SPAN {
	BACKGROUND-POSITION: 100% -140px
}
#minitabs #current A:hover {
	COLOR: #000000
}
#minitabs #current A {
	COLOR: #000000; TEXT-DECORATION: none
}
#minitabs A:link {
	COLOR: #000000
}
#minitabs A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
DIV#shell UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 28px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV#shell OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 28px; PADDING-TOP: 0px
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.clearfix {
	DISPLAY: inline-block
}
 HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
DIV#shell {
	DISPLAY: block; FONT-SIZE: 90%; MARGIN: 0px auto; POSITION: relative; TEXT-ALIGN: left
}
DIV#shell UL.tabs {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; Z-INDEX: 500; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: uppercase; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap
}
DIV#shell UL.tabs LI {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #ccc 1px solid; DISPLAY: block; PADDING-LEFT: 7px; Z-INDEX: 6000; FLOAT: left; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #ccc 0px solid; COLOR: #000000; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #cccccc
}
DIV#shell UL.tabs LI.selected {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; Z-INDEX: 9999; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; BACKGROUND-COLOR: #e8ffe8; BORDER-BOTTOM-STYLE: none
}
DIV#shell DIV.tabContent {
	CLEAR: both; BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #ccc 1px solid; DISPLAY: none; PADDING-LEFT: 7px; PADDING-BOTTOM: 30px; MARGIN: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 7px
}
DIV#shell DIV.tabContentActive {
	DISPLAY: block
}
DIV#shell DIV.tabContent OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 5px
}
DIV#shell DIV.tabContent OL LI {
	PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#tab1 {
	DISPLAY: block; OVERFLOW: hidden
}
#tab2 {
	DISPLAY: none; OVERFLOW: hidden
}
#tab3 {
	DISPLAY: none; OVERFLOW: hidden
}
#tab4 {
	DISPLAY: none; OVERFLOW: hidden
}
UNKNOWN {
	WIDTH: 328px
}
DIV.columnGroup A.more {
	DISPLAY: block; FONT-SIZE: 85%; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV.columnGroup DIV.columnGroupTools {
	FONT-SIZE: 90%; FLOAT: right; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV.columnGroup H4 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 86%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 7px; TEXT-TRANSFORM: uppercase; COLOR: black; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
UNKNOWN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 86%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 7px; TEXT-TRANSFORM: uppercase; COLOR: black; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#tabber1 {
	MARGIN-BOTTOM: 5px; BORDER-BOTTOM: #ccc 1px solid
}
#tabber1 A.more {
	FONT-SIZE: 93%! important; FLOAT: left; PADDING-BOTTOM: 8px
}
#tabber1 H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-TOP: 0px; FONT-FAMILY: arial, helvetica, sans-serif
}
#tabber1 DIV#tabsContainer {
	DISPLAY: block; LEFT: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 6px; POSITION: relative; TOP: 0px; HEIGHT: 14px
}
#tabber1 UL.tabs {
	FONT-SIZE: 10px; POSITION: absolute; TOP: 0px
}
#tabber1 UL.tabs LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; CURSOR: pointer; POSITION: relative; TOP: 0px
}
#tabber1 UL.tabs LI.selected {
	PADDING-BOTTOM: 3px
}
#tabber1 UL.tabs LI:unknown {
	PADDING-LEFT: 4px; BORDER-LEFT-WIDTH: 1px
}
#tabber1 UL.tabs LI A {
	COLOR: #333333
}
#tabber1 OL {
	PADDING-LEFT: 10px
}
 HTML #tabber1 .moduleAd {
	MARGIN-TOP: -25px; PADDING-BOTTOM: 5px; WIDTH: 329px
}
#tabber2 {
	MARGIN-BOTTOM: 5px; BORDER-BOTTOM: #ccc 1px solid
}
#tabber2 A.more {
	FONT-SIZE: 93%! important; FLOAT: left; PADDING-BOTTOM: 8px
}
#tabber2 H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 90%; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-TOP: 0px; FONT-FAMILY: arial, helvetica, sans-serif
}
#tabber2 DIV#tabsContainer {
	DISPLAY: block; LEFT: 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 6px; POSITION: relative; TOP: 0px; HEIGHT: 14px
}
#tabber2 UL.tabs {
	FONT-SIZE: 10px; POSITION: absolute; TOP: 0px
}
#tabber2 UL.tabs LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; CURSOR: pointer; POSITION: relative; TOP: 0px
}
#tabber2 UL.tabs LI.selected {
	PADDING-BOTTOM: 3px
}
#tabber2 UL.tabs LI:unknown {
	PADDING-LEFT: 4px; BORDER-LEFT-WIDTH: 1px
}
#tabber2 UL.tabs LI A {
	COLOR: #333333
}
#tabber2 OL {
	PADDING-LEFT: 10px
}
 HTML #tabber2 .moduleAd {
	MARGIN-TOP: -25px; PADDING-BOTTOM: 5px; WIDTH: 329px
}
DIV.bubble {
	MARGIN-BOTTOM: 18px; WIDTH: auto
}
DIV.bubble BLOCKQUOTE {
	BORDER-RIGHT: #c9c2c1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c9c2c1 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #c9c2c1 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #c9c2c1 1px solid; BACKGROUND-COLOR: #fff
}
DIV.bubble BLOCKQUOTE P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-TOP: 0px
}
DIV.bubble CITE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(http://i.dslr.net/css/sb/tip.gif) no-repeat 20px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 7px; FONT-STYLE: normal; POSITION: relative; TOP: 6px
}
DIV.bubble DIV.rounded {
	BORDER-RIGHT: #fff 3px solid; BORDER-TOP: #fff 3px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #fff 3px solid; BORDER-BOTTOM: #fff 3px solid; BACKGROUND-COLOR: #b7e0ff
}
DIV.bubble DIV.rounded BLOCKQUOTE {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
DIV.bubble DIV.rounded BLOCKQUOTE P {
	MARGIN: 0px 10px
}
DIV.bubble CITE.rounded {
	PADDING-LEFT: 15px; BACKGROUND: url(tip-rounded.gif) no-repeat 15px 0px; MARGIN: 0px; PADDING-TOP: 12px; POSITION: relative; TOP: 9px
}
DIV.bubble#pimped {
	FONT-SIZE: 0.9em
}
DIV.bubble#pimped DIV.rounded {
	BORDER-RIGHT: #fff 3px solid; BORDER-TOP: #fff 3px solid; BORDER-LEFT: #fff 3px solid; COLOR: #fff; BORDER-BOTTOM: #fff 3px solid; BACKGROUND-COLOR: #111
}
DIV.bubble#pimped CITE.rounded {
	BACKGROUND: url(tip-pimped.gif) no-repeat 15px 0px
}
.dp-highlighter {
	FONT-SIZE: 12px; MARGIN: 0.5em 6em 0.5em 0em; OVERFLOW: auto; WIDTH: 600px; COLOR: #ccc; PADDING-TOP: 1px; FONT-FAMILY: "Consolas", "Courier New", Courier, mono, serif; BACKGROUND-COLOR: black
}
.dp-highlighter .bar {
	PADDING-LEFT: 45px
}
.collapsed .bar {
	PADDING-LEFT: 0px
}
.nogutter .bar {
	PADDING-LEFT: 0px
}
.dp-highlighter OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1px 45px; COLOR: #5c5c5c; PADDING-TOP: 0px; LIST-STYLE-TYPE: decimal; BACKGROUND-COLOR: black
}
.nogutter OL {
	MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none! important
}
.dp-highlighter OL LI {
	PADDING-RIGHT: 3px! important; PADDING-LEFT: 10px! important; LIST-STYLE-POSITION: outside! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; BORDER-LEFT: #6ce26c 3px solid; COLOR: #5c5c5c; LINE-HEIGHT: 14px; PADDING-TOP: 0px! important; LIST-STYLE-TYPE: decimal; BACKGROUND-COLOR: black
}
.dp-highlighter .columns DIV {
	PADDING-RIGHT: 3px! important; PADDING-LEFT: 10px! important; LIST-STYLE-POSITION: outside! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; BORDER-LEFT: #6ce26c 3px solid; COLOR: #5c5c5c; LINE-HEIGHT: 14px; PADDING-TOP: 0px! important; LIST-STYLE-TYPE: decimal; BACKGROUND-COLOR: black
}
.nogutter OL LI {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.nogutter .columns DIV {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.dp-highlighter .columns {
	OVERFLOW: hidden; WIDTH: 100%; COLOR: gray; BACKGROUND-COLOR: #000
}
.dp-highlighter .columns DIV {
	PADDING-BOTTOM: 5px
}
.dp-highlighter OL LI.alt {
	BACKGROUND-COLOR: #00000f
}
.dp-highlighter OL LI SPAN {
	COLOR: white
}
.collapsed OL {
	MARGIN: 0px
}
.collapsed OL LI {
	DISPLAY: none
}
.printing {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.printing .tools {
	DISPLAY: none! important
}
.printing LI {
	DISPLAY: list-item! important
}
.dp-highlighter .tools {
	PADDING-RIGHT: 8px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; FONT: 9px Verdana, Geneva, Arial, Helvetica, sans-serif; BORDER-LEFT: #6ce26c 3px solid; COLOR: silver; PADDING-TOP: 2px; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: right
}
.nogutter .tools {
	BORDER-LEFT-WIDTH: 0px
}
.collapsed .tools {
	BORDER-BOTTOM-WIDTH: 0px
}
.dp-highlighter .tools A {
	FONT-SIZE: 9px; COLOR: #a0a0a0; MARGIN-RIGHT: 10px; TEXT-DECORATION: none
}
.dp-highlighter .tools A:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.dp-about {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
.dp-about TABLE {
	FONT-SIZE: 11px; WIDTH: 100%; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif! important; HEIGHT: 100%
}
.dp-about TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 10px
}
.dp-about .copy {
	BORDER-BOTTOM: #aca899 1px solid; HEIGHT: 95%
}
.dp-about .title {
	FONT-WEIGHT: bold; COLOR: red
}
.dp-about .para {
	MARGIN: 0px 0px 4px
}
.dp-about .footer {
	BORDER-TOP: #fff 1px solid; COLOR: #333; BACKGROUND-COLOR: #eceadb; TEXT-ALIGN: right
}
.dp-about .close {
	FONT-SIZE: 11px; WIDTH: 60px; COLOR: #333; FONT-FAMILY: Tahoma, Verdana, Arial, sans-serif! important; HEIGHT: 22px; BACKGROUND-COLOR: #eceadb
}
.dp-highlighter .comment {
	COLOR: #008200
}
.dp-highlighter .comments {
	COLOR: #008200
}
.dp-highlighter .string {
	COLOR: blue
}
.dp-highlighter .keyword {
	FONT-WEIGHT: bold; COLOR: #069
}
.dp-highlighter .preprocessor {
	COLOR: gray
}
.autocomplete_list  {
	FONT-SIZE: 12px
}
.autocomplete_list {
	BORDER-RIGHT: #888 1px solid; BORDER-TOP: #888 1px solid; DISPLAY: block; Z-INDEX: 999; BACKGROUND: #e8ffe8; BORDER-LEFT: #888 1px solid; BORDER-BOTTOM: #888 1px solid; TEXT-ALIGN: left
}
.autocomplete_list B {
	FONT-WEIGHT: bold
}
.autocomplete_list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.autocomplete_list OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.autocomplete_list LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.autocomplete_list .item {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; MARGIN: 0px; CURSOR: pointer; PADDING-TOP: 4px; TEXT-ALIGN: left
}
.autocomplete_list .current_item {
	BACKGROUND: yellow; COLOR: black
}
.autocomplete_list SPAN {
	PADDING-LEFT: 20px; FLOAT: right; COLOR: #4d4d4d
}
.autocomplete_text {
	BACKGROUND: url(http://i.dslr.net/css/autoc2/autocomplete_leftcap.gif) white no-repeat right 50%
}
.autocomplete_text_busy {
	BACKGROUND-IMAGE: url(http://i.dslr.net/css/autoc2/autocomplete_spinner.gif)
}
