<?xml version="1.0"?>
<configuration>
	<system.web>
		<profile>
			<properties>
				<group name="UserInformation">
					<add name="Name" type="System.String" 
               defaultValue="أدخل أسمك"/>
					<add name="BirthDate" type="System.String" 
               defaultValue="15-4-2006"/>
					<add name="Country" type="System.String"
               defaultValue="الشرق الأوسط"/>
					<add name="Nationality" type="System.String"
               defaultValue="مسلم"/>
					<add name="Notes" type="System.String"/>
					<add name="color" type="System.String"/>
				</group>
				<group name="Contacts">
					<add name="Address" type="System.String"/>
					<add name="Phone" type="System.String"/>
					<add name="Mobile" type="System.String"/>
				</group>
			</properties>
		</profile>
		<compilation debug="true"/>
		<authentication mode="Forms">
			<forms name=".ASPxAuthForArabTeam"
             loginUrl="login.aspx"
             defaultUrl="login.aspx"/>
		</authentication>
	</system.web>
</configuration>
