.cpp-pre {
	BORDER-RIGHT: #888888 2px solid; PADDING-RIGHT: 3px; BORDER-TOP: #888888 2px solid; PADDING-LEFT: 3px; FONT-SIZE: 9pt; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; OVERFLOW: auto; BORDER-LEFT: #888888 2px solid; WIDTH: 630px; COLOR: black; PADDING-TOP: 3px; BORDER-BOTTOM: #888888 2px solid; FONT-FAMILY: Courier New; HEIGHT: 250px
}
.cpp {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid; FONT-FAMILY: Arial, sans-serif; BACKGROUND-COLOR: #ffffbb
}
.cpp-blockdoc {
	COLOR: #00ff00; FONT-FAMILY: Arial, sans-serif
}
.cpp-linedoc {
	COLOR: #2eff57; FONT-FAMILY: Arial, sans-serif
}
.cpp-code {
	COLOR: #000000; FONT-FAMILY: Arial, sans-serif
}
.cpp-literal {
	COLOR: #8b0000; FONT-FAMILY: Courier New
}
.cpp-keyword {
	COLOR: blue; FONT-FAMILY: Courier New
}
.cpp-comment {
	COLOR: green; FONT-FAMILY: Courier New
}
.cpp-number {
	COLOR: purple; FONT-FAMILY: Courier New
}
.cpp-directive {
	COLOR: gray; FONT-FAMILY: Courier New
}
.java-literal {
	COLOR: #8b0000; FONT-FAMILY: Courier New
}
.java-keyword {
	COLOR: blue; FONT-FAMILY: Courier New
}
.java-comment {
	COLOR: gray; FONT-FAMILY: Courier New
}
.java-number {
	COLOR: purple; FONT-FAMILY: Courier New
}
.java-primitives {
	COLOR: #ff6699; FONT-FAMILY: Courier New
}
.java-storageclasses {
	COLOR: #ff6633; FONT-FAMILY: Courier New
}
.java-visibilitymodifier {
	FONT-WEIGHT: bold; COLOR: #00008b; FONT-FAMILY: Courier New
}
.vb-literal {
	COLOR: #8b0000; FONT-FAMILY: Courier New
}
.vb-keyword {
	COLOR: blue; FONT-FAMILY: Courier New
}
.vb-comment {
	COLOR: gray; FONT-FAMILY: Courier New
}
.vb-function {
	FONT-WEIGHT: bold; COLOR: #00008b; FONT-FAMILY: Courier New
}
.vb-method {
	COLOR: green; FONT-FAMILY: Courier New
}
.asm-keyword {
	COLOR: #ff6666; FONT-FAMILY: Courier New
}
.asm-function {
	FONT-WEIGHT: bold; COLOR: #00008b; FONT-FAMILY: Courier New
}
.asm-comment {
	COLOR: gray; FONT-FAMILY: Courier New
}
.asm-string {
	COLOR: #8b0000; FONT-FAMILY: Courier New
}
.asm-number {
	COLOR: purple; FONT-FAMILY: Courier New
}
.asm-register {
	COLOR: #cc6666; FONT-FAMILY: Courier New
}
