.dummy {
	FONT-SIZE: 10px
}
BODY {
	FONT-SIZE: 10pt; BACKGROUND: url(/pics/watermark.gif) #f0f0f0; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana,arial
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana,arial
}
OL {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana,arial
}
UL {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana,arial
}
DL {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana,arial
}
A:link {
	COLOR: #2e4b8f; TEXT-DECORATION: none
}
A:visited {
	COLOR: #2e4b8f; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #5086b4; TEXT-DECORATION: underline
}
#recentthreadslink {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#recentthreadslink:hover {
	COLOR: #cccccc; TEXT-DECORATION: underline
}
A.rss {
	BORDER-RIGHT: #887711 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffdd33 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffdd33 1px solid; WIDTH: 30px; COLOR: #0000ff; LINE-HEIGHT: 11px; PADDING-TOP: 0px; BORDER-BOTTOM: #442200 1px solid; HEIGHT: 14px; BACKGROUND-COLOR: #ffdd66; TEXT-DECORATION: none; font-face: Tahoma; 0: 
}
A.rss:link {
	BORDER-RIGHT: #887711 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffdd33 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffdd33 1px solid; WIDTH: 30px; COLOR: #0000ff; LINE-HEIGHT: 11px; PADDING-TOP: 0px; BORDER-BOTTOM: #442200 1px solid; HEIGHT: 14px; BACKGROUND-COLOR: #ffdd66; TEXT-DECORATION: none; font-face: Tahoma; 0: 
}
A.rss:visited {
	BORDER-RIGHT: #887711 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffdd33 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffdd33 1px solid; WIDTH: 30px; COLOR: #0000ff; LINE-HEIGHT: 11px; PADDING-TOP: 0px; BORDER-BOTTOM: #442200 1px solid; HEIGHT: 14px; BACKGROUND-COLOR: #ffdd66; TEXT-DECORATION: none; font-face: Tahoma; 0: 
}
A.rss:hover {
	BACKGROUND-COLOR: #ffeeaa; TEXT-DECORATION: none
}
.maintext {
	FONT-SIZE: 10pt
}
.maintext1 {
	FONT-SIZE: 15px
}
.maintext2 {
	FONT-SIZE: 16px
}
.maintext3 {
	FONT-SIZE: 18px
}
.maintext4 {
	FONT-SIZE: 20px
}
.maintext5 {
	FONT-SIZE: 19pt
}
.maintext6 {
	FONT-SIZE: 28px
}
.maintext-1 {
	FONT-SIZE: 12px
}
.maintext-2 {
	FONT-SIZE: 11px
}
.caption {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.maintext-3 {
	FONT-SIZE: 8px
}
.maintext-4 {
	FONT-SIZE: 10px
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: black
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: black
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black
}
.feathdr {
	FONT-WEIGHT: bold; BACKGROUND: #993333; COLOR: #ffffff
}
.feattitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
.featbody {
	FONT-SIZE: 11px; BACKGROUND: #1b1b3d
}
.boxheader {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #88bbee 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: #5b82b6; BORDER-LEFT: #88bbee 1px solid; COLOR: white; BORDER-BOTTOM: #336699 1px solid; FONT-FAMILY: verdana, arial
}
.boxbody {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 8pt; BACKGROUND: #eeeef3; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana, arial
}
.boxtext {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 8pt; BACKGROUND: #eeeef3; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana, arial
}
.headerlink {
	COLOR: white
}
.menuheadr {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #88bbee 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: url(/pics/themes/gdwhite_boxes/int_drk_bkg_bdy2.gif) #5b82b6; BORDER-LEFT: #88bbee 1px solid; COLOR: white; BORDER-BOTTOM: #336699 1px solid; FONT-FAMILY: verdana, arial
}
.boxheadr {
	BORDER-RIGHT: #336699 1px solid; BORDER-TOP: #88bbee 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: url(/pics/themes/gdwhite_boxes/int_drk_bkg_bdy2.gif) #5b82b6; BORDER-LEFT: #88bbee 1px solid; COLOR: white; BORDER-BOTTOM: #336699 1px solid; FONT-FAMILY: verdana, arial
}
.spotlighthdr {
	BORDER-RIGHT: #559955 1px solid; BORDER-TOP: #99dd99 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: url(/pics/spotlight_bkg.png) #64a364; BORDER-LEFT: #99dd99 1px solid; COLOR: white; BORDER-BOTTOM: #559955 1px solid; FONT-FAMILY: verdana, arial
}
.featbox {
	BORDER-RIGHT: #bbbbc3 1px solid; BORDER-TOP: #f3f3f9 1px solid; FONT-SIZE: 8pt; BACKGROUND: #eeeef3; BORDER-LEFT: #f3f3f9 1px solid; BORDER-BOTTOM: #bbbbc3 1px solid; FONT-FAMILY: verdana, arial
}
.featbody {
	BORDER-RIGHT: #bbbbc3 1px solid; BORDER-TOP: #f3f3f9 1px solid; FONT-SIZE: 8pt; BACKGROUND: #eeeef3; BORDER-LEFT: #f3f3f9 1px solid; BORDER-BOTTOM: #bbbbc3 1px solid; FONT-FAMILY: verdana, arial
}
.spotlightbody {
	BORDER-RIGHT: #bbbbc3 1px solid; BORDER-TOP: #f3f3f9 1px solid; FONT-SIZE: 8pt; BACKGROUND: #eeeef3; BORDER-LEFT: #f3f3f9 1px solid; BORDER-BOTTOM: #bbbbc3 1px solid; FONT-FAMILY: verdana, arial
}
.featmenu {
	BORDER-RIGHT: #bbbbc3 1px solid; BORDER-TOP: #f3f3f9 1px solid; FONT-SIZE: 8pt; BACKGROUND: #eeeef3; BORDER-LEFT: #f3f3f9 1px solid; BORDER-BOTTOM: #bbbbc3 1px solid; FONT-FAMILY: verdana, arial
}
.spotlightbox {
	BORDER-RIGHT: #88a388 1px solid; BORDER-TOP: #eef3ee 1px solid; FONT-SIZE: 8pt; BACKGROUND: #dde3dd; BORDER-LEFT: #eef3ee 1px solid; BORDER-BOTTOM: #88a388 1px solid; FONT-FAMILY: verdana, arial
}
.purplehdr {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #9b5952; FONT-FAMILY: verdana, arial
}
.tblhdr {
	BORDER-RIGHT: #232356 1px solid; BORDER-TOP: #434376 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #666699; BORDER-LEFT: #434376 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #232356 1px solid; FONT-FAMILY: Verdana, sans-serif
}
.articletitle {
	FONT-WEIGHT: bold; FONT-SIZE: 23px; COLOR: #9b5952; FONT-FAMILY: trebuchet MS, tahoma, verdana, arial
}
.articleauthor {
	FONT-SIZE: 13px; FONT-FAMILY: trebuchet MS, verdana
}
.articlehr {
	BORDER-TOP: 0px; MARGIN-BOTTOM: 15px; COLOR: #ffffff; BORDER-BOTTOM: #0b315d 1px solid; HEIGHT: 1px
}
.sectionhr {
	BORDER-TOP: 0px; MARGIN-BOTTOM: 15px; COLOR: #ffffff; BORDER-BOTTOM: #0b315d 1px solid; HEIGHT: 1px
}
.newshr {
	BORDER-TOP: 0px; COLOR: #ffffff; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 1px
}
.sectiontitle {
	FONT-WEIGHT: bold; FONT-SIZE: 25px; COLOR: #9b5952; FONT-FAMILY: tahoma, verdana, arial
}
.subsectiontitle {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #9b5952; FONT-FAMILY: verdana, arial
}
.threadmessage {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial
}
.threadtime {
	FONT-SIZE: 11px; COLOR: #444444
}
.submitbutton {
	
}
.textfield {
	FONT-SIZE: 11px; BACKGROUND: #000000; COLOR: #ffffff; FONT-FAMILY: Verdana, sans-serif
}
.inlinebox {
	BORDER-RIGHT: #e7e7ef 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #f3f3f7 1px solid; PADDING-LEFT: 10px; BACKGROUND: #eaeaea; PADDING-BOTTOM: 10px; BORDER-LEFT: #f3f3f7 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #e7e7ef 1px solid
}
.subtle {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666
}
.ZWNewsFmt01-Date {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-WEIGHT: bold; FONT-SIZE: 11pt; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_boxes/int_drk_bkg_bdy2.gif); PADDING-BOTTOM: 2px; BORDER-LEFT: medium none; COLOR: white; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; FONT-FAMILY: verdana, arial; POSITION: relative
}
.ZWNewsFmt01-Headline {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_boxes/int_hdbkg.png); PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 3px; BORDER-BOTTOM: #dddddd 1px solid; FONT-FAMILY: verdana, arial
}
.ZWNewsFmt01-Byline {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial
}
.ZWNewsFmt01-Story {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Tahoma, Arial
}
.BlockNews-Date {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11pt; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_boxes/int_drk_bkg_bdy2.gif); PADDING-BOTTOM: 2px; BORDER-LEFT: black 1px solid; COLOR: white; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: verdana, arial; POSITION: relative
}
.BlockNews-Headline {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_boxes/pics/int_hdbkg.png); PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px; BORDER-BOTTOM: #dddddd 1px solid; FONT-FAMILY: verdana, arial
}
.BlockNews-Byline {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, arial
}
.news-table {
	
}
.news-headline {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; COLOR: #9b5952; FONT-FAMILY: verdana, tahoma, arial
}
.news-byline {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial
}
.news-author {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial
}
.news-date {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial
}
.news-story {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial
}
.Newsbody {
	BORDER-RIGHT: #bbbbc3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f3f3f9 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; BORDER-LEFT: #f3f3f9 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #bbbbc3 1px solid; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #fafafa
}
.news_headline {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial
}
.news_comment {
	FONT-SIZE: 7pt; FONT-FAMILY: verdana, arial
}
.news_body {
	
}
.news_author {
	FONT-SIZE: 7pt; COLOR: #999999; FONT-FAMILY: verdana, arial
}
.news_date {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #4d96e3; FONT-FAMILY: verdana, arial
}
.jobs_count {
	FONT-SIZE: 7pt; FONT-FAMILY: verdana, arial
}
.jobs_jobtype {
	FONT-SIZE: 7pt; FONT-FAMILY: verdana, arial
}
.jobs_jobtypecount {
	FONT-SIZE: 7pt; COLOR: #999999; FONT-FAMILY: verdana, arial
}
.events_date {
	FONT-SIZE: 7pt; COLOR: #999999; FONT-FAMILY: verdana, arial
}
.stats_bold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #4d96e3; FONT-FAMILY: verdana, arial
}
.contextNav {
	POSITION: relative; TOP: -6px
}
.hdrTopLinks {
	FONT-SIZE: 10px; VERTICAL-ALIGN: top; WIDTH: 100%; COLOR: #002266; FONT-FAMILY: verdana, arial; TEXT-ALIGN: right
}
.hdrSearchBox {
	FONT-SIZE: 10px; VERTICAL-ALIGN: top; WIDTH: 100%; COLOR: #002266; FONT-FAMILY: verdana, arial; TEXT-ALIGN: right
}
.hdrbreadcrumbs {
	FONT-SIZE: 10px
}
.searchinput {
	FONT-SIZE: 10px; HEIGHT: 17px
}
.searchbutton {
	POSITION: relative; TOP: 2px
}
.topMenuHdr {
	TEXT-ALIGN: center
}
.topMenu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-FAMILY: Verdana; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.submenu {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; BORDER-LEFT: #aaaaaa 1px solid; BORDER-BOTTOM: #aaaaaa 1px solid; BACKGROUND-COLOR: #ffffff
}
.topItemNormal {
	BORDER-RIGHT: #848ca3 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; CURSOR: pointer; COLOR: #1d3a7f; TEXT-INDENT: 3px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.topItemNormal_Start {
	BORDER-RIGHT: #848ca3 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #848ca3 1px solid; CURSOR: pointer; COLOR: #1d3a7f; TEXT-INDENT: 2px; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.topItemOver {
	BORDER-RIGHT: #5064a6 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; CURSOR: pointer; COLOR: #ffffff; TEXT-INDENT: 3px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #0a7cc3; TEXT-DECORATION: none
}
.itemNormal {
	FONT-SIZE: 11px; CURSOR: pointer; COLOR: #ffffff; BORDER-BOTTOM: #6175b7 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #396094
}
.itemOver {
	FONT-SIZE: 11px; CURSOR: pointer; COLOR: #ffffff; BORDER-BOTTOM: #11aadd 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #0a7cc3
}
#lw_menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 2000; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#lw_menu LI {
	BORDER-RIGHT: #848ca3 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 12px; Z-INDEX: 2000; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 0px; WIDTH: 95px; COLOR: #1d3a7f; TEXT-INDENT: 3px; PADDING-TOP: 2px; FONT-FAMILY: Verdana; POSITION: relative; HEIGHT: 18px; TEXT-DECORATION: none
}
#lw_menu LI:hover {
	BORDER-RIGHT: #5064a6 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #5064a6 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #5064a6 1px solid; COLOR: #ffffff; PADDING-TOP: 1px; BORDER-BOTTOM: #004d7e 1px solid; BACKGROUND-COLOR: #0a7cc3
}
#lw_menu LI.over {
	BORDER-RIGHT: #5064a6 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #5064a6 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #5064a6 1px solid; COLOR: #ffffff; PADDING-TOP: 1px; BORDER-BOTTOM: #004d7e 1px solid; BACKGROUND-COLOR: #0a7cc3
}
#lw_menu LI UL {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; Z-INDEX: 2000; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px -2px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 1em; voice-family: inherit
}
UNKNOWN {
	LEFT: auto; MARGIN: 3px 0px 0px -2px; TOP: auto
}
#lw_menu LI:hover UL {
	DISPLAY: block
}
#lw_menu LI.over UL {
	DISPLAY: block
}
#lw_menu LI UL LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: none; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; WIDTH: 160px; PADDING-TOP: 2px; BORDER-BOTTOM: #6175b7 1px solid; BACKGROUND-COLOR: #396094
}
UNKNOWN {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
#lw_menu LI UL LI:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#lw_menu LI UL LI.over {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
#lw_menu LI UL LI A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.roundedBox {
	LEFT: 0px; WIDTH: 100%; POSITION: relative; TOP: 0px
}
.boxCorners {
	BACKGROUND-IMAGE: url(/pics/themes/gdwhite_boxes/int_hdbkg.png); TEXT-ALIGN: right
}
.boxCorners_MM {
	BACKGROUND-IMAGE: url(/pics/themes/gdwhite_boxes/int_drk_bkg_hdr.gif); TEXT-ALIGN: right
}
.boxLeft {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
.boxContentHeadr {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_boxes/int_hdbkg_wrt.png); PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; COLOR: #000000; TEXT-INDENT: 8px; BORDER-BOTTOM: #dddddd 1px solid; FONT-FAMILY: verdana, arial
}
.boxCImgR {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
.boxCImgL {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
.boxContentHeadr_MM {
	BORDER-RIGHT: white 3px solid; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_boxes/int_drk_bkg_bdy2.gif); BORDER-BOTTOM: white 1px solid; HEIGHT: 21px
}
.boxContentHeadr_Title {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #ffffff; TEXT-INDENT: 8px; PADDING-TOP: 3px; FONT-FAMILY: verdana, arial
}
.boxContent_MM {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #eeeeee 1px solid; PADDING-LEFT: 7px; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; VERTICAL-ALIGN: top; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; PADDING-TOP: 7px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #eeeef3
}
.boxContent {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #eeeeee 1px solid; PADDING-LEFT: 7px; FONT-SIZE: 11px; PADDING-BOTTOM: 7px; VERTICAL-ALIGN: top; BORDER-LEFT: #cccccc 1px solid; COLOR: #000000; PADDING-TOP: 7px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #eeeef3
}
#CMS_Features {
	LEFT: 0px; WIDTH: 99%; POSITION: relative; TOP: 0px
}
#CMS_Resources {
	LEFT: 0px; WIDTH: 99%; POSITION: relative; TOP: 0px
}
#CMS_Community {
	LEFT: 0px; WIDTH: 99%; POSITION: relative; TOP: 0px
}
#CMS_Members {
	LEFT: 0px; WIDTH: 99%; POSITION: relative; TOP: 0px
}
.CMS_Spacer {
	FONT-SIZE: 5px
}
#CMS_LogoAlt {
	DISPLAY: none
}
.qotd {
	MARGIN-TOP: 15px; FONT-SIZE: 11px; FLOAT: left; MARGIN-BOTTOM: 15px; WIDTH: 100%; FONT-FAMILY: verdana, arial; POSITION: static; TEXT-ALIGN: center
}
.leftcolumn {
	MARGIN-TOP: 38px; FLOAT: left; MARGIN-LEFT: 5px; WIDTH: 135px
}
#centercolumn {
	MARGIN-RIGHT: 183px; FONT-FAMILY: inherit
}
#centercolumn_2col {
	MARGIN-LEFT: 138px; FONT-FAMILY: inherit
}
.centerpadding {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 0px; WIDTH: 99%; MARGIN-RIGHT: 0px; PADDING-TOP: 5px
}
#rightcolumn {
	MARGIN-TOP: 5px; FLOAT: right; WIDTH: 180px
}
 HTML #rightcolumn {
	MARGIN-TOP: 5px; WIDTH: 180px
}
UNKNOWN {
	
}
.wrapper {
	POSITION: static
}
.singlebox {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; POSITION: static
}
UNKNOWN {
	WIDTH: 100%
}
.doublebox {
	DISPLAY: block; MARGIN: 0px; WIDTH: 48%; POSITION: static
}
UNKNOWN {
	WIDTH: 100%
}
.triplebox {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 32.5%; MARGIN-RIGHT: 4px; PADDING-TOP: 0px; POSITION: static
}
UNKNOWN {
	WIDTH: 33.3%
}
#CM_Wrapper {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; POSITION: relative; HEIGHT: 99px
}
#CM_Logo {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_header/hdrmain-new4.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 325px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 99px
}
#CM_AdSpace {
	PADDING-RIGHT: 4px; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_header/default8_02.gif); VERTICAL-ALIGN: middle; WIDTH: 100%; HEIGHT: 73px; TEXT-ALIGN: right
}
#CM_AdSpaceTrailer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_header/default8_03.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 4px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 73px
}
#CM_AdContainer {
	RIGHT: 2px; POSITION: relative; TOP: 0px
}
#CM_MidSpace {
	MARGIN-TOP: 0px; FONT-SIZE: 1px; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_header/default8_05.gif); MARGIN-BOTTOM: 0px; HEIGHT: 3px
}
#CM_MidSpaceTrailer {
	BACKGROUND-IMAGE: url(/pics/themes/gdwhite_header/default8_06.gif); WIDTH: 4px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 3px
}
#CM_NavSpace {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_header/default8_08.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 22px
}
#CM_NavSpaceTrailer {
	BACKGROUND-IMAGE: url(/pics/themes/gdwhite_header/default8_09.gif); WIDTH: 4px; HEIGHT: 22px
}
#CM_ExOptA {
	FONT-SIZE: 1px; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_header/default8_11.gif); HEIGHT: 4px
}
#CM_ExOptB {
	FONT-SIZE: 1px; BACKGROUND-IMAGE: url(/pics/themes/gdwhite_header/default8_12.gif); WIDTH: 4px; HEIGHT: 4px
}
#footer {
	FONT-SIZE: 11px; COLOR: black; FONT-FAMILY: verdana, arial; TEXT-ALIGN: center
}
.img_search_go {
	BACKGROUND: url(/pics/hdr3srchbtn.gif) no-repeat left center; WIDTH: 38px; HEIGHT: 17px
}
.img_login {
	BACKGROUND: url(/community/forums/themes/theme1/top_login.gif) no-repeat left center; WIDTH: 49px; HEIGHT: 25px
}
.img_logout {
	BACKGROUND: url(/community/forums/themes/theme1/top_logout.gif) no-repeat left center; WIDTH: 57px; HEIGHT: 25px
}
.img_register {
	BACKGROUND: url(/community/forums/themes/theme1/top_register.gif) no-repeat left center; WIDTH: 64px; HEIGHT: 25px
}
.img_panel {
	BACKGROUND: url(/community/forums/themes/theme1/top_cp.gif) no-repeat left center; WIDTH: 90px; HEIGHT: 25px
}
.img_bookmarks {
	BACKGROUND: url(/community/forums/themes/theme1/top_bookmarks.gif) no-repeat left center; WIDTH: 75px; HEIGHT: 25px
}
.img_whosonline {
	BACKGROUND: url(/community/forums/themes/theme1/top_whosonline.gif) no-repeat left center; WIDTH: 88px; HEIGHT: 25px
}
.img_activetopics {
	BACKGROUND: url(/community/forums/themes/theme1/top_active.gif) no-repeat left center; WIDTH: 76px; HEIGHT: 25px
}
.img_stats {
	BACKGROUND: url(/community/forums/themes/theme1/top_stats.gif) no-repeat left center; WIDTH: 52px; HEIGHT: 25px
}
.img_faq {
	BACKGROUND: url(/community/forums/themes/theme1/top_faq.gif) no-repeat left center; WIDTH: 43px; HEIGHT: 25px
}
.img_search {
	BACKGROUND: url(/community/forums/themes/theme1/top_search.gif) no-repeat left center; WIDTH: 59px; HEIGHT: 25px
}
.img_on {
	BACKGROUND: url(/community/forums/themes/theme1/on.gif) no-repeat left center; WIDTH: 21px; HEIGHT: 21px
}
.img_off {
	BACKGROUND: url(/community/forums/themes/theme1/off.gif) no-repeat left center; WIDTH: 21px; HEIGHT: 21px
}
.img_topics_newposts {
	BACKGROUND: url(/community/forums/themes/theme1/new_t.gif) no-repeat left center; WIDTH: 13px; HEIGHT: 16px
}
.img_topics_nonewposts {
	BACKGROUND: url(/community/forums/themes/theme1/old_t.gif) no-repeat left center; WIDTH: 13px; HEIGHT: 16px
}
.img_topics_closed {
	BACKGROUND: url(/community/forums/themes/theme1/no_t.gif) no-repeat left center; WIDTH: 13px; HEIGHT: 16px
}
.img_topics_retired {
	BACKGROUND: url(/community/forums/themes/theme1/tombstone.gif) no-repeat left center; WIDTH: 13px; HEIGHT: 16px
}
.img_post_newthread {
	BACKGROUND: url(/community/forums/themes/theme1/post.gif) no-repeat left center; WIDTH: 110px; HEIGHT: 32px
}
.img_post_postreply {
	BACKGROUND: url(/community/forums/themes/theme1/reply.gif) no-repeat left center; WIDTH: 110px; HEIGHT: 32px
}
.img_post_edit {
	BACKGROUND: url(/community/forums/themes/theme1/edit.gif) no-repeat left center; WIDTH: 40px; HEIGHT: 17px
}
.img_post_quote {
	BACKGROUND: url(/community/forums/themes/theme1/quote.gif) no-repeat left center; WIDTH: 52px; HEIGHT: 17px
}
.img_post_closed {
	BACKGROUND: url(/community/forums/themes/theme1/closed.gif) no-repeat left center; WIDTH: 110px; HEIGHT: 32px
}
.img_post_pm {
	BACKGROUND: url(/community/forums/themes/theme1/butn_pm.gif) no-repeat left center; WIDTH: 27px; HEIGHT: 17px
}
.img_post_profile {
	BACKGROUND: url(/community/forums/themes/theme1/butn_profile.gif) no-repeat left center; WIDTH: 46px; HEIGHT: 17px
}
.img_post_showcase {
	BACKGROUND: url(/community/forums/themes/theme1/butn_showcase.gif) no-repeat left center; WIDTH: 60px; HEIGHT: 17px
}
.img_post_journal {
	BACKGROUND: url(/community/forums/themes/theme1/butn_journal.gif) no-repeat left center; WIDTH: 46px; HEIGHT: 17px
}
.img_post_email {
	BACKGROUND: url(/community/forums/themes/theme1/butn_email.gif) no-repeat left center; WIDTH: 46px; HEIGHT: 17px
}
.img_post_prevarrow {
	BACKGROUND: url(/community/forums/themes/theme1/prev.gif) no-repeat left center; WIDTH: 6px; HEIGHT: 9px
}
.img_post_nextarrow {
	BACKGROUND: url(/community/forums/themes/theme1/next.gif) no-repeat left center; WIDTH: 6px; HEIGHT: 9px
}
.img {
	BORDER-RIGHT: #000 0px solid; BORDER-TOP: #000 0px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #000 0px solid; BORDER-BOTTOM: #000 0px solid
}
.smallfont {
	FONT-SIZE: 10px
}
.mediumfont {
	FONT-SIZE: 11px
}
.largefont {
	FONT-SIZE: 18px
}
.regularfont {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.path {
	FONT-SIZE: 10px; COLOR: silver
}
.smallfontwhite {
	FONT-SIZE: 10px; COLOR: #cccccc
}
.head {
	BACKGROUND: #1476b5; COLOR: white
}
.headsmall {
	BORDER-RIGHT: #105785 1px solid; BORDER-TOP: #72c8ff 1px solid; FONT-SIZE: 10px; BACKGROUND: #1476b5; BORDER-LEFT: #72c8ff 1px solid; COLOR: white; BORDER-BOTTOM: #105785 1px solid; FONT-FAMILY: verdana, sans-serif
}
.headsmalllink {
	COLOR: white
}
.category {
	BORDER-RIGHT: #035180 1px solid; BORDER-TOP: #46a4d1 1px solid; BACKGROUND: #1e87c7; BORDER-LEFT: #46a4d1 1px solid; COLOR: white; BORDER-BOTTOM: #035180 1px solid
}
.postcell {
	FONT-SIZE: 12px; BACKGROUND: #0071bc; COLOR: white
}
.altforumcell {
	BORDER-RIGHT: #d7d7df 1px solid; BORDER-TOP: #fcfcff 1px solid; BACKGROUND: #e4e4e4; BORDER-LEFT: #fcfcff 1px solid; BORDER-BOTTOM: #d7d7df 1px solid
}
.forumcell {
	BORDER-RIGHT: #d7d7df 1px solid; BORDER-TOP: #fafafd 1px solid; BACKGROUND: #eaeaea; BORDER-LEFT: #fafafd 1px solid; BORDER-BOTTOM: #d7d7df 1px solid
}
.announcecell {
	BORDER-RIGHT: #8d9fb8 1px solid; BORDER-TOP: #e2eaf4 1px solid; BACKGROUND: #d3dee8; OVERFLOW: auto; BORDER-LEFT: #e2eaf4 1px solid; COLOR: black; BORDER-BOTTOM: #8d9fb8 1px solid
}
.post_trailer {
	BORDER-RIGHT: #606368 1px solid; BORDER-TOP: #eff6ff 1px solid; FONT-SIZE: 10px; BACKGROUND: #c4cdd8; BORDER-LEFT: #eff6ff 1px solid; BORDER-BOTTOM: #606368 1px solid
}
.post_dateline {
	BORDER-RIGHT: #606368 1px solid; BORDER-TOP: #eff6ff 1px solid; FONT-SIZE: 10px; BACKGROUND: #c4cdd8; BORDER-LEFT: #eff6ff 1px solid; BORDER-BOTTOM: #606368 1px solid
}
.post_author {
	BORDER-RIGHT: #646a72 1px solid; BORDER-TOP: #eff6ff 1px solid; FONT-SIZE: 11px; BACKGROUND: #c0cade; VERTICAL-ALIGN: middle; BORDER-LEFT: #eff6ff 1px solid; BORDER-BOTTOM: #646a72 1px solid
}
.post_body {
	BORDER-RIGHT: #44444c 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d9d9d9 2px solid; PADDING-LEFT: 5px; BACKGROUND: #efefef; PADDING-BOTTOM: 5px; BORDER-LEFT: #e0e0e4 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #44444c 1px solid
}
.post_separator {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #2e4461 1px solid; FONT-SIZE: 10px; BACKGROUND: #576982; BORDER-LEFT: #ffffff 1px solid; WIDTH: 95%; BORDER-BOTTOM: #b9c6d7 1px solid
}
.post_body A:link {
	COLOR: #3054ae; TEXT-DECORATION: underline
}
.post_body A:visited {
	COLOR: #3054ae; TEXT-DECORATION: underline
}
.post_body A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.post_body A:hover {
	COLOR: #5086b4; TEXT-DECORATION: underline
}
.threadhighlight {
	BACKGROUND: #003366
}
.time {
	COLOR: #351465
}
.staff {
	COLOR: #009500
}
.moderator {
	COLOR: #cb021a
}
.premium {
	FONT-WEIGHT: bold; COLOR: #b57438
}
.premiumusernames {
	FONT-WEIGHT: bold; COLOR: #b57438
}
.suspended {
	COLOR: pink; TEXT-DECORATION: line-through
}
.banned {
	COLOR: red; TEXT-DECORATION: line-through
}
.quote {
	BORDER-RIGHT: #1b1d42 1px solid; BORDER-TOP: #5b5d82 1px solid; FONT-SIZE: 11px; BACKGROUND: #e6e6da; BORDER-LEFT: #5b5d82 1px solid; BORDER-BOTTOM: #1b1d42 1px solid
}
.quote .quote {
	BORDER-RIGHT: #1b1d42 1px solid; BORDER-TOP: #484570 1px solid; FONT-SIZE: 11px; BACKGROUND: #dadace; BORDER-LEFT: #484570 1px solid; BORDER-BOTTOM: #1b1d42 1px solid
}
.quote .quote .quote {
	BORDER-RIGHT: #242146 1px solid; BORDER-TOP: #444166 1px solid; FONT-SIZE: 11px; BACKGROUND: #d0d0d3; BORDER-LEFT: #444166 1px solid; BORDER-BOTTOM: #242146 1px solid
}
.quote .quote .quote .quote {
	BORDER-RIGHT: #1b1d42 1px solid; BORDER-TOP: #5b5d82 1px solid; FONT-SIZE: 11px; BACKGROUND: #c4c4b8; BORDER-LEFT: #5b5d82 1px solid; BORDER-BOTTOM: #1b1d42 1px solid
}
.forumrules {
	BORDER-RIGHT: #555555 2px solid; BORDER-TOP: #555555 2px solid; FONT-SIZE: 10px; BACKGROUND: #f3eeee; BORDER-LEFT: #555555 2px solid; COLOR: black; BORDER-BOTTOM: #555555 2px solid; FONT-FAMILY: verdana, sans-serif
}
.source {
	BORDER-RIGHT: 2px solid; PADDING-RIGHT: 3px; BORDER-TOP: 2px solid; PADDING-LEFT: 3px; FONT-SIZE: 9pt; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; OVERFLOW: auto; BORDER-LEFT: 2px solid; WIDTH: 95%; COLOR: black; PADDING-TOP: 3px; BORDER-BOTTOM: 2px solid; FONT-FAMILY: Courier New; max-height: 250px
}
.editedby {
	FONT-SIZE: 10px; COLOR: #333333
}
.register_required {
	COLOR: red
}
.code {
	FONT-SIZE: 10pt; COLOR: #477280; FONT-FAMILY: Courier New
}
PRE.code {
	BORDER-RIGHT: #5b5d82 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #5b5d82 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 10pt; BACKGROUND: #f7f7eb; PADDING-BOTTOM: 8px; BORDER-LEFT: #5b5d82 1px solid; COLOR: #477280; PADDING-TOP: 8px; BORDER-BOTTOM: #5b5d82 1px solid; FONT-FAMILY: Courier New
}
PRE.vbcode {
	FONT-SIZE: 11px; COLOR: #add8e6; FONT-FAMILY: Courier New
}
.vbcode {
	FONT-SIZE: 11px; COLOR: #add8e6; FONT-FAMILY: Courier New
}
.codecomment {
	FONT-SIZE: 10pt; COLOR: #9999ff; FONT-FAMILY: Courier New
}
.calendarhead {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: #1476b5; PADDING-BOTTOM: 6px; COLOR: white; PADDING-TOP: 6px; FONT-FAMILY: tahoma,verdana, arial, sans-serif
}
.calendar {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: #eaeaea; PADDING-BOTTOM: 4px; COLOR: #707070; PADDING-TOP: 4px; FONT-FAMILY: verdana, arial, sans-serif
}
.calendarsel {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #0071bc; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; FONT-FAMILY: verdana, arial, sans-serif
}
.calendarlink {
	COLOR: white
}
UL#tabnav {
	PADDING-BOTTOM: 24px; MARGIN: 0px; FONT: bold 11px verdana, arial, sans-serif; BORDER-BOTTOM: #333399 1px solid; LIST-STYLE-TYPE: none
}
UL#tabnav LI {
	BORDER-RIGHT: #3333ad 1px solid; BORDER-TOP: #3333ad 1px solid; FLOAT: left; MARGIN: 2px 2px 0px; BORDER-LEFT: #3333ad 1px solid; BORDER-BOTTOM: #3333ad 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: #20205c
}
BODY#tab1 LI.tab1 {
	BORDER-BOTTOM: #333399 1px solid; BACKGROUND-COLOR: #333399
}
BODY#tab2 LI.tab2 {
	BORDER-BOTTOM: #333399 1px solid; BACKGROUND-COLOR: #333399
}
BODY#tab3 LI.tab3 {
	BORDER-BOTTOM: #333399 1px solid; BACKGROUND-COLOR: #333399
}
BODY#tab4 LI.tab4 {
	BORDER-BOTTOM: #333399 1px solid; BACKGROUND-COLOR: #333399
}
BODY#tab1 LI.tab1 A {
	COLOR: white
}
BODY#tab2 LI.tab2 A {
	COLOR: white
}
BODY#tab3 LI.tab3 A {
	COLOR: white
}
BODY#tab4 LI.tab4 A {
	COLOR: white
}
#tabnav A {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 4px; COLOR: #a09dc3; PADDING-TOP: 4px; TEXT-DECORATION: none
}
#tabnav A:hover {
	BACKGROUND: #5555dd; COLOR: white
}
.journal_archive_expandedheading {
	TEXT-DECORATION: underline
}
.journal_archive_entrydate {
	COLOR: #999999
}
