.bSizeSmall .t2i {
	PADDING-RIGHT: 1px; MARGIN: 3px auto 0px
}
.bSizeSmall A {
	DISPLAY: block
}
.bSizeSmall A .t2i {
	POSITION: relative; TOP: 4px
}
.IE .bSizeSmall A .t2i {
	MARGIN-TOP: 4px; POSITION: static
}
.IE7 .bSizeSmall A .t2i {
	MARGIN-TOP: 4px; POSITION: static
}
.Opera .bSizeSmall BUTTON .t2i {
	TOP: 3px
}
.Safari .bSizeSmall BUTTON .t2i {
	MARGIN-TOP: 4px
}
.bSizeSmall A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: no-repeat left top; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 54px; HEIGHT: 20px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.bSizeSmall BUTTON {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: no-repeat left top; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 54px; HEIGHT: 20px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.bXPColorSmallRed A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/red.png)
}
.bXPColorSmallRed BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/red.png)
}
.IE .bXPColorSmallRed A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorSmallRed BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bXPColorSmallOrange A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/orange.png)
}
.bXPColorSmallOrange BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/orange.png)
}
.IE .bXPColorSmallOrange A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/orange.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorSmallOrange BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/orange.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bXPColorSmallGreen A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/green.png)
}
.bXPColorSmallGreen BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/green.png)
}
.IE .bXPColorSmallGreen A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorSmallGreen BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bXPColorSmallDefault A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/blue.png)
}
.bXPColorSmallDefault BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/blue.png)
}
.bXPColorSmallBlue A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/blue.png)
}
.bXPColorSmallBlue BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/blue.png)
}
.IE .bXPColorSmallDefault A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorSmallDefault BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorSmallBlue A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorSmallBlue BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bXPColorSmallGray A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/gray.png)
}
.bXPColorSmallGray BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/gray.png)
}
.IE .bXPColorSmallGray A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorSmallGray BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bSizeMedium A .t2i {
	LEFT: 12px; MARGIN: 0px; POSITION: relative; TOP: 5px
}
.bSizeMedium BUTTON {
	VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
.bSizeMedium BUTTON .t2i {
	LEFT: 10px; POSITION: relative; TOP: -2px
}
.IE .bSizeMedium BUTTON .t2i {
	LEFT: 12px; TOP: -2px
}
.IE7 .bSizeMedium BUTTON .t2i {
	LEFT: 12px; TOP: -2px
}
.Opera .bSizeMedium BUTTON .t2i {
	MARGIN-TOP: 5px; MARGIN-LEFT: 13px; POSITION: static
}
.Safari .bSizeMedium BUTTON .t2i {
	LEFT: 13px; TOP: 5px
}
.bSizeMedium A {
	DISPLAY: block
}
.bSizeMedium A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: no-repeat left top; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 164px; HEIGHT: 31px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.bSizeMedium BUTTON {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: no-repeat left top; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 164px; HEIGHT: 31px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.bXPColorMediumRed A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bXPColorMediumRed BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.IE .bXPColorMediumRed A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorMediumRed BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bXPColorMediumDefault A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/orange.png)
}
.bXPColorMediumDefault BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/orange.png)
}
.bXPColorMediumOrange A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/orange.png)
}
.bXPColorMediumOrange BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/orange.png)
}
.IE .bXPColorMediumDefault A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/orange.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorMediumDefault BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/orange.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorMediumOrange A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/orange.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorMediumOrange BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/orange.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bXPColorMediumGreen A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bXPColorMediumGreen BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.IE .bXPColorMediumGreen A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorMediumGreen BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bXPColorMediumBlue A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bXPColorMediumBlue BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.IE .bXPColorMediumBlue A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorMediumBlue BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bXPColorMediumGray A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/gray.png)
}
.bXPColorMediumGray BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/gray.png)
}
.IE .bXPColorMediumGray A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorMediumGray BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bSizeLarge .t2i {
	LEFT: 15px; MARGIN: 0px; POSITION: relative; TOP: 5px
}
.bSizeLarge A {
	DISPLAY: block
}
.bSizeLarge BUTTON {
	VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
.Firefox .bSizeLarge BUTTON .t2i {
	LEFT: 12px; TOP: -3px
}
.IE .bSizeLarge BUTTON .t2i {
	TOP: -2px
}
.IE7 .bSizeLarge BUTTON .t2i {
	TOP: -2px
}
.bSizeLarge A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: no-repeat left top; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 191px; HEIGHT: 35px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.bSizeLarge BUTTON {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: no-repeat left top; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 191px; HEIGHT: 35px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.bXPColorLargeRed A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/red.png)
}
.bXPColorLargeRed BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/red.png)
}
.IE .bXPColorLargeRed A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorLargeRed BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bXPColorLargeDefault A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/orange.png)
}
.bXPColorLargeDefault BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/orange.png)
}
.bXPColorLargeOrange A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/orange.png)
}
.bXPColorLargeOrange BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/orange.png)
}
.IE .bXPColorLargeDefault A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/orange.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorLargeDefault BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/orange.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorLargeOrange A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/orange.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorLargeOrange BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/orange.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bXPColorLargeGreen A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/green.png)
}
.bXPColorLargeGreen BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/green.png)
}
.IE .bXPColorLargeGreen A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorLargeGreen BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bXPColorLargeBlue A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/blue.png)
}
.bXPColorLargeBlue BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/blue.png)
}
.IE .bXPColorLargeBlue A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorLargeBlue BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bXPColorLargeGray A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/gray.png)
}
.bXPColorLargeGray BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/gray.png)
}
.IE .bXPColorLargeGray A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bXPColorLargeGray BUTTON {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
BUTTON.bTextFINDZONEAREA {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/bluelong.png); WIDTH: 96px
}
.IE BUTTON.bTextFINDZONEAREA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/bluelong.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
BUTTON.bTextFINDSOLUTIONS {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/bluelong.png); WIDTH: 96px
}
.IE BUTTON.bTextFINDSOLUTIONS {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/bluelong.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bSizeMedium A.bTextLISTALL {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/red.png)
}
.bSizeSmall BUTTON.bTextLISTALL {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/red.png)
}
.IE .bSizeSmall A.bTextLISTALL {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeSmall BUTTON.bTextLISTALL {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bSizeSmall A.bTextGo {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/green.png)
}
.bSizeSmall BUTTON.bTextGo {
	BACKGROUND-IMAGE: url(/xp/images/buttons/small/green.png)
}
.IE .bSizeSmall A.bTextGo {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeSmall BUTTON.bTextGo {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/small/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bSizeMedium A.bTextCONTINUE {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextCONTINUE {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextRelatedSolutions {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextRelatedSolutions {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextUpdate {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextUpdate {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextLogin {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextLogin {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextReverttoEEFree {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextReverttoEEFree {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextUpdateVIPaccess {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextUpdateVIPaccess {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextSubmitPoints {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextSubmitPoints {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextUnaccept {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextUnaccept {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextEditQuestion {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextEditQuestion {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextAdd {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextAdd {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextAcceptAnswer {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextAcceptAnswer {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextViewQuestion {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextViewQuestion {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextSendNotification {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextSendNotification {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextContactAdmin {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextContactAdmin {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextContactZoneAdvisor {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextContactZoneAdvisor {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextContactContributor {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextContactContributor {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextSearch {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextSearch {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextSUBMIT {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextSUBMIT {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextReadMore {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextReadMore {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextFIND {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextFIND {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextSignMeUp {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextSignMeUp {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextEditProfile {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextEditProfile {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextAddNewAccount {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextAddNewAccount {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextUpdateProfile {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextUpdateProfile {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextUpdateandCharge {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextUpdateandCharge {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextClose {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextClose {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextAnswerQuestions {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextAnswerQuestions {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextNextStep {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextNextStep {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextCreateCertificate {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextCreateCertificate {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextUpdatewithPayPal {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextUpdatewithPayPal {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextContinue {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextContinue {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextMemberProfile {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextMemberProfile {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextHomepage {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextHomepage {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextEditAccount {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextEditAccount {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextAddLicenses {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextAddLicenses {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextAddLicense {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextAddLicense {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextEditLicense {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextEditLicense {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextActivate {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextActivate {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextUpgradeNow {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextUpgradeNow {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextCorporateAdmin {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextCorporateAdmin {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextSubmitQuestion {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextSubmitQuestion {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextAddNewCreditCard {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextAddNewCreditCard {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextUpdateInformation {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextUpdateInformation {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium A.bTextSendEmail {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.bSizeMedium BUTTON.bTextSendEmail {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/blue.png)
}
.IE .bSizeMedium A.bTextCONTINUE {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextCONTINUE {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextCreateFilter {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextCreateFilter {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextSaveFilter {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextSaveFilter {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextRelatedSolutions {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextRelatedSolutions {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextUpdate {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextUpdate {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextLogin {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextLogin {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextReverttoEEFree {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextReverttoEEFree {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextUpdateVIPaccess {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextUpdateVIPaccess {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextSubmitPoints {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextSubmitPoints {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextUnaccept {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextUnaccept {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextEditQuestion {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextEditQuestion {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextAdd {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextAdd {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextAcceptAnswer {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextAcceptAnswer {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextUpdateMigrations {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextUpdateMigrations {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextCreateMigration {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextCreateMigration {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextViewQuestion {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextViewQuestion {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextSendNotification {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextSendNotification {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextContactAdmin {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextContactAdmin {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextContactZoneAdvisor {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextContactZoneAdvisor {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextContactContributor {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextContactContributor {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextSearch {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextSearch {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextSUBMIT {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextSUBMIT {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextReadMore {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextReadMore {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextFIND {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextFIND {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextSignMeUp {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextSignMeUp {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextEditProfile {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextEditProfile {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextAddNewAccount {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextAddNewAccount {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextUpdateProfile {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextUpdateProfile {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextUpdateandCharge {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextUpdateandCharge {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextClose {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextClose {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextAnswerQuestions {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextAnswerQuestions {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextNextStep {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextNextStep {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextCreateCertificate {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextCreateCertificate {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextUpdatewithPayPal {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextUpdatewithPayPal {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextContinue {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextContinue {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextMemberProfile {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextMemberProfile {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextHomepage {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextHomepage {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextEditAccount {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextEditAccount {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextAddLicenses {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextAddLicenses {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextAddLicense {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextAddLicense {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextEditLicense {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextEditLicense {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextActivate {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextActivate {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextUpgradeNow {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextUpgradeNow {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextCorporateAdmin {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextCorporateAdmin {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextSubmitQuestion {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextSubmitQuestion {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextAddNewCreditCard {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextAddNewCreditCard {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextUpdateInformation {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextUpdateInformation {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextSendEmail {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextSendEmail {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bSizeMedium A.bTextBecomeaMember {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium BUTTON.bTextBecomeaMember {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium A.bTextAskaNewQuestion {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium BUTTON.bTextAskaNewQuestion {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium A.bTextBecomeaMember {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium BUTTON.bTextBecomeaMember {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium A.bTextViewMoreSolutions {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium BUTTON.bTextMoreViewSolutions {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium A.bTextViewSolution {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium BUTTON.bTextViewSolution {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium A.bTextSubmit {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium BUTTON.bTextSubmit {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium A.bTextGotoKnowledgebase {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium BUTTON.bTextGotoKnowledgebase {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium A.bTextViewMigrations {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium BUTTON.bTextViewMigrations {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium A.bTextAssignContributor {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium BUTTON.bTextAssignContributor {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium A.bTextRanksDefined {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium BUTTON.bTextRanksDefined {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium A.bTextCreateFilter {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.bSizeMedium BUTTON.bTextCreateFilter {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.IE .bSizeMedium A.bTextBecomeaMember {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextBecomeaMember {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextAskaNewQuestion {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextAskaNewQuestion {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextBecomeaMember {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextBecomeaMember {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextViewMoreSolutions {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextViewMoreSolutions {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextViewSolution {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextViewSolution {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextSubmit {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextSubmit {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextGotoKnowledgebase {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextGotoKnowledgebase {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextViewMigrations {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextViewMigrations {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextAssignContributor {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextAssignContributor {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextRanksDefined {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextRanksDefined {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextCreateFilter {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextCreateFilter {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bSizeMedium A.bTextClearAll {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium BUTTON.bTextClearAll {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium A.bTextPurchaseEEPremium {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium BUTTON.bTextPurchaseEEPremium {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium A.bTextContinueCancellation {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium BUTTON.bTextContinueCancellation {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium A.bTextDeleteQuestion {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium BUTTON.bTextDeleteQuestion {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium A.bTextCLOSE {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium BUTTON.bTextCLOSE {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium A.bTextUpdateKeywords {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium BUTTON.bTextUpdateKeywords {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium A.bTextReplaceContributor {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium BUTTON.bTextReplaceContributor {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium A.bTextNoThanks {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium BUTTON.bTextNoThanks {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium A.bTextSubmitCancellation {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.bSizeMedium BUTTON.bTextSubmitCancellation {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/red.png)
}
.IE .bSizeMedium A.bTextClearAll {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextClearAll {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextPurchaseEEPremium {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextPurchaseEEPremium {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextContinueCancellation {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextContinueCancellation {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextDeleteQuestion {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextDeleteQuestion {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextCLOSE {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextCLOSE {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextUpdateKeywords {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextUpdateKeywords {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextReplaceContributor {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextReplaceContributor {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextNoThanks {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextNoThanks {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextSubmitCancellation {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextSubmitCancellation {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/red.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bSizeMedium A.bTextViewPrintableReceipt {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/gray.png)
}
.bSizeMedium BUTTON.bTextViewPrintableReceipt {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/gray.png)
}
.bSizeMedium A.bTextPremiumServices {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/gray.png)
}
.bSizeMedium BUTTON.bTextPremiumServices {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/gray.png)
}
.bSizeMedium BUTTON.bTextPrintReceipt {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/gray.png)
}
.bSizeMedium A.bTextBillingInfo {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/gray.png)
}
.bSizeMedium BUTTON.bTextBillingInfo {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/gray.png)
}
.bSizeMedium A.bTextEarnYourAccess {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/gray.png)
}
.bSizeMedium BUTTON.bTextEarnYourAccess {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/gray.png)
}
.IE .bSizeMedium A.bTextViewPrintableReceipt {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextViewPrintableReceipt {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextPremiumServices {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextPremiumServices {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextPrintReceipt {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextBillingInfo {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextBillingInfo {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium A.bTextEarnYourAccess {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextEarnYourAccess {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/gray.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bSizeMedium A.bTextGoBack .t2i {
	FLOAT: right; MARGIN: 0px 22px 0px 0px
}
.IE .bSizeMedium A.bTextGoBack .t2i {
	MARGIN: 0px 11px 0px 0px
}
.bSizeMedium A.bTextGoBack {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/grayBack.png)
}
.bSizeMedium BUTTON.bTextGoBack {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/grayBack.png)
}
.IE .bSizeMedium A.bTextGoBack {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/grayBack.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeMedium BUTTON.bTextGoBack {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/grayBack.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.bSizeLarge A.bTextSaveProfile {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/blue.png)
}
.bSizeLarge BUTTON.bTextSaveProfile {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/blue.png)
}
.bSizeLarge A.bTextSubmitSelection {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/blue.png)
}
.bSizeLarge BUTTON.bTextSubmitSelection {
	BACKGROUND-IMAGE: url(/xp/images/buttons/large/blue.png)
}
.IE .bSizeLarge A.bTextSaveProfile {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeLarge BUTTON.bTextSaveProfile {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeLarge A.bTextSubmitSelection {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
.IE .bSizeLarge BUTTON.bTextSubmitSelection {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/large/blue.png',sizingMethod='image'); BACKGROUND-IMAGE: none
}
