.collapsibleListSet LI A.ta {
	FONT-WEIGHT: bold; COLOR: #333; TEXT-DECORATION: none
}
.noLinkTree UL LI {
	FONT-WEIGHT: bold; COLOR: #333; TEXT-DECORATION: none
}
.collapsibleListSet LI A:hover SPAN SPAN.underLine {
	TEXT-DECORATION: underline
}
.collapsibleListSet LI A.notNew:hover SPAN {
	TEXT-DECORATION: underline
}
.collapsibleListSet LI LI A {
	FONT-WEIGHT: normal
}
.IE .allZonesMain .bc {
	OVERFLOW: hidden; WIDTH: 100%
}
