.collapsibleListSet LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 1px; PADDING-TOP: 0px
}
.IE .collapsibleListSet LI {
	FLOAT: left
}
.noLinkTree {
	MARGIN-LEFT: 10px; WIDTH: 108%
}
.noLinkTree UL {
	FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 33%
}
.noLinkTree UL LI {
	WIDTH: 75%
}
.collapsibleListSet LI A.ta {
	PADDING-BOTTOM: 3px; PADDING-TOP: 4px
}
.noLinkTree UL LI {
	PADDING-BOTTOM: 3px; PADDING-TOP: 4px
}
.collapsibleListSet LI A.ta {
	DISPLAY: block; LINE-HEIGHT: 12px
}
.noLinkTree UL LI {
	DISPLAY: block; LINE-HEIGHT: 12px
}
.collapsibleListSet LI.parent A.ta {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.collapsibleListSet LI.child A.ta {
	PADDING-LEFT: 23px; BACKGROUND: url(/xp/images/listItemArrow.png) no-repeat
}
.noLinkTree UL LI {
	PADDING-LEFT: 23px; BACKGROUND: url(/xp/images/listItemArrow.png) no-repeat
}
.IE .collapsibleListSet LI.child A.ta {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/listItemArrow.png',sizingMethod='crop'); HEIGHT: 12px
}
.IE .noLinkTree UL LI {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/listItemArrow.png',sizingMethod='crop'); HEIGHT: 12px
}
.Opera .collapsibleListSet LI {
	POSITION: relative
}
.IE .collapsibleListSet LI {
	PADDING-BOTTOM: 0px; HEIGHT: 0px
}
.IE .collapsibleListSet LI.parent A.ta {
	FLOAT: left
}
.IE .collapsibleListSet LI.child A.ta {
	FLOAT: none
}
.collapsibleListSet .ieHack {
	DISPLAY: none
}
.IE .collapsibleListSet DIV.ieHack {
	DISPLAY: block; FONT-SIZE: 0px; LINE-HEIGHT: 0
}
.IE .collapsibleListSet LI.parent DIV.ieHack {
	HEIGHT: 19px
}
.IE .collapsibleListSet LI.child DIV.ieHack {
	HEIGHT: 0px
}
.IE .collapsibleListSet {
	HEIGHT: 0px
}
.IE7 .collapsibleListSet {
	MIN-HEIGHT: 0px
}
.collapsibleListSet UL UL LI {
	PADDING-LEFT: 19px; Z-INDEX: 10; BACKGROUND: url(/xp/images/impListItemBG.gif) no-repeat left top
}
.collapsibleListSet UL UL LI.last {
	PADDING-LEFT: 19px; BACKGROUND: url(/xp/images/impListItemBGTail.gif) no-repeat left top
}
.collapsibleListSet A.cC {
	DISPLAY: block; BACKGROUND: url(/xp/images/listExpanded.png) no-repeat left top; FLOAT: left; WIDTH: 19px; TEXT-INDENT: -10000px; MARGIN-RIGHT: 4px; HEIGHT: 19px
}
.IE .collapsibleListSet A.cC {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/listExpanded.png',sizingMethod='crop')
}
.IE7 .collapsibleListSet LI.parent {
	WIDTH: 100%
}
.collapsibleListSet .parent A.co {
	BACKGROUND-IMAGE: url(/xp/images/listCollapsed.png)
}
.IE .collapsibleListSet .parent A.co {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/listCollapsed.png',sizingMethod='crop')
}
.parent UL.co {
	DISPLAY: none
}
DIV.co {
	DISPLAY: none
}
.collapsibleListSet SPAN.noWrap {
	WHITE-SPACE: nowrap
}
.collapsibleListSet LI IMG {
	PADDING-LEFT: 5px; WHITE-SPACE: nowrap
}
