#compPgHrLo {
	MARGIN: 0px
}
#compPgHrLo A {
	BACKGROUND: url(/xp/images/pageHeaderLogo.gif) no-repeat left top; TEXT-DECORATION: none
}
#compPgHrL {
	CLEAR: both; FLOAT: right; POSITION: static
}
#compPgHrL UL {
	MARGIN: 15px 21px 0px 0px
}
#compPgHrL LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 15px; FONT-SIZE: 1px; BACKGROUND: url(/xp/images/tinyBulletYellow.gif) no-repeat 12px 1px; FLOAT: right; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1px; PADDING-TOP: 0px; HEIGHT: 5px
}
#compPgHrL LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 5px
}
#compPgHrL LI .t2i {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 5px
}
#compPgHrL LI.login A {
	DISPLAY: block; BACKGROUND: url(/xp/images/topOptionsLogin.gif) no-repeat left top; MARGIN-LEFT: 1px; WIDTH: 24px; HEIGHT: 5px
}
#compPgHrL LI.helpOption A {
	DISPLAY: block; BACKGROUND: url(/xp/images/topOptionsHelp.gif) no-repeat left top; MARGIN-LEFT: 1px; WIDTH: 21px; HEIGHT: 5px
}
#compPgHrL LI.support A {
	DISPLAY: block; BACKGROUND: url(/xp/images/topOptionsSupport.gif) no-repeat left top; MARGIN-LEFT: 1px; WIDTH: 41px; HEIGHT: 5px
}
#compPgHrL LI.home A {
	DISPLAY: block; BACKGROUND: url(/xp/images/topOptionsHome.gif) no-repeat left top; MARGIN-LEFT: 1px; WIDTH: 22px; HEIGHT: 5px
}
#compPgHrSrch {
	MARGIN-TOP: 12px
}
#compPgHrSrch INPUT.textInput {
	BORDER-RIGHT: #9fbad2 1px solid; BORDER-TOP: #9fbad2 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #9fbad2 1px solid; BORDER-BOTTOM: #9fbad2 1px solid; FONT-FAMILY: arial, helvetica, sans-serif; HEIGHT: 13px; BACKGROUND-COLOR: white
}
#compPgHrSrch INPUT.radio {
	MARGIN-LEFT: 0px
}
.Opera #compPgHrSrch INPUT.radio {
	MARGIN-TOP: -3px; MARGIN-LEFT: -2px
}
.Safari #compPgHrSrch INPUT.radio {
	MARGIN-TOP: -3px; MARGIN-LEFT: 1px
}
.IE7 #compPgHrSrch INPUT.radio {
	MARGIN-TOP: -3px; MARGIN-LEFT: -4px
}
.IE #compPgHrSrch INPUT.radio {
	MARGIN-TOP: -4px; MARGIN-LEFT: -4px
}
.Firefox #compPgHrSrch BUTTON {
	DISPLAY: block
}
#compPgHrSrch BUTTON {
	MARGIN: 0px 17px 0px 0px; POSITION: relative; TOP: -1px
}
.Firefox #compPgHrSrch BUTTON {
	TOP: -3px
}
.IE7 #compPgHrSrch BUTTON {
	TOP: -3px
}
#compPgHrSrch LABEL {
	FONT-SIZE: 10px; COLOR: #fff
}
#compPgHrSrch .bTypeButton {
	FLOAT: left
}
#compPgHrSrch .advancedSearchLink .t2i {
	FLOAT: right; MARGIN: 3px 24px 0px 0px
}
.Firefox #compPgHrSrch .advancedSearchLink .t2i {
	MARGIN-TOP: -9px
}
.IE #compPgHrSrch .advancedSearchLink .t2i {
	MARGIN-RIGHT: 12px
}
.IE #compPgHrSrch .advancedSearchLink .t2i {
	MARGIN-TOP: -11px
}
.IE7 #compPgHrSrch .advancedSearchLink .t2i {
	MARGIN-TOP: -11px
}
.Opera #compPgHrSrch .advancedSearchLink .t2i {
	MARGIN-TOP: -10px
}
.Safari #compPgHrSrch .advancedSearchLink .t2i {
	MARGIN-TOP: -8px; MARGIN-RIGHT: 28px
}
#compPgHrNav {
	BACKGROUND: url(/xp/images/pageHeaderNavBottom.gif) repeat-x 0px 42px; POSITION: absolute; TOP: 84px; HEIGHT: 1px
}
#compPgHrNav UL {
	PADDING-LEFT: 11px
}
#compPgHrNav LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND-IMAGE: none; MARGIN-LEFT: -23px; POSITION: relative
}
.Opera #compPgHrNav UL {
	HEIGHT: 45px
}
#compPgHrNav .compPgHrNavHm {
	MARGIN-LEFT: 0px
}
#compPgHrNav .compPgHrNavW {
	MARGIN-LEFT: 0px
}
.compPgHrNavHm {
	Z-INDEX: 60
}
.compPgHrNavW {
	Z-INDEX: 60
}
.compPgHrNavHm A {
	Z-INDEX: 60
}
.compPgHrNavW A {
	Z-INDEX: 60
}
.compPgHrNavHIW {
	Z-INDEX: 50
}
.compPgHrNavFA {
	Z-INDEX: 50
}
.compPgHrNavHIW A {
	Z-INDEX: 50
}
.compPgHrNavFA A {
	Z-INDEX: 50
}
.compPgHrNavAT {
	Z-INDEX: 40
}
.compPgHrNavAT A {
	Z-INDEX: 40
}
.compPgHrNavEx {
	Z-INDEX: 30
}
.compPgHrNavEx A {
	Z-INDEX: 30
}
#compPgHrNav LI A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/xp/images/pageHeaderNavTab.png) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 145px; CURSOR: pointer; PADDING-TOP: 20px; HEIGHT: 25px
}
.IE #compPgHrNav LI A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/pageHeaderNavTab.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compPgHrNav LI A:hover {
	BACKGROUND: url(/xp/images/pageHeaderNavTabHover.png) no-repeat left top
}
.IE #compPgHrNav LI A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/pageHeaderNavTabHover.png',sizingMethod='crop')
}
LI#compPgHrNavC {
	Z-INDEX: 100
}
LI#compPgHrNavC A {
	Z-INDEX: 100
}
#compPgHrNav A SPAN {
	DISPLAY: block; OVERFLOW: hidden; TEXT-INDENT: -9999px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 15px
}
.compPgHrNavHm A SPAN {
	BACKGROUND-POSITION: 51px 0px; BACKGROUND-IMAGE: url(/xp/images/navHm.gif)
}
.compPgHrNavW A SPAN {
	BACKGROUND-POSITION: 51px 0px; BACKGROUND-IMAGE: url(/xp/images/navHm.gif)
}
.compPgHrNavHm#compPgHrNavC A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navHmc.gif)
}
.compPgHrNavW#compPgHrNavC A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navHmc.gif)
}
.compPgHrNavFA A SPAN {
	BACKGROUND-POSITION: 26px 0px; BACKGROUND-IMAGE: url(/xp/images/navFA.gif)
}
.compPgHrNavFA#compPgHrNavC A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navFAc.gif)
}
.compPgHrNavHIW A SPAN {
	BACKGROUND-POSITION: 28px 0px; BACKGROUND-IMAGE: url(/xp/images/navHIW.gif)
}
.compPgHrNavHIW#compPgHrNavC A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navHIWc.gif)
}
.compPgHrNavAT A SPAN {
	BACKGROUND-POSITION: 39px 0px; BACKGROUND-IMAGE: url(/xp/images/navAZ.gif)
}
.compPgHrNavAT#compPgHrNavC A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navAZc.gif)
}
.compPgHrNavEx A SPAN {
	BACKGROUND-POSITION: 45px 0px; BACKGROUND-IMAGE: url(/xp/images/navEx.gif)
}
.compPgHrNavEx#compPgHrNavC A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navExc.gif)
}
.compPgHrNavT A SPAN {
	BACKGROUND-POSITION: 29px 0px; BACKGROUND-IMAGE: url(/xp/images/navT.gif)
}
.compPgHrNavT#compPgHrNavC A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navTc.gif)
}
#compPgHrNav LI#compPgHrNavC A {
	BACKGROUND-POSITION: 0px 0px; BACKGROUND-IMAGE: url(/xp/images/pageHeaderNavTabCurrent.png)
}
#compPgHrNav LI#compPgHrNavC A:hover {
	BACKGROUND-POSITION: 0px 0px; BACKGROUND-IMAGE: url(/xp/images/pageHeaderNavTabCurrent.png)
}
.IE #compPgHrNav LI#compPgHrNavC A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/pageHeaderNavTabCurrent.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.IE #compPgHrNav LI#compPgHrNavC A:hover {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/pageHeaderNavTabCurrent.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compPgHrNav .compPgHrNavBm {
	FONT-SIZE: 0px; Z-INDEX: 99; LEFT: 0px; BACKGROUND-IMAGE: url(/xp/images/zoneNavTop.png); MARGIN: 0px; WIDTH: 967px; POSITION: relative; TOP: -6px; HEIGHT: 4px
}
.IE #compPgHrNav .compPgHrNavBm {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/zoneNavTop.png',sizingMethod='crop'); TOP: -5px
}
#compZnNavCont {
	MARGIN-TOP: 5px; DISPLAY: block; Z-INDEX: 1000; FLOAT: right; BACKGROUND-IMAGE: url(/xp/images/zonePrevBack.png); WIDTH: 24px; CURSOR: pointer; MARGIN-RIGHT: 1px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
.IE #compZnNavCont {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/zonePrevBack.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compZnNav .next {
	BACKGROUND-IMAGE: url(/xp/images/zoneNextMore.png)
}
.IE #compZnNav .next {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/zoneNextMore.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compZnNav {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; BACKGROUND: url(/xp/images/subNavBlue.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 957px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 127px; HEIGHT: 25px
}
#compZnNavCl {
	OVERFLOW: hidden; POSITION: absolute
}
#compZnNav UL {
	CLEAR: none; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 960px; POSITION: relative; HEIGHT: 25px
}
#compZnNav #compZnNavL {
	BACKGROUND: url(/xp/images/subNavBack.gif) repeat-x; HEIGHT: 25px
}
#compZnNav LI {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(/xp/images/zoneDivider.gif) no-repeat 100% 100%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#compZnNavCl A {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 19px 7px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 23px
}
#compZnNav LI A SPAN {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 100%; TEXT-INDENT: -9999px; HEIGHT: 23px
}
#compZnNav LI.nCur A:hover SPAN {
	BACKGROUND: url(/xp/images/15p_w_opacity.png) repeat-x
}
#compZnNav LI.firstChild A:hover SPAN {
	BACKGROUND: url(/xp/images/15p_w_opacity.png) repeat-x
}
.IE #compZnNav LI.nCur A:hover SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/15p_w_opacity.png',sizingMethod='scale')
}
.IE #compZnNav LI.firstChild A:hover SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/15p_w_opacity.png',sizingMethod='scale')
}
#compZnNav LI.current A {
	BACKGROUND: url(/xp/images/zoneNav_opacity.png) repeat-x; HEIGHT: 23px
}
#compZnNav LI.current A:hover {
	BACKGROUND: url(/xp/images/zoneNav_opacity.png) repeat-x; HEIGHT: 23px
}
#compZnNav LI.current A SPAN {
	BACKGROUND-POSITION: 19px 7px; BACKGROUND-REPEAT: no-repeat
}
.IE #compZnNav LI.current A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/zoneNav_opacity.png',sizingMethod='scale'); BACKGROUND-IMAGE: none
}
.IE #compZnNav LI.current A:hover {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/zoneNav_opacity.png',sizingMethod='scale'); BACKGROUND-IMAGE: none
}
.IE #compZnNav LI.current A SPAN {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/none.png',sizingMethod='scale')
}
#compZnNav .root5297 A {
	BACKGROUND-IMAGE: url(/xp/images/navMicrosoft.gif); WIDTH: 89px
}
#compZnNav LI.current .root5297 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navMicrosoft_active.gif)
}
#compZnNav .root5349 A {
	BACKGROUND-IMAGE: url(/xp/images/navApple.gif); WIDTH: 70px
}
#compZnNav LI.current .root5349 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navApple_active.gif)
}
#compZnNav .root5374 A {
	BACKGROUND-IMAGE: url(/xp/images/navInternet.gif); WIDTH: 81px
}
#compZnNav LI.current .root5374 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navInternet_active.gif)
}
#compZnNav .root5624 A {
	BACKGROUND-IMAGE: url(/xp/images/navGamers.gif); WIDTH: 79px
}
#compZnNav LI.current .root5624 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navGamers_active.gif)
}
#compZnNav .root5375 A {
	BACKGROUND-IMAGE: url(/xp/images/navDigitalLiving.gif); WIDTH: 108px
}
#compZnNav LI.current .root5375 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navDigitalLiving_active.gif)
}
#compZnNav .root5377 A {
	BACKGROUND-IMAGE: url(/xp/images/navVirus&Spy.gif); WIDTH: 126px
}
#compZnNav LI.current .root5377 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navVirus&Spy_active.gif)
}
#compZnNav .root5625 A {
	BACKGROUND-IMAGE: url(/xp/images/navHardware.gif); WIDTH: 89px
}
#compZnNav LI.current .root5625 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navHardware_active.gif)
}
#compZnNav .root3062 A {
	BACKGROUND-IMAGE: url(/xp/images/navSoftware.gif); WIDTH: 86px
}
#compZnNav LI.current .root3062 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navSoftware_active.gif)
}
#compZnNav .root5379 A {
	BACKGROUND-IMAGE: url(/xp/images/navITPro.gif); WIDTH: 66px
}
#compZnNav LI.current .root5379 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navITPro_active.gif)
}
#compZnNav .root5380 A {
	BACKGROUND-IMAGE: url(/xp/images/navDeveloper.gif); WIDTH: 91px
}
#compZnNav LI.current .root5380 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navDeveloper_active.gif)
}
#compZnNav .root5381 A {
	BACKGROUND-IMAGE: url(/xp/images/navStorage.gif); WIDTH: 80px
}
#compZnNav LI.current .root5381 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navStorage_active.gif)
}
#compZnNav .root5382 A {
	BACKGROUND-IMAGE: url(/xp/images/navOS.gif); WIDTH: 54px
}
#compZnNav LI.current .root5382 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navOS_active.gif)
}
#compZnNav .root5383 A {
	BACKGROUND-IMAGE: url(/xp/images/navDatabase.gif); WIDTH: 88px
}
#compZnNav LI.current .root5383 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navDatabase_active.gif)
}
#compZnNav .root5384 A {
	BACKGROUND-IMAGE: url(/xp/images/navSecurity.gif); WIDTH: 83px
}
#compZnNav LI.current .root5384 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navSecurity_active.gif)
}
#compZnNav .root5628 A {
	BACKGROUND-IMAGE: url(/xp/images/navProgram.gif); WIDTH: 111px
}
#compZnNav LI.current .root5628 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navProgram_active.gif)
}
#compZnNav .root5385 A {
	BACKGROUND-IMAGE: url(/xp/images/navWebDev.gif); WIDTH: 134px
}
#compZnNav LI.current .root5385 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navWebDev_active.gif)
}
#compZnNav .root5626 A {
	BACKGROUND-IMAGE: url(/xp/images/navNetworking.gif); WIDTH: 100px
}
#compZnNav LI.current .root5626 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navNetworking_active.gif)
}
#compZnNav .root5627 A {
	BACKGROUND-IMAGE: url(/xp/images/navOther.gif); WIDTH: 69px
}
#compZnNav LI.current .root5627 A SPAN {
	BACKGROUND-IMAGE: url(/xp/images/navOther_active.gif)
}
#pageMain .c {
	WIDTH: 100%
}
.c {
	MARGIN-BOTTOM: 17px; WIDTH: 187px
}
.c .f {
	FONT-SIZE: 5px; WIDTH: 100%; LINE-HEIGHT: 6px; BORDER-COLLAPSE: collapse; border-spacing: 0
}
.c .f TD {
	BACKGROUND: url(/cf.gif) repeat-x
}
.c .f .l {
	BACKGROUND-IMAGE: url(/cfl.gif); WIDTH: 5px
}
.c .f .r {
	BACKGROUND-IMAGE: url(/cfr.gif); WIDTH: 5px
}
.c .h {
	WIDTH: 100%; BORDER-COLLAPSE: collapse; HEIGHT: 28px; border-spacing: 0
}
.c .h .t2i {
	DISPLAY: none
}
.cnh .h {
	FONT-SIZE: 5px; LINE-HEIGHT: 6px; HEIGHT: 6px
}
.c .h TD .t2i {
	MARGIN: 6px 0px 0px 4px
}
.c .h TD {
	BACKGROUND: url(/ch.gif) repeat-x
}
.c .h .l {
	BACKGROUND-IMAGE: url(/cl.gif); WIDTH: 6px
}
.c .h .r {
	BACKGROUND-IMAGE: url(/cr.gif); WIDTH: 6px
}
.cr .h TD {
	BACKGROUND-IMAGE: url(/chr.gif)
}
.cr .h .l {
	BACKGROUND-IMAGE: url(/clr.gif)
}
.cr .h .r {
	BACKGROUND-IMAGE: url(/crr.gif)
}
.cg .h TD {
	BACKGROUND-IMAGE: url(/chg.gif)
}
.cg .h .l {
	BACKGROUND-IMAGE: url(/clg.gif)
}
.cg .h .r {
	BACKGROUND-IMAGE: url(/crg.gif)
}
.co .h TD {
	BACKGROUND-IMAGE: url(/cho.gif)
}
.co .h .l {
	BACKGROUND-IMAGE: url(/clo.gif)
}
.co .h .r {
	BACKGROUND-IMAGE: url(/cro.gif)
}
.cb .h TD {
	BACKGROUND-IMAGE: url(/chb.gif)
}
.cb .h .l {
	BACKGROUND-IMAGE: url(/clb.gif)
}
.cb .h .r {
	BACKGROUND-IMAGE: url(/crb.gif)
}
.cnh .h TD {
	BACKGROUND-IMAGE: url(/cnh.gif)
}
.cnh .h .l {
	BACKGROUND-IMAGE: url(/cnhl.gif)
}
.cnh .h .r {
	BACKGROUND-IMAGE: url(/cnhr.gif)
}
.c .h SPAN {
	FLOAT: left; MARGIN: 2px 0px 0px 5px
}
.c .h .mlb {
	BACKGROUND: url(/xp/images/compMLb.gif); WIDTH: 89px; HEIGHT: 18px
}
.c .h .mlo {
	BACKGROUND: url(/xp/images/compMLo.gif); WIDTH: 89px; HEIGHT: 18px
}
.c .h .myAcc {
	BACKGROUND: url(/xp/images/compMyAcc.gif); WIDTH: 75px; HEIGHT: 18px
}
.c .h .TEg {
	BACKGROUND: url(/xp/images/compTEg.gif); WIDTH: 95px; HEIGHT: 18px
}
.c .h .TEgn {
	BACKGROUND: url(/xp/images/compTEgn.gif); WIDTH: 95px; HEIGHT: 18px
}
.c .h .HOFgn {
	BACKGROUND: url(/xp/images/compHOFgn.gif); WIDTH: 80px; HEIGHT: 18px
}
.c .h .HOFg {
	BACKGROUND: url(/xp/images/compHOFg.gif); WIDTH: 80px; HEIGHT: 18px
}
.c .h .myFav {
	BACKGROUND: url(/xp/images/compMyFav.gif); WIDTH: 81px; HEIGHT: 18px
}
.c .h .ccbox {
	BACKGROUND: url(/xp/images/compUpdateCC.gif); WIDTH: 122px; POSITION: relative; TOP: 2px; HEIGHT: 18px
}
.c .h .adBox {
	BACKGROUND: url(/xp/images/compAdBox.gif); WIDTH: 70px; HEIGHT: 18px
}
.c .h .OT {
	BACKGROUND: url(/xp/images/compOT.gif); WIDTH: 72px; HEIGHT: 18px
}
.c .h .WUEE {
	BACKGROUND: url(/xp/images/compWUEE.gif); WIDTH: 98px; HEIGHT: 18px
}
.c .bc {
	BACKGROUND: url(/br.gif) #f5f5f5 repeat-y right top; MARGIN-LEFT: 0px; WIDTH: 100%
}
.c .b {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(/bl.gif) repeat-y; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#compMmbInc LI {
	PADDING-LEFT: 0em; BACKGROUND: #fff; MARGIN-BOTTOM: 1em; COLOR: #0472a5
}
#compOTr .b {
	PADDING-RIGHT: 2px
}
#compOTr P {
	MARGIN-TOP: 2px; BACKGROUND: url(/xp/images/componentTourBG.gif) no-repeat left top; MARGIN-BOTTOM: 2px; PADDING-TOP: 65px
}
#compLgnBox INPUT#componentmsuLoginName {
	MARGIN-BOTTOM: 2px
}
#compRsndVE {
	LEFT: -5px; MARGIN-BOTTOM: 11px; POSITION: relative
}
#compRsndVE A {
	DISPLAY: block; BACKGROUND: url(/xp/images/resendVerificationEmailButton.png); WIDTH: 199px; HEIGHT: 40px
}
.IE #compRsndVE A {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/resendVerificationEmailButton.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compNwQst {
	LEFT: -2px; MARGIN-BOTTOM: 13px; POSITION: relative
}
#compQEx {
	LEFT: -2px; MARGIN-BOTTOM: 13px; POSITION: relative
}
#compCCExpiring {
	LEFT: -2px; MARGIN-BOTTOM: 13px; POSITION: relative
}
#compSignUpNow {
	MARGIN-TOP: -14px; LEFT: -4px; MARGIN-BOTTOM: 5px; POSITION: relative
}
#compStartFreeTrial {
	MARGIN-TOP: -14px; LEFT: -4px; MARGIN-BOTTOM: 5px; POSITION: relative
}
#compSignUpNow A {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 195px; TEXT-INDENT: -9999px; HEIGHT: 56px
}
#compStartFreeTrial A {
	DISPLAY: block; OVERFLOW: hidden; WIDTH: 195px; TEXT-INDENT: -9999px; HEIGHT: 56px
}
#compSignUpNow A {
	BACKGROUND: url(/xp/images/signUpNow.png)
}
.IE #compSignUpNow A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/signUpNow.png',sizingMethod='crop')
}
#compStartFreeTrial A {
	BACKGROUND: url(/xp/images/startFreeTrial.png)
}
.IE #compStartFreeTrial A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/startFreeTrial.png',sizingMethod='crop')
}
#compUpNow {
	MARGIN-TOP: -14px; LEFT: -4px; MARGIN-BOTTOM: 5px; POSITION: relative
}
#compUpNow A {
	DISPLAY: block; BACKGROUND: url(/xp/images/upgradeNow.png); OVERFLOW: hidden; WIDTH: 195px; TEXT-INDENT: -9999px; HEIGHT: 55px
}
.IE #compUpNow A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/upgradeNow.png',sizingMethod='crop')
}
#compNwQst A.newQuestionWizardButton {
	DISPLAY: block; BACKGROUND: url(/xp/images/askNewQuestion.png); WIDTH: 191px; HEIGHT: 35px
}
.IE #compNwQst A.newQuestionWizardButton {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/askNewQuestion.png',sizingMethod='crop')
}
#compCCExpiring A.updateCCButton {
	DISPLAY: block; BACKGROUND: url(/xp/images/updateCreditCard.gif); WIDTH: 191px; HEIGHT: 35px
}
.IE #compCcExpiring .b {
	PADDING-RIGHT: 2px
}
#compCCExpired .notice {
	FONT-WEIGHT: bold; COLOR: #f60
}
#compCCExpired A.updateCCButton {
	MARGIN-TOP: 7px; DISPLAY: block; BACKGROUND: url(/xp/images/updateCreditCardMed.gif); LEFT: -2px; WIDTH: 164px; POSITION: relative; HEIGHT: 29px
}
.IE #compCCExpired A.updateCCButton {
	MARGIN-RIGHT: -7px
}
#compMyAct .b {
	PADDING-RIGHT: 2px
}
#compMyAct .compMyActC {
	Z-INDEX: 2; BACKGROUND: url(/xp/images/xBack.gif) no-repeat right top; MARGIN-BOTTOM: -13px; POSITION: relative; HEIGHT: 118px
}
.IE #compMyAct .b {
	HEIGHT: 105px
}
.IE7 #compMyAct .b {
	HEIGHT: 105px
}
.IE #compMyAct .compMyActC {
	FLOAT: left; WIDTH: 100%; POSITION: absolute
}
#pageRight #compMyAct .expertSkinUpgradeButton {
	DISPLAY: block; BACKGROUND: url(/xp/images/expertSkinUpgradeButton.gif) no-repeat left top; OVERFLOW: hidden; WIDTH: 241px; TEXT-INDENT: -9999px; HEIGHT: 89px
}
#pageRight #compMyAct .infoBoxContainer {
	MARGIN-TOP: -50px
}
#pageRight #compMyAct .infoBox {
	MARGIN-LEFT: -300px; WIDTH: 275px
}
#compMyFav UL {
	MARGIN-BOTTOM: 10px; WIDTH: 100%
}
#compMyAct UL {
	MARGIN-BOTTOM: 10px; WIDTH: 100%
}
#compMyAct .loginName {
	MARGIN-LEFT: 12px; COLOR: #999
}
#compMyAct .status {
	MARGIN-LEFT: 12px; COLOR: #999
}
#compMyAct .loginName {
	MARGIN-TOP: -6px
}
#compMyFav .b {
	PADDING-RIGHT: 2px
}
#compMyFav A .t2i {
	DISPLAY: none
}
#compMyFav .bTextAddThisZone {
	FLOAT: left; WIDTH: 83px; HEIGHT: 33px
}
#compMyFav .bTextEditFavorites {
	FLOAT: left; WIDTH: 83px; HEIGHT: 33px
}
#compMyFav .addedFav {
	COLOR: #f63
}
#compMyFav P {
	MARGIN-BOTTOM: 10px; WIDTH: 100%
}
#compMyFav A.bTextEditFavorites {
	BACKGROUND-IMAGE: url(/xp/images/editFavoritesButton.png)
}
.IE #compMyFav A.bTextEditFavorites {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/editFavoritesButton.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compMyFav .bTextAddThisZone {
	MARGIN-LEFT: -4px
}
#compMyFav A.bTextAddThisZone {
	BACKGROUND-IMAGE: url(/xp/images/addFavoritesButton.png)
}
.IE #compMyFav A.bTextAddThisZone {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/addFavoritesButton.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compAdmBx .b {
	PADDING-RIGHT: 2px; PADDING-BOTTOM: 0px
}
#compAdmBx .componentBG {
	MIN-HEIGHT: 100px; BACKGROUND: url(/xp/images/adminBoxBG.gif) no-repeat right bottom; MARGIN-BOTTOM: -3px; POSITION: relative
}
.IE #compAdmBx .componentBG {
	WIDTH: 100%; POSITION: absolute; HEIGHT: 107px
}
.IE #compAdmBx .b {
	HEIGHT: 104px
}
#compEdtBx H5 {
	FONT-SIZE: 1em
}
#compUsgEE .b {
	TEXT-ALIGN: center
}
#compUsgEE .b .t2i {
	MARGIN: 10px auto auto
}
#compUsgEE .b P {
	FONT-SIZE: 11px; COLOR: #909090; TEXT-ALIGN: left
}
#compTst .b {
	BACKGROUND: url(/xp/images/componentTestimonialBG.gif) no-repeat 78px 0px
}
#compTst P {
	FONT-SIZE: 0.8em; COLOR: #0472a5; MARGIN-RIGHT: 50px
}
#compPcMag P {
	FONT-SIZE: 0.8em; MARGIN-LEFT: 55px; COLOR: #0472a5
}
#compPcMag .b {
	PADDING-RIGHT: 0px; BACKGROUND: url(/images/pcworld_sm.gif) no-repeat 5px 8px; WIDTH: 143px
}
#compErnMem .b {
	BACKGROUND: url(/xp/images/componentEarnMembershipBG.gif) no-repeat left bottom
}
#compErnMem .b {
	HEIGHT: 85px
}
#compErnMem P {
	MARGIN-TOP: 8px; FONT-SIZE: 0.8em; MARGIN-LEFT: 35px; COLOR: #0472a5
}
#compSrchBox .subSectionHeader {
	FONT-SIZE: 1.3em; COLOR: blue
}
#compSrchBox INPUT {
	VERTICAL-ALIGN: middle
}
#compSrchBox BUTTON {
	VERTICAL-ALIGN: middle; HEIGHT: 25px; BACKGROUND-COLOR: rgb(234,242,255)
}
#compSrchBox BUTTON.submitButton DIV {
	BACKGROUND: url(/xp/images/buttonL_subsection.gif) no-repeat left top; WIDTH: 4.5em
}
#compSrchBox BUTTON.submitButton SPAN {
	BACKGROUND: url(/xp/images/buttonR_subsection.gif) no-repeat left top
}
#compCpyr {
	FONT-WEIGHT: bold; BACKGROUND: url(/xp/images/copyright_notice.gif) no-repeat; OVERFLOW: hidden; COLOR: #f5a24b; TEXT-INDENT: -9999px; LETTER-SPACING: -0.03em
}
#compFL {
	FLOAT: right
}
#compFL LI {
	PADDING-RIGHT: 0px; MARGIN-TOP: -3px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 9px; FLOAT: left; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; COLOR: #ccc; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#compFL LI A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #888; PADDING-TOP: 0px; POSITION: relative; TOP: 1px; TEXT-DECORATION: none
}
#compFL LI.lastInList A {
	PADDING-RIGHT: 0px
}
#compFL LI A:hover {
	MARGIN-TOP: 0px; WIDTH: auto; COLOR: #405060
}
#compDt {
	FONT-SIZE: 10px; COLOR: #777; FONT-FAMILY: arial, helvetica, sans-serif
}
#compTrans {
	Z-INDEX: 1
}
#compTrans .translationIconsLinks {
	WIDTH: 230px; HEIGHT: 15px
}
#compTrans .translationIconsLinks .translationIconsLink {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 21px; PADDING-TOP: 2px; HEIGHT: 13px
}
#compTrans .translationIconsLinks .currentTranslationIcon {
	BACKGROUND: url(/xp/images/translationIconsLink.gif) no-repeat left top
}
#compTrans .translationIconsLinks .translationIconsLink:hover {
	BACKGROUND: url(/xp/images/translationIconsLink.gif) no-repeat left top
}
#compTrans .translationIconsLinks .translationIconsLink SPAN {
	BACKGROUND-POSITION: left top; DISPLAY: block; WIDTH: 19px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 11px
}
#compTrans .translationIconsLinks .translationIconsLink#englishCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/englishIcon_dim.gif)
}
#compTrans .translationIconsLinks .currentTranslationIcon#englishCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/englishIcon.gif)
}
#compTrans .translationIconsLinks .translationIconsLink#frenchCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/frenchIcon_dim.gif)
}
#compTrans .translationIconsLinks .currentTranslationIcon#frenchCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/frenchIcon.gif)
}
#compTrans .translationIconsLinks .translationIconsLink#italianCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/italianIcon_dim.gif)
}
#compTrans .translationIconsLinks .currentTranslationIcon#italianCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/italianIcon.gif)
}
#compTrans .translationIconsLinks .translationIconsLink#spanishCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/spanishIcon_dim.gif)
}
#compTrans .translationIconsLinks .currentTranslationIcon#spanishCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/spanishIcon.gif)
}
#compTrans .translationIconsLinks .translationIconsLink#russianCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/russianIcon_dim.gif)
}
#compTrans .translationIconsLinks .currentTranslationIcon#russianCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/russianIcon.gif)
}
#compTrans .translationIconsLinks .translationIconsLink#koreanCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/koreanIcon_dim.gif)
}
#compTrans .translationIconsLinks .currentTranslationIcon#koreanCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/koreanIcon.gif)
}
#compTrans .translationIconsLinks .translationIconsLink#germanCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/germanIcon_dim.gif)
}
#compTrans .translationIconsLinks .currentTranslationIcon#germanCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/germanIcon.gif)
}
#compTrans .translationIconsLinks .translationIconsLink#arabicCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/arabicIcon_dim.gif)
}
#compTrans .translationIconsLinks .currentTranslationIcon#arabicCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/arabicIcon.gif)
}
#compTrans .translationIconsLinks .translationIconsLink#japaneseCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/japaneseIcon_dim.gif)
}
#compTrans .translationIconsLinks .currentTranslationIcon#japaneseCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/japaneseIcon.gif)
}
#compTrans .translationIconsLinks .translationIconsLink#chinese_simplifiedCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/chineseIcon_dim.gif)
}
#compTrans .translationIconsLinks .currentTranslationIcon#chinese_simplifiedCompTrans SPAN {
	BACKGROUND-IMAGE: url(/xp/images/chineseIcon.gif)
}
#compTE .b {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.IE #compTE .b {
	PADDING-RIGHT: 3px
}
#compTE .summary {
	OVERFLOW: auto
}
#compTE .cA {
	DISPLAY: block; BACKGROUND: url(/xp/images/topExpertMale.png) no-repeat left top; MARGIN: 5px 0px; HEIGHT: 70px; TEXT-DECORATION: none
}
.IE #compTE .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertMale.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .female .cA {
	BACKGROUND: url(/xp/images/topExpertFemale.png) no-repeat left top
}
.IE #compTE .female .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertFemale.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .femaleMaster .cA {
	BACKGROUND: url(/xp/images/topExpertFemaleMaster.png) no-repeat left top
}
.IE #compTE .femaleMaster .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertFemaleMaster.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .femaleGuru .cA {
	BACKGROUND: url(/xp/images/topExpertFemaleGuru.png) no-repeat left top
}
.IE #compTE .femaleGuru .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertFemaleGuru.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .femaleWizard .cA {
	BACKGROUND: url(/xp/images/topExpertFemaleWizard.png) no-repeat left top
}
.IE #compTE .femaleWizard .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertFemaleWizard.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .femaleSage .cA {
	BACKGROUND: url(/xp/images/topExpertFemaleSage.png) no-repeat left top
}
.IE #compTE .femaleSage .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertFemaleSage.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .femaleGenius .cA {
	BACKGROUND: url(/xp/images/topExpertFemaleGenius.png) no-repeat left top
}
.IE #compTE .femaleGenius .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertFemaleGenius.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .femaleSavant .cA {
	BACKGROUND: url(/xp/images/topExpertFemaleSavant.png) no-repeat left top
}
.IE #compTE .femaleSavant .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertFemaleSavant.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .femaleElite .cA {
	BACKGROUND: url(/xp/images/topExpertFemaleElite.png) no-repeat left top
}
.IE #compTE .femaleElite .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertFemaleElite.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .femaleTechnocrat .cA {
	BACKGROUND: url(/xp/images/topExpertFemaleTechnocrat.png) no-repeat left top
}
.IE #compTE .femaleTechnocrat .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertFemaleTechnocrat.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .femaleLegend .cA {
	BACKGROUND: url(/xp/images/topExpertFemaleLegend.png) no-repeat left top
}
.IE #compTE .femaleLegend .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertFemaleLegend.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .maleMaster .cA {
	BACKGROUND: url(/xp/images/topExpertMaleMaster.png) no-repeat left top
}
.IE #compTE .maleMaster .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertMaleMaster.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .maleGuru .cA {
	BACKGROUND: url(/xp/images/topExpertMaleGuru.png) no-repeat left top
}
.IE #compTE .maleGuru .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertMaleGuru.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .maleWizard .cA {
	BACKGROUND: url(/xp/images/topExpertMaleWizard.png) no-repeat left top
}
.IE #compTE .maleWizard .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertMaleWizard.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .maleSage .cA {
	BACKGROUND: url(/xp/images/topExpertMaleSage.png) no-repeat left top
}
.IE #compTE .maleSage .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertMaleSage.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .maleGenius .cA {
	BACKGROUND: url(/xp/images/topExpertMaleGenius.png) no-repeat left top
}
.IE #compTE .maleGenius .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertMaleGenius.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .maleSavant .cA {
	BACKGROUND: url(/xp/images/topExpertMaleSavant.png) no-repeat left top
}
.IE #compTE .maleSavant .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertMaleSavant.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .maleElite .cA {
	BACKGROUND: url(/xp/images/topExpertMaleElite.png) no-repeat left top
}
.IE #compTE .maleElite .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertMaleElite.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .maleTechnocrat .cA {
	BACKGROUND: url(/xp/images/topExpertMaleTechnocrat.png) no-repeat left top
}
.IE #compTE .maleTechnocrat .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertMaleTechnocrat.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .maleLegend .cA {
	BACKGROUND: url(/xp/images/topExpertMaleLegend.png) no-repeat left top
}
.IE #compTE .maleLegend .cA {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/topExpertMaleLegend.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compTE .cA .level {
	FLOAT: left; WIDTH: 69px; TEXT-ALIGN: center
}
#compTE .cA .level .t2i {
	MARGIN-TOP: 55px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
#compTE .cA .info {
	MARGIN-LEFT: 70px
}
#compTE .cA .info .profile {
	LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-DECORATION: underline
}
#compTE .cA .info P {
	MARGIN: 9px 9px 0px 0px; COLOR: #888
}
#compTE .cA .info P .points {
	TEXT-DECORATION: underline
}
#compTE .summary SPAN.name {
	DISPLAY: block; FLOAT: left
}
#compTE .summary SPAN.rank {
	DISPLAY: block; FLOAT: left
}
#compTE .summary A.cC {
	DISPLAY: block; FLOAT: left
}
#compTE .summary .name {
	PADDING-LEFT: 2px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 84px
}
#compTE .summary .lo {
	WIDTH: 99px
}
#compTE .summary .name A {
	TEXT-DECORATION: none
}
#compTE .summary .name A:hover {
	TEXT-DECORATION: underline
}
#compTE .summary A.co {
	BACKGROUND-IMAGE: url(/xp/images/lists_plus.gif)
}
#compTE .co {
	DISPLAY: none
}
#compTE .summary .cC {
	BACKGROUND: url(/xp/images/lists_minus.gif) no-repeat 0px 3px; FLOAT: left; MARGIN-LEFT: 2px; OVERFLOW: hidden; WIDTH: 9px; TEXT-INDENT: -9999px; MARGIN-RIGHT: 2px; HEIGHT: 14px
}
#compTE .summary .rank {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 14px; BACKGROUND-IMAGE: url(/xp/images/topExperts_neutral.gif); OVERFLOW: hidden; WIDTH: 55px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 14px; TEXT-ALIGN: right
}
#compTE .summary .rankup {
	BACKGROUND-IMAGE: url(/xp/images/topExperts_rankup.gif)
}
#compTE .summary .rankdown {
	BACKGROUND-IMAGE: url(/xp/images/topExperts_rankdown.gif)
}
#compTE .timeframe {
	FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.IE #compTE .timeframe {
	PADDING-BOTTOM: 2px
}
#compTE .overall {
	PADDING-TOP: 16px
}
#compTE OL {
	CLEAR: both; WIDTH: 100%
}
#compTE LI {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #cdd0d4 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 170px; PADDING-TOP: 0px
}
#compTE .bTextHallOfFame DIV.t2i {
	DISPLAY: none
}
#compTE .bTextHallOfFame {
	DISPLAY: block; BACKGROUND: url(/xp/images/hallOfFameButton.jpg) no-repeat left top; FLOAT: none; MARGIN-LEFT: 2px; OVERFLOW: hidden; WIDTH: 175px; TEXT-INDENT: -10000px; HEIGHT: 70px
}
.IE #compTE .bTextHallOfFame {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/hallOfFameButton.jpg',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#compEA P {
	MARGIN: 4px 0px; WIDTH: 158px; HEIGHT: 251px
}
#compCorpAcc .b {
	PADDING-RIGHT: 0px; PADDING-LEFT: 11px; PADDING-BOTTOM: 5px; PADDING-TOP: 3px
}
.c UL LI {
	PADDING-LEFT: 12px; BACKGROUND: url(/xp/images/bulletArrow.gif) no-repeat left center
}
#compMyFav UL LI {
	PADDING-LEFT: 12px; BACKGROUND: url(/xp/images/bulletArrow.gif) no-repeat left center
}
#compFeedback {
	DISPLAY: block; LEFT: 865px; BACKGROUND-IMAGE: url(/xp/images/siteFeedback.gif); OVERFLOW: hidden; WIDTH: 84px; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 82px; HEIGHT: 20px
}
#compAnnounce {
	DISPLAY: block; LEFT: 765px; BACKGROUND-IMAGE: url(/xp/images/announcements.gif); OVERFLOW: hidden; WIDTH: 95px; TEXT-INDENT: -9999px; POSITION: absolute; TOP: 82px; HEIGHT: 20px
}
#compQEx A {
	MARGIN-TOP: -12px; DISPLAY: block; BACKGROUND-IMAGE: url(/xp/images/youQualify.png); MARGIN-BOTTOM: -5px; WIDTH: 192px; HEIGHT: 52px
}
#psProblemsSolved .psQTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN: 10px 0px; COLOR: #f60
}
#psProblemsSolved .psTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN: 10px 0px; COLOR: #f60
}
#psProblemsSolvedNoQuest .psTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN: 10px 0px; COLOR: #f60
}
#psProblemsSolvedNoQuest .psTitle {
	MARGIN-TOP: 0px; PADDING-TOP: 10px
}
#psProblemsSolved .psQTitle {
	OVERFLOW: hidden; WIDTH: 147px
}
#psProblemsSolved .psQBody {
	OVERFLOW: hidden; WIDTH: 147px
}
#psProblemsSolvedNoQuest .psTitle {
	OVERFLOW: hidden; WIDTH: 147px
}
#psProblemsSolved .psQBody {
	HEIGHT: 173px
}
.Opera #psProblemsSolved .psQBody {
	HEIGHT: 179px
}
.IE #psProblemsSolved .psQBody {
	HEIGHT: 193px
}
.IE7 #psProblemsSolved .psQBody {
	HEIGHT: 193px
}
#psProblemsSolved .psQRow {
	OVERFLOW: hidden
}
.IE #psProblemsSolved .psQRow {
	HEIGHT: 14px
}
#psProblemsSolved .psQRow .psQName {
	FLOAT: left; WIDTH: 77px; COLOR: #777; TEXT-ALIGN: right
}
#psProblemsSolved .psQRow .psQValue {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 75px
}
#psProblemsSolved UL LI {
	PADDING-LEFT: 23px; BACKGROUND: url(/xp/images/bulletArrowRed.gif) no-repeat 0px 0px; MARGIN-BOTTOM: 5px
}
#psProblemsSolved UL LI STRONG {
	FONT-WEIGHT: normal; COLOR: #f60
}
#psWhosUsingEE .bc .b {
	TEXT-ALIGN: center
}
#psWhosUsingEE .bc .b IMG {
	MARGIN-TOP: 17px
}
#psProblemsSolvedNoQuest UL {
	MARGIN-TOP: 13px
}
.IE #psProblemsSolvedNoQuest UL {
	MARGIN-TOP: 15px
}
.IE7 #psProblemsSolvedNoQuest UL {
	MARGIN-TOP: 15px
}
.Safari #psProblemsSolvedNoQuest UL {
	MARGIN-TOP: 15px
}
#psProblemsSolvedNoQuest UL LI {
	PADDING-LEFT: 20px; BACKGROUND: url(/xp/images/bulletArrowRed.gif) no-repeat left top; MARGIN-BOTTOM: 13px; MARGIN-LEFT: 10px
}
.IE #psProblemsSolvedNoQuest UL LI {
	MARGIN-BOTTOM: 15px
}
.IE7 #psProblemsSolvedNoQuest UL LI {
	MARGIN-BOTTOM: 15px
}
.Safari #psProblemsSolvedNoQuest UL LI {
	MARGIN-BOTTOM: 15px
}
#psProblemsSolvedNoQuest .textSect {
	LINE-HEIGHT: 15px
}
#psProblemsSolvedNoQuest .quoted {
	LINE-HEIGHT: 15px
}
#psProblemsSolvedNoQuest .textSect {
	MARGIN-BOTTOM: 15px; MARGIN-LEFT: 10px
}
#psProblemsSolvedNoQuest UL LI SPAN {
	FONT-WEIGHT: bold
}
#psProblemsSolvedNoQuest UL LI SPAN.orange {
	FONT-WEIGHT: normal; COLOR: #ff6600
}
#psDidYouKnow .bc .b .quoted {
	MARGIN: 17px 17px 17px 0px
}
#psTestimonials .bc .b .quoted {
	MARGIN: 17px 17px 17px 0px
}
#psTestimonials .bc .b DIV {
	MARGIN-TOP: 10px
}
#psBecomeAnExpert .bc .b .quoted {
	MARGIN: 17px 17px 0px 0px
}
#psBecomeAnExpert .bc .b .psBE {
	MARGIN: 0px 17px 17px; TEXT-ALIGN: right
}
.Safari #psTestimonials DIV.person {
	MARGIN-BOTTOM: 27px
}
.IE #psTestimonials DIV.person {
	MARGIN-BOTTOM: 23px
}
.translationFooter {
	FLOAT: right; MARGIN: -5px 0px 0px 10px
}
.translationFooter SELECT {
	WIDTH: 105px
}
.ccExpirationWarning .bc {
	MARGIN-BOTTOM: 10px
}
.ccExpirationWarning .ccWarn SPAN {
	COLOR: #f60
}
.ccExpirationWarning .ccWarn {
	MARGIN-TOP: -1em; WIDTH: 560px; HEIGHT: auto
}
.ccExpirationWarning .updateCCButton {
	MARGIN-TOP: 13px; FLOAT: left; HEIGHT: auto
}
.ccExpirationWarning .userIcon {
	MARGIN-TOP: -55px; FLOAT: right; WIDTH: 105px; MARGIN-RIGHT: -20px; HEIGHT: 1px
}
.IE .ccExpirationWarning .userIcon {
	MARGIN-RIGHT: -10px
}
.ccExpirationWarning .userIcon DIV {
	Z-INDEX: 100; BACKGROUND: url(/xp/images/ccWarningIcon.png) no-repeat left top; WIDTH: 105px; POSITION: relative; HEIGHT: 127px
}
.Safari .ccExpirationWarning .userIcon {
	MARGIN-TOP: -43px
}
.Firefox .ccExpirationWarning .userIcon {
	MARGIN-TOP: -43px
}
.Safari .ccExpirationWarning .userIcon DIV {
	POSITION: absolute
}
.IE .ccExpirationWarning .userIcon DIV {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/ccWarningIcon.png',sizingMethod='crop')
}
