.eeAdSection {
	DISPLAY: block; WIDTH: 166px; HEIGHT: 282px
}
.corporate1 {
	BACKGROUND: url(/xp/images/ads/corporate_1.jpg)
}
.corporate2 {
	BACKGROUND: url(/xp/images/ads/corporate_2.jpg)
}
.corporate3 {
	BACKGROUND: url(/xp/images/ads/corporate_3.jpg)
}
.corporate4 {
	BACKGROUND: url(/xp/images/ads/corporate_upgrade1.jpg)
}
.corporate5 {
	BACKGROUND: url(/xp/images/ads/corporate_upgrade2.jpg)
}
