.formFactory .formRow {
	CLEAR: both
}
.formFactory .formRow {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.formFactory .formRow .formName {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.formFactory .formRow .formValue {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.formFactory .formRow .formName {
	FLOAT: left; WIDTH: 49%; TEXT-ALIGN: right
}
.formFactory .formRow .formValue {
	FLOAT: right; WIDTH: 50%; TEXT-ALIGN: left
}
.formFactory .autoHeight {
	OVERFLOW: hidden; LINE-HEIGHT: normal; HEIGHT: auto
}
.formFactory .autoHeight .formName {
	OVERFLOW: hidden; LINE-HEIGHT: normal; HEIGHT: auto
}
.formFactory .autoHeight .formValue {
	OVERFLOW: hidden; LINE-HEIGHT: normal; HEIGHT: auto
}
.formFactory LABEL {
	FONT-SIZE: 11px
}
.formFactory INPUT.text {
	FONT-SIZE: 11px
}
.formFactory TEXTAREA {
	FONT-SIZE: 11px
}
.formFactory SELECT {
	FONT-SIZE: 11px
}
.formFactory INPUT.checkbox {
	FONT-SIZE: 11px
}
.formFactory INPUT.radio {
	FONT-SIZE: 11px
}
.formFactory LABEL {
	MARGIN-RIGHT: 3px
}
.formFactory INPUT.text {
	MARGIN-RIGHT: 3px
}
.formFactory TEXTAREA {
	MARGIN-RIGHT: 3px
}
.formFactory SELECT {
	MARGIN-RIGHT: 3px
}
.formFactory LABEL.rightEdge {
	MARGIN-RIGHT: 0px
}
.formFactory INPUT.rightEdge {
	MARGIN-RIGHT: 0px
}
.formFactory TEXTAREA.rightEdge {
	MARGIN-RIGHT: 0px
}
.formFactory SELECT.rightEdge {
	MARGIN-RIGHT: 0px
}
.formFactory .formName LABEL {
	MARGIN-RIGHT: 0px
}
.formFactory LABEL.strong {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.formFactory INPUT.text {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.formFactory SELECT {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.formFactory INPUT.text {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid
}
.formFactory SELECT {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid
}
.formFactory TEXTAREA {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid
}
.formFactory .rightEdgeButton .bTypeButton BUTTON {
	LEFT: 2px; MARGIN-LEFT: -2px
}
.IE .formFactory .rightEdgeButton .bTypeButton BUTTON {
	MARGIN-RIGHT: 2px
}
.formFactory .formSubmit {
	TEXT-ALIGN: right
}
.formFactory .formSubmit .bTypeButton BUTTON {
	MARGIN-LEFT: auto; MARGIN-RIGHT: -3px
}
.formFactory .formSubmit .bTypeA A {
	MARGIN-LEFT: auto; MARGIN-RIGHT: -3px
}
.formFactory .formSubmit .bTypeButton .bnSizeSmall BUTTON {
	MARGIN-RIGHT: -2px
}
.formFactory .formSubmit .bTypeA .bSizeSmall A {
	MARGIN-RIGHT: -2px
}
.formFactory .formSubmitCenter {
	TEXT-ALIGN: center
}
.formFactory .formSubmitCenter .bTypeButton BUTTON .formFactory .formSubmitCenter .bTypeA A {
	MARGIN: auto
}
.formFactory UL.checkList {
	HEIGHT: 30px
}
.formFactory .checkList LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 11px; BACKGROUND: url(/xp/images/advancedSearchFilterDelimiter.gif) repeat-y 5px 0px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 20px
}
.formFactory .checkList LI.first {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.formFactory .checkListVertical LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.Opera .formFactory .elementAfterButton {
	POSITION: relative; TOP: -4px
}
.Opera .formFactory INPUT.text {
	LINE-HEIGHT: 18px; HEIGHT: 18px
}
.Opera .formFactory SELECT {
	LINE-HEIGHT: 18px; HEIGHT: 18px
}
.Opera .formFactory SELECT {
	MARGIN-BOTTOM: -2px
}
.Opera .formFactory .rightEdgeButton .bTypeButton BUTTON {
	MARGIN-BOTTOM: -20px; POSITION: relative; TOP: 4px
}
.Firefox .formFactory .elementAfterButton {
	POSITION: relative; TOP: -4px
}
.Firefox .formFactory INPUT.text {
	LINE-HEIGHT: normal; PADDING-TOP: 2px; HEIGHT: 16px
}
.Firefox .formFactory SELECT {
	LINE-HEIGHT: 18px; POSITION: relative; TOP: -1px; HEIGHT: 18px
}
.Firefox .formFactory INPUT.checkbox {
	MARGIN-LEFT: 3px; MARGIN-RIGHT: 4px
}
.Firefox .formFactory INPUT.radio {
	MARGIN-LEFT: 3px; MARGIN-RIGHT: 4px
}
.Firefox .formFactory INPUT.radio {
	MARGIN-BOTTOM: -3px
}
.Firefox .formFactory .rightEdgeButton .bTypeButton BUTTON {
	MARGIN-BOTTOM: 10px
}
.IE .formFactory .autoHeight {
	OVERFLOW: visible; HEIGHT: 0px
}
.IE .formFactory .autoHeight .formName {
	OVERFLOW: visible; HEIGHT: 0px
}
.IE .formFactory .autoHeight .formValue {
	OVERFLOW: visible; HEIGHT: 0px
}
.IE .formFactory .elementAfterButton {
	POSITION: relative; TOP: -1px
}
.IE .formFactory LABEL {
	TOP: -1px
}
.IE .formFactory .formRow .formName LABEL {
	TOP: 0px
}
.IE .formFactory INPUT.text {
	PADDING-LEFT: 2px; MARGIN-LEFT: 0px; LINE-HEIGHT: 18px
}
.IE .formFactory INPUT.text {
	MARGIN-TOP: -1px; MARGIN-BOTTOM: -1px
}
.IE .formFactory TEXTAREA {
	MARGIN-TOP: -1px; MARGIN-BOTTOM: -1px
}
.IE .formFactory INPUT.text {
	LINE-HEIGHT: 18px; HEIGHT: 18px
}
.IE .formFactory TEXTAREA {
	LINE-HEIGHT: 18px; HEIGHT: 18px
}
.IE .formFactory SELECT {
	LINE-HEIGHT: 18px; HEIGHT: 18px
}
.IE .formFactory SELECT {
	MARGIN-BOTTOM: -1px
}
.IE .formFactory INPUT.radio {
	MARGIN-BOTTOM: -1px; BACKGROUND-COLOR: transparent
}
.IE .formFactory INPUT.checkbox {
	MARGIN-BOTTOM: -1px; BACKGROUND-COLOR: transparent
}
.IE .formFactory .rightEdgeButton .bTypeButton BUTTON {
	MARGIN-BOTTOM: -1px
}
.IE7 .formFactory .elementAfterButton {
	POSITION: relative; TOP: -1px
}
.IE7 .formFactory LABEL {
	TOP: -1px
}
.IE7 .formFactory .formRow .formName LABEL {
	TOP: 0px
}
.IE7 .formFactory INPUT.text {
	PADDING-LEFT: 2px; MARGIN-LEFT: 0px; LINE-HEIGHT: 18px
}
.IE7 .formFactory INPUT.text {
	MARGIN-TOP: -1px
}
.IE7 .formFactory TEXTAREA {
	MARGIN-TOP: -1px
}
.IE7 .formFactory SELECT {
	MARGIN-TOP: -1px
}
.IE7 .formFactory INPUT.text {
	LINE-HEIGHT: 18px; HEIGHT: 18px
}
.IE7 .formFactory TEXTAREA {
	LINE-HEIGHT: 18px; HEIGHT: 18px
}
.IE7 .formFactory TEXTAREA {
	MARGIN-BOTTOM: -1px
}
.IE7 .formFactory INPUT.radio {
	MARGIN-BOTTOM: -1px; BACKGROUND-COLOR: transparent
}
.IE7 .formFactory INPUT.checkbox {
	MARGIN-BOTTOM: -1px; BACKGROUND-COLOR: transparent
}
.IE7 .formFactory .rightEdgeButton .bTypeButton BUTTON {
	MARGIN-BOTTOM: -1px
}
.Safari .formFactory .elementAfterButton {
	POSITION: relative; TOP: -6px
}
.Safari .formFactory TEXTAREA {
	MARGIN-TOP: -6px; MARGIN-BOTTOM: 6px; MARGIN-RIGHT: 1px; POSITION: relative; TOP: 6px
}
.Safari .formFactory INPUT.checkbox {
	MARGIN: 0px 4px
}
.Safari .formFactory INPUT.radio {
	MARGIN: 0px 4px
}
.Safari .formFactory .rightEdgeButton .bTypeButton BUTTON {
	MARGIN-BOTTOM: -6px
}
.nameValue .formRow {
	MARGIN-BOTTOM: 6px
}
.nameValue .formRow .hasSubtext {
	MARGIN-TOP: -1px; LINE-HEIGHT: 15px
}
.nameValue .formRow .hasSubtext .formSubtext {
	MARGIN-TOP: -2px; DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #999999; LINE-HEIGHT: 9px
}
.nameValue .autoHeight {
	OVERFLOW: hidden; LINE-HEIGHT: normal; HEIGHT: auto
}
.nameValue .autoHeight .formName {
	OVERFLOW: hidden; LINE-HEIGHT: normal; HEIGHT: auto
}
.nameValue .autoHeight .formValue {
	OVERFLOW: hidden; LINE-HEIGHT: normal; HEIGHT: auto
}
.nameRowValueRow .formRow {
	HEIGHT: auto
}
.nameRowValueRow .formRow .formName {
	DISPLAY: block; FLOAT: none; WIDTH: auto
}
.nameRowValueRow .formRow .formValue {
	DISPLAY: block; FLOAT: none; WIDTH: auto
}
.nameRowValueRow .formRow .formName {
	HEIGHT: 20px; TEXT-ALIGN: left
}
.nameRowValueRow .formRow .formValue {
	MARGIN-TOP: -2px; HEIGHT: 20px
}
.nameRowValueRow .autoHeight .formValue {
	HEIGHT: auto
}
.nameRowValueRow .formRow .hasSubtext .formSubtext {
	FONT-SIZE: 9px; COLOR: #999999
}
.nameRowValueRow .formSubmitCenter {
	MARGIN-TOP: 19px
}
.nameRowValueRow .formSubmit {
	MARGIN-TOP: 19px
}
.formFactory .readOnly {
	COLOR: #aaaaaa; BACKGROUND-COLOR: #fcfcfc
}
