.infoBoxContainer {
	CLEAR: none; MARGIN-TOP: -40px; DISPLAY: block; FLOAT: right
}
.Safari .infoBoxContainer {
	MARGIN-TOP: -16px; MARGIN-RIGHT: 28px; POSITION: relative
}
.infoBox {
	DISPLAY: none; Z-INDEX: 1000; MARGIN-LEFT: -210px; WIDTH: 271px; POSITION: absolute
}
.Safari .infoBox {
	LEFT: 0px; TOP: 0px
}
.IE7 .infoBox {
	MARGIN-LEFT: -200px
}
.confirmBoxContainer .infoBox {
	MARGIN-LEFT: -230px
}
.IE7 .confirmBoxContainer .infoBox {
	MARGIN-LEFT: -220px
}
.infoBoxButton {
	CLEAR: none; MARGIN-TOP: -50px; DISPLAY: block; BACKGROUND: url(/xp/images/infoBoxButton.png) no-repeat left top; FLOAT: right; OVERFLOW: hidden; WIDTH: 28px; CURSOR: help; TEXT-INDENT: -9999px; MARGIN-RIGHT: -20px; POSITION: relative; HEIGHT: 28px
}
.IE .infoBoxButton {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/infoBoxButton.png',sizingMethod='crop'); MARGIN-RIGHT: -10px
}
.Safari .infoButtonCont {
	FLOAT: right; MARGIN-RIGHT: 7px
}
.Safari .infoBoxButton {
	MARGIN-RIGHT: 20px; POSITION: absolute
}
.infoBox TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px; border-spacing: 0
}
.infoBoxUL {
	BACKGROUND: url(/xp/images/infoBoxUL.gif) no-repeat right top; WIDTH: 10px; HEIGHT: 31px
}
.infoBoxUM {
	PADDING-LEFT: 7px; FONT-WEIGHT: bold; BACKGROUND: url(/xp/images/infoBoxUM.gif) repeat-x left top; COLOR: white; PADDING-TOP: 9px; HEIGHT: 31px
}
.IE .infoBoxUM {
	PADDING-TOP: 8px; HEIGHT: 23px
}
.IE7 .infoBoxUM {
	PADDING-TOP: 6px; HEIGHT: 25px
}
.Safari .infoBoxUM {
	HEIGHT: 22px
}
.infoBox .closeButtonTiny {
	MARGIN-TOP: -2px; BACKGROUND: url(/xp/images/closeButtonTiny.gif) no-repeat left top; FLOAT: right; OVERFLOW: hidden; WIDTH: 17px; CURSOR: pointer; TEXT-INDENT: -9999px; HEIGHT: 17px
}
.IE7 .infoBox .closeButtonTiny {
	MARGIN-TOP: 0px
}
.infoBoxUR {
	BACKGROUND: url(/xp/images/infoBoxUR.gif) no-repeat left top; WIDTH: 10px; HEIGHT: 31px
}
.infoBoxML {
	BACKGROUND: url(/xp/images/infoBoxML.gif) repeat-y right top; WIDTH: 10px
}
.infoBoxMM {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FONT-SIZE: 95%; BACKGROUND: white; PADDING-BOTTOM: 7px; PADDING-TOP: 7px
}
.infoBoxMR {
	BACKGROUND: url(/xp/images/infoBoxMR.gif) repeat-y left top; WIDTH: 10px
}
.infoBoxBL {
	BACKGROUND: url(/xp/images/infoBoxBL.gif) no-repeat right bottom; WIDTH: 10px; HEIGHT: 8px
}
.infoBoxBM {
	BACKGROUND: url(/xp/images/infoBoxBM.gif) repeat-x left bottom; HEIGHT: 8px
}
.infoBoxBR {
	BACKGROUND: url(/xp/images/infoBoxBR.gif) no-repeat left bottom; WIDTH: 10px; HEIGHT: 8px
}
.infoBox .title {
	WIDTH: 217px; HEIGHT: 1px
}
.infoBox .noClose .title {
	MARGIN-TOP: -8px
}
.IE .infoBox .noClose .title {
	MARGIN-TOP: 0px
}
.infoBox .confirmButtons {
	FLOAT: right
}
.infoBox .removeButton {
	DISPLAY: block; BACKGROUND: url(/xp/images/removeOrange.png); FLOAT: left; OVERFLOW: hidden; WIDTH: 49px; TEXT-INDENT: -9999px; HEIGHT: 23px
}
.infoBox .cancelButton {
	DISPLAY: block; BACKGROUND: url(/xp/images/cancelButton.png); FLOAT: left; OVERFLOW: hidden; WIDTH: 49px; TEXT-INDENT: -9999px; HEIGHT: 23px
}
.infoBox .highlight {
	COLOR: #f60
}
.infoBox .buttonSeparator {
	DISPLAY: none
}
