#pageMain .qTitle SPAN.value {
	COLOR: #f47910
}
#pageMain .deletedQuestion .qTitle SPAN.value {
	COLOR: #f00
}
#pageMain .qBody {
	BACKGROUND: url(/xp/images/quoteBig.gif) no-repeat 84px 0px; PADDING-TOP: 6px
}
#pageMain .qBody SPAN.value {
	MIN-HEIGHT: 40px; PADDING-TOP: 2px
}
.IE #pageMain .qBody SPAN.value {
	HEIGHT: 40px
}
#pageMain DIV.paq {
	LINE-HEIGHT: 31px; HEIGHT: 31px
}
.answers .answer .bc .answerBody {
	MIN-HEIGHT: 90px
}
.IE .answers .answer .bc .answerBody {
	HEIGHT: 90px
}
#pageMain .sectionChoice .bbg {
	BACKGROUND-COLOR: #ebebeb
}
#pageMain .sectionChoice .f TD {
	BACKGROUND-IMAGE: url(/cfEB.gif)
}
#pageMain .sectionChoice .f .l {
	BACKGROUND-IMAGE: url(/cflEB.gif)
}
#pageMain .sectionChoice .f .r {
	BACKGROUND-IMAGE: url(/cfrEB.gif); WIDTH: 6px
}
.sectionChoiceLast .bc P {
	COLOR: #969696
}
.lookItUp {
	BACKGROUND: url(/xp/images/lookItUp.gif) no-repeat left top; WIDTH: 253px; TEXT-INDENT: -9999px; HEIGHT: 42px
}
.googleUser {
	BACKGROUND: url(/xp/images/googleUser.png) no-repeat left top
}
.googleUser .hr {
	MARGIN: 2px 0px 5px; WIDTH: 290px
}
.googleUser .keywords {
	COLOR: #666
}
.googleUser .more A {
	COLOR: #666
}
.googleUser A {
	PADDING-LEFT: 10px; BACKGROUND: url(/xp/images/aArrow.gif) no-repeat left 5px; COLOR: #000
}
UL.questionOptions {
	MARGIN-BOTTOM: 15px; OVERFLOW: hidden
}
.IE UL.questionOptions {
	OVERFLOW: visible; HEIGHT: 0px
}
UL.questionOptions LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-RIGHT: 5px; PADDING-TOP: 0px
}
UL.questionOptions LI A {
	BACKGROUND-POSITION: left top; DISPLAY: block; OVERFLOW: hidden; CURSOR: pointer; TEXT-INDENT: -100000px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 30px
}
UL.questionOptions LI.unaccept A {
	BACKGROUND-IMAGE: url(/xp/images/unacceptButton.png); WIDTH: 81px
}
.IE UL.questionOptions LI.unaccept A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/unacceptButton.png',sizingMethod='crop')
}
UL.questionOptions LI.edit A {
	BACKGROUND-IMAGE: url(/xp/images/editQuestionButton.png); WIDTH: 88px
}
.IE UL.questionOptions LI.edit A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/editQuestionButton.png',sizingMethod='crop')
}
UL.questionOptions LI.knowledgebase A {
	BACKGROUND-IMAGE: url(/xp/images/knowledgebaseButton.png); WIDTH: 136px
}
.IE UL.questionOptions LI.knowledgebase A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/knowledgebaseButton.png',sizingMethod='crop')
}
UL.questionOptions LI.notifySubscribe A {
	BACKGROUND-IMAGE: url(/xp/images/notifySubscribeButton.png); WIDTH: 111px
}
.IE UL.questionOptions LI.notifySubscribe A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/notifySubscribeButton.png',sizingMethod='crop')
}
UL.questionOptions LI.notifyUnsubscribe A {
	BACKGROUND-IMAGE: url(/xp/images/notifyUnsubscribeButton.png); WIDTH: 111px
}
.IE UL.questionOptions LI.notifyUnsubscribe A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/notifyUnsubscribeButton.png',sizingMethod='crop')
}
UL.questionOptions LI.printerFriendly {
	FLOAT: right; MARGIN: 0px 0px 0px 5px
}
UL.questionOptions LI.emailFriend {
	FLOAT: right; MARGIN: 0px 0px 0px 5px
}
UL.questionOptions LI.bookmark {
	FLOAT: right; MARGIN: 0px 0px 0px 5px
}
UL.questionOptions LI.printerFriendly A {
	BACKGROUND-IMAGE: url(/xp/images/printerFriendlyButton.png); WIDTH: 108px
}
.IE UL.questionOptions LI.printerFriendly A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/printerFriendlyButton.png',sizingMethod='crop')
}
UL.questionOptions LI.emailFriend A {
	BACKGROUND-IMAGE: url(/xp/images/emailFriendButton.png); WIDTH: 108px
}
.IE UL.questionOptions LI.emailFriend A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/emailFriendButton.png',sizingMethod='crop')
}
UL.questionOptions LI.bookmark A {
	BACKGROUND-IMAGE: url(/xp/images/bookmarkButton.png); WIDTH: 86px
}
.IE UL.questionOptions LI.bookmark A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/bookmarkButton.png',sizingMethod='crop')
}
#pageMain .sectionHeaderExtraQuestion {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.relatedSolutions .sectionHeaderExtra {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.answers .answer .h TD .sectionHeaderExtra {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
.answers .answer .h TD .sectionHeaderExtra .answerID {
	MARGIN-RIGHT: 1em
}
.answers .answer .infoCol P {
	FONT-WEIGHT: bold; COLOR: #666
}
.answers .answer .infoCol P SPAN {
	COLOR: #000
}
.answers .answer .bc .answerer {
	FONT-WEIGHT: bold; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.answers .answer .bc .answerer A {
	COLOR: #444
}
.answers .bc {
	MARGIN: 20px 20px 6px
}
.answers .answer .bc {
	MARGIN: 8px
}
.answers .answer .bc .answerBody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 10px
}
.answers .answer .bc .footnote {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #e63a19
}
.answers .answer .infoColHeader {
	FONT-SIZE: 0px; BACKGROUND: url(/xp/images/answerInfoColHeader.gif) no-repeat left top; HEIGHT: 3px
}
.answers .answer .infoColContainer {
	BACKGROUND: url(/xp/images/answerInfoColContainer.gif) repeat-y left top
}
.IE7 .answers .answer .infoColContainer {
	WIDTH: 100%
}
.answers .answer .infoColContainer .infoCol {
	WIDTH: 106px
}
.answers .answer .infoColContainer .infoBody {
	MARGIN-LEFT: 123px; MARGIN-RIGHT: 9px
}
.IE .answers .answer .infoColContainer .infoBody {
	HEIGHT: 0px
}
.answers .answer .infoColFooter {
	FONT-SIZE: 0px; BACKGROUND: url(/xp/images/answerInfoColFooter.gif) no-repeat left top; HEIGHT: 3px
}
.answers .answer .infoColContainer .infoCol .infoColIcon {
	MARGIN: 10px 10px 5px; WIDTH: 84px; HEIGHT: 85px
}
.viewSol .infoCol .infoColIcon {
	MARGIN: 10px 10px 5px; WIDTH: 84px; HEIGHT: 85px
}
.answers .askerHeader .infoColContainer .infoCol .infoColIcon {
	BACKGROUND-IMAGE: url(/xp/images/askerInfoColIcon.png)
}
.IE .answers .askerHeader .infoColContainer .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/askerInfoColIcon.png',sizingMethod='crop')
}
.answers .askerHeader .female .infoCol .infoColIcon {
	BACKGROUND-IMAGE: url(/xp/images/askerWomanInfoColIcon.png)
}
.IE .answers .askerHeader .female .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/askerWomanInfoColIcon.png',sizingMethod='crop')
}
.answers .proposedHeader .infoColContainer .infoCol .infoColIcon {
	BACKGROUND-IMAGE: url(/xp/images/acceptedInfoColIcon.png)
}
.answers .assistedHeader .infoColContainer .infoCol .infoColIcon {
	BACKGROUND-IMAGE: url(/xp/images/acceptedInfoColIcon.png)
}
.answers .acceptedHeader .infoColContainer .infoCol .infoColIcon {
	BACKGROUND-IMAGE: url(/xp/images/acceptedInfoColIcon.png)
}
.viewSol .infoCol .infoColIcon {
	BACKGROUND-IMAGE: url(/xp/images/acceptedInfoColIcon.png)
}
.IE .answers .proposedHeader .infoColContainer .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/acceptedInfoColIcon.png',sizingMethod='crop')
}
.IE .answers .assistedHeader .infoColContainer .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/acceptedInfoColIcon.png',sizingMethod='crop')
}
.IE .answers .acceptedHeader .infoColContainer .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/acceptedInfoColIcon.png',sizingMethod='crop')
}
.IE .viewSol .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/acceptedInfoColIcon.png',sizingMethod='crop')
}
.answers .proposedHeader .female .infoCol .infoColIcon {
	BACKGROUND-IMAGE: url(/xp/images/acceptedWomanInfoColIcon.png)
}
.answers .assistedHeader .female .infoCol .infoColIcon {
	BACKGROUND-IMAGE: url(/xp/images/acceptedWomanInfoColIcon.png)
}
.answers .acceptedHeader .female .infoCol .infoColIcon {
	BACKGROUND-IMAGE: url(/xp/images/acceptedWomanInfoColIcon.png)
}
.viewSol .female .infoCol .infoColIcon {
	BACKGROUND-IMAGE: url(/xp/images/acceptedWomanInfoColIcon.png)
}
.IE .answers .proposedHeader .female .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/acceptedWomanInfoColIcon.png',sizingMethod='crop')
}
.IE .answers .assistedHeader .female .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/acceptedWomanInfoColIcon.png',sizingMethod='crop')
}
.IE .answers .acceptedHeader .female .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/acceptedWomanInfoColIcon.png',sizingMethod='crop')
}
.IE .viewSol .female .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/acceptedWomanInfoColIcon.png',sizingMethod='crop')
}
.answers .answer UL.answerOptions {
	MARGIN-TOP: 1em; BACKGROUND: url(/xp/images/answerOptions.gif) repeat-x left top; OVERFLOW: hidden; PADDING-TOP: 10px
}
.IE .answers .answer UL.answerOptions {
	OVERFLOW: visible; HEIGHT: 0px
}
.answers .answer UL.answerOptions LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.answers .answer UL.answerOptions LI.accept {
	FLOAT: right
}
.answers .answer UL.answerOptions LI.split {
	FLOAT: right
}
.answers .answer UL.answerOptions LI A {
	BACKGROUND-POSITION: left top; DISPLAY: block; OVERFLOW: hidden; CURSOR: pointer; TEXT-INDENT: -100000px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 34px
}
.answers .answer UL.answerOptions LI.edit A {
	BACKGROUND-IMAGE: url(/xp/images/editAnswerButton.png); WIDTH: 85px
}
.IE .answers .answer UL.answerOptions LI.edit A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/editAnswerButton.png',sizingMethod='crop')
}
.answers .answer UL.answerOptions LI.accept A {
	BACKGROUND-IMAGE: url(/xp/images/acceptAnswerButton.png); WIDTH: 125px
}
.IE .answers .answer UL.answerOptions LI.accept A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/acceptAnswerButton.png',sizingMethod='crop')
}
.answers .answer UL.answerOptions LI.split A {
	BACKGROUND-IMAGE: url(/xp/images/splitPointsButton.png); WIDTH: 160px
}
.IE .answers .answer UL.answerOptions LI.split A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/splitPointsButton.png',sizingMethod='crop')
}
.answers .answer UL.answerOptions LI.acceptKnowledgebase A {
	BACKGROUND-IMAGE: url(/xp/images/accept_knowledgebaseButton.png); WIDTH: 260px; HEIGHT: 60px
}
.IE .answers .answer UL.answerOptions LI.acceptKnowledgebase A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/accept_knowledgebaseButton.png',sizingMethod='crop')
}
.answers .answer UL.answerOptions LI.acceptViewSolutions {
	FLOAT: right
}
.answers .answer UL.answerOptions LI.acceptViewSolutions A {
	BACKGROUND-IMAGE: url(/xp/images/accept_viewSolutionsButton.png); WIDTH: 256px; HEIGHT: 60px
}
.IE .answers .answer UL.answerOptions LI.acceptViewSolutions A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/accept_viewSolutionsButton.png',sizingMethod='crop')
}
.qDate {
	MARGIN-TOP: -12px; FLOAT: right; POSITION: relative
}
.qTitle {
	FONT-SIZE: 15px; FLOAT: left; PADDING-BOTTOM: 14px; WIDTH: 488px
}
.IE .qTitle {
	WIDTH: 463px
}
.IE7 .qTitle {
	WIDTH: 467px
}
.Safari .qTitle {
	WIDTH: 483px
}
.Opera .qTitle {
	WIDTH: 488px
}
.loggedOutQTitle {
	FLOAT: left; WIDTH: 498px
}
.qDateRow {
	FLOAT: left; WIDTH: 498px
}
.qTagRow {
	DISPLAY: block; WIDTH: 600px
}
.qZoneRow {
	DISPLAY: block; WIDTH: 600px
}
.qAuthorRow {
	DISPLAY: block; WIDTH: 600px
}
.qAuthorRowExtra {
	DISPLAY: block; WIDTH: 600px
}
.qTimeZoneRow {
	DISPLAY: block; WIDTH: 600px
}
.qPoints {
	DISPLAY: block; WIDTH: 600px
}
#pageMain .qTagRow SPAN.value {
	FONT-SIZE: 11px; COLOR: #777
}
#pageMain .qAuthorRowExtra SPAN.value {
	FONT-SIZE: 11px; COLOR: #777
}
#pageMain .qAuthorRow SPAN.value {
	FONT-SIZE: 11px; COLOR: #777
}
#pageMain .qPoints SPAN.value {
	FONT-SIZE: 11px; COLOR: #777
}
#pageMain .qZoneRow SPAN.value {
	FONT-SIZE: 11px; COLOR: #777
}
#pageMain .qTimeZoneRow SPAN.value {
	FONT-SIZE: 11px; COLOR: #777
}
.qAuthorRowExtra .knowledgeLevel {
	COLOR: #f47910
}
.qDateRow {
	MARGIN-BOTTOM: 8px
}
#pageMain .postComment .formFactory .formRow .formName {
	WIDTH: 80px
}
#pageMain .postComment .formFactory .formRow .formValue {
	WIDTH: 525px
}
#pageMain .postComment .verifyEmailButton {
	MARGIN-TOP: -10px
}
#pageMain .postComment .verifyEmailButton .t2i {
	DISPLAY: none
}
#pageMain .postComment .verifyEmailButton A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/xp/images/resendVerificationEmailButton.png); PADDING-BOTTOM: 0px; WIDTH: 199px; PADDING-TOP: 0px; HEIGHT: 40px
}
.IE #pageMain .postComment .verifyEmailButton A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/resendVerificationEmailButton.png',sizingMethod='crop')
}
#pageMain .backButton .bTypeA {
	MARGIN-RIGHT: 5px
}
#pageMain .backButton .t2i {
	DISPLAY: none
}
#pageMain .backButton A {
	BACKGROUND: url(/xp/images/buttons/medium/back_to_previous.png)
}
.IE #pageMain .backButton A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/back_to_previous.png',sizingMethod='crop')
}
#pageMain .blurredAnswer .bc {
	OVERFLOW: hidden; HEIGHT: 140px
}
#pageMain .signUpSpace {
	OVERFLOW: hidden; HEIGHT: 0px
}
#pageMain .signUpSpace .bSizeMedium {
	DISPLAY: none
}
#pageMain .hasMouseOver .infoBody {
	OVERFLOW: hidden; WIDTH: 520px; HEIGHT: 130px
}
.Firefox #pageMain .hasMouseOver .infoBody {
	MARGIN-LEFT: 17px
}
.IE #pageMain .hasMouseOver .infoBody {
	POSITION: relative; TOP: -99px
}
#pageMain .signUpSpaceVisible {
	OVERFLOW: hidden; HEIGHT: 140px
}
#pageMain .signUpSpaceVisible .subHeader {
	MARGIN-TOP: 4px; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: 7px; COLOR: #fb7b00
}
#pageMain .signUpSpaceVisible UL LI {
	PADDING-LEFT: 7px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/xp/images/bulletBlack.gif); MARGIN-LEFT: 5px
}
#pageMain .signUpSpaceVisible UL {
	MARGIN-BOTTOM: 17px
}
#pageMain .signUpSpaceVisible .signIn {
	FLOAT: left
}
#pageMain .signUpSpaceVisible .bSizeMedium {
	FLOAT: left
}
#pageMain .signUpSpaceVisible .signIn {
	FONT-SIZE: 12px; MARGIN-LEFT: 15px; LINE-HEIGHT: 24px
}
#pageMain .signUpSpaceVisible P {
	FONT-SIZE: 12px; MARGIN: 1em 0em 2.5em; COLOR: #656565
}
#pageMain .signUpSpaceVisible UL LI SPAN {
	FONT-WEIGHT: bold; COLOR: #656565
}
#pageMain .signUpSpaceVisible .blur {
	DISPLAY: none
}
#pageMain .blur {
	MARGIN-TOP: 20px; DISPLAY: block; Z-INDEX: 1; BACKGROUND: url(/xp/images/answerOverlay.png); WIDTH: 529px; POSITION: absolute; HEIGHT: 113px
}
.IE #pageMain .blur {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerOverlay.png',sizingMethod='crop')
}
#pageMain .signUpSpaceVisible .magnify {
	BACKGROUND: url(/xp/images/magGlass.jpg); FLOAT: right; WIDTH: 137px; HEIGHT: 138px
}
#pageMain .viewSolB {
	MARGIN-BOTTOM: -10px
}
#pageMain .hrTop {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px
}
#pageMain .paq .hrBottom {
	MARGIN-TOP: 11px
}
#pageMain .bookmarks {
	WIDTH: 183px
}
.IE #pageMain .bookmarks {
	WIDTH: 205px
}
.IE7 #pageMain .bookmarks {
	WIDTH: 205px
}
.Safari #pageMain .bookmarks {
	WIDTH: 186px
}
.Opera #pageMain .bookmarks {
	FLOAT: right
}
#pageMain .question .bookmarks {
	POSITION: relative; TOP: -4px
}
#pageMain .answers .bookmarks {
	TOP: 0px
}
#pageMain .bookmarks .bookmarksLabel {
	FLOAT: left; WIDTH: 60px; COLOR: #777; LINE-HEIGHT: 26px; TEXT-ALIGN: right
}
#pageMain .bookmarks .bookmarksLinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; BACKGROUND: url(/xp/images/bookmarksLinks.gif) no-repeat left top; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 117px; PADDING-TOP: 5px; HEIGHT: 21px
}
.IE #pageMain .bookmarks .bookmarksLinks {
	BACKGROUND-IMAGE: url(/xp/images/bookmarksLinksIE.gif); WIDTH: 139px
}
.IE7 #pageMain .bookmarks .bookmarksLinks {
	BACKGROUND-IMAGE: url(/xp/images/bookmarksLinksIE.gif); WIDTH: 139px
}
#pageMain .bookmarks .bookmarksLinks .bookmarksLink#deliciousButton {
	BACKGROUND-IMAGE: url(/xp/images/bookmarkDelicious.gif)
}
#pageMain .bookmarks .bookmarksLinks .bookmarksLink#diggButton {
	BACKGROUND-IMAGE: url(/xp/images/bookmarkDigg.gif)
}
#pageMain .bookmarks .bookmarksLinks .bookmarksLink#googleButton {
	BACKGROUND-IMAGE: url(/xp/images/bookmarkGoogle.gif)
}
#pageMain .bookmarks .bookmarksLinks .bookmarksLink#yahooButton {
	BACKGROUND-IMAGE: url(/xp/images/bookmarkYahoo.gif)
}
#pageMain .bookmarks .bookmarksLinks .bookmarksLink#technoratiButton {
	BACKGROUND-IMAGE: url(/xp/images/bookmarkTechnorati.gif)
}
#pageMain .bookmarks .bookmarksLinks .bookmarksLink#winLiveButton {
	BACKGROUND-IMAGE: url(/xp/images/bookmarkWinLive.gif)
}
#pageMain .viewSolutionLoggedInButton A {
	FLOAT: right
}
#pageMain .translationIcons {
	MARGIN-TOP: -5px; FLOAT: right; WIDTH: 295px
}
.IE #pageMain .translationIcons {
	MARGIN-TOP: 0px
}
.IE7 #pageMain .translationIcons {
	MARGIN-TOP: 0px
}
.Safari #pageMain .translationIcons {
	MARGIN-BOTTOM: 17px; WIDTH: 296px
}
#pageMain .asker .translationIcons {
	MARGIN-TOP: 3px
}
#pageMain .translationIcons .googleDiv {
	DISPLAY: block; BACKGROUND: url(/xp/images/poweredByGoogle.jpg); FLOAT: right; WIDTH: 116px; HEIGHT: 18px
}
#pageMain .translationIcons .translationIconsLabel {
	FLOAT: left; COLOR: #777; LINE-HEIGHT: 24px
}
#pageMain .translationIcons .translationIconsLinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; BACKGROUND: url(/xp/images/translationIconsLinks.gif) no-repeat left top; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 236px; PADDING-TOP: 4px; HEIGHT: 20px
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 21px; PADDING-TOP: 2px; HEIGHT: 13px
}
#pageMain .translationIcons .translationIconsLinks .currentTranslationIcon {
	BACKGROUND: url(/xp/images/translationIconsLink.gif) no-repeat left top
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink:hover {
	BACKGROUND: url(/xp/images/translationIconsLink.gif) no-repeat left top
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink SPAN {
	BACKGROUND-POSITION: left top; DISPLAY: block; WIDTH: 19px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 11px
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink#englishQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/englishIcon_dim.gif)
}
#pageMain .translationIcons .translationIconsLinks .currentTranslationIcon#englishQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/englishIcon.gif)
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink#frenchQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/frenchIcon_dim.gif)
}
#pageMain .translationIcons .translationIconsLinks .currentTranslationIcon#frenchQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/frenchIcon.gif)
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink#italianQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/italianIcon_dim.gif)
}
#pageMain .translationIcons .translationIconsLinks .currentTranslationIcon#italianQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/italianIcon.gif)
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink#spanishQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/spanishIcon_dim.gif)
}
#pageMain .translationIcons .translationIconsLinks .currentTranslationIcon#spanishQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/spanishIcon.gif)
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink#russianQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/russianIcon_dim.gif)
}
#pageMain .translationIcons .translationIconsLinks .currentTranslationIcon#russianQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/russianIcon.gif)
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink#koreanQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/koreanIcon_dim.gif)
}
#pageMain .translationIcons .translationIconsLinks .currentTranslationIcon#koreanQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/koreanIcon.gif)
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink#germanQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/germanIcon_dim.gif)
}
#pageMain .translationIcons .translationIconsLinks .currentTranslationIcon#germanQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/germanIcon.gif)
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink#arabicQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/arabicIcon_dim.gif)
}
#pageMain .translationIcons .translationIconsLinks .currentTranslationIcon#arabicQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/arabicIcon.gif)
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink#japaneseQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/japaneseIcon_dim.gif)
}
#pageMain .translationIcons .translationIconsLinks .currentTranslationIcon#japaneseQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/japaneseIcon.gif)
}
#pageMain .translationIcons .translationIconsLinks .translationIconsLink#chinese_simplifiedQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/chineseIcon_dim.gif)
}
#pageMain .translationIcons .translationIconsLinks .currentTranslationIcon#chinese_simplifiedQBody SPAN {
	BACKGROUND-IMAGE: url(/xp/images/chineseIcon.gif)
}
#pageMain .translationIcons {
	WIDTH: 168px
}
.Safari #pageMain .translationIcons {
	WIDTH: 170px
}
#pageMain .translationIcons FORM {
	FLOAT: right; LINE-HEIGHT: 24px; HEIGHT: 24px
}
#pageMain .translationIcons FORM SELECT {
	WIDTH: 115px; HEIGHT: 20px
}
.emailedAFriend .formRow {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.emailedAFriend .emailedHeader {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 10px; COLOR: #f81
}
.emailedAFriend .emailedHeader .email {
	COLOR: #888
}
.emailedAFriend .formRow .formName {
	WIDTH: 76px; COLOR: #888
}
.emailedAFriend .formRow .formValue {
	MARGIN-BOTTOM: 4px; WIDTH: 520px
}
.emailedAFriend .infoCol {
	DISPLAY: none
}
.emailedAFriend .infoBody {
	MARGIN-TOP: -14px; MARGIN-BOTTOM: -14px; MARGIN-LEFT: 0px
}
.emailedAFriend .emailAgainButtonContainer {
	MARGIN-BOTTOM: -14px; WIDTH: 100%
}
.emailedAFriend .emailAgainButton A {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.emailedAFriend .closeButtonTinyWithText {
	MARGIN-TOP: 5px; DISPLAY: block; BACKGROUND: url(/xp/images/closeButtonTinyWithText.png); OVERFLOW: hidden; WIDTH: 49px; TEXT-INDENT: -9999px; MARGIN-RIGHT: -8px; HEIGHT: 17px
}
.IE .emailedAFriend .closeButtonTinyWithText {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/closeButtonTinyWithText.png',sizingMethod='crop'); MARGIN-RIGHT: 0px
}
#pageMain .qPoints SPAN.name {
	FONT-SIZE: 11px; LINE-HEIGHT: 18px
}
#pageMain .qDateRow SPAN.name {
	FONT-SIZE: 11px; LINE-HEIGHT: 18px
}
#pageMain .qTagRow SPAN.name {
	FONT-SIZE: 11px; LINE-HEIGHT: 18px
}
#pageMain .qZoneRow SPAN.name {
	FONT-SIZE: 11px; LINE-HEIGHT: 18px
}
#pageMain .qAuthorRow SPAN.name {
	FONT-SIZE: 11px; LINE-HEIGHT: 18px
}
#pageMain .qAuthorRowExtra SPAN.name {
	FONT-SIZE: 11px; LINE-HEIGHT: 18px
}
#pageMain .qTimeZoneRow SPAN.name {
	FONT-SIZE: 11px; LINE-HEIGHT: 18px
}
#pageMain A.backToTopGray {
	DISPLAY: block; BACKGROUND: url(/xp/images/backToTopGray.png) no-repeat right top; FLOAT: right; OVERFLOW: hidden; WIDTH: 64px; TEXT-INDENT: -9999px; MARGIN-RIGHT: -5px; HEIGHT: 10px
}
.IE #pageMain A.backToTopGray {
	MARGIN-RIGHT: 0px
}
