.questionList .header {
	FONT-WEIGHT: bold
}
.questionList .nav .summary {
	FLOAT: left
}
.questionList .nav .pages {
	TEXT-ALIGN: right
}
.questionList .nav .pages LI {
	DISPLAY: inline; FONT-WEIGHT: bold
}
.questionList .nav .pages A {
	FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.questionList TH {
	WHITE-SPACE: nowrap
}
.questionList TD {
	WHITE-SPACE: nowrap
}
.questionList TH A.sort {
	PADDING-RIGHT: 10px; BACKGROUND: url(/images/sortAscending.gif) no-repeat right 50%
}
.questionList TH A.sortDesc {
	PADDING-RIGHT: 10px; BACKGROUND: url(/images/sortDescending.gif) no-repeat right 50%
}
.questionList TD.number {
	TEXT-ALIGN: right
}
.questionList TD .number {
	TEXT-ALIGN: right
}
.questionList .cc IMG {
	MARGIN-TOP: 3px; FLOAT: left; MARGIN-RIGHT: 4px
}
.questionList .cc SPAN.ccNum {
	DISPLAY: block; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.questionList DL {
	MARGIN: 0px
}
.questionList DL DT {
	FONT-WEIGHT: normal; FLOAT: left; FONT-STYLE: italic
}
.questionList .questionListResult {
	MARGIN: 1em auto
}
.questionList INPUT {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.questionList .highlighted {
	FONT-WEIGHT: bold
}
.questionListNavigationBar {
	MARGIN-TOP: 5px
}
.navigationSummary {
	FLOAT: left
}
.questionListSummary {
	DISPLAY: inline
}
.questionListNavigationBar UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.questionListNavigationBar LI {
	BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; MARGIN: 0px
}
.historyNav {
	FLOAT: right
}
.historyNav SPAN {
	DISPLAY: block; FLOAT: left
}
