.questionList {
	MARGIN-TOP: -8px
}
.questionList .header {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 1.3em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.questionList .nav {
	DISPLAY: none
}
.questionList TABLE {
	BACKGROUND: url(/xp/images/questionListTableBg.gif) repeat-x left bottom; OVERFLOW: hidden; WIDTH: 100%; BORDER-COLLAPSE: collapse; border-spacing: 0
}
.questionList TR {
	BACKGROUND: url(/xp/images/questionListRowBg.gif) repeat-x left top; VERTICAL-ALIGN: middle
}
.IE .questionList TR {
	OVERFLOW: hidden
}
.questionList .on {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: transparent
}
.questionList TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 25px; TEXT-ALIGN: left
}
.questionList TH {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 25px; TEXT-ALIGN: left
}
.questionList TH {
	PADDING-RIGHT: 0px
}
.myQuestions .questionList TD.index SPAN.ieHackDiv SPAN {
	BACKGROUND: url(/xp/images/questionListColumnSpacer.png) no-repeat right 7px
}
.myQuestions .notIE6orSafari .questionList TD.index {
	BACKGROUND: url(/xp/images/questionListColumnSpacer.png) no-repeat right 7px
}
.questionList TD SPAN.ieHackDiv SPAN {
	BACKGROUND: url(/xp/images/questionListColumnSpacer.png) no-repeat right 7px
}
.notIE6orSafari .questionList TD {
	BACKGROUND: url(/xp/images/questionListColumnSpacer.png) no-repeat right 7px
}
.questionList TD.last SPAN.ieHackDiv SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.questionList TD.index SPAN.ieHackDiv SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.notIE6orSafari .questionList TD.last {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.notIE6orSafari .questionList TD.index {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.questionList TD SPAN.ieHack {
	DISPLAY: block; WIDTH: 100%; LINE-HEIGHT: 25px; HEIGHT: 25px
}
.questionList TD SPAN.ieHackDiv {
	LEFT: 7px; FLOAT: right; WIDTH: 0px; POSITION: relative; TOP: -25px; HEIGHT: 0px
}
.questionList TD SPAN.ieHackDiv SPAN {
	DISPLAY: inline-block; WIDTH: 1px; PADDING-TOP: 7px; POSITION: absolute; HEIGHT: 11px
}
.questionList TH A {
	FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.questionList TD A {
	COLOR: #333
}
.questionList TD A:hover {
	COLOR: #ff7a00
}
.questionList TD.number A {
	TEXT-DECORATION: none
}
.questionList TH A {
	FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.questionList TD A {
	COLOR: #333
}
.questionList TD A:hover {
	COLOR: #ff7a00
}
.questionList TD.number A {
	TEXT-DECORATION: none
}
.questionList TD .currency {
	FLOAT: left
}
.questionList .index {
	PADDING-RIGHT: 1px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; WIDTH: 21px; COLOR: #b4bfcb
}
.questionList .ta {
	OVERFLOW: hidden; WIDTH: 120px
}
.questionList .views {
	WIDTH: 40px
}
.questionListMoreSolutions {
	MARGIN: 10px 0px 15px; TEXT-ALIGN: right
}
.questionListMoreSolutions A {
	PADDING-LEFT: 7px; FLOAT: right
}
.questionListMoreSolutions {
	HEIGHT: 1em
}
.questionListMoreSolutions SPAN {
	MARGIN-TOP: 5px; DISPLAY: block; BACKGROUND: url(/xp/images/smallArrow.png) no-repeat left top; FLOAT: right; WIDTH: 5px; HEIGHT: 5px
}
.IE .questionListMoreSolutions SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/smallArrow.png',sizingMethod='image')
}
.questionListWhite .questionList TR {
	BACKGROUND-IMAGE: url(/xp/images/questionListRowBgTrans.gif); BACKGROUND-COLOR: #f5f5f5
}
.questionListWhite .questionList .on {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: white
}
.questionListNavigationBarContainer {
	BACKGROUND: url(/xp/images/questionListNavigationBarContainer.gif) no-repeat left top
}
.questionListNavigationBar {
	PADDING-RIGHT: 3px; MARGIN-TOP: 17px; PADDING-LEFT: 7px; BACKGROUND: url(/xp/images/questionListNavigationBar.gif) no-repeat right top; PADDING-BOTTOM: 0px; COLOR: #8b8c8e; PADDING-TOP: 6px; HEIGHT: 25px
}
.questionListNavigationBar .navigationSummary {
	FLOAT: left; PADDING-TOP: 3px
}
.questionListNavigationBar .historyNav {
	FLOAT: right
}
.historyNav SPAN {
	DISPLAY: block; FLOAT: left; PADDING-TOP: 3px
}
.historyNav .questionListPages {
	FLOAT: left
}
.historyNav UL {
	FLOAT: left
}
.historyNav LI {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 6px; BACKGROUND: url(/xp/images/questionListColumnSpacer.png) no-repeat 0px 5px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #999; PADDING-TOP: 3px; HEIGHT: 15px
}
.historyNav LI A {
	FONT-WEIGHT: normal; COLOR: #999; TEXT-DECORATION: underline
}
.historyNav LI.first {
	BACKGROUND-IMAGE: none
}
.historyNav LI.firstPage {
	BACKGROUND-IMAGE: none
}
.historyNav LI.previousPage {
	BACKGROUND-IMAGE: none
}
.historyNav LI.nextPage {
	BACKGROUND-IMAGE: none
}
.historyNav LI.lastPage {
	BACKGROUND-IMAGE: none
}
.historyNav LI.firstPage {
	WIDTH: 18px; PADDING-TOP: 0px; HEIGHT: 18px
}
.historyNav LI.previousPage {
	WIDTH: 18px; PADDING-TOP: 0px; HEIGHT: 18px
}
.historyNav LI.nextPage {
	WIDTH: 18px; PADDING-TOP: 0px; HEIGHT: 18px
}
.historyNav LI.lastPage {
	WIDTH: 18px; PADDING-TOP: 0px; HEIGHT: 18px
}
.historyNav LI.firstPage A {
	BACKGROUND-POSITION: left top; DISPLAY: block; OVERFLOW: hidden; WIDTH: 18px; TEXT-INDENT: -10000px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px
}
.historyNav LI.previousPage A {
	BACKGROUND-POSITION: left top; DISPLAY: block; OVERFLOW: hidden; WIDTH: 18px; TEXT-INDENT: -10000px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px
}
.historyNav LI.nextPage A {
	BACKGROUND-POSITION: left top; DISPLAY: block; OVERFLOW: hidden; WIDTH: 18px; TEXT-INDENT: -10000px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px
}
.historyNav LI.lastPage A {
	BACKGROUND-POSITION: left top; DISPLAY: block; OVERFLOW: hidden; WIDTH: 18px; TEXT-INDENT: -10000px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px
}
.historyNav LI.firstPage A {
	BACKGROUND-IMAGE: url(/xp/images/firstPageButton.gif)
}
.historyNav LI.previousPage A {
	BACKGROUND-IMAGE: url(/xp/images/previousPageButton.gif)
}
.historyNav LI.nextPage A {
	BACKGROUND-IMAGE: url(/xp/images/nextPageButton.gif)
}
.historyNav LI.lastPage A {
	BACKGROUND-IMAGE: url(/xp/images/lastPageButton.gif)
}
.historyNav LI.currentPage {
	COLOR: #3f3f3f
}
.expertNav {
	BORDER-RIGHT: #e9e9e9 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #e9e9e9 1px solid; MARGIN-TOP: 12px; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #e9e9e9 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #e9e9e9 1px solid
}
.expertNav .questionListNav {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #f5f5f5; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 17px
}
.expertNav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/xp/images/questionListColumnSpacer.png) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 20px; COLOR: #ff6535; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.expertNav .questionListSummary {
	FLOAT: left
}
.expertNav .questionListPages {
	MARGIN-TOP: 3px; FLOAT: right
}
.expertNav .firstPage {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.expertNav .nextPage {
	DISPLAY: none
}
.expertNav .lastPage A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; COLOR: #ff6535; PADDING-TOP: 0px; POSITION: relative; TOP: -2px; TEXT-DECORATION: none
}
.myQuestions .questionList TD.column2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; WIDTH: 22px; PADDING-TOP: 0px
}
.myQuestions .questionList TH.column2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; WIDTH: 22px; PADDING-TOP: 0px
}
.myQuestions .questionList TD.column2 SPAN.ieHackDiv {
	LEFT: 4px
}
.myQuestions .questionList TD.index {
	PADDING-RIGHT: 5px
}
.myQuestions .questionList TD.index SPAN.ieHackDiv {
	LEFT: 4px
}
.myQuestions .questionList TD.column2 {
	WIDTH: 22px
}
.myQuestions .questionList TD.column3 {
	WIDTH: 58px
}
.myQuestions .questionList TD.column4 {
	WIDTH: 32px
}
.myQuestions .questionList TD.column6 {
	WIDTH: 52px
}
.myQuestions .questionList .ta {
	WIDTH: 82px
}
.myQuestions .questionList TD.column8 {
	WIDTH: 154px
}
.myQuestions .questionList DIV.questionIcon {
	MARGIN-TOP: 2px; FONT-SIZE: 0px; MARGIN-BOTTOM: 2px; WIDTH: 21px; LINE-HEIGHT: 0; HEIGHT: 21px
}
.Safari .myQuestions .questionList DIV.questionIcon {
	BACKGROUND-POSITION: 0px 2px; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
DIV.questionIconAdminComment {
	BACKGROUND: url(/xp/images/questionIconAdminComment.png) no-repeat left top
}
SPAN.questionIconAdminComment {
	BACKGROUND: url(/xp/images/questionIconAdminComment.png) no-repeat left top
}
.IE DIV.questionIconAdminComment {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/questionIconAdminComment.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.IE SPAN.questionIconAdminComment {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/questionIconAdminComment.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
DIV.questionIconUserComment {
	BACKGROUND: url(/xp/images/questionIconUserComment.png) no-repeat left top
}
SPAN.questionIconUserComment {
	BACKGROUND: url(/xp/images/questionIconUserComment.png) no-repeat left top
}
.IE DIV.questionIconUserComment {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/questionIconUserComment.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.IE SPAN.questionIconUserComment {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/questionIconUserComment.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
DIV.questionIconExpertComment {
	BACKGROUND: url(/xp/images/questionIconExpertComment.png) no-repeat left top
}
SPAN.questionIconExpertComment {
	BACKGROUND: url(/xp/images/questionIconExpertComment.png) no-repeat left top
}
.IE DIV.questionIconExpertComment {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/questionIconExpertComment.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.IE SPAN.questionIconExpertComment {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/questionIconExpertComment.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
DIV.questionIconProposedSolution {
	BACKGROUND: url(/xp/images/questionIconProposedSolution.png) no-repeat left top
}
SPAN.questionIconProposedSolution {
	BACKGROUND: url(/xp/images/questionIconProposedSolution.png) no-repeat left top
}
.IE DIV.questionIconProposedSolution {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/questionIconProposedSolution.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.IE SPAN.questionIconProposedSolution {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/questionIconProposedSolution.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
DIV.questionIconAcceptedSolution {
	BACKGROUND: url(/xp/images/questionIconAcceptedSolution.png) no-repeat left top
}
SPAN.questionIconAcceptedSolution {
	BACKGROUND: url(/xp/images/questionIconAcceptedSolution.png) no-repeat left top
}
.IE DIV.questionIconAcceptedSolution {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/questionIconAcceptedSolution.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.IE SPAN.questionIconAcceptedSolution {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/questionIconAcceptedSolution.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
DIV.questionIconNeglectedQuestion {
	BACKGROUND: url(/xp/images/questionIconNeglectedQuestion.png) no-repeat left top
}
SPAN.questionIconNeglectedQuestion {
	BACKGROUND: url(/xp/images/questionIconNeglectedQuestion.png) no-repeat left top
}
.IE DIV.questionIconNeglectedQuestion {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/questionIconNeglectedQuestion.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.IE SPAN.questionIconNeglectedQuestion {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/questionIconNeglectedQuestion.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
LI SPAN.questionIconAdminComment {
	DISPLAY: block; PADDING-LEFT: 25px; FONT-SIZE: 10px; COLOR: #8b8c8e; PADDING-TOP: 4px; LETTER-SPACING: -1px; HEIGHT: 17px
}
LI SPAN.questionIconUserComment {
	DISPLAY: block; PADDING-LEFT: 25px; FONT-SIZE: 10px; COLOR: #8b8c8e; PADDING-TOP: 4px; LETTER-SPACING: -1px; HEIGHT: 17px
}
LI SPAN.questionIconExpertComment {
	DISPLAY: block; PADDING-LEFT: 25px; FONT-SIZE: 10px; COLOR: #8b8c8e; PADDING-TOP: 4px; LETTER-SPACING: -1px; HEIGHT: 17px
}
LI SPAN.questionIconProposedSolution {
	DISPLAY: block; PADDING-LEFT: 25px; FONT-SIZE: 10px; COLOR: #8b8c8e; PADDING-TOP: 4px; LETTER-SPACING: -1px; HEIGHT: 17px
}
LI SPAN.questionIconAcceptedSolution {
	DISPLAY: block; PADDING-LEFT: 25px; FONT-SIZE: 10px; COLOR: #8b8c8e; PADDING-TOP: 4px; LETTER-SPACING: -1px; HEIGHT: 17px
}
LI SPAN.questionIconNeglectedQuestion {
	DISPLAY: block; PADDING-LEFT: 25px; FONT-SIZE: 10px; COLOR: #8b8c8e; PADDING-TOP: 4px; LETTER-SPACING: -1px; HEIGHT: 17px
}
UL.questionIconList {
	MARGIN: 10px 0px 0px; HEIGHT: 21px
}
UL.questionIconList LI {
	DISPLAY: block; PADDING-LEFT: 7px; BACKGROUND: url(/xp/images/questionIconListSpacer.gif) no-repeat left 4px; FLOAT: left; MARGIN-RIGHT: 7px; HEIGHT: 21px
}
.IE UL.questionIconList LI {
	WIDTH: 0px; WHITE-SPACE: nowrap
}
UL.questionIconList LI.first {
	PADDING-LEFT: 0px; BACKGROUND-IMAGE: none
}
.questionListZoneIcons .questionList TR {
	BACKGROUND-IMAGE: url(/xp/images/questionListRowBgTall2.gif); HEIGHT: 34px
}
.questionListZoneIcons .notIE6orSafari .questionList TD {
	BACKGROUND-POSITION: right 12px
}
.questionListZoneIcons .questionList TD SPAN.ieHack {
	LINE-HEIGHT: 34px; HEIGHT: 34px
}
.questionListZoneIcons .questionList TD SPAN.ieHackDiv {
	TOP: -34px
}
.questionListZoneIcons .questionList TD SPAN.ieHackDiv SPAN {
	BACKGROUND-POSITION: right 12px; PADDING-TOP: 12px
}
.questionList A.kbAdd {
	MARGIN-TOP: 7px; DISPLAY: block; BACKGROUND: url(/xp/images/kbEditButton.png) no-repeat left top; FLOAT: left; MARGIN-BOTTOM: 7px; OVERFLOW: hidden; WIDTH: 31px; TEXT-INDENT: -9999px; HEIGHT: 20px
}
.questionList A.kbEdit {
	MARGIN-TOP: 7px; DISPLAY: block; BACKGROUND: url(/xp/images/kbEditButton.png) no-repeat left top; FLOAT: left; MARGIN-BOTTOM: 7px; OVERFLOW: hidden; WIDTH: 31px; TEXT-INDENT: -9999px; HEIGHT: 20px
}
.IE .questionList A.kbAdd {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/kbEditButton.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.IE .questionList A.kbEdit {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/kbEditButton.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList A.kbRemove {
	MARGIN-TOP: 7px; DISPLAY: block; BACKGROUND: url(/xp/images/kbRemoveButton.png) no-repeat left top; FLOAT: left; MARGIN-BOTTOM: 7px; OVERFLOW: hidden; WIDTH: 46px; TEXT-INDENT: -9999px; HEIGHT: 20px
}
.IE .questionList A.kbRemove {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/kbRemoveButton.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.knowledgebaseSection .questionList TH.column5 {
	PADDING-RIGHT: 5px; WIDTH: 77px
}
.knowledgebaseSection .questionList TD.column5 {
	PADDING-RIGHT: 5px; WIDTH: 77px
}
FORM.listDisplayCountForm {
	FONT-WEIGHT: normal; FONT-SIZE: 11px
}
.IE FORM.listDisplayCountForm {
	FONT-SIZE: 11px; POSITION: relative; TOP: 2px
}
.IE FORM.listDisplayCountForm SELECT {
	POSITION: relative; TOP: 2px
}
.Opera FORM.listDisplayCountForm SELECT {
	POSITION: relative; TOP: 1px
}
.questionList SPAN.creditCardSmall {
	MARGIN-TOP: -6px; BACKGROUND: url(/xp/images/creditCardSmall.png) no-repeat; MARGIN-LEFT: 10px; WIDTH: 42px; MARGIN-RIGHT: 0px; HEIGHT: 21px
}
.IE .questionList SPAN.creditCardSmall {
	MARGIN-LEFT: 5px
}
.IE .questionList SPAN.creditCardSmall {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:dximagetransform.microsoft.alphaimageloader(enabled=true, sizingmethod='image', src='/xp/images/creditCardSmall.png')
}
A.addToKb {
	MARGIN-TOP: 3px; DISPLAY: block; BACKGROUND: url(/xp/images/addToKnowledgebase.png) no-repeat left top; FLOAT: left; OVERFLOW: hidden; WIDTH: 106px; TEXT-INDENT: -9999px; HEIGHT: 20px
}
.IE A.addToKb {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/addToKnowledgebase.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
A.removeFromList {
	MARGIN-TOP: 3px; DISPLAY: block; BACKGROUND: url(/xp/images/removeFromList.png) no-repeat left top; FLOAT: right; MARGIN-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 46px; TEXT-INDENT: -9999px; HEIGHT: 20px
}
.IE A.removeFromList {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/removeFromList.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .listButton {
	MARGIN-TOP: 1px; DISPLAY: block; BACKGROUND: no-repeat left top; FLOAT: left; OVERFLOW: hidden; TEXT-INDENT: -9999px; HEIGHT: 21px
}
.questionList .buttonEdit {
	MARGIN-TOP: 3px; BACKGROUND-IMAGE: url(/xp/images/editButton.png); WIDTH: 31px
}
.IE .questionList .buttonEdit {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/editButton.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonUpdate {
	MARGIN-TOP: 3px; BACKGROUND-IMAGE: url(/xp/images/updateButton.png); WIDTH: 51px
}
.IE .questionList .buttonUpdate {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/updateButton.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonRun {
	MARGIN-TOP: 3px; BACKGROUND-IMAGE: url(/xp/images/runButton.png); WIDTH: 31px; MARGIN-RIGHT: 3px
}
.IE .questionList .buttonRun {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/runButton.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonRemove {
	MARGIN-TOP: 3px; BACKGROUND-IMAGE: url(/xp/images/removeReddish.png); MARGIN-LEFT: 3px; WIDTH: 46px
}
.IE .questionList .buttonRemove {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/removeReddish.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonOn {
	BACKGROUND-IMAGE: url(/xp/images/on_button.png); MARGIN-LEFT: 1px; WIDTH: 21px
}
.IE .questionList .buttonOn {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/on_button.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonOff {
	BACKGROUND-IMAGE: url(/xp/images/off_button.png); MARGIN-LEFT: 1px; WIDTH: 21px
}
.IE .questionList .buttonOff {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/off_button.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonMoveTop {
	BACKGROUND-IMAGE: url(/xp/images/moveTop.png); WIDTH: 20px
}
.IE .questionList .buttonMoveTop {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/moveTop.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonMoveTopBlur {
	BACKGROUND-IMAGE: url(/xp/images/moveTopBlur.png); WIDTH: 20px
}
.IE .questionList .buttonMoveTopBlur {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/moveTopBlur.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonMoveUp {
	BACKGROUND-IMAGE: url(/xp/images/moveUp.png); WIDTH: 20px
}
.IE .questionList .buttonMoveUp {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/moveUp.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonMoveUpBlur {
	BACKGROUND-IMAGE: url(/xp/images/moveUpBlur.png); WIDTH: 20px
}
.IE .questionList .buttonMoveUpBlur {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/moveUpBlur.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonMoveDown {
	BACKGROUND-IMAGE: url(/xp/images/moveDown.png); WIDTH: 20px
}
.IE .questionList .buttonMoveDown {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/moveDown.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonMoveDownBlur {
	BACKGROUND-IMAGE: url(/xp/images/moveDownBlur.png); WIDTH: 20px
}
.IE .questionList .buttonMoveDownBlur {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/moveDownBlur.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonMoveBottom {
	BACKGROUND-IMAGE: url(/xp/images/moveBottom.png); WIDTH: 20px
}
.IE .questionList .buttonMoveBottom {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/moveBottom.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList .buttonMoveBottomBlur {
	BACKGROUND-IMAGE: url(/xp/images/moveBottomBlur.png); WIDTH: 20px
}
.IE .questionList .buttonMoveBottomBlur {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/moveBottomBlur.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
.questionList SPAN.selected {
	COLOR: #35ee37
}
.questionList SPAN.notSelected {
	COLOR: #ff2704
}
.multiLine .questionList TR {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(/xp/images/questionListRowBgShirt.gif); WHITE-SPACE: normal
}
.multiLine .questionList .on {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(/xp/images/questionListRowBgShirt.gif); WHITE-SPACE: normal
}
.multiLine .questionList TD {
	BORDER-LEFT: #e9e9e9 1px solid; WHITE-SPACE: normal
}
.multiLine .questionList TD.column1 {
	WHITE-SPACE: normal; BORDER-LEFT-STYLE: none
}
.multiLine .questionList SPAN {
	DISPLAY: none
}
.multiLine .questionList SPAN SPAN {
	DISPLAY: none
}
.multiLine .questionList TD SPAN.ieHack {
	LINE-HEIGHT: 15px; HEIGHT: auto
}
.Firefox .multiLine .questionList TD {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.Opera .multiLine .questionList TD {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
