.questionHeader .title {
	FONT-WEIGHT: bold
}
.qbox {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px; TEXT-ALIGN: center
}
.asker {
	POSITION: relative
}
.viewQuestionElementQuestionType {
	RIGHT: 0px; BOTTOM: 0px; POSITION: absolute
}
.viewSolutionButton {
	MARGIN-BOTTOM: 10px; TEXT-ALIGN: right
}
.bTextRelatedSolutions {
	CLEAR: both; FLOAT: right; MARGIN-BOTTOM: 10px
}
.qAsker SPAN {
	FONT-WEIGHT: bold; MARGIN-LEFT: 10px
}
.qDate SPAN {
	FONT-WEIGHT: bold
}
#pageMain .qBody {
	MARGIN-BOTTOM: 15px
}
#pageMain .qPoints {
	MARGIN-BOTTOM: 9px
}
#pageMain .qTagRow {
	MARGIN-BOTTOM: 9px
}
#pageMain .qZoneRow {
	MARGIN-BOTTOM: 9px
}
#pageMain .qAuthorRow {
	MARGIN-BOTTOM: 9px
}
#pageMain .qAuthorRowExtra {
	MARGIN-BOTTOM: 9px
}
#pageMain .qTimeZoneRow {
	MARGIN-BOTTOM: 9px
}
.Firefox #pageMain .lastRow {
	MARGIN-BOTTOM: 10px
}
.Opera #pageMain .lastRow {
	MARGIN-BOTTOM: 10px
}
#pageMain .qTitle SPAN.name {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 15px; FLOAT: left; WIDTH: 80px; TEXT-ALIGN: right
}
#pageMain .qPoints SPAN.name {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 15px; FLOAT: left; WIDTH: 80px; TEXT-ALIGN: right
}
#pageMain .qBody SPAN.name {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 15px; FLOAT: left; WIDTH: 80px; TEXT-ALIGN: right
}
#pageMain .qDateRow SPAN.name {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 15px; FLOAT: left; WIDTH: 80px; TEXT-ALIGN: right
}
#pageMain .qTagRow SPAN.name {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 15px; FLOAT: left; WIDTH: 80px; TEXT-ALIGN: right
}
#pageMain .qZoneRow SPAN.name {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 15px; FLOAT: left; WIDTH: 80px; TEXT-ALIGN: right
}
#pageMain .qAuthorRow SPAN.name {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 15px; FLOAT: left; WIDTH: 80px; TEXT-ALIGN: right
}
#pageMain .qTimeZoneRow SPAN.name {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 15px; FLOAT: left; WIDTH: 80px; TEXT-ALIGN: right
}
#pageMain .qTitle SPAN.value {
	DISPLAY: block; FONT-SIZE: 12px; MARGIN-LEFT: 90px
}
#pageMain .qPoints SPAN.value {
	DISPLAY: block; FONT-SIZE: 12px; MARGIN-LEFT: 90px
}
#pageMain .qBody SPAN.value {
	DISPLAY: block; FONT-SIZE: 12px; MARGIN-LEFT: 90px
}
#pageMain .qDateRow SPAN.value {
	DISPLAY: block; FONT-SIZE: 12px; MARGIN-LEFT: 90px
}
#pageMain .qTagRow SPAN.value {
	DISPLAY: block; FONT-SIZE: 12px; MARGIN-LEFT: 90px
}
#pageMain .qZoneRow SPAN.value {
	DISPLAY: block; FONT-SIZE: 12px; MARGIN-LEFT: 90px
}
#pageMain .qAuthorRow SPAN.value {
	DISPLAY: block; FONT-SIZE: 12px; MARGIN-LEFT: 90px
}
#pageMain .qAuthorRowExtra SPAN.value {
	DISPLAY: block; FONT-SIZE: 12px; MARGIN-LEFT: 90px
}
#pageMain .qTimeZoneRow SPAN.value {
	DISPLAY: block; FONT-SIZE: 12px; MARGIN-LEFT: 90px
}
.IE #pageMain .qTitle SPAN.value {
	MARGIN-LEFT: 87px
}
.IE #pageMain .qPoints SPAN.value {
	MARGIN-LEFT: 87px
}
.IE #pageMain .qBody SPAN.value {
	MARGIN-LEFT: 87px
}
.IE #pageMain .qDateRow SPAN.value {
	MARGIN-LEFT: 87px
}
.IE #pageMain .qTagRow SPAN.value {
	MARGIN-LEFT: 87px
}
.IE #pageMain .qZoneRow SPAN.value {
	MARGIN-LEFT: 87px
}
.IE #pageMain .qAuthorRow SPAN.value {
	MARGIN-LEFT: 87px
}
.IE #pageMain .qAuthorRowExtra SPAN.value {
	MARGIN-LEFT: 87px
}
.IE #pageMain .qTimeZoneRow SPAN.value {
	MARGIN-LEFT: 87px
}
#pageMain .qTitle SPAN.value {
	FONT-WEIGHT: bold; FONT-SIZE: 15px
}
#pageMain .qAuthorRowExtra {
	MARGIN-TOP: -10px
}
#pageMain .qTagRow SPAN.value {
	LINE-HEIGHT: 18px
}
#pageMain .qZoneRow SPAN.value {
	LINE-HEIGHT: 18px
}
#pageMain .qAuthorRow SPAN.value {
	LINE-HEIGHT: 18px
}
#pageMain .qTimeZoneRow SPAN.value {
	LINE-HEIGHT: 18px
}
#pageMain .qPoints SPAN.value {
	LINE-HEIGHT: 18px
}
#pageMain .qAuthorRowExtra SPAN.value {
	LINE-HEIGHT: 18px
}
#pageMain DIV.asker {
	MARGIN-LEFT: 90px; COLOR: #888
}
#pageMain A.asker {
	FONT-WEIGHT: bold
}
#pageMain DIV.paq {
	TEXT-ALIGN: left
}
#pageMain .questionButtons .bTypeA {
	FLOAT: right; MARGIN-LEFT: -3px
}
.sectionChoiceFirst .bc {
	MARGIN-TOP: 10px; HEIGHT: 100px
}
.sectionChoiceLast .bc {
	MARGIN-TOP: 20px; MARGIN-LEFT: 45px; HEIGHT: 90px
}
.sectionChoice .sectionChoiceLast {
	MARGIN-LEFT: 17px
}
.sectionChoice .sectionChoiceFirst {
	WIDTH: 375px
}
.lookItUp {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 10px
}
.sectionChoice .sectionChoiceLast {
	WIDTH: 280px
}
.sectionChoiceLast .bc P {
	MARGIN-TOP: 10px; PADDING-LEFT: 5px; FONT-WEIGHT: bold
}
.sectionChoiceOr {
	LEFT: 355px; TOP: 50px
}
.googleUser {
	MARGIN: 15px auto 20px; WIDTH: 601px; HEIGHT: 179px
}
.qGBody {
	FONT-SIZE: 12px; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 80px; WIDTH: 590px
}
.googleUser .keywords {
	MARGIN-LEFT: auto; MARGIN-RIGHT: 17px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.googleUser .keywords SPAN {
	FONT-WEIGHT: bold
}
.googleUser .results {
	MARGIN-TOP: 15px; MARGIN-LEFT: 250px
}
.googleUser .more {
	MARGIN-TOP: 10px; MARGIN-RIGHT: 20px; TEXT-ALIGN: right
}
.answers .answer .infoCol P {
	TEXT-ALIGN: center
}
.answers .answer .bc .footnote {
	PADDING-BOTTOM: 5px; TEXT-ALIGN: right
}
#pageMain .postComment #answerType_20 {
	MARGIN-LEFT: 10px
}
#pageMain .postComment #answerType_40 {
	MARGIN-LEFT: 10px
}
#pageMain .postComment .maxPoints STRONG {
	FONT-WEIGHT: bold
}
#pageMain .postComment .availablePoints STRONG {
	FONT-WEIGHT: bold
}
#pageMain .postComment .verify {
	FONT-WEIGHT: bold
}
#pageMain .postComment .emailAddress {
	FONT-WEIGHT: bold
}
#pageMain .postComment .verify {
	MARGIN-BOTTOM: 5px
}
#pageMain .postComment .highlight {
	COLOR: #f60
}
#pageMain .postComment .availablePoints {
	MARGIN-LEFT: 1em
}
#pageMain .postComment .formFactory .formSubmit UL {
	FLOAT: left
}
#pageMain .postComment .formFactory .formSubmit UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.IE #pageMain .postComment .formFactory .formSubmit UL LI {
	WIDTH: 0px
}
.IE7 #pageMain .postComment .formFactory .formSubmit UL LI {
	WIDTH: 160px
}
#pageMain .postComment .formFactory .formSubmit UL LI.edit {
	MARGIN-RIGHT: 10px
}
#pageMain .gap {
	MARGIN-BOTTOM: 27px
}
#pageMain .liBookmark {
	FLOAT: right
}
#pageMain .bookmarks {
	OVERFLOW: hidden
}
#pageMain .bookmarks .bookmarksLabel {
	FLOAT: left; COLOR: #777
}
#pageMain .bookmarks .bookmarksLinks {
	FLOAT: right
}
#pageMain .bookmarks .bookmarksLinks .bookmarksLink {
	BACKGROUND-POSITION: left top; DISPLAY: block; FLOAT: left; MARGIN-LEFT: 6px; WIDTH: 16px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 16px
}
