.rankIcon {
	DISPLAY: block; WIDTH: 83px; HEIGHT: 84px
}
.male .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMale.png) no-repeat left top
}
.male .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMale.png) no-repeat left top
}
.IE .male .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMale.png',sizingMethod='crop')
}
.IE .male .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMale.png',sizingMethod='crop')
}
.maleMaster .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleMaster.png) no-repeat left top
}
.maleMaster .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleMaster.png) no-repeat left top
}
.IE .maleMaster .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleMaster.png',sizingMethod='crop')
}
.IE .maleMaster .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleMaster.png',sizingMethod='crop')
}
.maleGuru .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleGuru.png) no-repeat left top
}
.maleGuru .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleGuru.png) no-repeat left top
}
.IE .maleGuru .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleGuru.png',sizingMethod='crop')
}
.IE .maleGuru .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleGuru.png',sizingMethod='crop')
}
.maleWizard .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleWizard.png) no-repeat left top
}
.maleWizard .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleWizard.png) no-repeat left top
}
.IE .maleWizard .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleWizard.png',sizingMethod='crop')
}
.IE .maleWizard .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleWizard.png',sizingMethod='crop')
}
.maleSage .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleSage.png) no-repeat left top
}
.maleSage .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleSage.png) no-repeat left top
}
.IE .maleSage .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleSage.png',sizingMethod='crop')
}
.IE .maleSage .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleSage.png',sizingMethod='crop')
}
.maleGenius .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleGenius.png) no-repeat left top
}
.maleGenius .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleGenius.png) no-repeat left top
}
.IE .maleGenius .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleGenius.png',sizingMethod='crop')
}
.IE .maleGenius .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleGenius.png',sizingMethod='crop')
}
.maleSavant .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleSavant.png) no-repeat left top
}
.maleSavant .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleSavant.png) no-repeat left top
}
.IE .maleSavant .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleSavant.png',sizingMethod='crop')
}
.IE .maleSavant .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleSavant.png',sizingMethod='crop')
}
.maleElite .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleElite.png) no-repeat left top
}
.maleElite .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleElite.png) no-repeat left top
}
.IE .maleElite .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleElite.png',sizingMethod='crop')
}
.IE .maleElite .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleElite.png',sizingMethod='crop')
}
.maleTechnocrat .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleTechnocrat.png) no-repeat left top
}
.maleTechnocrat .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleTechnocrat.png) no-repeat left top
}
.IE .maleTechnocrat .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleTechnocrat.png',sizingMethod='crop')
}
.IE .maleTechnocrat .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleTechnocrat.png',sizingMethod='crop')
}
.maleLegend .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleLegend.png) no-repeat left top
}
.maleLegend .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconMaleLegend.png) no-repeat left top
}
.IE .maleLegend .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleLegend.png',sizingMethod='crop')
}
.IE .maleLegend .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconMaleLegend.png',sizingMethod='crop')
}
.female .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemale.png) no-repeat left top
}
.female .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemale.png) no-repeat left top
}
.IE .female .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemale.png',sizingMethod='crop')
}
.IE .female .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemale.png',sizingMethod='crop')
}
.femaleMaster .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleMaster.png) no-repeat left top
}
.femaleMaster .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleMaster.png) no-repeat left top
}
.IE .femaleMaster .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleMaster.png',sizingMethod='crop')
}
.IE .femaleMaster .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleMaster.png',sizingMethod='crop')
}
.femaleGuru .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleGuru.png) no-repeat left top
}
.femaleGuru .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleGuru.png) no-repeat left top
}
.IE .femaleGuru .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleGuru.png',sizingMethod='crop')
}
.IE .femaleGuru .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleGuru.png',sizingMethod='crop')
}
.femaleWizard .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleWizard.png) no-repeat left top
}
.femaleWizard .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleWizard.png) no-repeat left top
}
.IE .femaleWizard .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleWizard.png',sizingMethod='crop')
}
.IE .femaleWizard .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleWizard.png',sizingMethod='crop')
}
.femaleSage .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleSage.png) no-repeat left top
}
.femaleSage .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleSage.png) no-repeat left top
}
.IE .femaleSage .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleSage.png',sizingMethod='crop')
}
.IE .femaleSage .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleSage.png',sizingMethod='crop')
}
.femaleGenius .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleGenius.png) no-repeat left top
}
.femaleGenius .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleGenius.png) no-repeat left top
}
.IE .femaleGenius .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleGenius.png',sizingMethod='crop')
}
.IE .femaleGenius .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleGenius.png',sizingMethod='crop')
}
.femaleSavant .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleSavant.png) no-repeat left top
}
.femaleSavant .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleSavant.png) no-repeat left top
}
.IE .femaleSavant .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleSavant.png',sizingMethod='crop')
}
.IE .femaleSavant .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleSavant.png',sizingMethod='crop')
}
.femaleElite .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleElite.png) no-repeat left top
}
.femaleElite .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleElite.png) no-repeat left top
}
.IE .femaleElite .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleElite.png',sizingMethod='crop')
}
.IE .femaleElite .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleElite.png',sizingMethod='crop')
}
.femaleTechnocrat .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleTechnocrat.png) no-repeat left top
}
.femaleTechnocrat .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleTechnocrat.png) no-repeat left top
}
.IE .femaleTechnocrat .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleTechnocrat.png',sizingMethod='crop')
}
.IE .femaleTechnocrat .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleTechnocrat.png',sizingMethod='crop')
}
.femaleLegend .infoCol .infoColIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleLegend.png) no-repeat left top
}
.femaleLegend .rankIcon {
	BACKGROUND: url(/xp/images/answerInfoColIconFemaleLegend.png) no-repeat left top
}
.IE .femaleLegend .infoCol .infoColIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleLegend.png',sizingMethod='crop')
}
.IE .femaleLegend .rankIcon {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/answerInfoColIconFemaleLegend.png',sizingMethod='crop')
}
