#pageMain .rootTAHeader {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 1.3em; BACKGROUND: url(/xp/images/rootTAHeader.png) no-repeat left top; COLOR: #fff; LINE-HEIGHT: 64px; HEIGHT: 64px
}
.IE #pageMain .rootTAHeader {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/rootTAHeader.png',sizingMethod='crop')
}
#pageMain .allZones .headerLink {
	DISPLAY: block; PADDING-BOTTOM: 7px; WIDTH: 100%; COLOR: #fff! important; PADDING-TOP: 7px; TEXT-DECORATION: none
}
#pageMain .allZones .headerLink:visited {
	DISPLAY: block; PADDING-BOTTOM: 7px; WIDTH: 100%; COLOR: #fff! important; PADDING-TOP: 7px; TEXT-DECORATION: none
}
#pageMain .allZones TABLE.rootHeaderNoImage {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 10px; BORDER-COLLAPSE: collapse
}
#pageMain .allZones TABLE.rootHeaderNoImage .t2i {
	MARGIN-TOP: 3px
}
#pageMain .allZones TD.left {
	BACKGROUND: url(/xp/images/rootTAHeaderLeft.png) no-repeat; WIDTH: 17px; HEIGHT: 35px
}
#pageMain .allZones TD.middle {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(/xp/images/rootTAHeaderMiddle.png) repeat-x; WIDTH: 637px; COLOR: #ffffff; HEIGHT: 35px
}
.IE #pageMain .allZones TD.middle {
	WIDTH: 650px
}
#pageMain .allZones TD.right {
	BACKGROUND: url(/xp/images/rootTAHeaderRight.png) no-repeat; WIDTH: 17px; HEIGHT: 35px
}
.IE #pageMain .noImage {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#pageMain .rootTAHeader .rootTAIcon {
	BACKGROUND-POSITION: left top; DISPLAY: block; FLOAT: left; WIDTH: 64px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 64px
}
#pageMain .rootTAHeader .t2i {
	MARGIN-TOP: 24px; FLOAT: left; MARGIN-LEFT: 2px
}
#pageMain .rootTAHeader #taid_1071 {
	BACKGROUND-IMAGE: url(/images/ta/medium/1071.png)
}
.IE #pageMain .rootTAHeader #taid_1071 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/1071.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5297 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5297.png)
}
.IE #pageMain .rootTAHeader #taid_5297 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5297.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5349 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5349.png)
}
.IE #pageMain .rootTAHeader #taid_5349 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5349.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5374 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5374.png)
}
.IE #pageMain .rootTAHeader #taid_5374 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5374.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5375 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5375.png)
}
.IE #pageMain .rootTAHeader #taid_5375 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5375.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5624 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5624.png)
}
.IE #pageMain .rootTAHeader #taid_5624 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5624.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5377 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5377.png)
}
.IE #pageMain .rootTAHeader #taid_5377 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5377.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5625 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5625.png)
}
.IE #pageMain .rootTAHeader #taid_5625 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5625.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_3062 {
	BACKGROUND-IMAGE: url(/images/ta/medium/3062.png)
}
.IE #pageMain .rootTAHeader #taid_3062 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/3062.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5379 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5379.png)
}
.IE #pageMain .rootTAHeader #taid_5379 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5379.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5380 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5380.png)
}
.IE #pageMain .rootTAHeader #taid_5380 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5380.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5381 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5381.png)
}
.IE #pageMain .rootTAHeader #taid_5381 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5381.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5382 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5382.png)
}
.IE #pageMain .rootTAHeader #taid_5382 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5382.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5383 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5383.png)
}
.IE #pageMain .rootTAHeader #taid_5383 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5383.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5384 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5384.png)
}
.IE #pageMain .rootTAHeader #taid_5384 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5384.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5628 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5628.png)
}
.IE #pageMain .rootTAHeader #taid_5628 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5628.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5385 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5385.png)
}
.IE #pageMain .rootTAHeader #taid_5385 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5385.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5626 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5626.png)
}
.IE #pageMain .rootTAHeader #taid_5626 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5626.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .rootTAHeader #taid_5627 {
	BACKGROUND-IMAGE: url(/images/ta/medium/5627.png)
}
.IE #pageMain .rootTAHeader #taid_5627 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/medium/5627.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .smallZoneIcon A {
	BACKGROUND-POSITION: left top; DISPLAY: block; OVERFLOW: hidden; WIDTH: 32px; TEXT-INDENT: -9999px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px
}
#pageMain .smallZoneIcon {
	BACKGROUND-POSITION: left top; DISPLAY: block; OVERFLOW: hidden; WIDTH: 32px; TEXT-INDENT: -9999px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px
}
#pageMain .taid_1071 {
	BACKGROUND-IMAGE: url(/images/ta/small/1071.png)
}
.IE #pageMain .taid_1071 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/1071.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_3062 {
	BACKGROUND-IMAGE: url(/images/ta/small/3062.png)
}
.IE #pageMain .taid_3062 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/3062.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5626 {
	BACKGROUND-IMAGE: url(/images/ta/small/5626.png)
}
.IE #pageMain .taid_5626 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5626.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5297 {
	BACKGROUND-IMAGE: url(/images/ta/small/5297.png)
}
.IE #pageMain .taid_5297 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5297.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5627 {
	BACKGROUND-IMAGE: url(/images/ta/small/5627.png)
}
.IE #pageMain .taid_5627 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5627.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5625 {
	BACKGROUND-IMAGE: url(/images/ta/small/5625.png)
}
.IE #pageMain .taid_5625 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5625.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5349 {
	BACKGROUND-IMAGE: url(/images/ta/small/5349.png)
}
.IE #pageMain .taid_5349 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5349.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5374 {
	BACKGROUND-IMAGE: url(/images/ta/small/5374.png)
}
.IE #pageMain .taid_5374 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5374.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5375 {
	BACKGROUND-IMAGE: url(/images/ta/small/5375.png)
}
.IE #pageMain .taid_5375 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5375.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5377 {
	BACKGROUND-IMAGE: url(/images/ta/small/5377.png)
}
.IE #pageMain .taid_5377 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5377.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5379 {
	BACKGROUND-IMAGE: url(/images/ta/small/5379.png)
}
.IE #pageMain .taid_5379 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5379.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5380 {
	BACKGROUND-IMAGE: url(/images/ta/small/5380.png)
}
.IE #pageMain .taid_5380 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5380.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5381 {
	BACKGROUND-IMAGE: url(/images/ta/small/5381.png)
}
.IE #pageMain .taid_5381 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5381.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5382 {
	BACKGROUND-IMAGE: url(/images/ta/small/5382.png)
}
.IE #pageMain .taid_5382 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5382.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5383 {
	BACKGROUND-IMAGE: url(/images/ta/small/5383.png)
}
.IE #pageMain .taid_5383 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5383.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5384 {
	BACKGROUND-IMAGE: url(/images/ta/small/5384.png)
}
.IE #pageMain .taid_5384 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5384.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5385 {
	BACKGROUND-IMAGE: url(/images/ta/small/5385.png)
}
.IE #pageMain .taid_5385 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5385.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5624 {
	BACKGROUND-IMAGE: url(/images/ta/small/5624.png)
}
.IE #pageMain .taid_5624 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5624.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
#pageMain .taid_5628 {
	BACKGROUND-IMAGE: url(/images/ta/small/5628.png)
}
.IE #pageMain .taid_5628 {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ta/small/5628.png',sizingMethod='crop'); BACKGROUND-IMAGE: none
}
