.indexSearch .h {
	HEIGHT: 25px
}
.indexSearch .bl {
	PADDING-LEFT: 3px; BACKGROUND-IMAGE: url(/xp/images/searchSectionBL.gif)
}
.indexSearch .br {
	PADDING-RIGHT: 3px; BACKGROUND-IMAGE: url(/xp/images/searchSectionBR.gif)
}
.indexSearch .bbg {
	BACKGROUND: url(/xp/images/searchSectionBody.gif) repeat-x left top
}
.indexSearch .f {
	HEIGHT: 7px
}
.s .indexSearch .f TD {
	BACKGROUND-IMAGE: url(/xp/images/searchSectionF.gif)
}
.indexSearch .f TD {
	BACKGROUND-IMAGE: url(/xp/images/searchSectionF.gif)
}
.s .indexSearch .f .l {
	BACKGROUND-IMAGE: url(/xp/images/searchSectionFL.gif); WIDTH: 6px
}
.indexSearch .f .l {
	BACKGROUND-IMAGE: url(/xp/images/searchSectionFL.gif); WIDTH: 6px
}
.s .indexSearch .f .r {
	BACKGROUND-IMAGE: url(/xp/images/searchSectionFR.gif); WIDTH: 6px
}
.indexSearch .f .r {
	BACKGROUND-IMAGE: url(/xp/images/searchSectionFR.gif); WIDTH: 6px
}
.IE .indexSearch .bbg  {
	POSITION: relative
}
.indexSearch .bc {
	MARGIN: 0px 16px 10px
}
.indexSearch .h12 {
	MARGIN-BOTTOM: 1px; COLOR: #fff; LETTER-SPACING: normal
}
.IE7 .indexSearch .h12 {
	POSITION: relative
}
.indexSearch P {
	MARGIN-TOP: 7px; FLOAT: left
}
.indexSearch .radioButtons {
	FLOAT: right; MARGIN-RIGHT: 67px; POSITION: relative; TOP: 7px
}
.Opera .indexSearch .radioButtons {
	TOP: 6px
}
.IE7 .indexSearch .radioButtons {
	TOP: 5px
}
.IE .indexSearch .radioButtons {
	TOP: 5px
}
.IE .indexSearch .radioButtons {
	MARGIN-RIGHT: 35px
}
.indexSearch .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadSearchToFindAnswers.gif) no-repeat; HEIGHT: 19px! important
}
.s .indexSearch INPUT.text {
	WIDTH: 570px! important
}
