.suggestedResultsElement {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: auto; BORDER-LEFT: #000000 1px solid; WIDTH: 30em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #000000 1px solid
}
.suggestedResultsElement UL {
	CLEAR: both; PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; LIST-STYLE-POSITION: inside; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; LIST-STYLE-TYPE: disc
}
.suggestedResultsElementHeader {
	FONT-WEIGHT: bold
}
.suggestedResultsElementMore {
	DISPLAY: block; WIDTH: 30em; TEXT-ALIGN: right
}
