.testimonials2 .bc {
	MARGIN: 17px
}
#pageMain .testimonials2 .left .eeText {
	MARGIN-TOP: -8px; FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 14px; POSITION: relative
}
#pageMain .testimonials2 .showAd .eeText {
	MARGIN-TOP: 0px
}
#pageMain .testimonials2 .left .hr {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px; WIDTH: 430px
}
.IE7 #pageMain .testimonials2 .left .hr {
	MARGIN-TOP: 3px
}
.IE #pageMain .testimonials2 .left .hr {
	MARGIN-TOP: 3px
}
#pageMain .testimonials2 .left {
	WIDTH: 508px
}
#pageMain .testimonials2 .subSection {
	MARGIN-BOTTOM: 0px
}
#pageMain .testimonials2 .right {
	FLOAT: right; WIDTH: 167px
}
#pageMain .testimonials2 .subSection .bbg {
	OVERFLOW: hidden; HEIGHT: 261px
}
#pageMain .testimonials2 .subSection .bbg {
	OVERFLOW: hidden; HEIGHT: 261px
}
#pageMain .testimonials2 .showAd .bbg {
	HEIGHT: auto
}
#pageMain .testimonials2 .showAd .bc {
	MARGIN-BOTTOM: 32px
}
.IE #pageMain .testimonials2 .showAd .bc {
	MARGIN-TOP: 22px; MARGIN-BOTTOM: 26px
}
#pageMain .testimonials2 .right .subSection .bc {
	MARGIN: 5px 5px 0px; OVERFLOW: hidden
}
#pageMain .testimonials2 .flash .subSection .bc {
	MARGIN-TOP: 2px
}
.Safari #pageMain .testimonials2 .subSection .bbg {
	HEIGHT: 255px
}
.Safari #pageMain .testimonials2 .showAd .bbg {
	HEIGHT: 275px
}
.Safari #pageMain .testimonials2 .right .subSection .bc {
	MARGIN-TOP: 0px
}
#pageMain .testimonials2 .right .expertsAward {
	BACKGROUND: url(/images/expertAwards2007Ad.jpg) no-repeat right top; WIDTH: 157px; HEIGHT: 258px
}
#pageMain .testimonials2 .cited {
	TEXT-ALIGN: right
}
#pageMain .testimonials2 .cited .sectionSubHeader {
	MARGIN-BOTTOM: 0px
}
.IE #pageMain .testimonials2 .cited .sectionSubHeader {
	LINE-HEIGHT: 16px; HEIGHT: 16px
}
#pageMain .testimonials2 BLOCKQUOTE {
	MARGIN: 0px; COLOR: #a2a2a2
}
#pageMain .testimonials2 .sectionSubHeader {
	MARGIN-BOTTOM: 13px
}
.IE #pageMain .testimonials2 .sectionSubHeader {
	LINE-HEIGHT: 26px; HEIGHT: 21px
}
#pageMain .testimonials2 .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadWhatPeople.gif) no-repeat
}
