.imageWrap A {
	CURSOR: pointer; TEXT-DECORATION: none
}
.imageWrap .fAOption SPAN {
	COLOR: #f63
}
.imageWrap .fAOption {
	FLOAT: left; MARGIN-LEFT: 13px; WIDTH: 222px; HEIGHT: 112px
}
.imageWrap .first {
	MARGIN-LEFT: 0px
}
.imageWrap .fAOption DT {
	DISPLAY: none
}
.imageWrap .fAOption DD {
	MARGIN-TOP: 37px; FONT-SIZE: 11px; MARGIN-LEFT: 77px; WIDTH: 135px; COLOR: #333; LINE-HEIGHT: 12px
}
.imageWrap #fAAskQuestions DD {
	MARGIN-LEFT: 79px
}
.imageWrap #fAExplore DD {
	MARGIN-LEFT: 81px
}
.IE .imageWrap #fAAskQuestions DD {
	MARGIN-LEFT: 37px
}
.IE7 .imageWrap #fAAskQuestions DD {
	MARGIN-LEFT: 37px
}
.IE .imageWrap #fAExplore DD {
	MARGIN-LEFT: 39px
}
.IE7 .imageWrap #fAExplore DD {
	MARGIN-LEFT: 39px
}
.IE7 .imageWrap .fAOption DD {
	MARGIN-LEFT: 35px
}
.IE .imageWrap .fAOption DD {
	MARGIN-LEFT: 35px
}
.imageWrap #fAFindSolutions {
	BACKGROUND: url(/xp/images/findAnswersSearchSolutions.jpg) no-repeat left top
}
.imageWrap #fAAskQuestions {
	BACKGROUND: url(/xp/images/findAnswersAskQuestion.jpg) no-repeat left top
}
.imageWrap #fAExplore {
	BACKGROUND: url(/xp/images/findAnswersExplore.jpg) no-repeat left top
}
.IE #pageMain imageWrap .clear {
	DISPLAY: none
}
#pageMain .techSols .bc {
	MARGIN-LEFT: 17px; MARGIN-RIGHT: 17px
}
