H1.questionHeader {
	BACKGROUND-IMAGE: url(/xp/images/headers/questionHeader.jpg)! important
}
H1.questionHeader .pageSubHeader .t2i {
	DISPLAY: none
}
H1.questionHeader .pageSubHeader IMG {
	DISPLAY: none
}
H1.questionHeader .zoneSearch {
	VISIBILITY: hidden
}
#pageMain .rootH TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadQuestion.gif) no-repeat
}
#pageMain .rootDeletedH TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadDeletedQuestion.gif) no-repeat
}
#pageMain .askerHeader .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadAuthorComment.gif) no-repeat
}
#pageMain .answerHeader .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadExpertComment.gif) no-repeat
}
#pageMain .deletedHeader .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadDeletedComment.gif) no-repeat
}
#pageMain .advisorHeader .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadComAdvisorComment.gif) no-repeat
}
#pageMain .adminHeader .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadAdminComment.gif) no-repeat
}
#pageMain .acceptedHeader .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadAcceptedSolution.gif) no-repeat
}
#pageMain .assistedHeader .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadAssistedSolution.gif) no-repeat
}
#pageMain .proposedHeader .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadProposedSolution.gif) no-repeat
}
#pageMain .relatedSolutions .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadRelatedSolutions.gif) no-repeat
}
#pageMain .relatedColor .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadRelatedSolutionsBlue.gif) no-repeat
}
#pageMain .yourHeader .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadYourComment.gif) no-repeat
}
#pageMain .sectionChoiceFirst .h TD .t2i {
	MARGIN-TOP: 8px; BACKGROUND: url(/xp/images/optHeadDidntFind.gif) no-repeat
}
#pageMain .orangeButton {
	MARGIN-LEFT: 87px; TEXT-ALIGN: left
}
#pageMain .leftBuyPageLink {
	MARGIN-LEFT: 87px; TEXT-ALIGN: left
}
#pageMain .leftBuyPageTextLink {
	MARGIN-LEFT: 90px; TEXT-ALIGN: left
}
#pageMain .leftBuyPageLink {
	MARGIN-BOTTOM: 17px
}
#pageMain .leftBuyPageTextLink {
	MARGIN-BOTTOM: 17px
}
#pageMain .greenButton A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png)
}
.IE #pageMain .greenButton A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/green.png',sizingMethod='crop')
}
#pageMain .orangeButton BUTTON {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/orange.png); MARGIN-BOTTOM: 10px
}
#pageMain .orangeButton A {
	BACKGROUND-IMAGE: url(/xp/images/buttons/medium/orange.png); MARGIN-BOTTOM: 10px
}
.IE #pageMain .orangeButton BUTTON {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/orange.png',sizingMethod='crop')
}
.IE #pageMain .orangeButton A {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/xp/images/buttons/medium/orange.png',sizingMethod='crop')
}
.viewQuestionJSP #pageMain .infoBox {
	MARGIN-LEFT: -480px; WIDTH: 500px
}
.IE7 .viewQuestionJSP #pageMain .infoBox {
	MARGIN-LEFT: -470px
}
.IE .viewQuestionJSP #pageMain .infoBox {
	MARGIN-LEFT: -630px
}
.viewQuestionJSP #pageMain .infoBox .title {
	WIDTH: 400px
}
.viewQuestionJSP #pageMain .infoBox .highlight {
	COLOR: #f60
}
.viewQuestionJSP H1.questionFreeTrial {
	DISPLAY: none
}
.viewQuestionJSP .freeTrialHeader {
	PADDING-LEFT: 570px; BACKGROUND: url(/xp/images/headers/questionFreeTrial.png) no-repeat left top; WIDTH: 150px; PADDING-TOP: 20px; HEIGHT: 40px
}
