.zoneHeaderElement {
	BACKGROUND: url(/xp/images/subZone_microsoft.jpg) no-repeat; MARGIN: 0px 2px 10px; WIDTH: 734px; POSITION: relative; HEIGHT: 146px
}
.zoneHeaderElementSearch {
	LEFT: 530px; POSITION: absolute; TOP: 110px
}
.zoneHeaderElementSearch BUTTON {
	BACKGROUND: url(/xp/images/zoneSearch_microsoft-go.jpg)
}
.zoneHeaderElementSearch INPUT {
	BACKGROUND: url(/xp/images/zoneSearch_microsoft-left.jpg); COLOR: #fff
}
.zoneHeaderElementSearch BUTTON {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 37px; BORDER-TOP-STYLE: none; TEXT-INDENT: -9999px; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; TOP: -3px; HEIGHT: 23px; BORDER-BOTTOM-STYLE: none
}
.zoneHeaderElementSearch INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-SIZE: 10px; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 125px; BORDER-TOP-STYLE: none; PADDING-TOP: 1px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 11px; BORDER-BOTTOM-STYLE: none
}
