DIV.zoneAd3 .s {
	MARGIN-TOP: 0px; LEFT: 1px; OVERFLOW: hidden; POSITION: relative
}
.zoneAd3 .bbg {
	BACKGROUND-COLOR: #ffffff
}
.zoneAd3 .bc {
	MARGIN: 10px 0px 0px; HEIGHT: 315px
}
.zoneAd3 DIV#leftBox .leftImg {
	BACKGROUND: url(/xp/images/whosUsingEE.jpg) no-repeat; WIDTH: 173px; HEIGHT: 282px
}
.zoneAd3 DIV#leftBox {
	FLOAT: left; MARGIN-LEFT: -6px; OVERFLOW: hidden; WIDTH: 173px; MARGIN-RIGHT: 0px; HEIGHT: 282px
}
.IE .zoneAd3 DIV#leftBox {
	MARGIN-LEFT: -3px
}
.zoneAd3 DIV#zoneAdvertisment {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 336px; PADDING-TOP: 0px; LETTER-SPACING: 1px; TEXT-ALIGN: center
}
.zoneAd3 DIV#zoneAdvertisment .theAdvert {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; FLOAT: left; MARGIN-BOTTOM: 5px; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 336px; BORDER-BOTTOM: #e8e8e8 1px solid; HEIGHT: 280px
}
.zoneAd3 DIV#rightBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(/xp/images/testimonials.jpg); PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; WIDTH: 173px; MARGIN-RIGHT: -6px; PADDING-TOP: 0px; HEIGHT: 283px
}
.zoneAd3 .zoneAd3Divider {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: url(/xp/images/zoneAdDivisor.png) no-repeat right 50%; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 1px; PADDING-TOP: 0px; HEIGHT: 298px
}
.zoneAd3 .testimonials {
	FONT-SIZE: 11px; MARGIN: 45px 15px 0px; FONT-FAMILY: arial
}
.zoneAd3 .testimonials P {
	MARGIN-BOTTOM: 17px
}
