DIV.zoneAd .s {
	MARGIN-TOP: 0px; LEFT: 1px; OVERFLOW: hidden; POSITION: relative
}
.zoneAd .bbg {
	BACKGROUND-COLOR: #ffffff
}
.zoneAd .bc {
	MARGIN: 10px 0px 0px; HEIGHT: 315px
}
.zoneAdInSubSection .bc {
	PADDING-RIGHT: 0px; MARGIN-TOP: -2px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; HEIGHT: 305px
}
.zoneAd DIV#getTheMost .getMostImg {
	BACKGROUND: url(/xp/images/getTheMost.jpg) no-repeat; WIDTH: 166px; HEIGHT: 282px
}
.zoneAd DIV#getTheMost {
	FLOAT: left; MARGIN-LEFT: 10px; OVERFLOW: hidden; WIDTH: 166px; HEIGHT: 282px
}
.IE .zoneAd DIV#getTheMost {
	MARGIN-LEFT: 5px
}
.IE .zoneAdInSubSection DIV#getTheMost {
	MARGIN-LEFT: 0px
}
.zoneAd .smallAd DIV#getTheMost {
	MARGIN-LEFT: 25px
}
.zoneAdInSubSection DIV#getTheMost {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; PADDING-TOP: 0px
}
.zoneAd DIV#getTheMost A {
	RIGHT: 1px; FLOAT: right; BACKGROUND-IMAGE: url(/xp/images/buttons/medium/green.png); CURSOR: pointer; POSITION: relative; TOP: 248px
}
.IE .zoneAd DIV#getTheMost A {
	FILTER: progid:dximagetransform.microsoft.alphaimageloader(enabled=true, sizingmethod='crop', src='/xp/images/buttons/medium/green.png'); BACKGROUND-IMAGE: none
}
.zoneAd DIV#zoneAdvertisment {
	PADDING-RIGHT: 1px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 10px; WIDTH: 336px; PADDING-TOP: 0px; LETTER-SPACING: 1px; TEXT-ALIGN: center
}
.IE .zoneAd DIV#zoneAdvertisment {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.zoneAd .smallAd DIV#zoneAdvertisment {
	MARGIN-LEFT: 25px
}
.zoneAdInSubSection DIV#zoneAdvertisment {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 1px; PADDING-TOP: 0px
}
.zoneAd DIV#zoneAdvertisment .theAdvert {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; FLOAT: left; MARGIN-BOTTOM: 5px; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 336px; BORDER-BOTTOM: #e8e8e8 1px solid; HEIGHT: 280px
}
.zoneAd DIV#localAdvert {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e8e8e8 1px solid; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(/xp/images/10yearsNew.png); PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 178px; PADDING-TOP: 0px; BORDER-BOTTOM: #e8e8e8 1px solid; HEIGHT: 280px
}
.zoneAd .adObject {
	FLOAT: left; MARGIN-LEFT: 8px
}
.zoneAdInSubSection DIV#localAdvert {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 1px; PADDING-TOP: 0px
}
.IE .zoneAdInSubSection DIV#localAdvert {
	MARGIN-LEFT: 3px
}
.zoneAd .zoneAdDivider {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; BACKGROUND: url(/xp/images/zoneAdDivisor.png) no-repeat right 50%; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 1px; PADDING-TOP: 0px; HEIGHT: 298px
}
.zoneAdInSubSection .zoneAdDivider {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; WIDTH: 0px; PADDING-TOP: 0px; HEIGHT: 0px
}
.zoneAd .smallAd .zoneAdDivider {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/xp/images/dividerFadeBoth.png) no-repeat left 50%; PADDING-BOTTOM: 0px; MARGIN-LEFT: 25px; PADDING-TOP: 0px; HEIGHT: 282px
}
.IE .zoneAd .smallAd .zoneAdDivider {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:dximagetransform.microsoft.alphaimageloader(enabled=true, sizingmethod='crop', src='/xp/images/dividerFadeBoth.png')
}
.IE .zoneAd .smallAd .first {
	MARGIN-LEFT: 14px
}
