#vBulletin_editor {
	BORDER-RIGHT: 2px groove; BORDER-TOP: 2px groove; BORDER-LEFT: 2px groove; BORDER-BOTTOM: 2px groove
}
#controlbar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.controlbar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#htmlbox {
	BORDER-RIGHT: 2px inset; BORDER-TOP: 2px inset; FONT: 10pt verdana; OVERFLOW: auto; BORDER-LEFT: 2px inset; BORDER-BOTTOM: 2px inset
}
.imagebutton {
	LEFT: 0px; TOP: 0px
}
.ocolor {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 1px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.ocolor DIV {
	BORDER-RIGHT: #aca899 1px solid; BORDER-TOP: #aca899 1px solid; BORDER-LEFT: #aca899 1px solid; WIDTH: 10px; BORDER-BOTTOM: #aca899 1px solid; HEIGHT: 10px
}
.ofont {
	FONT: 11px tahoma; CURSOR: default
}
.osize {
	FONT: 11px tahoma; CURSOR: default
}
.osmilie {
	FONT: 11px tahoma; CURSOR: default
}
.otextlink {
	FONT: 11px tahoma; CURSOR: default
}
.ofont {
	PADDING-RIGHT: 4px; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 20px
}
.osize {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 20px
}
.osmilie IMG {
	MARGIN: 4px; VERTICAL-ALIGN: middle
}
.otextlink {
	MARGIN-TOP: 4px; HEIGHT: 20px; TEXT-ALIGN: center
}
.popup_feedback {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; FONT: 11px tahoma; OVERFLOW: hidden; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 18px
}
.popupwindow {
	BORDER-RIGHT: appworkspace 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: appworkspace 1px solid; PADDING-LEFT: 3px; Z-INDEX: 5; LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: appworkspace 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: appworkspace 1px solid; POSITION: absolute; TOP: 0px
}
#popup_forecolor {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#popup_fontname {
	PADDING-RIGHT: 1px; OVERFLOW-Y: scroll; PADDING-LEFT: 1px; OVERFLOW-X: hidden; PADDING-BOTTOM: 1px; OVERFLOW: auto; PADDING-TOP: 1px
}
#popup_fontsize {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
#popup_smilie {
	PADDING-RIGHT: 1px; OVERFLOW-Y: scroll; PADDING-LEFT: 1px; OVERFLOW-X: hidden; PADDING-BOTTOM: 1px; OVERFLOW: auto; PADDING-TOP: 1px
}
#fontOut {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: 0px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; FONT: 11px tahoma; OVERFLOW: hidden; BORDER-LEFT: 0px solid; CURSOR: default; PADDING-TOP: 0px; BORDER-BOTTOM: 0px solid
}
#sizeOut {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: 0px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; FONT: 11px tahoma; OVERFLOW: hidden; BORDER-LEFT: 0px solid; CURSOR: default; PADDING-TOP: 0px; BORDER-BOTTOM: 0px solid
}
.popup_feedback DIV {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: 0px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; FONT: 11px tahoma; OVERFLOW: hidden; BORDER-LEFT: 0px solid; CURSOR: default; PADDING-TOP: 0px; BORDER-BOTTOM: 0px solid
}
