BODY {
	COLOR: #552800; BACKGROUND-COLOR: #f8f4e7
}
A.link {
	COLOR: #0000a0
}
A.visited {
	COLOR: #a000a0
}
A.active {
	COLOR: #00a000
}
IMG.thumb {
	WIDTH: 100px; HEIGHT: 100px
}
IMG.big {
	WIDTH: 900px; HEIGHT: 900px
}
IMG.xref {
	PADDING-RIGHT: 10px; PADDING-LEFT: 6px; VERTICAL-ALIGN: middle
}
