#headerads {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FLOAT: left; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 728px; PADDING-TOP: 0px; POSITION: relative; BORDER-COLLAPSE: collapse; HEIGHT: 90px; TEXT-ALIGN: left
}
#rightads {
	PADDING-BOTTOM: 16px; WIDTH: 600px; PADDING-TOP: 15px
}
#footerads {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 950px; PADDING-TOP: 0px; POSITION: relative; BORDER-COLLAPSE: collapse; HEIGHT: 320px
}
#as1a {
	LEFT: 0px; WIDTH: 550px; POSITION: absolute; TOP: 0px; TEXT-ALIGN: left
}
#as1b {
	BACKGROUND: #fff; LEFT: 550px; WIDTH: 120px; POSITION: absolute; TOP: 0px
}
.ghdrad {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 15px; PADDING-TOP: 4px; FONT-FAMILY: Arial, sans-serif
}
.ghdrad .desc {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; TEXT-DECORATION: none
}
.ghdrad .title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13pt; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
.ghdrad .title A {
	COLOR: #105cb6
}
.ghdrad .title A:hover {
	COLOR: #000
}
.ghdrad .title A:visited {
	COLOR: #105cb6
}
.ghdrad .url {
	DISPLAY: inline; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: green
}
.ghdrad .url A {
	COLOR: #105cb6; TEXT-DECORATION: none
}
.ghdrad .url A:hover {
	COLOR: #000
}
.ghdrad .url A:visited {
	COLOR: #105cb6
}
.ghdradby {
	TEXT-ALIGN: right
}
.ghdradby A {
	FONT-SIZE: 10pt; COLOR: #666; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.ghdradby A:hover {
	FONT-SIZE: 10pt; COLOR: #666; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: underline
}
.gcolad {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 15px; PADDING-TOP: 4px; FONT-FAMILY: Arial, sans-serif
}
.gcolad .desc {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; TEXT-DECORATION: none
}
.gcolad .title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13pt; PADDING-BOTTOM: 4px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
.gcolad .title A {
	COLOR: #105cb6
}
.gcolad .title A:hover {
	COLOR: #000
}
.gcolad .title A:visited {
	COLOR: #105cb6
}
.gcolad .url {
	DISPLAY: inline; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9pt
}
.gcolad .url A {
	COLOR: #105cb6; TEXT-DECORATION: none
}
.gcolad .url A:hover {
	COLOR: #000
}
.gcolad .url A:visited {
	COLOR: #105cb6
}
.gcoladby {
	TEXT-ALIGN: right
}
.gcoladby A {
	FONT-SIZE: 10pt; COLOR: #666; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.gcoladby A:hover {
	FONT-SIZE: 10pt; COLOR: #666; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: underline
}
.gftrad {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 15px; PADDING-TOP: 4px; FONT-FAMILY: Arial, sans-serif
}
.gftrad .desc {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; TEXT-DECORATION: none
}
.gftrad .title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 13pt; PADDING-BOTTOM: 4px; PADDING-TOP: 0px; TEXT-DECORATION: underline
}
.gftrad .title A {
	COLOR: #105cb6
}
.gftrad .title A:hover {
	COLOR: #000
}
.gftrad .title A:visited {
	COLOR: #105cb6
}
.gftrad .url {
	DISPLAY: inline; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 9pt
}
.gftrad .url A {
	COLOR: #105cb6; TEXT-DECORATION: none
}
.gftrad .url A:hover {
	COLOR: #000
}
.gftrad .url A:visited {
	COLOR: #105cb6
}
.gftradby {
	TEXT-ALIGN: right
}
.gftradby A {
	FONT-SIZE: 10pt; COLOR: #666; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: none
}
.gftradby A:hover {
	FONT-SIZE: 10pt; COLOR: #666; FONT-FAMILY: Arial, sans-serif; TEXT-DECORATION: underline
}
