#footertop {
	BORDER-TOP: #d3d3a1 1px solid; MARGIN: 0px; WIDTH: 0px; HEIGHT: 10px; BACKGROUND-COLOR: #ffffff
}
#footer {
	BORDER-RIGHT: #d1d1d1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d1d1d1 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 8.5pt; BACKGROUND-IMAGE: url(../images/footerbkg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #d1d1d1 1px solid; COLOR: #747474; PADDING-TOP: 0px; BORDER-BOTTOM: #d1d1d1 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: "Lucida Sans", Verdana, Arial, sans-serif; LETTER-SPACING: 0.3pt; HEIGHT: 30px
}
#footer A {
	COLOR: #747474; LETTER-SPACING: 0.1pt; TEXT-DECORATION: none
}
#footer A:hover {
	COLOR: #333333
}
#footercopy {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
DIV.footernav {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 8px; BORDER-LEFT: #d1d1d1 1px solid; PADDING-TOP: 8px
}
#footerbottom {
	CLEAR: both; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
