BODY#roverview A#t_research {
	BACKGROUND-IMAGE: url(../images/topnav-on.gif); BACKGROUND-REPEAT: repeat-x
}
BODY#ctu A#t_research {
	BACKGROUND-IMAGE: url(../images/topnav-on.gif); BACKGROUND-REPEAT: repeat-x
}
BODY#threatanalyses A#t_research {
	BACKGROUND-IMAGE: url(../images/topnav-on.gif); BACKGROUND-REPEAT: repeat-x
}
BODY#blog A#t_research {
	BACKGROUND-IMAGE: url(../images/topnav-on.gif); BACKGROUND-REPEAT: repeat-x
}
BODY#newsletter A#t_research {
	BACKGROUND-IMAGE: url(../images/topnav-on.gif); BACKGROUND-REPEAT: repeat-x
}
BODY#webcasts A#t_research {
	BACKGROUND-IMAGE: url(../images/topnav-on.gif); BACKGROUND-REPEAT: repeat-x
}
BODY#blog A#t_research {
	BACKGROUND-IMAGE: url(../images/topnav-on.gif); BACKGROUND-REPEAT: repeat-x
}
BODY#sectools A#t_research {
	BACKGROUND-IMAGE: url(../images/topnav-on.gif); BACKGROUND-REPEAT: repeat-x
}
BODY#articles A#t_research {
	BACKGROUND-IMAGE: url(../images/topnav-on.gif); BACKGROUND-REPEAT: repeat-x
}
BODY#security A#t_research {
	BACKGROUND-IMAGE: url(../images/topnav-on.gif); BACKGROUND-REPEAT: repeat-x
}
BODY#ctu A#1_ctu {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #4d5155
}
BODY#roverview A#1_roverview {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #4d5155
}
BODY#threatanalyses A#l_threatanalyses {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #4d5155
}
BODY#blog A#l_blog {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #4d5155
}
BODY#newsletter A#l_newsletter {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #4d5155
}
BODY#webcasts A#l_webcasts {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #4d5155
}
BODY#sectools A#l_sectools {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #4d5155
}
BODY#articles A#l_articles {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #4d5155
}
BODY#security A#l_security {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #4d5155
}
.info_box {
	BORDER-RIGHT: #ccc 1px; PADDING-RIGHT: 0.5em; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 1em 0px; BORDER-LEFT: #ccc 1px; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ccc 1px solid; LIST-STYLE-TYPE: none
}
.info_box LI {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; FONT-SIZE: 1.2em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
.info_box LI B {
	COLOR: #355aa1
}
BODY#advisories #content PRE {
	FONT-SIZE: 1.2em; BORDER-TOP-STYLE: none; FONT-FAMILY: Verdana, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
