#inforequest .content {
	BORDER-RIGHT: #dcdcdc 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; BORDER-LEFT: #dcdcdc 1px solid; PADDING-TOP: 7px
}
.sidebar_content {
	BORDER-RIGHT: #dcdcdc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #dcdcdc 1px; PADDING-LEFT: 10px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 7px; BORDER-LEFT: #dcdcdc 1px solid; PADDING-TOP: 7px; BORDER-BOTTOM: #dcdcdc 1px solid
}
.sidebar_content UL {
	PADDING-RIGHT: 0px; BORDER-TOP: #dcdcdc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.sidebar_content UL LI {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 14px; BACKGROUND: url(/images/listarrow.gif) no-repeat 0px 50%; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #dcdcdc 1px solid
}
#inforequest .content LABEL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; BACKGROUND-IMAGE: url(../images/formtabbkg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 70px; COLOR: #484b51; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; HEIGHT: 13px; TEXT-ALIGN: center
}
#inforequest .content P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#inforequest .content INPUT {
	BORDER-RIGHT: #d5d2a7 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d5d2a7 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 7px; BORDER-LEFT: #d5d2a7 1px solid; WIDTH: 99%; PADDING-TOP: 0px; BORDER-BOTTOM: #d5d2a7 1px solid
}
#inforequest .content SELECT {
	BORDER-RIGHT: #d5d2a7 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d5d2a7 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 7px; BORDER-LEFT: #d5d2a7 1px solid; WIDTH: 99%; PADDING-TOP: 0px; BORDER-BOTTOM: #d5d2a7 1px solid
}
#inforequest .content TEXTAREA {
	BORDER-RIGHT: #d5d2a7 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d5d2a7 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: auto; BORDER-LEFT: #d5d2a7 1px solid; WIDTH: 99%; PADDING-TOP: 0px; BORDER-BOTTOM: #d5d2a7 1px solid
}
#emailcontainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 2px; PADDING-TOP: 0px
}
UNKNOWN {
	MARGIN: 0px
}
#emailbox {
	BORDER-RIGHT: #ddd4a9 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/topnav-off.gif); PADDING-BOTTOM: 0px; MARGIN: 0px -2px; BORDER-LEFT: #ddd4a9 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ddd4a9 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #365da2
}
UNKNOWN {
	MARGIN: 0px
}
#emailbox INPUT.emailinput {
	BORDER-RIGHT: #d5d2a7 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d5d2a7 1px solid; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 10px 8px; BORDER-LEFT: #d5d2a7 1px solid; WIDTH: 55%; PADDING-TOP: 0px; BORDER-BOTTOM: #d5d2a7 1px solid
}
#emailbox INPUT.emailsubmit {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
