@import url( /includes/css/mod_brows.css );
HTML {
	MIN-HEIGHT: 100%; MARGIN-BOTTOM: 1px
}
H1 {
	COLOR: #c86a02; LINE-HEIGHT: 125%
}
H2 {
	COLOR: #800000
}
H4 {
	COLOR: #800000
}
A {
	COLOR: #002bc7; TEXT-DECORATION: underline
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
HR {
	DISPLAY: inline; WIDTH: 100%; COLOR: #cbb49c; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BACKGROUND-COLOR: #cbb49c; BORDER-BOTTOM-STYLE: none
}
.linklist A {
	DISPLAY: block; MARGIN-BOTTOM: 5px
}
UL.linklist {
	LIST-STYLE-IMAGE: url(/images/pixelclear.gif); MARGIN-BOTTOM: 4px
}
UL.linklist LI {
	MARGIN-TOP: 4px
}
.prodlist P {
	MARGIN-BOTTOM: 6px
}
P {
	MARGIN-TOP: 0px
}
UL {
	MARGIN-TOP: 0px
}
OL {
	MARGIN-TOP: 0px
}
OL {
	MARGIN-LEFT: 24px
}
UL {
	LIST-STYLE-IMAGE: url(/images/bullet_purp.gif); MARGIN-LEFT: 16px; LIST-STYLE-TYPE: square
}
UL UL {
	MARGIN-LEFT: 22px; LIST-STYLE-TYPE: square
}
.brule {
	MARGIN-BOTTOM: 8px; BORDER-BOTTOM: #000000 1px solid
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.bul {
	LIST-STYLE-IMAGE: url(/images/bullet_purp.gif); LIST-STYLE-TYPE: square
}
UL.bulnbm {
	LIST-STYLE-IMAGE: url(/images/bullet_purp.gif); MARGIN-BOTTOM: 0px; LIST-STYLE-TYPE: square
}
DIV.pdf UL.lists {
	LIST-STYLE-IMAGE: url(/images/pdf_li.gif); LIST-STYLE-TYPE: none
}
UL.lists {
	MARGIN-BOTTOM: 20px; MARGIN-LEFT: 20px
}
UL.lists LI {
	MARGIN-BOTTOM: 10px
}
H3.ulheader {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 4px; MARGIN-LEFT: -20px
}
UL.lists LI.ulheader {
	MARGIN-TOP: 20px; FONT-WEIGHT: bold; FONT-SIZE: 97%; LIST-STYLE-IMAGE: none; MARGIN-LEFT: -20px; LIST-STYLE-TYPE: none
}
UNKNOWN {
	FONT-SIZE: 97%; LIST-STYLE-IMAGE: none
}
UNKNOWN {
	MARGIN-BOTTOM: 2px; MARGIN-LEFT: 10px
}
UNKNOWN {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.nlbul {
	LIST-STYLE-IMAGE: url(/company/newsletter/win02/images/bullet_2.gif); LIST-STYLE-TYPE: square
}
UL.orngbul {
	LIST-STYLE-IMAGE: url(/images/common/pagenav/arrow_orange.gif)
}
UL.orngsqbul {
	LIST-STYLE-IMAGE: url(/images/bullet_purp.gif)
}
.gray {
	COLOR: gray
}
EM.caption {
	COLOR: #575757
}
BLOCKQUOTE {
	MARGIN: 0px; COLOR: #800000
}
CODE {
	BORDER-RIGHT: #d3d3d3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d3d3d3 1px solid; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 110%; MARGIN-BOTTOM: 10px; BORDER-LEFT: #d3d3d3 1px solid; COLOR: #000000; BORDER-BOTTOM: #d3d3d3 1px solid; BACKGROUND-COLOR: #f9f7f3
}
PRE.code {
	BORDER-RIGHT: #d3d3d3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d3d3d3 1px solid; DISPLAY: block; PADDING-LEFT: 10px; FONT-SIZE: 110%; MARGIN-BOTTOM: 10px; BORDER-LEFT: #d3d3d3 1px solid; COLOR: #000000; BORDER-BOTTOM: #d3d3d3 1px solid; BACKGROUND-COLOR: #f9f7f3
}
CODE.fnctn {
	BORDER-TOP-WIDTH: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 110%; BORDER-BOTTOM-WIDTH: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
KBD {
	BORDER-TOP-WIDTH: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 110%; BORDER-BOTTOM-WIDTH: 0px; BACKGROUND-COLOR: transparent; BORDER-RIGHT-WIDTH: 0px
}
PRE.code SPAN.keyword {
	COLOR: #0000ff
}
CODE SPAN.keyword {
	COLOR: #0000ff
}
PRE.code SPAN.comment {
	COLOR: #228b22
}
CODE SPAN.comment {
	COLOR: #228b22
}
PRE.code SPAN.string {
	COLOR: #a020f0
}
CODE SPAN.string {
	COLOR: #a020f0
}
PRE.code SPAN.untermstring {
	COLOR: #b20000
}
CODE SPAN.untermstring {
	COLOR: #b20000
}
PRE.code SPAN.syscmd {
	COLOR: #b28c00
}
CODE SPAN.syscmd {
	COLOR: #b28c00
}
SAMP.error {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; COLOR: #ff0000
}
PRE.error {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; COLOR: #ff0000
}
PRE.ans {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; COLOR: #2f4f4f; FONT-STYLE: italic
}
SAMP.anseq {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; COLOR: #2f4f4f; FONT-STYLE: italic
}
SAMP.ans {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 45px; COLOR: darkslategray; FONT-STYLE: italic
}
#content_skiplink {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
#search_skiplink {
	Z-INDEX: 1; LEFT: 0px; POSITION: absolute; TOP: 28px
}
#globaltop {
	LETTER-SPACING: 0.05em; BACKGROUND-COLOR: #00246f
}
#ptools {
	FONT-WEIGHT: bold
}
#ptools A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#ptools {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#access {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
#access A {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
#access A:hover {
	COLOR: #ffffff
}
#globaltop2 {
	BORDER-RIGHT: lightgrey 1px solid; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/includes/images/global_nav/header_bg.jpg); BORDER-LEFT: lightgrey 1px solid; WIDTH: 933px; COLOR: white; BACKGROUND-REPEAT: no-repeat; HEIGHT: 72px; BACKGROUND-COLOR: #001b57
}
#globaltop2 A:hover {
	COLOR: darkorange
}
#pixelfade {
	CLEAR: right; FLOAT: right; HEIGHT: 1px
}
#logopixel {
	FLOAT: left
}
#print_logo {
	DISPLAY: none; FLOAT: left
}
#search_field {
	BORDER-RIGHT: #a3a2a2 1px solid; BORDER-TOP: #a3a2a2 1px solid; FONT-SIZE: 1em; BORDER-LEFT: #a3a2a2 1px solid; BORDER-BOTTOM: #a3a2a2 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#search_label {
	LEFT: 0px; OVERFLOW: hidden; WIDTH: 1px; POSITION: absolute; TOP: -100px; HEIGHT: 1px
}
#searchbutton {
	BORDER-RIGHT: #a3a2a2 1px solid; BORDER-TOP: #a3a2a2 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #a3a2a2 1px solid; COLOR: white; BORDER-BOTTOM: #a3a2a2 1px solid; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #636363
}
#ptools2 {
	FLOAT: right; MARGIN: 0.5em; WHITE-SPACE: nowrap; HEIGHT: 3ex
}
#ptools2 A {
	COLOR: #ffffff; TEXT-DECORATION: none
}

@media Screen    
{
#site_search {
	DISPLAY: inline
}
#access2 {
	CLEAR: right
}
    }
#access2 {
	MARGIN-TOP: 1.3em; FLOAT: right; MARGIN-RIGHT: 0.5em; WHITE-SPACE: nowrap
}
#access2 {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#access2 A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#topnav {
	BORDER-RIGHT: lightgrey 1px solid; BORDER-LEFT: lightgrey 1px solid; CURSOR: pointer; BACKGROUND-COLOR: #f4f5f9
}
#topnavitems TD {
	BORDER-RIGHT: #00246f 1px solid; PADDING-BOTTOM: 3px; COLOR: #003366; PADDING-TOP: 3px
}
#topnavitems TD DIV {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em
}
#topnav A {
	FONT-WEIGHT: bold; COLOR: #0d2b98; TEXT-DECORATION: none
}
#topnav TD#tcell6 {
	BORDER-RIGHT-STYLE: none
}
#topnav TD.activebg {
	BACKGROUND-COLOR: #c3d1ec
}
#topnav TD.active {
	BACKGROUND-IMAGE: url(/images/nav_active.gif); BACKGROUND-REPEAT: repeat-x
}
#topnav TD.inactive {
	BACKGROUND-IMAGE: url(/images/nav_inactive.gif); BACKGROUND-REPEAT: repeat-x
}
.menu_lay {
	BORDER-RIGHT: #254987 1px solid; BORDER-TOP: #254987 1px solid; DISPLAY: none; BORDER-LEFT: #254987 1px solid; BORDER-BOTTOM: #254987 1px solid; POSITION: absolute; BACKGROUND-COLOR: #f2f4f8
}
.info_lay {
	MARGIN: 5px
}
.info_lay {
	WIDTH: 170px
}
.menu_lay A {
	FONT-WEIGHT: normal; TEXT-INDENT: 5px; TEXT-DECORATION: none
}
.menu_lay A:hover {
	TEXT-DECORATION: none
}
.menuitem {
	PADDING-RIGHT: 2px; BORDER-TOP: #f2f4f8 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: auto; PADDING-TOP: 2px; BORDER-BOTTOM: #f2f4f8 1px solid; POSITION: relative
}
.menuitem {
	WIDTH: 130px
}
.menuitem_hover {
	PADDING-RIGHT: 2px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; CURSOR: pointer; PADDING-TOP: 2px; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: #e3e7f7
}
#mainframe {
	BORDER-RIGHT: lightgrey 1px solid; BORDER-LEFT: lightgrey 1px solid; BORDER-BOTTOM: #d26e00 2px solid; BACKGROUND-COLOR: #ffffff
}
#leftnavcol {
	BACKGROUND-IMAGE: url(/includes/images/local_nav/local_nav_bg.gif); PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-x
}
.action A {
	COLOR: #d26e00
}
#bodycol {
	VERTICAL-ALIGN: top
}
#bodycol A:visited {
	COLOR: #405c9c
}
#bodycol A:hover {
	COLOR: #d26e00; TEXT-DECORATION: underline
}
TABLE#latestnews TD {
	PADDING-RIGHT: 10px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #f5f8fa
}
TABLE#latestnews UL {
	MARGIN-BOTTOM: 0px
}
#mainbody {
	MARGIN-BOTTOM: 20px; MARGIN-LEFT: 20px; LINE-HEIGHT: 1.4em; MARGIN-RIGHT: 30px
}
DIV.fwidth#mainbody {
	MARGIN-TOP: 20px
}
#leftnav {
	BORDER-RIGHT: #254987 1px solid; CURSOR: pointer; BACKGROUND-COLOR: #f3f4f8
}
#leftnav A {
	TEXT-DECORATION: none
}
#leftnav .inactive {
	PADDING-RIGHT: 3px; BORDER-TOP: #f2f4f8 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #f2f4f8 1px solid
}
#leftnav .active {
	PADDING-RIGHT: 3px; BORDER-TOP: #254987 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #254987 1px solid; BACKGROUND-COLOR: #c3d1ec
}
#leftnav .hover {
	PADDING-RIGHT: 3px; BORDER-TOP: #3c568f 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #3c568f 1px solid; BACKGROUND-COLOR: #dbe4f5
}
#leftnav #lnbmline {
	BACKGROUND-COLOR: #254987
}

@media Screen    
{
.hid {
	DISPLAY: none
}
    }
.sactive {
	PADDING-RIGHT: 0px; BORDER-TOP: #254987 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #254987 1px solid; BACKGROUND-COLOR: #cad4f9
}
.shover {
	PADDING-RIGHT: 0px; BORDER-TOP: #808080 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 3px; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: #808080 1px solid; BACKGROUND-COLOR: #e3e7f7
}
.sinactive {
	PADDING-RIGHT: 0px; BORDER-TOP: #f2f4f8 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #f2f4f8 1px solid
}
#rightcol {
	MARGIN-BOTTOM: 20px; MARGIN-LEFT: 10px; LINE-HEIGHT: 1.4em
}
#rightcol UL {
	MARGIN-BOTTOM: 0px
}
#rightcol LI {
	MARGIN-BOTTOM: 4px
}
#rightcol H2 {
	FONT-SIZE: 100%
}
#rightcol A H2 {
	TEXT-DECORATION: none
}
.callme {
	BORDER-TOP: #7384a5 1px solid; BORDER-LEFT: #7384a5 1px solid; BORDER-BOTTOM: #7384a5 1px solid; BACKGROUND-COLOR: #ebebeb
}
#trybuy {
	MARGIN: 5px 8px; BACKGROUND-COLOR: #ebebeb
}
#trybuy A:link {
	COLOR: #002bc7; TEXT-DECORATION: none
}
#trybuy A:visited {
	COLOR: #002bc7; TEXT-DECORATION: none
}
#trybuy A:hover {
	COLOR: darkorange
}
#rightcol .cart {
	PADDING-LEFT: 10px; BORDER-LEFT: #7384a5 1px solid; PADDING-TOP: 8px; BACKGROUND-COLOR: #e6edf7
}
#rightcol .us {
	FONT-STYLE: italic
}
#wedgetp {
	PADDING-LEFT: 10px; BORDER-LEFT: #7384a5 1px solid; BORDER-BOTTOM: #7384a5 1px solid; BACKGROUND-COLOR: #e6edf7
}
.spotlight {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; PADDING-BOTTOM: 14px; PADDING-TOP: 10px; BORDER-BOTTOM: #dcdcdc 1px solid; BACKGROUND-COLOR: #f4f4f4
}
.spotlight DIV.action {
	MARGIN-TOP: 10px
}
DIV.attr {
	COLOR: #800000; TEXT-ALIGN: right
}
DIV.divider {
	MARGIN: 5px
}
.callout {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: gray 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: #f7f7f7
}
.pleft {
	PADDING-LEFT: 10px
}
.pright {
	PADDING-RIGHT: 10px
}
UL.cboxlist {
	LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
UL.cboxlist LI {
	TEXT-INDENT: -20px
}
UL.cboxlist INPUT {
	MARGIN-BOTTOM: 1px
}
DIV.twocol {
	
}
DIV.twocol DIV.col {
	WIDTH: 49%
}
DIV.threecol {
	
}
DIV.threecol DIV.col {
	WIDTH: 32%
}
DIV.onecol:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
DIV.twocol:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
DIV.threecol:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
DIV.col {
	FLOAT: left
}
DIV.spacer {
	FLOAT: left; WIDTH: 2%; HEIGHT: 10px
}
UL.pagenav LI {
	LIST-STYLE-IMAGE: url(/images/common/pagenav/page_nav_inactive.gif)
}
UL.pagenav LI.active {
	FONT-WEIGHT: bold; LIST-STYLE-IMAGE: url(/images/common/pagenav/arrow_orange.gif)
}
.datatable1 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; BORDER-BOTTOM: #d3d3d3 1px solid
}
.datatable1 TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; VERTICAL-ALIGN: top; PADDING-TOP: 6px
}
.datatable1 TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 4px; BACKGROUND-COLOR: #004a9d; TEXT-ALIGN: left
}
.datatable1 .level2 TD {
	BACKGROUND-COLOR: #5a7cc3
}
#bodycol .datatable1 TD.level2 A:link {
	FONT-WEIGHT: bold; COLOR: white
}
#bodycol .datatable1 TD.level2 A:visited {
	FONT-WEIGHT: bold; COLOR: white
}
.datatable2 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; BORDER-BOTTOM: #d3d3d3 1px solid
}
.datatable2 TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px
}
.datatable2 TH {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 2px; BACKGROUND-COLOR: #004a9d; TEXT-ALIGN: center
}
.datatable3 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; BORDER-BOTTOM: #d3d3d3 1px solid
}
.datatable4 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; BORDER-BOTTOM: #d3d3d3 1px solid
}
.datatable3 TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; VERTICAL-ALIGN: top; PADDING-TOP: 8px; BACKGROUND-COLOR: #ffffff
}
.datatable4 TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; VERTICAL-ALIGN: top; PADDING-TOP: 8px; BACKGROUND-COLOR: #ffffff
}
.datatable3 TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; BACKGROUND-COLOR: #e4e9ef; TEXT-ALIGN: left
}
.datatable4 TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; BACKGROUND-COLOR: #e4e9ef; TEXT-ALIGN: left
}
#bodycol .datatable3 .level2 A:link {
	FONT-WEIGHT: bold; COLOR: #0d2b98
}
#bodycol .datatable4 .level2 A:link {
	FONT-WEIGHT: bold; COLOR: #0d2b98
}
#bodycol .datatable3 .level2 A:visited {
	FONT-WEIGHT: bold; COLOR: #405c9c
}
#bodycol .datatable4 .level2 A:visited {
	FONT-WEIGHT: bold; COLOR: #405c9c
}
TABLE.datatable3 TR.level2 TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TABLE.datatable4 TR.level2 TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
TABLE.datatable3 TR TD {
	PADDING-LEFT: 8px
}
TABLE.datatable4 TR TD {
	PADDING-LEFT: 8px
}
TABLE.datatable3 TD {
	BORDER-TOP: #d3d3d3 1px solid
}
#bodycol .datatable1 TH A:visited {
	COLOR: #ffffff
}
#bodycol .datatable1 TH A:link {
	COLOR: #ffffff
}
#bodycol .datatable1 TH A:hover {
	COLOR: #ffffff
}
.datatable5 TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; MARGIN: 10px 0px 0px; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #d3d3d3 1px solid; BACKGROUND-COLOR: #e4e9ef; TEXT-ALIGN: left
}
.datatable5 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; BORDER-BOTTOM: #d3d3d3 1px solid
}
.datatable5 TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.datatable5 UL {
	MARGIN-BOTTOM: 0px
}
.datatable5 .nested TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.datatable5 .feature {
	BACKGROUND-COLOR: #f6f6f6
}
.inputbody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 15px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #eeeeee
}
TABLE.inputtable1 {
	BORDER-RIGHT: #546e8f 1px solid; BORDER-TOP: #546e8f 1px solid; BORDER-LEFT: #546e8f 1px solid; BORDER-BOTTOM: #546e8f 1px solid
}
.inputtable1 TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #e4e9ef; TEXT-ALIGN: left
}
.level2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: white; PADDING-TOP: 2px; BACKGROUND-COLOR: #6377a9; TEXT-ALIGN: left
}
.level2 A:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.level2 TD A:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.level2 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.inputtable1 INPUT {
	MARGIN-BOTTOM: 5px
}
.inputtable1 SELECT {
	MARGIN-BOTTOM: 5px
}
.inputtable1 INPUT.toggle {
	MARGIN-BOTTOM: 0px
}
.inputtable1 .cboxtbl {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 10px; BORDER-RIGHT-WIDTH: 0px
}
.inputtable1 FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 10px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	FONT-WEIGHT: bold; COLOR: #000000
}
.demotable TD {
	PADDING-BOTTOM: 20px
}
.intabletop1 TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-COLOR: #004a9d; TEXT-ALIGN: left
}
.intabletop1 TH.corner {
	VERTICAL-ALIGN: top; TEXT-ALIGN: right
}
TD.intabletop2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #004a9d
}
.oddrow {
	BACKGROUND-COLOR: #eeeeee
}
TH.decimal {
	TEXT-ALIGN: center
}
TH.integer {
	TEXT-ALIGN: center
}
.integer {
	TEXT-ALIGN: center
}
.decimal {
	TEXT-ALIGN: right
}
.date {
	WHITE-SPACE: nowrap
}
LABEL {
	DISPLAY: block; FONT-WEIGHT: bold; COLOR: #525252
}
LABEL.toggle {
	DISPLAY: inline; FONT-WEIGHT: normal; COLOR: #000000
}
LABEL.question {
	FONT-SIZE: 11px; COLOR: #800000
}
CAPTION {
	PADDING-RIGHT: 5px; FONT-SIZE: smaller; FONT-STYLE: italic; TEXT-ALIGN: right
}
.req {
	COLOR: #ff0000
}
.inputbody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 15px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #f9f7f3
}
.shadedcell1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; BACKGROUND-COLOR: #edf7fc
}
.shadedcell2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 1px; COLOR: #ffffff; PADDING-TOP: 1px; BACKGROUND-COLOR: #004a9d; TEXT-ALIGN: center
}
.alertbox {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #e6ebf8
}
.alertbox TD {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; PADDING-TOP: 7px
}
H1 SUP.prod {
	FONT-SIZE: 70%
}
SUP.prod {
	FONT-SIZE: 80%
}
A SUP.prod {
	TEXT-DECORATION: none
}
A:link SUP.prod {
	TEXT-DECORATION: none
}
A:visited SUP.prod {
	TEXT-DECORATION: none
}
.datatable6 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; BORDER-LEFT: #d3d3d3 1px solid; BORDER-BOTTOM: #d3d3d3 1px solid; BACKGROUND-COLOR: #e4e9ef
}
.datatable6 TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.datatable6 TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.datatable6 .nested TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 2px
}
.cta_blue {
	MARGIN: 10px 10px 10px 0px
}
#mainframe #bodycol A.cta_blue {
	BORDER-RIGHT: #e1e6f2 2px outset; PADDING-RIGHT: 10px; BACKGROUND-POSITION: 0px 0px; BORDER-TOP: #e1e6f2 2px outset; DISPLAY: inline-block; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(/images/bg_cta_blue.gif); PADDING-BOTTOM: 10px; BORDER-LEFT: #e1e6f2 2px outset; COLOR: #ffffff; PADDING-TOP: 8px; BORDER-BOTTOM: #e1e6f2 2px outset; BACKGROUND-REPEAT: repeat-x; HEIGHT: 16px; BACKGROUND-COLOR: #324678; TEXT-DECORATION: none
}
#mainframe #bodycol A.cta_blue:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.cta_blue STRONG {
	BACKGROUND-POSITION: 0px 5px; PADDING-LEFT: 10px; FONT-SIZE: 110%; BACKGROUND-IMAGE: url(/images/bg_cta_arrow.gif); TEXT-TRANSFORM: uppercase; BACKGROUND-REPEAT: no-repeat
}
.cta_gray {
	MARGIN: 10px 10px 10px 0px
}
#mainframe #bodycol A.cta_gray {
	BORDER-RIGHT: #e1e6f2 2px outset; PADDING-RIGHT: 10px; BACKGROUND-POSITION: 0px 0px; BORDER-TOP: #e1e6f2 2px outset; DISPLAY: inline-block; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(/images/bg_cta_gray.gif); PADDING-BOTTOM: 10px; BORDER-LEFT: #e1e6f2 2px outset; COLOR: #ffffff; PADDING-TOP: 8px; BORDER-BOTTOM: #e1e6f2 2px outset; BACKGROUND-REPEAT: repeat-x; HEIGHT: 16px; BACKGROUND-COLOR: #575757; TEXT-DECORATION: none
}
#mainframe #bodycol A.cta_gray:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.cta_gray STRONG {
	BACKGROUND-POSITION: 0px 5px; PADDING-LEFT: 10px; FONT-SIZE: 110%; BACKGROUND-IMAGE: url(/images/bg_cta_arrow.gif); TEXT-TRANSFORM: uppercase; BACKGROUND-REPEAT: no-repeat
}
#mw_account #rightcol {
	MARGIN-BOTTOM: 0px
}
#mw_account #mainframe TD {
	VERTICAL-ALIGN: top
}
#mw_account #mainframe .datatable4 .nested {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mw_account #mainframe .datatable4 .nested TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
#mw_account FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mw_account FORM LABEL {
	FONT-SIZE: 11px
}
#mw_account FORM .textfield {
	FONT-SIZE: 12px; MARGIN: 0px 0px 10px
}
#mw_account FORM .submit {
	FONT-SIZE: 14px; FLOAT: right; MARGIN: 20px 0px 8px
}
#mw_account FORM .dropdown {
	FONT-SIZE: 12px; MARGIN: 0px 0px 10px
}
#mw_account .login_block {
	BORDER-RIGHT: #acacac 1px solid; BORDER-TOP: #acacac 1px solid; BORDER-LEFT: #acacac 1px solid; WIDTH: 100%; COLOR: #636363; BORDER-BOTTOM: #acacac 1px solid; BACKGROUND-COLOR: #f8f8f8
}
#mw_account .login_block TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#mw_account .login_block H4 {
	MARGIN-BOTTOM: 5px
}
#mw_account .login_block .login {
	FONT-SIZE: 12px; MARGIN: 0px 0px 5px
}
#mw_account .login_block .textfield {
	FONT-SIZE: 10px; MARGIN: 0px 0px 5px
}
#mw_account .login_block A {
	FONT-SIZE: 10px
}
#mw_account .benefits {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 15px
}
#mw_account .benefits UL {
	MARGIN-BOTTOM: 0px
}
#mw_account .account_section TD.col_01 {
	WIDTH: 75%
}
#mw_account .account_section TD.col_02 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; WIDTH: 25%; COLOR: #666666; PADDING-TOP: 0px
}
#mw_account .account_section TD.col_02 UL {
	LIST-STYLE-IMAGE: none; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
#mw_account .account_section TD.col_02 LI {
	BACKGROUND-POSITION: 0px 6px; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(/images/bullet_mwaccount.gif); BACKGROUND-REPEAT: no-repeat
}
#mw_account .indent {
	MARGIN: 5px 0px 5px 15px
}
#mw_account .indent .dropdown {
	MARGIN: 0px
}
#mw_account_home H1 {
	MARGIN-BOTTOM: 15px
}
#mainbody #mw_account_home A {
	TEXT-DECORATION: none
}
#mainbody #mw_account_home A:hover {
	TEXT-DECORATION: underline
}
#mw_account_home #account_row_01 .datatable3 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#mw_account_home #account_row_02 {
	MARGIN-BOTTOM: 10px
}
#mw_account_home .datatable3 TH {
	FONT-SIZE: 11px
}
#mw_account_home .datatable3 TD {
	FONT-SIZE: 11px
}
#mw_account_home #col_1-1 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 237px; BORDER-BOTTOM: #d3d3d3 1px solid
}
#mw_account_home #col_1-1 .datatable3 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#mw_account_home #col_1-2 {
	WIDTH: 11px
}
#mw_account_home #col_1-3 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 237px; BORDER-BOTTOM: #d3d3d3 1px solid
}
#mw_account_home #col_1-3 .datatable3 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#mw_account_home #col_1-4 {
	WIDTH: 10px
}
#mw_account_home #col_1-5 {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; VERTICAL-ALIGN: top; BORDER-LEFT: #d3d3d3 1px solid; BORDER-BOTTOM: #d3d3d3 1px solid
}
#mw_account_home #col_1-5 .datatable3 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#mw_account_home #col_2-1 {
	VERTICAL-ALIGN: top; WIDTH: 738px
}
#mw_account_home #col_2-1 .datatable3 TH {
	PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; HEIGHT: 28px
}
#mw_account_home #col_2-1 .datatable3 .content {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; HEIGHT: 175px
}
#mw_account_home #col_2-1 .datatable3 .scroll_header {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 734px; BORDER-RIGHT-WIDTH: 0px
}
#mw_account_home #col_2-1 .datatable3 .scroll_header TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 2px; BACKGROUND-COLOR: #898989; BORDER-RIGHT-WIDTH: 0px
}
#mw_account_home #col_2-1 .datatable3 .scroll_frame {
	OVERFLOW-X: hidden; OVERFLOW: auto; WIDTH: 734px; HEIGHT: 155px
}
#mw_account_home #col_2-1 .datatable3 .scroll_table {
	WIDTH: 716px
}
#mw_account_home #col_2-1 .datatable3 .scroll_table TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#mw_account_home #lg_licenses .header_action {
	PADDING-RIGHT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; TEXT-ALIGN: right
}
#mw_account_home #lg_licenses .datatable3 .content {
	HEIGHT: 335px
}
#mw_account_home #lg_licenses .datatable3 .scroll_header {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 734px; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px
}
#mw_account_home #lg_licenses .datatable3 .scroll_frame {
	HEIGHT: 313px
}
#mw_account_home #lg_licenses .datatable3 .scroll_header .sh_col_01 {
	FONT-WEIGHT: normal; WIDTH: 105px
}
#mw_account_home #lg_licenses .datatable3 .scroll_header .sh_col_02 {
	FONT-WEIGHT: normal; BORDER-LEFT: #ffffff 1px solid; WIDTH: 105px
}
#mw_account_home #lg_licenses .datatable3 .scroll_header .sh_col_03 {
	FONT-WEIGHT: normal; BORDER-LEFT: #ffffff 1px solid; WIDTH: 105px
}
#mw_account_home #lg_licenses .datatable3 .scroll_header .sh_col_04 {
	FONT-WEIGHT: normal; BORDER-LEFT: #ffffff 1px solid; WIDTH: 125px
}
#mw_account_home #lg_licenses .datatable3 .scroll_header .sh_col_05 {
	FONT-WEIGHT: normal; BORDER-LEFT: #ffffff 1px solid; WIDTH: 240px
}
#mw_account_home #lg_licenses .datatable3 .scroll_table TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#mw_account_home #lg_licenses .datatable3 .scroll_table .st_col_01 {
	WIDTH: 100px; TEXT-DECORATION: underline
}
#mw_account_home #lg_licenses .datatable3 .scroll_table .st_col_01 A {
	TEXT-DECORATION: underline
}
#mw_account_home #lg_licenses .datatable3 .scroll_table .st_col_02 {
	BORDER-LEFT: #ffffff 1px solid; WIDTH: 100px
}
#mw_account_home #lg_licenses .datatable3 .scroll_table .st_col_03 {
	BORDER-LEFT: #ffffff 1px solid; WIDTH: 100px
}
#mw_account_home #lg_licenses .datatable3 .scroll_table .st_col_04 {
	BORDER-LEFT: #ffffff 1px solid; WIDTH: 120px
}
#mw_account_home #lg_licenses .datatable3 .scroll_table .st_col_05 {
	BORDER-LEFT: #ffffff 1px solid; WIDTH: 217px
}
#mw_account_home #lg_licenses .datatable3 .scroll_table UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#mw_account_home #lg_licenses .datatable3 .scroll_table LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 3px; PADDING-TOP: 0px
}
#mw_account_home #lg_licenses .footer {
	BORDER-RIGHT: #d3d3d3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d3d3d3 0px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: #d3d3d3 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 25px; BACKGROUND-COLOR: #e9e9e9; TEXT-ALIGN: left
}
#mw_account_home #lg_licenses .footer H3 {
	FONT-SIZE: 11px
}
#mw_account_home #lg_licenses .footer A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mw_account_home #lg_licenses .footer .footer_col_1 {
	PADDING-LEFT: 3px; VERTICAL-ALIGN: top; WIDTH: 50%; TEXT-ALIGN: left
}
#mw_account_home #lg_licenses .footer .footer_col_2 {
	PADDING-RIGHT: 5px; VERTICAL-ALIGN: top; WIDTH: 50%; TEXT-ALIGN: right
}
#mw_account_home #lg_edu_licenses .datatable3 .content {
	HEIGHT: 186px
}
#mw_account_home #lg_edu_licenses .datatable3 #student_status {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; MARGIN-BOTTOM: 1px; BORDER-LEFT: #d3d3d3 1px solid; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 20px
}
#mw_account_home #lg_edu_licenses .datatable3 #student_status TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px; BACKGROUND-COLOR: #e9e9e9; BORDER-RIGHT-WIDTH: 0px
}
#mw_account_home #lg_edu_licenses .datatable3 #student_status .ss_col_01 {
	
}
#mw_account_home #lg_edu_licenses .datatable3 #student_status .ss_col_02 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; WIDTH: 65%; TEXT-ALIGN: right
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_header {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 734px; HEIGHT: 22px; BORDER-RIGHT-WIDTH: 0px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_frame {
	HEIGHT: 138px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_header .sh_col_01 {
	FONT-WEIGHT: normal; WIDTH: 90px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_header .sh_col_02 {
	FONT-WEIGHT: normal; BORDER-LEFT: #ffffff 1px solid; WIDTH: 170px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_header .sh_col_03 {
	FONT-WEIGHT: normal; BORDER-LEFT: #ffffff 1px solid; WIDTH: 130px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_header .sh_col_04 {
	FONT-WEIGHT: normal; BORDER-LEFT: #ffffff 1px solid; WIDTH: 90px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_header .sh_col_05 {
	FONT-WEIGHT: normal; BORDER-LEFT: #ffffff 1px solid; WIDTH: 199px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_table TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_table .st_col_01 {
	WIDTH: 85px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_table .st_col_02 {
	BORDER-LEFT: #ffffff 1px solid; WIDTH: 165px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_table .st_col_03 {
	BORDER-LEFT: #ffffff 1px solid; WIDTH: 125px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_table .st_col_04 {
	BORDER-LEFT: #ffffff 1px solid; WIDTH: 85px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_table .st_col_05 {
	BORDER-LEFT: #ffffff 1px solid; WIDTH: 176px
}
#mw_account_home #lg_edu_licenses .footer {
	BORDER-RIGHT: #d3d3d3 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d3d3d3 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: #d3d3d3 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 34px; BACKGROUND-COLOR: #e9e9e9; TEXT-ALIGN: right
}
#mw_account_home #lg_edu_licenses .footer A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mw_account_home #lg_edu_licenses .footer .footer_col_1 {
	PADDING-LEFT: 10px; VERTICAL-ALIGN: top; WIDTH: 57%; TEXT-ALIGN: left
}
#mw_account_home #lg_edu_licenses .footer .footer_col_2 {
	PADDING-RIGHT: 10px; VERTICAL-ALIGN: top; WIDTH: 43%; TEXT-ALIGN: right
}
#mw_account_home .sm_component .datatable3 TH {
	PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; HEIGHT: 28px
}
#mw_account_home .sm_component UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 12px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#mw_account_home .sm_component LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 3px; PADDING-TOP: 0px
}
#mw_account_home .sm_component P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px
}
#mw_account_benefits #benefits {
	MARGIN-BOTTOM: 25px
}
#mw_account_benefits #benefits .datatable3 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#mw_account_benefits #benefits .datatable3 TH {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; FONT-SIZE: 10px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: top; TEXT-ALIGN: center
}
#mw_account_benefits #benefits .datatable3 TH.col_01 {
	BORDER-LEFT: #d3d3d3 1px solid; TEXT-ALIGN: left
}
#mw_account_benefits #benefits .datatable3 TH.col_02 {
	BORDER-RIGHT: #9a9a9a 1px solid
}
#mw_account_benefits #benefits .datatable3 TH.col_08 {
	BORDER-RIGHT: #9a9a9a 1px solid
}
#mw_account_benefits #benefits .datatable3 TR.level0 .col_01 {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#mw_account_benefits #benefits .datatable3 TR.level0 .col_02 {
	BORDER-TOP-WIDTH: 0px; BORDER-RIGHT: #9a9a9a 1px solid
}
#mw_account_benefits #benefits .datatable3 TR.level0 .col_03 {
	BORDER-RIGHT: #9a9a9a 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT-COLOR: #9a9a9a; BORDER-BOTTOM-COLOR: #9a9a9a; BORDER-TOP-COLOR: #9a9a9a; TEXT-ALIGN: center
}
#mw_account_benefits #benefits .datatable3 TR.level2 TD {
	BORDER-RIGHT: #9a9a9a 1px solid; BORDER-LEFT: #ededed 1px solid
}
#mw_account_benefits #benefits .datatable3 TR.level3 TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 10px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-RIGHT-WIDTH: 0px
}
#mw_account_benefits #benefits .datatable3 TR.datarow TD {
	BORDER-RIGHT: #ededed 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px; TEXT-ALIGN: center
}
#mw_account_benefits #benefits .datatable3 TR.datarow .col_01 {
	PADDING-LEFT: 12px; BORDER-LEFT: #ededed 1px solid; TEXT-ALIGN: left
}
#mw_account_benefits #benefits .datatable3 TR.datarow .col_02 {
	BORDER-RIGHT: #9a9a9a 1px solid
}
#mw_account_benefits #benefits .datatable3 TR.datarow .col_08 {
	BORDER-RIGHT: #9a9a9a 1px solid
}
#mw_account_benefits #benefits .datatable3 TR.table_foot .col_01 {
	BORDER-TOP: #ededed 1px solid
}
#mw_account_benefits #benefits .datatable3 TR.table_foot .col_02 {
	BORDER-TOP: #9a9a9a 1px solid
}
#mw_account_benefits #key {
	BORDER-RIGHT: #d3d3d3 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #d3d3d3 1px solid; MARGIN-TOP: 5px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; BORDER-LEFT: #d3d3d3 1px solid; WIDTH: 695px; PADDING-TOP: 7px; BORDER-BOTTOM: #d3d3d3 1px solid
}
#mw_account_benefits #key TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#mw_account_benefits #key .col_01 {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; WIDTH: 135px; TEXT-ALIGN: right
}
#mw_account_benefits #key .col_02 {
	PADDING-LEFT: 10px; FONT-SIZE: 10px
}
#custom_bugs #rightcol {
	MARGIN-BOTTOM: 0px
}
#custom_bugs #mainframe TD {
	VERTICAL-ALIGN: top
}
#custom_bugs .datatable4 .nested {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#custom_bugs .datatable4 .nested TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
#custom_bugs FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#custom_bugs FORM .dropdown {
	FONT-SIZE: 112%; MARGIN: 5px 0px
}
#custom_bugs FORM .shuttle {
	FONT-SIZE: 112%; WIDTH: 250px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 165px
}
#custom_bugs FORM .shuttle_action {
	MARGIN-TOP: 10px; FONT-SIZE: 86%; WIDTH: 75px
}
#custom_bugs FORM .radio {
	MARGIN-BOTTOM: -2px
}
#custom_bugs FORM .submit {
	MARGIN-LEFT: 10px
}
#custom_bugs TD.col_01 {
	VERTICAL-ALIGN: top; WIDTH: 75%
}
#custom_bugs TD.col_02 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-SIZE: 86%; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; WIDTH: 25%; COLOR: #666666; PADDING-TOP: 0px
}
BODY {
	MARGIN: 0px auto 50px; WIDTH: 935px
}
#mainframe {
	BORDER-LEFT: lightgrey 1px solid
}
#mainbody {
	MARGIN-TOP: 35px; MARGIN-RIGHT: 20px
}
DIV.fwidth#mainbody {
	MARGIN-TOP: 45px
}
#bannercol {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/images/strip_nav_935.gif)
}
#bannercol IMG {
	DISPLAY: none
}
#rightcol {
	MARGIN-TOP: 10px
}
.default {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/includes_content/images/topstrips/strip_nav_935.gif); BACKGROUND-REPEAT: no-repeat
}
.fullwidth {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/includes_content/images/topstrips/strip_nav_935.gif); BACKGROUND-REPEAT: no-repeat
}
 HTML .fullwidth {
	BACKGROUND-POSITION: 0px -1px
}
#leftnavcol {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/includes/images/local_nav/local_nav_bg.gif)
}
#mw_account_home #account_row_01 {
	WIDTH: 718px
}
#mw_account_home #account_row_02 {
	WIDTH: 718px
}
#mw_account_home #col_1-1 {
	WIDTH: 227px
}
#mw_account_home #col_1-3 {
	WIDTH: 227px
}
#mw_account_home #col_2-1 {
	WIDTH: 718px
}
#mw_account_home #lg_licenses .datatable3 .scroll_header {
	WIDTH: 714px
}
#mw_account_home #col_2-1 .datatable3 .scroll_frame {
	WIDTH: 714px
}
#mw_account_home #col_2-1 .datatable3 .scroll_table {
	WIDTH: 696px
}
#mw_account_home #lg_licenses .datatable3 .scroll_header .sh_col_01 {
	WIDTH: 100px
}
#mw_account_home #lg_licenses .datatable3 .scroll_header .sh_col_02 {
	WIDTH: 100px
}
#mw_account_home #lg_licenses .datatable3 .scroll_header .sh_col_03 {
	WIDTH: 100px
}
#mw_account_home #lg_licenses .datatable3 .scroll_header .sh_col_04 {
	WIDTH: 120px
}
#mw_account_home #lg_licenses .datatable3 .scroll_table .st_col_01 {
	WIDTH: 95px
}
#mw_account_home #lg_licenses .datatable3 .scroll_table .st_col_02 {
	WIDTH: 95px
}
#mw_account_home #lg_licenses .datatable3 .scroll_table .st_col_03 {
	WIDTH: 95px
}
#mw_account_home #lg_licenses .datatable3 .scroll_table .st_col_04 {
	WIDTH: 115px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_header {
	WIDTH: 714px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_header .sh_col_01 {
	FONT-WEIGHT: normal; WIDTH: 85px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_header .sh_col_02 {
	FONT-WEIGHT: normal; BORDER-LEFT: #ffffff 1px solid; WIDTH: 165px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_header .sh_col_03 {
	FONT-WEIGHT: normal; BORDER-LEFT: #ffffff 1px solid; WIDTH: 125px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_header .sh_col_04 {
	FONT-WEIGHT: normal; BORDER-LEFT: #ffffff 1px solid; WIDTH: 85px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_table .st_col_01 {
	WIDTH: 80px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_table .st_col_02 {
	BORDER-LEFT: #ffffff 1px solid; WIDTH: 160px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_table .st_col_03 {
	BORDER-LEFT: #ffffff 1px solid; WIDTH: 120px
}
#mw_account_home #lg_edu_licenses .datatable3 .scroll_table .st_col_04 {
	BORDER-LEFT: #ffffff 1px solid; WIDTH: 80px
}
