.menuHead1 {
	FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
BODY {
	SCROLLBAR-FACE-COLOR: #171f6b; SCROLLBAR-HIGHLIGHT-COLOR: #171f6b; SCROLLBAR-SHADOW-COLOR: #996666; SCROLLBAR-3DLIGHT-COLOR: #cccccc; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #ffa201; SCROLLBAR-DARKSHADOW-COLOR: #ffa201; BACKGROUND-COLOR: #00024a
}
A {
	FONT-SIZE: 8.5pt; COLOR: #fdb645; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menuItem {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
.footerText {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.tablewrap {
	BORDER-RIGHT: #ffa201 thin solid; BORDER-TOP: #ffa201 thin solid; BORDER-LEFT: #ffa201 thin solid; BORDER-BOTTOM: #ffa201 thin solid
}
.menuHead2 {
	FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.menuHeadTop {
	FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.quoteoftheday {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #cccccc; TEXT-DECORATION: none
}
.announcementText {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
.announcementLink {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffa201; TEXT-DECORATION: none
}
.menuHeadTopSeperator {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.newsHead {
	FONT: bold 17px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
.newsHeadNav {
	FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffa201; TEXT-DECORATION: none
}
.newsHeadNavSpace {
	FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
.news {
	FONT: bold 16px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffa201; TEXT-DECORATION: none
}
.newsTopic {
	FONT: bold 16px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffa201; TEXT-DECORATION: none
}
.newsPosetBy {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #999999; TEXT-DECORATION: none
}
.newsText {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
.newsCommands {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffa201; TEXT-DECORATION: none
}
.newsLink {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffa201; TEXT-DECORATION: none
}
.tablewrap2 {
	
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: none
}
.Text {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
.TextBU {
	FONT: bold 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: underline
}
.articlelinks {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: capitalize; COLOR: #ffa201; TEXT-DECORATION: none
}
.Clock {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.Link {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffa201; TEXT-DECORATION: none
}
.bullet {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffa201; TEXT-DECORATION: none
}
.articletitle {
	FONT: bold 18px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: capitalize; COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.iTt {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: black 1px solid; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica; BACKGROUND-COLOR: lightyellow
}
.revnavbox {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: capitalize; COLOR: #ffffff; BACKGROUND-COLOR: #00024a; TEXT-DECORATION: none
}
