BODY {
	SCROLLBAR-FACE-COLOR: #336699; BACKGROUND: white; SCROLLBAR-HIGHLIGHT-COLOR: #add8e6; CURSOR: default; SCROLLBAR-SHADOW-COLOR: navy; SCROLLBAR-ARROW-COLOR: #eaeaea; SCROLLBAR-BASE-COLOR: #add8e6; scrollbar-3d-light-color: #ADD8E6; scrollbar-dark-shadow-color: Gray
}
A.seco:link {
	COLOR: white; TEXT-DECORATION: none
}
A.seco:visited {
	COLOR: white; TEXT-DECORATION: none
}
A.seco:hover {
	COLOR: yellow; TEXT-DECORATION: none
}
