BODY
{
    BORDER-RIGHT: burlywood 3px ridge;
    BORDER-TOP: burlywood 3px ridge;
    MARGIN: 5px;
    BORDER-LEFT: burlywood 3px ridge;
    BORDER-BOTTOM: burlywood 3px ridge
}
.Ayaah
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14pt;
    FONT-FAMILY:  'Traditional Arabic'
}
.Ayaah_Selected
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14pt;
    FONT-FAMILY: 'Traditional Arabic';
    BACKGROUND-COLOR: aliceblue
}
.TopicPath
{
    FONT-SIZE: small
}
.QuranTopics_Label
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: x-large;
    COLOR: darkblue;
    FONT-FAMILY: 'Monotype Koufi'
}
.MainTopicHeading
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    FONT-FAMILY: 'Arabic Transparent';
    TEXT-DECORATION: none
}
.MainTopicHeading:hover
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    FONT-FAMILY: 'Arabic Transparent';
    TEXT-DECORATION: underline
}
.SubTopicHeading
{
    FONT-SIZE: 12pt;
    FONT-FAMILY: 'Arabic Transparent';
    TEXT-DECORATION: none
}
.SubTopicHeading:link
{
    FONT-SIZE: 12pt;
    FONT-FAMILY: 'Arabic Transparent';
    TEXT-DECORATION: none
}
.MainTopicHeading:link
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    FONT-FAMILY: 'Arabic Transparent';
    TEXT-DECORATION: none
}
HR
{
    FONT-WEIGHT: bolder;
    WIDTH: 100%;
    COLOR: #f5deb3;
    HEIGHT: 3px;
    TEXT-ALIGN: center
}
.sorah_name
{
}
.quran_page_top
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    FONT-FAMILY: 'Arabic Transparent', Andalus
}
.basmallah
{
}
THEAD
{
}
.menu_on
{
    FONT-SIZE: 10px;
    CURSOR: hand;
    COLOR: mediumblue;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #f5deb3
}
.menu_off
{
    FONT-SIZE: 10px;
    COLOR: mediumblue;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: lightgrey
}
.Common_Table
{
    BACKGROUND-COLOR: palegoldenrod
}
.Common_THead
{
    FONT-WEIGHT: bolder;
    BACKGROUND-COLOR: #f5deb3;
    TEXT-ALIGN: center
}
.Common_TBody
{
    BACKGROUND-COLOR: #ffffcc
}