#bottom {
	BORDER-TOP: gray 1px solid; FONT-SIZE: 12px; POSITION: relative
}
#left {
	LEFT: 0px; WIDTH: 33%; PADDING-TOP: 0.5em; POSITION: absolute; TOP: 0px
}
#middle {
	LEFT: 33%; WIDTH: 33%; PADDING-TOP: 0.5em; POSITION: absolute; TOP: 0px; TEXT-ALIGN: center
}
#right {
	LEFT: 66%; WIDTH: 33%; PADDING-TOP: 0.5em; POSITION: absolute; TOP: 0px; TEXT-ALIGN: right
}
