.no-border {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
noborder {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.bordered {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0.25em; BORDER-TOP: black 1px solid; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; BORDER-LEFT: black 1px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: black 1px solid
}
.small {
	FONT-SIZE: 80%
}
.top-navig {
	PADDING-RIGHT: 2px; MARGIN-TOP: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffcc
}
.body-style {
	FONT-SIZE: 10pt; FONT-FAMILY: serif; BACKGROUND-COLOR: #ffffff
}
.middle {
	VERTICAL-ALIGN: middle
}
.center {
	TEXT-ALIGN: center
}
.ahem {
	DISPLAY: none
}
.heading {
	FONT-STYLE: italic; FONT-FAMILY: arial, helvetica, sans-serif
}
.thislink {
	COLOR: red
}
.ul {
	TEXT-DECORATION: underline
}
.bold {
	FONT-WEIGHT: bold
}
.ital {
	FONT-STYLE: italic
}
.code {
	FONT-FAMILY: courier new, courier, monospace
}
.blockquote {
	MARGIN-LEFT: 1em; MARGIN-RIGHT: 1em
}
.floatright {
	FLOAT: right
}
.clearright {
	CLEAR: right
}
.noborder {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.ul {
	TEXT-DECORATION: underline
}
.table-center {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
