BODY {
	SCROLLBAR-HIGHLIGHT-COLOR: #3f73ad; SCROLLBAR-ARROW-COLOR: #3f73ad; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #ffffff
}
.roll {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Arial; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.roll:hover {
	FONT-WEIGHT: normal; COLOR: white
}
.blueroll {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: #3f73ad; FONT-STYLE: normal; FONT-FAMILY: Arial; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.blueroll:hover {
	FONT-WEIGHT: normal; COLOR: black
}
.drkblueroll {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: #3f73ad; FONT-STYLE: normal; FONT-FAMILY: Arial; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.drkblueroll:hover {
	FONT-WEIGHT: normal; COLOR: black
}
.forumroll {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: #3f73ad; FONT-STYLE: normal; FONT-FAMILY: Verdana; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.forumroll:hover {
	COLOR: black
}
.homepagesubheading {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.leftnavroll {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; TEXT-TRANSFORM: none; COLOR: red; FONT-STYLE: normal; FONT-FAMILY: Arial; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.leftnavroll:hover {
	FONT-WEIGHT: normal; COLOR: black
}
A.leftnavroll:visited {
	FONT-WEIGHT: normal; COLOR: #000000
}
.forumtoproll {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Verdana; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.forumtoproll:hover {
	FONT-WEIGHT: normal; COLOR: #3f73ad
}
A.forumtoproll:visited {
	FONT-WEIGHT: normal; COLOR: #000000
}
.keywordroll {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: #3f73ad; FONT-STYLE: normal; FONT-FAMILY: Verdana; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.keywordroll:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.textroll {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: #3f73ad; FONT-STYLE: normal; FONT-FAMILY: Arial; LETTER-SPACING: normal; TEXT-DECORATION: none
}
.textroll:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
A.dropdownroll {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; TEXT-TRANSFORM: none; COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Arial; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.dropdownroll:hover {
	COLOR: black
}
A.homepageleftroll {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; TEXT-TRANSFORM: none; COLOR: #999999; FONT-STYLE: normal; FONT-FAMILY: Arial; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.homepageleftroll:hover {
	COLOR: #999999; TEXT-DECORATION: none
}
A.homepageroll {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.homepageroll:hover {
	COLOR: #999999; TEXT-DECORATION: underline
}
A.homepagerollblack {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.homepagerollblack:hover {
	COLOR: #999999; TEXT-DECORATION: underline
}
A.homepagerollwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; TEXT-TRANSFORM: none; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Arial; LETTER-SPACING: normal; TEXT-DECORATION: none
}
A.homepagerollwhite:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.homepageblacktext9 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana
}
.homepagewhitetext9 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.homepagetext {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.homepagetext8 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.homepagetext9 {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.homepagetext10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #3f73ad; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.homepagecolor {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #3f73ad; FONT-FAMILY: Verdana
}
.homepageheader {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #3f73ad; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.HomePageDivBorder {
	BORDER-RIGHT: #3f73ad 1px outset; BORDER-TOP: #3f73ad 0px outset; BORDER-LEFT: #3f73ad 1px outset; WIDTH: 135px; BORDER-BOTTOM: #3f73ad 1px outset
}
.HomePageContentBorder {
	BORDER-RIGHT: #3f73ad 1px outset; BORDER-TOP: #3f73ad 1px outset; BORDER-LEFT: #3f73ad 1px outset; WIDTH: 225px; BORDER-BOTTOM: #3f73ad 1px outset; POSITION: relative
}
TD.banner {
	BACKGROUND-COLOR: #3f73ad
}
TD.topnav {
	COLOR: #ffffff; FONT-FAMILY: Arial; BACKGROUND-COLOR: #3f73ad
}
TD.leftnav {
	BACKGROUND-COLOR: #3f73ad
}
TD.content {
	BACKGROUND-COLOR: #ffffff
}
.menu {
	COLOR: #ffffff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #003399; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.menuActive {
	COLOR: #ffffff; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #3399cc; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.contentBlue {
	FONT-SIZE: 12pt; COLOR: #003399; FONT-FAMILY: Verdana
}
.contentPurple {
	FONT-SIZE: 12pt; COLOR: #3f73ad; FONT-FAMILY: Verdana
}
.contentBlueSm {
	FONT-SIZE: 8pt; COLOR: #003399; FONT-FAMILY: Verdana
}
.contentGreen {
	FONT-SIZE: 12pt; COLOR: #3f73ad; FONT-FAMILY: Verdana
}
.contentWhite {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.contentBlank {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.title {
	FONT-SIZE: 12pt; COLOR: #003399; FONT-FAMILY: Verdana
}
.description {
	FONT-SIZE: 8pt; COLOR: #3f73ad; FONT-FAMILY: Verdana
}
.tinylink {
	FONT-SIZE: 8pt; TEXT-DECORATION: none
}
.clsBodyText {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: verdana
}
.clsBody {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica
}
.IndexedContentText {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: arial, helvetica
}
.clsBodyBlue {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.clsBlueBold {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.clsFieldLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: verdana
}
.clsLabelHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: black; FONT-FAMILY: Arial
}
.clsPurpleHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #3f73ad; FONT-FAMILY: Arial
}
.MenuBar {
	BORDER-RIGHT: #3f73ad 0px outset; BORDER-TOP: #3f73ad 0px outset; BORDER-LEFT: #3f73ad 0px outset; BORDER-BOTTOM: #3f73ad 1px inset
}
.clsButton {
	BORDER-RIGHT: #3f73ad 1px outset; BORDER-TOP: #3f73ad 1px outset; BORDER-LEFT: #3f73ad 1px outset; COLOR: #ffffff; BORDER-BOTTOM: #3f73ad 1px outset; BACKGROUND-COLOR: #3f73ad
}
.clsTextBoxBorder {
	BORDER-RIGHT: #3f73ad 1px outset; BORDER-TOP: #3f73ad 1px outset; BORDER-LEFT: #3f73ad 1px outset; BORDER-BOTTOM: #3f73ad 1px outset
}
.clsComboBox {
	BORDER-RIGHT: #3f73ad 1px outset; BORDER-TOP: #3f73ad 1px outset; FONT-SIZE: 8pt; BORDER-LEFT: #3f73ad 1px outset; BORDER-BOTTOM: #3f73ad 3px outset; FONT-FAMILY: Verdana
}
.clsTextAreaBorder {
	BORDER-RIGHT: #3f73ad 1px outset; BORDER-TOP: #3f73ad 1px outset; FONT-SIZE: 8pt; SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; BORDER-LEFT: #3f73ad 1px outset; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #ffffff; BORDER-BOTTOM: #3f73ad 3px outset; FONT-FAMILY: Verdana; SCROLLBAR-DARKSHADOW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #3f73ad
}
.clsTextAreaBorderNoScroll {
	BORDER-RIGHT: #3f73ad 0px outset; BORDER-TOP: #3f73ad 0px outset; FONT-SIZE: 8pt; OVERFLOW: hidden; BORDER-LEFT: #3f73ad 0px outset; COLOR: #000000; BORDER-BOTTOM: #3f73ad 0px outset; FONT-FAMILY: Verdana
}
.clsPurpleError {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #3f73ad; FONT-FAMILY: Verdana
}
PRE.content {
	BACKGROUND-COLOR: #ffffff
}
.clsPreText {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-FAMILY: Arial
}
.PreSourceCode {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #f2f2f2
}
.ForumText {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff
}
.Namespace {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Arial; BACKGROUND-COLOR: #efefef
}
.HomePageLayer {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; OVERFLOW: auto; BORDER-LEFT: medium none; WIDTH: 640px; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #3f73ad; BORDER-BOTTOM: medium none; SCROLLBAR-DARKSHADOW-COLOR: #000000; SCROLLBAR-BASE-COLOR: #3f73ad; HEIGHT: 400px
}
