BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #5d5d5d; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1 {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px
}
SELECT {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #4b7c9f
}
TH {
	FONT-SIZE: 11px; COLOR: #000000
}
TD {
	FONT-SIZE: 11px; COLOR: #000000
}
PRE {
	FONT-SIZE: 11px; COLOR: #000000
}
DIV {
	FONT-SIZE: 11px; COLOR: #000000
}
.forumunreadcell {
	BACKGROUND-COLOR: #fae084
}
.MasterPageContainer {
	BACKGROUND-COLOR: #ffffff
}
PRE {
	WORD-WRAP: break-word
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.input1 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; WIDTH: 116px; COLOR: #979da2; BORDER-BOTTOM: medium none
}
.input2 {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; WIDTH: 81px; COLOR: #979da2; BORDER-BOTTOM: medium none
}
.align-justify {
	TEXT-ALIGN: justify
}
.text1 {
	COLOR: #6c7176
}
.text2 {
	COLOR: #d8d8d8
}
.img1 {
	MARGIN-RIGHT: 10px
}
.style1 {
	COLOR: #b2b2b2
}
.style1 A {
	COLOR: #b2b2b2
}
.style1 A:hover {
	
}
H1 {
	MARGIN-TOP: 0px
}
H2 {
	MARGIN-TOP: 0px
}
H3 {
	MARGIN-TOP: 0px
}
H4 {
	MARGIN-TOP: 0px
}
H5 {
	MARGIN-TOP: 0px
}
H6 {
	MARGIN-TOP: 0px
}
P {
	MARGIN-TOP: 0px
}
OL {
	MARGIN-TOP: 0px
}
UL {
	MARGIN-TOP: 0px
}
UL.list1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL.list1 LI {
	DISPLAY: inline
}
UL.list1 LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 35px; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 7px; PADDING-TOP: 3px; HEIGHT: 23px; TEXT-DECORATION: none
}
UL.list1 LI A:hover {
	TEXT-DECORATION: none
}
.rss {
	BACKGROUND: url(/graphics/template/img08.jpg) no-repeat left center
}
A IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
A {
	COLOR: #006d8e; TEXT-DECORATION: none
}
#adspace {
	
}
#header {
	BACKGROUND: url(/graphics/template/img01.gif) repeat-x; HEIGHT: 39px
}
#adheader {
	BACKGROUND: url(/graphics/template/img01.gif) repeat-x; HEIGHT: 39px
}
#logo {
	FLOAT: left; WIDTH: 160px; HEIGHT: 39px
}
#logo H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-INDENT: -9999em; PADDING-TOP: 0px
}
#logo A {
	DISPLAY: block; BACKGROUND: url(/graphics/template/img02.jpg) no-repeat; WIDTH: 200px; HEIGHT: 39px
}
#search {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
#search FORM {
	BORDER-RIGHT: #86cce1 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #86cce1 1px solid; PADDING-LEFT: 1px; BACKGROUND: #006d8e; PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: #86cce1 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #86cce1 1px solid
}
#search FIELDSET {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
#search INPUT {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FLOAT: left; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#search INPUT.text {
	BACKGROUND: #ffffff; WIDTH: 227px; HEIGHT: 20px
}
#search INPUT.button {
	BACKGROUND: url(/graphics/template/img03.gif) repeat-x; MARGIN-LEFT: 0px; WIDTH: 70px; COLOR: #006d8e; HEIGHT: 21px
}
#menu {
	FLOAT: right
}
#menu UL {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 6px; LIST-STYLE-TYPE: none
}
#menu LI {
	PADDING-RIGHT: 9px; PADDING-LEFT: 11px; BACKGROUND: url(/graphics/template/img04.gif) no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; HEIGHT: 22px
}
#menu LI.first {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#menu A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#menu A:hover {
	TEXT-DECORATION: underline
}
#submenu {
	BACKGROUND: url(/graphics/template/img05.gif) #fae084 repeat-x; BORDER-BOTTOM: #f59906 0px solid; HEIGHT: 36px
}
#submenu UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 3px; LIST-STYLE-TYPE: none
}
#submenu LI {
	FLOAT: right
}
#submenu A {
	PADDING-RIGHT: 9px; DISPLAY: block; PADDING-LEFT: 9px; FLOAT: left; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; COLOR: #003b4c; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#submenu A:hover {
	BORDER-RIGHT: #003b4c 0px solid; BORDER-TOP: #003b4c 0px solid; BACKGROUND: url(/graphics/template/img06.gif) #fbde9c repeat-x left center; BORDER-LEFT: #003b4c 0px solid; BORDER-BOTTOM: #003b4c 0px solid
}
#content {
	PADDING-RIGHT: 40px; PADDING-LEFT: 40px; BACKGROUND: #ffffff; PADDING-BOTTOM: 40px; PADDING-TOP: 40px
}
.boxed {
	
}
.boxed .title {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; MARGIN: 0px 0px 5px; COLOR: #006d8e
}
.boxed .content {
	BORDER-RIGHT: #cfdadd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cfdadd 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 15px; BORDER-LEFT: #cfdadd 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #cfdadd 1px solid
}
.post {
	MARGIN-BOTTOM: 30px
}
.post .image {
	FLOAT: left; WIDTH: 80px
}
.post .entry {
	MARGIN-LEFT: 80px
}
.post H3 {
	MARGIN: 0px
}
.post H3 A {
	TEXT-DECORATION: none
}
.post H3 A:hover {
	TEXT-DECORATION: underline
}
.post P {
	FONT-SIZE: 14px
}
.post P.meta {
	FONT-SIZE: 11px; COLOR: #006d8e
}
#column1 {
	FLOAT: left; WIDTH: 270px
}
#column2 {
	FLOAT: right; WIDTH: 270px
}
#column3 {
	MARGIN: 0px 300px
}
#footer {
	BACKGROUND: url(/graphics/template/img07.gif) repeat-x
}
.GoogleTextAdHeading {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(/graphics/arrow_small.gif) no-repeat right center; PADDING-BOTTOM: 0px; COLOR: #4b7c9f; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.GoogleTextAd {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.feedbackscore {
	BORDER-RIGHT: red 0px solid; BACKGROUND-POSITION: center 50%; BORDER-TOP: red 0px solid; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(/graphics/star48.png); VERTICAL-ALIGN: middle; BORDER-LEFT: red 0px solid; WIDTH: 48px; COLOR: #000000; BORDER-BOTTOM: red 0px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 48px; TEXT-ALIGN: center
}
.gridpagelink {
	COLOR: #4b7c9f; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.gridpagelinkselected {
	COLOR: #ffffff; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.gridpagebox {
	BORDER-RIGHT: #4b7c9f 0px solid; BORDER-TOP: #4b7c9f 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #4b7c9f 0px solid; COLOR: #000000; BORDER-BOTTOM: #4b7c9f 0px solid; HEIGHT: 20px; TEXT-ALIGN: center
}
.gridpageboxselected {
	BORDER-RIGHT: #4b7c9f 0px solid; BORDER-TOP: #4b7c9f 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #4b7c9f 0px solid; COLOR: #ffffff; BORDER-BOTTOM: #4b7c9f 0px solid; HEIGHT: 15px; TEXT-ALIGN: center
}
.BlueBarTable {
	BORDER-RIGHT: #4b7c9f 0px solid; BORDER-TOP: #4b7c9f 0px solid; BORDER-LEFT: #4b7c9f 0px solid; BORDER-BOTTOM: #4b7c9f 0px solid
}
.bluebar {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 0px solid; COLOR: #4b7c9f; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana, arial, helvetica; LETTER-SPACING: -1px; HEIGHT: 1px; TEXT-DECORATION: none
}
.brightsidelink {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(/graphics/arrow_small.gif) no-repeat right center; PADDING-BOTTOM: 0px; COLOR: #ff7800; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.brightsidelink A:visited {
	COLOR: #ff7800; TEXT-DECORATION: none
}
.sideHeading {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #6c7176; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.sidelink {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(/graphics/arrow_small.gif) no-repeat right center; PADDING-BOTTOM: 0px; COLOR: #4b7c9f; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.InternalLink {
	PADDING-RIGHT: 8px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #0000ff; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: arial,sans-serif; TEXT-DECORATION: underline
}
.InternalLink A:visited {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
.sidelink A:visited {
	COLOR: #0040ff; TEXT-DECORATION: none
}
.treeLinkTop {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #4b7c9f; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.treeLink {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666666; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.treeLinkSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ff7800; LETTER-SPACING: -1px; TEXT-DECORATION: none
}
.link {
	FONT-WEIGHT: normal; COLOR: #666666
}
.linkBright {
	COLOR: #ff7800
}
.linkBright8 {
	COLOR: #ff7800
}
.linkHeading {
	FONT-WEIGHT: bold; COLOR: #4b7c9f
}
.linkParagraph {
	COLOR: #666666; TEXT-DECORATION: underline
}
.Text8Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-STYLE: normal; TEXT-DECORATION: none
}
.Text10Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.TextBold {
	FONT-WEIGHT: bold
}
.TextFade {
	FONT-STYLE: normal; BACKGROUND-COLOR: #efefef; TEXT-DECORATION: none
}
.linkColoredText {
	COLOR: #4b7c9f
}
.TableCardTopCell {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; COLOR: #000000; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #efefef
}
.TableCardLeftCell {
	BORDER-RIGHT: #bbbbbb 0px solid; BORDER-TOP: #efefef 0px solid; BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid
}
.TableCardRightCell {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #efefef 0px solid; BORDER-LEFT: #bbbbbb 0px solid; BORDER-BOTTOM: #bbbbbb 1px solid
}
.TableCardCell {
	BORDER-RIGHT: #bbbbbb 0px solid; BORDER-TOP: #efefef 0px solid; BORDER-LEFT: #bbbbbb 0px solid; BORDER-BOTTOM: #bbbbbb 1px solid
}
.TableCardCellAlternate {
	BORDER-RIGHT: #bbbbbb 0px solid; BORDER-TOP: #efefef 0px solid; BORDER-LEFT: #bbbbbb 0px solid; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #efefef
}
.TableCardBottomCell {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #efefef 1px solid; BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid
}
.TableCardLeftCellAlternate {
	BORDER-RIGHT: #bbbbbb 0px solid; BORDER-TOP: #efefef 0px solid; BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #efefef
}
.TableCardRightCellAlternate {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #efefef 0px solid; BORDER-LEFT: #bbbbbb 0px solid; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #efefef
}
.TableCardBottomAlternate {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #efefef 1px solid; BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid; BACKGROUND-COLOR: #efefef
}
.TextBox {
	BORDER-RIGHT: red 0px outset; BORDER-TOP: red 0px outset; BORDER-LEFT: red 0px outset; BORDER-BOTTOM: red 0px outset
}
.TextBoxBackground {
	BACKGROUND: url(graphics/TextBoxBackground.gif) #ffffff no-repeat; VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
.SmallTextBoxBackground {
	BACKGROUND: url(graphics/SmallTextBoxBackground.gif) #ffffff no-repeat; VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
.LongTextBoxBackground {
	FONT-SIZE: 10px; BACKGROUND: url(graphics/LongTextBoxBackground.gif) #ffffff no-repeat; VERTICAL-ALIGN: top; WIDTH: 496px; HEIGHT: 23px; TEXT-ALIGN: left
}
.TextAreaBackground {
	FONT-SIZE: 10px; BACKGROUND: url(graphics/TextAreaBackground.gif) #fff no-repeat; VERTICAL-ALIGN: top; WIDTH: 496px; HEIGHT: 280px
}
.TopicAreaTree {
	BACKGROUND: url(graphics/SmallTextBoxBackground.gif) #ffffff no-repeat; VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
.NoteBookBorder {
	BACKGROUND: url(graphics/NoteBookBorder.gif) #fff; VERTICAL-ALIGN: top; WIDTH: 56px; HEIGHT: 38px
}
.FreeTextShade {
	OVERFLOW: auto; WIDTH: 600px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #efefef; WORD-WRAP: break-word
}
.FreeTextHalfWidthShade {
	OVERFLOW: auto; WIDTH: 300px; BACKGROUND-COLOR: #efefef; WORD-WRAP: break-word
}
.FreeText {
	OVERFLOW: auto; WIDTH: 600px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WORD-WRAP: break-word
}
.FreeTextFull {
	OVERFLOW: auto; WIDTH: 800px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WORD-WRAP: break-word
}
.NewsGroupBook {
	BORDER-RIGHT: #666666 3px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 3px solid; WIDTH: 99%; BORDER-BOTTOM: #666666 3px solid; HEIGHT: 100%
}
.FreeTextNewsGroup {
	OVERFLOW: auto; WIDTH: 400px; WORD-WRAP: break-word
}
.FreeTextHalfWidth {
	OVERFLOW: auto; WIDTH: 300px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WORD-WRAP: break-word
}
.FreeTextTopicArea {
	OVERFLOW: auto; WIDTH: 425px; WORD-WRAP: break-word
}
.FreeTextSearch {
	OVERFLOW: auto; WIDTH: 250px; WORD-WRAP: break-word
}
.csharpcode {
	FONT-SIZE: 11px; OVERFLOW: auto; WIDTH: 680px; COLOR: black; FONT-FAMILY: Consolas, "Courier New", Courier, Monospace; BACKGROUND-COLOR: #ffffff; WORD-WRAP: break-word
}
.csharpcode PRE {
	FONT-SIZE: 11px; OVERFLOW: auto; WIDTH: 680px; COLOR: black; FONT-FAMILY: Consolas, "Courier New", Courier, Monospace; BACKGROUND-COLOR: #ffffff; WORD-WRAP: break-word
}
.csharpcode PRE {
	MARGIN: 0em
}
.csharpcode .rem {
	COLOR: #008000
}
.csharpcode .kwrd {
	COLOR: #0000ff
}
.csharpcode .str {
	COLOR: #006080
}
.csharpcode .op {
	COLOR: #0000c0
}
.csharpcode .preproc {
	COLOR: #cc6633
}
.csharpcode .asp {
	BACKGROUND-COLOR: #ffff00
}
.csharpcode .html {
	COLOR: #800000
}
.csharpcode .attr {
	COLOR: #ff0000
}
.csharpcode .alt {
	MARGIN: 0em; WIDTH: 100%; BACKGROUND-COLOR: #f4f4f4
}
.csharpcode .lnum {
	COLOR: #606060
}
.adTableTop {
	BACKGROUND-IMAGE: url(/graphics/corners/TableBlockTop.jpg); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.adTableMiddle {
	BACKGROUND-IMAGE: url(/graphics/corners/TableBlockMiddle.jpg); VERTICAL-ALIGN: top; BACKGROUND-REPEAT: repeat-y
}
.adTableBottom {
	BACKGROUND-IMAGE: url(/graphics/corners/TableBlockBottom.jpg); BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px
}
.PostTopRow {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 0px solid; BACKGROUND-COLOR: #f4f4f4
}
.PostUserRow {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 0px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 0px solid; BACKGROUND-COLOR: #f4f4f4
}
.PostTextRow {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 0px solid
}
.PostBottomRow {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 0px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.PostSpacerRow {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
