.module-tipjar {
	FONT-FAMILY: 'trebuchet ms', sans-serif
}
.module-tipjar-r2 {
	FONT-FAMILY: 'trebuchet ms', sans-serif
}
.module-tipjar .button {
	MARGIN: 0px
}
.module-tipjar-r2 .tipjar-button-wrapper {
	POSITION: relative
}
.module-tipjar-r2 .tipjar-button {
	FLOAT: left; POSITION: relative; TEXT-ALIGN: left
}
.module-tipjar .button H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.module-tipjar .button P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.module-tipjar-r2 .tipjar-button H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.module-tipjar-r2 .tipjar-button P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.module-tipjar .button IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; POSITION: absolute; TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.module-tipjar-r2 .tipjar-button IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; LEFT: 0px; BORDER-BOTTOM-WIDTH: 0px; POSITION: absolute; TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.module-tipjar .module-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px; PADDING-TOP: 0px; POSITION: relative
}
.module-tipjar P {
	MARGIN-LEFT: 10px
}
.module-tipjar-r2 P {
	MARGIN: 2px 0px 0px
}
.module-tipjar #button-1 {
	BACKGROUND: url(/.shared/images/tipjar-buttons/tipjar-green-large.gif) no-repeat left top
}
.module-tipjar-r2 #button-1 {
	BACKGROUND: url(/.shared/images/tipjar-buttons/tipjar-green-large.gif) no-repeat left top
}
.module-tipjar #button-2 {
	BACKGROUND: url(/.shared/images/tipjar-buttons/tipjar-pink-large.gif) no-repeat left top
}
.module-tipjar-r2 #button-2 {
	BACKGROUND: url(/.shared/images/tipjar-buttons/tipjar-pink-large.gif) no-repeat left top
}
.module-tipjar #button-3 {
	BACKGROUND: url(/.shared/images/tipjar-buttons/tipjar-green-medium.gif) no-repeat left top
}
.module-tipjar-r2 #button-3 {
	BACKGROUND: url(/.shared/images/tipjar-buttons/tipjar-green-medium.gif) no-repeat left top
}
.module-tipjar #button-4 {
	BACKGROUND: url(/.shared/images/tipjar-buttons/tipjar-pink-medium.gif) no-repeat left top
}
.module-tipjar-r2 #button-4 {
	BACKGROUND: url(/.shared/images/tipjar-buttons/tipjar-pink-medium.gif) no-repeat left top
}
.module-tipjar #button-5 {
	BACKGROUND: url(/.shared/images/tipjar-buttons/tipjar-green-small.gif) no-repeat left top
}
.module-tipjar-r2 #button-5 {
	BACKGROUND: url(/.shared/images/tipjar-buttons/tipjar-green-small.gif) no-repeat left top
}
.module-tipjar #button-6 {
	BACKGROUND: url(/.shared/images/tipjar-buttons/tipjar-pink-small.gif) no-repeat left top
}
.module-tipjar-r2 #button-6 {
	BACKGROUND: url(/.shared/images/tipjar-buttons/tipjar-pink-small.gif) no-repeat left top
}
.module-tipjar .empty-1 {
	WIDTH: 120px; HEIGHT: 52px
}
.module-tipjar .empty-2 {
	WIDTH: 120px; HEIGHT: 52px
}
.module-tipjar-r2 #button-1 {
	WIDTH: 120px; HEIGHT: 52px
}
.module-tipjar-r2 #button-2 {
	WIDTH: 120px; HEIGHT: 52px
}
.module-tipjar-r2 .empty-1 {
	WIDTH: 120px; HEIGHT: 52px
}
.module-tipjar-r2 .empty-2 {
	WIDTH: 120px; HEIGHT: 52px
}
.module-tipjar #button-1 H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.module-tipjar #button-2 H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.module-tipjar-r2 #button-1 H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.module-tipjar-r2 #button-2 H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.module-tipjar #button-1 P {
	FONT-SIZE: 11px
}
.module-tipjar #button-2 P {
	FONT-SIZE: 11px
}
.module-tipjar-r2 #button-1 P {
	FONT-SIZE: 11px
}
.module-tipjar-r2 #button-2 P {
	FONT-SIZE: 11px
}
.module-tipjar #button-1 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; PADDING-BOTTOM: 24px; PADDING-TOP: 0px
}
.module-tipjar #button-2 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; PADDING-BOTTOM: 24px; PADDING-TOP: 0px
}
.module-tipjar-r2 #button-1 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.module-tipjar-r2 #button-2 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 28px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.module-tipjar .empty-3 {
	WIDTH: 88px; HEIGHT: 31px
}
.module-tipjar .empty-4 {
	WIDTH: 88px; HEIGHT: 31px
}
.module-tipjar-r2 #button-3 {
	WIDTH: 88px; HEIGHT: 31px
}
.module-tipjar-r2 #button-4 {
	WIDTH: 88px; HEIGHT: 31px
}
.module-tipjar-r2 .empty-3 {
	WIDTH: 88px; HEIGHT: 31px
}
.module-tipjar-r2 .empty-4 {
	WIDTH: 88px; HEIGHT: 31px
}
.module-tipjar #button-3 H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.module-tipjar #button-4 H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.module-tipjar-r2 #button-3 H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.module-tipjar-r2 #button-4 H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.module-tipjar #button-3 P {
	FONT-SIZE: 11px
}
.module-tipjar #button-4 P {
	FONT-SIZE: 11px
}
.module-tipjar-r2 #button-3 P {
	FONT-SIZE: 11px
}
.module-tipjar-r2 #button-4 P {
	FONT-SIZE: 11px
}
.module-tipjar #button-3 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
.module-tipjar #button-4 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
.module-tipjar-r2 #button-3 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.module-tipjar-r2 #button-4 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.module-tipjar #button-5 {
	WIDTH: 94px; HEIGHT: 15px
}
.module-tipjar #button-6 {
	WIDTH: 94px; HEIGHT: 15px
}
.module-tipjar .empty-5 {
	WIDTH: 94px; HEIGHT: 15px
}
.module-tipjar .empty-6 {
	WIDTH: 94px; HEIGHT: 15px
}
.module-tipjar-r2 #button-5 {
	WIDTH: 94px; HEIGHT: 15px
}
.module-tipjar-r2 #button-6 {
	WIDTH: 94px; HEIGHT: 15px
}
.module-tipjar-r2 .empty-5 {
	WIDTH: 94px; HEIGHT: 15px
}
.module-tipjar-r2 .empty-6 {
	WIDTH: 94px; HEIGHT: 15px
}
.module-tipjar #button-5 H3 {
	DISPLAY: none
}
.module-tipjar #button-6 H3 {
	DISPLAY: none
}
.module-tipjar #button-5 P {
	DISPLAY: none
}
.module-tipjar #button-6 P {
	DISPLAY: none
}
.module-tipjar-r2 #button-5 H3 {
	DISPLAY: none
}
.module-tipjar-r2 #button-6 H3 {
	DISPLAY: none
}
.module-tipjar-r2 #button-5 P {
	DISPLAY: none
}
.module-tipjar-r2 #button-6 P {
	DISPLAY: none
}
