* {
	margin:0;
	padding:0;
}
#layoutCenterBody {
	margin:10px 10px 0 10px;
}
#layoutNavigation {
	border:1px solid #31759C;
	width:180px;
	float:left;
	background:#80B8D5;
}
#layoutNavigation .navTitle2 {
	background:#31759C;
	height:30px;
}
#layoutNavigation .navTitle2 h3 {
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	padding:6px 10px;
}

/* left navigation menu begins */
#layoutNavigation ul {
	list-style-type: none;
	margin:10px 0;
}
#layoutNavigation ul span {
	
}
#layoutNavigation a {
	display: block;
	background-color: #80B8D5;
	border-bottom: 1px dotted #31759C;
	margin:7px 10px;
	width: 140px; left: -40px; position: relative; top: 0px;
}
#layoutNavigation a:link, #layoutNavigation a:visited {
	color: #fff;
	text-decoration: none;
}
#layoutNavigation a:hover {
	background-color: #C7E4F3;
	color: #000;
}
/* left navigation menu ends */