 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	MARGIN: 1em 5%
}
PRE {
	MARGIN: 1em 5%
}
BLOCKQUOTE {
	MARGIN: 1em 5%
}
LABEL {
	MARGIN: 1em 5%
}
UL {
	MARGIN: 1em 5%
}
OL {
	MARGIN: 1em 5%
}
DL {
	MARGIN: 1em 5%
}
FIELDSET {
	MARGIN: 1em 5%
}
ADDRESS {
	MARGIN: 1em 5%
}
LI {
	MARGIN-LEFT: 5%
}
DD {
	MARGIN-LEFT: 5%
}
FIELDSET {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
HTML {
	BACKGROUND-IMAGE: url(/sites/400/images/pagebg.gif); BACKGROUND-REPEAT: repeat-x
}
BODY {
	BACKGROUND-COLOR: transparent
}
#loginstrip {
	MARGIN: 5px auto auto; WIDTH: 770px; POSITION: relative; TEXT-ALIGN: left
}
#logonav {
	MARGIN: 5px auto auto; WIDTH: 770px; POSITION: relative; TEXT-ALIGN: left
}
#contentarea {
	MARGIN: 5px auto auto; WIDTH: 770px; POSITION: relative; TEXT-ALIGN: left
}
#browselinks {
	MARGIN: 5px auto auto; WIDTH: 770px; POSITION: relative; TEXT-ALIGN: left
}
#copyrightstrip {
	MARGIN: 5px auto auto; WIDTH: 770px; POSITION: relative; TEXT-ALIGN: left
}
#loginstrip {
	MARGIN-TOP: 0px; WIDTH: 100%; HEIGHT: 25px
}
#loginstrip #loginstripbuttons {
	MARGIN: 2px auto auto; WIDTH: 770px; POSITION: relative; HEIGHT: 20px
}
#loginstrip #loginstripbuttons .buttoncontainer {
	PADDING-RIGHT: 10px; Z-INDEX: 50; LEFT: 450px; WIDTH: 310px; POSITION: absolute; TOP: 0px; TEXT-ALIGN: right
}
#loginstrip #loginstripbuttons IMG {
	MARGIN-TOP: -1px; VERTICAL-ALIGN: middle
}
#loginstrip #loginstripbuttons A {
	FONT-SIZE: 11px; COLOR: #1c8ad3
}
#loginstrip #loginstripbuttons B {
	FONT-SIZE: 11px; COLOR: #1c8ad3
}
#logonav {
	MARGIN-TOP: -15px; HEIGHT: 215px
}
#logonav #logonavnav {
	MARGIN-LEFT: 40px
}
#logonav #logonavheader {
	BACKGROUND-POSITION: center top; MARGIN-TOP: -22px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 185px
}
#logonav #logonavbuttons {
	MARGIN-TOP: -178px; MARGIN-LEFT: 7px
}
#logonav #logonavlogo {
	MARGIN-TOP: 2px; MARGIN-LEFT: 20px; MARGIN-RIGHT: 10px
}
#contentarea {
	BACKGROUND-POSITION: center top; BACKGROUND-IMAGE: url(/sites/400/images/curvedboxtop.gif); BACKGROUND-REPEAT: no-repeat
}
#contentarea IMG.headergraphic {
	MARGIN-TOP: 7px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: -15px
}
#browselinks {
	
}
#browselinks H1 {
	COLOR: #39b54a
}
#browselinks H3 {
	COLOR: #39b54a
}
#browselinks H1 {
	FONT-SIZE: 20px; MARGIN-BOTTOM: 4px
}
#browselinks H3 {
	MARGIN-TOP: 8px; FONT-SIZE: 12px
}
#browselinks .browsebystate {
	BORDER-RIGHT: #aaa 1px dashed; BORDER-TOP: #aaa 1px dashed; FLOAT: left; WIDTH: 64%
}
#browselinks .browsebystate .statecol {
	FLOAT: left; WIDTH: 100px
}
#browselinks .browsebycat {
	BORDER-TOP: #aaa 1px dashed; PADDING-LEFT: 10px; FLOAT: left; WIDTH: 34%
}
#browselinks A {
	FONT-SIZE: 11px; COLOR: #1c8ad3
}
#copyrightstrip {
	COLOR: #1c8ad3; PADDING-TOP: 3px; HEIGHT: 20px; BACKGROUND-COLOR: #ceebff
}
#copyrightstrip  {
	FONT-SIZE: 11px
}
#copyrightstrip A {
	FONT-SIZE: 11px; COLOR: #1c8ad3
}
#copyrightstrip #copydiv {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 370px
}
#copyrightstrip #linksdiv {
	FLOAT: left; WIDTH: 370px; MARGIN-RIGHT: 10px; TEXT-ALIGN: right
}
.paddedcell {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
#splashleftcol {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 15px; WIDTH: 360px; PADDING-TOP: 10px
}
#splashrightcol {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 15px; WIDTH: 360px; PADDING-TOP: 10px
}
#splashrightcol {
	FLOAT: right
}
#splashtext {
	POSITION: relative
}
#splashresume {
	POSITION: relative
}
#splashquicksearch {
	POSITION: relative
}
#splashcprofiles {
	POSITION: relative
}
#splashctools {
	POSITION: relative
}
#splashtext {
	MARGIN-TOP: 10px
}
#splashquicksearch {
	MARGIN-TOP: 10px
}
#splashcprofiles {
	MARGIN-TOP: 10px
}
#splashtext DIV {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
#splashresume {
	MARGIN-TOP: 35px
}
#splashctools {
	MARGIN-TOP: 15px
}
.splashboxbody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 22px; HEIGHT: 1%
}
.splashboxbody .splashboxbodytext {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 235px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.splashboxbody A {
	FONT-SIZE: 11px; COLOR: #1c8ad3
}
.splashboxbody IMG {
	LEFT: 245px; POSITION: absolute; TOP: -3px
}
#splashresume .splashboxbody {
	BACKGROUND-IMAGE: url(/sites/400/images/postresumebg.gif); COLOR: #278934; BACKGROUND-REPEAT: repeat-y
}
#splashresume .splashboxbody A {
	COLOR: #278934
}
#splashcprofiles .splashboxbody {
	BACKGROUND-IMAGE: url(/sites/400/images/compprofilesbg.gif); COLOR: #956b11; BACKGROUND-REPEAT: repeat-y
}
#splashcprofiles .splashboxbody A {
	COLOR: #956b11
}
#splashctools .splashboxbody {
	BACKGROUND-IMAGE: url(/sites/400/images/careertoolsbg.gif); COLOR: #6e04c0; BACKGROUND-REPEAT: repeat-y
}
#splashctools .splashboxbody A {
	COLOR: #6e04c0
}
#splashquicksearch .splashboxbody {
	PADDING-LEFT: 12px; BACKGROUND-IMAGE: url(/sites/400/images/searchboxbg.gif); BACKGROUND-REPEAT: repeat-y
}
#splashquicksearch .quicksearchlinks {
	FLOAT: right; PADDING-TOP: 5px
}
#splashquicksearch LABEL {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px 0px 5px; COLOR: #2592da
}
UNKNOWN {
	BORDER-RIGHT: #2592da 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #2592da 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 3px; BORDER-LEFT: #2592da 1px solid; WIDTH: 98%; COLOR: #2592da; PADDING-TOP: 2px; BORDER-BOTTOM: #2592da 1px solid; BACKGROUND-COLOR: #fff
}
UNKNOWN {
	WIDTH: 70%
}
#splashquicksearch .statefloat {
	FLOAT: right; WIDTH: 24%
}
UNKNOWN {
	DISPLAY: block; MARGIN: 3px 0px 0px
}
#splashresume .splashboxbody .splashboxbodytext {
	WIDTH: 265px
}
#splashresume .splashboxbody IMG {
	LEFT: 275px; TOP: -27px
}
#splashcprofiles .splashboxbody IMG {
	TOP: 10px
}
#contentadcolumn {
	FLOAT: left; WIDTH: 580px; MARGIN-RIGHT: 3px
}
#adadcolumn {
	MARGIN-TOP: 15px; FLOAT: right
}
.highlight1 {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: uppercase; COLOR: #cc6633
}
.highlight2 {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: uppercase; COLOR: #cc6633
}
.highlight3 {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: uppercase; COLOR: #cc6633
}
.highlight4 {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: uppercase; COLOR: #cc6633
}
.highlight5 {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: uppercase; COLOR: #cc6633
}
.content {
	MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px
}
.content .content {
	MARGIN: 0px
}
HTML {
	BACKGROUND-COLOR: transparent
}
BODY {
	BACKGROUND-COLOR: transparent
}
.content  {
	FONT-SIZE: 11px
}
.content H1 {
	MARGIN: 20px 0px
}
.content H2 {
	MARGIN: 20px 0px
}
.content H3 {
	MARGIN: 20px 0px
}
.content H4 {
	MARGIN: 20px 0px
}
.content H5 {
	MARGIN: 20px 0px
}
.content H6 {
	MARGIN: 20px 0px
}
.content P {
	MARGIN: 20px 0px
}
.content PRE {
	MARGIN: 20px 0px
}
.content BLOCKQUOTE {
	MARGIN: 20px 0px
}
.content FORM {
	MARGIN: 20px 0px
}
.content LABEL {
	MARGIN: 20px 0px
}
.content UL {
	MARGIN: 20px 0px
}
.content OL {
	MARGIN: 20px 0px
}
.content DL {
	MARGIN: 20px 0px
}
.content FIELDSET {
	MARGIN: 20px 0px
}
.content ADDRESS {
	MARGIN: 20px 0px
}
.content LI {
	MARGIN-LEFT: 40px
}
.content DD {
	MARGIN-LEFT: 40px
}
.content BLOCKQUOTE {
	MARGIN-LEFT: 40px
}
.content FIELDSET {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.content INPUT {
	MARGIN: 2px
}
.content SELECT {
	MARGIN: 2px
}
.content TEXTAREA {
	MARGIN: 2px
}
.content A:visited {
	COLOR: #0000ff
}
.content H1 {
	FONT-SIZE: 14px; COLOR: #000066
}
.button_link A {
	COLOR: #ffffff
}
.button_link A:link {
	COLOR: #ffffff
}
.button_link A:visited {
	COLOR: #ffffff
}
.button_link A:hover {
	COLOR: #ffffff
}
.button_link A:active {
	COLOR: #ffffff
}
