.wp-polls-archive {
	
}
.wp-polls {
	
}
.wp-polls-form {
	
}
.wp-polls UL LI {
	DISPLAY: block; BACKGROUND-IMAGE: none; TEXT-ALIGN: left
}
wp-polls-ul LI {
	DISPLAY: block; BACKGROUND-IMAGE: none; TEXT-ALIGN: left
}
.wp-polls-ans UL LI {
	DISPLAY: block; BACKGROUND-IMAGE: none; TEXT-ALIGN: left
}
.wp-polls UL {
	LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.wp-polls-ul {
	LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.wp-polls-ans UL {
	LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.wp-polls UL LI:unknown {
	content: ''
}
wp-polls-ul LI {
	content: ''
}
.wp-polls-ans UL LI:unknown {
	content: ''
}
#sidebar UL UL LI:unknown {
	content: ''
}
.wp-polls IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.wp-polls LABEL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.wp-polls INPUT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.wp-polls-loading IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.wp-polls-image IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.wp-polls-ul {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px 10px; PADDING-TOP: 0px
}
.wp-polls-ans {
	FILTER: alpha(opacity=100); WIDTH: 100%; moz-opacity: 1; opacity: 1
}
.wp-polls-loading {
	DISPLAY: none; HEIGHT: 16px; TEXT-ALIGN: center
}
.wp-polls-image {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.wp-polls .Buttons {
	BORDER-RIGHT: #c8c8c8 1px solid; BORDER-TOP: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; BORDER-BOTTOM: #c8c8c8 1px solid; BACKGROUND-COLOR: #f3f6f8
}
.wp-polls-usage-pre {
	BORDER-RIGHT: #c8c8c8 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c8c8c8 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 20px; OVERFLOW: auto; BORDER-LEFT: #c8c8c8 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #c8c8c8 1px solid; BACKGROUND-COLOR: #f0f0f0
}
#wp-polls-pollbar-bg {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 25px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 25px
}
#wp-polls-pollbar-border {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 25px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 25px
}
