#tabs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 93%; BACKGROUND: #ffffff; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; LINE-HEIGHT: normal; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid
}
#tabs UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#tabs LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#tabs A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; BACKGROUND: url(http://www.thescripts.com/images/tableftB.gif) no-repeat left top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 11pt Arial, sans-serif; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#tabs A SPAN {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 4px; BACKGROUND: url(http://www.thescripts.com/images/tabrightB.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 5px
}
#tabs A SPAN {
	FLOAT: none
}
#tabs A:hover SPAN {
	COLOR: #000
}
#tabs A:hover {
	BACKGROUND-POSITION: 0% -42px
}
#tabs A:hover SPAN {
	BACKGROUND-POSITION: 100% -42px
}
#tabs #active {
	BACKGROUND-POSITION: 0% -42px
}
#tabs #active SPAN {
	BACKGROUND-POSITION: 100% -42px; COLOR: #000000
}
.maintable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; WIDTH: 950px; MARGIN-RIGHT: auto; PADDING-TOP: 0px; POSITION: relative; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
.navtable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 10px auto; WIDTH: 950px; PADDING-TOP: 0px; POSITION: relative; BORDER-COLLAPSE: collapse
}
.adtable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; WIDTH: 950px; MARGIN-RIGHT: auto; PADDING-TOP: 0px; POSITION: relative; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
.jointable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14pt; BACKGROUND: #ffffe6; PADDING-BOTTOM: 10px; MARGIN-LEFT: auto; WIDTH: 950px; MARGIN-RIGHT: auto; PADDING-TOP: 10px; POSITION: relative; BORDER-COLLAPSE: collapse
}
.jointable A:link {
	COLOR: #1c7ee7
}
.jointable A:hover {
	COLOR: #1c7ee7
}
.jointable A:visited {
	COLOR: #1c7ee7
}
.searchbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.logo_leader {
	MARGIN-BOTTOM: 10px; HEIGHT: 30px
}
.top_header {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.top_header_login {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt
}
A:link {
	COLOR: #105cb6
}
A:visited {
	COLOR: #105cb6
}
A:hover {
	COLOR: #000
}
.footer TD {
	PADDING-RIGHT: 20px; BORDER-TOP: #eeeeee 1px solid; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
#top_members {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 120px; PADDING-TOP: 0px
}
#top_members UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#top_members UL LI {
	FONT-SIZE: 8pt; PADDING-BOTTOM: 15px
}
#top_members LI DIV {
	BORDER-RIGHT: #e2e2e2 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #e2e2e2 1px solid; PADDING-LEFT: 1px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 1px; BORDER-LEFT: #e2e2e2 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #e2e2e2 1px solid
}
#top_members UL A {
	FONT-WEIGHT: bold
}
.signupmsg {
	PADDING-RIGHT: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #ffd100; PADDING-BOTTOM: 5px; WIDTH: 125px; PADDING-TOP: 5px
}
.small {
	FONT-SIZE: 9pt
}
#dz_list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 4px; WIDTH: 130px; PADDING-TOP: 0px
}
#dz_list UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#dz_list UL LI {
	FONT-SIZE: 9pt; PADDING-BOTTOM: 3px
}
#dz_list UL A {
	FONT-WEIGHT: bold
}
.dz_text {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt
}
.wysiwyg {
	BACKGROUND: url(http://www.thescripts.com/images/watermark_code.gif) #ffffff no-repeat left top
}
.forum_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.forum_title H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.leftcol {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.top_yellow {
	BACKGROUND-IMAGE: url(http://www.thescripts.com/images/lc_box_top.jpg); BACKGROUND-REPEAT: no-repeat; HEIGHT: 3px
}
.bottom_yellow {
	BACKGROUND-IMAGE: url(http://www.thescripts.com/images/lc_box_bottom_yellow.jpg); MARGIN-BOTTOM: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 3px
}
.bottom_white {
	BACKGROUND-IMAGE: url(http://www.thescripts.com/images/lc_box_bottom_white.jpg); MARGIN-BOTTOM: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 3px
}
.content_solid {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #ffffe6; PADDING-BOTTOM: 5px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 5px
}
.content_grad {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(http://www.thescripts.com/images/lc_grad.jpg); PADDING-BOTTOM: 5px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 5px; BACKGROUND-REPEAT: repeat-x
}
.spacer {
	CLEAR: both; FONT-SIZE: 0px; LINE-HEIGHT: 0
}
#form_search {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 130px; PADDING-TOP: 0px
}
.leftcol_title {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 5px; WIDTH: 125px
}
.guidelinesbox {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9pt; PADDING-BOTTOM: 5px; LINE-HEIGHT: 10pt; PADDING-TOP: 5px
}
.guidelines {
	PADDING-LEFT: 20px; FONT-SIZE: 9pt; MARGIN: 0px; LIST-STYLE-TYPE: square
}
.guidelines LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.listingcat A {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 14pt; PADDING-BOTTOM: 4px; LINE-HEIGHT: 20pt; PADDING-TOP: 4px
}
.highlight {
	BACKGROUND: #ffcd00
}
.searchbox {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#quickbrowse {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 15px 0px; PADDING-TOP: 0px
}
.qb_display {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: right top; PADDING-LEFT: 0px; LEFT: 295px; BACKGROUND-IMAGE: url(http://www.thescripts.com/images/qb_background.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 615px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 195px; HEIGHT: 210px
}
.hidden {
	VISIBILITY: hidden
}
.qb_category {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #f2f2f2; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 105px; PADDING-TOP: 0px
}
.qb_category UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.qb_category LI {
	MARGIN: 0px; LINE-HEIGHT: 20px
}
.qb_category A {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #f2f2f2; PADDING-BOTTOM: 2px; WIDTH: 100px; PADDING-TOP: 2px
}
.qb_category A:hover {
	BACKGROUND: url(http://www.thescripts.com/images/qb_arrow.gif) #e4e4e4 no-repeat right center
}
.qb_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 30px 0px 2px; WIDTH: 105px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.qb_opennav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://www.thescripts.com/images/qb_opennav.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
.qb_closenav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://www.thescripts.com/images/qb_closenav.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 12px
}
.qb_display P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
#frontpage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 25px 0px 0px; PADDING-TOP: 0px
}
#frontpage H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 16px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 20px
}
.fp_date {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; BACKGROUND: #f1f5fa no-repeat 5px 10px; COLOR: #666666
}
.commentbox {
	MARGIN: 0px; WIDTH: 60px; PADDING-TOP: 20px; HEIGHT: 61px; TEXT-ALIGN: center
}
.fp_listing_blue {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(http://www.thescripts.com/images/fp_listing_blue.jpg); PADDING-BOTTOM: 10px; PADDING-TOP: 6px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 60px
}
.fp_listing_white {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 1pt; BACKGROUND: #ffffff; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; HEIGHT: 60px
}
.fp_listing_white A.listingtitle {
	FONT-SIZE: 13pt
}
.fp_listing_blue A.listingtitle {
	FONT-SIZE: 13pt
}
#fp_preview {
	FONT-SIZE: 10pt; PADDING-TOP: 4px
}
.fp_threadnfo {
	FONT-SIZE: 8pt; COLOR: #666666
}
#fp_threadnfo_more SPAN {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #ffff99; PADDING-BOTTOM: 2px; COLOR: #666666; PADDING-TOP: 2px
}
.fp_threadnfo A {
	COLOR: #666666
}
.fp_threadnfo A:visited {
	COLOR: #666666
}
.fp_threadnfo IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; MARGIN-RIGHT: 3px; PADDING-TOP: 0px
}
.avtr {
	BORDER-RIGHT: #e2e2e2 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e2e2e2 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #e2e2e2 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #e2e2e2 1px solid
}
A.fp_replies {
	FONT-WEIGHT: bold; COLOR: #105cb6
}
A.fp_replies:visited {
	FONT-WEIGHT: bold; COLOR: #105cb6
}
A.fp_replies:hover {
	FONT-WEIGHT: bold; COLOR: #000000
}
.search_top {
	MARGIN-TOP: 15px; PADDING-BOTTOM: 5px; BORDER-BOTTOM: #eeeeee 1px solid
}
#search_bottom {
	FONT-SIZE: 13pt; MARGIN: 30px
}
#postit2 {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; Z-INDEX: 1; FILTER: alpha(opacity=35); VISIBILITY: hidden; PADDING-BOTTOM: 20px; MARGIN: 0px; WIDTH: 950px; CURSOR: hand; PADDING-TOP: 20px; POSITION: absolute; BACKGROUND-COLOR: #cccccc; moz-opacity: .35; opacity: .35
}
#postit1 {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: black 1px solid; PADDING-LEFT: 20px; Z-INDEX: 1; VISIBILITY: hidden; PADDING-BOTTOM: 20px; MARGIN: 0px; BORDER-LEFT: black 1px solid; WIDTH: 450px; CURSOR: hand; PADDING-TOP: 20px; BORDER-BOTTOM: black 1px solid; POSITION: absolute; BACKGROUND-COLOR: lightyellow
}
.popup_heading {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; PADDING-BOTTOM: 20px; COLOR: #cc3300; TEXT-ALIGN: center
}
.popup_fieldset {
	BORDER-RIGHT: #fece9e 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fece9e 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #fece9e 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #fece9e 1px solid
}
.popup_fieldset LEGEND {
	BORDER-RIGHT: #fece9e 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #fece9e 1px solid; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 14pt; PADDING-BOTTOM: 2px; BORDER-LEFT: #fece9e 1px solid; COLOR: #cc3300; PADDING-TOP: 2px; BORDER-BOTTOM: #fece9e 1px solid; BACKGROUND-COLOR: #fee3ad
}
.popup_button {
	BORDER-TOP-WIDTH: 2px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 2px; FONT-SIZE: 14pt; BORDER-LEFT-COLOR: #421100; BACKGROUND: #cc3300; BORDER-BOTTOM-WIDTH: 2px; BORDER-BOTTOM-COLOR: #421100; COLOR: #ffffff; BORDER-TOP-COLOR: #421100; BORDER-RIGHT-WIDTH: 2px; BORDER-RIGHT-COLOR: #421100
}
.close_pop {
	FONT-SIZE: 7pt; COLOR: #666666
}
.loginparent {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 2em; PADDING-TOP: 2em
}
.about_page {
	MARGIN-TOP: 30px
}
.about_content {
	PADDING-LEFT: 20px; FONT-SIZE: 8pt
}
.about_content P {
	FONT-SIZE: 10pt
}
.about_content UL LI {
	FONT-SIZE: 10pt
}
.about_content H1 {
	COLOR: #999999
}
.about_menu {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px; WIDTH: 180px; BORDER-BOTTOM: gray 1px solid
}
.about_menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.about_menu LI {
	PADDING-RIGHT: 0.25em; BORDER-TOP: gray 1px solid; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; MARGIN: 0px; PADDING-TOP: 0.25em; LIST-STYLE-TYPE: none
}
.about_menu LI A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.rctoolbox {
	WIDTH: 200px
}
rctoolbox UL {
	WIDTH: 200px
}
.rctoolbox LI {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px; BORDER-LEFT: #ccc 1px solid; WIDTH: 200px; PADDING-TOP: 10px; BORDER-BOTTOM: #ccc 1px solid; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.rctoolbox LI A {
	FONT-WEIGHT: bold; COLOR: red
}
.rctoolbox LI A:hover {
	FONT-WEIGHT: bold; COLOR: red
}
.rctoolbox LI A:visited {
	FONT-WEIGHT: bold; COLOR: red
}
