.page {
	BACKGROUND-COLOR: #ffffff
}
TD {
	FONT: 11pt Arial, sans-serif
}
TH {
	FONT: 11pt Arial, sans-serif
}
P {
	FONT: 11pt Arial, sans-serif
}
LI {
	FONT: 11pt Arial, sans-serif
}
.tborder {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; COLOR: #000000; BORDER-BOTTOM: #666666 1px solid
}
.tcat {
	FONT: bold 10pt Arial, sans-serif; COLOR: #333333; BACKGROUND-COLOR: #f3f6fb
}
.thead {
	FONT: 11px Arial, sans-serif; COLOR: #ffffff; BACKGROUND-COLOR: #6699cc
}
.thead A:link {
	COLOR: #ffffff
}
.thead A:visited {
	COLOR: #ffffff
}
.thead A:hover {
	COLOR: #ffff00
}
.thead A:active {
	COLOR: #ffff00
}
.tfoot {
	COLOR: #ffffff; BACKGROUND-COLOR: #6699cc
}
.tfoot A:link {
	COLOR: #ffffff
}
.tfoot A:visited {
	COLOR: #ffffff
}
.tfoot A:hover {
	COLOR: #ffff66
}
.tfoot A:active {
	COLOR: #ffff66
}
.alt1 {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.alt1Active {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
.alt2 {
	COLOR: #000000; BACKGROUND-COLOR: #f3f6fb
}
.alt2Active {
	COLOR: #000000; BACKGROUND-COLOR: #f3f6fb
}
.wysiwyg {
	FONT: 10pt Arial, sans-serif; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
TEXTAREA {
	FONT: 10pt Arial, sans-serif
}
.bginput {
	FONT: 10pt Arial, sans-serif
}
.button {
	FONT-FAMILY: Arial, sans-serif
}
SELECT {
	FONT: 11px Arial, sans-serif
}
OPTION {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, sans-serif
}
OPTGROUP {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, sans-serif
}
.smallfont {
	FONT: 10pt Arial, sans-serif
}
.time {
	COLOR: #666686
}
.highlight {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.fjsel {
	BACKGROUND-COLOR: #3e5c92
}
.fjdpth0 {
	COLOR: #000000; BACKGROUND-COLOR: #f7f7f7
}
.panel {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; COLOR: #000000; PADDING-TOP: 10px; BACKGROUND-COLOR: #edf2f6
}
.panelsurround {
	COLOR: #000000; BACKGROUND-COLOR: #fcfefd
}
LEGEND {
	COLOR: #333333; FONT-FAMILY: Arial, sans-serif
}
.vbmenu_control {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; FONT: bold 11px Arial, sans-serif; COLOR: #ffffff; PADDING-TOP: 3px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #4a7ea6
}
.vbmenu_control A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_control A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_control A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_control A:active {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.vbmenu_popup {
	BORDER-RIGHT: #0b198c 1px solid; BORDER-TOP: #0b198c 1px solid; BORDER-LEFT: #0b198c 1px solid; COLOR: #000000; BORDER-BOTTOM: #0b198c 1px solid; BACKGROUND-COLOR: #ffffff
}
.vbmenu_option {
	FONT: 11px Arial, sans-serif; CURSOR: pointer; COLOR: #000000; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #bbc7ce
}
.vbmenu_option A:link {
	COLOR: #22229c; TEXT-DECORATION: none
}
.vbmenu_option A:visited {
	COLOR: #22229c; TEXT-DECORATION: none
}
.vbmenu_option A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_option A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite {
	FONT: 11px Arial, sans-serif; CURSOR: pointer; COLOR: #ffffff; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #8a949e
}
.vbmenu_hilite A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.vbmenu_hilite A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
so .bigusername {
	FONT-SIZE: 14pt
}
TD.thead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
DIV.thead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.pagenav A {
	FONT-SIZE: 11pt; TEXT-DECORATION: none
}
.pagenav TD {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 11pt; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 1px solid
}
.fieldset {
	MARGIN-BOTTOM: 6px
}
.fieldset {
	
}
.fieldset TD {
	
}
.fieldset P {
	
}
.fieldset LI {
	
}
FORM {
	DISPLAY: inline
}
LABEL {
	CURSOR: default
}
.normal {
	FONT-WEIGHT: normal
}
.inlineimg {
	VERTICAL-ALIGN: middle
}
.showthreadh1 {
	DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 0px; FONT-FAMILY: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif
}
.navbar_box {
	PADDING-RIGHT: 5px; MARGIN-TOP: 0px; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND: #f3f6fb; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.post_message {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11pt; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
#nav_info {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#nav_info H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#post_box {
	BORDER-RIGHT: #3e5c92 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #3e5c92 1px solid; PADDING-LEFT: 1px; BACKGROUND: #ffffff; PADDING-BOTTOM: 1px; MARGIN: 7px 0px 8px; BORDER-LEFT: #3e5c92 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #3e5c92 1px solid
}
.post_box_top {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #eeeeee 1px solid
}
.post_box_bottom {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10pt; BACKGROUND: #ffffff; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 0px
}
#post_box_clear DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 0px
}
.post_auth A {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt
}
.post_buttons A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; COLOR: #666666; PADDING-TOP: 3px; BACKGROUND-COLOR: #f4f4f4; TEXT-DECORATION: none
}
.post_buttons A:visited {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; COLOR: #666666; PADDING-TOP: 3px; BACKGROUND-COLOR: #f4f4f4; TEXT-DECORATION: none
}
.post_buttons A:hover {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; COLOR: red; PADDING-TOP: 3px; BACKGROUND-COLOR: #ffcc66; TEXT-DECORATION: none
}
.smallcode DIV PRE {
	FONT-SIZE: 8pt
}
.post_auth .smallfont {
	FONT-SIZE: 8pt
}
