UNKNOWN {
	COLOR: blue
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND: #414184; PADDING-BOTTOM: 0px; COLOR: white; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial
}
A:link {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
A:link {
	COLOR: #ffcc00; TEXT-DECORATION: underline
}
A:hover {
	BACKGROUND: #eefff0; CURSOR: pointer; COLOR: gray; TEXT-DECORATION: underline
}
.alt {
	FONT-WEIGHT: bolder; COLOR: rgb(255,255,0)
}
.tabletitle {
	
}
.tablewindow {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BACKGROUND: #000066; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
.indextitle {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BACKGROUND: #000044; BORDER-LEFT: black 1px solid; WIDTH: 120px; BORDER-BOTTOM: black 1px solid
}
.tableindex {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BACKGROUND: #000066; BORDER-LEFT: black 1px solid; WIDTH: 120px; BORDER-BOTTOM: black 1px solid
}
.tableindex A {
	DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #000066; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: text-bottom; COLOR: #ffffff; LINE-HEIGHT: 15px; PADDING-TOP: 2px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.tableindex A:hover {
	DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #c1c9dc; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px
}
.maintitle {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BACKGROUND: #000044; BORDER-LEFT: black 1px solid; WIDTH: 512px; BORDER-BOTTOM: black 1px solid
}
.tablemain {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 10px; BACKGROUND: #000066; BORDER-LEFT: black 1px solid; WIDTH: 512px; BORDER-BOTTOM: black 1px solid
}
.tablemain TABLE {
	FONT-SIZE: 10px; BACKGROUND: #000066
}
