BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em; PADDING-TOP: 0px
}
H1.main {
	MARGIN-LEFT: 1em; TEXT-ALIGN: left
}
H2.main {
	MARGIN-LEFT: 1em; TEXT-ALIGN: left
}
H3.main {
	MARGIN-LEFT: 1em; TEXT-ALIGN: left
}
H4.main {
	MARGIN-LEFT: 1em; TEXT-ALIGN: left
}
H5.main {
	MARGIN-LEFT: 1em; TEXT-ALIGN: left
}
H6.main {
	MARGIN-LEFT: 1em; TEXT-ALIGN: left
}
#content {
	CLEAR: both
}
.generalboxcontent {
	TEXT-ALIGN: left
}
#layout-table {
	MARGIN-TOP: 0px
}
#layout-table #left-column {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 22%; PADDING-TOP: 5px
}
#layout-table #middle-column {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: auto; PADDING-TOP: 5px
}
#layout-table #middle-column .topics {
	WIDTH: 95%
}
#layout-table #right-column {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 22%; PADDING-TOP: 5px
}
#middle-column .section .content {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#middle-column .section .side {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.generalbox {
	WIDTH: 90%
}
.generaltable TH.header {
	BORDER-RIGHT: 1px solid; BORDER-LEFT: 1px solid
}
.generaltable .smallinfo P {
	MARGIN-TOP: 0px
}
.sitetopiccontent {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#header-home {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.7em; PADDING-TOP: 0.7em; HEIGHT: 2em
}
#header {
	MARGIN: 0px
}
#header-main {
	MARGIN: 0px
}
.navbar {
	MARGIN: 0px
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.1em; PADDING-TOP: 0.1em; HEIGHT: 50px
}
#header .headermain {
	FLOAT: left; MARGIN: 0.2em 0px 0px 12px
}
.headermenu {
	FLOAT: right; TEXT-ALIGN: right
}
.headermenu .logininfo {
	MARGIN: 0px 12px 4px 0px
}
.navbar {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; BACKGROUND: url(pix/colorstrip.gif) no-repeat left 50%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 3em
}
.navbar .breadcrumb {
	FLOAT: left; MARGIN: 23px 0.2em 0px 12px
}
.navbutton {
	FLOAT: right; MARGIN: 0.2em 1em 0.2em 0px; PADDING-TOP: 18px
}
.navbar HR {
	HEIGHT: 1px
}
#footer {
	MARGIN-TOP: 1em
}
#footer BR {
	DISPLAY: none
}
#footer HR {
	DISPLAY: none
}
#footer .sitelink {
	MARGIN: 0.5em 0px
}
#footer .homelink {
	MARGIN: 0.5em
}
#footer .homelink A {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
#content {
	CLEAR: both; MARGIN: 0px 12px
}
#course-view #content {
	MARGIN: 0px
}
#site-index #content {
	MARGIN: 0px
}
#user-edit .userpicture {
	MARGIN-TOP: 10px
}
#user-view .userpicture {
	MARGIN-TOP: 10px
}
.logtable TH.header {
	BORDER-RIGHT: 1px solid; BORDER-LEFT: 1px solid
}
#user-edit #content .generalbox {
	BORDER-TOP: 0px
}
#user-view .userinfobox TR {
	BORDER-TOP: 0px
}
.sideblock {
	TEXT-ALIGN: left
}
.sideblock .searchform {
	TEXT-ALIGN: left
}
.sideblock .header .hide-show IMG.hide-show-image {
	MARGIN-TOP: 0.1em
}
.sideblock .searchform A {
	LINE-HEIGHT: 1.5em
}
#left-column .sideblock {
	MARGIN: 0px
}
#left-column .sideblock .header {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#left-column .sideblock .content {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#right-column .sideblock .header {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#right-column .sideblock .content {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#right-column .sideblock .content {
	PADDING-RIGHT: 0.7em; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.2em
}
#left-column .sideblock .header {
	BORDER-BOTTOM: 1px solid
}
#left-column .sideblock .list .r0 {
	HEIGHT: 2em
}
#left-column .sideblock .list .r1 {
	HEIGHT: 2em
}
#left-column .sideblock .list TD {
	VERTICAL-ALIGN: middle; BORDER-BOTTOM: 1px solid
}
#right-column .sideblock {
	MARGIN-BOTTOM: 28px
}
.sideblock .head {
	MARGIN-TOP: 0.5em
}
.sideblock .link {
	MARGIN: 0.3em 0px; BORDER-BOTTOM: 1px solid
}
.sideblock .post {
	MARGIN-TOP: 0.5em; PADDING-BOTTOM: 0.2em; BORDER-BOTTOM: 1px solid
}
.block_rss_client .link {
	BORDER-TOP: 0px
}
#calendar .today {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
.minicalendar .today {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
#calendar .maincalendar .calendarmonth {
	WIDTH: 75%
}
#site-index .headingblock {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#course-view .headingblock {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0.7em; MARGIN-LEFT: 1em; BORDER-LEFT: 1.2em solid; BORDER-BOTTOM: 0px
}
#course-view .topics {
	MARGIN: 0px 0.5em 0px 1em
}
#course-view .section .left {
	WIDTH: 0.8em
}
#course-view .section .right {
	WIDTH: 30px
}
#course-view .section .left A {
	DISPLAY: none
}
#course-view .section .spacer {
	HEIGHT: 2em
}
#course-view .section .activity .spacer {
	HEIGHT: 12px
}
#course-view .section .content .section {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0.7em
}
#course-view .section .content .section .activity {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; PADDING-TOP: 0.3em; BORDER-BOTTOM: 1px solid
}
.course .section .content .summary {
	MARGIN: 0px 0px 0px 0.7em
}
#course-view .section .content .section .label IMG {
	MARGIN-BOTTOM: 1em; MARGIN-RIGHT: 1em
}
#course-user #content {
	PADDING-BOTTOM: 0.2em
}
#mod-forum-user #content {
	PADDING-BOTTOM: 0.2em
}
.loginbox {
	MARGIN-TOP: 12px
}
.forumheaderlist {
	MARGIN-LEFT: auto; WIDTH: 90%; MARGIN-RIGHT: auto
}
.forumheaderlist .header {
	BORDER-RIGHT: 1px solid; BORDER-LEFT: 1px solid
}
#mod-forum-index .generalbox {
	WIDTH: 100%
}
.glossarydisplay {
	BORDER-BOTTOM: 5px solid
}
.glossarypopup {
	MARGIN-TOP: 0.5em
}
.mod-resource #content {
	MARGIN-TOP: 1px
}
.clearer {
	FONT-SIZE: 1px
}
BODY {
	FONT-SIZE: 100%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-WEIGHT: bold
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A.autolink {
	FONT-SIZE: 100%! important
}
A.autolink:hover {
	CURSOR: help; TEXT-DECORATION: none
}
H1.main {
	FONT-WEIGHT: bold
}
H2.main {
	FONT-WEIGHT: bold
}
H3.main {
	FONT-WEIGHT: bold
}
H4.main {
	FONT-WEIGHT: bold
}
H5.main {
	FONT-WEIGHT: bold
}
H6.main {
	FONT-WEIGHT: bold
}
H1 {
	FONT-SIZE: 1.2em
}
H2 {
	FONT-SIZE: 1em
}
H3 {
	FONT-SIZE: 0.8em
}
H4 {
	FONT-SIZE: 0.7em
}
PRE CODE {
	FONT-SIZE: 1.2em
}
.bold {
	FONT-WEIGHT: bold
}
.generalboxcontent {
	FONT-SIZE: 0.8em
}
.generaltable .header {
	FONT-WEIGHT: normal; FONT-SIZE: 0.9em; WHITE-SPACE: normal! important
}
.warning {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.errorbox .title {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; TEXT-ALIGN: center
}
.pagingbar .title {
	FONT-WEIGHT: bold
}
.pagingbar .thispage {
	FONT-WEIGHT: bold
}
.paging {
	FONT-SIZE: 0.8em
}
.categorybox .category {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em
}
.categorybox .category {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em
}
.helplink {
	FONT-SIZE: 0.8em
}
.headingblock {
	FONT-WEIGHT: bold
}
.headingblock .link {
	FONT-SIZE: 0.9em
}
.files .file {
	FONT-SIZE: 0.9em
}
.files .folder {
	FONT-SIZE: 0.9em
}
.files .folder .size {
	FONT-WEIGHT: bold
}
.sitetopiccontent {
	FONT-SIZE: 0.8em
}
.headermain {
	FONT-WEIGHT: bold
}
#header-home .headermain {
	FONT-SIZE: 1.5em
}
#header .headermain {
	FONT-SIZE: 1.3em
}
.breadcrumb {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em
}
.logininfo {
	FONT-SIZE: 0.8em
}
#header-home .headermenu FONT {
	FONT-SIZE: 0.8em
}
.homelink {
	FONT-SIZE: 0.8em
}
.performanceinfo {
	FONT-SIZE: 0.6em
}
TABLE.formtable TBODY TH {
	FONT-WEIGHT: normal; TEXT-ALIGN: right
}
#admin-index .generalboxcontent {
	FONT-SIZE: 0.9em
}
#admin-config .generalboxcontent {
	FONT-SIZE: 0.9em
}
#admin-config .linklist {
	FONT-SIZE: 0.9em
}
#admin-config .r1 {
	FONT-SIZE: 0.9em
}
UNKNOWN {
	FONT-SIZE: 0.8em
}
.sideblock {
	FONT-SIZE: 0.7em
}
.sideblock .header {
	FONT-WEIGHT: bold
}
.sideblock .content {
	LINE-HEIGHT: 1.2em
}
.sideblock .content  {
	TEXT-ALIGN: left
}
.sideblock .content .message {
	TEXT-ALIGN: left
}
.sideblock .content H3 {
	FONT-SIZE: 1.2em
}
.sideblock .content H2 {
	FONT-SIZE: 1.2em
}
.sideblock .header .commands {
	
}
.sideblock .footer {
	TEXT-ALIGN: left
}
.sideblock .head {
	
}
.sideblock .info {
	
}
.sideblock .event {
	
}
.sideblock .date {
	FONT-STYLE: italic
}
.activitydate {
	
}
.activityhead {
	
}
#calendar .maincalendar .eventlist .event .referer {
	FONT-WEIGHT: bold
}
#calendar .maincalendar .eventlist .event .course {
	FONT-SIZE: 0.8em
}
#calendar .maincalendar .eventlist .event .description .commands {
	TEXT-ALIGN: right
}
#calendar .maincalendar .calendarmonth {
	FONT-SIZE: 0.8em
}
#calendar .sidecalendar {
	FONT-SIZE: 0.8em
}
#calendar DIV.header {
	FONT-WEIGHT: bold
}
#calendar .sidecalendar .filters {
	FONT-SIZE: 0.8em
}
#calendar .maincalendar .filters {
	FONT-SIZE: 0.8em
}
.sideblock .filters TD {
	FONT-SIZE: 1em
}
#calendar .maincalendar .controls {
	FONT-SIZE: 1em
}
#calendar .maincalendar .day {
	FONT-WEIGHT: bold
}
TABLE.minicalendar {
	FONT-SIZE: 0.85em
}
.cal_popup_close {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; FONT-FAMILY: sans-serif
}
.cal_popup_bg {
	FONT-SIZE: 1.2em
}
.cal_popup_cg {
	FONT-WEIGHT: bold; FONT-SIZE: 0.95em
}
#calendar .maincalendar .calendar-controls .current {
	FONT-WEIGHT: bold
}
.block_calendar_month .filters {
	FONT-SIZE: 0.9em
}
.block_calendar_month .day {
	TEXT-ALIGN: center
}
#course-view .section {
	FONT-SIZE: 0.8em; LINE-HEIGHT: 1.4em
}
#course-view .section .label {
	FONT-SIZE: 1.2em; LINE-HEIGHT: 1.4em
}
#course-view .section .activity {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: bottom; PADDING-TOP: 0.2em
}
#course-view .section .activity A {
	FONT-SIZE: 1.2em; LINE-HEIGHT: 1em
}
#course-view .section .left {
	FONT-WEIGHT: bold
}
.course .generalbox {
	FONT-SIZE: 0.8em
}
.weeklydatetext {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em
}
.coursebox .info {
	FONT-SIZE: 1em
}
.coursebox .teachers {
	FONT-SIZE: 0.8em
}
.coursebox .cost {
	FONT-SIZE: 0.8em
}
.coursebox .summary {
	FONT-SIZE: 0.8em
}
#course-recent H2.main {
	FONT-SIZE: 1.1em
}
BODY#doc-contents H1 {
	FONT-SIZE: 0.9em
}
BODY#doc-contents UL {
	FONT-SIZE: 0.8em
}
#help {
	FONT-SIZE: 0.8em
}
#login-index #content .left {
	FONT-SIZE: 0.8em; TEXT-ALIGN: left
}
#login-index #content .right {
	FONT-SIZE: 0.8em; TEXT-ALIGN: left
}
.message .link {
	FONT-SIZE: 0.8em
}
.message_form {
	FONT-SIZE: 0.8em
}
.message .heading {
	FONT-WEIGHT: bold; FONT-SIZE: 1em
}
.message .date {
	FONT-SIZE: 0.9em
}
.message .contact {
	FONT-SIZE: 0.9em
}
.message .summary {
	FONT-SIZE: 0.9em
}
.message .note {
	FONT-SIZE: 0.8em
}
.message .pix {
	FONT-SIZE: 0.8em
}
.message .author {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em
}
.message .time {
	FONT-SIZE: 0.8em; FONT-STYLE: italic
}
.message .content {
	FONT-SIZE: 0.8em
}
#message-user .commands SPAN {
	FONT-SIZE: 0.7em; WHITE-SPACE: nowrap
}
#message-user .name {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em
}
#user-view .userinfobox .content {
	FONT-SIZE: 0.8em
}
#course-user .section .content TD {
	FONT-SIZE: 0.8em
}
#course-user .section .content UL {
	FONT-SIZE: 1.2em
}
#course-user .logtable {
	FONT-SIZE: 0.8em
}
#course-log .logtable {
	FONT-SIZE: 0.8em
}
.userinfobox .username {
	FONT-WEIGHT: bold
}
.userinfobox .links {
	FONT-SIZE: 0.7em
}
#mod-assignment-index .cell {
	FONT-SIZE: 0.85em
}
#mod-chat-index .cell {
	FONT-SIZE: 0.85em
}
#mod-choice-index .cell {
	FONT-SIZE: 0.85em
}
.forumpost {
	FONT-SIZE: 0.8em
}
.forumheaderlist {
	FONT-SIZE: 0.8em
}
.forumnodiscuss {
	FONT-WEIGHT: bold
}
.forumpost .topic .subject {
	FONT-WEIGHT: bold
}
.forumpost .topic .author {
	FONT-SIZE: 0.8em
}
.forumpost .commands {
	FONT-SIZE: 0.9em
}
.forumpost .link {
	FONT-SIZE: 0.9em
}
.forumheaderlist .discussion .lastpost {
	FONT-SIZE: 0.7em
}
BODY#mod-forum-search .introcontent {
	FONT-WEIGHT: bold
}
BODY#mod-forum-index .cell {
	FONT-SIZE: 0.85em
}
.glossarydisplay {
	FONT-SIZE: 0.8em
}
.glossarysearchbox {
	FONT-SIZE: 0.8em
}
.glossarypost .commands {
	FONT-SIZE: 0.8em
}
.glossarypost .entryheader .author {
	FONT-SIZE: 0.8em
}
.glossarypost .entryheader .time {
	FONT-SIZE: 0.8em
}
.glossarypost .entryheader .time {
	FONT-STYLE: italic
}
.glossarypopup {
	FONT-SIZE: 0.8em
}
.concept {
	FONT-WEIGHT: bold
}
.glossarycomment .time {
	FONT-SIZE: 0.8em; FONT-STYLE: italic
}
.entrylowersection .aliases {
	FONT-SIZE: 0.8em
}
.entrylowersection .icons {
	FONT-SIZE: 0.8em
}
.entrylowersection .ratings {
	FONT-SIZE: 0.8em
}
#mod-glossary-index .cell {
	FONT-SIZE: 0.85em
}
#mod-journal-view .lastedit {
	FONT-SIZE: 0.7em
}
#mod-journal-view .editend {
	FONT-SIZE: 0.7em
}
#mod-journal-view .author {
	FONT-WEIGHT: bold; FONT-SIZE: 1em
}
#mod-journal-view .time {
	FONT-SIZE: 0.7em; FONT-STYLE: italic
}
#mod-journal-view .grade {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
#mod-journal-index .cell {
	FONT-SIZE: 0.85em
}
#mod-lesson-index .cell {
	FONT-SIZE: 0.85em
}
.editorhelptext {
	FONT-SIZE: 0.7em
}
#mod-quiz-index .cell {
	FONT-SIZE: 0.85em
}
#mod-resource-index .cell {
	FONT-SIZE: 0.85em
}
#mod-scorm-index .cell {
	FONT-SIZE: 0.85em
}
#mod-survey-index .cell {
	FONT-SIZE: 0.85em
}
#mod-wiki-index .cell {
	FONT-SIZE: 0.85em
}
#mod-workshop-index .cell {
	FONT-SIZE: 0.85em
}
A:link {
	COLOR: #0f3c8c
}
A:visited {
	COLOR: #ae1107
}
A.dimmed:link {
	COLOR: #aaa
}
A.dimmed:visited {
	COLOR: #aaa
}
A:hover {
	COLOR: #f00
}
A.autolink {
	BORDER-BOTTOM: #a74 1px solid; BACKGROUND-COLOR: #ffedce
}
BODY {
	BACKGROUND-COLOR: #fff
}
H1.main {
	COLOR: #999
}
H2.main {
	COLOR: #999
}
H3.main {
	COLOR: #999
}
H4.main {
	COLOR: #999
}
H5.main {
	COLOR: #999
}
H6.main {
	COLOR: #999
}
H1.main:first-letter {
	COLOR: #ffb63b
}
H2.main:first-letter {
	COLOR: #ffb63b
}
H3.main:first-letter {
	COLOR: #ffb63b
}
H4.main:first-letter {
	COLOR: #ffb63b
}
H5.main:first-letter {
	COLOR: #ffb63b
}
H6.main:first-letter {
	COLOR: #ffb63b
}
#layout-table #left-column {
	
}
TABLE.formtable TBODY TH {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.highlight {
	BACKGROUND-COLOR: #afa
}
.highlight2 {
	COLOR: #a00
}
.r0 {
	
}
.r1 {
	
}
.notifyproblem {
	COLOR: #600
}
.notifysuccess {
	COLOR: #060
}
.required {
	BACKGROUND-COLOR: #ffedce
}
.generalbox {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BACKGROUND-COLOR: #f9fafa; BORDER-RIGHT-COLOR: #ddd
}
.informationbox {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
.feedbackbox {
	BORDER-LEFT-COLOR: #888; BORDER-BOTTOM-COLOR: #888; BORDER-TOP-COLOR: #888; BORDER-RIGHT-COLOR: #888
}
.feedbackby {
	BACKGROUND-COLOR: #bbb
}
.noticebox {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
.errorbox {
	BORDER-LEFT-COLOR: #600; BORDER-BOTTOM-COLOR: #600; COLOR: #fff; BORDER-TOP-COLOR: #600; BACKGROUND-COLOR: #900; BORDER-RIGHT-COLOR: #600
}
.tabledivider {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
.sitetopic {
	
}
.sitetopiccontent {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #ddd
}
.dimmed_text {
	COLOR: #aaa
}
.teacheronly {
	COLOR: #900
}
.unread {
	BACKGROUND: #ffd991
}
.censoredtext {
	BACKGROUND: #000; COLOR: #000
}
.generaltable TH.header {
	BORDER-LEFT-COLOR: #ffb63b; BORDER-BOTTOM-COLOR: #ffb63b; BORDER-TOP-COLOR: #ffb63b; BACKGROUND-COLOR: #ffda9d; BORDER-RIGHT-COLOR: #ffb63b
}
.generaltable .r1 {
	BACKGROUND-COLOR: #d7d7d7
}
.generaltab {
	BACKGROUND-COLOR: #bbb
}
.generaltabinactive {
	BACKGROUND-COLOR: #bbb
}
.generaltabselected {
	BACKGROUND-COLOR: #ffedce
}
.generaltabinactive {
	COLOR: #ccc
}
#footer {
	BORDER-TOP-COLOR: #ffb63b; BACKGROUND-COLOR: #f9fafa
}
.homelink A:link {
	COLOR: #000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.homelink A:visited {
	COLOR: #000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.homelink A:hover {
	COLOR: #000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.homelink A:link {
	BORDER-RIGHT: #4a4a4a 2px solid; BORDER-TOP: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; BORDER-BOTTOM: #4a4a4a 2px solid
}
.homelink A:visited {
	BORDER-RIGHT: #4a4a4a 2px solid; BORDER-TOP: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; BORDER-BOTTOM: #4a4a4a 2px solid
}
.homelink A:hover {
	BORDER-RIGHT: #cecece 1px solid; BORDER-TOP: #4a4a4a 2px solid; BORDER-LEFT: #4a4a4a 2px solid; BORDER-BOTTOM: #cecece 1px solid
}
.admin .generalboxcontent {
	BACKGROUND-COLOR: #eee
}
.admin .generalbox {
	BORDER-LEFT-COLOR: #bbb; BORDER-BOTTOM-COLOR: #bbb; BORDER-TOP-COLOR: #bbb; BORDER-RIGHT-COLOR: #bbb
}
.admin .informationbox {
	BORDER-LEFT-COLOR: #bbb; BORDER-BOTTOM-COLOR: #bbb; BORDER-TOP-COLOR: #bbb; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #bbb
}
BODY#admin-index .c0 {
	BACKGROUND-COLOR: #fafafa
}
#admin-config .r0 {
	BACKGROUND-COLOR: #eee
}
#admin-config .r0 .c0 {
	BACKGROUND-COLOR: #ffedce
}
#admin-config .r1 {
	COLOR: #666
}
#admin-config H2.main {
	BACKGROUND-COLOR: #ffedce
}
.logtable TH.header {
	BORDER-LEFT-COLOR: #ffb63b; BORDER-BOTTOM-COLOR: #ffb63b; BORDER-TOP-COLOR: #ffb63b; BACKGROUND-COLOR: #ffda9d; BORDER-RIGHT-COLOR: #ffb63b
}
.sideblock {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BACKGROUND-COLOR: #f9fafa; BORDER-RIGHT-COLOR: #ddd
}
.sideblock .header {
	COLOR: #666
}
.sideblock .header .commands {
	BACKGROUND-COLOR: #f9fafa
}
.sideblock .content {
	
}
.sideblock .content HR {
	BORDER-TOP-COLOR: #999
}
.sideblock .list {
	
}
.sideblock .header .hide-show IMG.hide-show-image {
	BACKGROUND: url(pix/switch_minus.gif) no-repeat 50% bottom
}
.hidden .header .hide-show IMG.hide-show-image {
	BACKGROUND: url(pix/switch_plus.gif) no-repeat 50% bottom
}
#left-column .sideblock .header {
	BORDER-BOTTOM-COLOR: #f9fafa; BACKGROUND-COLOR: #dae0e4
}
#left-column .sideblock .list TD {
	BORDER-LEFT-COLOR: #fff; BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BORDER-RIGHT-COLOR: #fff
}
#right-column .sideblock .header {
	BORDER-BOTTOM-COLOR: #ccddef; BACKGROUND-COLOR: #ffedce
}
#right-column .sideblock .content {
	BACKGROUND-COLOR: #f9fafa
}
.sideblock .link {
	BORDER-BOTTOM-COLOR: #fff
}
.sideblock .post {
	BORDER-BOTTOM-COLOR: #fff
}
.sideblock H1.main:first-letter {
	COLOR: #999
}
.sideblock H2.main:first-letter {
	COLOR: #999
}
.sideblock H3.main:first-letter {
	COLOR: #999
}
.sideblock H4.main:first-letter {
	COLOR: #999
}
.sideblock H5.main:first-letter {
	COLOR: #999
}
.sideblock H6.main:first-letter {
	COLOR: #999
}
#calendar .maincalendar {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
#calendar .sidecalendar {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
#calendar .maincalendar TABLE.calendarmonth TH {
	BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-TOP-COLOR: #000; BORDER-RIGHT-COLOR: #000
}
TABLE.minicalendar {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
#calendar .maincalendar .eventlist .event {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
#calendar .maincalendar .eventlist .event .topic {
	BACKGROUND-COLOR: #eee
}
#calendar .maincalendar .eventlist .event .picture {
	BACKGROUND-COLOR: #eee
}
#calendar .maincalendar .eventlist .event .side {
	BACKGROUND-COLOR: #eee
}
#calendar .maincalendar TABLE.calendarmonth UL.events-underway {
	COLOR: #999
}
#calendar .event_global {
	BORDER-LEFT-COLOR: #2eba0e! important; BORDER-BOTTOM-COLOR: #2eba0e! important; BORDER-TOP-COLOR: #2eba0e! important; BACKGROUND-COLOR: #2eba0e; BORDER-RIGHT-COLOR: #2eba0e! important
}
.minicalendar .event_global {
	BORDER-LEFT-COLOR: #2eba0e! important; BORDER-BOTTOM-COLOR: #2eba0e! important; BORDER-TOP-COLOR: #2eba0e! important; BACKGROUND-COLOR: #2eba0e; BORDER-RIGHT-COLOR: #2eba0e! important
}
.block_calendar_month .event_global {
	BORDER-LEFT-COLOR: #2eba0e! important; BORDER-BOTTOM-COLOR: #2eba0e! important; BORDER-TOP-COLOR: #2eba0e! important; BACKGROUND-COLOR: #2eba0e; BORDER-RIGHT-COLOR: #2eba0e! important
}
#calendar .event_course {
	BORDER-LEFT-COLOR: #f96! important; BORDER-BOTTOM-COLOR: #f96! important; BORDER-TOP-COLOR: #f96! important; BACKGROUND-COLOR: #f96; BORDER-RIGHT-COLOR: #f96! important
}
.minicalendar .event_course {
	BORDER-LEFT-COLOR: #f96! important; BORDER-BOTTOM-COLOR: #f96! important; BORDER-TOP-COLOR: #f96! important; BACKGROUND-COLOR: #f96; BORDER-RIGHT-COLOR: #f96! important
}
.block_calendar_month .event_course {
	BORDER-LEFT-COLOR: #f96! important; BORDER-BOTTOM-COLOR: #f96! important; BORDER-TOP-COLOR: #f96! important; BACKGROUND-COLOR: #f96; BORDER-RIGHT-COLOR: #f96! important
}
#calendar .event_group {
	BORDER-LEFT-COLOR: #fbbb23! important; BORDER-BOTTOM-COLOR: #fbbb23! important; BORDER-TOP-COLOR: #fbbb23! important; BACKGROUND-COLOR: #fbbb23; BORDER-RIGHT-COLOR: #fbbb23! important
}
.minicalendar .event_group {
	BORDER-LEFT-COLOR: #fbbb23! important; BORDER-BOTTOM-COLOR: #fbbb23! important; BORDER-TOP-COLOR: #fbbb23! important; BACKGROUND-COLOR: #fbbb23; BORDER-RIGHT-COLOR: #fbbb23! important
}
.block_calendar_month .event_group {
	BORDER-LEFT-COLOR: #fbbb23! important; BORDER-BOTTOM-COLOR: #fbbb23! important; BORDER-TOP-COLOR: #fbbb23! important; BACKGROUND-COLOR: #fbbb23; BORDER-RIGHT-COLOR: #fbbb23! important
}
#calendar .event_user {
	BORDER-LEFT-COLOR: #a1becb! important; BORDER-BOTTOM-COLOR: #a1becb! important; BORDER-TOP-COLOR: #a1becb! important; BACKGROUND-COLOR: #a1becb; BORDER-RIGHT-COLOR: #a1becb! important
}
.minicalendar .event_user {
	BORDER-LEFT-COLOR: #a1becb! important; BORDER-BOTTOM-COLOR: #a1becb! important; BORDER-TOP-COLOR: #a1becb! important; BACKGROUND-COLOR: #a1becb; BORDER-RIGHT-COLOR: #a1becb! important
}
.block_calendar_month .event_user {
	BORDER-LEFT-COLOR: #a1becb! important; BORDER-BOTTOM-COLOR: #a1becb! important; BORDER-TOP-COLOR: #a1becb! important; BACKGROUND-COLOR: #a1becb; BORDER-RIGHT-COLOR: #a1becb! important
}
#calendar .duration_global {
	BORDER-BOTTOM-COLOR: #2eba0e! important; BORDER-TOP-COLOR: #2eba0e! important
}
.minicalendar .duration_global {
	BORDER-BOTTOM-COLOR: #2eba0e! important; BORDER-TOP-COLOR: #2eba0e! important
}
#calendar .duration_course {
	BORDER-BOTTOM-COLOR: #f96! important; BORDER-TOP-COLOR: #f96! important
}
.minicalendar .duration_course {
	BORDER-BOTTOM-COLOR: #f96! important; BORDER-TOP-COLOR: #f96! important
}
#calendar .duration_group {
	BORDER-BOTTOM-COLOR: #fbbb23! important; BORDER-TOP-COLOR: #fbbb23! important
}
.minicalendar .duration_group {
	BORDER-BOTTOM-COLOR: #fbbb23! important; BORDER-TOP-COLOR: #fbbb23! important
}
#calendar .duration_user {
	BORDER-BOTTOM-COLOR: #a1becb! important; BORDER-TOP-COLOR: #a1becb! important
}
.minicalendar .duration_user {
	BORDER-BOTTOM-COLOR: #a1becb! important; BORDER-TOP-COLOR: #a1becb! important
}
#calendar .weekend {
	COLOR: #f00
}
.minicalendar .weekend {
	COLOR: #f00
}
#calendar .today {
	BORDER-LEFT-COLOR: #ddd! important; BORDER-BOTTOM-COLOR: #ddd! important; BORDER-TOP-COLOR: #ddd! important; BORDER-RIGHT-COLOR: #ddd! important
}
.minicalendar .today {
	BORDER-LEFT-COLOR: #ddd! important; BORDER-BOTTOM-COLOR: #ddd! important; BORDER-TOP-COLOR: #ddd! important; BORDER-RIGHT-COLOR: #ddd! important
}
.cal_popup_fg {
	BACKGROUND-COLOR: #fff
}
.cal_popup_bg {
	BORDER-LEFT-COLOR: #000; BORDER-BOTTOM-COLOR: #000; BORDER-TOP-COLOR: #000; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #000
}
#calendar .maincalendar .filters TABLE {
	BACKGROUND-COLOR: transparent
}
#calendar .sidecalendar .filters TABLE {
	BACKGROUND-COLOR: transparent
}
.block_calendar_month .filters TABLE {
	BACKGROUND-COLOR: transparent
}
#course-view .headingblock {
	BORDER-LEFT-COLOR: #ffc86c
}
#course-view .section TD {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
#course-view .section .content .section {
	BACKGROUND-COLOR: #f9fafa
}
#course-view .section .content .section .activity {
	BORDER-BOTTOM-COLOR: #fff
}
#course-view .section .content .section .label {
	BACKGROUND-COLOR: #fff
}
#course-view .section .side {
	
}
#course-view .section .left {
	BACKGROUND-COLOR: #ffc86c
}
#course-view .section .right {
	
}
#course-view .current .side {
	
}
#course-view .topics {
	
}
#course-view .weeks {
	
}
#course-view .section .spacer {
	
}
#course-view .section .weekdates {
	COLOR: #aaa
}
.categoryboxcontent {
	BORDER-LEFT-COLOR: #ddd; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
.courseboxcontent {
	BORDER-LEFT-COLOR: #ddd; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
#course-user .section {
	BORDER-LEFT-COLOR: #aaa; BORDER-BOTTOM-COLOR: #aaa; BORDER-TOP-COLOR: #aaa; BORDER-RIGHT-COLOR: #aaa
}
#course-user #content {
	BACKGROUND-COLOR: #eee
}
#user-view #content {
	BACKGROUND-COLOR: #eee
}
#user-edit #content {
	BACKGROUND-COLOR: #eee
}
.admin #content {
	BACKGROUND-COLOR: #eee
}
.course #content {
	BACKGROUND-COLOR: #eee
}
#files-index #content {
	BACKGROUND-COLOR: #eee
}
#user-edit #content .generalbox {
	BACKGROUND-COLOR: #fff
}
#user-view .userinfobox TR {
	BACKGROUND-COLOR: #fff
}
#site-index #content {
	BACKGROUND-COLOR: #fff
}
#course-view #content {
	BACKGROUND-COLOR: #fff
}
#course-user .logtable .r1 {
	BACKGROUND-COLOR: #dfdfdf
}
#course-view .hidden  {
	BORDER-LEFT-COLOR: #eee; BORDER-BOTTOM-COLOR: #eee; COLOR: #aaa; BORDER-TOP-COLOR: #eee; BORDER-RIGHT-COLOR: #eee
}
#course-view .hidden .content {
	BORDER-LEFT-COLOR: #eee; BORDER-BOTTOM-COLOR: #eee; COLOR: #aaa; BORDER-TOP-COLOR: #eee; BORDER-RIGHT-COLOR: #eee
}
#course-view .hidden .side {
	BORDER-LEFT-COLOR: #eee; BORDER-BOTTOM-COLOR: #eee; COLOR: #aaa; BORDER-TOP-COLOR: #eee; BORDER-RIGHT-COLOR: #eee
}
#course-view .hidden .left {
	BACKGROUND-COLOR: #eee
}
.loginbox {
	BACKGROUND-COLOR: #f9fafa
}
.loginbox .content {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
TABLE.message_search_results TD {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
.other .author {
	COLOR: #88c
}
.me .author {
	COLOR: #999
}
.message .time {
	COLOR: #999
}
.message .content {
	
}
.userpicture {
	BACKGROUND: #eee
}
.userinfobox {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BACKGROUND-COLOR: #f7f7f7; BORDER-RIGHT-COLOR: #ddd
}
.groupinfobox {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BACKGROUND-COLOR: #fcfcfc; BORDER-RIGHT-COLOR: #ddd
}
.assignmentsubmission {
	
}
.assignmentnew .assignmentfeedback {
	BACKGROUND-COLOR: #ffedce
}
.assignmentold .assignmentfeedback {
	BACKGROUND-COLOR: #bbb
}
.assignmentheading {
	BACKGROUND-COLOR: #bbb
}
.mod-forum #content {
	BACKGROUND-COLOR: #f9fafa
}
#mod-forum-user #content {
	BACKGROUND-COLOR: #eee
}
.forumheaderlist {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #ddd
}
.forumpost {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #ddd
}
.forumheaderlist .header {
	BORDER-LEFT-COLOR: #ffb63b; BORDER-BOTTOM-COLOR: #ffb63b; BORDER-TOP-COLOR: #ffb63b; BACKGROUND-COLOR: #ffda9d; BORDER-RIGHT-COLOR: #ffb63b
}
.forumpost .content {
	BACKGROUND: #fff
}
.forumpost .left {
	BACKGROUND: #eee
}
.forumpost .topic {
	BORDER-BOTTOM-COLOR: #eee
}
.forumpost .starter {
	BACKGROUND-COLOR: #ffda9d
}
.forumheaderlist .discussion .starter {
	BACKGROUND-COLOR: #ffedce
}
.forumheaderlist TD {
	BORDER-LEFT-COLOR: #fff; BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BORDER-RIGHT-COLOR: #fff
}
.sideblock .post .head {
	COLOR: #555
}
.forumthread .unread {
	BACKGROUND: #ffd991
}
#mod-forum-discuss .forumpost {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#mod-forum-discuss .unread .content {
	BORDER-LEFT-COLOR: #ffd991; BORDER-BOTTOM-COLOR: #ffd991; BORDER-TOP-COLOR: #ffd991; BORDER-RIGHT-COLOR: #ffd991
}
#mod-forum-discuss .forumthread .unread {
	
}
#mod-forum-index .unread {
	
}
.mod-glossary #content {
	BACKGROUND-COLOR: #f9fafa
}
.entryboxheader {
	BORDER-LEFT-COLOR: #bbb; BORDER-BOTTOM-COLOR: #bbb; BORDER-TOP-COLOR: #bbb; BORDER-RIGHT-COLOR: #bbb
}
.entrybox {
	BORDER-LEFT-COLOR: #bbb; BORDER-BOTTOM-COLOR: #bbb; BORDER-TOP-COLOR: #bbb; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #bbb
}
.glossarypost {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BACKGROUND-COLOR: #fff; BORDER-RIGHT-COLOR: #ddd
}
.glossarypost .entryheader {
	BACKGROUND-COLOR: #f0f0f0
}
.glossarypost .entryapproval {
	BACKGROUND-COLOR: #f0f0f0
}
.glossarypost .picture {
	BACKGROUND-COLOR: #f0f0f0
}
.glossarypost .entryattachment {
	BACKGROUND-COLOR: #f0f0f0
}
.glossarypost .left {
	BACKGROUND-COLOR: #f0f0f0
}
.glossarycomment {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
.glossarycomment .entryheader {
	BACKGROUND-COLOR: #f0f0f0
}
.glossarycomment .picture {
	BACKGROUND-COLOR: #f0f0f0
}
.glossarycomment .left {
	BACKGROUND-COLOR: #f0f0f0
}
#mod-glossary-report .generalbox .teacher {
	BACKGROUND: #f0f0f0
}
.categoryheader {
	BACKGROUND-COLOR: #ffda9d
}
.glossaryformatheader {
	BACKGROUND-COLOR: #ffedce
}
.glossarydisplay {
	BORDER-BOTTOM-COLOR: #f9fafa
}
#mod-journal-view .feedbackbox .left {
	BACKGROUND-COLOR: #ffedce
}
#mod-journal-view .feedbackbox .entryheader {
	BACKGROUND-COLOR: #ffedce
}
BODY#mod-quiz-report TABLE#attempts TD {
	BORDER-LEFT-COLOR: #ddd; BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; BORDER-RIGHT-COLOR: #ddd
}
BODY#mod-quiz-report TABLE#attempts .r1 {
	BACKGROUND-COLOR: #eee
}
#mod-survey-view .r0 {
	BACKGROUND-COLOR: #eee
}
#mod-survey-view .r1 {
	BACKGROUND-COLOR: #ffedce
}
.workshoppostpicture {
	BACKGROUND-COLOR: #fee6b9
}
.workshopassessmentheading {
	BACKGROUND-COLOR: #ffedce
}
.userinfobox {
	BORDER-TOP: 0px; MARGIN-TOP: 0px; PADDING-TOP: 0px
}
#mod-forum-user .forumpost {
	BORDER-TOP: 0px
}
#course-user .section .content {
	BORDER-TOP: 0px
}
#course-user .section {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; BACKGROUND-COLOR: #fff
}
#course-user .section H2 {
	MARGIN-TOP: 0px
}
#user-view .tabs TD {
	PADDING-BOTTOM: 0px
}
#user-edit .tabs TD {
	PADDING-BOTTOM: 0px
}
#mod-forum-user .tabs TD {
	PADDING-BOTTOM: 0px
}
#user-edit .generalbox {
	WIDTH: 100%
}
.mod-glossary .glossarydisplay TR {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.mod-glossary .glossarydisplay TD {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.mod-glossary TD.entryboxheader {
	HEIGHT: 0px! important; BACKGROUND-COLOR: #fff
}
.mod-glossary .entrybox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.tabs {
	MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; WIDTH: auto; MARGIN-RIGHT: auto; BORDER-BOTTOM: 0px
}
#user-view .tabs {
	WIDTH: 80%
}
.tabs TR {
	BACKGROUND: url(pix/tab/tabsbg_x2.gif) repeat-x left bottom
}
.tabs .left {
	BACKGROUND: url(pix/tab/tabsbg_x2.gif) repeat-x left bottom
}
.tabs .right {
	BACKGROUND: url(pix/tab/tabsbg_x2.gif) repeat-x left bottom
}
.tabs .side {
	BORDER-BOTTOM: 0px
}
.tabs TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.tabs .left {
	WIDTH: 0px
}
.tabs .right {
	WIDTH: 75%
}
.tabrow {
	MARGIN: 0px; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.tabrow TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 14px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 34px; BORDER-RIGHT-WIDTH: 0px
}
.tabs .r1 {
	MARGIN-BOTTOM: 1px
}
.tabrow TD.selected {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.tabs .r0 .active {
	BACKGROUND: url(pix/tab/left.gif) no-repeat left bottom
}
.tabs .r1 .active {
	BACKGROUND: url(pix/tab/left2.gif) no-repeat left bottom
}
.tabs .r0 .inactive {
	BACKGROUND: url(pix/tab/left_inactive.gif) no-repeat left bottom
}
.tabs .r1 .inactive {
	BACKGROUND: url(pix/tab/left_inactive2.gif) no-repeat left bottom
}
.tabs .r0 .activetwo {
	BACKGROUND: url(pix/tab/left_active2.gif) no-repeat left bottom
}
.tabs .r1 .activetwo {
	BACKGROUND: url(pix/tab/left_active2.gif) no-repeat left bottom
}
.tabs {
	BACKGROUND-COLOR: transparent
}
.tabs TR {
	BACKGROUND-COLOR: transparent
}
.tabs .td {
	BACKGROUND-COLOR: transparent
}
.tabrow {
	BACKGROUND-COLOR: transparent
}
.tabrow TBODY {
	BACKGROUND-COLOR: transparent
}
.tabrow TR {
	BACKGROUND-COLOR: transparent
}
.tabrow TD {
	BACKGROUND-COLOR: transparent
}
.tabrow TH {
	DISPLAY: none
}
.tabrow TD .tablink {
	PADDING-RIGHT: 14px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: auto; LINE-HEIGHT: 32px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 34px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.tabs .r0 .active .tablink {
	BACKGROUND: url(pix/tab/right.gif) no-repeat right bottom
}
.tabs .r1 .active .tablink {
	BACKGROUND: url(pix/tab/right2.gif) no-repeat right bottom
}
.tabs .r0 .inactive .tablink {
	BACKGROUND: url(pix/tab/right_inactive.gif) no-repeat right bottom
}
.tabs .r1 .inactive .tablink {
	BACKGROUND: url(pix/tab/right_inactive2.gif) no-repeat right bottom
}
.tabs .r0 .activetwo .tablink {
	BACKGROUND: url(pix/tab/right_active2.gif) no-repeat right bottom
}
.tabs .r1 .activetwo .tablink {
	BACKGROUND: url(pix/tab/right_active2.gif) no-repeat right bottom
}
.tabrow TD .tablink A {
	WIDTH: auto; LINE-HEIGHT: 32px
}
.tabs .r0 .active:hover {
	BACKGROUND: url(pix/tab/left_hover.gif) no-repeat left bottom
}
.tabs .r0 .active:hover .tablink {
	BACKGROUND: url(pix/tab/right_hover.gif) no-repeat right bottom; LINE-HEIGHT: 32px
}
.tabs .r0 .inactive:hover {
	BACKGROUND: url(pix/tab/left_inactive.gif) no-repeat left bottom
}
.tabs .r0 .inactive:hover .tablink {
	BACKGROUND: url(pix/tab/right_inactive.gif) no-repeat right bottom; LINE-HEIGHT: 32px
}
.tabs .r1 .active:hover {
	BACKGROUND: url(pix/tab/left_hover2.gif) no-repeat left bottom
}
.tabs .r1 .active:hover .tablink {
	BACKGROUND: url(pix/tab/right_hover2.gif) no-repeat right bottom; LINE-HEIGHT: 32px
}
.tabrow .last SPAN {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(pix/tab/right_end.gif) no-repeat right bottom; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.tabs .r0 .selected {
	BACKGROUND: url(pix/tab/left_active.gif) no-repeat left bottom
}
.tabs .r1 .selected {
	BACKGROUND: url(pix/tab/left_active2.gif) no-repeat left bottom
}
.tabs .r0 .selected .tablink {
	BACKGROUND: url(pix/tab/right_active.gif) no-repeat right bottom; LINE-HEIGHT: 32px
}
.tabs .r1 .selected .tablink {
	BACKGROUND: url(pix/tab/right_active2.gif) no-repeat right bottom; LINE-HEIGHT: 32px
}
.user-content H2 {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.user-content {
	BORDER-RIGHT: #d1d7dc 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #d1d7dc 0px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #d1d7dc 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #d1d7dc 1px solid; BACKGROUND-COLOR: #ffffff
}
.tabs {
	FONT-SIZE: 0.8em
}
.tablink A:link {
	COLOR: #000066
}
.tablink A:visited {
	COLOR: #000066
}
.tablink A:hover {
	TEXT-DECORATION: none
}
.selected .tablink A:link {
	COLOR: #000000
}
.selected .tablink A:visited {
	COLOR: #000000
}
