H1.main {
	TEXT-ALIGN: center
}
H2.main {
	TEXT-ALIGN: center
}
H3.main {
	TEXT-ALIGN: center
}
H4.main {
	TEXT-ALIGN: center
}
H5.main {
	TEXT-ALIGN: center
}
H6.main {
	TEXT-ALIGN: center
}
#layout-table {
	WIDTH: 100%; BORDER-COLLAPSE: separate
}
#layout-table #left-column {
	VERTICAL-ALIGN: top
}
#layout-table #middle-column {
	VERTICAL-ALIGN: top
}
#layout-table #right-column {
	VERTICAL-ALIGN: top
}
#layout-table #middle-column {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px
}
.clearer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
.continuebutton {
	TEXT-ALIGN: center
}
FORM {
	MARGIN-BOTTOM: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0px
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
IMG.userpicture {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
IMG.grouppicture {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.block_online_users .listentry IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.notifyproblem {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.notifysuccess {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.generalbox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 15px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.generalbox#intro {
	
}
.noticebox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.errorbox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN: 1em 15%; BORDER-LEFT: 1px solid; WIDTH: 70%; BORDER-BOTTOM: 1px solid
}
.errorbox .title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.errorboxcontent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.informationbox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.feedbackbox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.feedbackby {
	
}
.feedback {
	
}
.initialbar {
	TEXT-ALIGN: center
}
#help .indent {
	MARGIN-LEFT: 3em
}
.tabledivider {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 1px solid
}
.sitetopic {
	MARGIN-BOTTOM: 20px
}
.sitetopiccontent {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.pagingbar {
	TEXT-ALIGN: center
}
.pagingbar A {
	PADDING-LEFT: 10px
}
.pagingbar .thispage {
	PADDING-LEFT: 10px
}
TABLE.formtable {
	MARGIN: auto
}
TABLE.formtable TBODY TH {
	VERTICAL-ALIGN: top
}
TABLE.formtable TBODY TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE.formtable TBODY TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE.formtable TBODY .htmlarea TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.formtable TBODY .htmlarea TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.paging {
	MARGIN: 10px 0px; TEXT-ALIGN: center
}
.unread {
	PADDING-RIGHT: 2px
}
.cell {
	VERTICAL-ALIGN: top
}
.helplink IMG {
	MARGIN: 0px 2px; VERTICAL-ALIGN: middle
}
FORM.popupform {
	DISPLAY: inline
}
#header-home {
	
}
#header {
	
}
.headermain {
	FLOAT: left
}
.headermenu {
	FLOAT: right; TEXT-ALIGN: right
}
.navbar {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 3px; BORDER-LEFT: 1px solid; WIDTH: 100%; PADDING-TOP: 3px; BORDER-BOTTOM: 1px solid; HEIGHT: 1.3em
}
.navbar .breadcrumb {
	FLOAT: left; MARGIN: 0.2em 0em
}
.navbar .navbutton {
	FLOAT: right
}
.navbar .menu {
	FLOAT: right
}
#footer .navbar {
	MARGIN-TOP: 4em
}
.reportlink {
	TEXT-ALIGN: right
}
#footer {
	MARGIN-TOP: 100px; TEXT-ALIGN: center
}
.homelink {
	MARGIN: 1em 0px
}
.homelink A {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em
}
.performanceinfo {
	MARGIN: 2em
}
.performanceinfo SPAN {
	DISPLAY: block
}
#content {
	MARGIN-TOP: 8px
}
#admin-index #content {
	MARGIN-TOP: 0px
}
BODY#admin-index .c0 {
	VERTICAL-ALIGN: top
}
BODY#admin-modules TABLE.generaltable TD.cell {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
BODY#admin-modules .generaltablecell {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
BODY#admin-blocks TABLE#blocks {
	MARGIN: auto; WIDTH: 70%
}
BODY#admin-blocks TABLE#incompatible {
	MARGIN: auto; WIDTH: 70%
}
BODY#admin-blocks TABLE#blocks TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; TEXT-ALIGN: center
}
BODY#admin-blocks TABLE#incompatible TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; TEXT-ALIGN: center
}
BODY#admin-blocks TABLE#blocks TD.cell {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; TEXT-ALIGN: center
}
BODY#admin-blocks TABLE#incompatible TD.cell {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; TEXT-ALIGN: center
}
BODY#admin-blocks TABLE#blocks TD.c0 {
	TEXT-ALIGN: left
}
BODY#admin-blocks TABLE#blocks TH.c0 {
	TEXT-ALIGN: left
}
BODY#admin-blocks TABLE#incompatible TD.c0 {
	TEXT-ALIGN: left
}
BODY#admin-blocks TABLE#incompatible TH.c0 {
	TEXT-ALIGN: left
}
BODY#admin-blocks BODY#admin-config .confighelp {
	DISPLAY: block; PADDING-BOTTOM: 20px
}
TABLE.flexible TD.cell {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.flexible {
	MARGIN: auto; WIDTH: 70%
}
TABLE.flexible thi {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; TEXT-ALIGN: center
}
TABLE.flexible TD.cell {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; TEXT-ALIGN: center
}
TABLE.flexible TD.c0 {
	TEXT-ALIGN: left
}
TABLE.flexible TH.c0 {
	TEXT-ALIGN: left
}
.sideblock .content H3 {
	TEXT-ALIGN: left
}
.sideblock .content H2 {
	TEXT-ALIGN: left
}
.sideblock {
	MARGIN-BOTTOM: 1em; WIDTH: 100%
}
.sideblock .header {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: 1px; TEXT-ALIGN: left
}
.sideblock .header .hide-show {
	FLOAT: right
}
.sideblock .header .hide-show IMG.hide-show-image {
	MARGIN-TOP: 0.25em; WIDTH: 11px; HEIGHT: 11px
}
.sideblock .header .commands {
	CLEAR: both; MARGIN-TOP: 0.3em
}
.sideblock .header .commands A {
	MARGIN: 0px 2px
}
.sideblock .content {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: 1px solid
}
.sideblock .content HR {
	BORDER-TOP: 1px solid; MARGIN-TOP: 4px; MARGIN-BOTTOM: 4px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BORDER-BOTTOM-STYLE: none
}
#left-column .hidden .header {
	BORDER-BOTTOM: 1px solid
}
#right-column .hidden .header {
	BORDER-BOTTOM: 1px solid
}
#left-column .hidden .content {
	DISPLAY: none
}
#right-column .hidden .content {
	DISPLAY: none
}
.sideblock .list {
	WIDTH: 100%
}
.sideblock .list .c0 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.sideblock .content .message {
	TEXT-ALIGN: center
}
.sideblock .footer {
	MARGIN-BOTTOM: 4px; TEXT-ALIGN: center
}
.sideblock .header .hide {
	MARGIN-RIGHT: 6px
}
.sideblock .header .edit {
	MARGIN-RIGHT: 6px
}
.sideblock .content .head {
	MARGIN-TOP: 10px
}
.blockconfigtable {
	MARGIN-TOP: 0px
}
.blockconfiginstancecontent .tabs {
	MARGIN-BOTTOM: 0px
}
.block_online_users .listentry {
	PADDING-TOP: 5px
}
#calendar {
	WIDTH: 100%; BORDER-COLLAPSE: separate; border-spacing: 5px
}
#calendar H2 {
	TEXT-ALIGN: center
}
#calendar H3 {
	TEXT-ALIGN: center
}
#calendar .maincalendar {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
#calendar .sidecalendar {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
#calendar .sidecalendar {
	WIDTH: 25%
}
#calendar .maincalendar TABLE.calendarmonth {
	MARGIN: 0px auto; WIDTH: 98%; BORDER-COLLAPSE: separate
}
#calendar .maincalendar TABLE.calendarmonth TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: 2px solid
}
#calendar .maincalendar TABLE.calendarmonth TD {
	PADDING-LEFT: 4px; LINE-HEIGHT: 1.2em; PADDING-TOP: 4px; HEIGHT: 5em
}
#calendar .maincalendar TABLE.calendarmonth TD {
	VERTICAL-ALIGN: top; WIDTH: 14%
}
TABLE.minicalendar TD {
	VERTICAL-ALIGN: top; WIDTH: 14%
}
TABLE.minicalendar TH {
	VERTICAL-ALIGN: top; WIDTH: 14%
}
TABLE.minicalendar TD {
	TEXT-ALIGN: center
}
#calendar .maincalendar TABLE.calendarmonth TD TABLE TD {
	HEIGHT: auto
}
#calendar DIV.header {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#calendar .maincalendar .buttons {
	FLOAT: right
}
#calendar .maincalendar .filters TABLE {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px; BORDER-COLLAPSE: separate; border-spacing: 2px
}
#calendar .sidecalendar .filters TABLE {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px; BORDER-COLLAPSE: separate; border-spacing: 2px
}
.block_calendar_month .filters TABLE {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px; BORDER-COLLAPSE: separate; border-spacing: 2px
}
#calendar .maincalendar .filters {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#calendar .sidecalendar .filters {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#calendar .maincalendar .controls {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#calendar .maincalendar TABLE.calendarmonth UL.events-new {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#calendar .maincalendar TABLE.calendarmonth UL.events-underway {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#calendar .maincalendar TABLE.calendarmonth UL LI {
	MARGIN-TOP: 4px
}
.minicalendarblock {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.minicalendar {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 10px auto; BORDER-LEFT: 1px solid; WIDTH: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: separate; border-spacing: 1px
}
TABLE.minicalendar TH {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#calendar .maincalendar .eventlist {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#calendar .maincalendar .eventlist .topic {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: 0px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #eeeeee 1px solid
}
#calendar .maincalendar .eventlist .event {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: 1px solid; WIDTH: 100%; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: separate; border-spacing: 0px
}
#calendar .maincalendar .eventlist .event .name {
	FLOAT: left
}
#calendar .maincalendar .eventlist .event .course {
	CLEAR: left; FLOAT: left
}
#calendar .maincalendar .eventlist .event .date {
	FLOAT: right
}
#calendar .maincalendar .eventlist .event .description .commands {
	WIDTH: 100%
}
#calendar .maincalendar .eventlist .event .description {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#calendar .maincalendar .eventlist .event .picture {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#calendar .maincalendar .eventlist .event .side {
	WIDTH: 32px
}
#calendar #selecteventtype TABLE {
	MARGIN: auto
}
#calendar .event_global {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
#calendar .event_course {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
#calendar .event_group {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
#calendar .event_user {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
.minicalendar .event_global {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
.minicalendar .event_course {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
.minicalendar .event_group {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
.minicalendar .event_user {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
#calendar .duration_global {
	BORDER-TOP: 2px solid; BORDER-BOTTOM: 2px solid
}
#calendar .duration_course {
	BORDER-TOP: 2px solid; BORDER-BOTTOM: 2px solid
}
#calendar .duration_group {
	BORDER-TOP: 2px solid; BORDER-BOTTOM: 2px solid
}
#calendar .duration_user {
	BORDER-TOP: 2px solid; BORDER-BOTTOM: 2px solid
}
.minicalendar .duration_global {
	BORDER-TOP: 2px solid; BORDER-BOTTOM: 2px solid
}
.minicalendar .duration_course {
	BORDER-TOP: 2px solid; BORDER-BOTTOM: 2px solid
}
.minicalendar .duration_group {
	BORDER-TOP: 2px solid; BORDER-BOTTOM: 2px solid
}
.minicalendar .duration_user {
	BORDER-TOP: 2px solid; BORDER-BOTTOM: 2px solid
}
#calendar .today {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
.minicalendar .today {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
.cal_popup_bg {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
.cal_popup_close {
	MARGIN-RIGHT: 5px
}
.cal_popup_caption {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; PADDING-BOTTOM: 2px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 1px solid
}
TABLE.calendar-controls {
	WIDTH: 100%
}
TABLE.calendar-controls .previous {
	WIDTH: 12%
}
TABLE.calendar-controls .next {
	WIDTH: 12%
}
TABLE.calendar-controls .previous {
	TEXT-ALIGN: left
}
TABLE.calendar-controls .current {
	TEXT-ALIGN: center
}
TABLE.calendar-controls .next {
	TEXT-ALIGN: right
}
#calendar .maincalendar .calendar-controls .previous {
	WIDTH: 30%
}
#calendar .maincalendar .calendar-controls .next {
	WIDTH: 30%
}
.activitydate {
	TEXT-ALIGN: center
}
.activityhead {
	TEXT-ALIGN: center
}
#course-view .section TD {
	VERTICAL-ALIGN: top
}
#course-view .section .content {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid
}
 HTML #course-view .section .content .commands {
	CLEAR: both
}
#course-view .section .side {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid
}
#course-view .section .left {
	WIDTH: 1.5em; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
#course-view .section .right {
	BORDER-LEFT-WIDTH: 0px; WIDTH: 1.5em; TEXT-ALIGN: center
}
#course-view .current .side {
	
}
#course-view .section .spacer {
	HEIGHT: 0.5em
}
#course-view .section .weekdates {
	
}
.section .activity IMG.activityicon {
	VERTICAL-ALIGN: middle; WIDTH: 16px; HEIGHT: 16px
}
.section IMG.movetarget {
	WIDTH: 80px; HEIGHT: 16px
}
BODY#course-view .unread {
	MARGIN-LEFT: 3em
}
BODY#course-enrol .generalbox {
	MARGIN-TOP: 20px
}
BODY#course-enrol .coursebox {
	MARGIN-TOP: 20px
}
BODY#course-user .graph {
	TEXT-ALIGN: center
}
BODY#course-user .section {
	MARGIN-LEFT: 30px; MARGIN-RIGHT: 30px
}
BODY#course-user .content {
	MARGIN-LEFT: 30px; MARGIN-RIGHT: 30px
}
BODY#course-user .section {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; MARGIN-BOTTOM: 20px; PADDING-BOTTOM: 10px; BORDER-LEFT: 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: 1px solid
}
BODY#course-user .section H2 {
	MARGIN-TOP: 0px
}
.headingblock {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid
}
.headingblock .link {
	TEXT-ALIGN: right
}
BODY#site-index .headingblock {
	MARGIN-BOTTOM: 9px
}
BODY#course-view .headingblock {
	MARGIN-BOTTOM: 9px
}
.coursebox {
	MARGIN-BOTTOM: 8px
}
.categoryboxcontent {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.courseboxcontent {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.courseboxcontent .cost {
	PADDING-TOP: 20px
}
BODY#doc-contents H1 {
	MARGIN: 1em 0px 0px
}
BODY#doc-contents UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 90%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
BODY#grade-index .grades {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: separate
}
BODY#grade-index .grades TD {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 0px solid; BORDER-COLLAPSE: collapse
}
BODY#grade-index .grades .header {
	VERTICAL-ALIGN: top
}
BODY#grade-index .grades .points {
	TEXT-ALIGN: right
}
BODY#grade-index .grades .percent {
	TEXT-ALIGN: right
}
BODY#grade-index .grades .weighted {
	TEXT-ALIGN: right
}
.loginbox {
	MARGIN-TOP: 7px
}
.loginbox .content {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; BORDER-LEFT: 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: 1px solid
}
.message .link {
	VERTICAL-ALIGN: middle
}
TABLE.message .searchresults TD {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
.message .summary .link {
	TEXT-ALIGN: right
}
.message .heading {
	TEXT-ALIGN: center
}
.message .note {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#message-user .commands SPAN {
	MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px
}
BODY#message-messages {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.logtable TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px
}
.logtable TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px
}
.logtable TH {
	TEXT-ALIGN: left
}
.tabs {
	MARGIN-BOTTOM: 15px; WIDTH: auto; BORDER-COLLAPSE: collapse
}
.tabs TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.tabs .side {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; WIDTH: 50%; BORDER-BOTTOM: 1px solid
}
.tabrow {
	MARGIN: 1px 0px 0px; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.tabrow TD {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: 0px solid; PADDING-LEFT: 14px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid
}
.tabrow TH {
	DISPLAY: none
}
.tabrow TD .tablink {
	PADDING-RIGHT: 14px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 10px; WHITE-SPACE: nowrap; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.tabrow .last {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.tabrow TD.selected {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.userinfobox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 5px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: separate
}
.userinfobox .left {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; WIDTH: 100px; PADDING-TOP: 10px
}
.userinfobox .content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 10px
}
.userinfobox .links {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: bottom; WIDTH: 100px; PADDING-TOP: 5px
}
.userinfobox .list TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.userinfobox .username {
	PADDING-BOTTOM: 20px
}
TABLE.userinfobox {
	MARGIN-LEFT: 10%; WIDTH: 80%; MARGIN-RIGHT: 10%
}
TABLE.groupinfobox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 20%; BORDER-LEFT: 1px solid; WIDTH: 60%; MARGIN-RIGHT: 20%; BORDER-BOTTOM: 1px solid
}
.groupinfobox .left {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; WIDTH: 100px; PADDING-TOP: 10px
}
BODY#user-index H2 {
	TEXT-ALIGN: center
}
BODY#user-index #longtimenosee {
	TEXT-ALIGN: center
}
BODY#user-index #showall {
	TEXT-ALIGN: center
}
BODY#user-index #showall {
	MARGIN: 10px 0px
}
BODY#user-index TABLE#teachers {
	MARGIN: auto; WIDTH: 80%
}
BODY#user-index TABLE#students {
	MARGIN: auto; WIDTH: 80%
}
BODY#user-index TABLE#teachers TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; TEXT-ALIGN: left
}
BODY#user-index TABLE#teachers TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; TEXT-ALIGN: left
}
BODY#user-index TABLE#students TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; TEXT-ALIGN: left
}
BODY#user-index TABLE#students TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; TEXT-ALIGN: left
}
BODY#user-index TABLE.controls {
	WIDTH: 100%
}
BODY#user-index TABLE.controls TR {
	VERTICAL-ALIGN: top
}
BODY#user-index TABLE.controls TD.right {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
BODY#user-index TABLE.controls TD.left {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
BODY#user-index TABLE.controls .right {
	TEXT-ALIGN: right
}
#mod-chat-gui_header_js-jsupdate {
	MARGIN: 10px
}
#mod-chat-gui_header_js-jsupdate .chat-event {
	PADDING-RIGHT: 0px; MARGIN-TOP: 7px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
#mod-chat-gui_header_js-jsupdate .chat-message {
	PADDING-RIGHT: 0px; MARGIN-TOP: 7px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
#mod-chat-gui_header_js-jsupdate .picture {
	WIDTH: 40px
}
.forumheaderlist {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: separate
}
.forumpost {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: separate
}
.forumpost {
	MARGIN-TOP: 15px
}
.forumpost .topic {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: 1px solid
}
.forumpost .commands {
	CLEAR: both; PADDING-TOP: 0.5em; TEXT-ALIGN: right
}
.forumpost .ratings {
	PADDING-TOP: 1em; TEXT-ALIGN: right
}
.forumpost .attachments {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 7px; PADDING-TOP: 7px; TEXT-ALIGN: right
}
.forumpost .content {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.forumpost .footer {
	PADDING-TOP: 0.5em; TEXT-ALIGN: right
}
.forumpost .link {
	PADDING-TOP: 0.5em; TEXT-ALIGN: right
}
.forumpost .left {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; WIDTH: 35px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.mod-forum .indent {
	MARGIN-LEFT: 30px
}
BODY#user-view .forumpost {
	WIDTH: 100%
}
.course .forumpost {
	WIDTH: 100%
}
BODY#mod-forum-search .c0 {
	TEXT-ALIGN: right
}
BODY#mod-forum-search .introcontent {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
.forumolddiscuss {
	TEXT-ALIGN: right
}
.forumheaderlist {
	WIDTH: 100%
}
.forumheaderlist TD {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 0px solid
}
.forumheaderlist .replies {
	WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.forumheaderlist .picture {
	WIDTH: 35px
}
.forumheaderlist .discussion .starter {
	VERTICAL-ALIGN: middle
}
.forumheaderlist .lastpost {
	WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.forumheaderlist .discussion .author {
	WHITE-SPACE: nowrap
}
.forumolddiscuss {
	TEXT-ALIGN: right
}
.forumaddnew {
	TEXT-ALIGN: center
}
.forumnodiscuss {
	TEXT-ALIGN: center
}
.noticeboxcontent {
	TEXT-ALIGN: center
}
#mod-forum-view .unread {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px
}
#mod-forum-discuss .unread .content {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
#mod-forum-index .unread IMG {
	MARGIN-LEFT: 5px
}
#mod-forum-view .unread IMG {
	MARGIN-LEFT: 5px
}
#email .unsubscribelink {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 0px solid; MARGIN-TOP: 20px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; TEXT-ALIGN: center
}
.glossarypost .commands {
	WIDTH: 200px; WHITE-SPACE: nowrap
}
#mod-glossary-comments .glossarypost {
	MARGIN-TOP: 15px
}
#mod-glossary-comment .glossarypost {
	MARGIN-TOP: 15px
}
.entryboxheader {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 0px solid
}
.entrybox {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.glossarypost {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 5px; BORDER-LEFT: 1px solid; WIDTH: 95%; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: separate; TEXT-ALIGN: left
}
.entrylist {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.entrylowersection {
	PADDING-TOP: 10px
}
.entrylowersection TABLE {
	WIDTH: 100%
}
.entrylowersection .aliases {
	TEXT-ALIGN: center
}
.entrylowersection .icons {
	PADDING-RIGHT: 5px; TEXT-ALIGN: right
}
.entrylowersection .ratings {
	PADDING-RIGHT: 5px; TEXT-ALIGN: right
}
.entrylowersection .ratings {
	PADDING-BOTTOM: 2px
}
.categoryheader {
	WIDTH: 95%
}
.glossaryformatheader {
	WIDTH: 90%
}
.glossarypost .entry {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.glossarypost .picture {
	WIDTH: 35px
}
.glossarycomment {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-BOTTOM: 5px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: separate; TEXT-ALIGN: left
}
.glossarycomment .entry {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.glossarycomment .picture {
	WIDTH: 35px
}
.glossarycomment .icons {
	TEXT-ALIGN: right
}
.glossarydisplay {
	WIDTH: 70%
}
.glossarydisplay .tabs {
	WIDTH: 100%
}
.glossarydisplay .separator {
	WIDTH: 4px
}
.glossarydisplay .tabs .selected {
	
}
.glossarydisplay .tabs .inactive {
	
}
.glossarydisplay .tabs .general {
	
}
.glossarypopup {
	WIDTH: 95%
}
.glossaryapproval {
	WIDTH: 100%
}
.mod-glossary .tabs {
	MARGIN-BOTTOM: 0px
}
.mod-glossary .tabs .side {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: auto; BORDER-BOTTOM: 0px
}
#mod-journal-view .lastedit {
	MARGIN: 5px; TEXT-ALIGN: center
}
#mod-journal-view .editend {
	MARGIN: 5px; TEXT-ALIGN: center
}
#mod-journal-view .feedbackbox {
	WIDTH: 75%; BORDER-COLLAPSE: separate
}
#mod-journal-view .entrycontent {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#mod-journal-view .picture {
	WIDTH: 35px
}
#mod-journal-view .grade {
	TEXT-ALIGN: right
}
#mod-journal-view .info {
	MARGIN-BOTTOM: 5px; TEXT-ALIGN: right
}
.feedbacktext {
	DISPLAY: block; TEXT-ALIGN: right
}
BODY#mod-quiz-report TABLE#attempts {
	MARGIN: auto; WIDTH: 80%
}
BODY#mod-quiz-report TABLE#commands {
	MARGIN: auto; WIDTH: 80%
}
BODY#mod-quiz-report TABLE#itemanalysis {
	MARGIN: auto; WIDTH: 80%
}
BODY#mod-quiz-report TABLE#attempts {
	MARGIN: 20px auto
}
BODY#mod-quiz-report TABLE#attempts .header {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
BODY#mod-quiz-report TABLE#attempts .cell {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
BODY#mod-quiz-report TABLE#attempts .header .commands {
	DISPLAY: inline
}
BODY#mod-quiz-report TABLE#attempts .picture {
	WIDTH: 40px
}
BODY#mod-quiz-report TABLE#attempts TD {
	BORDER-RIGHT: 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: 1px solid
}
BODY#mod-quiz-report TABLE#attempts .header {
	TEXT-ALIGN: left
}
BODY#mod-quiz-report TABLE#attempts .picture {
	TEXT-ALIGN: center! important
}
BODY#mod-quiz-report .controls {
	TEXT-ALIGN: center
}
.navbutton FORM {
	DISPLAY: inline
}
.ims-nav-bar {
	LEFT: 2px; POSITION: absolute; TOP: 2px
}
.ims-nav-button A {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em
}
.ims-nav-dimmed {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em
}
#mod-assignment-submissions .feedback .content {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #dddddd 1px solid
}
#mod-assignment-submissions .feedback .topic {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #dddddd 1px solid
}
#mod-assignment-submissions .feedback .picture {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #dddddd 1px solid
}
.mod-assignment .feedback .files {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: right; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #efefef
}
.mod-assignment .feedback .grade {
	FLOAT: right
}
.mod-assignment .feedback .from {
	FLOAT: left
}
.mod-assignment .feedback .time {
	FONT-SIZE: 0.8em
}
.mod-assignment .late {
	COLOR: red
}
.mod-assignment .files IMG {
	MARGIN-RIGHT: 4px
}
.mod-assignment .files A {
	WHITE-SPACE: nowrap
}
#mod-assignment-submissions .generaltable .r1 {
	BACKGROUND-COLOR: #ffffff
}
#mod-assignment-submissions .header .commands {
	DISPLAY: inline
}
#mod-assignment-submissions .s0 {
	BACKGROUND: #ffd991
}
#mod-assignment-submissions TABLE.submissions TD {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
#mod-assignment-submissions TABLE.submissions TH {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
#mod-assignment-submissions .submissions .grade {
	FONT-WEIGHT: bold; TEXT-ALIGN: right
}
#mod-assignment-submissions .picture {
	WIDTH: 35px
}
#mod-assignment-submissions .fullname {
	TEXT-ALIGN: left
}
#mod-assignment-submissions .timemodified {
	FONT-SIZE: 0.9em; TEXT-ALIGN: left
}
#mod-assignment-submissions .timemarked {
	FONT-SIZE: 0.9em; TEXT-ALIGN: left
}
#mod-assignment-submissions .status {
	TEXT-ALIGN: center
}
#mod-assignment-view #online .singlebutton {
	TEXT-ALIGN: center
}
#mod-assignment-view #dates {
	MARGIN-TOP: 30px; FONT-SIZE: 0.8em; MARGIN-BOTTOM: 30px
}
#mod-assignment-view #dates .c0 {
	FONT-WEIGHT: bold; TEXT-ALIGN: right
}
#mod-assignment-view .feedback {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; MARGIN-TOP: 15px; MARGIN-LEFT: 10%; BORDER-LEFT: #dddddd 1px solid; WIDTH: 80%; MARGIN-RIGHT: 10%; BORDER-BOTTOM: #dddddd 1px solid
}
#mod-assignment-view .feedback .topic {
	BORDER-RIGHT: #dddddd 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #dddddd 0px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #dddddd 0px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #dddddd 1px solid
}
#mod-assignment-view .feedback .fullname {
	FONT-WEIGHT: bold
}
#mod-assignment-view .feedback .date {
	FONT-SIZE: 0.8em
}
#mod-assignment-view .feedback .content {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#mod-assignment-view .feedback .grade {
	FONT-WEIGHT: bold; TEXT-ALIGN: right
}
#mod-assignment-view .feedback .left {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; WIDTH: 35px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.mod-choice .results {
	BORDER-COLLAPSE: separate
}
.mod-choice .results .data {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
.mod-lesson .contents {
	TEXT-ALIGN: left
}
.mod-lesson .slideshow {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; OVERFLOW: auto; PADDING-TOP: 15px
}
.mod-lesson .hidden-label {
	DISPLAY: none
}
.mod-lesson .leftmenu_container {
	PADDING-BOTTOM: 15px; VERTICAL-ALIGN: top; OVERFLOW: auto; WIDTH: 170px; HEIGHT: 400px
}
.mod-lesson .leftmenu_title {
	
}
.mod-lesson .leftmenu_courselink {
	FONT-SIZE: 0.9em
}
.mod-lesson .leftmenu_links {
	FONT-SIZE: 0.85em
}
.mod-lesson .leftmenu_links UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.mod-lesson .leftmenu_selected_link {
	
}
.mod-lesson .leftmenu_not_selected_link {
	
}
.mod-lesson .skip {
	LEFT: -1000em; WIDTH: 20em; POSITION: absolute
}
.mod-lesson .lessonbutton A {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em
}
.mod-lesson .lessonbutton A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.mod-lesson .lessonbutton A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.mod-lesson .lessonbutton A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.mod-lesson .lessonbutton A:link {
	BORDER-RIGHT: #4a4a4a 2px solid; BORDER-TOP: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; BORDER-BOTTOM: #4a4a4a 2px solid
}
.mod-lesson .lessonbutton A:visited {
	BORDER-RIGHT: #4a4a4a 2px solid; BORDER-TOP: #cecece 1px solid; BORDER-LEFT: #cecece 1px solid; BORDER-BOTTOM: #4a4a4a 2px solid
}
.mod-lesson .lessonbutton A:hover {
	BORDER-RIGHT: #cecece 1px solid; BORDER-TOP: #4a4a4a 2px solid; BORDER-LEFT: #4a4a4a 2px solid; BORDER-BOTTOM: #cecece 1px solid
}
.mod-lesson .previousbutton {
	
}
.mod-lesson .nextbutton {
	
}
.mod-lesson .standardbutton {
	
}
.mod-lesson .branchbuttoncontainer {
	TEXT-ALIGN: center
}
.mod-lesson .branchslidetop {
	
}
.mod-lesson .branchslidebottom {
	
}
.mod-lesson .progress_bar {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.mod-lesson .progress_bar_table {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 80%; PADDING-TOP: 0px
}
.mod-lesson .progress_bar_completed {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: green
}
.mod-lesson .progress_bar_todo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: red; TEXT-ALIGN: left
}
.mod-lesson .progress_bar_token {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 5px; PADDING-TOP: 0px; HEIGHT: 20px; BACKGROUND-COLOR: #000000
}
.mod-quiz .quiz-report-title {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.mod-quiz .grade {
	MARGIN-TOP: 10pt; FONT-SIZE: small
}
.mod-quiz .gradingdetails {
	FONT-SIZE: small
}
BODY#mod-quiz-report TABLE#itemanalysis {
	MARGIN: 20px auto
}
BODY#mod-quiz-report TABLE#itemanalysis .header {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
BODY#mod-quiz-report TABLE#itemanalysis .cell {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
BODY#mod-quiz-report TABLE#itemanalysis .header .commands {
	DISPLAY: inline
}
BODY#mod-quiz-report TABLE#itemanalysis TD {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
BODY#mod-quiz-report TABLE#itemanalysis .header {
	TEXT-ALIGN: left
}
BODY#mod-quiz-report TABLE#itemanalysis .numcol {
	VERTICAL-ALIGN: middle! important; TEXT-ALIGN: center
}
BODY#mod-quiz-report TABLE#itemanalysis .uncorrect {
	COLOR: red
}
BODY#mod-quiz-report TABLE#itemanalysis .correct {
	FONT-WEIGHT: bold; COLOR: blue
}
BODY#mod-quiz-report TABLE#itemanalysis .partialcorrect {
	COLOR: green! important
}
BODY#mod-quiz-report TABLE#itemanalysis .qname {
	COLOR: green! important
}
BODY#mod-quiz-grading TABLE#grading {
	MARGIN: auto; WIDTH: 80%
}
BODY#mod-quiz-grading TABLE#grading {
	MARGIN: 20px auto
}
BODY#mod-quiz-grading TABLE#grading .header {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
BODY#mod-quiz-grading TABLE#grading .cell {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
BODY#mod-quiz-grading TABLE#grading .header .commands {
	DISPLAY: inline
}
BODY#mod-quiz-grading TABLE#grading .picture {
	WIDTH: 40px
}
BODY#mod-quiz-grading TABLE#grading TD {
	BORDER-RIGHT: 1px solid; VERTICAL-ALIGN: bottom; BORDER-LEFT: 1px solid
}
BODY#mod-quiz-grading TABLE#grading .header {
	TEXT-ALIGN: left
}
BODY#mod-quiz-grading TABLE#grading .picture {
	TEXT-ALIGN: center! important
}
BODY#mod-quiz-grading .controls {
	TEXT-ALIGN: center
}
BODY#mod-quiz-grading TABLE#grading TD {
	BORDER-LEFT-COLOR: #dddddd; BORDER-BOTTOM-COLOR: #dddddd; BORDER-TOP-COLOR: #dddddd; BORDER-RIGHT-COLOR: #dddddd
}
BODY#mod-quiz-grading TABLE#grading .r1 {
	BACKGROUND-COLOR: #eeeeee
}
BODY#mod-quiz-report TABLE#responses {
	MARGIN: 20px auto
}
BODY#mod-quiz-report TABLE#responses .header {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
BODY#mod-quiz-report TABLE#responses .cell {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
BODY#mod-quiz-report TABLE#responses .header .commands {
	DISPLAY: inline
}
BODY#mod-quiz-report TABLE#responses TD {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
BODY#mod-quiz-report TABLE#responses .header {
	TEXT-ALIGN: left
}
BODY#mod-quiz-report TABLE#responses .numcol {
	VERTICAL-ALIGN: middle! important; TEXT-ALIGN: center
}
BODY#mod-quiz-report TABLE#responses .uncorrect {
	COLOR: red
}
BODY#mod-quiz-report TABLE#responses .correct {
	COLOR: green
}
BODY#mod-quiz-report TABLE#responses .partialcorrect {
	COLOR: orange
}
#mod-quiz-attempt #timer .generalbox {
	WIDTH: 150px
}
#mod-quiz-attempt #timer {
	LEFT: 10px; POSITION: absolute
}
.structlist {
	FONT-SIZE: small; WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none
}
.orgtitle {
	FONT-WEIGHT: bold; FONT-SIZE: small
}
.mod-scorm .top {
	VERTICAL-ALIGN: top
}
.mod-scorm .left {
	TEXT-ALIGN: left
}
.mod-scorm .center {
	TEXT-ALIGN: center
}
.mod-scorm .right {
	TEXT-ALIGN: right
}
.mod-scorm .scoframe {
	
}
#mod-scorm-player #scormpage {
	WIDTH: 100%; POSITION: relative
}
#mod-scorm-player #tocbox {
	LEFT: 0px; WIDTH: 19%; POSITION: absolute; TOP: 0px
}
#mod-scorm-player #tochead {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
#mod-scorm-player #scormbox {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
#mod-scorm-player .toc {
	MARGIN-LEFT: 20%; WIDTH: 80%
}
#mod-scorm-player .no-toc {
	WIDTH: 100%
}
#mod-scorm-player #scormobject {
	
}
#mod-scorm-player #scormtop {
	WIDTH: 100%; POSITION: relative; HEIGHT: 30px
}
#mod-scorm-player #scormbrowse {
	LEFT: 5px; POSITION: absolute; TOP: 0px
}
#mod-scorm-player #scormnav {
	RIGHT: 5px; POSITION: absolute; TOP: 0px
}
#mod-scorm-player .structurelist {
	FONT-SIZE: small; TEXT-INDENT: -4ex; LIST-STYLE-TYPE: none
}
#mod-scorm-view .structurehead {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
#mod-scorm-view .structurelist {
	WHITE-SPACE: nowrap; LIST-STYLE-TYPE: none
}
.workshop_feedbackbox {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; MARGIN-TOP: 5px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.workshop_feedbackbox .picture {
	VERTICAL-ALIGN: top
}
.workshop_feedbackbox .author {
	DISPLAY: block; VERTICAL-ALIGN: top
}
.workshop_feedbackbox .time {
	DISPLAY: block; VERTICAL-ALIGN: top
}
.workshop_feedbackbox .content {
	VERTICAL-ALIGN: top
}
.workshop_feedbackbox .comment {
	DISPLAY: block
}
.workshop_feedbackbox .teachercomment {
	DISPLAY: block; FONT-WEIGHT: bold
}
.block_adminblock .content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.block_calendar_month .cal_popup_caption {
	FONT-SIZE: 0.85em! important
}
.block_calendar_month .cal_popup_fg DIV {
	FONT-SIZE: 0.85em! important
}
.block_calendar_month .filters {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 0.75em; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.block_calendar_month .filters TABLE {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-COLLAPSE: separate; border-spacing: 2px
}
.block_calendar_month .event_global {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
.block_calendar_month .event_course {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
.block_calendar_month .event_group {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
.block_calendar_month .event_user {
	BORDER-RIGHT: 2px solid; BORDER-TOP: 2px solid; BORDER-LEFT: 2px solid; BORDER-BOTTOM: 2px solid
}
.block_calendar_upcoming .event .date {
	TEXT-ALIGN: right
}
.block_course_summary .content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.block_login .logintable {
	TEXT-ALIGN: center
}
.block_login .loginform {
	DISPLAY: inline
}
.block_quiz_results {
	TEXT-ALIGN: center
}
.block_quiz_results TABLE.grades .number {
	WIDTH: 10%; TEXT-ALIGN: right
}
.block_quiz_results TABLE.grades .grade {
	WIDTH: 10%; TEXT-ALIGN: right
}
.block_quiz_results TABLE.grades {
	WIDTH: 100%; TEXT-ALIGN: left
}
.block_quiz_results TABLE.grades CAPTION {
	FONT-WEIGHT: bold; MARGIN: 1em 0px 0px; BORDER-BOTTOM: 1px solid
}
.block_quiz_results H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN: 4px
}
.block_rss_client .link {
	BORDER-TOP: #dddddd 1px solid; FONT-SIZE: 0.82em; PADDING-BOTTOM: 5px
}
.block_rss_client .description {
	PADDING-LEFT: 10px; FONT-SIZE: 0.78em; PADDING-BOTTOM: 8px; COLOR: #555555
}
.block_rss_client .title {
	FONT-SIZE: 1em
}
.block_rss_client .image {
	
}
.blockconfigtable #rssfeeds {
	WIDTH: 100%
}
.blockconfigtable #rssfeeds TD.actions {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: middle; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.blockconfigtable #rssfeeds TD.feed {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px
}
.blockconfigtable #rssfeeds .title {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 2px
}
.blockconfigtable #rssfeeds .url {
	FONT-SIZE: 0.8em
}
.blockconfigtable #rssfeeds .description {
	FONT-SIZE: 0.8em
}
.blockconfigtable #rssfeeds TR.r0 {
	BACKGROUND-COLOR: #ffffff
}
.blockconfigtable #rssfeeds TR.r1 {
	BACKGROUND-COLOR: #f0f0f0
}
.block_search_forums .searchform {
	TEXT-ALIGN: center
}
.block_search_forums .searchform IMG {
	VERTICAL-ALIGN: middle
}
