TD.open {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(tech/img/open.gif); WIDTH: 150px; COLOR: #333333; PADDING-TOP: 2px; HEIGHT: 18px
}
TD.close {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(tech/img/close.gif); WIDTH: 150px; COLOR: #333333; PADDING-TOP: 2px; HEIGHT: 18px
}
.f10pt110 {
	FONT-SIZE: 10pt; LINE-HEIGHT: 110%
}
H1 {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: "MS P????", "Osaka"
}
.f10pt130 {
	FONT-SIZE: 10pt; LINE-HEIGHT: 130%; FONT-FAMILY: "MS P????", "Osaka"
}
TD {
	FONT-SIZE: 10pt; LINE-HEIGHT: 130%; FONT-FAMILY: "MS P????", "Osaka"
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN-BOTTOM: 10px
}
H3 {
	FONT-SIZE: 11pt; MARGIN-BOTTOM: 6px; COLOR: #000033
}
TABLE.tableWaku {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 5px; BORDER-LEFT: #999999 1px solid; WIDTH: 98%; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid
}
TD.tdSource {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 10px; FONT-FAMILY: "MS P????", "Osaka"; BACKGROUND-COLOR: #eeeeee
}
TD.tdExample {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10pt; PADDING-BOTTOM: 10px; MARGIN: 10px; COLOR: #666666; PADDING-TOP: 10px; FONT-FAMILY: "MS P????", "Osaka"; BACKGROUND-COLOR: #ffff99
}
.strongGray {
	FONT-WEIGHT: bold; COLOR: #333333
}
.titleAfterPage2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px
}
.prevNext {
	FONT-WEIGHT: bold; FONT-SIZE: 90%
}
TABLE.profile {
	BORDER-RIGHT: #999999 1px dotted; BORDER-TOP: #999999 1px dotted; MARGIN-BOTTOM: 2px; BORDER-LEFT: #999999 1px dotted; BORDER-BOTTOM: #999999 1px dotted
}
.f8pt120 {
	FONT-SIZE: 8pt; LINE-HEIGHT: 120%
}
.f9pt120 {
	FONT-SIZE: 9pt; LINE-HEIGHT: 120%
}
.strong {
	FONT-WEIGHT: bold
}
.strongOrange {
	FONT-WEIGHT: bold; COLOR: #ff3300
}
.shoulder {
	MARGIN-TOP: 4px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #333333; FONT-FAMILY: "MS P????", "Osaka"; HEIGHT: 16px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.25; PADDING-TOP: 0px
}
TH {
	FONT-SIZE: 10pt
}
.f12pt130 {
	FONT-SIZE: 12pt; FONT-FAMILY: "MS P????", "Osaka"
}
TD.contentsCell {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(base_img/contentsCell.gif); WIDTH: 150px; COLOR: #333333; HEIGHT: 18px
}
TD.searchCell {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(base_img/searchCell.gif); WIDTH: 150px; COLOR: #333333; HEIGHT: 20px
}
TD.preferenceCell {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(base_img/preferenceCell.gif); WIDTH: 150px; COLOR: #333333; HEIGHT: 20px
}
UNKNOWN {
	TEXT-DECORATION: none
}
UNKNOWN {
	COLOR: #ff6600
}
UNKNOWN {
	COLOR: blue
}
.japTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0066ff; FONT-FAMILY: "MS P????", "Osaka"
}
HR.thin {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 3px
}
TD.wakuColor {
	BACKGROUND-COLOR: #666666
}
TD.koumoku {
	BACKGROUND-COLOR: #dddddd
}
TD.input {
	BACKGROUND-COLOR: #eeeeee
}
TD.confirm {
	FONT-SIZE: 10pt; LINE-HEIGHT: 100%; FONT-FAMILY: "MS P????", "Osaka"; BACKGROUND-COLOR: #ffffee
}
.strongWhite {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.strongGray8pt {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: "MS P????", "Osaka"
}
TABLE.formTable {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #666666; BORDER-TOP-COLOR: #cccccc; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #666666
}
TABLE.letter {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #dddddd 1px solid; BACKGROUND-COLOR: #ffffdd
}
TD.inputParent {
	BACKGROUND-COLOR: #cccccc
}
.f10pt100 {
	FONT-SIZE: 10pt; LINE-HEIGHT: 100%
}
.strongDarkBlue {
	FONT-WEIGHT: bold; COLOR: #000066
}
.f12pt120b {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; LINE-HEIGHT: 120%; FONT-FAMILY: "MS P????", "Osaka"
}
.f10pt120b {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; LINE-HEIGHT: 120%; FONT-FAMILY: "MS P????", "Osaka"
}
.photoPadding {
	MARGIN-TOP: 5px; PADDING-TOP: 5px
}
.f10pt110Grey {
	FONT-SIZE: 10pt; COLOR: #333333; LINE-HEIGHT: 110%
}
.dotlinebuttom {
	BORDER-RIGHT: black 0px dotted; BORDER-TOP: black 0px dotted; BORDER-LEFT: black 0px dotted; BORDER-BOTTOM: #999999 1px dotted
}
.tableMoko {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.tableSubCategory {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #dddddd 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #dddddd 1px solid; COLOR: #666666; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #e3dffd
}
TD.wakuColorBlue {
	BACKGROUND-COLOR: #66ccff
}
TD.koumoku2 {
	BACKGROUND-COLOR: #eeeeee
}
TD.koumoku3 {
	BORDER-RIGHT: #999999 0px solid; BORDER-TOP: black 0px solid; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #eeeeee
}
.inputline01 {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.inputline02 {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.inputline03 {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: black 0px solid
}
.inputline01Hidden {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: #87ceeb 1px solid; BACKGROUND-COLOR: #99eeff
}
.inputline02Hidden {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #99eeff
}
.inputline03Hidden {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: black 0px solid; BACKGROUND-COLOR: #99eeff
}
.formCell {
	BACKGROUND-COLOR: #99ffff
}
.tableMoko2 {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.strongRed8pt {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #cc0000; FONT-FAMILY: "MS P????", "Osaka"
}
.dotlinebuttomGrey {
	BORDER-RIGHT: black 0px dotted; BORDER-TOP: black 0px dotted; BORDER-LEFT: black 0px dotted; BORDER-BOTTOM: #cccccc 1px dotted
}
TD.personTechSide {
	BORDER-RIGHT: black 0px dotted; BORDER-TOP: black 0px dotted; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: none; BORDER-LEFT: black 0px dotted; WIDTH: 150px; COLOR: #333333; BORDER-BOTTOM: #999999 1px dotted; HEIGHT: 18px
}
.f8pt140 {
	FONT-SIZE: 8pt; LINE-HEIGHT: 160%
}
.f6pt150 {
	FONT-SIZE: 6pt; LINE-HEIGHT: 150%
}
.f14pt120 {
	FONT-SIZE: 14pt; LINE-HEIGHT: 120%; FONT-FAMILY: "MS P????", "Osaka"
}
.f14pt120b {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; LINE-HEIGHT: 120%; FONT-FAMILY: "MS P????", "Osaka"
}
.formsize12 {
	HEIGHT: 12pt
}
.norepeat {
	BACKGROUND-IMAGE: url(person/images/img_top.jpg); BACKGROUND-REPEAT: no-repeat
}
.f11pt130 {
	FONT-SIZE: 11pt; LINE-HEIGHT: 130%
}
.strongRed16pt {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #cc0000; LINE-HEIGHT: 24px; FONT-FAMILY: "MS P????", "Osaka"
}
.table_border {
	BORDER-RIGHT: #cc9933 1px dotted; BORDER-TOP: #cc9933 1px dotted; BORDER-LEFT: #cc9933 1px dotted; BORDER-BOTTOM: #cc9933 1px dotted
}
.tableWaku_indent {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 5px 5px 5px 40px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid
}
.ex_inc_anno {
	BORDER-RIGHT: #cc0000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cc0000 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #cc0000 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cc0000 1px solid; BACKGROUND-COLOR: #ffffff
}
.strongRed12pt {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; LINE-HEIGHT: 24px; FONT-FAMILY: "MS P????", "Osaka"
}
.accdot {
	FONT-SIZE: 10px; LINE-HEIGHT: 14px
}
