.MethodName {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #004080; FONT-FAMILY: "MS P??", "????"; TEXT-DECORATION: none
}
TABLE.KaisetuTable {
	BORDER-RIGHT: #c2c1c5 thin dashed; BORDER-TOP: #c2c1c5 thin dashed; FONT-SIZE: 12px; BORDER-LEFT: #c2c1c5 thin dashed; BORDER-BOTTOM: #c2c1c5 thin dashed; FONT-FAMILY: "MS P????", "Osaka"; BACKGROUND-COLOR: #f2f1f5; TEXT-DECORATION: none
}
.DefaultFont {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "MS P????", "Osaka"; TEXT-DECORATION: none
}
.Sotowaku {
	BORDER-RIGHT: #333333 solid; BORDER-TOP: #333333 solid; FONT-SIZE: 12px; BORDER-LEFT: #333333 solid; COLOR: #000000; BORDER-BOTTOM: #333333 solid; FONT-FAMILY: "MS P????", "Osaka"
}
.a {
	FONT-SIZE: 12px; COLOR: #0066cc; FONT-FAMILY: "MS P????", "Osaka"; TEXT-DECORATION: none
}
.a:hover {
	FONT-WEIGHT: bold
}
.SubTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: "MS P??", "????"
}
