.souce_back {
	FONT-SIZE: 10pt; COLOR: #333333; BACKGROUND-COLOR: #f6f6f6
}
.comment {
	COLOR: #008000
}
.keyword {
	FONT-WEIGHT: bold; COLOR: #000099
}
.tag {
	COLOR: #cc00ff
}
.value {
	COLOR: #0000cc
}
.attribute {
	COLOR: #885500
}
.jsp {
	COLOR: #cc00ff
}
.source_bold {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #ffffff
}
.souce_highlight {
	FONT-SIZE: 10pt; WIDTH: 100%; COLOR: #333333; BACKGROUND-COLOR: #ffffcc
}
TABLE.sourceWaku {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; BORDER-LEFT: #999999 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid
}
TD.tdEnv {
	BACKGROUND-COLOR: #dcd7ff
}
.strongRed {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #cc0000; FONT-FAMILY: "MS P????", "Osaka"
}
.strongRed8pt {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #cc0000; LINE-HEIGHT: 100%
}
TABLE.tableCaution {
	BORDER-RIGHT: #990000 1px dotted; BORDER-TOP: #990000 1px dotted; BORDER-LEFT: #990000 1px dotted; BORDER-BOTTOM: #990000 1px dotted
}
TD.tdCaution {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 10px; FONT-FAMILY: "MS P????", "Osaka"; BACKGROUND-COLOR: #eeeeee
}
TD.tdCaution {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10pt; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR: #000033; PADDING-TOP: 10px; FONT-FAMILY: "MS P????", "Osaka"; BACKGROUND-COLOR: #ffffcc
}
TABLE.tableExplain {
	BORDER-RIGHT: #663333 1px solid; BORDER-TOP: #663333 1px solid; BORDER-LEFT: #663333 1px solid; BORDER-BOTTOM: #663333 1px solid
}
TD.tdExplain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333333; PADDING-TOP: 0px; FONT-FAMILY: "MS P????", "Osaka"; BACKGROUND-COLOR: #caffe3
}
TABLE.news {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
TD.dotline {
	BACKGROUND-IMAGE: url(base_img/dotline2_1_7pix.gif)
}
.marginTB5 {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
STRONG {
	FONT-WEIGHT: normal
}
TD.dotline5 {
	BACKGROUND-IMAGE: url(base_img/dotline2_1_5pix.gif)
}
TD.dotline3 {
	BACKGROUND-IMAGE: url(base_img/dotline2_1_3pix.gif)
}
.f8pt110 {
	FONT-SIZE: 8pt; LINE-HEIGHT: 110%
}
.right_under_margin {
	MARGIN-BOTTOM: 5px; MARGIN-RIGHT: 10px
}
.companyNameLink {
	TEXT-DECORATION: none
}
companyNameLink A:hover {
	COLOR: #00ffff
}
companyNameLink A:active {
	COLOR: #00ffff
}
.resumeStatLink {
	TEXT-DECORATION: none
}
resumeStatLink A:hover {
	COLOR: #00ffff
}
resumeStatLink A:active {
	COLOR: #00ffff
}
.f16pt120 {
	FONT-SIZE: 16pt; LINE-HEIGHT: 120%
}
.unix_comm {
	FONT-WEIGHT: bold; COLOR: #cc0000
}
.unix_path {
	COLOR: #ff6633; FONT-STYLE: italic
}
.rank_head {
	FONT-SIZE: 12px; BACKGROUND-COLOR: #ffffcc
}
.SourceList {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: silver 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 9pt; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: silver 1px solid; COLOR: #333333; PADDING-TOP: 5px; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: "MS P????", "Osaka"; BACKGROUND-COLOR: #eeeeee
}
