DIV.tech {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 5px; PADDING-TOP: 3px
}
DIV.tech P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; LINE-HEIGHT: 1.2; PADDING-TOP: 5px
}
.tech IMG {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid
}
.tech #imgNone IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.tech H1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 110%; PADDING-BOTTOM: 5px; MARGIN: 10px 0px 5px; PADDING-TOP: 5px; BORDER-BOTTOM: gray 1px dashed
}
.tech H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; MARGIN: 5px 0px 0px; PADDING-TOP: 5px
}
.tech H3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; MARGIN: 10px 0px 5px; PADDING-TOP: 0px
}
.tech H4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; MARGIN: 10px 0px 5px; PADDING-TOP: 0px
}
TABLE.tech {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: silver 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 5px 10px 3px; BORDER-LEFT: silver 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: silver 1px solid
}
TABLE.tech TD {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: silver 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: silver 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: silver 1px solid
}
TD.tech {
	BORDER-RIGHT: silver 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: silver 0px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: silver 0px solid; PADDING-TOP: 3px; BORDER-BOTTOM: silver 0px solid
}
TABLE.normal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL.tech {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; PADDING-TOP: 0px
}
UL.tech LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.center {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.techPractice {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; COLOR: white; PADDING-TOP: 3px; BACKGROUND-COLOR: #69c
}
.bannerArea {
	MARGIN: 10px 0px
}
.mvEnv {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: silver 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: silver 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: #dcd7ff
}
.spanBorderRedBold {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: black 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: 700; PADDING-BOTTOM: 3px; BORDER-LEFT: black 1px solid; COLOR: red; PADDING-TOP: 3px; BORDER-BOTTOM: black 1px solid
}
.spanRedBorderRedBold {
	BORDER-RIGHT: red 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: red 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: 700; PADDING-BOTTOM: 3px; BORDER-LEFT: red 1px solid; COLOR: red; PADDING-TOP: 3px; BORDER-BOTTOM: red 1px solid
}
.spanBorderBold {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: black 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: 700; PADDING-BOTTOM: 3px; BORDER-LEFT: black 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: black 1px solid
}
.spanRedBorderBold {
	BORDER-RIGHT: red 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: red 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: 700; PADDING-BOTTOM: 3px; BORDER-LEFT: red 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: red 1px solid
}
