BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: url(/images/body_back.gif) #fff repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
#logo {
	Z-INDEX: 2; LEFT: 0px; MARGIN: 0px; COLOR: white; POSITION: absolute; TOP: 0px
}
UNKNOWN {
	POSITION: fixed
}
A:link {
	COLOR: #036; BACKGROUND-COLOR: transparent
}
A:visited {
	COLOR: #616366; BACKGROUND-COLOR: transparent
}
A:hover {
	COLOR: #00b
}
A:active {
	COLOR: #f1edcf
}
A:unknown {
	COLOR: #036
}
A:link IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A:visited IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A:hover IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A:active IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H1 {
	FONT-SIZE: 20px
}
H2 {
	FONT-SIZE: 18px
}
#menu1 {
	FONT-WEIGHT: bold; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 35px; BACKGROUND-COLOR: #036; min-width: 700px
}
#menu1 UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 44px; WIDTH: 80%; BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute
}
#menu1 LI {
	PADDING-RIGHT: 3px; DISPLAY: inline; PADDING-LEFT: 3px; FLOAT: left; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 6px; LIST-STYLE-TYPE: none
}
#menu1 A {
	BORDER-RIGHT: #fffdf2 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #fffdf2 1px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 5px; BORDER-LEFT: #fffdf2 1px solid; PADDING-TOP: 5px; BACKGROUND-COLOR: #039; TEXT-DECORATION: none
}
#menu1 A:link {
	COLOR: #ccc
}
#menu1 A:visited {
	COLOR: #ccc
}
#menu1 A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #06c
}
#selected1 A {
	COLOR: #fff; BACKGROUND-COLOR: #06c
}
#selected1 A:link {
	COLOR: #fff; BACKGROUND-COLOR: #06c
}
#selected1 A:visited {
	COLOR: #fff; BACKGROUND-COLOR: #06c
}
#selected1 A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #06c
}
#menu2 {
	FONT-WEIGHT: bold; Z-INDEX: 1; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 34px; HEIGHT: 20px; BACKGROUND-COLOR: #06c; min-width: 700px
}
#menu2 UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FONT-SIZE: 10px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 45px; WIDTH: 80%; BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute
}
#menu2 LI {
	PADDING-RIGHT: 2px; DISPLAY: inline; PADDING-LEFT: 2px; FLOAT: left; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
#menu2 A {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#menu2 A:link {
	COLOR: #fff
}
#menu2 A:visited {
	COLOR: #fff
}
#menu2 A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
#selected2 A {
	TEXT-DECORATION: underline
}
#selected2 A:link {
	TEXT-DECORATION: underline
}
#selected2 A:visited {
	TEXT-DECORATION: underline
}
#selected2 A:hover {
	TEXT-DECORATION: underline
}
#topbanner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 72px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 728px; PADDING-TOP: 0px; POSITION: absolute; TOP: 70px; HEIGHT: 90px
}
#nav {
	BORDER-RIGHT: #808080 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #808080 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 10px; LEFT: 72px; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #808080 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #808080 1px solid; POSITION: absolute; TOP: 170px
}
#nav A:link {
	COLOR: #036; TEXT-DECORATION: none
}
#nav A:visited {
	COLOR: #036; TEXT-DECORATION: none
}
#nav A:hover {
	COLOR: #036; TEXT-DECORATION: underline
}
#content {
	MARGIN-LEFT: 72px; WIDTH: 728px; POSITION: absolute; TOP: 200px
}
#content H1 {
	TEXT-ALIGN: center
}
#skyscraper {
	LEFT: 836px; WIDTH: 160px; MARGIN-RIGHT: 10px; POSITION: absolute; TOP: 70px; HEIGHT: 600px; TEXT-ALIGN: center
}
#footer {
	CLEAR: both; BORDER-RIGHT: #06c 1px inset; PADDING-RIGHT: 5px; BORDER-TOP: #06c 1px inset; MARGIN-TOP: 20px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #06c 1px inset; COLOR: #fff; PADDING-TOP: 5px; BORDER-BOTTOM: #06c 1px inset; BACKGROUND-COLOR: #036; TEXT-ALIGN: center
}
#footer HR {
	BORDER-LEFT-COLOR: #ccc; BORDER-BOTTOM-COLOR: #ccc; WIDTH: 80%; BORDER-TOP-STYLE: dotted; BORDER-TOP-COLOR: #ccc; BORDER-RIGHT-STYLE: dotted; BORDER-LEFT-STYLE: dotted; BORDER-RIGHT-COLOR: #ccc; BORDER-BOTTOM-STYLE: dotted
}
#footer A {
	COLOR: #fff; TEXT-DECORATION: none
}
#footer A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
#footer A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
#footer A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
