H1 {
	MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 5%; MARGIN-BOTTOM: 0px; COLOR: #ffffff; TEXT-DECORATION: none
}
.codeShade {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cccccc 1px solid; MARGIN-TOP: 0.5em; PADDING-LEFT: 4px; MARGIN-BOTTOM: 0.5em; PADDING-BOTTOM: 4px; MARGIN-LEFT: 0em; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #cccccc 1px solid
}
A {
	COLOR: #003399; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
BODY {
	PADDING-LEFT: 0px; MARGIN: 3px auto 3px 0px; WIDTH: 100%; FONT-FAMILY: Arial
}
.leftBarTable {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 90%; BORDER-LEFT: #cccccc 1px solid; WIDTH: 140px; BACKGROUND-COLOR: #e6e6e6
}
.leftLangCell {
	BORDER-BOTTOM: #cccccc 1px solid
}
.leftNewLangCell {
	BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #ffe6e6
}
.leftBarFolderTable {
	BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 90%; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: white
}
.leftNewFolderCell {
	BACKGROUND-COLOR: #ffe6e6
}
.folderGroupTable {
	FONT-SIZE: 95%; MARGIN-BOTTOM: 0px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #e6e6e6
}
.folderTitleTable {
	FONT-WEIGHT: bold; FONT-SIZE: 90%; MARGIN-BOTTOM: 0px; BORDER-BOTTOM: #cccccc 1px solid
}
.folderTable {
	FONT-SIZE: 80%
}
#fileElementCount {
	FONT-SIZE: 75%; BORDER-LEFT: #ffffff 5px solid
}
.articleProductElementTitle {
	BORDER-RIGHT: #cccccc 2px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 110%; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 2px solid; BACKGROUND-COLOR: #e6e6e6
}
.odd {
	HEIGHT: 40px; BACKGROUND-COLOR: #e6e6e6
}
.even {
	HEIGHT: 40px
}
.relatedExample {
	FONT-SIZE: 170%; BORDER-BOTTOM: #cccccc 1px solid
}
.screenshotIndexTable {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FONT-SIZE: 80%; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #e6e6e6
}
.screenshotElementTable {
	BORDER-COLLAPSE: collapse
}
.codeTitle {
	FONT-SIZE: 150%; BORDER-BOTTOM: #cccccc 1px solid
}
.tutorialFolderTitle {
	FONT-SIZE: 110%; BORDER-BOTTOM: #cccccc 1px solid
}
.googleBar {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.tutorialTable {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; BORDER-COLLAPSE: collapse
}
.tutorialTable TD {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.codeResult {
	BORDER-RIGHT: #cccccc 5px solid; BORDER-TOP: #cccccc 5px solid; FONT-SIZE: 100%; BORDER-LEFT: #cccccc 5px solid; WIDTH: 800px; COLOR: #ffffff; BORDER-BOTTOM: #cccccc 5px solid; FONT-FAMILY: Courier New; BACKGROUND-COLOR: #000000
}
.treeTableLeaf {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana,sans-serif
}
.treeTableHeader {
	BORDER-RIGHT: #f4f4f4 1px outset; BORDER-TOP: #c0c0c0 1px outset; FONT-SIZE: 70%; BACKGROUND: #d4d0c8; BORDER-LEFT: #c0c0c0 1px outset; BORDER-BOTTOM: #f4f4f4 1px outset; TEXT-ALIGN: left
}
.treeTableTree {
	FONT-SIZE: 75%; WIDTH: 200px; HEIGHT: 13px
}
.diagramCellClass {
	BORDER-RIGHT: #660099 1px solid; BORDER-TOP: #660099 1px solid; FONT-SIZE: 75%; BACKGROUND: #f7e6ff; MARGIN: 2px; BORDER-LEFT: #660099 1px solid; WIDTH: 500px; BORDER-BOTTOM: #660099 1px solid; FONT-FAMILY: Courier New, monospace; HEIGHT: 15px
}
.diagramCellInterface {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; FONT-SIZE: 75%; BACKGROUND: #fff5e6; MARGIN: 2px; BORDER-LEFT: #ff9900 1px solid; WIDTH: 500px; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: Courier New, monospace; HEIGHT: 15px
}
.tabContent {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid
}
.tabHeader {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; FONT-SIZE: 80%; BACKGROUND: #e6e6e6; BORDER-LEFT: #bbbbbb 1px solid; BORDER-BOTTOM: #bbbbbb 1px solid; TEXT-ALIGN: center
}
.tabHeaderCurrent {
	BORDER-RIGHT: #bbbbbb 1px solid; BORDER-TOP: #bbbbbb 1px solid; FONT-SIZE: 80%; BORDER-LEFT: #bbbbbb 1px solid; TEXT-ALIGN: center
}
.tabHeaderLast {
	BACKGROUND: white; BORDER-BOTTOM: #bbbbbb 1px solid
}
.tabHeaderDivider {
	BACKGROUND: white; BORDER-BOTTOM: #bbbbbb 1px solid
}
