BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana, helvetica, arial, sans-serif; BACKGROUND-COLOR: #fff
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: verdana, helvetica, arial, sans-serif; BACKGROUND-COLOR: #fff
}
BODY {
	BACKGROUND-POSITION: left top; FONT-SIZE: 75%; BACKGROUND-IMAGE: url(/style/bg.gif); MARGIN: 0px; BACKGROUND-REPEAT: repeat-y
}
TABLE {
	FONT-SIZE: 1em
}
#bg {
	MARGIN: 10px 10px 10px 136px; ; WIDTH: expression( document.body.clientWidth > 1026 ? "1024px" : "auto" ); max-width: 1024px
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#menu {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 4px; FONT-SIZE: 12px; LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 116px; COLOR: #999; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px dashed; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #600; TEXT-ALIGN: left
}
B {
	FONT-WEIGHT: bold
}
STRONG {
	FONT-WEIGHT: bold
}
I {
	FONT-STYLE: italic
}
A {
	COLOR: #600; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000; TEXT-DECORATION: underline
}
HR {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: #600; BORDER-BOTTOM: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #600
}
H1 {
	MARGIN-TOP: 0px; FONT-SIZE: 1.75em; LINE-HEIGHT: 125%; BORDER-BOTTOM: #600 2px solid; TEXT-ALIGN: left
}
H2 {
	FONT-SIZE: 1.25em
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	BORDER-LEFT-COLOR: #999; BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BORDER-RIGHT-COLOR: #999
}
PRE {
	FONT-SIZE: 12px; FONT-FAMILY: monospace
}
TT {
	FONT-SIZE: 12px; FONT-FAMILY: monospace
}
#menu A {
	DISPLAY: block; PADDING-LEFT: 8px; COLOR: #fff; TEXT-INDENT: -8px
}
#menu A:hover {
	BACKGROUND-COLOR: #933; TEXT-DECORATION: none
}
#menu DL {
	PADDING-LEFT: 0px; MARGIN: 8px 0px 8px 4px; TEXT-ALIGN: left
}
#menu DD {
	PADDING-LEFT: 0px; MARGIN: 0px 0px 0px 8px
}
#menu DT {
	FONT-SIZE: 1.25em
}
#menu INPUT {
	BORDER-LEFT-COLOR: #fcc; BORDER-BOTTOM-COLOR: #fcc; WIDTH: 92px; BORDER-TOP-COLOR: #fcc; BACKGROUND-COLOR: #fcc; BORDER-RIGHT-COLOR: #fcc
}
#menu LABEL {
	MARGIN-TOP: 1.5em; DISPLAY: block; FONT-SIZE: 0.75em
}
#news {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 1em 0px; PADDING-TOP: 0.5em; BACKGROUND-COLOR: #eee
}
#news UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#news LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4em; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-INDENT: -4em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.center {
	TEXT-ALIGN: center
}
.source {
	FONT-SIZE: 0.75em; FONT-STYLE: italic
}
.even {
	BACKGROUND-COLOR: #fee
}
.odd {
	BACKGROUND-COLOR: #eee
}
.code {
	PADDING-RIGHT: 2em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sidebar {
	BORDER-RIGHT: #600 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #600 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #600 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #600 1px solid; BACKGROUND-COLOR: #fee
}
.highlight {
	BACKGROUND-COLOR: #fdd
}
#menu {
	WIDTH: 120px; voice-family: inherit
}
#menu IFRAME {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; MARGIN: 1em 0px 1em -3px; WIDTH: 120px; PADDING-TOP: 2px
}
#admenu IFRAME {
	HEIGHT: 600px; BACKGROUND-COLOR: #fff
}
#adlink IFRAME {
	HEIGHT: 100px; BACKGROUND-COLOR: #600
}
#admiddle IFRAME {
	PADDING-RIGHT: 0px; BORDER-TOP: #600 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 1em; MARGIN: 0.5em 5em; PADDING-TOP: 1em; BORDER-BOTTOM: #600 1px solid
}
#adbottom IFRAME {
	BORDER-TOP: #600 1px solid; MARGIN: 1em 0px; PADDING-TOP: 0.4em
}
#adright {
	PADDING-LEFT: 0.8em; FLOAT: right; MARGIN: 0px 0px 0.5em 0.5em; BORDER-LEFT: #600 1px solid
}
UNKNOWN {
	WIDTH: 116px
}

@media Print    
{
BODY {
	FONT-SIZE: 12pt; BACKGROUND-IMAGE: none; MARGIN: 0px; COLOR: #000
}
#bg {
	FONT-SIZE: 12pt; BACKGROUND-IMAGE: none; MARGIN: 0px; COLOR: #000
}
PRE {
	FONT-SIZE: 12pt
}
TT {
	FONT-SIZE: 12pt
}
A {
	TEXT-DECORATION: underline
}
FORM {
	DISPLAY: none
}
#menu {
	DISPLAY: none
}
#admiddle {
	DISPLAY: none
}
#adbottom {
	DISPLAY: none
}
#adright {
	DISPLAY: none
}

}
