H2 {
	FONT-SIZE: 14px; MARGIN: 1px 0px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
BODY {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eeeeee
}
TD {
	FONT-SIZE: 12px
}
tdpadded {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px 0px 2px 14px; PADDING-TOP: 2px
}
UL.Plain {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 2px; PADDING-TOP: 2px
}
LI.Plain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-IMAGE: url(/images/arrow_r.gif); MARGIN-BOTTOM: 4px
}
LI.Small {
	FONT-SIZE: 75%; LIST-STYLE-IMAGE: url(/images/ularrow.gif); MARGIN-BOTTOM: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse
}
A.Small {
	FONT-SIZE: 75%
}
A.Important:link {
	COLOR: #990000
}
A.SystemAdmin:link {
	FONT-WEIGHT: bold; COLOR: #990000
}
.SystemAdmin {
	FONT-WEIGHT: bold; COLOR: #990000
}
A.SiteAdmin:link {
	FONT-WEIGHT: bold
}
.SiteAdmin {
	FONT-WEIGHT: bold
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:link {
	COLOR: #000000; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #000066; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 12px
}
TEXTAREA {
	FONT-SIZE: 12px
}
ACRONYM {
	BORDER-RIGHT: #6699ff 1px dotted; BORDER-TOP: #6699ff 1px dotted; BORDER-LEFT: #6699ff 1px dotted; CURSOR: help; COLOR: #6699ff; BORDER-BOTTOM: #6699ff 1px dotted
}
.TableCellListItemLogo {
	BACKGROUND-IMAGE: url(/images/arrow_r.gif); WIDTH: 13px; BACKGROUND-REPEAT: no-repeat
}
.HomeHeaderTable {
	WIDTH: 100%; BORDER-COLLAPSE: collapse; border-spacing: 0px
}
.HomeStatusBar {
	BORDER-TOP: black 1px solid; BACKGROUND-IMAGE: url(/images/td4.gif); WIDTH: 100%; BORDER-BOTTOM: black 1px solid; BACKGROUND-REPEAT: repeat-x
}
.HomeHeaderCell {
	BACKGROUND-IMAGE: url(/images/td1.gif)
}
.HomeLogo {
	BACKGROUND-IMAGE: url(/images/logo.jpg); WIDTH: 90%; CURSOR: hand; BACKGROUND-REPEAT: no-repeat; HEIGHT: 98px
}
.HomeRecentGeeks {
	VERTICAL-ALIGN: middle; WIDTH: 10%; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.HomeInfill {
	BACKGROUND-COLOR: #eeeeee
}
.HomeOuterTable {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN-LEFT: auto; BORDER-LEFT: #000000 1px solid; WIDTH: 100%; MARGIN-RIGHT: auto; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse
}
.Spacer {
	BACKGROUND-IMAGE: url(/images/spacer.gif); HEIGHT: 1px; BACKGROUND-COLOR: #999999
}
.HomeAdBlock {
	
}
.RSSHeading {
	VERTICAL-ALIGN: middle; BACKGROUND-COLOR: #cccccc; TEXT-ALIGN: center
}
.ArticleHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 120%
}
.ArticleSummary {
	BACKGROUND-COLOR: #eeeeee
}
.SmallTextDim {
	FONT-SIZE: 75%; COLOR: gray
}
.SmallText {
	FONT-SIZE: 75%
}
.TinyText {
	FONT-SIZE: 50%
}
.SmallLink {
	FONT-SIZE: 75%
}
.BoxHeading {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/images/td4.gif); VERTICAL-ALIGN: top; WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.BoxIcon {
	BACKGROUND-IMAGE: url(/images/td4.gif); VERTICAL-ALIGN: top; WIDTH: 1%; HEIGHT: 17px; TEXT-ALIGN: center
}
.BoxContents {
	WIDTH: 100%; BACKGROUND-COLOR: #ffffff
}
.BoxBottom {
	BACKGROUND-IMAGE: url(/images/td5.gif); VERTICAL-ALIGN: middle; HEIGHT: 17px; TEXT-ALIGN: right
}
.BoxOuter {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 100%; BORDER-BOTTOM: #000000 1px solid; BORDER-COLLAPSE: collapse
}
.PortalTable {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; BORDER-COLLAPSE: collapse
}
.PortalEdgeColumn {
	VERTICAL-ALIGN: top; WIDTH: 150px
}
.PortalCentreColumn {
	VERTICAL-ALIGN: top; WIDTH: 100%
}
.PortalSpacerColumn {
	BACKGROUND-IMAGE: url(/images/spacer.gif); WHITE-SPACE: nowrap
}
.Important {
	FONT-WEIGHT: bold; COLOR: #990000
}
.code {
	BORDER-RIGHT: #d1d7dc 1px solid; BORDER-TOP: #d1d7dc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #d1d7dc 1px solid; COLOR: #006600; BORDER-BOTTOM: #d1d7dc 1px solid; FONT-FAMILY: Courier, 'Courier New', sans-serif; BACKGROUND-COLOR: #fafafa
}
.quote {
	BORDER-RIGHT: #d1d7dc 1px solid; BORDER-TOP: #d1d7dc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #d1d7dc 1px solid; COLOR: #444444; LINE-HEIGHT: 125%; BORDER-BOTTOM: #d1d7dc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fafafa
}
.box_that_hovers:link {
	TEXT-DECORATION: none
}
.box_that_hovers:active {
	TEXT-DECORATION: none
}
.box_that_hovers:visited {
	TEXT-DECORATION: none
}
.box_that_hovers:hover {
	TEXT-DECORATION: underline
}
.align1 {
	VERTICAL-ALIGN: bottom; backgroundtext-align: left
}
.align2 {
	VERTICAL-ALIGN: bottom; TEXT-ALIGN: center
}
.align3 {
	VERTICAL-ALIGN: bottom; TEXT-ALIGN: right
}
.align4 {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: left
}
.align5 {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
.align6 {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: right
}
.align7 {
	VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
.align8 {
	VERTICAL-ALIGN: top; TEXT-ALIGN: center
}
.align9 {
	VERTICAL-ALIGN: top; TEXT-ALIGN: right
}
#table_YellowBox {
	MARGIN-BOTTOM: 10px
}
#cell_YellowBoxPlaceholder {
	COLOR: #660000; BACKGROUND-COLOR: #ffffcc
}
.bg_YellowBoxTop {
	BACKGROUND-POSITION: left top; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(../images/yellow_box/top.gif); BACKGROUND-REPEAT: repeat-x
}
.bg_YellowBoxTopLeft {
	BACKGROUND-POSITION: right bottom; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(../images/yellow_box/top_left.gif); BACKGROUND-REPEAT: no-repeat
}
.bg_YellowBoxTopRight {
	BACKGROUND-POSITION: left bottom; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(../images/yellow_box/top_right.gif); BACKGROUND-REPEAT: no-repeat
}
.bg_YellowBoxBottom {
	BACKGROUND-POSITION: left top; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(../images/yellow_box/bottom.gif); BACKGROUND-REPEAT: repeat-x
}
.bg_YellowBoxBottomLeft {
	BACKGROUND-POSITION: right top; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(../images/yellow_box/bottom_left.gif); BACKGROUND-REPEAT: no-repeat
}
.bg_YellowBoxBottomRight {
	BACKGROUND-POSITION: left top; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(../images/yellow_box/bottom_right.gif); BACKGROUND-REPEAT: no-repeat
}
.bg_YellowBoxLeft {
	BACKGROUND-POSITION: left top; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(../images/yellow_box/left.gif); BACKGROUND-REPEAT: repeat-y
}
.bg_YellowBoxRight {
	BACKGROUND-POSITION: left top; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(../images/yellow_box/right.gif); BACKGROUND-REPEAT: repeat-y
}
.MainBlogMenuTable {
	MARGIN: 10px; WIDTH: 100%
}
DIV.BlogEntry {
	MARGIN: 10px; BACKGROUND-COLOR: #eeeeee
}
DIV.BlogEntryBorderLeft {
	BACKGROUND: url(../images/BlogBorder.gif) repeat-y left 50%; WIDTH: 100%
}
DIV.BlogEntryBorderRight {
	BACKGROUND: url(../images/BlogBorder.gif) repeat-y right 50%
}
DIV.BlogHeader {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: url(../images/BlogTop.gif) repeat-x 50% top; PADDING-TOP: 10px
}
DIV.BlogWho {
	PADDING-LEFT: 10px; FONT-SIZE: 75%; COLOR: gray; PADDING-TOP: 5px
}
DIV.BlogBody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
DIV.BlogFooter {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 75%; BACKGROUND: url(../images/BlogBottom.gif) repeat-x 50% bottom; PADDING-BOTTOM: 15px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
DIV.BlogPaging {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
DIV.BlogTopicIcon {
	PADDING-RIGHT: 5px; FLOAT: right; PADDING-TOP: 12px
}
DIV.BlogGetOwn {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.tabtable {
	
}
.tabsel {
	BORDER-RIGHT: #6699ff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #6699ff 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BORDER-LEFT: #6699ff 1px solid; CURSOR: hand; COLOR: #dde6ee; PADDING-TOP: 3px; BORDER-BOTTOM: #6699ff 1px solid; BACKGROUND-COLOR: #2e506c
}
.tabunsel {
	BORDER-RIGHT: #6699ff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #6699ff 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BORDER-LEFT: #6699ff 1px solid; CURSOR: hand; COLOR: #2e506c; PADDING-TOP: 3px; BORDER-BOTTOM: #6699ff 1px solid; BACKGROUND-COLOR: #dde6ee
}
.indexheading {
	MARGIN-BOTTOM: 10px; TEXT-DECORATION: underline
}
