A.TL
{
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none;
}
A.TL:active
{
    BACKGROUND-COLOR: navy;
    COLOR: white;
    TEXT-DECORATION: none;
}
A.TL:link
{
    TEXT-DECORATION: none;
}
A.TL:visited
{
    TEXT-DECORATION: none;
}
A.TLS
{
    COLOR: black;
    BACKGROUND-COLOR: silver;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none;
}
A.TLS:active
{
    BACKGROUND-COLOR: navy;
    COLOR: white;
    TEXT-DECORATION: none;
}
A.TLS:link
{
    TEXT-DECORATION: none;
}
A.TLS:visited
{
    TEXT-DECORATION: none;
}
BODY
{
    FONT-FAMILY: Arial, Helvetica, sans-serif;
}
PRE
{
    FONT-FAMILY: Courier;
}
HR
{
    COLOR: black;
    HEIGHT: 1px;
}
body.outdated
{
  background-image:url('/kb/images/outdated.gif');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}