UNKNOWN {
	MARGIN-TOP: 0ex; MARGIN-BOTTOM: 0ex
}
LI.continued:unknown {
	content: ""
}
UL.continued {
	MARGIN-TOP: 1ex; LIST-STYLE-TYPE: none
}
OL.continued {
	MARGIN-TOP: 1ex; LIST-STYLE-TYPE: none
}
UNKNOWN {
	FONT-WEIGHT: bold; content: "-"
}
UL PRE {
	MARGIN-TOP: 0ex; MARGIN-BOTTOM: 0ex
}
UL UL PRE {
	MARGIN-TOP: -0.4ex; MARGIN-BOTTOM: 1ex
}
LI {
	MARGIN-TOP: 0ex; MARGIN-BOTTOM: 0.6ex
}
UNKNOWN {
	DISPLAY: block
}
UNKNOWN {
	MARGIN-TOP: -2.4ex; DISPLAY: block; MARGIN-LEFT: 2.5em
}
DL DD {
	DISPLAY: block; MARGIN-BOTTOM: 1ex
}
CAPTION {
	TEXT-ALIGN: left
}
