BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 0.75em; COLOR: #303030; LINE-HEIGHT: 1.5em; FONT-FAMILY: arial, helvetica, sans-serif; BACKGROUND-COLOR: white
}
A {
	COLOR: #0040af; TEXT-DECORATION: none
}
A:link {
	COLOR: #0040af; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f38b18; TEXT-DECORATION: none
}
P {
	LINE-HEIGHT: 1.5em; TEXT-ALIGN: justify
}
H1 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.7em; BACKGROUND: url(/images/bar_bg.jpg) #004288 repeat-x 0px 0px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 10px; COLOR: #ffffff; PADDING-TOP: 4px; FONT-FAMILY: "Trebuchet MS", verdana, sans-serif; LETTER-SPACING: 0.04em; TEXT-ALIGN: center
}
DIV.pagetitle {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 1.7em; BACKGROUND: url(/images/bar_bg.jpg) #004288 repeat-x 0px 0px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 10px; COLOR: #ffffff; PADDING-TOP: 4px; FONT-FAMILY: "Trebuchet MS", verdana, sans-serif; LETTER-SPACING: 0.04em; TEXT-ALIGN: center
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 1.9em; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 15px; COLOR: #000088; PADDING-TOP: 0px; LETTER-SPACING: 0.02em; TEXT-ALIGN: left
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.4em; PADDING-BOTTOM: 0px; MARGIN: 18px 0px 0px; COLOR: #444; PADDING-TOP: 0px; FONT-FAMILY: arial; LETTER-SPACING: 0.02em; TEXT-ALIGN: left
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
STRONG {
	FONT-WEIGHT: bold; BACKGROUND: #ffffff; COLOR: #000088
}
CODE {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; FONT-FAMILY: verdana, tahoma, helvetica, arial, sans-serif
}
LABEL {
	FONT-WEIGHT: bold
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UL {
	LIST-STYLE-TYPE: square; TEXT-ALIGN: left
}
LI {
	MARGIN: 0px 0px 10px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	MARGIN: 30px 70px
}
DT {
	FONT-WEIGHT: bold
}
DD {
	PADDING-LEFT: 0px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 0px; TEXT-ALIGN: justify
}
TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #e0eaef; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: left
}
DIV#header {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; HEIGHT: 80px; TEXT-ALIGN: center
}
A#netcraft_logo {
	LEFT: 25px; POSITION: absolute; TOP: 15px
}
DIV#nav {
	FLOAT: left; WIDTH: 170px
}
DIV#nav H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 140%; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px 20px; COLOR: #555; PADDING-TOP: 0px; BORDER-BOTTOM: #cacaca 1px solid; FONT-FAMILY: "Trebuchet MS"; LETTER-SPACING: 0.05em
}
DIV#nav UL {
	MARGIN-TOP: 15px; PADDING-LEFT: 0px; MARGIN-LEFT: 20px; LIST-STYLE-TYPE: none
}
DIV#nav LI {
	MARGIN: 2px 0px
}
DIV#nav LI A {
	DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(/images/smallarrow.jpg) no-repeat 0px 50%; BORDER-BOTTOM-STYLE: none
}
DIV#sitesearch {
	MARGIN-TOP: 20px; MARGIN-LEFT: 20px
}
DIV#sitesearch FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#sitesearch .text {
	BORDER-RIGHT: #3e5c8f 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #3e5c8f 1px solid; DISPLAY: block; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #3e5c8f 1px solid; WIDTH: 120px; COLOR: #555; PADDING-TOP: 2px; BORDER-BOTTOM: #3e5c8f 1px solid
}
DIV#sitesearch .button {
	BORDER-RIGHT: #3e5c8f 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #3e5c8f 1px solid; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #3e5c8f 0px solid; WIDTH: 21px; PADDING-TOP: 0px; BORDER-BOTTOM: #3e5c8f 1px solid
}
DIV#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px; BORDER-LEFT: #f7f7f7 190px solid; PADDING-TOP: 0px
}
DIV#content_col {
	MARGIN-RIGHT: 140px; FONT-FAMILY: verdana, arial, sans-serif
}
DIV#content UL.indent {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 30px 30px 30px 90px; PADDING-TOP: 0px
}
DIV#content P A {
	COLOR: #407bcf; BORDER-BOTTOM: #cacaca 1px dotted
}
DIV#content LI A {
	COLOR: #407bcf; BORDER-BOTTOM: #cacaca 1px dotted
}
TABLE.TBtable A {
	COLOR: #407bcf; BORDER-BOTTOM: #cacaca 1px dotted
}
DIV#content P A:hover {
	COLOR: #f38b18; TEXT-DECORATION: none
}
DIV#content LI A:hover {
	COLOR: #f38b18; TEXT-DECORATION: none
}
TABLE.TBtable A:hover {
	COLOR: #f38b18; TEXT-DECORATION: none
}
DIV#skyscraper {
	FLOAT: right; WIDTH: 120px
}
DIV.copyright {
	PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 15px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: xx-small; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; COLOR: #003060; LINE-HEIGHT: 140%; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: verdana, arial, sans-serif; LETTER-SPACING: 0.2em; TEXT-ALIGN: center
}
TABLE.TBtable {
	BORDER-RIGHT: #cacaca 1px solid; BORDER-TOP: #cacaca 1px solid; BORDER-LEFT: #cacaca 1px solid; WIDTH: 100%; BORDER-BOTTOM: #cacaca 1px solid
}
TABLE.TBtable CAPTION {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN-BOTTOM: 8px; TEXT-ALIGN: left
}
.TBtable TH {
	BACKGROUND: #dddddd
}
.TBtable TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.TBtable A {
	COLOR: #0000cc
}
.TBtr {
	BACKGROUND: #efefef; VERTICAL-ALIGN: top
}
.TBtr2 {
	BACKGROUND: #ffffff; VERTICAL-ALIGN: top
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV#download {
	FONT-SIZE: 90%; MARGIN: 20px auto; TEXT-ALIGN: center
}
IMG.centered {
	DISPLAY: block; MARGIN: 10px auto
}
DIV#content UL.faq LI {
	MARGIN: 0px 3px
}
DIV#content UL.faq A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.TBtable A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.form {
	BORDER-RIGHT: #ddd 1px dashed; PADDING-RIGHT: 20px; BORDER-TOP: #ddd 1px dashed; PADDING-LEFT: 20px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 10px; MARGIN: 10px auto; BORDER-LEFT: #ddd 1px dashed; PADDING-TOP: 10px; BORDER-BOTTOM: #ddd 1px dashed
}
DIV#downloadnow {
	BORDER-RIGHT: #9f1d1d 3px solid; PADDING-RIGHT: 20px; BORDER-TOP: #9f1d1d 3px solid; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; BORDER-LEFT: #9f1d1d 3px solid; WIDTH: 450px; PADDING-TOP: 15px; BORDER-BOTTOM: #9f1d1d 3px solid
}
DIV#downloadnow H3 {
	MARGIN: 0px 0px 10px; WIDTH: 450px; COLOR: #9f1d1d; BORDER-BOTTOM: #cacaca 1px solid
}
DIV#downloadnow TABLE#register {
	BORDER-RIGHT: #ddd 1px dashed; PADDING-RIGHT: 8px; BORDER-TOP: #ddd 1px dashed; PADDING-LEFT: 8px; BACKGROUND: #f7f7f7; PADDING-BOTTOM: 8px; MARGIN: 10px 0px 20px; BORDER-LEFT: #ddd 1px dashed; PADDING-TOP: 8px; BORDER-BOTTOM: #ddd 1px dashed
}
DIV#downloadnow TABLE#version {
	MARGIN: 10px 0px; WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV#content_col UL#benefits {
	LIST-STYLE-IMAGE: url(/images/ularrow.gif)
}
UL#benefits STRONG {
	FONT-SIZE: 1.2em
}
