h1           { font-family: Arial; font-size: 10pt; color: #999999; font-weight: bold }
.tnbw        { font-family: Arial; font-size: 10pt; color: #FFFFFF; font-weight: bold }
.tnbb        { font-family: Arial; font-size: 12pt; color: #000000; font-weight: bold }
.tnby        { font-family: Arial; font-size: 10pt; color: #FCCD10; font-weight: bold }
.tsy         { font-family: Arial; font-size: 8pt; color: #FCCD10 }
.tby         { font-family: Arial; font-size: 12pt; color: #FCCD10 }
.tny         { font-family: Arial; font-size: 10pt; color: #FCCD10 }
h2           { font-family: Arial; font-size: 10pt; color: #000000; font-weight: bold }
.hby         { color: #FCCD10; font-family: Arial; font-size: 10pt; font-weight: bold }
.hbb         { font-family: Arial; font-size: 10pt; color: #000000; font-weight: bold }
.tnb         { font-family: Arial; font-size: 10pt; color: #000000 }
.tbb         { font-family: Arial; font-size: 12pt; color: #000000 }
.tsb         { font-family: Arial; font-size: 8pt; color: #000000 }
