<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<system.web>
		<authentication mode="Forms" />
  <profile>
			<properties>
          <add name="Photo"
               serializeAs="Binary"
               type="System.Drawing.Bitmap"/>
          <add name="ImageName"
               type="System.String"/>
          <add name="TestDefault"
               type="System.String"
               defaultValue="Arab Team Will always be with us :)"/>
			</properties>
		</profile>
		<compilation debug="true"/>
	</system.web>
</configuration>
