#content {
	FONT-SIZE: 14px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#content DL {
	PADDING-LEFT: 0.5em
}
DT {
	PADDING-LEFT: 0.5em
}
#content P {
	MARGIN: 0.5em 1em 1em 1.5em
}
#content P.big {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px 0.25em 1em 5px; PADDING-TOP: 0px
}
#content P.modified {
	FONT-SIZE: 6pt; TEXT-ALIGN: center
}
#content UL.indexlist LI {
	FONT-WEIGHT: bold; MARGIN: 0px; LIST-STYLE-TYPE: disc
}
#content P.prospugrad-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; LINE-HEIGHT: 1.5; PADDING-TOP: 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#content UL.indexlist2 LI {
	MARGIN: 0.5em 0px 0px; LIST-STYLE-TYPE: square
}
#content UL.indexlist3 LI {
	MARGIN: 0.5em 0px 0px 1.75em; LIST-STYLE-TYPE: square
}
#content UL.indexlist4 LI {
	MARGIN: 0px 0px 0px 1.75em; LIST-STYLE-TYPE: disc
}
#content UL.indexlist5 LI {
	PADDING-BOTTOM: 0.25em; MARGIN: 0.5em 0px 0px; LIST-STYLE-TYPE: square
}
#content UL.indexlist6 LI {
	PADDING-BOTTOM: 0.25em; MARGIN: 0.5em 0px 0px; LIST-STYLE-TYPE: disc
}
#content UL.index LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.25em; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
#content OL.indexlist1 LI {
	PADDING-BOTTOM: 0.25em; MARGIN: 0.5em 0px 0px
}
#content H1 {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.25em; FONT-SIZE: 22px; PADDING-BOTTOM: 0.25em; PADDING-TOP: 0.25em; BORDER-BOTTOM: #fddd88 4px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#content H1 A {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0px; FONT-SIZE: 22px; PADDING-BOTTOM: 0.25em; MARGIN-LEFT: 5px; PADDING-TOP: 0.25em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#content H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 2em 0.25em 1em 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 2px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#content H2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 2em 0.25em 1em 0px; PADDING-TOP: 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#content H2.alt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 1em 0.25em 1em 5px; PADDING-TOP: 0px
}
#content H2.top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px 0.25em 1em 5px; PADDING-TOP: 0px
}
#content H3 {
	PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 1.5em 0.25em 0px 5px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#content H3.alt {
	FONT-SIZE: 14px; MARGIN: 0px 0.25em 0.25em 0px
}
#content H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0.6em 0.25em 0.25em 5px; PADDING-TOP: 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#content H4 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#content H5 {
	PADDING-LEFT: 0px; FONT-SIZE: 12px; MARGIN: 0.6em 0.25em 0.25em 5px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#content H5 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#content TABLE TH {
	FONT-SIZE: 15px
}
#content .hidden {
	LEFT: 0px; OVERFLOW: hidden; WIDTH: 1px; POSITION: absolute; TOP: -500px; HEIGHT: 1px
}
#content .form {
	FONT-SIZE: 14px; LINE-HEIGHT: 2em
}
#content .form .label {
	TEXT-ALIGN: right
}
#content .submitForm {
	PADDING-RIGHT: 0.5em; MARGIN-TOP: 0.5em; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 1em; PADDING-TOP: 0.5em
}
#content P.important {
	PADDING-RIGHT: 1em; BORDER-TOP: red 2px dotted; PADDING-LEFT: 1em; FONT-SIZE: 15px; PADDING-BOTTOM: 1em; MARGIN: 3em 2em; PADDING-TOP: 1em; BORDER-BOTTOM: red 2px dotted
}
#content PRE {
	FONT-SIZE: 12px
}
#content #loginStatus {
	BORDER-RIGHT: #ccc 5px solid; PADDING-RIGHT: 0.5em; MARGIN-TOP: -12px; PADDING-LEFT: 0.5em; FONT-SIZE: 10px; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; TEXT-ALIGN: right
}
#facultypage .hidden {
	LEFT: 0px; OVERFLOW: hidden; WIDTH: 1px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; POSITION: absolute; TOP: -500px; HEIGHT: 1px
}
#facultypage H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 36px; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.25em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#facultypage H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 24px; PADDING-BOTTOM: 0.75em; MARGIN: 0px; PADDING-TOP: 0px; FONT-STYLE: italic; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#facultypage H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0.25em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#facultypage H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0.25em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#facultypage P {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 14px; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.25em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#facultypage UL {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 1.5em; FONT-SIZE: 14px; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.25em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
#facultypage TABLE TD {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 1.5em; FONT-SIZE: 14px; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.25em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
#facultypage TABLE TH {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 1.5em; FONT-SIZE: 14px; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.25em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
#facultypage UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0em; PADDING-BOTTOM: 0.25em; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
#facultypage UL.tight LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#layout H1 {
	FONT-SIZE: 22px; PADDING-BOTTOM: 0em; MARGIN: 0.25em 0.25em 0.25em -0.75em; BORDER-BOTTOM: #fddd88 4px solid
}
#layout H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 1em 0.25em 1em 0em; BORDER-BOTTOM: #ccc 2px solid
}
#layout H2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 1em 0.25em 1em 0em
}
#layout H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 0.5em 0.25em 0.5em 0px
}
#layout H3 A {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 0.5em 0.25em 0.5em 0px
}
#directory TD {
	FONT-SIZE: 12px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; WHITE-SPACE: nowrap; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#directory TH {
	BORDER-TOP-STYLE: none; BORDER-BOTTOM: #000 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
#directory TR.odd TD {
	BACKGROUND-COLOR: #eee
}
#directory TR.anchor TD {
	BACKGROUND-COLOR: #fc6
}
#pageMenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; PADDING-TOP: 0px
}
#pageMenu P {
	PADDING-LEFT: 5px; MARGIN: 0.5em 0px
}
#pageMenu P A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#pageMenu BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px 0.5em 0.5em; PADDING-TOP: 0px
}
#pageMenu BLOCKQUOTE A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
#pageMenu UL {
	PADDING-LEFT: 5px; MARGIN-LEFT: 2.5em
}
#pageMenu TABLE TD {
	PADDING-LEFT: 5px; MARGIN-LEFT: 2.5em
}
#pageMenu TABLE TH {
	PADDING-LEFT: 5px; MARGIN-LEFT: 2.5em
}
#pageMenu UL {
	FONT-SIZE: 14px
}
#pageMenu UL LI {
	FONT-SIZE: 14px
}
#pageMenu H3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 5px; MARGIN: 1em 0px -0.5em; PADDING-TOP: 5px
}
#pageMenu H4 {
	MARGIN: 1em 0px -0.5em
}
#pageCommittees {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#pageCommittees P {
	PADDING-LEFT: 10px; MARGIN: 0.5em 0px
}
#pageCommittees P A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#pageCommittees BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px 0.5em 0.5em; PADDING-TOP: 0px
}
#pageCommittees BLOCKQUOTE A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
#pageCommittees UL {
	PADDING-LEFT: 8px; MARGIN-LEFT: 3em
}
#pageCommittees TABLE TD {
	PADDING-LEFT: 8px; MARGIN-LEFT: 3em
}
#pageCommittees TABLE TH {
	PADDING-LEFT: 8px; MARGIN-LEFT: 3em
}
#pageCommittees UL UL {
	MARGIN: 0.5em 0px 0.5em 1.5em
}
#pageCommittees H1 {
	BORDER-RIGHT: #fddd88 4px solid; PADDING-RIGHT: 0.25em; BORDER-TOP: #fddd88 4px solid; MARGIN-TOP: 3em; PADDING-LEFT: 0.25em; FONT-SIZE: 22px; PADDING-BOTTOM: 0.25em; BORDER-LEFT: #fddd88 4px solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: #fddd88 4px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#pageCommittes H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 1.4em 0.25em 1em 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 2px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#pageCommittees H2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 1.4em 0.25em 1em 0px; PADDING-TOP: 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#pageCommittees H3 {
	PADDING-LEFT: 0.25em; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 1.6em 0.25em 0px 5px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#pageResguide {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#pageResguide P {
	PADDING-LEFT: 10px; MARGIN: 0.5em 0px
}
#pageResguide P A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#pageResguide BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px 0.5em 0.5em; PADDING-TOP: 0px
}
#pageResguide BLOCKQUOTE A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px; PADDING-TOP: 0px
}
#pageResguide UL {
	PADDING-LEFT: 8px; MARGIN-LEFT: 2.5em
}
#pageResguide TABLE TD {
	PADDING-LEFT: 8px; MARGIN-LEFT: 2.5em
}
#pageResguide TABLE TH {
	PADDING-LEFT: 8px; MARGIN-LEFT: 2.5em
}
#pageResguide UL UL {
	MARGIN: 0.5em 0px 0.5em 1.5em
}
#pageResguide H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 2em 0.25em 1em 0px; PADDING-TOP: 1em; BORDER-BOTTOM: #ccc 2px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#pageResguide H2 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 2em 0.25em 1em 0px; PADDING-TOP: 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#pageResguide H3 {
	PADDING-LEFT: 0.25em; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN: 1.6em 0.25em 0px 5px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#pageResguide H3 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 1.6em 0.25em 0px 0px; PADDING-TOP: 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#pageResguide H4 {
	PADDING-LEFT: 0.25em; FONT-SIZE: 14px; MARGIN: 0.6em 0.25em 0.25em 8px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#pageResguide H4 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0.6em 0.25em 0.25em 0px; PADDING-TOP: 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#pageResguide UL.spaced LI {
	PADDING-BOTTOM: 0.5em; MARGIN: 0px; LIST-STYLE-TYPE: disc
}
#noline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#noline H1 {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.25em; FONT-SIZE: 22px; PADDING-BOTTOM: 0.25em; MARGIN: 0.25em 0.25em 1em -0.75em; PADDING-TOP: 0.25em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BORDER-BOTTOM-STYLE: none
}
#noline H2 {
	PADDING-LEFT: 0.25em; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0.25em; MARGIN: 1.4em 0.25em 1em 5px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BORDER-BOTTOM-STYLE: none
}
#noline H2 A {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0.25em; MARGIN: 11.4em 0.25em 1em 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BORDER-BOTTOM-STYLE: none
}
#spaced {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#spaced P {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; MARGIN: 0.5em 0em 1em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#spaced UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0.5em 0.75em; PADDING-TOP: 0px
}
#spaced OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0.5em 0.75em; PADDING-TOP: 0px
}
#spaced TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0.5em 0.75em; PADDING-TOP: 0px
}
#spaced TABLE TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0.5em 0.75em; PADDING-TOP: 0px
}
#spaced UL UL {
	MARGIN: 0.5em 0.25em 0.5em 0.5em
}
#spaced OL OL {
	MARGIN: 0.5em 0.25em 0.5em 0.5em
}
#highlight {
	BACKGROUND-COLOR: #fff2c6
}
#highlight H2 {
	PADDING-LEFT: 0.25em; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0.25em; MARGIN: 1.4em 0.25em 1em 5px; PADDING-TOP: 0.25em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BORDER-BOTTOM-STYLE: none
}
#highlight H2 A {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0.25em; MARGIN: 11.4em 0.25em 1em 0px; PADDING-TOP: 0.25em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BORDER-BOTTOM-STYLE: none
}
#staff {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #0000cc; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#staff A:active {
	FONT-SIZE: 10pt; COLOR: #0099cc; FONT-STYLE: normal; TEXT-DECORATION: none
}
#staff A:hover {
	BACKGROUND-COLOR: #f1dec9; TEXT-DECORATION: none
}
#staff A:link {
	FONT-SIZE: 10pt; COLOR: #0000ff; FONT-STYLE: normal; TEXT-DECORATION: none
}
#staff A:visited {
	FONT-SIZE: 10pt; COLOR: #ae34bc; TEXT-DECORATION: none
}
#staff P {
	FONT-SIZE: 10pt
}
#staff P.address {
	FONT-SIZE: 10pt; TEXT-ALIGN: center
}
#staff P.mailing {
	FONT-SIZE: 10pt
}
#staff P.mailing:first-line {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
#staff P.links {
	FONT-SIZE: 10pt
}
#staff P.links:first-line {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt
}
#staff P.attribution {
	FONT-SIZE: 8pt; TEXT-ALIGN: center
}
#staff P.title {
	FONT-WEIGHT: bold
}
#staff P.title-center {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
#staff TABLE {
	bgcolor: FFFFFF
}
#staff H1 {
	FONT-SIZE: 24pt; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0.25em; MARGIN: 0.25em 0.25em 1em -0.75em
}
#staff H2 {
	FONT-SIZE: 18pt; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0.25em; MARGIN: 0.25em 0.25em 1em 0em; TEXT-ALIGN: center
}
#staff H2.center {
	FONT-SIZE: 18pt; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0.25em; MARGIN: 0.25em 0.25em 1em -0.75em; TEXT-ALIGN: center
}
#staff H3 {
	FONT-SIZE: 16pt; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0.25em; MARGIN: 0.25em 0.25em 1em -0.75em
}
#staff H4 {
	FONT-SIZE: 14pt; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0.25em; MARGIN: 0.25em 0.25em 1em -0.75em
}
#staff H5 {
	FONT-SIZE: 12pt; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0.25em; MARGIN: 0.25em 0.25em 1em -0.75em
}
#staff H6 {
	FONT-SIZE: 10pt; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0.25em; MARGIN: 0.25em 0.25em 1em -0.75em
}
#mini {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 20px; PADDING-TOP: 0px
}
#mini TABLE {
	MARGIN-LEFT: 20px
}
#mini H1 {
	FONT-SIZE: 22px; PADDING-BOTTOM: 0.25em; MARGIN: 0.25em 0.25em 1em -0.75em; BORDER-BOTTOM: #fddd88 4px solid
}
#mini P.main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 20px 20px 20px -10px; PADDING-TOP: 0px
}
#mini H2.noline {
	PADDING-LEFT: 0.25em; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0.25em; MARGIN: 1.4em 0.25em 1em 5px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BORDER-BOTTOM-STYLE: none
}
#mini H2.noline A {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0.25em; MARGIN: 11.4em 0.25em 1em 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; BORDER-BOTTOM-STYLE: none
}
#mainpage P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 15px; COLOR: #000000; LINE-HEIGHT: normal; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
TABLE.facminutes {
	WIDTH: 75%
}
TH.facminutes-head {
	WIDTH: 50%
}
TD.facminutes-ee {
	BORDER-RIGHT: #bac0cb 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #bac0cb 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; PADDING-BOTTOM: 4px; BORDER-LEFT: #bac0cb 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #bac0cb 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #f1f1f1
}
TD.facminutes-cs {
	BORDER-RIGHT: #bac0cb 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #bac0cb 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; PADDING-BOTTOM: 4px; BORDER-LEFT: #bac0cb 1px solid; COLOR: #000000; PADDING-TOP: 4px; BORDER-BOTTOM: #bac0cb 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #f1f1f1
}
#calhighlights {
	BACKGROUND-COLOR: #fff9e3
}
#calhighlights H3 {
	COLOR: #990000
}
#calnormal {
	BACKGROUND-COLOR: #f4f7fc
}
