BODY {
	MARGIN: 0px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.topnavbackground {
	BACKGROUND-IMAGE: url(/Includes/EECS-images/submenu-background.jpg)
}
#header {
	WIDTH: 100%; COLOR: #ffffff; BACKGROUND-COLOR: #002061
}
#title A {
	COLOR: #fff; BACKGROUND-COLOR: #002061; TEXT-DECORATION: none
}
#title A:hover {
	COLOR: #fc6; BACKGROUND-COLOR: #002061; TEXT-DECORATION: none
}
#title H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 0px; BACKGROUND-COLOR: #002061; TEXT-ALIGN: left
}
#coetitle A {
	COLOR: #fff; BACKGROUND-COLOR: #002061; TEXT-DECORATION: none
}
#coetitle A:hover {
	COLOR: #fc6; BACKGROUND-COLOR: #002061; TEXT-DECORATION: none
}
#coetitle H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 0px; BACKGROUND-COLOR: #002061; TEXT-ALIGN: left
}
#ucbtitle A {
	COLOR: #fc6; BACKGROUND-COLOR: #002061; TEXT-DECORATION: none
}
#ucbtitle A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #002061; TEXT-DECORATION: none
}
#ucbtitle H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#logintitle A {
	BACKGROUND: #e5e5e5; COLOR: #000; TEXT-DECORATION: none
}
#logintitle A:hover {
	BACKGROUND: #ffffff; COLOR: #ff0000; TEXT-DECORATION: none
}
#logintitle H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#eecs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold small-caps 12px verdana, sans-serif; COLOR: #ffffff; PADDING-TOP: 0px; LETTER-SPACING: 0.3em; BACKGROUND-COLOR: #002061
}
#coe {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; FONT: bold 10px verdana, sans-serif; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-COLOR: #002061
}
#berk {
	FONT: bold 16px times, garamond, sans-serif
}
#berk A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #002061
}
TR.sidecolor {
	BACKGROUND-COLOR: #ffffff
}
P.login {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 12px Geneva, Arial, Helvetica, sans-serif; COLOR: #000000; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.leftsidebar-image {
	BACKGROUND-IMAGE: url(/Includes/EECS-images/template-leftnav.gradient.jpg); BACKGROUND-REPEAT: no-repeat; HEIGHT: 360px
}
.rightsidebar-image {
	BACKGROUND-IMAGE: url(/Includes/EECS-images/template-rightnav.gradient.jpg); WIDTH: 200px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 600px
}
TD.divline {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 10px
}
#sideline HR {
	COLOR: #efce77; HEIGHT: 3px; BACKGROUND-COLOR: #efce77
}
#maststripe DIV {
	BACKGROUND: #fee5a0
}
A {
	
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #000099; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.search {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN: 5px 0px 0px 5px; TEXT-TRANSFORM: none; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
.searchtypes {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; TEXT-TRANSFORM: none; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
UL.nobullet {
	LIST-STYLE-TYPE: none
}
UL.square {
	LIST-STYLE-TYPE: square
}
OL.uproman {
	LIST-STYLE-TYPE: upper-roman
}
OL.lowalpha {
	LIST-STYLE-TYPE: lower-alpha
}
OL.upalpha {
	LIST-STYLE-TYPE: upper-alpha
}
#leftcoltext H4 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 14px; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.75em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#rightcoltext H4 {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 14px; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 1em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
#rightcoltext P {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 1.5em; FONT-SIZE: 14px; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0.5em; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
.sidenavhead {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.7em; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: none; PADDING-TOP: 1em; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.sidenavtext {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.7em; PADDING-BOTTOM: 1em; MARGIN: 0px; FONT: 12px/16px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; PADDING-TOP: 0.25em
}
TD.mastbackground {
	BACKGROUND: rgb(0,32,97); COLOR: #000000
}
TD.maststripe {
	COLOR: #fddd88; BACKGROUND-COLOR: #fddd88
}
.sectionhead {
	FONT-WEIGHT: bold; FONT-SIZE: 19px; MARGIN: 0px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0px; LINE-HEIGHT: normal; FONT-STYLE: normal; WHITE-SPACE: normal; TEXT-ALIGN: left; FONT-VARIANT: normal
}
.sectionh2 {
	FONT-WEIGHT: bold; FONT-SIZE: 19px; BACKGROUND: #f1f1f1; MARGIN: 0px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0px; LINE-HEIGHT: normal; FONT-STYLE: normal; WHITE-SPACE: normal; TEXT-ALIGN: left; FONT-VARIANT: normal
}
.subhead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0.1em; FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: #f1f1f1; PADDING-BOTTOM: 0.25em; MARGIN: 0px; VERTICAL-ALIGN: top; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0px; LINE-HEIGHT: normal; PADDING-TOP: 0.25em; FONT-STYLE: normal; WHITE-SPACE: normal; TEXT-ALIGN: left; FONT-VARIANT: normal
}
TD.return {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #dfe2e9; PADDING-BOTTOM: 0.25em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 0.25em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.backtotop {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; BORDER-TOP: rgb(204,204,204) 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 14px; BACKGROUND: #fff2c6; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse
}
TD.credit-title {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; COLOR: #000000; PADDING-TOP: 2px; TEXT-ALIGN: right
}
TD.credit-people {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; COLOR: #000000; PADDING-TOP: 2px; TEXT-ALIGN: left
}
TD.Adminofficers-title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 1em 0.25em 1em 0em; BORDER-BOTTOM: #ccc 2px solid
}
TD.Adminaddress-title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 1em 0.25em 1em 0em; BORDER-BOTTOM: #ccc 2px solid
}
P.ContactChair {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; TEXT-ALIGN: left
}
P.DeptAddress {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; BACKGROUND: #fffaec; PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 1em
}
TABLE.eecsaddresses {
	WIDTH: 100%
}
TD.eeaddress-text {
	BORDER-RIGHT: #bac0cb 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #bac0cb 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.blue-wide.jpg); PADDING-BOTTOM: 4px; BORDER-LEFT: #bac0cb 1px solid; COLOR: #000000; PADDING-TOP: 4px; BORDER-BOTTOM: #bac0cb 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse
}
TD.csaddress-text {
	BORDER-RIGHT: #bac0cb 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #bac0cb 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); PADDING-BOTTOM: 4px; BORDER-LEFT: #bac0cb 1px solid; COLOR: #000000; PADDING-TOP: 4px; BORDER-BOTTOM: #bac0cb 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse
}
TD.cshome-photo {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TD.cshome-address {
	BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); BACKGROUND-REPEAT: no-repeat
}
P.cshome-street {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P.cshome-phone {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD.cshome-links {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.blue-wide.jpg); MARGIN: 0px; LINE-HEIGHT: 1.5; BACKGROUND-REPEAT: no-repeat
}
TD.cshome-hours {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
UL.cshomelink {
	LIST-STYLE: square url(/Includes/EECS-images/arrow.gif) outside
}
UL.cshomelink LI {
	LIST-STYLE: square url(/Includes/EECS-images/arrow.gif) outside
}
UL.spaced LI {
	PADDING-BOTTOM: 0.25em; MARGIN: 0.5em 0px 0px
}
OL.spaced LI {
	PADDING-BOTTOM: 0.25em; MARGIN: 0.5em 0px 0px
}
OL.spaces LI {
	PADDING-BOTTOM: 0.25em; MARGIN: 0.5em 0px 0px; LIST-STYLE-TYPE: decimal
}
TD.cshome-contentleft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BACKGROUND: rgb(255,255,255); PADDING-BOTTOM: 1em; COLOR: #000000; PADDING-TOP: 0px
}
TD.cshome-contentright {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BACKGROUND: rgb(255,255,255); PADDING-BOTTOM: 1em; COLOR: #000000; PADDING-TOP: 0px
}
TD.eehome-photo {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TD.eehome-address {
	BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.blue-wide.jpg); BACKGROUND-REPEAT: no-repeat
}
P.eehome-street {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
P.eehome-phone {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.eehome-links {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); MARGIN: 0px; LINE-HEIGHT: 1.5; BACKGROUND-REPEAT: no-repeat
}
TD.eehome-hours {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
UL.eehomelink {
	LIST-STYLE: square url(/Includes/EECS-images/arrow.gif) outside
}
UL.eehomelink LI {
	LIST-STYLE: square url(/Includes/EECS-images/arrow.gif) outside
}
TD.eehome-contentleft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BACKGROUND: rgb(255,255,255); PADDING-BOTTOM: 1em; COLOR: #000000; PADDING-TOP: 0px
}
TD.eehome-contentright {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BACKGROUND: rgb(255,255,255); PADDING-BOTTOM: 1em; COLOR: #000000; PADDING-TOP: 0px
}
TD.submenu-title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 1em 0.25em 1em 0em; BORDER-BOTTOM: #ccc 2px solid; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
TD.submenu-nolinetitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 1em 0.25em 1em 0em; PADDING-TOP: 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
TABLE.boxindex {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); PADDING-BOTTOM: 1em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 1em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse
}
TD.boxindex {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); PADDING-BOTTOM: 1em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 1em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse
}
TD.subindex {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; BORDER-TOP: rgb(204,204,204) 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: rgb(241,241,241); BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.subindex-small {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; BORDER-TOP: rgb(204,204,204) 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: rgb(241,241,241); BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.subindex-left {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; BORDER-TOP: rgb(204,204,204) 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: rgb(254,229,160); BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
TD.divcalendar {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: rgb(254,229,160); PADDING-BOTTOM: 0.25em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 0.25em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.campusdiv {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #dfe2e9; PADDING-BOTTOM: 0.25em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 0.25em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
TD.divhighlights {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1em; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); PADDING-BOTTOM: 1em; MARGIN: 0px; PADDING-TOP: 1em; BACKGROUND-REPEAT: no-repeat
}
TD.degree-index {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; BORDER-TOP: rgb(204,204,204) 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #fff2c6; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.submenu1 {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; BORDER-TOP: rgb(204,204,204) 1px solid; FONT-WEIGHT: normal; BACKGROUND: #dfe2e9; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.degree-submenu1 {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; BORDER-TOP: rgb(204,204,204) 1px solid; FONT-WEIGHT: normal; BACKGROUND: #dfe2e9; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.degree-submenu2 {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: #f6f7f9; PADDING-BOTTOM: 5px; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.hotlines-bold {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; BACKGROUND: rgb(254,229,160); PADDING-BOTTOM: 0.25em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 0.25em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse
}
TD.hotlines {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; BACKGROUND: rgb(254,229,160); PADDING-BOTTOM: 0.25em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 0.25em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse
}
TD.hotlines-nonemerg {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; BACKGROUND: #fff2c6; PADDING-BOTTOM: 0.25em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 0.25em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse
}
TD.emergwebsites {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; BACKGROUND: rgb(230,230,230); PADDING-BOTTOM: 0.25em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 0.25em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse
}
TD.emergwebsites-bold {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; BACKGROUND: rgb(230,230,230); PADDING-BOTTOM: 0.25em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 0.25em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse
}
TD.facaward-index {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 10px; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse
}
UL.facaward-list LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
TD.facaward-subindex {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; BORDER-TOP: rgb(204,204,204) 1px solid; FONT-WEIGHT: bold; BACKGROUND: #fff2c6; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.facaward-title {
	FONT-WEIGHT: bold; BACKGROUND: rgb(255,255,255); COLOR: #000000
}
TD.facaward-text {
	FONT-WEIGHT: normal; BACKGROUND: rgb(255,255,255); COLOR: #000000
}
TD.facaward-other {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; BORDER-TOP: rgb(204,204,204) 1px solid; FONT-WEIGHT: bold; BACKGROUND: #fff2c6; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse
}
TD.facaward-return {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 0.3em; FONT-WEIGHT: bold; BACKGROUND: rgb(254,229,160); PADDING-BOTTOM: 0.3em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 0.3em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.menumore {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; BACKGROUND: #fff2c6; PADDING-BOTTOM: 3px; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse
}
TD.menumore-ee {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; BACKGROUND: #d2d6df; PADDING-BOTTOM: 3px; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse
}
TD.menumore-cs {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: normal; BACKGROUND: #fff2c6; PADDING-BOTTOM: 3px; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse
}
TD.researchareas-title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2em; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; MARGIN: 1em 0.25em 1em 0em; PADDING-TOP: 0px; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif
}
DIV.researchareas UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.25em 1.75em; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
DIV.researchareas UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.25em 1.75em; PADDING-TOP: 0px; LIST-STYLE-TYPE: disc
}
P.otherresearch {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2em; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE.resguide {
	PADDING-LEFT: 1em
}
TD.resguide {
	PADDING-LEFT: 1em
}
TABLE.resguideindex {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); PADDING-BOTTOM: 1em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 1em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse
}
TD.resguideindex {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); PADDING-BOTTOM: 1em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 1em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse
}
TABLE.resguidestaff {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); PADDING-BOTTOM: 1em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; LINE-HEIGHT: 1.5em; PADDING-TOP: 1em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse
}
TD.resguidestaff {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); PADDING-BOTTOM: 1em; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; LINE-HEIGHT: 1.5em; PADDING-TOP: 1em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse
}
UL.resguidestaff {
	MARGIN-TOP: 0.2em
}
UL.resguidestaff LI {
	MARGIN: -0.25em
}
TD.mapcontents {
	FONT-WEIGHT: normal; BACKGROUND: #fffaec; COLOR: #000000
}
TD.parkingblurb {
	FONT-WEIGHT: normal; BACKGROUND: rgb(230,230,230)
}
TD.reserve-cory {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #d2d6df; PADDING-BOTTOM: 5px; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse
}
TD.reserve-soda {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #fff2c6; PADDING-BOTTOM: 5px; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse
}
TD.prospugradbox {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: rgb(204,204,204) 1px solid; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fff9e3
}
TD.studentinfo-ugradtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 1em 0.25em 1em 0em; BORDER-BOTTOM: #ccc 2px solid
}
TD.studentinfo-ugraditems {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.blue-wide.jpg); PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; BACKGROUND-REPEAT: no-repeat
}
TD.studentinfo-gradtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 1em 0.25em 1em 0em; BORDER-BOTTOM: #ccc 2px solid
}
TD.studentinfo-graditems {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; BACKGROUND-REPEAT: no-repeat
}
P.csa {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -0.25em; COLOR: #000; PADDING-TOP: 0px; TEXT-ALIGN: center
}
TABLE.recruit {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; COLOR: #000000; PADDING-TOP: 1em
}
TD.acadpers-facsearch {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.yellow-wide.jpg); PADDING-BOTTOM: 0.5em; MARGIN: 1em; BORDER-LEFT: rgb(204,204,204) 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.acadpers-affiliated {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND-IMAGE: url(/Includes/EECS-images/gradient.blue-wide.jpg); PADDING-BOTTOM: 0.5em; MARGIN: 1em; BORDER-LEFT: rgb(204,204,204) 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BACKGROUND-REPEAT: no-repeat; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.acadpers-affilsearch {
	BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: rgb(204,204,204) 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: rgb(230,230,230); PADDING-BOTTOM: 0.5em; MARGIN: 1em; BORDER-LEFT: rgb(204,204,204) 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
TD.gradaffairs-opening {
	PADDING-RIGHT: 5px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
TD.white {
	FONT-WEIGHT: normal; BACKGROUND: rgb(255,255,255); COLOR: #000000
}
TD.white2 {
	FONT-WEIGHT: bold; BACKGROUND: rgb(255,255,255); COLOR: #000000
}
TD.smletter {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: rgb(255,255,255)
}
TH.white {
	FONT-WEIGHT: bold; BACKGROUND: rgb(255,255,255)
}
TH.lftwhite {
	FONT-WEIGHT: bold; BACKGROUND: rgb(255,255,255); TEXT-ALIGN: left
}
TD.palegray {
	FONT-WEIGHT: normal; BACKGROUND: rgb(230,230,230)
}
TD.palegray2 {
	FONT-WEIGHT: bold; BACKGROUND: rgb(230,230,230)
}
TD.palegray3 {
	FONT-WEIGHT: normal; BACKGROUND: rgb(230,230,230)
}
TD.gray {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: rgb(204,204,204)
}
TH.gray {
	FONT-WEIGHT: bold; BACKGROUND: rgb(204,204,204)
}
TD.deepgray {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: rgb(188,186,199)
}
TD.grayh2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: rgb(204,204,204); TEXT-ALIGN: center
}
TD.graylh2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: rgb(230,230,230); TEXT-ALIGN: left
}
TD.yellowlh2 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: #fddd88; TEXT-ALIGN: left
}
TD.deepyellow {
	BACKGROUND: rgb(255,204,102)
}
TH.deepyellow {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: rgb(255,204,102)
}
TD.paleyellow {
	FONT-WEIGHT: normal; BACKGROUND: rgb(255,248,229)
}
TD.paleyellow2 {
	FONT-WEIGHT: bold; BACKGROUND: rgb(255,248,229)
}
TD.graybutton {
	FONT-WEIGHT: bold; BACKGROUND: rgb(204,204,204); TEXT-ALIGN: center
}
TD.graybutton2 {
	FONT-WEIGHT: bold; BACKGROUND: rgb(204,204,204); TEXT-ALIGN: left
}
TD.palegraybutton {
	FONT-WEIGHT: bold; BACKGROUND: rgb(230,230,230); TEXT-ALIGN: center
}
TD.palegraybutton2 {
	FONT-WEIGHT: normal; BACKGROUND: rgb(230,230,230); TEXT-ALIGN: center
}
TD.ctrgraybutton {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: rgb(230,230,230); TEXT-ALIGN: center
}
TD.smgraybutton {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: rgb(204,204,204); TEXT-ALIGN: center
}
TD.smpalegraybutton {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: rgb(230,230,230); TEXT-ALIGN: center
}
TD.grayindex {
	FONT-WEIGHT: bold; BACKGROUND: rgb(230,230,230); COLOR: #000000
}
TD.grayindex2 {
	FONT-WEIGHT: normal; BACKGROUND: rgb(230,230,230); COLOR: #000000
}
TD.EEbackground {
	BACKGROUND: rgb(0,32,97); COLOR: #6699ff
}
P.sidebarEE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
P.sidebarEE A {
	FONT-WEIGHT: bold; BACKGROUND: #002061; COLOR: #6699ff; TEXT-DECORATION: none
}
P.sidebarEE A:hover {
	FONT-WEIGHT: bold; COLOR: #ffffff; BACKGROUND-COLOR: #002061; TEXT-DECORATION: none
}
P.sidebarEE A:visited {
	COLOR: #6699ff; BACKGROUND-COLOR: #002061; TEXT-DECORATION: none
}
TD.CSbackground {
	BACKGROUND: rgb(0,32,97); COLOR: #f9bb0b
}
P.sidebarCS {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
P.sidebarCS A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #f9bb0b; PADDING-TOP: 0px; BACKGROUND-COLOR: #002061; TEXT-DECORATION: none
}
P.sidebarCS A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BACKGROUND-COLOR: #002061; TEXT-DECORATION: none
}
P.sidebarCS A:visited {
	COLOR: #f9bb0b; BACKGROUND-COLOR: #002061; TEXT-DECORATION: none
}
.topnavhead {
	FONT: bold 14px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; WHITE-SPACE: nowrap; LETTER-SPACING: normal
}
.topnavtext {
	FONT: 12px/16px Verdana, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: top; TEXT-TRANSFORM: none; COLOR: #000000
}
.sidesearch {
	MARGIN: 0.5em 0px 0px
}
.topsearch {
	MARGIN: 0px
}
.submit {
	FONT-SIZE: 10px
}
#footer HR {
	COLOR: #fddd88; HEIGHT: 3px; BACKGROUND-COLOR: #fddd88
}
#footer TD {
	FONT-SIZE: 12px
}
#footer TD A {
	FONT-SIZE: 12px
}
#footer .noBorder {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.leftsidebar-gradmanual {
	BACKGROUND-IMAGE: url(/Includes/EECS-images/template-leftnav.gradmanual.jpg); WIDTH: 300px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 500px
}
.gradmanualtitle {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 17px; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: none; PADDING-TOP: 1.5em; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: small-caps
}
.gradmanualhead {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: none; PADDING-TOP: 1.5em; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.gradmanualtext {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 1.25em; PADDING-BOTTOM: 1em; MARGIN: 0px; FONT: 14px/16px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; PADDING-TOP: 0.25em
}
.leftsidebar-ugradmanual {
	BACKGROUND-IMAGE: url(/Includes/EECS-images/template-leftnav.ugradmanual.jpg); WIDTH: 260px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 500px
}
.ugradmanualspace {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ugradmanualtitle {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 1em; FONT-WEIGHT: bold; FONT-SIZE: 17px; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: none; PADDING-TOP: 0.5em; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: small-caps
}
.ugradmanualindex {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 1.25em; PADDING-BOTTOM: 1em; MARGIN: 0px; FONT: bold 14px/16px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; PADDING-TOP: 0px
}
