HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: verdana, 'trebuchet ms', sans-serif
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	TEXT-DECORATION: underline
}
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	FONT-WEIGHT: normal
}
H2 {
	FONT-WEIGHT: normal
}
H3 {
	FONT-WEIGHT: normal
}
H4 {
	FONT-WEIGHT: normal
}
H5 {
	FONT-WEIGHT: normal
}
H6 {
	FONT-WEIGHT: normal
}
H1 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
H2 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
H3 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
H4 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
H5 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
H6 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
P {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
OL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
UL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
PRE {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
BLOCKQUOTE {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
.clr {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px -1px -1px 0px; OVERFLOW: hidden; WIDTH: 1px; LINE-HEIGHT: 0; PADDING-TOP: 0px; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px
}
.pkg:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0.1em; VISIBILITY: hidden; LINE-HEIGHT: 0; HEIGHT: 0px; content: " "
}
.pkg {
	DISPLAY: inline-block
}
 HTML .pkg {
	HEIGHT: 1%
}
.pkg {
	DISPLAY: block
}
BODY {
	TEXT-ALIGN: center
}
#container {
	MARGIN: 0px auto; WIDTH: 720px; POSITION: relative; TEXT-ALIGN: left
}
#container-inner {
	WIDTH: auto; POSITION: static
}
#banner {
	POSITION: relative
}
#banner-inner {
	POSITION: static
}
#pagebody {
	WIDTH: 100%; POSITION: relative
}
#pagebody-inner {
	WIDTH: 100%; POSITION: static
}
#alpha {
	DISPLAY: inline; MIN-HEIGHT: 1px; FLOAT: left; POSITION: relative
}
#beta {
	DISPLAY: inline; MIN-HEIGHT: 1px; FLOAT: left; POSITION: relative
}
#gamma {
	DISPLAY: inline; MIN-HEIGHT: 1px; FLOAT: left; POSITION: relative
}
#delta {
	DISPLAY: inline; MIN-HEIGHT: 1px; FLOAT: left; POSITION: relative
}
#delta {
	FLOAT: right
}
#alpha-inner {
	POSITION: static
}
#beta-inner {
	POSITION: static
}
#gamma-inner {
	POSITION: static
}
#delta-inner {
	POSITION: static
}
.banner-user {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 15px 0px 0px; OVERFLOW: hidden; WIDTH: 64px; PADDING-TOP: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.banner-user-photo {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: center center; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: none! important
}
.banner-user-photo IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 64px; PADDING-TOP: 0px; HEIGHT: auto; BORDER-RIGHT-WIDTH: 0px
}
.nav-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.nav-list-item {
	DISPLAY: block; FLOAT: left
}
.nav-list-item A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.content-nav {
	MARGIN: 10px; TEXT-ALIGN: center
}
.date-header {
	CLEAR: both; POSITION: static
}
.entry-content {
	CLEAR: both; POSITION: static
}
.entry {
	CLEAR: both; MARGIN-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 100%; POSITION: static
}
.trackbacks {
	CLEAR: both; MARGIN-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 100%; POSITION: static
}
.comments {
	CLEAR: both; MARGIN-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 100%; POSITION: static
}
.archive {
	CLEAR: both; MARGIN-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 100%; POSITION: static
}
.entry-content {
	CLEAR: both; MARGIN: 5px 10px
}
.trackbacks-info {
	CLEAR: both; MARGIN: 5px 10px
}
.trackback-content {
	CLEAR: both; MARGIN: 5px 10px
}
.comments-info {
	CLEAR: both; MARGIN: 5px 10px
}
.comments-open-content {
	CLEAR: both; MARGIN: 5px 10px
}
.comments-closed {
	CLEAR: both; MARGIN: 5px 10px
}
.comment-data .comment-content {
	CLEAR: right; FLOAT: left; MARGIN: 0px
}
.comment-inline-edit {
	MARGIN-TOP: 10px
}
.comment-inline-preview {
	MARGIN-TOP: 10px
}
.comment-number {
	DISPLAY: inline; FLOAT: left; MARGIN-RIGHT: 8px
}
.comment-header .comment-header-right {
	CLEAR: none; MARGIN: 0px
}
.comment-header .comment-header-left {
	FLOAT: left
}
.comment-avatar {
	FLOAT: left
}
.comment-data {
	MARGIN-LEFT: 60px
}
.trackbacks-info P {
	MARGIN-TOP: 5px
}
.comments-info P {
	MARGIN-TOP: 5px
}
.trackbacks-link {
	FONT-SIZE: 0.8em
}
.entry-excerpt {
	CLEAR: both
}
.entry-body {
	CLEAR: both
}
.entry-more-link {
	CLEAR: both
}
.entry-more {
	CLEAR: both
}
.entry-footer {
	CLEAR: both; MARGIN: 5px 10px 20px
}
.trackback-footer {
	CLEAR: both; MARGIN: 5px 10px 20px
}
.comments-open-footer {
	CLEAR: both; MARGIN: 5px 10px 20px
}
.archive-content {
	CLEAR: both; MARGIN: 5px 10px 20px
}
.entry-footer P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 2px
}
.comments-open LABEL {
	DISPLAY: block
}
#comment-author {
	WIDTH: 240px
}
#comment-email {
	WIDTH: 240px
}
#comment-url {
	WIDTH: 240px
}
#comment-text {
	WIDTH: 240px
}
#comment-text {
	MARGIN-BOTTOM: 3px
}
#comment-bake-cookie {
	MARGIN-LEFT: 0px; VERTICAL-ALIGN: middle
}
#comment-post {
	FONT-WEIGHT: bold
}
IMG.image-full {
	WIDTH: 100%
}
.image-thumbnail {
	FLOAT: left; MARGIN: 0px 10px 10px 0px; WIDTH: 115px
}
.image-thumbnail IMG {
	MARGIN: 0px 0px 2px; WIDTH: 115px; HEIGHT: 115px
}
.module {
	OVERFLOW: hidden; WIDTH: 100%; POSITION: relative
}
.module-content {
	MARGIN: 5px 10px 20px; POSITION: relative
}
.module-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.archive-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.module-list-item {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
.archive-list-item {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
.module-more {
	TEXT-ALIGN: right
}
.module-elsewhere .module-list IMG {
	VERTICAL-ALIGN: middle
}
.archive-elsewhere .archive-list IMG {
	VERTICAL-ALIGN: middle
}
.module-presence IMG {
	VERTICAL-ALIGN: middle
}
.module-powered .module-content {
	MARGIN-BOTTOM: 10px
}
.module-photo .module-content {
	TEXT-ALIGN: center
}
.module-wishlist .module-content {
	TEXT-ALIGN: center
}
.module-calendar .module-content TABLE {
	WIDTH: 100%; BORDER-COLLAPSE: collapse
}
.module-calendar .module-content TH {
	WIDTH: 14%; TEXT-ALIGN: center
}
.module-calendar .module-content TD {
	WIDTH: 14%; TEXT-ALIGN: center
}
.module-category-cloud .module-list {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
.module-category-cloud .module-list-item {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px
}
.module-category-cloud .cloud-weight-1 {
	FONT-SIZE: 0.9em
}
.module-category-cloud .cloud-weight-2 {
	FONT-SIZE: 0.95em
}
.module-category-cloud .cloud-weight-3 {
	FONT-SIZE: 1em
}
.module-category-cloud .cloud-weight-4 {
	FONT-SIZE: 1.12em
}
.module-category-cloud .cloud-weight-5 {
	FONT-SIZE: 1.25em
}
.module-category-cloud .cloud-weight-6 {
	FONT-SIZE: 1.37em
}
.module-category-cloud .cloud-weight-7 {
	FONT-SIZE: 1.5em
}
.module-category-cloud .cloud-weight-8 {
	FONT-SIZE: 1.62em
}
.module-category-cloud .cloud-weight-9 {
	FONT-SIZE: 1.75em
}
.module-category-cloud .cloud-weight-10 {
	FONT-SIZE: 1.75em
}
.typelist-plain .module-list {
	LIST-STYLE-TYPE: none
}
.typelist-plain .archive-list {
	LIST-STYLE-TYPE: none
}
.typelist-plain .module-list-item {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.typelist-plain .archive-list-item {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.typelist-thumbnailed {
	MARGIN: 0px 0px 20px
}
.typelist-thumbnailed .module-list-item {
	CLEAR: both; DISPLAY: block; MARGIN: 0px
}
.typelist-thumbnailed .module-list-item:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0.1em; VISIBILITY: hidden; LINE-HEIGHT: 0; HEIGHT: 0px; content: " "
}
.typelist-thumbnailed .module-list-item {
	DISPLAY: inline-block
}
 HTML .typelist-thumbnailed .module-list-item {
	HEIGHT: 1%
}
.typelist-thumbnailed .module-list-item {
	DISPLAY: block
}
.typelist-thumbnail {
	FLOAT: left; MARGIN: 0px 5px 0px 0px; VERTICAL-ALIGN: middle; WIDTH: auto; TEXT-ALIGN: center; min-width: 60px
}
.typelist-thumbnail IMG {
	MARGIN: 5px
}
.module-galleries .typelist-thumbnail IMG {
	WIDTH: 50px
}
.typelist-description {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.typelist-no-description {
	MARGIN: 10px 0px; TEXT-ALIGN: center
}
.module-featured-photo .module-content {
	MARGIN: 0px
}
.module-photo .module-content {
	MARGIN: 0px
}
.module-featured-photo IMG {
	WIDTH: 100%
}
.module-recent-photos {
	MARGIN: 0px 0px 15px
}
.module-recent-photos .module-content {
	MARGIN: 0px
}
.module-recent-photos .module-list {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 1%; BORDER-RIGHT-WIDTH: 0px
}
.module-recent-photos .module-list:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0.1em; VISIBILITY: hidden; LINE-HEIGHT: 0; HEIGHT: 0px; content: " "
}
.module-recent-photos .module-list {
	DISPLAY: inline-block
}
 HTML .module-recent-photos .module-list {
	HEIGHT: 1%
}
.module-recent-photos .module-list {
	DISPLAY: block
}
.module-recent-photos .module-list-item {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 1%; BORDER-RIGHT-WIDTH: 0px
}
.module-recent-photos .module-list-item A {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.module-recent-photos .module-list-item IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 60px; PADDING-TOP: 0px; HEIGHT: 60px
}
.module-mmt-calendar {
	MARGIN-BOTTOM: 15px
}
.module-mmt-calendar .module-content {
	MARGIN: 0px
}
.module-mmt-calendar .module-header {
	MARGIN: 0px
}
.module-mmt-calendar .module-header A {
	TEXT-DECORATION: none
}
.module-mmt-calendar TABLE {
	WIDTH: 100%
}
.module-mmt-calendar TH {
	TEXT-ALIGN: left
}
.module-mmt-calendar TD {
	VERTICAL-ALIGN: top; WIDTH: 14%; HEIGHT: 75px; TEXT-ALIGN: left
}
.day-photo {
	WIDTH: 54px; HEIGHT: 54px
}
.day-photo A {
	DISPLAY: block
}
.day-photo A IMG {
	WIDTH: 50px; HEIGHT: 50px
}
.comments-open {
	MARGIN-BOTTOM: 25px
}
.comment-form .grayText {
	COLOR: #999
}
.comment-form .comments-open-subtext {
	FONT-SIZE: 11px; MARGIN: 2px 0px 20px
}
.comment-form .errorBG {
	BACKGROUND-COLOR: #ffebe3
}
.comment-form .comment-error {
	FONT-SIZE: 0.9em; MARGIN: 2px 0px 16px 3px
}
.comment-form .comment-error {
	FONT-SIZE: 0.9em; MARGIN: 2px 0px 16px 3px
}
.comment-form .comment-error {
	FONT-SIZE: 0.9em; MARGIN: 2px 0px 16px 3px
}
.comment-form .active-error {
	DISPLAY: block
}
.yellowBox {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: 1px solid; PADDING-LEFT: 8px; BACKGROUND: url(../../images/atpcomment-gradient.png) #ffffe6 repeat-x left top; PADDING-BOTTOM: 8px; MARGIN: 10px 0px 50px; BORDER-LEFT: 1px solid; COLOR: #000; PADDING-TOP: 8px; BORDER-BOTTOM: 1px solid
}
.yellowGreenBox {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: 1px solid; PADDING-LEFT: 8px; BACKGROUND: url(../../images/atpcomment-gradient.png) #ffffe6 repeat-x left top; PADDING-BOTTOM: 8px; MARGIN: 10px 0px 50px; BORDER-LEFT: 1px solid; COLOR: #000; PADDING-TOP: 8px; BORDER-BOTTOM: 1px solid
}
.redBox {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: 1px solid; PADDING-LEFT: 8px; BACKGROUND: url(../../images/atpcomment-gradient.png) #ffffe6 repeat-x left top; PADDING-BOTTOM: 8px; MARGIN: 10px 0px 50px; BORDER-LEFT: 1px solid; COLOR: #000; PADDING-TOP: 8px; BORDER-BOTTOM: 1px solid
}
.lessBoxMargin {
	MARGIN: 20px 0px 25px
}
.commentCompleteMargin {
	MARGIN: 25px 0px 20px
}
.yellowBox P {
	MARGIN-TOP: 0px; COLOR: #000
}
.yellowGreenBox P {
	MARGIN-TOP: 0px; COLOR: #000
}
.redBox P {
	MARGIN-TOP: 0px; COLOR: #000
}
.hiddenBox {
	DISPLAY: none
}
.visibilityHiddenBox {
	VISIBILITY: hidden
}
.comments-open LABEL.hiddenBox {
	DISPLAY: none
}
.yellowBox {
	BORDER-RIGHT: #ffbb33 1px solid; BORDER-TOP: #ffbb33 1px solid; BORDER-LEFT: #ffbb33 1px solid; BORDER-BOTTOM: #ffbb33 1px solid
}
.yellowGreenBox {
	BORDER-RIGHT: #669900 1px solid; BORDER-TOP: #669900 1px solid; BORDER-LEFT: #669900 1px solid; BORDER-BOTTOM: #669900 1px solid
}
.redBox {
	BORDER-RIGHT: #cc2200 1px solid; BORDER-TOP: #cc2200 1px solid; BORDER-LEFT: #cc2200 1px solid; BORDER-BOTTOM: #cc2200 1px solid
}
.captchaErrorText {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; BACKGROUND: url(../../images/atpcomment-error-icon.png) no-repeat left top
}
.comment-inline-edit {
	MARGIN-BOTTOM: 8px
}
.comment-inline-edit TEXTAREA {
	MARGIN-BOTTOM: 8px
}
.comment-inline-preview {
	MARGIN-BOTTOM: 8px
}
.comment-inline-preview P {
	MARGIN-BOTTOM: 8px
}
.comment-inline-preview-buttons {
	MARGIN-TOP: 8px
}
.comment-preview {
	MARGIN-TOP: 20px
}
.comment-preview-content {
	CLEAR: right; MARGIN-TOP: 8px; FLOAT: left
}
.comment-data .comment-footer {
	CLEAR: both; MARGIN-BOTTOM: 30px
}
.comment-footer .command-edit-comment {
	FONT-WEIGHT: bold
}
.comment-footer .command-delete-comment {
	FONT-WEIGHT: bold
}
.comment-footer .comment-footerlinks {
	FLOAT: left
}
.comment-footer .comment-datetime {
	CLEAR: right; FLOAT: right
}
.comment-reply {
	MARGIN-LEFT: 60px
}
.comment {
	PADDING-TOP: 15px
}
#comment-avatar-flyout {
	Z-INDEX: 1; POSITION: absolute
}
#comment-avatar-flyout-inner {
	PADDING-RIGHT: 40px; PADDING-LEFT: 10px; PADDING-BOTTOM: 40px; PADDING-TOP: 40px
}
#avatar-flyout-content {
	BORDER-RIGHT: 2px solid; PADDING-RIGHT: 8px; BORDER-TOP: 2px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: 2px solid; WIDTH: 300px; PADDING-TOP: 8px; BORDER-BOTTOM: 2px solid; BACKGROUND-COLOR: #fff
}
#avatar-flyout-name {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left
}
#avatar-flyout-content .profileLink {
	FONT-WEIGHT: bold; FLOAT: right
}
#comment-avatar-flyout .clearBoth {
	CLEAR: both
}
#avatar-flyout-content #avatar-flyout-location {
	MARGIN: 5px 0px
}
#avatar-flyout-content .profileWebsite {
	MARGIN: 5px 0px
}
#avatar-flyout-counts .activityTitle {
	FONT-WEIGHT: bold; MARGIN: 5px 0px 8px
}
#avatar-flyout-counts .subTitle {
	FLOAT: left; WIDTH: 100px
}
#avatar-flyout-counts #avatar-flyout-thisblog {
	FLOAT: left
}
#avatar-flyout-counts #avatar-flyout-overall {
	FLOAT: left
}
