BODY {
	FONT-SIZE: 12px; FONT-FAMILY: 'trebuchet ms', helvetica, arial, sans-serif
}
A {
	COLOR: #393; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #666
}
A:hover {
	COLOR: #f93
}
#banner A {
	FONT-WEIGHT: bold; COLOR: #fff; TEXT-DECORATION: none
}
#banner A:visited {
	COLOR: #fff
}
#banner A:hover {
	COLOR: #f93
}
.module-content A {
	FONT-WEIGHT: bold; COLOR: #39c
}
.module-content A:visited {
	COLOR: #369
}
.module-content A:hover {
	COLOR: #f93
}
.entry-header A {
	COLOR: #f93; TEXT-DECORATION: none
}
.entry-header A:visited {
	COLOR: #f93
}
.entry-header A:hover {
	COLOR: #f93
}
H1 {
	FONT-FAMILY: 'trebuchet ms', helvetica, arial, sans-serif
}
H2 {
	FONT-FAMILY: 'trebuchet ms', helvetica, arial, sans-serif
}
H3 {
	FONT-FAMILY: 'trebuchet ms', helvetica, arial, sans-serif
}
H4 {
	FONT-FAMILY: 'trebuchet ms', helvetica, arial, sans-serif
}
H5 {
	FONT-FAMILY: 'trebuchet ms', helvetica, arial, sans-serif
}
H6 {
	FONT-FAMILY: 'trebuchet ms', helvetica, arial, sans-serif
}
.module-header {
	PADDING-RIGHT: 5px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(theme-bluecrush/colitem-header-bg.gif) #79b5e7 0px 50%; PADDING-BOTTOM: 5px; MARGIN: 1px 0px; WIDTH: auto; COLOR: #fff; LINE-HEIGHT: 1; PADDING-TOP: 5px; POSITION: relative
}
.trackbacks-header {
	PADDING-RIGHT: 5px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(theme-bluecrush/colitem-header-bg.gif) #79b5e7 0px 50%; PADDING-BOTTOM: 5px; MARGIN: 1px 0px; WIDTH: auto; COLOR: #fff; LINE-HEIGHT: 1; PADDING-TOP: 5px; POSITION: relative
}
.comments-header {
	PADDING-RIGHT: 5px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(theme-bluecrush/colitem-header-bg.gif) #79b5e7 0px 50%; PADDING-BOTTOM: 5px; MARGIN: 1px 0px; WIDTH: auto; COLOR: #fff; LINE-HEIGHT: 1; PADDING-TOP: 5px; POSITION: relative
}
.comments-open-header {
	PADDING-RIGHT: 5px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(theme-bluecrush/colitem-header-bg.gif) #79b5e7 0px 50%; PADDING-BOTTOM: 5px; MARGIN: 1px 0px; WIDTH: auto; COLOR: #fff; LINE-HEIGHT: 1; PADDING-TOP: 5px; POSITION: relative
}
.archive-header {
	PADDING-RIGHT: 5px; PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(theme-bluecrush/colitem-header-bg.gif) #79b5e7 0px 50%; PADDING-BOTTOM: 5px; MARGIN: 1px 0px; WIDTH: auto; COLOR: #fff; LINE-HEIGHT: 1; PADDING-TOP: 5px; POSITION: relative
}
.module-header A {
	COLOR: #fff
}
.module-header A:visited {
	COLOR: #fff
}
.trackbacks-header A {
	COLOR: #fff
}
.trackbacks-header A:visited {
	COLOR: #fff
}
.comments-header A {
	COLOR: #fff
}
.comments-header A:visited {
	COLOR: #fff
}
.comments-open-header A {
	COLOR: #fff
}
.comments-open-header A:visited .archive-header A {
	COLOR: #fff
}
.archive-header A:visited {
	COLOR: #fff
}
.module-header A:hover {
	COLOR: #f93
}
.trackbacks-header A:hover {
	COLOR: #f93
}
.comments-header A:hover {
	COLOR: #f93
}
.comments-open-header A:hover .archive-header A:hover {
	COLOR: #f93
}
.entry-more-link {
	FONT-SIZE: 11px
}
.entry-footer {
	FONT-SIZE: 11px
}
.comment-footer {
	FONT-SIZE: 11px
}
.trackback-footer {
	FONT-SIZE: 11px
}
.typelist-thumbnailed {
	FONT-SIZE: 11px
}
.trackbacks-info {
	MARGIN-BOTTOM: 20px
}
.comments-info {
	MARGIN-BOTTOM: 20px
}
BODY {
	BACKGROUND: #94c4ec; COLOR: #666; min-width: 780px
}
#container {
	BACKGROUND: url(theme-bluecrush/container-bg.gif) repeat-y; WIDTH: 780px
}
#container-inner {
	BACKGROUND: url(theme-bluecrush/column-right-bg.gif) repeat-y -500px 0px; MARGIN: 0px 10px; BORDER-BOTTOM: #369 1px solid
}
#banner {
	BACKGROUND: url(theme-bluecrush/banner-bg.gif) #335099 repeat-x; WIDTH: 760px; BORDER-BOTTOM: #369 1px solid
}
#banner-inner {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
.banner-user {
	MARGIN-TOP: 4px; FONT-SIZE: 10px; WIDTH: 70px
}
.banner-user-photo {
	BORDER-RIGHT: #fff 3px solid; BORDER-TOP: #fff 3px solid; BORDER-LEFT: #fff 3px solid; BORDER-BOTTOM: #fff 3px solid
}
#banner-header {
	FONT-WEIGHT: bold; FONT-SIZE: 30px; MARGIN: 0px; COLOR: #fff; LINE-HEIGHT: 1
}
#banner-description {
	FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 1px 0px; COLOR: #fff; LINE-HEIGHT: 1.125
}
#alpha {
	MARGIN: 20px 0px 20px 20px; WIDTH: 260px
}
#beta {
	MARGIN: 20px 0px 0px 40px; WIDTH: 420px
}
#gamma {
	WIDTH: 202px
}
#delta {
	WIDTH: 202px
}
.date-header {
	FONT-SIZE: 14px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; COLOR: #335099
}
.entry-header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px; BORDER-LEFT: #f93 4px solid; COLOR: #f93; PADDING-TOP: 0px
}
.entry-content {
	MARGIN: 0px
}
.entry-footer {
	BORDER-TOP: #d7d7d7 1px solid; FONT-WEIGHT: normal; MARGIN: 0px 0px 20px; COLOR: #393; PADDING-TOP: 2px
}
.content-nav {
	MARGIN-TOP: 0px
}
.content-header {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; MARGIN: 0px 0px 30px; COLOR: #f93
}
#nav {
	BACKGROUND: url(theme-bluecrush/nav.png) #cccccc repeat-x left top
}
.nav-list {
	BORDER-BOTTOM: #bfbebe 1px solid
}
.nav-list-item {
	BORDER-RIGHT: #bfbebe 1px dashed
}
.nav-list-item A {
	PADDING-RIGHT: 11px; PADDING-LEFT: 11px; FONT-SIZE: 11px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.module-calendar .module-content {
	MARGIN: 5px 0px 15px
}
.module-mmt-calendar .module-content TABLE {
	FONT-SIZE: 11px
}
.module-calendar .module-content TABLE {
	FONT-SIZE: 11px
}
.module-mmt-calendar .module-header A {
	COLOR: #f93
}
.module-mmt-calendar .module-header A:visited {
	COLOR: #f93
}
.module-mmt-calendar .module-header A:hover {
	COLOR: #069
}
.module-powered {
	MARGIN: 20px 0px
}
.module-powered .module-content {
	BORDER-RIGHT: #39c 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #39c 1px dashed; PADDING-LEFT: 10px; BACKGROUND: url(theme-bluecrush/powered-bg.gif) #b8d4ec repeat-x; PADDING-BOTTOM: 10px; MARGIN: 0px; BORDER-LEFT: #39c 1px dashed; COLOR: #039; PADDING-TOP: 10px; BORDER-BOTTOM: #39c 1px dashed
}
.module-powered A {
	COLOR: #06c
}
.module-powered A:visited {
	COLOR: #06c
}
.module-powered A:hover {
	COLOR: #f93
}
.module-photo {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.module-photo IMG {
	BORDER-RIGHT: #dce1e4 1px solid; BORDER-TOP: #dce1e4 1px solid; BORDER-LEFT: #dce1e4 1px solid; BORDER-BOTTOM: #dce1e4 1px solid
}
.module-list-item {
	PADDING-LEFT: 12px; BACKGROUND: url(theme-bluecrush/li-bg.gif) no-repeat 0px 0.5em; LINE-HEIGHT: 150%
}
.typelist-thumbnailed .module-list {
	MARGIN: 0px
}
.typelist-thumbnailed .module-list-item {
	BORDER-RIGHT: #d9dee1 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #d9dee1 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(theme-bluecrush/thumbnailed-bg.gif) #d2dfe9 repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1px; BORDER-LEFT: #d9dee1 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #d9dee1 1px solid
}
.typelist-thumbnail {
	BACKGROUND: url(theme-bluecrush/typelist-thumbnail-bg.gif) #baccdb repeat-x
}
.module-featured-photo IMG {
	WIDTH: 414px
}
.module-recent-photos .module-content {
	MARGIN: 6px 0px 0px
}
.module-recent-photos .module-list {
	MARGIN: 0px
}
.module-recent-photos .module-list-item {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px 6px 6px 0px; WIDTH: 64px; PADDING-TOP: 0px
}
.module-recent-photos .module-list-item A {
	BORDER-RIGHT: #39c 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #39c 1px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #39c 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #39c 1px solid
}
.module-recent-photos .module-list-item A:hover {
	BORDER-LEFT-COLOR: #f93; BORDER-BOTTOM-COLOR: #f93; BORDER-TOP-COLOR: #f93; BORDER-RIGHT-COLOR: #f93
}
.layout-calendar #beta {
	OVERFLOW: visible
}
.module-mmt-calendar {
	WIDTH: 420px
}
.module-mmt-calendar .module-header {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; COLOR: #369; PADDING-TOP: 0px; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 0px
}
.module-mmt-calendar TABLE {
	BACKGROUND: #bcc5cc; COLOR: #fff
}
.module-mmt-calendar TH {
	BORDER-RIGHT: #d0d0d0 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.module-mmt-calendar TD {
	BORDER-RIGHT: #d0d0d0 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.module-mmt-calendar .weekday-7 {
	BORDER-RIGHT-STYLE: none
}
TD.day-7 {
	BORDER-RIGHT-STYLE: none
}
TD.day-14 {
	BORDER-RIGHT-STYLE: none
}
TD.day-21 {
	BORDER-RIGHT-STYLE: none
}
TD.day-28 {
	BORDER-RIGHT-STYLE: none
}
TD.day-35 {
	BORDER-RIGHT-STYLE: none
}
TD.day-42 {
	BORDER-RIGHT-STYLE: none
}
.day-photo A {
	BORDER-RIGHT: #39c 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #39c 1px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #39c 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #39c 1px solid
}
.day-photo A:hover {
	BORDER-LEFT-COLOR: #f93; BORDER-BOTTOM-COLOR: #f93; BORDER-TOP-COLOR: #f93; BORDER-RIGHT-COLOR: #f93
}
.layout-moblog1 #container-inner {
	BACKGROUND-POSITION: -220px 0px
}
.layout-moblog1 #pagebody {
	BACKGROUND: url(theme-bluecrush/column-left-bg.gif) repeat-y -580px 0px
}
.layout-moblog1 #alpha {
	WIDTH: 200px
}
.layout-moblog1 #beta {
	MARGIN: 20px 0px 20px 20px; WIDTH: 320px
}
.layout-moblog1 #gamma {
	MARGIN: 20px 0px 20px 40px; WIDTH: 160px
}
.layout-moblog1 .entry {
	MARGIN-BOTTOM: 40px
}
.layout-moblog1 .module-recent-photos .module-content {
	MARGIN: 6px 0px 0px 12px
}
.layout-moblog1 .module-powered .module-content {
	MARGIN-RIGHT: 20px
}
.layout-moblog2 #container-inner {
	BACKGROUND-POSITION: -355px 0px
}
.layout-moblog2 #pagebody {
	BACKGROUND: url(theme-bluecrush/column-left-bg.gif) repeat-y -695px 0px
}
.layout-moblog2 #pagebody-inner {
	BACKGROUND: url(theme-bluecrush/column-right-bg.gif) repeat-y -160px 0px
}
.layout-moblog2 #alpha {
	WIDTH: 65px
}
.layout-moblog2 #beta {
	MARGIN: 0px 0px 0px 40px; WIDTH: 300px
}
.layout-moblog2 #gamma {
	MARGIN: 0px 0px 0px 40px; WIDTH: 175px
}
.layout-moblog2 #delta {
	FLOAT: left; MARGIN: 0px 0px 0px 20px; WIDTH: 100px
}
.layout-moblog2 .module-header {
	MARGIN: 20px 0px 1px
}
.layout-moblog2 .trackbacks-header {
	MARGIN: 20px 0px 1px
}
.layout-moblog2 .comments-header {
	MARGIN: 20px 0px 1px
}
.layout-moblog2 .comments-open-header .layout-moblog2 .archive-header {
	MARGIN: 20px 0px 1px
}
.layout-moblog2 .date-header {
	MARGIN-TOP: 20px
}
.layout-moblog2 .content-nav {
	MARGIN-TOP: 20px
}
.layout-moblog2 .module-photo .module-content {
	MARGIN: 0px
}
.layout-moblog2 .module-photo IMG {
	WIDTH: 80px; HEIGHT: auto
}
.layout-moblog2 .module-recent-photos .module-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.layout-moblog2 .module-recent-photos .module-list {
	MARGIN: 0px
}
.layout-moblog2 .module-recent-photos .module-list-item {
	MARGIN: 0px 0px 5px
}
.layout-moblog2 .module-powered .module-content {
	MARGIN-RIGHT: 20px
}
.layout-timeline #container-inner {
	BACKGROUND-POSITION: -420px 0px
}
.layout-timeline #alpha {
	WIDTH: 340px
}
.layout-timeline #beta {
	WIDTH: 360px
}
.layout-timeline #gamma {
	WIDTH: 170px
}
.layout-timeline #delta {
	WIDTH: 170px
}
.layout-timeline .module-recent-photos .module-content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
.layout-timeline .module-recent-photos .module-list {
	MARGIN: 7px 7px 0px 0px
}
.layout-one-column BODY {
	min-width: 620px
}
.layout-one-column #container {
	BACKGROUND: url(theme-bluecrush/one-column-container-bg.gif) repeat-y; WIDTH: 620px
}
.layout-one-column #container-inner {
	BACKGROUND: url(theme-bluecrush/column-right-bg.gif) repeat-y -500px 0px; MARGIN: 0px 10px; BORDER-BOTTOM: #5b626a 1px solid
}
.layout-one-column #banner {
	WIDTH: 600px
}
.layout-one-column #container-inner {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.layout-one-column #alpha {
	WIDTH: 560px
}
.layout-two-column-left #container-inner {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.layout-two-column-left #pagebody {
	BACKGROUND: url(theme-bluecrush/column-left-bg.gif) repeat-y -580px 0px
}
.layout-two-column-left #alpha {
	WIDTH: 200px
}
.layout-two-column-left #beta {
	MARGIN: 20px 0px 0px 20px; WIDTH: 500px
}
.layout-two-column-left .module-powered .module-content {
	MARGIN-RIGHT: 10px
}
.layout-two-column-right #container-inner {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.layout-two-column-right #pagebody {
	BACKGROUND: url(theme-bluecrush/column-right-bg.gif) repeat-y -260px 0px
}
.layout-two-column-right #container-inner {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.layout-two-column-right #alpha {
	WIDTH: 500px
}
.layout-two-column-right #beta {
	MARGIN: 20px 0px 0px 40px; WIDTH: 200px
}
.layout-two-column-right .module-powered .module-content {
	MARGIN-RIGHT: 10px
}
.layout-three-column #container-inner {
	BACKGROUND-POSITION: -260px 0px
}
.layout-three-column #pagebody {
	BACKGROUND: url(theme-bluecrush/column-left-bg.gif) repeat-y -580px 0px
}
.layout-three-column #alpha {
	WIDTH: 200px
}
.layout-three-column #beta {
	MARGIN: 20px 0px 20px 20px; WIDTH: 280px
}
.layout-three-column #gamma {
	MARGIN: 20px 0px 20px 40px; WIDTH: 200px
}
.layout-three-column .module-powered .module-content {
	MARGIN-RIGHT: 20px
}
.layout-three-column-right #container-inner {
	BACKGROUND-POSITION: -480px 0px
}
.layout-three-column-right #pagebody {
	BACKGROUND: url(theme-bluecrush/column-right-bg.gif) repeat-y -260px 0px
}
.layout-three-column-right #alpha {
	WIDTH: 280px
}
.layout-three-column-right #beta {
	MARGIN: 20px 0px 20px 40px; WIDTH: 200px
}
.layout-three-column-right #gamma {
	MARGIN: 20px 0px 20px 20px; WIDTH: 200px
}
.layout-three-column-right .module-powered .module-content {
	MARGIN-RIGHT: 20px
}
