.ProjectTableBorder {
	BORDER-RIGHT: #dedfef 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dedfef 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 20px; BORDER-LEFT: #dedfef 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #dedfef 1px solid
}
.ProjectTableHeader {
	BORDER-RIGHT: #dedfef 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #dedfef 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(/images/header_row_bkg.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #dedfef 1px solid; COLOR: #00006c; PADDING-TOP: 0px; BORDER-BOTTOM: #dedfef 1px solid; FONT-FAMILY: Verdana; HEIGHT: 17px
}
.ProjectTableCell {
	BORDER-RIGHT: #cccccc 0px solid; BORDER-TOP: #cccccc 0px solid; FONT-SIZE: 8pt; BACKGROUND: #f7f7ff; BORDER-LEFT: #cccccc 0px solid; BORDER-BOTTOM: #cccccc 0px solid; FONT-FAMILY: Verdana
}
.ProjectCodeBorder {
	BORDER-RIGHT: #dedfef 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dedfef 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #dedfef 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #dedfef 1px solid
}
.ProjectCodeHeader {
	BACKGROUND-IMAGE: url(/images/header_row_bkg.jpg); HEIGHT: 17px
}
.ProjectCodeHeaderCopyCode {
	BORDER-RIGHT: #dedfef 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #dedfef 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 7pt; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #dedfef 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #dedfef 1px solid; FONT-FAMILY: Verdana; HEIGHT: 17px; TEXT-ALIGN: center
}
.ProjectCodeHeaderCell {
	BORDER-RIGHT: #dedfef 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #dedfef 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #dedfef 1px solid; COLOR: #00006c; PADDING-TOP: 0px; BORDER-BOTTOM: #dedfef 1px solid; FONT-FAMILY: Verdana; HEIGHT: 17px; TEXT-ALIGN: center
}
.ProjectCodeBlock {
	BORDER-RIGHT: #dedfef 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dedfef 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: #dedfef 1px solid; PADDING-TOP: 11px; BORDER-BOTTOM: #dedfef 1px solid
}
.ProjectCode {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 8pt; BACKGROUND: #eeeeee; PADDING-BOTTOM: 11px; PADDING-TOP: 11px; FONT-FAMILY: Lucida Console, Courier New
}
