BODY {
	SCROLLBAR-FACE-COLOR: #b1bdc2; MARGIN: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #b1bdc2; SCROLLBAR-SHADOW-COLOR: #b1bdc2; SCROLLBAR-3DLIGHT-COLOR: #6c6871; SCROLLBAR-ARROW-COLOR: #ececec; SCROLLBAR-TRACK-COLOR: #ced7de; SCROLLBAR-DARKSHADOW-COLOR: #6c6871; BACKGROUND-COLOR: #c6cfd0
}
P {
	FONT-SIZE: 10pt; FONT-FAMILY: Trebuchet MS, Arial
}
A {
	COLOR: #000000
}
.list-project-title {
	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; PADDING-BOTTOM: 3px; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Trebuchet, Verdana, Arial; LETTER-SPACING: 2px
}
.list-project-version {
	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Trebuchet MS, Trebuchet, Verdana, Arial; LETTER-SPACING: 3px
}
.list-project-description {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-FAMILY: Trebuchet MS, Trebuchet, Verdana, Arial; TEXT-ALIGN: justify
}
.ListTableRow {
	BACKGROUND: #f1f2f6
}
.headerContainer {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.headerContainerRow {
	
}
.headerContainerCell {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; FONT-FAMILY: Trebuchet MS, Arial; BORDER-RIGHT-WIDTH: 0px
}
.headerLinkContainer {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.headerLinkContainerRow {
	
}
.headerLinkContainerCell {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; FONT-FAMILY: Trebuchet MS, Arial; BORDER-RIGHT-WIDTH: 0px
}
.content {
	WIDTH: 100%; BACKGROUND-COLOR: #f1f2f6
}
.printerFriendlyContainer {
	FONT-SIZE: 9pt; MARGIN: 20px; FONT-FAMILY: Trebuchet MS, Arial; TEXT-ALIGN: justify
}
.coverletterTable {
	BORDER-RIGHT: #ffffff 4px solid; BORDER-TOP: #ffffff 4px solid; BACKGROUND: #ffffff; BORDER-LEFT: #ffffff 4px solid; WIDTH: 600px; BORDER-BOTTOM: #ffffff 4px solid
}
.coverletterBody {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; FONT-FAMILY: Trebuchet MS, Arial
}
.sampleTable {
	BORDER-RIGHT: #ffffff 4px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 4px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ffffff 4px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 4px solid
}
.sampleHeader {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; FONT-FAMILY: Trebuchet MS, Arial; BACKGROUND-COLOR: #9589a5
}
.sampleCell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; FONT-FAMILY: Trebuchet MS, Arial
}
.skillTable {
	BORDER-RIGHT: #ffffff 4px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ffffff 4px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 4px solid
}
.skillHeader {
	BORDER-RIGHT: #ffffff 0px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ffffff 4px solid; PADDING-LEFT: 4px; FONT-SIZE: 10pt; BACKGROUND: #9589a5; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #ffffff 0px solid; COLOR: #000000; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 4px solid; FONT-FAMILY: Trebuchet MS, Arial; TEXT-ALIGN: left
}
.skillCell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10pt; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; FONT-FAMILY: Trebuchet MS, Arial
}
.skillRowHighlight {
	BACKGROUND: #d8d8e6
}
.skillRowNormal {
	BACKGROUND: #ffffff
}
.projectTable {
	BORDER-RIGHT: #ffffff 4px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 4px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ffffff 4px solid; WIDTH: 600px; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 4px solid
}
.pf_projectTable {
	BORDER-RIGHT: #ffffff 4px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 4px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #ffffff 4px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 4px solid
}
.projectClass {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; FONT-SIZE: 18pt; PADDING-BOTTOM: 5px; MARGIN: 0px; VERTICAL-ALIGN: middle; COLOR: #000000; PADDING-TOP: 5px; FONT-FAMILY: Trebuchet MS, Arial; BACKGROUND-COLOR: #9589a5
}
.projectRowHighlight {
	BACKGROUND: #ffffff
}
.projectRowNormal {
	BACKGROUND: #d8d8e6
}
.projectLinkContainer {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; VERTICAL-ALIGN: top; PADDING-TOP: 15px; TEXT-ALIGN: center
}
.projectDescriptionContainer {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; VERTICAL-ALIGN: top; PADDING-TOP: 15px; TEXT-ALIGN: left
}
.projectName {
	FONT-WEIGHT: bolder; FONT-SIZE: 16pt; FONT-FAMILY: Trebuchet MS, Arial
}
.projectAttribute {
	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; FONT-FAMILY: Trebuchet MS, Arial
}
.projectAttributeDescription {
	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; COLOR: #483b59; FONT-FAMILY: Trebuchet MS, Arial
}
.projectDescription {
	FONT-SIZE: 8pt; FONT-FAMILY: Trebuchet MS, Arial; TEXT-ALIGN: justify
}
.resumeTable {
	BORDER-RIGHT: #ffffff 4px solid; BORDER-TOP: #ffffff 4px solid; BACKGROUND: #ffffff; BORDER-LEFT: #ffffff 4px solid; WIDTH: 650px; BORDER-BOTTOM: #ffffff 4px solid
}
.pf_resumeTable {
	BORDER-RIGHT: #ffffff 4px solid; BORDER-TOP: #ffffff 4px solid; BACKGROUND: #ffffff; BORDER-LEFT: #ffffff 4px solid; BORDER-BOTTOM: #ffffff 4px solid
}
.resumeDemographics {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; VERTICAL-ALIGN: top; WIDTH: 400px; FONT-FAMILY: Trebuchet MS, Arial
}
.resumeComments {
	FONT-SIZE: 9pt; MARGIN: 20px; FONT-FAMILY: Trebuchet MS, Arial; TEXT-ALIGN: justify
}
.resumeHighlight {
	PADDING-LEFT: 20px; FONT-SIZE: 9pt; FONT-FAMILY: Trebuchet MS, Arial
}
.resumeTraining {
	PADDING-LEFT: 20px; FONT-SIZE: 9pt; FONT-FAMILY: Trebuchet MS, Arial
}
.resumeLanguage {
	PADDING-LEFT: 20px; FONT-SIZE: 9pt; FONT-FAMILY: Trebuchet MS, Arial
}
.resumeEmployerStats {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-STYLE: italic; FONT-FAMILY: Trebuchet MS, Arial; TEXT-ALIGN: justify
}
.resumeEmployerSummary {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 9pt; FONT-FAMILY: Trebuchet MS, Arial; TEXT-ALIGN: justify
}
.resumeEmployerSummaryItem {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; FONT-FAMILY: Trebuchet MS, Arial; TEXT-ALIGN: justify
}
.resumeHeader {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10pt; BACKGROUND: #9589a5; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Trebuchet MS, Arial; TEXT-ALIGN: left
}
