<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  
    <appSettings>
        <add key="Test" value="0" />
    </appSettings>
    <system.web>
      <profile>
        <properties>
          <add name="UserName" type="System.String"/>
          <add name="BrithDate" type="System.String"/>
          <add name="Address" type="System.String"/>
          <add name="City" type="System.String"/>
          <add name="Country" type="System.String"/>
          <add name="PostalCode" type="System.String"/>
          <add name="WebSite" type="System.String"/>
          <add name="ICQ" type="System.String"/>
          <add name="YahooID" type="System.String"/>
          <add name="MSNID" type="System.String"/>
          <add name="PhoneNumber" type="System.String"/>
          <add name="Mobile" type="System.String"/>
        </properties>
      </profile> 
        <customErrors defaultRedirect="~/BUG.htm" />
        <trace localOnly="false" pageOutput="true" requestLimit="50" />
        <authorization>
            <allow roles="مستخدمي الفريق العربي" />
        </authorization>
        <roleManager enabled="true" />
        <authentication mode="Forms" />
    </system.web>

    <system.net>
        <mailSettings>
            <smtp from="www.ItIsMe.com">
                <network host="mail.vc4arab.com" password="____________" userName="ahmed.essam" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>