.standard_floating_div {
	MARGIN-TOP: 5px; FLOAT: left; WIDTH: 90%
}
BODY {
	FONT-SIZE: 13px; COLOR: #333333; FONT-FAMILY: "Trebuchet MS", "Luxi Sans",Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT: 1em "Trebuchet MS",  "Luxi Sans", Verdana,Helvetica, Arial, sans-serif
}
SELECT {
	FONT: 1em "Trebuchet MS",  "Luxi Sans", Verdana,Helvetica, Arial, sans-serif
}
INPUT {
	FONT: 1em "Trebuchet MS",  "Luxi Sans", Verdana,Helvetica, Arial, sans-serif
}
SELECT {
	FONT: 1em "Trebuchet MS",  "Luxi Sans", Verdana,Helvetica, Arial, sans-serif
}
.hidden {
	LEFT: 0px; OVERFLOW: hidden; WIDTH: 1px; POSITION: absolute; TOP: -500px; HEIGHT: 1px
}
A {
	COLOR: #2a54aa; outline: none
}
A:link {
	COLOR: #2a54aa; outline: none
}
A:visited {
	COLOR: #22468c
}
A:hover {
	COLOR: #3060c1
}
A:hover {
	COLOR: #3060c1
}
A:active {
	COLOR: #ff9933
}
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px; PADDING-TOP: 6px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.clearme:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.right {
	TEXT-ALIGN: right
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.3em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #111111; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px; TEXT-ALIGN: left
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 20px; PADDING-BOTTOM: 0px; MARGIN: 6px 0px 0px; COLOR: #222222; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; COLOR: #333333; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 16px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px 10px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: baseline; BORDER-LEFT: #333333 1px solid; COLOR: #666666; PADDING-TOP: 1px; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #f9f9f9
}
TEXTAREA {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: baseline; BORDER-LEFT: #333333 1px solid; COLOR: #666666; PADDING-TOP: 1px; BORDER-BOTTOM: #333333 1px solid; BACKGROUND-COLOR: #f9f9f9
}
UNKNOWN {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important; BORDER-RIGHT-WIDTH: 0px! important
}
.check {
	BORDER-TOP-WIDTH: 0px! important; PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important; BORDER-RIGHT-WIDTH: 0px! important
}
INPUT:unknown {
	BORDER-RIGHT: #2a54aa 1px solid; BORDER-TOP: #2a54aa 1px solid; BORDER-LEFT: #2a54aa 1px solid; COLOR: #333333; BORDER-BOTTOM: #2a54aa 1px solid; BACKGROUND-COLOR: #fefefe
}
TEXTAREA:unknown {
	BORDER-RIGHT: #2a54aa 1px solid; BORDER-TOP: #2a54aa 1px solid; BORDER-LEFT: #2a54aa 1px solid; COLOR: #333333; BORDER-BOTTOM: #2a54aa 1px solid; BACKGROUND-COLOR: #fefefe
}
INPUT.button {
	BORDER-RIGHT: #22468c 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #22468c 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/img/bg_button.png); PADDING-BOTTOM: 0px; BORDER-LEFT: #22468c 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #22468c 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #4070cf; TEXT-DECORATION: none
}
.button {
	BORDER-RIGHT: #22468c 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #22468c 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/img/bg_button.png); PADDING-BOTTOM: 0px; BORDER-LEFT: #22468c 1px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #22468c 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #4070cf; TEXT-DECORATION: none
}
.themeaction {
	FLOAT: left; MARGIN: 4px 0px; WIDTH: 100%
}
.button2 {
	BORDER-RIGHT: #22468c 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #22468c 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/img/bg_button.png); PADDING-BOTTOM: 2px; BORDER-LEFT: #22468c 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #22468c 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #4070cf; TEXT-DECORATION: none; link: #FFFFFF
}
.button2_selected {
	BORDER-RIGHT: #22468c 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #22468c 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/img/bg_button.png); PADDING-BOTTOM: 2px; BORDER-LEFT: #22468c 1px solid; COLOR: #ffc56c; PADDING-TOP: 2px; BORDER-BOTTOM: #22468c 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #4070cf; TEXT-DECORATION: none; link: #FFC56C
}
LABEL {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 140px; PADDING-TOP: 4px; BACKGROUND-COLOR: #f9f9f9
}
FORM P {
	CLEAR: left
}
FIELDSET {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
LEGEND {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.inputgroup {
	MARGIN-LEFT: 155px
}
#container {
	MARGIN: 0px auto; WIDTH: 780px; BACKGROUND-COLOR: #ffffff
}
UNKNOWN {
	WIDTH: 800px
}
#main {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 540px; MARGIN-RIGHT: 10px
}
.fullcontent {
	CLEAR: both; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(/img/bg_fullwidth.png); PADDING-BOTTOM: 10px; MARGIN: 10px 0px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#sidebar {
	MARGIN-TOP: 10px; FLOAT: right; WIDTH: 230px
}
#footer {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/img/bg_footer.png); PADDING-BOTTOM: 0px; WIDTH: 100%; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: center
}
#info {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; COLOR: #666666; LINE-HEIGHT: 1.2em; PADDING-TOP: 10px
}
#header #logo {
	FLOAT: left; WIDTH: 230px
}
#header H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#header H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #3060c1; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#header H1 A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(/img/gr_logo_scratchr.png?v=2); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 230px; TEXT-INDENT: -9999px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 60px
}
#userbar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 15px; FLOAT: left; BACKGROUND-IMAGE: url(/img/bg_userbar.png); PADDING-BOTTOM: 0px; MARGIN: 0px 10px; WIDTH: 280px; LINE-HEIGHT: 40px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 40px
}
#userbar A {
	FONT-WEIGHT: bold
}
#searchbar {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; BACKGROUND-IMAGE: url(../img/bg_searchbar.png); PADDING-BOTTOM: 0px; WIDTH: 210px; LINE-HEIGHT: 40px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 40px
}
#searchbar INPUT {
	max-width: 124px
}
#logincontainer {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(/img/bg_footer.png); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 5px; WIDTH: 770px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; TEXT-ALIGN: center
}
#notificationcontainer {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(/img/bg_footer.png); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 5px; WIDTH: 770px; PADDING-TOP: 15px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; TEXT-ALIGN: center
}
#announcement {
	PADDING-RIGHT: 5px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 5px; FLOAT: left; BACKGROUND-IMAGE: url(/img/bg_footer.png); MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 5px; WIDTH: 770px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; TEXT-ALIGN: center
}
#nav {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: right; BACKGROUND-IMAGE: url(/img/bg_nav.png); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; WIDTH: 530px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #3060c1
}
#nav LI {
	FLOAT: left; LIST-STYLE-TYPE: none
}
#nav A {
	BORDER-RIGHT: #22468c 1px solid; PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 2px; COLOR: #e7ebf7; LINE-HEIGHT: 26px; PADDING-TOP: 2px; TEXT-DECORATION: none
}
#nav A:hover {
	COLOR: white
}
#nav #langselect {
	MARGIN-TOP: 2px; FLOAT: right
}
#nav SELECT {
	FONT-SIZE: 12px
}
#nav #active A {
	COLOR: #ffc56c
}
.flag_comment {
	FONT-SIZE: 10px; COLOR: #9ca2a5
}
.flag_comment A {
	FONT-SIZE: 10px; COLOR: #9ca2a5
}
.flag_comment A:visited {
	FONT-SIZE: 10px; COLOR: #9ca2a5
}
.container {
	CLEAR: both; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MIN-HEIGHT: 80px; BACKGROUND-IMAGE: url(/img/bg_container.png); MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; OVERFLOW: auto; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; POSITION: relative
}
.mystuff_container {
	FLOAT: left; BACKGROUND-IMAGE: url(/img/bg_container.png); MARGIN-BOTTOM: 10px; WIDTH: 100%; BACKGROUND-REPEAT: no-repeat
}
.mystuff_project_action {
	FLOAT: left; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 10px; WIDTH: 85%
}
.mystuff_header {
	MARGIN-TOP: 2px; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 85%
}
.more {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: right
}
.more A {
	PADDING-RIGHT: 18px; BACKGROUND-POSITION: right 50%; BACKGROUND-IMAGE: url(/img/bullet_more.gif); BACKGROUND-REPEAT: no-repeat
}
.container .more {
	RIGHT: 10px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; POSITION: absolute; TOP: 5px
}
.thumb {
	CLEAR: none; BACKGROUND-POSITION: 50% bottom; FONT-SIZE: 11px; FLOAT: left; BACKGROUND-IMAGE: url(../img/bg_thumb.png); MARGIN: 5px 9px 10px 10px; WIDTH: 150px; LINE-HEIGHT: 1em; BACKGROUND-REPEAT: no-repeat
}
.mystuff_thumb {
	PADDING-RIGHT: 3px; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 3px; FONT-SIZE: 11px; FLOAT: left; BACKGROUND-IMAGE: url(../img/bg_thumb.png); PADDING-BOTTOM: 0px; MARGIN: 3px 9px 3px 7px; WIDTH: 150px; LINE-HEIGHT: 1em; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
.mystuff_thumb IMG {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.mystuff_content {
	FLOAT: left; WIDTH: 100%
}
.mystuff_projects {
	FLOAT: left; WIDTH: 100%
}
.thumb IMG {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.thumb P {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 0px
}
.thumb H6 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 0px
}
.sidecontainer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MIN-HEIGHT: 80px; BACKGROUND-IMAGE: url(/img/bg_sidecontainer.png); PADDING-BOTTOM: 10px; OVERFLOW: auto; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.highlight {
	BACKGROUND-IMAGE: url(/img/bg_highlight.png)! important
}
#download {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/img/bg_downlaod.png); MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 1.2em; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 90px; TEXT-ALIGN: right
}
#download H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #ff8c00; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#download IMG {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.sidelist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.sidelist LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 2px; LIST-STYLE-TYPE: none
}
.sidelist A {
	FONT-WEIGHT: bold; COLOR: #333333
}
.gallerylist A:visited {
	FONT-WEIGHT: bold; COLOR: #333333
}
.sidelist A:hover {
	COLOR: #ff8c00
}
.sidelist IMG {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #333333 1px solid; MARGIN-RIGHT: 4px; BORDER-BOTTOM: #333333 1px solid
}
#club IMG {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FLOAT: left; BORDER-LEFT: #333333 1px solid; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #333333 1px solid
}
.tags A {
	COLOR: #666666; TEXT-DECORATION: none
}
.tags A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
.tags A:hover {
	COLOR: #ff8c00
}
#taglist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#taglist A:hover {
	COLOR: #ff8c00
}
#intro {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(/img/bg_intro.png); MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 110px
}
.step {
	FONT-WEIGHT: bold; FLOAT: left; MARGIN: 10px 12px; WIDTH: 150px; COLOR: white; LINE-HEIGHT: 1.1em; POSITION: relative; HEIGHT: 90px; TEXT-ALIGN: center
}
.step IMG {
	MARGIN: 4px 6px
}
.step P {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; LEFT: 2px; PADDING-BOTTOM: 5px; WIDTH: 144px; BOTTOM: 0px; PADDING-TOP: 5px; POSITION: absolute
}
.stepimg {
	DISPLAY: inline; FLOAT: left
}
#project IMG {
	DISPLAY: block; MARGIN: 0px auto
}
#project APPLET {
	DISPLAY: block; MARGIN: 0px auto
}
#project OBJECT {
	DISPLAY: block; MARGIN: 0px auto
}
#project EMBED {
	DISPLAY: block; MARGIN: 0px auto
}
#notes {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MIN-HEIGHT: 80px; BACKGROUND-IMAGE: url(/img/bg_notes.png); PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 210px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
#notes:hover {
	OVERFLOW: auto
}
#notes H3 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(/img/ic_notes.gif); LINE-HEIGHT: 28px; BACKGROUND-REPEAT: no-repeat
}
#notes P {
	MARGIN: 0px 10px
}
#projectinfo {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MIN-HEIGHT: 90px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
#projectinfo H3 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(/img/ic_info.png); LINE-HEIGHT: 28px; BACKGROUND-REPEAT: no-repeat
}
#projectinfo H6 {
	FONT-WEIGHT: normal; MARGIN: -5px 0px 5px
}
#projectinfo IMG {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; MARGIN-LEFT: 5px; VERTICAL-ALIGN: middle; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.love {
	PADDING-LEFT: 28px; BACKGROUND-IMAGE: url(/img/ic_love.png); BACKGROUND-REPEAT: no-repeat
}
.loveyes {
	PADDING-LEFT: 28px; BACKGROUND-IMAGE: url(/img/ic_loveyes.png); BACKGROUND-REPEAT: no-repeat
}
#comments {
	CLEAR: both; WIDTH: 520px
}
#comments H3 {
	PADDING-LEFT: 30px; BACKGROUND-IMAGE: url(/img/ic_comments.gif); LINE-HEIGHT: 28px; BACKGROUND-REPEAT: no-repeat
}
#comments H3 A {
	DISPLAY: inline-block; PADDING-LEFT: 12px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 28px
}
.comment {
	PADDING-RIGHT: 5px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 95%; PADDING-TOP: 5px; BORDER-BOTTOM: #fff 1px solid
}
.comment:hover {
	OVERFLOW: auto
}
.comment H5 IMG {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; VERTICAL-ALIGN: middle; BORDER-LEFT: #666666 1px solid; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #666666 1px solid
}
.comment H5 A {
	COLOR: #333333
}
.comment H5 A:hover {
	COLOR: #ff8c00
}
#projectdown H3 {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 1em; LETTER-SPACING: -1px
}
#projectdown IMG {
	FLOAT: right; MARGIN: 0px 0px 0px 5px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.projectlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.projectlist LI {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.projectlist IMG {
	CLEAR: left; BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FLOAT: left; MARGIN-BOTTOM: 5px; BORDER-LEFT: #666666 1px solid; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #666666 1px solid
}
.projectlist A {
	FONT-WEIGHT: bold; COLOR: #333333
}
.projectlist A:visited {
	COLOR: #4a4a4a
}
.projectlist A:hover {
	COLOR: #ff8c00
}
#licenseDiv A {
	
}
A:link {
	
}
#licenseDiv A:hover {
	COLOR: #2a54aa
}
A:hover {
	COLOR: #2a54aa
}
#flagDiv A {
	COLOR: #2a54aa
}
A:link {
	COLOR: #2a54aa
}
#flagDiv A:hover {
	COLOR: #2a54aa
}
A:hover {
	COLOR: #2a54aa
}
#gallerylistDiv {
	CLEAR: both
}
#morenotes {
	CLEAR: right
}
#moreproj {
	CLEAR: right
}
#licenseDiv {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#licenseDiv IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
#whowhen {
	FLOAT: left
}
#creation {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; WIDTH: 500px; PADDING-TOP: 0px
}
#pactivity {
	CLEAR: both; WIDTH: 480px; PADDING-TOP: 10px
}
#pactions {
	CLEAR: both; WIDTH: 480px; PADDING-TOP: 10px
}
#loveitDiv {
	FLOAT: left; VERTICAL-ALIGN: middle
}
#favoriteDiv {
	PADDING-LEFT: 40px; FLOAT: left
}
#flagDiv {
	PADDING-LEFT: 40px; FLOAT: right; TEXT-ALIGN: right
}
.projectsharesub {
	BORDER-TOP: 1px solid
}
#share A {
	TEXT-DECORATION: none
}
#share A:hover {
	BORDER-TOP: 1px solid; COLOR: #0000ff; BORDER-BOTTOM: 1px solid
}
#userside {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 230px; MARGIN-RIGHT: 10px
}
#usermain {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 540px
}
#user H3 {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 1em
}
#user IMG {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FLOAT: right; MARGIN: 0px 0px 0px 5px; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
.howto {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MIN-HEIGHT: 120px; FLOAT: left; BACKGROUND-IMAGE: url(/img/bg_howto.png); PADDING-BOTTOM: 5px; MARGIN: 10px 0px 10px 10px; WIDTH: 232px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.howto IMG {
	DISPLAY: block; MARGIN: 0px auto
}
.howfirst {
	CLEAR: left; MARGIN-LEFT: 2px! important
}
HR {
	CLEAR: both; COLOR: white; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
.twocolum {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MIN-HEIGHT: 120px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 10px 0px 10px 10px; WIDTH: 333px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.twocolum IMG {
	DISPLAY: block; MARGIN: 0px auto
}
.twocolumfirst {
	CLEAR: left; MARGIN-LEFT: 2px! important
}
HR {
	CLEAR: both; COLOR: white; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 1px; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
.fullwidth {
	PADDING-RIGHT: 30px! important; PADDING-LEFT: 30px! important; BACKGROUND-IMAGE: url(/img/bg_fullwidth.png); PADDING-BOTTOM: 20px! important; WIDTH: 730px! important; PADDING-TOP: 20px! important; BACKGROUND-REPEAT: no-repeat
}
#signupform {
	FLOAT: right
}
#loginform {
	FLOAT: left
}
#loginform P.right {
	min-width: 300px
}
#signupform P.right {
	min-width: 320px
}
.gallerythumb {
	CLEAR: both; PADDING-RIGHT: 10px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px; PADDING-TOP: 10px; BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-COLOR: #fcfcfc
}
.gallerythumb IMG {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FLOAT: left; BORDER-LEFT: #666666 1px solid; MARGIN-RIGHT: 10px; BORDER-BOTTOM: #666666 1px solid
}
.gallerythumb P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 158px; PADDING-TOP: 0px
}
.prevlink {
	BACKGROUND-POSITION: left bottom; PADDING-LEFT: 12px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/img/bg_prev.png); COLOR: #333333; MARGIN-RIGHT: 12px; BACKGROUND-REPEAT: no-repeat
}
.nextlink {
	PADDING-RIGHT: 12px; BACKGROUND-POSITION: right bottom; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(/img/bg_next.png); MARGIN-LEFT: 12px; COLOR: #333333; BACKGROUND-REPEAT: no-repeat
}
#downform LABEL {
	DISPLAY: inline; MARGIN-LEFT: 40px; WIDTH: 200px
}
#downform .inputgroup {
	MARGIN-LEFT: 280px
}
.twocolumn {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MIN-HEIGHT: 120px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 10px 0px 10px 10px; WIDTH: 340px; PADDING-TOP: 5px
}
.twocolumnfirst {
	CLEAR: left; MARGIN-LEFT: 2px! important
}
.middlestuff {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; MIN-HEIGHT: 120px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 10px 0px 10px 10px; WIDTH: 500px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.browseDiv {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 8px
}
.browseHeader {
	DISPLAY: block; BACKGROUND: #dfdfdf; OVERFLOW: hidden; HEIGHT: 32px
}
.browse {
	DISPLAY: block
}
.browse  {
	DISPLAY: block; FONT-SIZE: 0.01em; BACKGROUND: #dfdfdf; OVERFLOW: hidden; HEIGHT: 1px
}
.browse1 {
	BORDER-RIGHT: #f1f1f1 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #e7e7e7; MARGIN-LEFT: 3px; BORDER-LEFT: #f1f1f1 1px solid; MARGIN-RIGHT: 3px
}
.browse2 {
	BORDER-RIGHT: #fbfbfb 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: #e5e5e5; MARGIN-LEFT: 1px; BORDER-LEFT: #fbfbfb 1px solid; MARGIN-RIGHT: 1px
}
.browse3 {
	BORDER-RIGHT: #e5e5e5 1px solid; MARGIN-LEFT: 1px; BORDER-LEFT: #e5e5e5 1px solid; MARGIN-RIGHT: 1px
}
.browse4 {
	BORDER-RIGHT: #f1f1f1 1px solid; BORDER-LEFT: #f1f1f1 1px solid
}
.browse5 {
	BORDER-RIGHT: #e7e7e7 1px solid; BORDER-LEFT: #e7e7e7 1px solid
}
.browsefg {
	BACKGROUND: #dfdfdf
}
.message {
	BORDER-RIGHT: #c9b484 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #c9b484 0px solid; PADDING-LEFT: 12px; FONT-SIZE: 14px; PADDING-BOTTOM: 12px; BORDER-LEFT: #c9b484 1px solid; WIDTH: 300px; COLOR: #000; PADDING-TOP: 12px; BORDER-BOTTOM: #c9b484 1px solid; BACKGROUND-COLOR: #fff9d9; TEXT-ALIGN: center
}
#noticeMessage {
	BACKGROUND-COLOR: #fff9d9
}
#errorMessage {
	BACKGROUND-COLOR: red
}
.admin_leftcolumn {
	FONT-SIZE: 14px; FLOAT: left; WIDTH: 50%
}
.admin_rightcolumn {
	FONT-SIZE: 14px; FLOAT: left; WIDTH: 50%
}
.admin_details_navigation {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 1%; MARGIN-RIGHT: 1%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.admin_details_navigation_user {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN-LEFT: 4%; MARGIN-RIGHT: 4%; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.admin_tab {
	DISPLAY: inline; PADDING-LEFT: 5px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/img/bg_fullwidth.png); MARGIN: 0px 0.5em 0px 0px; BACKGROUND-REPEAT: no-repeat
}
.admin_tab_link {
	TEXT-DECORATION: none
}
#admin_info {
	CLEAR: both; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(/img/bg_fullwidth.png); PADDING-BOTTOM: 15px; PADDING-TOP: 15px; BACKGROUND-REPEAT: no-repeat
}
.admin_pagination {
	CLEAR: both; FLOAT: left; WIDTH: 70%
}
.admin_search {
	CLEAR: both; FLOAT: left; TEXT-ALIGN: center
}
.admin_flash {
	FLOAT: left; MARGIN-LEFT: 30%; MARGIN-RIGHT: 30%; TEXT-ALIGN: center; align: center
}
.admin_selected_tab {
	FONT-WEIGHT: bolder
}
.gallery_pagination_container {
	FLOAT: left; WIDTH: 100%
}
.project_pagination_container {
	FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 100%
}
#gallery_comments {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 100%
}
.gallery_content {
	PADDING-RIGHT: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 5px; FLOAT: left; BACKGROUND-IMAGE: url(/img/bg_fullwidth.png); PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat
}
.gallery_content_header {
	CLEAR: both; PADDING-LEFT: 2px; WIDTH: 98%
}
.gallery_permission_option {
	FLOAT: left; MARGIN: 3px
}
#gallery_permission_content {
	FLOAT: left
}
#gallery_permission_predefined {
	PADDING-LEFT: 15px; PADDING-BOTTOM: 5px; WIDTH: 100%; TEXT-ALIGN: center
}
#gallery_permission_advanced {
	DISPLAY: none; FLOAT: left; WIDTH: 100%
}
#gallery_advanced_link {
	FLOAT: left; WIDTH: 100%; TEXT-ALIGN: center
}
#gallery_advanced_show {
	DISPLAY: block; MARGIN: auto; WIDTH: 30%; TEXT-ALIGN: center
}
#gallery_advanced_hide {
	DISPLAY: none; MARGIN: auto; WIDTH: 100%; TEXT-ALIGN: center
}
.gallery_user_list {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 5px; BORDER-LEFT: #e6e6e6 1px solid; WIDTH: 70px; PADDING-TOP: 2px; BORDER-BOTTOM: #e6e6e6 1px solid; TEXT-ALIGN: center
}
.gallery_permissions_search {
	MARGIN-TOP: 15px; FLOAT: left; WIDTH: 30%; HEIGHT: 100px; TEXT-ALIGN: center
}
.gallery_permissions_results {
	MARGIN-TOP: 15px; FLOAT: left; MARGIN-LEFT: 20px; WIDTH: 50%; HEIGHT: 100px; TEXT-ALIGN: center
}
#gallery_menu {
	MARGIN-TOP: 5px; PADDING-LEFT: 2px; FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 100%
}
.bottomcontent {
	CLEAR: both; PADDING-RIGHT: 20px; MARGIN-TOP: 27px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(/img/bg_fullwidth.png); PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat
}
#gallery_view_menu {
	MARGIN-TOP: 7px; PADDING-BOTTOM: 7px
}
#gallery_view_projects {
	PADDING-TOP: 7px
}
.gallery_create_form {
	PADDING-RIGHT: 3px; MARGIN-TOP: 5px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 90%; PADDING-TOP: 3px; TEXT-ALIGN: left
}
.gallery_create_submit {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 90%; TEXT-ALIGN: center
}
.gallery_create_item_left {
	FLOAT: left; WIDTH: 30%; MARGIN-RIGHT: 10px
}
.gallery_create_item_right {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 60%
}
#addbox {
	BORDER-RIGHT: #666 2px solid; PADDING-RIGHT: 10px; DISPLAY: none; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; OVERFLOW: auto; PADDING-TOP: 10px; BORDER-BOTTOM: #666 2px solid; BACKGROUND-COLOR: #ffffff
}
#removebox {
	BORDER-RIGHT: #666 2px solid; PADDING-RIGHT: 10px; DISPLAY: none; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; OVERFLOW: auto; PADDING-TOP: 10px; BORDER-BOTTOM: #666 2px solid; BACKGROUND-COLOR: #ffffff
}
#gallerybox {
	BORDER-RIGHT: #666 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #666 2px solid; MARGIN-TOP: 10px; DISPLAY: none; PADDING-LEFT: 10px; FLOAT: left; OVERFLOW-X: hidden; PADDING-BOTTOM: 10px; OVERFLOW: auto; BORDER-LEFT: #666 2px solid; WIDTH: 480px; PADDING-TOP: 10px; BORDER-BOTTOM: #666 2px solid; HEIGHT: 200px; BACKGROUND-COLOR: #ffffff
}
#addprojectmember {
	FLOAT: left; MARGIN: 4px 0px; WIDTH: 100%
}
#removeprojectmember {
	DISPLAY: none; FLOAT: left; MARGIN: 4px 0px; WIDTH: 100%
}
#overlay {
	BACKGROUND-IMAGE: url(/img/overlay.png)
}
 HTML #overlay {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/img/overlay.png", sizingMethod="scale"); BACKGROUND-IMAGE: url(blank.gif); BACKGROUND-COLOR: transparent
}
.gallery_pagination {
	FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 70%
}
#gallery_projects {
	PADDING-RIGHT: 5%; MARGIN-TOP: 5px; PADDING-LEFT: 5%; FLOAT: left; WIDTH: 90%
}
.gallerypopup {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
.gallery_popup_button {
	CLEAR: both; FLOAT: left; MARGIN: 10px auto auto; WIDTH: 97%; CURSOR: pointer; TEXT-ALIGN: center
}
.gallery_header {
	FLOAT: left; MARGIN-LEFT: 5%; WIDTH: 95%
}
.gallery_centered_button {
	BORDER-RIGHT: #22468c 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #22468c 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(/img/bg_button.png); PADDING-BOTTOM: 2px; MARGIN: auto; BORDER-LEFT: #22468c 1px solid; WIDTH: 20%; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #22468c 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #4070cf; TEXT-ALIGN: center; TEXT-DECORATION: none; link: #FFFFFF
}
#gallery_project_add {
	FLOAT: left
}
.project_connect_header {
	FLOAT: left
}
.project_connect_content {
	MARGIN-TOP: 12px; FLOAT: left; WIDTH: 100%
}
.gallery_connect_item {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; MARGIN-TOP: 6px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 44%; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 20%
}
.gallery_connect_item:hover {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #e6e6e6 1px solid; MARGIN-TOP: 6px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #e6e6e6 1px solid; WIDTH: 44%; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: #e6e6e6 1px solid; HEIGHT: 20%
}
.gallery_addproject_item {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 48%; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 20%
}
.gallery_addproject_item:hover {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #e6e6e6 1px solid; WIDTH: 48%; CURSOR: pointer; PADDING-TOP: 3px; BORDER-BOTTOM: #e6e6e6 1px solid; HEIGHT: 20%
}
.addtogalleryitem {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 2px; BORDER-LEFT: #e6e6e6 1px solid; WIDTH: 23%; PADDING-TOP: 0px; BORDER-BOTTOM: #e6e6e6 1px solid; HEIGHT: 23%; BACKGROUND-COLOR: #fcfcfc; TEXT-ALIGN: center
}
.gallery_connect_img {
	FLOAT: left
}
.gallery_connect_text {
	FLOAT: left; PADDING-TOP: 2px
}
.gallery_addproject_img {
	FLOAT: left; PADDING-TOP: 2px
}
.gallery_addproject_text {
	FLOAT: left
}
.clean_img {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; MARGIN-RIGHT: 37px; BORDER-RIGHT-WIDTH: 0px
}
.radio_button {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
#gallery_advanced_link {
	FLOAT: left; WIDTH: 100%; TEXT-ALIGN: center
}
.project_commands {
	FLOAT: left; MARGIN-RIGHT: 20px
}
#project_admin_top {
	FLOAT: left
}
#project_admin_bottom {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 90%
}
#project_admin_censor {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 90%
}
#project_admin_notsafe {
	MARGIN-TOP: 10px; FLOAT: left; WIDTH: 90%
}
#admin_notes_form {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: 5px
}
.pagination {
	FLOAT: left; MARGIN-BOTTOM: 5px; WIDTH: 100%; TEXT-ALIGN: right
}
.pagination_container {
	FLOAT: left; WIDTH: 96%
}
.pagination_pages {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: left; PADDING-TOP: 2px
}
.pagination_arrrow {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: left; PADDING-TOP: 2px
}
.mystuff_friend_thumb {
	PADDING-RIGHT: 4px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 4px 0px 4px 2px; WIDTH: 12%; PADDING-TOP: 5px; BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-COLOR: #fcfcfc
}
.mystuff_gallery_thumb {
	PADDING-RIGHT: 4px; BORDER-TOP: #e6e6e6 1px solid; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 4px 0px 4px 10px; WIDTH: 20%; PADDING-TOP: 5px; BORDER-BOTTOM: #e6e6e6 1px solid; BACKGROUND-COLOR: #fcfcfc
}
.gallery_name {
	FONT-SIZE: small
}
.gallery_name_italic {
	FONT-SIZE: small; FONT-STYLE: italic
}
.tag_size_1 {
	
}
.tag_size_2 {
	FONT-SIZE: small
}
.tag_size_3 {
	FONT-SIZE: large
}
.tag_size_4 {
	FONT-SIZE: x-large
}
.top_header {
	WIDTH: 100%
}
