.clearme {
	ZOOM: 1
}
.container {
	ZOOM: 1
}
.sidecontainer {
	ZOOM: 1
}
.button {
	OVERFLOW: visible; WIDTH: auto
}
 HTML #searchbar {
	PADDING-BOTTOM: 0px! important; PADDING-TOP: 5px; HEIGHT: 35px
}
.step {
	DISPLAY: inline
}
.thumb {
	DISPLAY: inline
}
 HTML #header {
	LINE-HEIGHT: 1em; MARGIN-RIGHT: -3px
}
