body {background-color:#ffffff; font-family:arial, verdana, sans-serif;}

table#page {position:absolute; left:0px; top:0px;}

.topBar, .footer {background-color:#000000;}

.TM {  color:#FFFFFF; text-align:right; font-family:times, "times new roman", serif; font-weight:bold;}
.footer {color:#ffffff; text-align:center;}

.nav {background-color:#efefef;}
.nav a {text-decoration:none; color:#ee0000; font-weight:bold; font-size:12px;}

.masthead {background-color:#999999;}
