@import url("style.css" );


HTML, BODY {
	margin:	0px;
	background-color:	#ffffff;
}
P,UL,OL,DL,TD,.content {
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000000;
	font-size:	12px;
	line-height:	1.4em;
}
SELECT {
	font: 9px verdana,arial,sans-serif;
}
DT {
	font-weight:	bold;
}
H1 {
	font-family:	tahoma,helvetica,sans-serif;
	font-weight:	bold;
	font-size:	14px;
	line-height:	1.0em;
	color:	#000066;
}
H2 {
	font-family:	tahoma,helvetica,sans-serif;
	font-weight:	bold;
	font-style:	italic;
	font-size:	12px;
	line-height:	1.0em;
	color:	#000066;
}
H3 {
	font-family:	tahoma,helvetica,sans-serif;
	font-weight:	bold;
	font-size:	12px;
	line-height:	1.0em;
	color:	#000066;
}
H4 {
	font-family:	tahoma,helvetica,sans-serif;
	font-style:	italic;
	font-size:	12px;
	line-height:	1.0em;
	color:	#000066;
}
H5 {
	font-family:	tahoma,helvetica,sans-serif;
	font-weight:	bold;
	font-style:	italic;
	font-size:	10px;
	line-height:	1.0em;
	color:	#000066;
}
H6 {
	font-family:	tahoma,helvetica,sans-serif;
	font-weight:	bold;
	font-size:	10px;
	line-height:	1.0em;
	color:	#000066;
}
A:link {
	color:	#0033ff;
	text-decoration:	underline;
}
A:hover {
	color:	#000066;
	text-decoration:	underline;
}
A:active {
	color:	#660505;
	text-decoration:	underline;
}
A:visited {
	color:	#4c1627;
	text-decoration:	underline;
}

.button_link {
    /* background: url(/base/images/cs_btn.gif) repeat-x; */
}

.button_link a,
.button_link a:link,
.button_link a:visited,
.button_link a:hover,
.button_link a:active {
    background: #333399 url(/base/images/cs_btn.gif) repeat-x !important; /* for Firefox and Safari */
    color:#fff;
    font-family:arial,helvetica,sans-serif;
    font-size: 12px;
    font-weight:bold;
    text-decoration: none;
    display:block;
    float:right;
    margin-top:10px;
    margin-right:5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    border: 1px #333399 solid;
    height:23px
}

.button_link a:active {
	background: #333399 url(/base/images/cs_btn_viz.gif)repeat-x !important; /* for Firefox and Safari */
}

.button_link a:hover {
	background: #333399 url(/base/images/cs_btn_hov.gif) repeat-x !important; /* for Firefox and Safari */
}

.footer {
	font-family:tahoma,helvetica,sans-serif;
	color:	#666688;
	font-size:	10px;
	line-height:	1.1em;
}
/* These styles set left nav properties */
	
.leftnav {
            vertical-align: top;
            text-align: center;
            background:  #C9D1F2;
}
.leftnavheader {
            width: 115px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            background:  #FFFFFF;
            border-bottom: 1px #000066 solid;
            font-family: arial, helvetica,sans-serif;
            color: #000066;
            font-size:	14px;
            font-style: italic;	
}
.leftnavline {
            background:  #000066;
}
.leftnavbackground {
            border-top: 1px #FFFFFF solid;
            border-left: 1px #FFFFFF solid;
            border-bottom: 1px #FFFFFF solid;
            border-right: 1px #000066 solid;
            padding: 3px;
            text-align: right;
            background: #8999D9;
            line-height: 150%;
}
.leftnavtext {
            font-family: tahoma,helvetica,sans-serif;
            color: #FFFFFF;
            font-size: 12px;
            font-weight: bold;	
}
.leftnavtext A:link {
            color:	#FFFFFF;
            text-decoration:	none;
}
.leftnavtext A:hover {
            text-decoration:	underline;
}
.leftnavtext A:active {
            text-decoration:	underline;
}
.leftnavtext A:visited {
            color:	#E0E0E0;
            text-decoration:	none;
}
.leftnavbottom {
            font-family:	tahoma,helvetica,sans-serif;
            color:	#000000;
            font-size:	12px;
            font-weight:	bold;
            text-align: right;
            line-height:	200%;
            padding: 3px;
}
            
.leftnavbottom A:link {
            color:	#000066;
            text-decoration:	none;
}
.leftnavbottom A:hover {
            color:	#000066;
            text-decoration:	none;
}
.leftnavbottom A:active {
            color:	#000066;
            text-decoration:	none;
}
.leftnavbottom A:visited {
            color:	#000066;
            text-decoration:	none;
}
/* end left nav properties */
	
.tabletitle {
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size:	10px;
	line-height:	1.2em;
	font-weight:	bold;
	border:	1px;
}
.tabletitlewhite {
	font-family:	tahoma,helvetica,sans-serif;
	color:	#FFFFFF;
	font-size:	10px;
	line-height:	1.2em;
	font-weight:	bold;
}
	
.tablenote {
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size:	10px;
	line-height:	1.2em;
	font-style:	italic;
}
.tabletext {
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000000;
	font-size:	10px;
	line-height:	1.2em;
}
.tabletextwhite {
	font-family:tahoma,helvetica,sans-serif;
	color:	#FFFFFF;
	font-size:	10px;
	line-height:	1.2em;
}
.texttiny {
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size:	8px;
	line-height:	1.2em;
}
.lettermenu {
	text-transform: uppercase;
	text-decoration:	none;
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size:	12px;
	font-weight:	bold;
}
/* begin paginator styles */
.paginator {
    /* removed for PET display if FireFox */
	/*min-width: 456px;*/
	min-height: 30px;
	display: block;
	clear: both;
}
.paginatortext {
	font-family: tahoma,helvetica,sans-serif;
	font-size: 10px;
	line-height: 1.2em;
}
.paginatorsummary {
	float: left;
	padding-top: 8px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 8px;
	font-size: 10px;
	line-height: 1.2em;
}
.paginatorlinks {
	float: right;
}
.paginatordisplaynumbers {
	font-weight:	bold;
}
/* end paginator styles */
/* .red is deprecated in favor of .warning */
.red {
	color:	#660000;
}
.warning {
	color:	#660000;
	font-weight: bold;
}
.confirmation {
	color:	#000066;
	font-weight: bold;
}
.popuptitle {
	color: #8999d9;
}
.customerdark {
	color:	#000066;
}
.customerlight {
	color:	#c9d1f2;
}
.stepnumber {
	font-size:	36px;
}
.disabledlink {
	color: #B7C6CA;
}
/*This can be used for tables and more.
  You control your own width and alignment. */
.standard {
	padding: 3px 3px 3px 3px; /*top, right, bottom, left */
	margin: 0px;
	font-family:tahoma,helvetica,sans-serif;
	font-size: 10px;
	line-height: 1.2em;	
}

.standard a {
	font-family:	tahoma,helvetica,sans-serif;
	font-size:	10px;
	line-height:	1.2em;
	font-weight:	bold;
	border:	1px;
}

table.standard{
    margin: 0px;
    padding-top:0px;
    background: #eeeeee;	
    border:1px solid #DCDCDC;
}

.standard th{
	font-size:	10px;
	line-height: 1.2em;
	font-weight: bold;
    color:	#003366;
	padding: 3px 5px 3px 3px; /*top, right, bottom, left */
	vertical-align:middle;
	border-right:1px solid #ffffff;
	border-bottom:2px solid #ffffff;
	background: #eeeeee;
}

th.lastColumn{
	border-right:1px solid #eeeeee;
	width:35px;
}

.standard tr{
    padding: 1px 5px 1px 3px; /*top, right, bottom, left */
    line-height: 1.2em;
    font-size:	10px;
    background:#ffffff;
}

.padded_underline{
    padding: 3px 5px 3px 3px;
	line-height: 1.2em;
	font-size:	10px;
    border-bottom:1px solid #eeeeee;
}
.underline{
	line-height: 1.2em;
	font-size:	10px;
    border-bottom:1px solid #eeeeee;
}

/*Unique settings for employer pages */
#employer table.standard{
    margin: 0px;
    padding-top:0px;
    background: #F5F5DC;	
    border:1px solid #EEE8AA;
}
#employer .standard th{
	font-weight: bold;
    color:	#003366;
	padding: 3px 5px 3px 3px; /*top, right, bottom, left */
	vertical-align:middle;
	border-right:1px solid #EEE8AA;
	border-bottom:2px solid #EEE8AA;
	background: #F5F5DC;
}

#employer .standard th.lastColumn{
	border-right:1px solid #F5F5DC;
	width:35px;
}
#employer .standard tr{
    padding: 1px 5px 1px 3px; /*top, right, bottom, left */
    line-height: 1.2em;
    background:#ffffff;
}
#employer .standard td{	
	font-family:tahoma,helvetica,sans-serif;
	font-size: 10px;
}

#employer .padded_underline{
    padding: 3px 5px 3px 3px;
	line-height: 1.2em;
    border-bottom:1px solid #EEE8AA;
}

#employer .underline{
    border-bottom:1px solid #EEE8AA;
}


#padded-row {/*This is deprecated.  Use padded and padded_underline*/
	padding: 3px 5px 3px 3px;
	vertical-align:bottom;
    line-height: 1.2em;
}
.padded{
    padding: 3px 5px 3px 3px;
    line-height: 1.2em;
}

.formlabel{
    border-right:1px solid #ffffff;  /*This create a vertical bar between form labels and the input fields*/
}
.cform-fieldset{
    padding: 1px 1px 1px 1px; /*top, right, bottom, left */
    margin: 1px 1px 3px 1px;
}


/* Use of adminTable is DEPRECATED.  See .standard and .underline
   Continued improvements on more generic table classes */    
.adminTable {
	width:456px;
	/*border: 1px solid #000000;*/
	padding-top:5px;
}

.adminTable th {
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size: 10px;
	line-height: 1.2em;
	font-weight: bold;
	text-align: center;
	padding:3px 1px;
	margin:0px;
	vertical-align:bottom;
	min-height:100px;
	background: #eeeeee;	
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
}

	
.adminTable td {
	text-align:	center;
	padding:3px 3px;
	margin:0px;
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000000;
	font-size:	10px;
	line-height:	1.2em;
	border-bottom:1px solid #c9d1f2;
}
.adminTable th {
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size: 10px;
	line-height: 1.2em;
	font-weight: bold;
	text-align: center;
	padding:3px 1px;
	margin:0px;
	vertical-align:bottom;
	min-height:100px;
	background: #eeeeee;	
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
}
	
.adminTableColumnHeader {
	width:456px;
	/*border: 1px solid #000000;*/
}
	
.adminTableColumnHeader td {
	text-align:	left;
	padding:3px 3px;
	margin:0px;
	vertical-align:top;
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000000;
	font-size:	10px;
	line-height:	1.2em;
	border-bottom:1px solid #c9d1f2;
}
.adminTableColumnHeader th {
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size: 10px;
	line-height: 1.2em;
	font-weight: bold;
	text-align: left;
	padding:3px 1px;
	margin:0px;
	vertical-align:top;
	min-height:100px;
	background: #eeeeee;	
	border-right:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
}
	
.adminTableNoBorder {
	text-align:center;
	padding:3px 3px;
	margin:0px;
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000000;
	font-size:	10px;
	line-height:	1.2em;
	border-bottom:none;
}
td.adminTableNoBorder {
	text-align:center;
	padding:3px 3px;
	margin:0px;
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000000;
	font-size:	10px;
	line-height:	1.2em;
	border-bottom:0px;
}
.quantity {
	margin-right:20px;
	text-align:right;
}
.interiorTable {width:100%} 
.profileTable {
	width:456px;
	border-top: 1px solid #c9d1f2;
}
	
.profileTable th {
	text-align:center;
	border-right:1px solid #c9d1f2;
	border-bottom:1px solid #c9d1f2;
	
	padding-top:4px;
	padding-bottom:4px;
	margin:0px;
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size:	10px;
	line-height:	1.2em;
	font-weight:	bold;
	white-space: nowrap;
}
.profileTable td {
	margin:0px;
	padding-left:5px;
	padding-top:4px;
	padding-bottom:4px;
	border-bottom:1px solid #c9d1f2;
}
	
/* Left Column, Content And Right Column Layout */
/* These are probably what you *do* want to be editing for Careersite's 3 column layout. */
#cont1, #cont2, #mainContent, #rightColumn, #leftColumn {
	display: inline;
}
#lcr {
    margin: 0px 10px 0px 10px;
}

#lcr #cont2 {  
	float: right; 
	width: 670px; 
	background: #ffffff; 
	color:#000000; 
}
#lcr #mainContent {
	float: left;
	background: #ffffff;
	color:#000000;
	margin-left:10px;
	margin-right:10px;
	/*min-width:456px;*/
}
#lcr #rightColumn {
	/*float: right;*/
	width: 130px;
	background: #ffffff;
	color:#000000; 
}
#lcr #leftColumn {
	float: left;
	width: 125px;
	margin-top:10px;
}
#lcr #header {
	float:left;
	background: #ffffff;
	color:#000000;
	min-width:780px;
}
/* Other layouts ... left compacted since they aren't being used yet. */
/* Left Column And Content Layout */
#lc #cont2 { float: right; width: 660px;background: #ffffff; color:#000000; }
#lc #mainContent { float: left; width: 660px;background: #ffffff; color:#000000; margin-left:10px;}
#lc #rightColumn { display: none; }
#lc #leftColumn { float: left; width: 135px; margin-top:10px; }
#lc #header { float:left; width: 800px; background: #ffffff; color:#000000; }
/* CONTENT AND RIGHT COLUMN LAYOUT */
#cr #cont2 { float: left; width: 800px; background: #ffffff; color:#000000;}
#cr #mainContent { float: left; width: 650px; background: #ffffff; color:#000000;  }
#cr #rightColumn { float: right; width: 150px; background: #ffffff; color:#000000; }
#cr #leftColumn { display: none; }
#cr #header { float:left; width: 800px; background: #ffffff; color:#000000; }
/* CONTENT ONLY LAYOUT */
#c #cont2 { float: right; width: 800px; background: #ffffff; color:#000000;}
#c #mainContent { float: left; width: 800px; background: #ffffff; color:#000000;}
#c #rightColumn { display: none; }
#c #leftColumn { display: none; }
#c #header { float:left; width: 800px; background: #ffffff; color:#000000; }
/* ok, as promised, here are the left nav buttons */
/* BUTTON STYLING: FIXED SIZE */
#css-buttons ul{
  list-style: none;
  margin: 0px 0px 10px 10px;
  padding: 0px;
}
#css-buttons li{
  border: 1px solid #999;
  margin: 0px 0px 5px 0px;
  width:110px;
}
#css-buttons li a{
  color: black;
  text-decoration: none;
}
.css-button {
  display:block;
  padding: 6px 10px 6px 6px;
  border: 1px solid white;
  text-decoration: none; width:92px;
  color: #000;
}
.css-button span{
  padding: 2px 3px 2px 0px;
  color: #003366;
  font:bold 10px verdana,arial,sans-serif;
}
/*Button Links */
A.topset:link {background:#C9D4DF;}
A.topset:active {background:#C9D4DF;}
A.topset:visited {background:#C9D4DF;}
A.topset:hover {background:#e1e1e1;}
A.currentset:link {background:#e9e9e9;}
A.currentset:active {background:#e9e9e9;}
A.currentset:visited {background:#e9e9e9;}
A.currentset:hover {background:#e9e9e9; }
#header {
	clear: both; /* Has to clear floats to work around another IE bug */
	width: 100%;
	min-height:100px;
	padding-bottom:3px;
	margin-bottom:3px;
	border-bottom:1px solid;
}
	
#subContent { /*not used but could be something above the footer */
	clear: both;
}
#footer {
	clear: both;
	text-align: center;
	margin-top:3px;
	border-top:1px solid;
}
/* cont1 is around the whole page between header and footer.
   cont2 is just around the center and right columns */
	
#cont1 {
	margin-top:5px; 
	margin-bottom:5px; 
	padding: 0px;
	float: left;
	width: 131px;
	background: #eeeeee; /* this only shows up on the left column since the other columns have white backgrounds */
	color:#000000;
}
#cont2 { min-height: 300px;    } /*makes sure the gray doesn't come underneath on short content pages */
#headerLeft {
  float:left;
  width:150px;
  margin-top:15px;
}
#headerRight {
  margin-top:20px;
}
#headerRight h1 {
  font: bold 18px verdana, arial, sans-serif;
  text-align:right;
  margin-bottom:3px;
}
#header p {
  font:bold 24px lucida-console,courier,monotype,sans-serif;
  text-align:right;
  margin:0px;
  padding:0px;
  line-height: .9em;
}
#header form {
  text-align:right;
    margin:0px;
    padding:0px;
}
#header td {
  font:9px verdana,arial,sans-serif;
  text-align:center;
  vertical-align:middle;
  color:#000000; 
  background: #ffffff;
  padding-right:1px;
}
#header input {
	font: 9px verdana,arial,sans-serif;
}
	
#header select {
	font: 9px verdana,arial,sans-serif;
}
#header .select1 {
	width:110px;
}
#header .select2 {
	width:125px;
}
#rightcontent h3 {
	margin:0px;
}
#rightcontent p {
	margin-bottom:17px;margin-top:0px;
}
#leftColumn h3 {
	color: #003366;
	font:bold 10px verdana,arial,sans-serif;
	padding: 2px 2px 0px 10px;
	margin:0px;
}
#leftColumn select {
	font: 9px verdana,arial,sans-serif;
	margin:2px 0px 2px 10px;
}
	
#leftColumn input {
  	font: 8px verdana,arial,sans-serif;
}
#leftColumn form {
	margin:0px;
	padding:0px;
}
/* class specific formatting */
.formSubheader {
	margin-top:15px;
	margin-bottom:5px;
}
.tablelink{
	text-align: left;
	padding:3px 3px;
	margin:0px;
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000000;
	font-size:	10px;
	line-height:	1.2em;
	font-weight:	bold;
	border-bottom:1px solid #ffffff;
}
	
.bigBottomMargin {
  	margin-bottom:50px;
}
LABEL {
	display: block;
	margin: 0;
	padding: 3px 0px;
	font-family: tahoma, verdana, arial, sans-serif;
	font-size: 10px;
	color:	#003366;
}
LABEL.mandatory, TH.mandatory {
	background: url("/base/images/red.gif")  no-repeat left;
	/*color:#660000; */
	padding-left:8px;
	font-weight: bold;
	margin: 0;
}
LABEL.optional, TH.optional {
	padding-left:10px;
	font-weight: bold;
	margin: 0;
}

label img {
	vertical-align:bottom;
	/*height: 11px;*/
}

.errordesc {
	font-family: tahoma, verdana, arial, sans-serif;
	font-size: 10px;
	color:#660000;
	padding: 0px;
	padding-left:10px;
}
/*border:solid 1px rgb(201, 212, 223);*/
/*
.littleBoxTop {
	border-left:solid 1px #F6E9A7;
	border-right:solid 1px #F6E9A7;
	border-bottom:solid 1px #F6E9A7;
	border-top:solid 1px #000066;
	font-size:10px;
	height:15px;
  	width:120px;
	background-color: #F6E9A7;
	font-family: tahoma,helvetica,sans-serif;
	color: #000066;
	font-size: 10px;
	margin:0px;
	padding: 3px;
} */
.littleBoxTop {
	border-top:solid 1px rgb(255, 195, 13);
	border-right:solid 1px rgb(255, 195, 13);
	border-bottom:solid 1px #F6E9A7;
	border-left:solid 1px rgb(255, 195, 13);
	font-size:10px;
  	width:120px;
	background-color: #F6E9A7;
	font-family: tahoma,helvetica,sans-serif;
	color: #000066;
	font-size: 10px;
	margin:0px;
	padding: 3px;
}
.littleBoxBottom {
	/*border:solid 1px #F6E9A7;*/
	border:solid 1px rgb(255, 195, 13);
	padding:3px;
	font-family: tahoma,helvetica,sans-serif;
	font-size:10px;
	width:120px;
	margin:0px 0px 5px 0px;
	padding: 3px 3px;
	background-color:#fffbb8;
}
.littleBoxBottom A:visited {
	color:	#4c1627;
	text-decoration: underline;
}
.littleBoxBottom A:link {
	color:	#4c1627;
	text-decoration:	underline;
}
/*
.tabletitle	{
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size:	10px;
	line-height:	1.2em;
	font-weight:	bold;
}
*/
.box{
    border:1px solid #94b7db;
    
}
.boxtitle 
{  
    font-family: verdana,arial,sans-serif;
    font-weight: bold;
    font-size: 10px;
    color:	#000066;
    background-color: #c9d4df;
    border-bottom:1px solid #6699cc;
    padding: 3px 5px 3px 8px; /*top, right, bottom, left */
    /* !!!! 'width=100%' is not proper css, since this value is being
    dropped by browsers, it was commented out
    (ie, we didn't want to fix it and suddenly cause an unexpected change
    when it suddenly started working)
    width=100%;
    */
}
.boxtitle tr{
     color:	#000066;
}
.boxtitle td{
     color:	#000066;
}
.boxfooter{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #94b7db;
    text-align:right;
    padding: 2px 10px 2px 10px;
    margin: 0px 6px 0px 6px;
}
/*
.tabletitlewhite	{
	font-family:	tahoma,helvetica,sans-serif;
	color:	#FFFFFF;
	font-size:	10px;
	line-height:	1.2em;
	font-weight:	bold;
}
*/
.tablenote	{
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size:	10px;
	line-height:	1.2em;
	font-style:	italic;
	font-weight: normal;
}
.tabletext	{
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000000;
	font-size:	10px;
	line-height:	1.2em;
}
.tabletextwhite	{
	font-family:	tahoma,helvetica,sans-serif;
	color:	#FFFFFF;
	font-size:	10px;
	line-height:	1.2em;
}
.texttiny	{
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size:	8px;
	line-height:	1.2em;
}
.mandatory	{
	/*color:	#660000; */
}
/* .red is deprecated in favor of .warning */
.red	{
	color:	#660000;
}
.warning	{
	color:	#660000;
	font-weight: bold;
}
.popuptitle	{
	color: #8999d9;
}
.customerdark	{
	color:	#000066;
}
.customerlight	{
	color:	#c9d1f2;
}
.stepnumber	{
	font-size:	36px;
}
.lettermenu	{
	text-transform: uppercase;
	text-decoration:	none;
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size:	12px;
	font-weight:	bold;
}
/* .blok fixes a standards-compliance rendering problem in ns6 */
.blok	{
	display:	block;
}
.throwaway { }
/* these set header  properties */
.topline  {
	background:  #336699;
}
.topline1  {
	background:  #c9d4df;
}
	
.topline2  {
	background:  #ffffff;
}
.topline3  {
	background:  #003366;
}
/* Below here are some other really geeky settings that you probably don't need to mess with */
/* CENTERING PAGE - tlcr is another body tag layout option*/
body#tlcr { text-align:center; background: #ffffff; color:#000000;}
#container { margin: 0 auto; width: 100%; /*overflow:hidden;*/ }
#tlcr #cont1 { background: #eeeeee; color: #000000; text-align: left;}
#tlcr #cont2 { float: right; width: 642px; background: #ffffff; color:#000000; text-align: left; }
#tlcr #mainContent { float: left; width: 485px; background: #ffffff; color:#000000; margin-left:10px; }
#tlcr #rightColumn { /*float: right; */width: 100px; background: #ffffff; color:#000000;}
#tlcr #leftColumn { float: left; width: 135px; background: #eeeeee; color:#000000; margin-top:15px; margin-left:10px;}
#tlcr #header { float:left; width: 800px; background: #ffffff; color:#000000; }
#tlcr #footer { float:left; width: 800px; background: #ffffff; color:#000000; }
/* Stuff for clearing floats.*/
/* Using no html element for clearing floats */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	padding-top:10px;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;padding-bottom:15px;}
/* End hide from IE-mac */
/* more Bagus adds added by Owl 16:51 12/14/5 */
td.nb	{
	padding:0px;
	margin:0px;
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000000;
	font-size:	10px;
	line-height:	1.2em;
	border:0px;
}	
.ecomSubmit {
	width:100%;
	text-align:center;
	padding-top:10px;
	border-top:2px solid #c9d1f2;
}
.newLinks {
        padding:2px 0px 2px 0px;
	font-family:	tahoma,helvetica,sans-serif;
	color:	#000066;
	font-size:	10px;
	line-height:	1.2em;
	font-weight:	bold;
}
	
#mainContent h3, .content h3 {
	clear: both;
	border: 1px solid #c9d1f2;
	padding-top:3px;
	padding-left:3px;
	margin-bottom:3px;
	margin-top:18px;
	background-image: url(/base/images/grad-1px_1.gif);
	background-repeat: repeat;
	background-position:bottom;
	vertical-align:middle;
	line-height: 1.6em;
}


h1.bigBottomMargin {
	margin:10px 0px 15px 0px;
	padding:0px;
}
.quantity {
	margin-right:20px;
	text-align:right;
	padding-top:2px;
}

/* ----------------------- searchresult-specific styles -----------------------*/
.searchutildiv {
	text-align:left;
	width: 90%;
	padding: 3px;
	margin: 2px;
	border: 1px solid #e0e0e0;
	border-left: 10px solid #e0e0e0;
}

.searchutildiv input {
    margin-right: 2px;
}

.searchutildiv form {
	margin: 0px;
	padding: 0px;
}

.sortlabel {
	float: left;
	display: block;
	width: 79px;
}

.searchutildiv .tabletext, .searchutildiv .tabletitle,
 .searchutildiv .tabletext a, .searchutildiv .tabletitle a {
	font-family:	tahoma,helvetica,sans-serif;
	font-size:	10px;
}

/* ----------------------- admintool-specific styles -----------------------*/
/* ------------------------- admin body is id="lcr" ------------------------*/
#lcr hr 	{
	height:2px;
	color:#000066;
	margin-bottom:15px;
}
INPUT.cformbutton {
	font: 10px verdana,arial,sans-serif;
	margin: 2px;
}
.selectwidthlimit {
    width: 500px;
}
/* ----------------------- adfeedmonitor-specific styles -----------------------*/
.monitordiv {
	width: 456px;
	/*border: 1px solid #000000;*/
	/*min-height: 1px;*/
}
.monitorheaderdiv {
	/*border:solid 1px #003366;*/
	padding: 1px;
	display: block;
}
.monitorrowdiv, .monitornoresults {
	clear: both;
	padding: 1px;
	border-top: 1px solid #cccccc;
	min-height: 1px;
}
.monitorrownoline {
	clear: both;
	padding: 1px;
	min-height: 1px;
}
.monitornoresults {
	text-align: center;
}
.monitorheaderassoc, .monitorheadermessage, .monitorheaderdate {
	float: left;
	display: block;
	margin-right: 1px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	color:	#000066;
	background: #c9d4df;
}
.monitorcellassoc, .monitorcellmessage, .monitorcelldate {
	float: left;
	display: block;
	margin-right: 1px;
	padding-left: 5px;
	padding-right: 5px;
}
.monitorheaderassoc {
	width: 40px;
}
.monitorheadermessage {
	width: 261px;
}
.monitorheaderdate {
	width: 120px;
}
.monitorcellassoc {
	width: 40px;
}
.monitorcellmessage {
	width: 261px;
	position: relative; /* This fixes and IE display bug */
}
.monitorcelldate {
	width: 120px;
}
.monitorrowheaderdiv {
	/*border: 1px solid #000000;*/
	margin-right: 1px;
	padding-left: 5px;
	padding-right: 5px;
}
.monitorrowdetailsdiv {
	/*border: 1px solid #000000;*/
}
.monitorgood {
	background: #d9ffca;
}
.monitorcaution {
	background: #ffde7b;
}
.monitorerror {
	background: #ffa3a9;
}
.monitorprocess {
    background: #9999FF;
}
.monitorfeedname, .monitorfeedlinks {
	display: block;
}
.monitorfeedname {
	width: 300px;
	float: left;
}

.developersonly {
    display: none;
}

.developersonlyenabled {
    display: block;
    border: 1px dashed red;
    padding: 2px;
}

.highlight1, .highlight2, .highlight3, .highlight4, .highlight5 {
    background-color: #fbff79;
}

.tips{
  font:small arial,sans-serif;
  color: #EEE8AA;
  margin: 5px 0px 5px 0px;
  padding:3px;
  border:1px dotted #c9d1f2; /*#EEE8AA;*/
  border-top:3px solid #c9d1f2; /*#EEE8AA;*/
  background-color:#fafafa;
  position: relative;
}

/* This is the tips button class.  Rather than change this class,
	I think I'll just create a new one --sgilroy 12Jun07 */
.tipsbox h3{
    border: 1px outset #c9d1f2;
    padding-top:1px;
    padding-bottom:4px;
    padding-left:17px;
    margin-top:18px;
    height: 15px;
    width:33px;
}

.tips .popupbutton {
	/* styles */
	background: #fff url(/base/images/tipgradient.png) repeat-y;
    border: 1px outset #c9d1f2;
	font: small arial,sans-serif; color: #006;
	font-weight: bold;
	text-decoration: none;
    padding: 4px 10px 4px 10px;
	display: block;
	width: 50px;
}

.tips ul{
    list-style-type:disc;
    color: #000066;
    padding-left:29px;
    margin:3px;
}

.tips li{
    font-family: Arial,Sans-serif;
    color: #000066;
	line-height: 1.2em;
}

.tips P, .tips div {
	font-family: Arial,Sans-serif;
	color:	#000066;
	line-height: 1.2em;
	margin:3px;
	padding-bottom:3px;
}

.tips span {
	color:	#000066;
	font-size: 10px;
	line-height: 1.2em;
	font-weight: bold;
	margin-left:3px;
}

.blokLine{
    clear:both;
    border-top: 0px solid #000066; /* Set this to a height greater than zero, if you want a horizontal line */
    width:100%;
}
