/* style sheet demonstrating the background-image property */

body {
  background-image: url(images/background_small.gif);
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f2f2f2; }

