/* style sheet demonstrating the background-image property */

body {
    background-image: url(images/background.gif);
    background-color:#cccccc;
    color:#000000;
    font-size:24px;
    font-weight:bold;}