.txt {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txtwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.txtunderline {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.boxAds {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000066
}
A.boxAds:link {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000066
}
A.boxAds:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000066
}
A.boxAds:active {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000066
}
A.boxAds:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #000066
}
.nettxt {
	FONT-SIZE: 7px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.network:link {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.network:visited {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.network:active {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.network:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.sidenav:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.sidenav:visited {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.sidenav:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.sidenav2:link {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.sidenav2:visited {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.sidenav2:active {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.sidenav2:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
A.linkscolor:link {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.linkscolor:visited {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.linkscolor:active {
	FONT-SIZE: 11px; COLOR: #666666; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.linkscolor:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.linkswhite:link {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.linkswhite:visited {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.linkswhite:active {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica; TEXT-DECORATION: none
}
A.linkswhite:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.textAd {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.txtblack {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.form {
	FONT-SIZE: 9px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.sidenav:active {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 11px; FONT-FAMILY: Verdana, Arial, Helvetica; TEXT-DECORATION: none
}
.titblack {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.linksblack {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.txtgray {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.buttons {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.txtwhitelight {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.language {
	FONT-SIZE: 10px; CURSOR: hand; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.mylinks:link {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica
}
A.mylinks:visited {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica
}
A.mylinks:active {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica
}
A.mylinks:hover {
	COLOR: yellow; TEXT-DECORATION: none
}
A.biglinks:link {
	FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica
}
A.biglinks:visited {
	FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica
}
A.biglinks:active {
	FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica
}
A.biglinks:hover {
	COLOR: yellow; TEXT-DECORATION: none
}
.textAd {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
A.textAd:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
A.textAd:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
A.textAd:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
A.textAd:hover {
	COLOR: yellow; TEXT-DECORATION: none
}
