A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f88b11; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f88b11; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f88b11; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #597086; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
H1 {
	MARGIN-TOP: 2pt; FONT-SIZE: 14px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 2pt; PADDING-BOTTOM: 0ex; MARGIN-LEFT: 0pt; COLOR: #597086
}
BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: black; FONT-FAMILY: verdana, tahoma, helvetica, arial, sans-serif; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: verdana, tahoma, helvetica, arial, sans-serif
}
LI {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; FONT-FAMILY: verdana, tahoma, helvetica, arial, sans-serif
}
DT {
	FONT-WEIGHT: bold
}
DD {
	FONT-SIZE: 12px; PADDING-BOTTOM: 1.5em
}
.logotable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 800px; PADDING-TOP: 0px
}
.links {
	BORDER-RIGHT: #c0c0c0 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #c0c0c0 1px solid; LINE-HEIGHT: 20px; PADDING-TOP: 1px; BORDER-BOTTOM: #c0c0c0 1px solid
}
.links #hd {
	BORDER-RIGHT: #cccccc 1px dotted; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px dotted; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #cccccc 1px dotted; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px dotted; BACKGROUND-COLOR: #eeeeee
}
.links A {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
HR {
	COLOR: #c0c0c0; HEIGHT: 1px
}
.footer {
	FONT-SIZE: 10px; COLOR: #999999; FONT-FAMILY: verdana, tahoma, helvetica, arial, sans-serif
}
.info {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eeeeee
}
