BODY {
	MARGIN: 0pt
}
BODY {
	FONT-SIZE: 9pt; COLOR: #222222; FONT-FAMILY: arial,sans-serif
}
TD {
	FONT-SIZE: 9pt; COLOR: #222222; FONT-FAMILY: arial,sans-serif
}
.plain {
	FONT-SIZE: 9pt; COLOR: #222222; FONT-FAMILY: arial,sans-serif
}
.tm {
	MARGIN-TOP: 8pt; MARGIN-BOTTOM: 0px
}
TABLE {
	PADDING-RIGHT: 0pt; PADDING-LEFT: 0pt; PADDING-BOTTOM: 0pt; PADDING-TOP: 0pt
}
TD {
	PADDING-RIGHT: 0pt; PADDING-LEFT: 0pt; PADDING-BOTTOM: 0pt; PADDING-TOP: 0pt
}
.stat {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #990000
}
.reset {
	FONT-SIZE: 8pt; COLOR: #990000
}
INPUT.reset {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0pt; BORDER-TOP: 1px solid; PADDING-LEFT: 0pt; PADDING-BOTTOM: 0pt; BORDER-LEFT: 1px solid; PADDING-TOP: 0pt; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: transparent
}
A:link {
	COLOR: #3333ff; TEXT-DECORATION: none
}
A:active {
	COLOR: #3333ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #3333ff; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.d0 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.d1 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.d2 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.d3 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.s0 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.s1 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.s2 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.s3 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.u0 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.u1 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.u2 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.u3 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.w0 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.w1 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.w2 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.w3 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.v0 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.v1 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.v2 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.v3 {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; MARGIN: 0pt; BORDER-LEFT: #fff 0px solid; WIDTH: 24pt; BORDER-BOTTOM: #fff 0px solid; TEXT-ALIGN: center
}
.s0 {
	FONT-SIZE: 18pt; COLOR: #000000; FONT-FAMILY: times,"times new roman",serif
}
.s1 {
	FONT-SIZE: 18pt; COLOR: #000000; FONT-FAMILY: times,"times new roman",serif
}
.s2 {
	FONT-SIZE: 18pt; COLOR: #000000; FONT-FAMILY: times,"times new roman",serif
}
.s3 {
	FONT-SIZE: 18pt; COLOR: #000000; FONT-FAMILY: times,"times new roman",serif
}
.u0 {
	FONT-SIZE: 28pt; COLOR: #000000; FONT-FAMILY: times,"times new roman",serif
}
.u1 {
	FONT-SIZE: 28pt; COLOR: #000000; FONT-FAMILY: times,"times new roman",serif
}
.u2 {
	FONT-SIZE: 28pt; COLOR: #000000; FONT-FAMILY: times,"times new roman",serif
}
.u3 {
	FONT-SIZE: 28pt; COLOR: #000000; FONT-FAMILY: times,"times new roman",serif
}
.d0 {
	FONT-SIZE: 16pt; COLOR: #7777dd; FONT-FAMILY: "lucida handwriting","comic sans ms",cursive
}
.d1 {
	FONT-SIZE: 16pt; COLOR: #7777dd; FONT-FAMILY: "lucida handwriting","comic sans ms",cursive
}
.d2 {
	FONT-SIZE: 16pt; COLOR: #7777dd; FONT-FAMILY: "lucida handwriting","comic sans ms",cursive
}
.d3 {
	FONT-SIZE: 16pt; COLOR: #7777dd; FONT-FAMILY: "lucida handwriting","comic sans ms",cursive
}
.w0 {
	FONT-SIZE: 10pt; COLOR: #338833; FONT-FAMILY: "lucida handwriting","comic sans ms",cursive
}
.w1 {
	FONT-SIZE: 10pt; COLOR: #338833; FONT-FAMILY: "lucida handwriting","comic sans ms",cursive
}
.w2 {
	FONT-SIZE: 10pt; COLOR: #338833; FONT-FAMILY: "lucida handwriting","comic sans ms",cursive
}
.w3 {
	FONT-SIZE: 10pt; COLOR: #338833; FONT-FAMILY: "lucida handwriting","comic sans ms",cursive
}
.v0 {
	FONT-SIZE: 7pt; COLOR: #338833; FONT-FAMILY: "lucida handwriting","comic sans ms",cursive
}
.v1 {
	FONT-SIZE: 7pt; COLOR: #338833; FONT-FAMILY: "lucida handwriting","comic sans ms",cursive
}
.v2 {
	FONT-SIZE: 7pt; COLOR: #338833; FONT-FAMILY: "lucida handwriting","comic sans ms",cursive
}
.v3 {
	FONT-SIZE: 7pt; COLOR: #338833; FONT-FAMILY: "lucida handwriting","comic sans ms",cursive
}
.d0 {
	BACKGROUND-COLOR: transparent
}
.s0 {
	BACKGROUND-COLOR: transparent
}
.u0 {
	BACKGROUND-COLOR: transparent
}
.w0 {
	BACKGROUND-COLOR: transparent
}
.v0 {
	BACKGROUND-COLOR: transparent
}
.d1 {
	BACKGROUND-COLOR: #ffbfbf
}
.s1 {
	BACKGROUND-COLOR: #ffbfbf
}
.u1 {
	BACKGROUND-COLOR: #ffbfbf
}
.w1 {
	BACKGROUND-COLOR: #ffbfbf
}
.v1 {
	BACKGROUND-COLOR: #ffbfbf
}
.c1 {
	BACKGROUND-COLOR: #ffbfbf
}
.e1 {
	BACKGROUND-COLOR: #ffbfbf
}
.f1 {
	BACKGROUND-COLOR: #ffbfbf
}
.g1 {
	BACKGROUND-COLOR: #ffbfbf
}
.j1 {
	BACKGROUND-COLOR: #ffbfbf
}
.k1 {
	BACKGROUND-COLOR: #ffbfbf
}
.l1 {
	BACKGROUND-COLOR: #ffbfbf
}
.m1 {
	BACKGROUND-COLOR: #ffbfbf
}
.n1 {
	BACKGROUND-COLOR: #ffbfbf
}
.p1 {
	BACKGROUND-COLOR: #ffbfbf
}
.q1 {
	BACKGROUND-COLOR: #ffbfbf
}
.r1 {
	BACKGROUND-COLOR: #ffbfbf
}
.d2 {
	BACKGROUND-COLOR: #ff7f7f
}
.s2 {
	BACKGROUND-COLOR: #ff7f7f
}
.u2 {
	BACKGROUND-COLOR: #ff7f7f
}
.w2 {
	BACKGROUND-COLOR: #ff7f7f
}
.v2 {
	BACKGROUND-COLOR: #ff7f7f
}
.c2 {
	BACKGROUND-COLOR: #ff7f7f
}
.e2 {
	BACKGROUND-COLOR: #ff7f7f
}
.f2 {
	BACKGROUND-COLOR: #ff7f7f
}
.g2 {
	BACKGROUND-COLOR: #ff7f7f
}
.j2 {
	BACKGROUND-COLOR: #ff7f7f
}
.k2 {
	BACKGROUND-COLOR: #ff7f7f
}
.l2 {
	BACKGROUND-COLOR: #ff7f7f
}
.m2 {
	BACKGROUND-COLOR: #ff7f7f
}
.n2 {
	BACKGROUND-COLOR: #ff7f7f
}
.p2 {
	BACKGROUND-COLOR: #ff7f7f
}
.q2 {
	BACKGROUND-COLOR: #ff7f7f
}
.r2 {
	BACKGROUND-COLOR: #ff7f7f
}
.d3 {
	BACKGROUND-COLOR: #ff3f3f
}
.s3 {
	BACKGROUND-COLOR: #ff3f3f
}
.u3 {
	BACKGROUND-COLOR: #ff3f3f
}
.w3 {
	BACKGROUND-COLOR: #ff3f3f
}
.v3 {
	BACKGROUND-COLOR: #ff3f3f
}
.c3 {
	BACKGROUND-COLOR: #ff3f3f
}
.e3 {
	BACKGROUND-COLOR: #ff3f3f
}
.f3 {
	BACKGROUND-COLOR: #ff3f3f
}
.g3 {
	BACKGROUND-COLOR: #ff3f3f
}
.j3 {
	BACKGROUND-COLOR: #ff3f3f
}
.k3 {
	BACKGROUND-COLOR: #ff3f3f
}
.l3 {
	BACKGROUND-COLOR: #ff3f3f
}
.m3 {
	BACKGROUND-COLOR: #ff3f3f
}
.n3 {
	BACKGROUND-COLOR: #ff3f3f
}
.p3 {
	BACKGROUND-COLOR: #ff3f3f
}
.q3 {
	BACKGROUND-COLOR: #ff3f3f
}
.r3 {
	BACKGROUND-COLOR: #ff3f3f
}
.c0 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.c1 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.c2 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.c3 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.e0 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.e1 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.e2 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.e3 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.f0 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.f1 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.f2 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.f3 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.g0 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.g1 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.g2 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.g3 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 24pt; FONT-FAMILY: times,serif; HEIGHT: 25pt; TEXT-ALIGN: center
}
.j0 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.j1 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.j2 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.j3 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.k0 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.k1 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.k2 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.k3 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.l0 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.l1 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.l2 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.l3 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.m0 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.m1 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.m2 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.m3 {
	FONT-SIZE: 18pt; VERTICAL-ALIGN: middle; WIDTH: 32pt; FONT-FAMILY: times,serif; HEIGHT: 32pt; TEXT-ALIGN: center
}
.n0 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.n1 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.n2 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.n3 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.p0 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.p1 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.p2 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.p3 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.q0 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.q1 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.q2 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.q3 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.r0 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.r1 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.r2 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.r3 {
	FONT-SIZE: 28pt; VERTICAL-ALIGN: middle; WIDTH: 44pt; FONT-FAMILY: times,serif; HEIGHT: 44pt; TEXT-ALIGN: center
}
.t {
	BORDER-RIGHT: #666699 2px solid; BORDER-TOP: #666699 2px solid; BORDER-LEFT: #666699 2px solid; BORDER-BOTTOM: #666699 2px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.c0 {
	BORDER-RIGHT: #ddddee 1px solid; BORDER-TOP: #ddddee 1px solid; BORDER-LEFT: #ddddee 1px solid; BORDER-BOTTOM: #ddddee 1px solid
}
.e0 {
	BORDER-RIGHT: #ddddee 1px solid; BORDER-TOP: #ddddee 1px solid; BORDER-LEFT: #ddddee 1px solid; BORDER-BOTTOM: #ddddee 1px solid
}
.f0 {
	BORDER-RIGHT: #ddddee 1px solid; BORDER-TOP: #ddddee 1px solid; BORDER-LEFT: #ddddee 1px solid; BORDER-BOTTOM: #ddddee 1px solid
}
.g0 {
	BORDER-RIGHT: #ddddee 1px solid; BORDER-TOP: #ddddee 1px solid; BORDER-LEFT: #ddddee 1px solid; BORDER-BOTTOM: #ddddee 1px solid
}
.c1 {
	BORDER-RIGHT: #ffbfbf 1px solid; BORDER-TOP: #ffbfbf 1px solid; BORDER-LEFT: #ffbfbf 1px solid; BORDER-BOTTOM: #ffbfbf 1px solid
}
.e1 {
	BORDER-RIGHT: #ffbfbf 1px solid; BORDER-TOP: #ffbfbf 1px solid; BORDER-LEFT: #ffbfbf 1px solid; BORDER-BOTTOM: #ffbfbf 1px solid
}
.f1 {
	BORDER-RIGHT: #ffbfbf 1px solid; BORDER-TOP: #ffbfbf 1px solid; BORDER-LEFT: #ffbfbf 1px solid; BORDER-BOTTOM: #ffbfbf 1px solid
}
.g1 {
	BORDER-RIGHT: #ffbfbf 1px solid; BORDER-TOP: #ffbfbf 1px solid; BORDER-LEFT: #ffbfbf 1px solid; BORDER-BOTTOM: #ffbfbf 1px solid
}
.c2 {
	BORDER-RIGHT: #ff7f7f 1px solid; BORDER-TOP: #ff7f7f 1px solid; BORDER-LEFT: #ff7f7f 1px solid; BORDER-BOTTOM: #ff7f7f 1px solid
}
.e2 {
	BORDER-RIGHT: #ff7f7f 1px solid; BORDER-TOP: #ff7f7f 1px solid; BORDER-LEFT: #ff7f7f 1px solid; BORDER-BOTTOM: #ff7f7f 1px solid
}
.f2 {
	BORDER-RIGHT: #ff7f7f 1px solid; BORDER-TOP: #ff7f7f 1px solid; BORDER-LEFT: #ff7f7f 1px solid; BORDER-BOTTOM: #ff7f7f 1px solid
}
.g2 {
	BORDER-RIGHT: #ff7f7f 1px solid; BORDER-TOP: #ff7f7f 1px solid; BORDER-LEFT: #ff7f7f 1px solid; BORDER-BOTTOM: #ff7f7f 1px solid
}
.c3 {
	BORDER-RIGHT: #ff3f3f 1px solid; BORDER-TOP: #ff3f3f 1px solid; BORDER-LEFT: #ff3f3f 1px solid; BORDER-BOTTOM: #ff3f3f 1px solid
}
.e3 {
	BORDER-RIGHT: #ff3f3f 1px solid; BORDER-TOP: #ff3f3f 1px solid; BORDER-LEFT: #ff3f3f 1px solid; BORDER-BOTTOM: #ff3f3f 1px solid
}
.f3 {
	BORDER-RIGHT: #ff3f3f 1px solid; BORDER-TOP: #ff3f3f 1px solid; BORDER-LEFT: #ff3f3f 1px solid; BORDER-BOTTOM: #ff3f3f 1px solid
}
.g3 {
	BORDER-RIGHT: #ff3f3f 1px solid; BORDER-TOP: #ff3f3f 1px solid; BORDER-LEFT: #ff3f3f 1px solid; BORDER-BOTTOM: #ff3f3f 1px solid
}
.e0 {
	BORDER-LEFT: #666699 2px solid
}
.e1 {
	BORDER-LEFT: #666699 2px solid
}
.e2 {
	BORDER-LEFT: #666699 2px solid
}
.e3 {
	BORDER-LEFT: #666699 2px solid
}
.g0 {
	BORDER-LEFT: #666699 2px solid
}
.g1 {
	BORDER-LEFT: #666699 2px solid
}
.g2 {
	BORDER-LEFT: #666699 2px solid
}
.g3 {
	BORDER-LEFT: #666699 2px solid
}
.f0 {
	BORDER-TOP: #666699 2px solid
}
.f1 {
	BORDER-TOP: #666699 2px solid
}
.f2 {
	BORDER-TOP: #666699 2px solid
}
.f3 {
	BORDER-TOP: #666699 2px solid
}
.g0 {
	BORDER-TOP: #666699 2px solid
}
.g1 {
	BORDER-TOP: #666699 2px solid
}
.g2 {
	BORDER-TOP: #666699 2px solid
}
.g3 {
	BORDER-TOP: #666699 2px solid
}
.i {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid; BORDER-COLLAPSE: collapse
}
.j0 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.j1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.j2 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.j3 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.k0 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.k1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.k2 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.k3 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.l0 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.l1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.l2 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.l3 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.m0 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.m1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.m2 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.m3 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.k0 {
	BORDER-LEFT: #000000 2px solid
}
.k1 {
	BORDER-LEFT: #000000 2px solid
}
.k2 {
	BORDER-LEFT: #000000 2px solid
}
.k3 {
	BORDER-LEFT: #000000 2px solid
}
.m0 {
	BORDER-LEFT: #000000 2px solid
}
.m1 {
	BORDER-LEFT: #000000 2px solid
}
.m2 {
	BORDER-LEFT: #000000 2px solid
}
.m3 {
	BORDER-LEFT: #000000 2px solid
}
.l0 {
	BORDER-TOP: #000000 2px solid
}
.l1 {
	BORDER-TOP: #000000 2px solid
}
.l2 {
	BORDER-TOP: #000000 2px solid
}
.l3 {
	BORDER-TOP: #000000 2px solid
}
.m0 {
	BORDER-TOP: #000000 2px solid
}
.m1 {
	BORDER-TOP: #000000 2px solid
}
.m2 {
	BORDER-TOP: #000000 2px solid
}
.m3 {
	BORDER-TOP: #000000 2px solid
}
.o {
	BORDER-RIGHT: #000000 4px solid; BORDER-TOP: #000000 4px solid; BORDER-LEFT: #000000 4px solid; BORDER-BOTTOM: #000000 4px solid; BORDER-COLLAPSE: collapse
}
.n0 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.n1 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.n2 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.n3 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.p0 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.p1 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.p2 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.p3 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.q0 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.q1 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.q2 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.q3 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.r0 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.r1 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.r2 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.r3 {
	BORDER-RIGHT: #000000 2px solid; BORDER-TOP: #000000 2px solid; BORDER-LEFT: #000000 2px solid; BORDER-BOTTOM: #000000 2px solid
}
.p0 {
	BORDER-LEFT: #000000 4px solid
}
.p1 {
	BORDER-LEFT: #000000 4px solid
}
.p2 {
	BORDER-LEFT: #000000 4px solid
}
.p3 {
	BORDER-LEFT: #000000 4px solid
}
.r0 {
	BORDER-LEFT: #000000 4px solid
}
.r1 {
	BORDER-LEFT: #000000 4px solid
}
.r2 {
	BORDER-LEFT: #000000 4px solid
}
.r3 {
	BORDER-LEFT: #000000 4px solid
}
.q0 {
	BORDER-TOP: #000000 4px solid
}
.q1 {
	BORDER-TOP: #000000 4px solid
}
.q2 {
	BORDER-TOP: #000000 4px solid
}
.q3 {
	BORDER-TOP: #000000 4px solid
}
.r0 {
	BORDER-TOP: #000000 4px solid
}
.r1 {
	BORDER-TOP: #000000 4px solid
}
.r2 {
	BORDER-TOP: #000000 4px solid
}
.r3 {
	BORDER-TOP: #000000 4px solid
}
