SUMMARY {
	DISPLAY: none
}
summary {
	DISPLAY: none
}
BODY {
	BACKGROUND-COLOR: #2b6e99
}
#container {
	MARGIN-LEFT: 100px; WIDTH: 858px
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(http://www.coding4fun.net/images/_site/navtable_bg.jpg); PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x
}
#header H2 {
	DISPLAY: none
}
#header P {
	DISPLAY: none
}
#content {
	WIDTH: 560px
}
.entrylistfooter {
	PADDING-BOTTOM: 20px; BORDER-BOTTOM: #ccc 1px dashed
}
