TABLE {
	FONT-SIZE: 11px; COLOR: #404040; FONT-FAMILY: Tahoma
}
TR {
	FONT-SIZE: 11px; COLOR: #404040; FONT-FAMILY: Tahoma
}
TD {
	FONT-SIZE: 11px; COLOR: #404040; FONT-FAMILY: Tahoma
}
BODY {
	FONT-SIZE: 12px; COLOR: #404040; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #ebf1f9
}
A:link {
	COLOR: #37496d; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #37496d; TEXT-DECORATION: underline
}
A:active {
	COLOR: #37496d; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #404040
}
FIELDSET {
	BORDER-RIGHT: #37496d 1px solid; BORDER-TOP: #37496d 1px solid; BORDER-LEFT: #37496d 1px solid; BORDER-BOTTOM: #37496d 1px solid
}
UL {
	LIST-STYLE-IMAGE: url(images/list.gif); LINE-HEIGHT: 12pt; LIST-STYLE-TYPE: square
}
#category {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/graybk.jpg); COLOR: #37496d; HEIGHT: 16px
}
#category A:link {
	COLOR: #37496d; TEXT-DECORATION: none
}
#category A:visited {
	COLOR: #37496d; TEXT-DECORATION: none
}
#category A:active {
	COLOR: #37496d; TEXT-DECORATION: none
}
#category A:hover {
	TEXT-DECORATION: underline
}
#category1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(images/graybk.jpg); COLOR: #37496d; HEIGHT: 16px
}
#bizlink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #37496d; HEIGHT: 16px
}
#category1 A:link {
	COLOR: #37496d; TEXT-DECORATION: none
}
#category1 A:visited {
	COLOR: #37496d; TEXT-DECORATION: none
}
#category1 A:active {
	COLOR: #37496d; TEXT-DECORATION: none
}
#category1 A:hover {
	TEXT-DECORATION: underline
}
.boardinfo {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
#boardinfocat {
	BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/graybk.jpg); COLOR: #37496d; BORDER-BOTTOM: black 1px solid; HEIGHT: 16px
}
#boardinfocat A:link {
	COLOR: #37496d; TEXT-DECORATION: none
}
#boardinfocat A:visited {
	COLOR: #37496d; TEXT-DECORATION: none
}
#boardinfocat A:active {
	COLOR: #37496d; TEXT-DECORATION: none
}
#boardinfocat A:hover {
	TEXT-DECORATION: underline
}
#nav {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
#nav A:link {
	COLOR: #404040; TEXT-DECORATION: underline
}
#nav A:visited {
	COLOR: #404040; TEXT-DECORATION: underline
}
#nav A:active {
	COLOR: #404040; TEXT-DECORATION: underline
}
.forumclick {
	CURSOR: pointer; BACKGROUND-COLOR: #e4eaf2; TEXT-DECORATION: none
}
#redirect {
	FONT-WEIGHT: bold; FONT-SIZE: 11px
}
#highlight {
	FONT-SIZE: 11px; COLOR: #566990
}
#highlight A:link {
	COLOR: #566990; TEXT-DECORATION: underline
}
#highlight A:visited {
	COLOR: #566990; TEXT-DECORATION: underline
}
#highlight A:active {
	COLOR: #566990; TEXT-DECORATION: underline
}
#highlight A:hover {
	COLOR: #404040; TEXT-DECORATION: underline
}
.invitering {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
.invite {
	BORDER-TOP: black 1px solid
}
#posttop {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/graybk.jpg); MARGIN: 10px; COLOR: #37496d; LINE-HEIGHT: 14pt; HEIGHT: 16px
}
#posttop A:link {
	COLOR: #37496d; TEXT-DECORATION: underline
}
#posttop A:visited {
	COLOR: #37496d; TEXT-DECORATION: underline
}
#posttop A:active {
	COLOR: #37496d; TEXT-DECORATION: underline
}
#posttop A:hover {
	TEXT-DECORATION: underline
}
#signature {
	FONT-SIZE: 11px; COLOR: #566990
}
#postdetails {
	FONT-SIZE: 11px; COLOR: #404040
}
#postcolor {
	FONT-SIZE: 12px; COLOR: #404040; LINE-HEIGHT: 150%
}
#membertitle {
	FONT-SIZE: 11px; COLOR: #37496d; LINE-HEIGHT: 150%; FONT-STYLE: italic
}
#normalname {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #000033
}
#unreg {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #990000
}
.buttontext {
	FONT-SIZE: 10px; COLOR: #404040; TEXT-DECORATION: none
}
#titlelarge {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(images/bluebk.jpg); COLOR: #ffffff; LINE-HEIGHT: 150%
}
#titlelarge A:link {
	COLOR: #37496d
}
#titlelarge A:visited {
	COLOR: #37496d
}
#titlelarge A:active {
	COLOR: #37496d
}
#titlemedium {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(images/bluebk.jpg); COLOR: #ffffff; LINE-HEIGHT: 150%; HEIGHT: 22px
}
#titlemedium A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#titlemedium A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#titlemedium A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#titlemedium A:hover {
	TEXT-DECORATION: underline
}
#contactTop {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(images/bluebk.jpg); BORDER-LEFT: black 1px solid; COLOR: #ffffff; LINE-HEIGHT: 150%; BORDER-BOTTOM: black 1px solid
}
#contactBody {
	BORDER-RIGHT: black 1px solid; PADDING-LEFT: 8px; BORDER-LEFT: black 1px solid
}
#contactBottom {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/graybk.jpg); BORDER-LEFT: black 1px solid; COLOR: #37496d; BORDER-BOTTOM: black 1px solid; HEIGHT: 16px
}
#controlpanel {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; LINE-HEIGHT: 150%
}
#usermenu {
	FONT-SIZE: 12px; COLOR: #404040; LINE-HEIGHT: 150%
}
#tabs {
	FONT-SIZE: 11px; VERTICAL-ALIGN: middle
}
#linkthru {
	FONT-SIZE: 11px; COLOR: #37496d
}
#linkthru A:link {
	FONT-SIZE: 11px; COLOR: #37496d; TEXT-DECORATION: underline
}
#linkthru A:visited {
	FONT-SIZE: 11px; COLOR: #37496d; TEXT-DECORATION: underline
}
#linkthru A:active {
	FONT-SIZE: 11px; COLOR: #37496d; TEXT-DECORATION: underline
}
#linkthru A:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
#desc {
	FONT-SIZE: 10px; COLOR: #666666
}
#copyright {
	FONT-SIZE: 10px; COLOR: #404040; LINE-HEIGHT: 12px; FONT-FAMILY: Arial; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
#copyright A:link {
	COLOR: blue; TEXT-DECORATION: underline
}
#copyright A:visited {
	COLOR: blue; TEXT-DECORATION: underline
}
#copyright A:active {
	COLOR: blue; TEXT-DECORATION: underline
}
#copyright A:hover {
	COLOR: blue; TEXT-DECORATION: underline
}
#QUOTEHEAD {
	BORDER-RIGHT: #404040 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #404040 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; BORDER-LEFT: #404040 1px solid; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #404040 1px dotted; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #b9c6d8
}
#QUOTE {
	BORDER-RIGHT: #404040 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #404040 1px solid; COLOR: #333333; PADDING-TOP: 10px; BORDER-BOTTOM: #404040 1px solid; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #ffffff
}
#CODEHEAD {
	BORDER-RIGHT: #404040 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #404040 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; BORDER-LEFT: #404040 1px solid; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #404040 1px dotted; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #b9c6d8
}
#CODE {
	BORDER-RIGHT: #404040 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #404040 1px solid; COLOR: #333333; PADDING-TOP: 10px; BORDER-BOTTOM: #404040 1px solid; FONT-FAMILY: Verdana, Arial; BACKGROUND-COLOR: #ffffff
}
#ME {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: Verdana, Arial; TEXT-ALIGN: center
}
.bottom {
	VERTICAL-ALIGN: bottom
}
.forminput {
	FONT-SIZE: 10px; VERTICAL-ALIGN: middle; FONT-FAMILY: Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e8e8e8
}
.textinput {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; FONT-FAMILY: Verdana, Helvetica, sans-serif; BACKGROUND-COLOR: #e8e8e8
}
#small {
	FONT-SIZE: 9px; FONT-FAMILY: Arial
}
#date {
	FONT-SIZE: 10px; COLOR: #566990
}
.pagesof {
	PADDING-RIGHT: 6px; BORDER-TOP: black 1px solid; PADDING-LEFT: 6px; VISIBILITY: visible; PADDING-BOTTOM: 2px; FONT: bold 10px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; BORDER-LEFT: black 1px solid; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; WHITE-SPACE: nowrap; POSITION: relative; BACKGROUND-COLOR: #3483ce; TEXT-ALIGN: center
}
.currentpage {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: black 1px solid; PADDING-LEFT: 6px; VISIBILITY: visible; PADDING-BOTTOM: 2px; FONT: bold 10px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; WHITE-SPACE: nowrap; POSITION: relative; BACKGROUND-COLOR: gold; TEXT-ALIGN: center
}
.page {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: black 1px solid; PADDING-LEFT: 6px; VISIBILITY: visible; PADDING-BOTTOM: 2px; FONT: 10px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; WHITE-SPACE: nowrap; POSITION: relative; BACKGROUND-COLOR: #edf2f5; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.page A:link {
	TEXT-DECORATION: none
}
.page A:visited {
	TEXT-DECORATION: none
}
.page A:active {
	TEXT-DECORATION: none
}
.page A:hover {
	COLOR: blue; TEXT-DECORATION: underline
}
#statsbox {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
#statstitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-IMAGE: url(images/bluebk.jpg); COLOR: #ffffff; LINE-HEIGHT: 20px; BORDER-BOTTOM: black 1px solid
}
#statsbottom {
	BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(images/graybk.jpg); COLOR: #37496d; HEIGHT: 16px
}
