H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 130%; MARGIN: 12px 0px 0px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2.subtitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 95%; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0em; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 95%; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 8px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; PADDING-BOTTOM: 4px; MARGIN: 8px 0px 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 75%; MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; MARGIN: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 65%; MARGIN: 10px 0px 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 70%; PADDING-BOTTOM: 1em; MARGIN: 0px; LINE-HEIGHT: 140%; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.date {
	MARGIN-TOP: 9px; FONT-SIZE: 65%; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.datePipe {
	COLOR: #cccccc
}
.byline {
	FONT-SIZE: 65%; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
HR {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; COLOR: #cccccc; HEIGHT: 1px
}
.ancestorLinks {
	MARGIN-TOP: 12px; FONT-SIZE: 65%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.ancestorLinks A:visited {
	COLOR: #0033cc
}
.ancestorLinks A:hover {
	COLOR: #ff6600
}
.ancestorLabel {
	COLOR: #666666
}
.topOfPage {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 65%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.topOfPage:visited {
	COLOR: #0033cc
}
A.topOfPage:hover {
	COLOR: #ff6600
}
A {
	COLOR: #0033cc
}
A:link {
	COLOR: #0033cc
}
A:visited {
	COLOR: #800080
}
A:hover {
	COLOR: #ff6600
}
A:active {
	COLOR: #800080
}
.onThisPage {
	PADDING-LEFT: 2px; FONT-SIZE: 70%; PADDING-BOTTOM: 8px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.overview {
	PADDING-TOP: 10px
}
.overviewPara {
	PADDING-TOP: 10px
}
.tocLink {
	FONT-SIZE: 65%; PADDING-BOTTOM: 8px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tocLink A:visited {
	COLOR: #0033cc
}
.tocLink A:hover {
	COLOR: #ff6600
}
.tocBullet {
	PADDING-LEFT: 4px; FONT-SIZE: 70%; WIDTH: 13px; COLOR: #cccccc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.containerHeader {
	BACKGROUND: #999999
}
.containerFooter {
	BACKGROUND: #999999; MARGIN-BOTTOM: 12px
}
.relatedLink {
	FONT-SIZE: 65%; PADDING-BOTTOM: 7px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.rlBullet {
	FONT-SIZE: 70%; WIDTH: 10px; COLOR: #999999; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TABLE.sidebar {
	MARGIN-RIGHT: 20px
}
.sidebarContent {
	BACKGROUND: #e9e9e6
}
.downloadCaption {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 65%; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.streams {
	FONT-SIZE: 65%; PADDING-BOTTOM: 11px; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.downloadRule {
	BACKGROUND: #999999; MARGIN: 13px 1px 8px; OVERFLOW: hidden; WIDTH: 149px; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 2px
}
.getPlayer {
	FONT-SIZE: 65%; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.getPlayer2 {
	FONT-SIZE: 65%; PADDING-TOP: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.file {
	MARGIN-TOP: 7px
}
.fileDetails {
	FONT-SIZE: 65%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.streamPipe {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; COLOR: #cccccc; PADDING-TOP: 0px
}
.fnSpacer {
	OVERFLOW: hidden; HEIGHT: 4px
}
.figureCaption {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 65%; PADDING-BOTTOM: 0px; PADDING-TOP: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.figureRule {
	BACKGROUND: #cccccc; MARGIN: 7px 0px 18px; OVERFLOW: hidden; HEIGHT: 1px
}
TABLE.pullQuote {
	MARGIN: 7px 20px 0px 0px
}
.pullQuoteRule1 {
	BACKGROUND: #999999; OVERFLOW: hidden; HEIGHT: 1px
}
.pullQuoteRule2 {
	MARGIN-TOP: 14px; BACKGROUND: #999999; MARGIN-BOTTOM: 9px; OVERFLOW: hidden; HEIGHT: 1px
}
.sourcelessQuote {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 80%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #cc6600; LINE-HEIGHT: 155%; PADDING-TOP: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.directQuote {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 80%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #cc6600; LINE-HEIGHT: 155%; PADDING-TOP: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.citation {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 65%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.citationAuthor {
	FONT-WEIGHT: bold
}
.startQuote {
	PADDING-RIGHT: 11px; PADDING-TOP: 20px
}
.endQuote {
	PADDING-LEFT: 9px; PADDING-BOTTOM: 5px
}
H5.sidebar {
	PADDING-TOP: 8px
}
.farGraphic {
	MARGIN: 0px 0px 9px 9px
}
.nearGraphic {
	MARGIN: 0px 9px 9px 0px
}
UL {
	PADDING-LEFT: 2.75ex; MARGIN: 0px
}
LI {
	
}
.numberedList {
	MARGIN-BOTTOM: -1px
}
.numberedList P {
	PADDING-BOTTOM: 1.1em
}
.listNumber {
	PADDING-RIGHT: 1.5ex; PADDING-LEFT: 2.1ex
}
.sidebarHeader {
	BACKGROUND: #999999; OVERFLOW: hidden; WIDTH: 165px; HEIGHT: 1px
}
.sidebarFooter {
	BACKGROUND: #999999; MARGIN-BOTTOM: 12px; OVERFLOW: hidden; WIDTH: 165px; HEIGHT: 1px
}
.pageNumber {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.footnote {
	FONT: 70% Arial; POSITION: relative; TOP: -0.2em
}
TD.footnote {
	PADDING-RIGHT: 1ex; FONT: 55% Arial
}
.footnoteText {
	FONT-SIZE: 65%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.footnotes {
	MARGIN-TOP: 11px; MARGIN-BOTTOM: 36px
}
.sidebarClass {
	MARGIN: 2px 7px 8px
}
.sidebarClass P {
	FONT-SIZE: 65%; PADDING-BOTTOM: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bioImage {
	PADDING-RIGHT: 7px; PADDING-BOTTOM: 14px
}
PRE.codeSample {
	PADDING-RIGHT: 15px; PADDING-LEFT: 25px; FONT-SIZE: 70%; BACKGROUND: #dddddd; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; FONT-FAMILY: Lucida Console, Courier New
}
SPAN.codeSample {
	FONT-FAMILY: Lucida Console, Courier New
}
.linkList {
	MARGIN-TOP: 2px
}
.linkItem {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0em; FONT: 70% Verdana; PADDING-TOP: 0em
}
.linkBullet {
	FONT-SIZE: 120%; COLOR: #a6a6a6; PADDING-TOP: 1px
}
.listBullet {
	FONT-SIZE: 120%; COLOR: #a6a6a6
}
.listItem {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0em; PADDING-TOP: 0em
}
.sidebarClass .listBullet {
	FONT-SIZE: 100%
}
.sidebarClass .listItem {
	PADDING-LEFT: 4px
}
.sidebarClass .listItem P {
	PADDING-BOTTOM: 0em
}
.forMoreInfo HR {
	MARGIN-TOP: 8px
}
.forMoreInfo H3 {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 3px
}
.forMoreInfo PRE {
	FONT: 70%/130% Verdana
}
.dataTable {
	BORDER-BOTTOM: #cccccc 1px solid
}
.dataTable TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.tableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND: #999999; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.superHeader {
	FONT-SIZE: 70%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.stdHeader {
	BACKGROUND: #cccccc; COLOR: #000000
}
.stdHeader TD {
	BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 70%; BORDER-LEFT: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subHeader {
	BACKGROUND: #dddddd
}
.subHeader TD {
	BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 70%; BORDER-LEFT: #cccccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.record TD {
	BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
.record TD TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.evenRecord {
	BACKGROUND: #e9e9e6
}
.evenRecord TD {
	BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid
}
.evenRecord TD TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.rowLabel {
	FONT-WEIGHT: bold; BACKGROUND: #f0f0f0
}
P.lastInCell {
	PADDING-BOTTOM: 0px
}
.keyLegend {
	PADDING-BOTTOM: 6px
}
.key {
	PADDING-RIGHT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 65%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.legend {
	FONT-SIZE: 65%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.legendBullets {
	COLOR: #666666
}
.dataBullets {
	COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tableFootnotes {
	MARGIN-TOP: 7px; MARGIN-LEFT: 5px
}
.dataTableBottomMargin {
	MARGIN-BOTTOM: 18px; OVERFLOW: hidden; HEIGHT: 1px
}
TR.sortable {
	BACKGROUND: #ccc; COLOR: #000000
}
TD.sortable {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.sortable A {
	CURSOR: hand
}
TD.sortable A:hover {
	BACKGROUND: #e0e0e0
}
TD.sortable TABLE {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 70%; PADDING-BOTTOM: 5px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; ; HEIGHT: expression(this.parentElement.parentElement.clientHeight)
}
TD.selectedSort {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.selectedSort A {
	BACKGROUND: #999; CURSOR: hand
}
TD.selectedSort TABLE {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 70%; PADDING-BOTTOM: 5px; BORDER-LEFT: #666 1px solid; COLOR: white; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; ; HEIGHT: expression(this.parentElement.parentElement.clientHeight)
}
.simpleForm {
	MARGIN: 20px 0px 1.5ex
}
.simpleForm P {
	FONT-WEIGHT: bold; FONT-SIZE: 65%; PADDING-BOTTOM: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.simpleForm DIV {
	MARGIN-BOTTOM: 14px
}
.simpleFormSelect {
	MARGIN-TOP: 2px; FONT-SIZE: 70%; MARGIN-RIGHT: 6px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.simpleFormSelectSmall {
	MARGIN-TOP: 2px; FONT-SIZE: 70%; WIDTH: 123px; MARGIN-RIGHT: 6px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.simpleFormSelectMedium {
	MARGIN-TOP: 2px; FONT-SIZE: 70%; WIDTH: 169px; MARGIN-RIGHT: 6px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.simpleFormSelectLarge {
	MARGIN-TOP: 2px; FONT-SIZE: 70%; WIDTH: 261px; MARGIN-RIGHT: 6px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.simpleFormText {
	MARGIN-TOP: 1px; FONT-SIZE: 70%; WIDTH: 261px; MARGIN-RIGHT: 6px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.simpleFormSubmit {
	PADDING-RIGHT: 1px; PADDING-LEFT: 2px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.alertType {
	FONT-WEIGHT: bold; FONT-SIZE: 70%; MARGIN: 0px; LINE-HEIGHT: 140%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
