BODY {
	MARGIN: 2px 10px 10px; BACKGROUND-COLOR: #cccccc
}
H1 {
	FONT: bold 16px verdana, arial, helvetica, sans-serif; COLOR: #000000
}
H2 {
	FONT: bold 14px verdana, arial, helvetica, sans-serif; COLOR: #000000
}
H3 {
	FONT: bold 12px verdana, arial, helvetica, sans-serif; COLOR: #000000
}
TABLE {
	FONT: 11px verdana, arial, helvetica, sans-serif; COLOR: #000000
}
TD {
	FONT: 11px verdana, arial, helvetica, sans-serif; COLOR: #000000
}
TH {
	FONT: bold 11px verdana, arial, helvetica, sans-serif; COLOR: #000000
}
FONT {
	FONT: 11px verdana, arial, helvetica, sans-serif
}
A:link {
	COLOR: #333366; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #666699; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #000033; TEXT-DECORATION: underline
}
A:active {
	COLOR: #333366; TEXT-DECORATION: underline
}
INPUT {
	FONT: 11px verdana, arial, helvetica, sans-serif; COLOR: #000000
}
SELECT {
	FONT: 11px verdana, arial, helvetica, sans-serif; COLOR: #000000
}
TEXTAREA {
	FONT: 11px verdana, arial, helvetica, sans-serif; COLOR: #000000
}
HR {
	COLOR: #cccccc; HEIGHT: 1px
}
B.Header {
	FONT: bold 14px verdana, arial, helvetica, sans-serif; COLOR: #333333
}
.red {
	COLOR: #ff0033
}
B.redAlert {
	FONT: bold 14px verdana, arial, helvetica, sans-serif; COLOR: #ff0033
}
.blue {
	COLOR: #0000ff
}
.white {
	COLOR: #ffffff
}
.purple {
	COLOR: #333366
}
.orange {
	COLOR: #993300
}
.fontsize10 {
	FONT-SIZE: 10px
}
.fontsize11 {
	FONT-SIZE: 11px
}
.fontsize12 {
	FONT-SIZE: 12px
}
.fontsize13 {
	FONT-SIZE: 13px
}
.fontsize14 {
	FONT-SIZE: 14px
}
.leading14 {
	LINE-HEIGHT: 14px
}
.leading18 {
	LINE-HEIGHT: 18px
}
.leading24 {
	LINE-HEIGHT: 24px
}
.center {
	TEXT-ALIGN: center
}
TABLE.header {
	BACKGROUND: #9999cc
}
TABLE.login-jobseeker {
	BACKGROUND: #e3e3fa; WIDTH: 180px
}
TABLE.margin-jobseekers-expanded {
	BACKGROUND: #e3e3fa; WIDTH: 150px
}
TABLE.margin-jobseekers {
	BACKGROUND: #9999cc; WIDTH: 150px
}
TABLE.margin-employers-expanded {
	BACKGROUND: #e3e3fa; WIDTH: 150px
}
TABLE.margin-employers {
	BACKGROUND: #9999cc; WIDTH: 150px
}
TABLE.margin-ad {
	WIDTH: 11px
}
TABLE.apply {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 11px; BACKGROUND: #e3e3fa; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TABLE.network {
	BACKGROUND: #000000
}
TD.header-search {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: bottom; PADDING-TOP: 5px
}
TD.header-featured {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #666699; VERTICAL-ALIGN: middle; COLOR: #ffffff; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TD.login-jobseeker {
	FONT-SIZE: 11px; COLOR: #333366
}
TD.login-quickpost {
	FONT-SIZE: 11px; COLOR: #993300
}
TD.login-employer {
	FONT-SIZE: 11px; COLOR: #333366
}
TD.margin {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TD.margin-employers {
	BACKGROUND: #666699
}
TD.margin-jobseekers {
	BACKGROUND: #666699
}
TD.margin-sectionheader {
	BACKGROUND: #666699
}
TD.margin-nav-links {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 8px; COLOR: #333366; LINE-HEIGHT: 18px; PADDING-TOP: 8px; BORDER-BOTTOM: #999999 1px solid
}
TD.margin-ad {
	BACKGROUND-COLOR: #666666
}
TD.margin-ad-links {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #666666 1px solid; COLOR: #666666; LINE-HEIGHT: 18px; PADDING-TOP: 1px; BORDER-BOTTOM: #666666 1px solid
}
TD.sectionheader {
	BACKGROUND: #cccccc
}
.featured-employer {
	BORDER-RIGHT: #aaaaaa 1px solid; FONT-SIZE: 11px; BACKGROUND: #ffffff; BORDER-LEFT: #aaaaaa 1px solid; LINE-HEIGHT: 10px; BORDER-BOTTOM: #aaaaaa 1px solid
}
DIV.margin-ad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px
}
DIV.margin-nav-sublinks {
	PADDING-LEFT: 10px; PADDING-BOTTOM: 5px
}
A.margin-nav-links:link {
	FONT-WEIGHT: bold; COLOR: #333366; TEXT-DECORATION: none
}
A.margin-nav-links:visited {
	FONT-WEIGHT: bold; COLOR: #333366; TEXT-DECORATION: none
}
A.margin-nav-links:hover {
	FONT-WEIGHT: bold; COLOR: #000033; TEXT-DECORATION: underline
}
A.margin-nav-links:active {
	COLOR: #333366; TEXT-DECORATION: underline
}
A.margin-nav-sublinks:link {
	FONT-SIZE: 11px; COLOR: #333366; TEXT-DECORATION: underline
}
A.margin-nav-sublinks:visited {
	FONT-SIZE: 11px; COLOR: #333366; TEXT-DECORATION: underline
}
A.margin-nav-sublinks:hover {
	FONT-SIZE: 11px; COLOR: #000033; TEXT-DECORATION: underline
}
A.margin-nav-sublinks:active {
	FONT-SIZE: 11px; COLOR: #333366; TEXT-DECORATION: underline
}
A.margin-nav-sublinks2:link {
	FONT-SIZE: 12px; COLOR: #333366; TEXT-DECORATION: underline
}
A.margin-nav-sublinks2:visited {
	FONT-SIZE: 12px; COLOR: #333366; TEXT-DECORATION: underline
}
A.margin-nav-sublinks2:hover {
	FONT-SIZE: 12px; COLOR: #000033; TEXT-DECORATION: underline
}
A.margin-nav-sublinks2:active {
	FONT-SIZE: 12px; COLOR: #333366; TEXT-DECORATION: underline
}
INPUT.header-search-keyword {
	BORDER-RIGHT: #666699 1px inset; BORDER-TOP: #666699 1px inset; BORDER-LEFT: #666699 1px inset; WIDTH: 100px; BORDER-BOTTOM: #666699 1px inset; HEIGHT: 16px
}
INPUT.login-jobseeker {
	BORDER-RIGHT: #666699 1px inset; BORDER-TOP: #666699 1px inset; MARGIN: 2px 0px; BORDER-LEFT: #666699 1px inset; WIDTH: 160px; BORDER-BOTTOM: #666699 1px inset; HEIGHT: 16px
}
.formbutton {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; MARGIN-RIGHT: 6px; FONT-FAMILY: verdana, arial, helvetica, sans-serif; BACKGROUND-COLOR: #666699
}
A.white:link {
	COLOR: #ffffff
}
A.white:visited {
	COLOR: #ffffff
}
A.white:hover {
	COLOR: #ffffff
}
A.white:active {
	COLOR: #ffffff
}
A.sessionTrail {
	FONT: bold 10px verdana, arial, helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.sessionTrail {
	FONT: bold 10px verdana, arial, helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.sessionTrail:visited {
	FONT: bold 10px verdana, arial, helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.sessionTrail:hover {
	FONT: bold 10px verdana, arial, helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.sessionTrail:active {
	FONT: bold 10px verdana, arial, helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: underline
}
.sessionTrail {
	FONT: 10px verdana, arial, helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: none
}
.footer-copyright {
	FONT: 10px verdana, arial, helvetica, sans-serif; COLOR: #333366; TEXT-ALIGN: center; TEXT-DECORATION: none
}
DIV.footerLink {
	FONT: 9px verdana, arial, helvetica, sans-serif; COLOR: #333366; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.footerLink {
	FONT: 9px verdana, arial, helvetica, sans-serif; COLOR: #333366; TEXT-DECORATION: none
}
A.footerLink {
	FONT: bold 9px verdana, arial, helvetica, sans-serif; COLOR: #333366; TEXT-DECORATION: underline
}
A.footerLink {
	FONT: bold 9px verdana, arial, helvetica, sans-serif; COLOR: #333366; TEXT-DECORATION: underline
}
A.footerLink:visited {
	FONT: bold 9px verdana, arial, helvetica, sans-serif; COLOR: #333366; TEXT-DECORATION: underline
}
A.footerLink:hover {
	FONT: bold 9px verdana, arial, helvetica, sans-serif; COLOR: #333366; TEXT-DECORATION: underline
}
A.footerLink:active {
	FONT: bold 9px verdana, arial, helvetica, sans-serif; COLOR: #333366; TEXT-DECORATION: underline
}
