BODY {
	TEXT-ALIGN: center
}
BODY {
	
}
BODY.fixedwidth {
	FONT-SIZE: 0px
}
#wrapper {
	MARGIN: 0px auto; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666; PADDING-TOP: 0px
}
PRE {
	WORD-WRAP: break-word
}
.fullpage #area1 {
	FLOAT: left; TEXT-ALIGN: center
}
.fullpage #area2 {
	FLOAT: left; TEXT-ALIGN: center
}
.googlebanner {
	WIDTH: 800px; PADDING-TOP: 10px; HEIGHT: 92px; TEXT-ALIGN: center
}
.coname {
	PADDING-LEFT: 35px; PADDING-TOP: 10px
}
.region1 {
	WIDTH: 800px; TEXT-ALIGN: center
}
.fixedwidth .region1 {
	
}
.hline {
	WIDTH: 800px; TEXT-ALIGN: center
}
.hline HR {
	WIDTH: 730px
}
.navbtns {
	PADDING-LEFT: 35px; WIDTH: 800px; TEXT-ALIGN: left
}
#navbuttons IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
.navtext {
	FONT-WEIGHT: normal; TEXT-ALIGN: center
}
.btext {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.searcht {
	WIDTH: 100%; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.leftnavigation {
	DISPLAY: none
}
.div2 {
	PADDING-RIGHT: 1px; MARGIN-TOP: 2px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 4px; OVERFLOW: hidden; WIDTH: 215px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.divspacer {
	HEIGHT: 5px
}
.footer {
	CLEAR: both
}
.leftTitles {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/centerside.jpg); WIDTH: 229px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.newsimg {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 229px; BORDER-BOTTOM: 0px; HEIGHT: 6px
}
#area1 {
	WIDTH: auto
}
#area2 {
	WIDTH: auto
}
#mainContent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 35px; FONT-SIZE: 11px; WIDTH: 700px; COLOR: #000000; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.midPage TABLE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 11px; BORDER-LEFT: 0px; WIDTH: 700px; COLOR: #000000; BORDER-BOTTOM: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.midPage H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 120%; PADDING-BOTTOM: 5px; MARGIN: 5px; COLOR: #666; PADDING-TOP: 5px
}
.midPage H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; MARGIN: 5px; COLOR: #666; PADDING-TOP: 5px
}
.midPage {
	WIDTH: 700px; MARGIN-RIGHT: 5px; TEXT-ALIGN: justify
}
.bluelink A {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0083d7; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
