body {
  background-color:#ffffff;
  font-family:arial, verdana, sans-serif;}

p, li {font-size:12px;}

span.leftColumn {
  width:150px;
  text-align:right; font-weight:bold; font-size:12px;
  background-color:#efefef;
  padding:3px;}

span.rightColumn {
  width:150px;
  font-size:12px;
  background-color:#f2f2f2;
  padding:3px;}

.page {border:solid black 1px; margin-top:10px;}

.ingredients {float:left; width:300px;height:400px; padding:20px;}
ol ol li {text-indent:25px;}