HTML {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 100%; max-height: 100%
}
BODY {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 100%; max-height: 100%
}
 HTML BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 130px
}
 HTML FORM {
	HEIGHT: 100%
}
 HTML #contents {
	WIDTH: 100%; HEIGHT: 100%
}
#rheader {
	Z-INDEX: 5; BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 130px
}
#contents {
	Z-INDEX: 1; RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; LEFT: 0px; BOTTOM: 0px; POSITION: fixed; TOP: 130px
}
.clearHeader {
	CLEAR: both; HEIGHT: 0px
}
.resizableArea {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; WIDTH: 100%; BOTTOM: 0px; BORDER-BOTTOM: medium none; POSITION: absolute; TOP: 0px; HEIGHT: auto
}
 HTML .resizableArea {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; WIDTH: 100%; BOTTOM: 0px; BORDER-BOTTOM: medium none; POSITION: relative; TOP: 0px; HEIGHT: auto
}
.HeaderCaptionText {
	FONT-WEIGHT: bold; FONT-SIZE: 190%; MARGIN: 10px 0px
}
