.SubMenuTable {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 150px; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
.SubMenuHead {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: black 1px solid; COLOR: white; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #9999cc; TEXT-ALIGN: center
}
.SubMenuContent {
	BORDER-RIGHT: black 1px solid; FONT-SIZE: x-small; BORDER-LEFT: black 1px solid; COLOR: black; BORDER-BOTTOM: black 1px solid
}
.SubMenuContent TD {
	FONT-SIZE: x-small; COLOR: black
}
.SubMenuContent A {
	COLOR: black; TEXT-DECORATION: none
}
.SubMenuContent A:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
