TABLE#tblMenuBar TD {
	FONT-SIZE: 60%; CURSOR: default; COLOR: white; FONT-FAMILY: verdana; BACKGROUND-COLOR: black
}
.tblMenuBarCorner {
	BACKGROUND-COLOR: #ffffff
}
tblMenuBarSpacer {
	COLOR: #003399; BACKGROUND-COLOR: #003399
}
TABLE#tblMenuBar TD.clsMenuBarItem {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
TD.clsMenuBarItem A {
	COLOR: white; TEXT-DECORATION: none
}
TD.clsMenuBarItem A:hover {
	COLOR: #9887bd; TEXT-DECORATION: none
}
DIV.clsMenu {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: black 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 60%; VISIBILITY: hidden; PADDING-BOTTOM: 5px; BORDER-LEFT: black 1px solid; WIDTH: 140px; PADDING-TOP: 5px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: verdana; POSITION: absolute; BACKGROUND-COLOR: #9999cc
}
DIV.clsMenu A {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
DIV.clsMenu A:hover {
	COLOR: moccasin; TEXT-DECORATION: none
}
