DIV.dotnetcoders-code {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: xx-small; PADDING-BOTTOM: 1em; MARGIN: 1em; COLOR: rgb(0,0,0); PADDING-TOP: 1em; FONT-FAMILY: "Verdana", "Lucida Console", "courier new", courier; BACKGROUND-COLOR: gainsboro
}
DIV.dotnetcoders-code SPAN.comment {
	COLOR: rgb(0,153,0)
}
DIV.dotnetcoders-code SPAN.keyword {
	COLOR: rgb(0,0,255)
}
DIV.dotnetcoders-code SPAN.hexadecimal {
	COLOR: rgb(153,0,153)
}
DIV.dotnetcoders-code SPAN.octal {
	COLOR: rgb(153,0,153)
}
DIV.dotnetcoders-code SPAN.identifier {
	COLOR: rgb(0,0,0)
}
DIV.dotnetcoders-code SPAN.userdefined {
	FONT-WEIGHT: bold; COLOR: rgb(51,51,0)
}
