FORM {
	MARGIN: 0px
}
.FrameworkContent TD {
	VERTICAL-ALIGN: top
}
.SiteHeaderText A {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
H1 {
	PADDING-LEFT: 8px; PADDING-BOTTOM: 3px; FONT: bold 13pt Verdana, Arial, Helvetica, sans-serif; COLOR: black; BORDER-BOTTOM: #9999cc thin solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; BORDER-BOTTOM: gray thin solid
}
.FrameworkContent {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.FrameworkContent TABLE {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.PageHeading {
	FONT-SIZE: medium; COLOR: black; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.Code {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: xx-small; PADDING-BOTTOM: 1em; MARGIN: 1em; COLOR: rgb(0,0,0); PADDING-TOP: 1em; FONT-FAMILY: "Verdana", "Lucida Console", "courier new", courier; BACKGROUND-COLOR: gainsboro
}
A {
	COLOR: #31319c; TEXT-DECORATION: none
}
A:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
.Footer {
	COLOR: #9999cc
}
.Footer A {
	COLOR: #9999cc
}
.ArticleHeaderTable {
	PADDING-LEFT: 8px; FONT: bold 13pt Verdana, Arial, Helvetica, sans-serif; COLOR: black; BORDER-BOTTOM: #9999cc thin solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.ArticleHeading {
	FONT: bold 13pt Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.ContentGroupHead {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; FONT: bold 10pt Verdana, Arial, Helvetica, sans-serif; COLOR: black; BORDER-BOTTOM: #9999cc thin solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.ContentGroup {
	FONT: 9pt Verdana, Arial, Helvetica, sans-serif; COLOR: black
}
H1.ArticleSubtitle {
	FONT: bold 11pt Verdana, Arial, Helvetica, sans-serif; COLOR: black
}
H2.ArticleSubtitle {
	FONT: bold 10pt Verdana, Arial, Helvetica, sans-serif; COLOR: black; TEXT-DECORATION: underline
}
H3.ArticleSubtitle {
	FONT: bold 9pt Verdana, Arial, Helvetica, sans-serif; COLOR: black
}
UL.addres_list {
	MARGIN: 5px 0px 5px 20px
}
DIV.addres_header {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: gray; COLOR: white
}
DIV.addres {
	BORDER-RIGHT: gray 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: gray 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: gray 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: gray 1px solid
}
TD.code {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; PADDING-LEFT: 10px; BORDER-LEFT: 1px inset; PADDING-TOP: 10px; BORDER-BOTTOM: 1px inset; BACKGROUND-COLOR: gainsboro
}
TD.tab {
	BORDER-RIGHT: 1px inset; PADDING-RIGHT: 3px; BORDER-TOP: 1px inset; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: 8pt verdana; BORDER-LEFT: 1px inset; WIDTH: 15%; CURSOR: hand; PADDING-TOP: 3px; BORDER-BOTTOM: 1px inset; BACKGROUND-COLOR: #eed; TEXT-ALIGN: center
}
TD.backtab {
	BORDER-RIGHT: 1px inset; PADDING-RIGHT: 3px; BORDER-TOP: 1px inset; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: 8pt verdana; BORDER-LEFT: 1px inset; WIDTH: 15%; CURSOR: hand; PADDING-TOP: 3px; BORDER-BOTTOM: 1px inset; BACKGROUND-COLOR: #ccb; TEXT-ALIGN: center
}
TD.space {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; FONT: 8pt verdana; WIDTH: 55%; PADDING-TOP: 0px; BACKGROUND-COLOR: white
}
.code PRE {
	FONT: 10pt verdana,arial,sans serif; COLOR: navy
}
